<?php
$orders = $block->getListInvoiceProvider();
$form_key = $block->getFormKey();
$countProduct = 0;
?>
<?php foreach($orders as $_order){ ?>
	<?php 
		$id = $_order["entity_id"];
		$products = $block->getProducts($id);
		foreach($products as $_product){
			$countProduct++;
	?>
		<?php } ?>
<?php } ?>
<main id="anchor-content" class="page-content">
	<div class="page-main-actions">
		<div class="page-actions-placeholder"></div>
		<div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
			<button id="add" title="Create New Order" type="button" class="action- scalable primary" onclick="location.href = 'http://dev.wisiproduction.com/admin/sales/order_create/start/key/7bb33443ecc697a6262584c46df1b903cf9bf68296f8f53150d44614c53bca5b/';" data-ui-id="add-button">
			<span><?php echo __("Create New Order") ?></span>
			</button>
			<div class="page-actions-buttons"></div>
			<div class="page-actions-inner" data-title="Orders"></div>
		</div>
	</div>
	<div id="page:main-container" class="page-columns">
		<div class="admin__old">
			<div id="container" class="main-col">
				<div class="admin__data-grid-outer-wrap" data-bind="scope: 'sales_order_grid.sales_order_grid'">
					<div data-role="spinner" data-component="sales_order_grid.sales_order_grid.sales_order_columns" class="admin__data-grid-loading-mask" style="display: none;">
						<div class="spinner">
							<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
						</div>
					</div>
					<div class="admin__data-grid-header" data-bind="afterRender: $data.setToolbarNode">
						<div class="admin__data-grid-header-row">
						</div>
						<div class="admin__data-grid-header-row row row-gutter">
							<div class="col-xs-2" data-bind="scope: requestChild('listing_massaction')">
								<div class="action-select-wrap">
									<button class="action-select" id="massaction" data-bind="i18n: 'Actions'"><?php echo __("Actions"); ?></button>
									<ul class="action-menu" id="list-massaction">
										<li type-action="cancel_order" data-repeat-index="0">
											<span class="action-menu-item" data-bind="text: $action().label"><?php echo __("Cancel"); ?></span>
										</li>
										<li type-action="make_invoice" data-repeat-index="2">
											<span class="action-menu-item" data-bind="text: $action().label"><?php echo __("Make Invoice"); ?></span>
										</li>
										<li type-action="print_packaging" data-repeat-index="2">
											<span class="action-menu-item" data-bind="text: $action().label"><?php echo __("Print Packaging"); ?></span>
										</li>
										<!--<li type-action="print_invoice" data-repeat-index="3">
											<span class="action-menu-item" data-bind="text: $action().label"><?php echo __("Print Invoices"); ?></span>
										</li>-->
									</ul>
								</div>
							</div>
							<form action="<?php echo $block->getCancelUrl();  ?>" method="post" name="request_cancel" id="request_cancel">
								<div><input name="form_key" type="hidden" value="<?php echo $form_key; ?>"></div>
								<input type="hidden" id="array_request_cancel" value="" name="array_request_cancel" />
							</form>

							<form action="<?php echo $block->getPrintInvoiceMassAction();  ?>" method="post" name="print_invoice" id="print_invoice">
								<div><input name="form_key" type="hidden" value="<?php echo $form_key; ?>"></div>
								<input type="hidden" id="array_print_invoice" value="" name="array_ids" />
							</form>
							<form action="<?php echo $block->getPrintPackagingMassAction();  ?>" method="post" name="print_packaging" id="print_packaging">
								<div><input name="form_key" type="hidden" value="<?php echo $form_key; ?>"></div>
								<input type="hidden" id="array_print_packaging" value="" name="array_ids" />
							</form>
							<form action="<?php echo $block->getPrintShipmentMassAction();  ?>" method="post" name="print_ship" id="print_ship">
								<div><input name="form_key" type="hidden" value="<?php echo $form_key; ?>"></div>
								<input type="hidden" id="array_print_ship" value="" name="array_ids_ship" />
							</form>
							<form action="<?php echo $block->getMassInvoice();  ?>" method="post" name="make_invoice" id="make_invoice">
								<div><input name="form_key" type="hidden" value="<?php echo $form_key; ?>"></div>
								<input type="hidden" id="array_make_invoice" value="" name="array_make_invoice" />
							</form>
							<div data-bind="css: {
								'col-xs-10': hasChild('listing_massaction'),
								'col-xs-12': !hasChild('listing_massaction')}" class="col-xs-10">
								<div class="row" data-bind="scope: requestChild('listing_paging')">
									<div class="col-xs-3">
										<!-- ko template: totalTmpl -->
										<div class="admin__control-support-text">
											<?php echo count($orders); ?><span> order records found</span>
											<br/>
											<?php echo $countProduct; ?><span> product records found</span>
										</div>
										<!-- /ko -->
									</div>
									<div class="col-xs-9">
										<!-- ko template: getTemplate() -->
										<div class="admin__data-grid-pager-wrap">
											<!-- ko scope: sizes --><!-- ko template: getTemplate() -->
											<div class="selectmenu" data-bind="collapsible">
												<div class="selectmenu-value" data-bind="openCollapsible">
													<input type="text" data-bind="attr: {id: index}, value: _value, autoselect" id="sales_order_grid.sales_order_grid.listing_top.listing_paging_sizes">
												</div>
												<button class="selectmenu-toggle" type="button" data-bind="css: {_active: $collapsible.opened}, toggleCollapsible">
												<span data-bind="i18n: 'Select'">Select</span>
												</button>
												<div class="selectmenu-items" data-bind="css: {_active: $collapsible.opened}, outerClick: discardAll.bind($data)">
													<ul>
														<!-- ko repeat: {foreach: optionsArray, item: '$size'} -->
														<li data-bind="css: {_edit: isEditing($size().value)}" data-repeat-index="0">
															<!-- ko if: $size().editable --><!-- /ko -->
															<div class="selectmenu-item">
																<button class="selectmenu-item-action" type="button" data-bind="text: $size().label, click: setSize.bind($data, $size().value)">20</button>
																<!-- ko if: $size().editable --><!-- /ko -->
															</div>
														</li>
														<li data-bind="css: {_edit: isEditing($size().value)}" data-repeat-index="1">
															<!-- ko if: $size().editable --><!-- /ko -->
															<div class="selectmenu-item">
																<button class="selectmenu-item-action" type="button" data-bind="text: $size().label, click: setSize.bind($data, $size().value)">30</button>
																<!-- ko if: $size().editable --><!-- /ko -->
															</div>
														</li>
														<li data-bind="css: {_edit: isEditing($size().value)}" data-repeat-index="2">
															<!-- ko if: $size().editable --><!-- /ko -->
															<div class="selectmenu-item">
																<button class="selectmenu-item-action" type="button" data-bind="text: $size().label, click: setSize.bind($data, $size().value)">50</button>
																<!-- ko if: $size().editable --><!-- /ko -->
															</div>
														</li>
														<li data-bind="css: {_edit: isEditing($size().value)}" data-repeat-index="3">
															<!-- ko if: $size().editable --><!-- /ko -->
															<div class="selectmenu-item">
																<button class="selectmenu-item-action" type="button" data-bind="text: $size().label, click: setSize.bind($data, $size().value)">100</button>
																<!-- ko if: $size().editable --><!-- /ko -->
															</div>
														</li>
														<li data-bind="css: {_edit: isEditing($size().value)}" data-repeat-index="4">
															<!-- ko if: $size().editable --><!-- /ko -->
															<div class="selectmenu-item">
																<button class="selectmenu-item-action" type="button" data-bind="text: $size().label, click: setSize.bind($data, $size().value)">200</button>
																<!-- ko if: $size().editable --><!-- /ko -->
															</div>
														</li>
														<!-- /ko -->
														<li data-bind="css: {_edit: isCustomVisible()}">
															<div class="selectmenu-item">
																<button class="selectmenu-item-action" type="button" ko-visible="!isCustomVisible()" data-bind="
																	click: function () {
																	$data.showCustom()
																	.discardEditing();
																	}, i18n: 'Custom'">Custom</button>
															</div>
															<div class="selectmenu-item-edit" data-bind="keyboard: {13: applyCustom}">
																<input class="admin__control-text" type="text" data-bind="hasFocus: isCustomVisible(), value: customValue">
																<button class="action-save" type="button" data-bind="click: applyCustom">
																<span data-bind="i18n: 'Save'">Save</span>
																</button>
															</div>
														</li>
													</ul>
												</div>
											</div>
											<label class="admin__control-support-text" data-bind="attr: {for: index}, i18n: 'per page'" for="sales_order_grid.sales_order_grid.listing_top.listing_paging_sizes">per page</label>
											<!-- /ko --><!-- /ko -->
											<div class="admin__data-grid-pager">
												<button class="action-previous" type="button" data-bind="attr: {title: $t('Previous Page')}, click: prev, disable: isFirst()" title="Previous Page" disabled=""></button>
												<input class="admin__control-text" type="number" data-ui-id="current-page-input" data-bind="attr: {id: ++ko.uid}, value: _current" id="43">
												<label class="admin__control-support-text" data-bind="attr: {for: ko.uid}, text: 'of ' + pages" for="43">of 1</label>
												<button class="action-next" type="button" data-bind="attr: {title: $t('Next Page')}, click: next, disable: isLast()" title="Next Page" disabled=""></button>
											</div>
										</div>
										<!-- /ko -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="admin__data-grid-wrap" data-role="grid-wrapper">
						<table class="data-grid data-grid-draggable" data-role="grid">
							<thead>
								<tr data-bind="foreach: {data: getVisible(), as: '$col'}">
									<!-- ko template: getHeader() -->
									<th class="data-grid-multicheck-cell">
										<div class="action-multicheck-wrap" data-bind="css: {_disabled: !totalRecords()}, collapsible">
											<input class="admin__control-checkbox" type="checkbox" data-bind="
												checked: allSelected(),
												attr: {id: ++ko.uid},
												event: { change: toggleSelectAll },
												css: { '_indeterminate': indetermine },
												enable: totalRecords" id="45">
											<label data-bind="attr: {for: ko.uid}" for="45"></label>
											<button class="action-multicheck-toggle" data-toggle="dropdown" data-bind="css: { '_active': $collapsible.opened },
												enable: totalRecords,
												toggleCollapsible">
											<span data-bind="i18n: 'Options'">Options</span>
											</button>
											<ul class="action-menu" data-bind="foreach: actions, closeCollapsible">
												<li data-bind="click: $parent[value].bind($parent),
													visible: $parent.isActionRelevant(value)">
													<span class="action-menu-item" data-bind="text: label">Select All</span>
												</li>
												<li data-bind="click: $parent[value].bind($parent),
													visible: $parent.isActionRelevant(value)" style="display: none;">
													<span class="action-menu-item" data-bind="text: label">Deselect All</span>
												</li>
												<li data-bind="click: $parent[value].bind($parent),
													visible: $parent.isActionRelevant(value)" style="display: none;">
													<span class="action-menu-item" data-bind="text: label">Select All on This Page</span>
												</li>
												<li data-bind="click: $parent[value].bind($parent),
													visible: $parent.isActionRelevant(value)" style="display: none;">
													<span class="action-menu-item" data-bind="text: label">Deselect All on This Page</span>
												</li>
											</ul>
										</div>
									</th>
									<!-- /ko --><!-- ko template: getHeader() -->
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content" data-bind="text: label">ID</span>
									</th>
									<!-- /ko --><!-- ko template: getHeader() -->
									<th class="data-grid-th _draggable">
										<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Order Id") ?></span>
									</th>
									<!-- /ko --><!-- ko template: getHeader() -->
									<th class="data-grid-th _sortable _draggable _descend">
										<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Purchase Date") ?></span>
									</th>
									<!-- /ko --><!-- ko template: getHeader() -->
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Provider Name") ?></span>
									</th>
									<!-- /ko --><!-- ko template: getHeader() -->
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Reseller Name") ?></span>
									</th>
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Image") ?></span>
									</th>
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Name - SKU") ?></span>
									</th>
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Option") ?></span>
									</th>
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Qty") ?></span>
									</th>
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Shipping Company") ?></span>
									</th>
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Shipping Price"); ?></span>
									</th>
                                    <th class="data-grid-th _sortable _draggable">
                                        <span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Row Total"); ?></span>
                                    </th>
									<!-- /ko --><!-- ko template: getHeader() -->
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content" data-bind="text: label">Status</span>
									</th>
									<!-- /ko --><!-- ko template: getHeader() -->
									<th class="data-grid-th">
										<span class="data-grid-cell-content" data-bind="text: label">Action</span>
									</th>
									<!-- /ko -->
								</tr>
							</thead>
							<tbody>
								<!-- ko repeat: {foreach: rows, item: '$row'} -->
								<?php $before_save_increament_id = ""; ?>
								<?php foreach($orders as $_order){ ?>
									<?php 
										$increament_id = $_order["increment_id"];
										if($before_save_increament_id == $increament_id){

										}else{

										}
										$before_save_increament_id  = $_order["increment_id"];
										$type_of_order = $_order["type_of_order"];
										$text_type_order = $block->getTypeDelivery($type_of_order);
										$purchase_at = $_order["created_at"];
										$provider_name = $_order["created_at"];
										$id_seller = $_order["seller_id"];
										$provider = $block->getProvider($id_seller);
										$name_reseller = trim($_order["customer_lastname"])." ".trim($_order["customer_firstname"]);
										$grand_total = $block->formartPrice($_order["grand_total"]);
										$base_grand_total = $block->formartPrice($_order["base_grand_total"]);
										$status = $_order["status"];
										$id = $_order["entity_id"];
										$url = $block->getUrlInvoice($id);
										$products = $block->getProducts($id);
										$shipping_method = $_order["shipping_description"];
										$shipping_price = $block->formartPrice($_order["base_shipping_amount"]);
										foreach($products as $_product){
											$name = $_product["name"];
											$sku = $_product["sku"];
											$origin_price = $block->formartPrice($_product["original_price"]);
											$price = $block->formartPrice($_product["price"]);
											$qty_ordered = $block->formartQty($_product["qty_ordered"]);
											$sub_total = $block->formartPrice($_product["sub_total"]);
											$tax_amount = $block->formartPrice($_product["tax_amount"]);
											$tax_percent = $_product["tax_percent"];
											$discount_amount = $block->formartPrice($_product["discount_amount"]);
											$row_total = $block->formartPrice($_product["row_total"]);
											$img = $_product["image"];
											$array_options = $_product["options"];
									?>
											<tr class="data-row" data-bind="css: {'_odd-row': $index % 2}" data-repeat-index="0">
												<!-- ko fastForEach: {data: getVisible(), as: '$col'} -->
												<td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()" class="data-grid-checkbox-cell">
													<label class="data-grid-checkbox-cell-inner">
													<input class="admin__control-checkbox" type="checkbox" data-action="select-row" name="check_box_order" id="idscheck<?php echo $id ?>" value="<?php echo $id; ?>">
													<label for="idscheck<?php echo $id ?>"></label>
													</label>
												</td>
												<td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()">
													<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $_order["increment_id"] ?></div>
												</td>
												<td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()">
													<div class="data-grid-cell-content" data-bind="html: $col.getLabel($row())">
														<?php echo $id; ?>
													</div>
												</td>
												<td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()" class="">
													<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $purchase_at; ?></div>
												</td>
												<td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()">
													<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php  echo $provider->getData("store_name") ?></div>
												</td>
												<td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()">
													<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php  echo $name_reseller; ?></div>
												</td>
												<td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()">
													<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())">
														<img src="<?php echo $img ?>" />
													</div>
												</td>
												<td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()">
													<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())">
														<div id="order_item_162_title" class="product-title">
															<?php echo $name; ?>
														</div>
														<div class="product-sku-block">
															<span>SKU:</span> <?php echo $sku ?>
														</div>
													</div>
												</td>
												<td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()">
													<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())">
													<?php if(count($array_options) > 0){ ?>
														<dl class="item-options">
															<?php foreach($array_options as $_options){ ?>
																<?php 
																$attribute_label = $_options["label"];
																$attribute_option = $_options["value_option"];
																?>
																<dt style="display:inline-block"><?php echo __($attribute_label); ?>:</dt>
																<dd style="display:inline-block;font-weight:bold">
																	<?php echo __($attribute_option); ?>
																</dd>
															<?php } ?>
														</dl>
														<?php }else{ ?>
                                                            None
                                                        <?php } ?>
													</div>
												</td>
												<td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()">
													<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())">
														<?php echo $qty_ordered ?>
													</div>
												</td>
												<td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()">
													<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())">
														<?php echo $shipping_method ?>
													</div>
												</td>
												<td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()">
													<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $shipping_price ?></div>
												</td>
                                                <td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()">
                                                    <div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $row_total; ?></div>
                                                </td>
												<td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()">
													<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $status; ?></div>
												</td>
												<td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()" class="data-grid-actions-cell">
													<a class="action-menu-item" href="<?php echo $url; ?>"><?php echo __("View"); ?></a>
												</td>
											</tr>
										<?php } ?>
								<?php } ?>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<?php
//get base url on magento 2;
$base_url = $block->getBaseUrl();
$url_ajax = $base_url."test/";
?>
<script type="text/javascript">
	require(['jquery'],function($){
		$(document).ready(function(){
			$("#massaction").click(function(){
				var elem = $(this);
				if(elem.parent().hasClass("_active")){
					$("#list-massaction").removeClass("_active");
					elem.parent().removeClass("_active");
				}else{
					$("#list-massaction").addClass("_active");
					elem.parent().addClass("_active");
				}
			});
			$("#list-massaction > li").click(function(){
				var elem = $(this);
				$("#list-massaction").removeClass("_active");
				$("#massaction").parent().removeClass("_active");
				var attr_action = elem.attr("type-action");
				var array_checkbox = $("input[name='check_box_order']:checked");
				var length_print_invoice = array_checkbox.length;
				var i =0;
				var string_id = "";
				for(i=0;i<length_print_invoice;i++){
					string_id+=$(array_checkbox[i]).val().toString()+"|";
					
				}
				if(string_id != ""){
					switch(attr_action){
						case 'cancel_order':
						//do cancel ajax 
							$("#array_request_cancel").val(string_id);
							$("#request_cancel").submit();
						break;
						case 'make_invoice':
							$("#array_make_invoice").val(string_id);
							$("#make_invoice").submit();
						break;

						case 'print_packaging': 
						//make shipment
							$("#array_print_packaging").val(string_id);
							$("#print_packaging").submit();
						break;
						case 'print_invoice':
							$("#array_print_invoice").val(string_id);
							$("#print_invoice").submit();
						break;
						case 'print_shipment': 
							$("#array_print_ship").val(string_id);
							$("#print_ship").submit();
						break;
					}
				}else{
					alert("<?php echo __('You haven\'t selected any items!'); ?>");
				}
			});
		});
	});
</script>