<?php
$orders = $block->getListShipping();
$form_key = $block->getFormKey();
?>
<main id="anchor-content" class="page-content">
	<div class="page-main-actions">
		<div class="page-actions-placeholder"></div>
		<div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
			<button id="add" title="Create New Order" type="button" class="action- scalable primary" onclick="location.href = 'http://dev.wisiproduction.com/admin/sales/order_create/start/key/7bb33443ecc697a6262584c46df1b903cf9bf68296f8f53150d44614c53bca5b/';" data-ui-id="add-button">
			<span><?php echo __("Create New Order") ?></span>
			</button>
			<div class="page-actions-buttons"></div>
			<div class="page-actions-inner" data-title="Orders"></div>
		</div>
	</div>
	<div id="page:main-container" class="page-columns">
		<div class="admin__old">
			<div id="container" class="main-col">
				<div class="admin__data-grid-outer-wrap" data-bind="scope: 'sales_order_grid.sales_order_grid'">
					<div data-role="spinner" data-component="sales_order_grid.sales_order_grid.sales_order_columns" class="admin__data-grid-loading-mask" style="display: none;">
						<div class="spinner">
							<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
						</div>
					</div>
					<div class="admin__data-grid-header" data-bind="afterRender: $data.setToolbarNode">
						<div class="admin__data-grid-header-row row row-gutter">
							<div class="col-xs-2" data-bind="scope: requestChild('listing_massaction')">
								<div class="action-select-wrap">
									<button class="action-select" id="massaction" data-bind="i18n: 'Actions'"><?php echo __("Actions"); ?></button>
									<ul class="action-menu" id="list-massaction">
										<li type-action="cancel_order" data-repeat-index="0">
											<span class="action-menu-item" data-bind="text: $action().label"><?php echo __("Cancel"); ?></span>
										</li>
										<li type-action="print_shipment" data-repeat-index="4">
											<span class="action-menu-item" data-bind="text: $action().label"><?php echo __("Print Shipment"); ?></span>
										</li>
									</ul>
								</div>
							</div>
							<form action="<?php echo $block->getCancelUrl();  ?>" method="post" name="request_cancel" id="request_cancel">
								<div><input name="form_key" type="hidden" value="<?php echo $form_key; ?>"></div>
								<input type="hidden" id="array_request_cancel" value="" name="array_request_cancel" />
							</form>
							<form action="<?php echo $block->getPrintShipmentMassAction();  ?>" method="post" name="print_ship" id="print_ship">
								<div><input name="form_key" type="hidden" value="<?php echo $form_key; ?>"></div>
								<input type="hidden" id="array_print_ship" value="" name="array_ids_ship" />
							</form>
							<div data-bind="css: {
								'col-xs-10': hasChild('listing_massaction'),
								'col-xs-12': !hasChild('listing_massaction')}" class="col-xs-10">
								<div class="row" data-bind="scope: requestChild('listing_paging')">
									<div class="col-xs-3">
										<!-- ko template: totalTmpl -->
										<div class="admin__control-support-text">
											<!-- ko text: totalRecords --><?php echo count($orders) ?><!-- /ko --> <!-- ko i18n: 'records found' --><span>records found</span><!-- /ko -->
											<!-- ko if: totalSelected --><!-- /ko -->
										</div>
										<!-- /ko -->
									</div>
									<div class="col-xs-9">
										<!-- ko template: getTemplate() -->
										<div class="admin__data-grid-pager-wrap">
											<!-- ko scope: sizes --><!-- ko template: getTemplate() -->
											<div class="selectmenu" data-bind="collapsible">
												<div class="selectmenu-value" data-bind="openCollapsible">
													<input type="text" data-bind="attr: {id: index}, value: _value, autoselect" id="sales_order_grid.sales_order_grid.listing_top.listing_paging_sizes">
												</div>
												<button class="selectmenu-toggle" type="button" data-bind="css: {_active: $collapsible.opened}, toggleCollapsible">
												<span data-bind="i18n: 'Select'">Select</span>
												</button>
												<div class="selectmenu-items" data-bind="css: {_active: $collapsible.opened}, outerClick: discardAll.bind($data)">
													<ul>
														<!-- ko repeat: {foreach: optionsArray, item: '$size'} -->
														<li data-bind="css: {_edit: isEditing($size().value)}" data-repeat-index="0">
															<!-- ko if: $size().editable --><!-- /ko -->
															<div class="selectmenu-item">
																<button class="selectmenu-item-action" type="button" data-bind="text: $size().label, click: setSize.bind($data, $size().value)">20</button>
																<!-- ko if: $size().editable --><!-- /ko -->
															</div>
														</li>
														<li data-bind="css: {_edit: isEditing($size().value)}" data-repeat-index="1">
															<!-- ko if: $size().editable --><!-- /ko -->
															<div class="selectmenu-item">
																<button class="selectmenu-item-action" type="button" data-bind="text: $size().label, click: setSize.bind($data, $size().value)">30</button>
																<!-- ko if: $size().editable --><!-- /ko -->
															</div>
														</li>
														<li data-bind="css: {_edit: isEditing($size().value)}" data-repeat-index="2">
															<!-- ko if: $size().editable --><!-- /ko -->
															<div class="selectmenu-item">
																<button class="selectmenu-item-action" type="button" data-bind="text: $size().label, click: setSize.bind($data, $size().value)">50</button>
																<!-- ko if: $size().editable --><!-- /ko -->
															</div>
														</li>
														<li data-bind="css: {_edit: isEditing($size().value)}" data-repeat-index="3">
															<!-- ko if: $size().editable --><!-- /ko -->
															<div class="selectmenu-item">
																<button class="selectmenu-item-action" type="button" data-bind="text: $size().label, click: setSize.bind($data, $size().value)">100</button>
																<!-- ko if: $size().editable --><!-- /ko -->
															</div>
														</li>
														<li data-bind="css: {_edit: isEditing($size().value)}" data-repeat-index="4">
															<!-- ko if: $size().editable --><!-- /ko -->
															<div class="selectmenu-item">
																<button class="selectmenu-item-action" type="button" data-bind="text: $size().label, click: setSize.bind($data, $size().value)">200</button>
																<!-- ko if: $size().editable --><!-- /ko -->
															</div>
														</li>
														<!-- /ko -->
														<li data-bind="css: {_edit: isCustomVisible()}">
															<div class="selectmenu-item">
																<button class="selectmenu-item-action" type="button" ko-visible="!isCustomVisible()" data-bind="
																	click: function () {
																	$data.showCustom()
																	.discardEditing();
																	}, i18n: 'Custom'">Custom</button>
															</div>
															<div class="selectmenu-item-edit" data-bind="keyboard: {13: applyCustom}">
																<input class="admin__control-text" type="text" data-bind="hasFocus: isCustomVisible(), value: customValue">
																<button class="action-save" type="button" data-bind="click: applyCustom">
																<span data-bind="i18n: 'Save'">Save</span>
																</button>
															</div>
														</li>
													</ul>
												</div>
											</div>
											<label class="admin__control-support-text" data-bind="attr: {for: index}, i18n: 'per page'" for="sales_order_grid.sales_order_grid.listing_top.listing_paging_sizes">per page</label>
											<!-- /ko --><!-- /ko -->
											<div class="admin__data-grid-pager">
												<button class="action-previous" type="button" data-bind="attr: {title: $t('Previous Page')}, click: prev, disable: isFirst()" title="Previous Page" disabled=""></button>
												<input class="admin__control-text" type="number" data-ui-id="current-page-input" data-bind="attr: {id: ++ko.uid}, value: _current" id="43">
												<label class="admin__control-support-text" data-bind="attr: {for: ko.uid}, text: 'of ' + pages" for="43">of 1</label>
												<button class="action-next" type="button" data-bind="attr: {title: $t('Next Page')}, click: next, disable: isLast()" title="Next Page" disabled=""></button>
											</div>
										</div>
										<!-- /ko -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<div style="display: none;" data-bind="css: stickyClass, afterRender: setStickyNode" class="sticky-header">
						<span class="data-grid-cap-left" data-bind="afterRender: setLeftCap" style="transform: translate(0px, 0px);"></span>
						<span class="data-grid-cap-right" data-bind="afterRender: setRightCap" style="transform: translate(1692px, 0px);"></span>
						<div data-bind="afterRender: setStickyToolbarNode" style="width: 1692px;">
							<div class="admin__data-grid-header">
								<div class="admin__data-grid-header-row">
									<!-- ko scope: requestChild('listing_massaction') --><!-- ko template: getTemplate() -->
									<div class="action-select-wrap" data-bind="collapsible: {onTarget: true}">
										<button class="action-select" data-bind="i18n: 'Actions'">Actions</button>
										<ul class="action-menu" data-bind="css: {_active: $collapsible.opened}">
											<!-- ko repeat: {foreach: actions, item: '$action'} -->
											<li data-bind="click: applyAction.bind($data, $action().type)" data-repeat-index="0">
												<span class="action-menu-item" data-bind="text: $action().label">Cancel</span>
											</li>
											<li data-bind="click: applyAction.bind($data, $action().type)" data-repeat-index="1">
												<span class="action-menu-item" data-bind="text: $action().label">Hold</span>
											</li>
											<li data-bind="click: applyAction.bind($data, $action().type)" data-repeat-index="2">
												<span class="action-menu-item" data-bind="text: $action().label">Unhold</span>
											</li>
											<li data-bind="click: applyAction.bind($data, $action().type)" data-repeat-index="3">
												<span class="action-menu-item" data-bind="text: $action().label">Print Invoices</span>
											</li>
											<li data-bind="click: applyAction.bind($data, $action().type)" data-repeat-index="4">
												<span class="action-menu-item" data-bind="text: $action().label">Print Packing Slips</span>
											</li>
											<li data-bind="click: applyAction.bind($data, $action().type)" data-repeat-index="5">
												<span class="action-menu-item" data-bind="text: $action().label">Print Credit Memos</span>
											</li>
											<li data-bind="click: applyAction.bind($data, $action().type)" data-repeat-index="6">
												<span class="action-menu-item" data-bind="text: $action().label">Print All</span>
											</li>
											<li data-bind="click: applyAction.bind($data, $action().type)" data-repeat-index="7">
												<span class="action-menu-item" data-bind="text: $action().label">Print Shipping Labels</span>
											</li>
											<!-- /ko -->
										</ul>
									</div>
									<!-- /ko --><!-- /ko -->
									<!-- ko scope: requestChild('listing_paging') --><!-- ko template: totalTmpl -->
									<div class="admin__control-support-text">
										<!-- ko text: totalRecords -->67<!-- /ko --> <!-- ko i18n: 'records found' --><span>records found</span><!-- /ko -->
										<!-- ko if: totalSelected --><!-- /ko -->
									</div>
									<!-- /ko --><!-- /ko -->
									<!-- ko foreach: getRegion('dataGridFilters') --><!-- ko template:  $data.stickyTmpl || getTemplate() -->
									<div class="data-grid-search-control-wrap">
										<label class="data-grid-search-label" data-bind="attr: {title: $t('Search'), for: index}" title="Search" for="fulltext">
										<span data-bind="i18n: 'Search'">Search</span>
										</label>
										<input class="admin__control-text data-grid-search-control" type="text" data-bind="
											attr: {
											id: index,
											placeholder: placeholder
											},
											textInput: inputValue,
											keyboard: {
											13: apply.bind($data, false),
											27: cancel
											}" id="fulltext" placeholder="Search by keyword">
										<button class="action-submit" type="button" data-bind="click: apply.bind($data, false)">
										<span data-bind="i18n: 'Search'">Search</span>
										</button>
									</div>
									<!-- /ko --><!-- ko template:  $data.stickyTmpl || getTemplate() -->
									<div class="data-grid-filters-actions-wrap">
										<div class="data-grid-filters-action-wrap">
											<button class="action-default _active" data-action="grid-filter-expand" data-bind="
												click: function(){
												window.scrollTo(0, 0);
												$data.trigger('open');
												},
												attr: {disabled: !hasVisible()}">
											<span data-bind="i18n: 'Filters'">Filters</span>
											</button>
											<span class="filters-active" data-bind="text: countActive() || ''"></span> <!-- Added the amount of selected filters -->
										</div>
									</div>
									<!-- /ko --><!-- /ko -->
									<div class="admin__data-grid-actions-wrap" data-bind="foreach: getRegion('dataGridActions')">
										<!-- ko template: getTemplate() -->
										<div class="admin__action-dropdown-wrap admin__data-grid-action-bookmarks" data-bind="collapsible">
											<button class="admin__action-dropdown" type="button" data-bind="toggleCollapsible">
											<span class="admin__action-dropdown-text" data-bind="text: activeView.label">Default View</span>
											</button>
											<ul class="admin__action-dropdown-menu">
												<!-- ko repeat: {foreach: viewsArray, item: '$view'} -->
												<li data-bind="css: {_edit: isEditing($view().index)}, template: viewTmpl, outerClick: endEdit.bind($data, $view().index)" data-repeat-index="0">
													<!-- ko if: $view().editable --><!-- /ko -->
													<div class="action-dropdown-menu-item">
														<a href="" class="action-dropdown-menu-link" data-bind="text: $view().label, click: applyView.bind($data, $view().index), closeCollapsible">Default View</a>
														<!-- ko if: $view().editable --><!-- /ko -->
													</div>
												</li>
												<!-- /ko -->
												<li data-bind="css: {
													_edit: customVisible,
													'action-dropdown-menu-action action-dropdown-menu-item-last': !customVisible}, visible: hasChanges, outerClick: hideCustom.bind($data)" class="action-dropdown-menu-action action-dropdown-menu-item-last">
													<a href="" data-bind="click: showCustom, visible: !customVisible, i18n: 'Save View As...'">Save View As...</a>
													<div class="action-dropdown-menu-item-edit" data-bind="visible: customVisible" style="display: none;">
														<input class="admin__control-text" type="text" data-bind="
															value: customLabel,
															autoselect,
															hasFocus: isCustomVisible(),
															keyboard: {
															13: applyCustom.bind($data),
															27: hideCustom.bind($data)
															}">
														<div class="action-dropdown-menu-item-actions">
															<button class="action-submit" type="button" data-bind="attr: {title: $t('Save all changes')}, click: applyCustom" title="Save all changes">
															<span data-bind="i18n: 'Submit'">Submit</span>
															</button>
														</div>
													</div>
												</li>
											</ul>
										</div>
										<div class="admin__action-dropdown-wrap admin__data-grid-action-export" data-bind="collapsible">
											<button class="admin__action-dropdown" type="button" data-bind="toggleCollapsible">
											<span class="admin__action-dropdown-text" data-bind="i18n: 'Export'">Export</span>
											</button>
											<div class="admin__action-dropdown-menu admin__data-grid-action-export-menu">
												<!-- ko foreach: options -->
												<div class="admin__field admin__field-option">
													<input class="admin__control-radio" type="radio" data-bind="
														attr: {
														id: ++ko.uid
														},
														checkedValue: value,
														checked: $parent.checked" id="41" value="csv" name="ko_unique_3">
													<label class="admin__field-label" data-bind="attr: {for: ko.uid}, text: label" for="41">CSV</label>
												</div>
												<div class="admin__field admin__field-option">
													<input class="admin__control-radio" type="radio" data-bind="
														attr: {
														id: ++ko.uid
														},
														checkedValue: value,
														checked: $parent.checked" id="42" value="xml" name="ko_unique_4">
													<label class="admin__field-label" data-bind="attr: {for: ko.uid}, text: label" for="42">Excel XML</label>
												</div>
												<!-- /ko -->
												<div class="admin__action-dropdown-footer-main-actions">
													<button class="action-tertiary" type="button" data-bind="i18n: 'Cancel', closeCollapsible">Cancel</button>
													<button class="action-secondary" type="button" data-bind="click: applyOption, i18n: 'Export'">Export</button>
												</div>
											</div>
										</div>
										<!-- /ko -->
									</div>
									<!-- ko scope: requestChild('listing_paging') --><!-- ko template: getTemplate() -->
									<div class="admin__data-grid-pager-wrap">
										<!-- ko scope: sizes --><!-- ko template: getTemplate() -->
										<div class="selectmenu" data-bind="collapsible">
											<div class="selectmenu-value" data-bind="openCollapsible">
												<input type="text" data-bind="attr: {id: index}, value: _value, autoselect" id="sales_order_grid.sales_order_grid.listing_top.listing_paging_sizes">
											</div>
											<button class="selectmenu-toggle" type="button" data-bind="css: {_active: $collapsible.opened}, toggleCollapsible">
											<span data-bind="i18n: 'Select'">Select</span>
											</button>
											<div class="selectmenu-items" data-bind="css: {_active: $collapsible.opened}, outerClick: discardAll.bind($data)">
												<ul>
													<!-- ko repeat: {foreach: optionsArray, item: '$size'} -->
													<li data-bind="css: {_edit: isEditing($size().value)}" data-repeat-index="0">
														<!-- ko if: $size().editable --><!-- /ko -->
														<div class="selectmenu-item">
															<button class="selectmenu-item-action" type="button" data-bind="text: $size().label, click: setSize.bind($data, $size().value)">20</button>
															<!-- ko if: $size().editable --><!-- /ko -->
														</div>
													</li>
													<li data-bind="css: {_edit: isEditing($size().value)}" data-repeat-index="1">
														<!-- ko if: $size().editable --><!-- /ko -->
														<div class="selectmenu-item">
															<button class="selectmenu-item-action" type="button" data-bind="text: $size().label, click: setSize.bind($data, $size().value)">30</button>
															<!-- ko if: $size().editable --><!-- /ko -->
														</div>
													</li>
													<li data-bind="css: {_edit: isEditing($size().value)}" data-repeat-index="2">
														<!-- ko if: $size().editable --><!-- /ko -->
														<div class="selectmenu-item">
															<button class="selectmenu-item-action" type="button" data-bind="text: $size().label, click: setSize.bind($data, $size().value)">50</button>
															<!-- ko if: $size().editable --><!-- /ko -->
														</div>
													</li>
													<li data-bind="css: {_edit: isEditing($size().value)}" data-repeat-index="3">
														<!-- ko if: $size().editable --><!-- /ko -->
														<div class="selectmenu-item">
															<button class="selectmenu-item-action" type="button" data-bind="text: $size().label, click: setSize.bind($data, $size().value)">100</button>
															<!-- ko if: $size().editable --><!-- /ko -->
														</div>
													</li>
													<li data-bind="css: {_edit: isEditing($size().value)}" data-repeat-index="4">
														<!-- ko if: $size().editable --><!-- /ko -->
														<div class="selectmenu-item">
															<button class="selectmenu-item-action" type="button" data-bind="text: $size().label, click: setSize.bind($data, $size().value)">200</button>
															<!-- ko if: $size().editable --><!-- /ko -->
														</div>
													</li>
													<!-- /ko -->
													<li data-bind="css: {_edit: isCustomVisible()}">
														<div class="selectmenu-item">
															<button class="selectmenu-item-action" type="button" ko-visible="!isCustomVisible()" data-bind="
																click: function () {
																$data.showCustom()
																.discardEditing();
																}, i18n: 'Custom'">Custom</button>
														</div>
														<div class="selectmenu-item-edit" data-bind="keyboard: {13: applyCustom}">
															<input class="admin__control-text" type="text" data-bind="hasFocus: isCustomVisible(), value: customValue">
															<button class="action-save" type="button" data-bind="click: applyCustom">
															<span data-bind="i18n: 'Save'">Save</span>
															</button>
														</div>
													</li>
												</ul>
											</div>
										</div>
										<label class="admin__control-support-text" data-bind="attr: {for: index}, i18n: 'per page'" for="sales_order_grid.sales_order_grid.listing_top.listing_paging_sizes">per page</label>
										<!-- /ko --><!-- /ko -->
										<div class="admin__data-grid-pager">
											<button class="action-previous" type="button" data-bind="attr: {title: $t('Previous Page')}, click: prev, disable: isFirst()" title="Previous Page" disabled=""></button>
											<input class="admin__control-text" type="number" data-ui-id="current-page-input" data-bind="attr: {id: ++ko.uid}, value: _current" id="44">
											<label class="admin__control-support-text" data-bind="attr: {for: ko.uid}, text: 'of ' + pages" for="44">of 1</label>
											<button class="action-next" type="button" data-bind="attr: {title: $t('Next Page')}, click: next, disable: isLast()" title="Next Page" disabled=""></button>
										</div>
									</div>
									<!-- /ko --><!-- /ko -->
								</div>
							</div>
							<!-- ko scope: requestChild('listing_filters_chips') --><!-- ko template: $data.stickyTmpl || getTemplate() -->
							<div class="admin__data-grid-filters-current" data-bind="css: {_show: hasPreviews()}">
								<div class="admin__current-filters-title-wrap">
									<span class="admin__current-filters-title" data-bind="i18n: 'Active filters\:'">Active filters:</span>
								</div>
								<div class="admin__current-filters-list-wrap">
									<ul class="admin__current-filters-list" data-role="filter-list">
										<!-- ko foreach: elems -->
										<!-- ko foreach: previews --><!-- /ko -->
										<!-- ko foreach: previews --><!-- /ko -->
										<!-- /ko -->
									</ul>
								</div>
								<div class="admin__current-filters-actions-wrap">
									<button class="action-tertiary action-clear" type="button" data-bind="attr: {'data-action': hasPreviews() ? 'grid-filter-reset' : ''}, click: clear, i18n: 'Clear all'" data-action="">Clear all</button>
								</div>
							</div>
							<!-- /ko --><!-- /ko -->
							<!-- ko scope: columnsProvider --><!-- ko template: stickyTmpl -->
							<div class="admin__data-grid-wrap" data-role="sticky-el-root">
								<table class="data-grid data-grid-draggable" style="width: 1707px; transform: translate(0px, 0px);">
									<thead>
										<tr data-bind="foreach: {data: getVisible(), as: '$col'}">
											<!-- ko template: getHeader() -->
											<th class="data-grid-multicheck-cell" width="91">
												<div class="action-multicheck-wrap" data-bind="css: {_disabled: !totalRecords()}, collapsible">
													<input class="admin__control-checkbox" type="checkbox" data-bind="
														checked: allSelected(),
														attr: {id: ++ko.uid},
														event: { change: toggleSelectAll },
														css: { '_indeterminate': indetermine },
														enable: totalRecords" id="46">
													<label data-bind="attr: {for: ko.uid}" for="46"></label>
													<button class="action-multicheck-toggle" data-toggle="dropdown" data-bind="css: { '_active': $collapsible.opened },
														enable: totalRecords,
														toggleCollapsible">
													<span data-bind="i18n: 'Options'">Options</span>
													</button>
													<ul class="action-menu" data-bind="foreach: actions, closeCollapsible">
														<li data-bind="click: $parent[value].bind($parent),
															visible: $parent.isActionRelevant(value)">
															<span class="action-menu-item" data-bind="text: label">Select All</span>
														</li>
														<li data-bind="click: $parent[value].bind($parent),
															visible: $parent.isActionRelevant(value)" style="display: none;">
															<span class="action-menu-item" data-bind="text: label">Deselect All</span>
														</li>
														<li data-bind="click: $parent[value].bind($parent),
															visible: $parent.isActionRelevant(value)" style="display: none;">
															<span class="action-menu-item" data-bind="text: label">Select All on This Page</span>
														</li>
														<li data-bind="click: $parent[value].bind($parent),
															visible: $parent.isActionRelevant(value)" style="display: none;">
															<span class="action-menu-item" data-bind="text: label">Deselect All on This Page</span>
														</li>
													</ul>
												</div>
											</th>
											<!-- /ko --><!-- ko template: getHeader() -->
											<th class="data-grid-th _sortable _draggable" data-bind="css: {
												_sortable: sortable,
												_draggable: draggable,
												_ascend: sorting === 'asc',
												_descend: sorting === 'desc'}, click: sort" width="61">
												<span class="data-grid-cell-content" data-bind="text: label">ID</span>
											</th>
											<!-- /ko --><!-- ko template: getHeader() -->
											<th class="data-grid-th _draggable" data-bind="css: {
												_sortable: sortable,
												_draggable: draggable,
												_ascend: sorting === 'asc',
												_descend: sorting === 'desc'}, click: sort" width="203">
												<span class="data-grid-cell-content" data-bind="text: label">Purchase Point</span>
											</th>
											<!-- /ko --><!-- ko template: getHeader() -->
											<th class="data-grid-th _sortable _draggable _descend" data-bind="css: {
												_sortable: sortable,
												_draggable: draggable,
												_ascend: sorting === 'asc',
												_descend: sorting === 'desc'}, click: sort" width="227">
												<span class="data-grid-cell-content" data-bind="text: label">Purchase Date</span>
											</th>
											<!-- /ko --><!-- ko template: getHeader() -->
											<th class="data-grid-th _sortable _draggable" data-bind="css: {
												_sortable: sortable,
												_draggable: draggable,
												_ascend: sorting === 'asc',
												_descend: sorting === 'desc'}, click: sort" width="174">
												<span class="data-grid-cell-content" data-bind="text: label">Bill-to Name</span>
											</th>
											<!-- /ko --><!-- ko template: getHeader() -->
											<th class="data-grid-th _sortable _draggable" data-bind="css: {
												_sortable: sortable,
												_draggable: draggable,
												_ascend: sorting === 'asc',
												_descend: sorting === 'desc'}, click: sort" width="189">
												<span class="data-grid-cell-content" data-bind="text: label">Ship-to Name</span>
											</th>
											<!-- /ko --><!-- ko template: getHeader() -->
											<th class="data-grid-th _sortable _draggable" data-bind="css: {
												_sortable: sortable,
												_draggable: draggable,
												_ascend: sorting === 'asc',
												_descend: sorting === 'desc'}, click: sort" width="240">
												<span class="data-grid-cell-content" data-bind="text: label">Grand Total (Base)</span>
											</th>
											<!-- /ko --><!-- ko template: getHeader() -->
											<th class="data-grid-th _sortable _draggable" data-bind="css: {
												_sortable: sortable,
												_draggable: draggable,
												_ascend: sorting === 'asc',
												_descend: sorting === 'desc'}, click: sort" width="304">
												<span class="data-grid-cell-content" data-bind="text: label">Grand Total (Purchased)</span>
											</th>
											<!-- /ko --><!-- ko template: getHeader() -->
											<th class="data-grid-th _sortable _draggable" data-bind="css: {
												_sortable: sortable,
												_draggable: draggable,
												_ascend: sorting === 'asc',
												_descend: sorting === 'desc'}, click: sort" width="108">
												<span class="data-grid-cell-content" data-bind="text: label">Status</span>
											</th>
											<!-- /ko --><!-- ko template: getHeader() -->
											<th class="data-grid-th" data-bind="css: {
												_sortable: sortable,
												_draggable: draggable,
												_ascend: sorting === 'asc',
												_descend: sorting === 'desc'}, click: sort" width="109">
												<span class="data-grid-cell-content" data-bind="text: label">Action</span>
											</th>
											<!-- /ko -->
										</tr>
									</thead>
									<tbody></tbody>
								</table>
							</div>
							<!-- /ko --><!-- /ko -->
						</div>
					</div>
					<div class="admin__data-grid-wrap" data-role="grid-wrapper">
						<table class="data-grid data-grid-draggable" data-role="grid">
							<thead>
								<tr data-bind="foreach: {data: getVisible(), as: '$col'}">
									<!-- ko template: getHeader() -->
									<th class="data-grid-multicheck-cell">
										<div class="action-multicheck-wrap" data-bind="css: {_disabled: !totalRecords()}, collapsible">
											<input class="admin__control-checkbox" type="checkbox" data-bind="
												checked: allSelected(),
												attr: {id: ++ko.uid},
												event: { change: toggleSelectAll },
												css: { '_indeterminate': indetermine },
												enable: totalRecords" id="45">
											<label data-bind="attr: {for: ko.uid}" for="45"></label>
											<button class="action-multicheck-toggle" data-toggle="dropdown" data-bind="css: { '_active': $collapsible.opened },
												enable: totalRecords,
												toggleCollapsible">
											<span data-bind="i18n: 'Options'">Options</span>
											</button>
											<ul class="action-menu" data-bind="foreach: actions, closeCollapsible">
												<li data-bind="click: $parent[value].bind($parent),
													visible: $parent.isActionRelevant(value)">
													<span class="action-menu-item" data-bind="text: label">Select All</span>
												</li>
												<li data-bind="click: $parent[value].bind($parent),
													visible: $parent.isActionRelevant(value)" style="display: none;">
													<span class="action-menu-item" data-bind="text: label">Deselect All</span>
												</li>
												<li data-bind="click: $parent[value].bind($parent),
													visible: $parent.isActionRelevant(value)" style="display: none;">
													<span class="action-menu-item" data-bind="text: label">Select All on This Page</span>
												</li>
												<li data-bind="click: $parent[value].bind($parent),
													visible: $parent.isActionRelevant(value)" style="display: none;">
													<span class="action-menu-item" data-bind="text: label">Deselect All on This Page</span>
												</li>
											</ul>
										</div>
									</th>
									<!-- /ko --><!-- ko template: getHeader() -->
									<th class="data-grid-th _sortable _draggable" data-bind="css: {
										_sortable: sortable,
										_draggable: draggable,
										_ascend: sorting === 'asc',
										_descend: sorting === 'desc'}, click: sort">
										<span class="data-grid-cell-content" data-bind="text: label">ID</span>
									</th>
									<!-- /ko --><!-- ko template: getHeader() -->
									<th class="data-grid-th _draggable" data-bind="css: {
										_sortable: sortable,
										_draggable: draggable,
										_ascend: sorting === 'asc',
										_descend: sorting === 'desc'}, click: sort">
										<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Type Of Order") ?></span>
									</th>
									<!-- /ko --><!-- ko template: getHeader() -->
									<th class="data-grid-th _sortable _draggable _descend" data-bind="css: {
										_sortable: sortable,
										_draggable: draggable,
										_ascend: sorting === 'asc',
										_descend: sorting === 'desc'}, click: sort">
										<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Purchase Date") ?></span>
									</th>
									<!-- /ko --><!-- ko template: getHeader() -->
									<th class="data-grid-th _sortable _draggable" data-bind="css: {
										_sortable: sortable,
										_draggable: draggable,
										_ascend: sorting === 'asc',
										_descend: sorting === 'desc'}, click: sort">
										<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Provider Name") ?></span>
									</th>
									<!-- /ko --><!-- ko template: getHeader() -->
									<th class="data-grid-th _sortable _draggable" data-bind="css: {
										_sortable: sortable,
										_draggable: draggable,
										_ascend: sorting === 'asc',
										_descend: sorting === 'desc'}, click: sort">
										<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Reseller Name") ?></span>
									</th>
									<!-- /ko --><!-- ko template: getHeader() -->
									<th class="data-grid-th _sortable _draggable" data-bind="css: {
										_sortable: sortable,
										_draggable: draggable,
										_ascend: sorting === 'asc',
										_descend: sorting === 'desc'}, click: sort">
										<span class="data-grid-cell-content" data-bind="text: label">Grand Total (Base)</span>
									</th>
									<!-- /ko --><!-- ko template: getHeader() -->
									<th class="data-grid-th _sortable _draggable" data-bind="css: {
										_sortable: sortable,
										_draggable: draggable,
										_ascend: sorting === 'asc',
										_descend: sorting === 'desc'}, click: sort">
										<span class="data-grid-cell-content" data-bind="text: label">Grand Total (Purchased)</span>
									</th>
									<!-- /ko --><!-- ko template: getHeader() -->
									<th class="data-grid-th _sortable _draggable" data-bind="css: {
										_sortable: sortable,
										_draggable: draggable,
										_ascend: sorting === 'asc',
										_descend: sorting === 'desc'}, click: sort">
										<span class="data-grid-cell-content" data-bind="text: label">Status</span>
									</th>
									<!-- /ko --><!-- ko template: getHeader() -->
									<th class="data-grid-th" data-bind="css: {
										_sortable: sortable,
										_draggable: draggable,
										_ascend: sorting === 'asc',
										_descend: sorting === 'desc'}, click: sort">
										<span class="data-grid-cell-content" data-bind="text: label">Action</span>
									</th>
									<!-- /ko -->
								</tr>
							</thead>
							<tbody>
								<!-- ko repeat: {foreach: rows, item: '$row'} -->
								<?php $before_save_increament_id = ""; ?>
								<?php foreach($orders as $_order){ ?>
									<?php 
										$increament_id = $_order["increment_id"];
										if($before_save_increament_id == $increament_id){

										}else{

										}
										$before_save_increament_id  = $_order["increment_id"];
										$type_of_order = $_order["type_of_order"];
										$text_type_order = $block->getTypeDelivery($type_of_order);
										$purchase_at = $_order["created_at"];
										$provider_name = $_order["created_at"];
										$id_seller = $_order["seller_id"];
										$provider = $block->getProvider($id_seller);
										$name_reseller = trim($_order["customer_lastname"])." ".trim($_order["customer_firstname"]);
										$grand_total = $block->formartPrice($_order["grand_total"]);
										$base_grand_total = $block->formartPrice($_order["base_grand_total"]);
										$status = $_order["status"];
										$id = $_order["entity_id"];
										$url = $block->getUrlShipping($id);
									?>
								<tr class="data-row" data-bind="css: {'_odd-row': $index % 2}" data-repeat-index="0">
									<!-- ko fastForEach: {data: getVisible(), as: '$col'} -->
									<td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()" class="data-grid-checkbox-cell">
										<label class="data-grid-checkbox-cell-inner">
										<input class="admin__control-checkbox" type="checkbox" data-action="select-row" name="check_box_order" id="idscheck<?php echo $id ?>" value="<?php echo $id; ?>">
										<label for="idscheck<?php echo $id ?>"></label>
										</label>
									</td>
									<td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()">
										<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $_order["increment_id"] ?></div>
									</td>
									<td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()">
										<div class="data-grid-cell-content" data-bind="html: $col.getLabel($row())">
											<?php echo $text_type_order; ?>
										</div>
									</td>
									<td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()" class="">
										<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $purchase_at; ?></div>
									</td>
									<td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()">
										<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php  echo $provider->getData("store_name") ?></div>
									</td>
									<td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()">
										<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php  echo $name_reseller; ?></div>
									</td>
									<td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()">
										<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $grand_total; ?></div>
									</td>
									<td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()">
										<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $base_grand_total; ?></div>
									</td>
									<td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()">
										<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $status; ?></div>
									</td>
									<td data-bind="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()" class="data-grid-actions-cell">
										<a class="action-menu-item" href="<?php echo $url; ?>"><?php echo __("View"); ?></a>
									</td>
								</tr>
								<?php } ?>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<?php
//get base url on magento 2;
$base_url = $block->getBaseUrl();
$url_ajax = $base_url."test/";
?>
<script type="text/javascript">
	require(['jquery'],function($){
		$(document).ready(function(){
			$("#massaction").click(function(){
				var elem = $(this);
				if(elem.parent().hasClass("_active")){
					$("#list-massaction").removeClass("_active");
					elem.parent().removeClass("_active");
				}else{
					$("#list-massaction").addClass("_active");
					elem.parent().addClass("_active");
				}
			});
			$("#list-massaction > li").click(function(){
				var elem = $(this);
				$("#list-massaction").removeClass("_active");
				$("#massaction").parent().removeClass("_active");
				var attr_action = elem.attr("type-action");
                var array_checkbox = $("input[name='check_box_order']:checked");
                var length_print_invoice = array_checkbox.length;
                var i =0;
                var string_id = "";
                for(i=0;i<length_print_invoice;i++){
                    string_id+=$(array_checkbox[i]).val().toString()+"|";
                    
                }
                if(string_id != ""){
                    switch(attr_action){
                        case 'cancel_order':
						//do cancel ajax 
							$("#array_request_cancel").val(string_id);
							$("#request_cancel").submit();
                        break;
                        case 'make_invoice':
                        //do invoice
                        break;
                        case 'make_shipment': 
                        //make shipment
                        break;
                        case 'print_invoice':
                            
                            $("#array_print_invoice").val(string_id);
                            $("#print_invoice").submit();
                        break;
                        case 'print_shipment': 
                            var array_checkbox = $("input[name='check_box_order']:checked");
                            var length_print_invoice = array_checkbox.length;
                            var i =0;
                            var string_id = "";
                            for(i=0;i<length_print_invoice;i++){
                                string_id+=$(array_checkbox[i]).val().toString()+"|";
                                
                            }
                            $("#array_print_ship").val(string_id);
                            $("#print_ship").submit();
                        break;
                    }
                }else{
                    alert("<?php echo __('You haven\'t selected any items!'); ?>");
                }
			});
		});
	});
</script>