<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');

$orderAdmin = $objectManager->get("\Libero\Customer\Block\Buyer\Order");
$result = $orderAdmin->getOrdersByCustomer();
$orders = $result['listRecords'];

/* paging */
$pageSize = $result["pageSize"] ? $result["pageSize"] : 0 ;
$curPage = $result["curPage"] ? $result["curPage"] : 1 ;
$lastPage = $result["lastPage"];
$total = $result["total"];
$firstNumber = $result["firstNumber"];
$lastNumber = (($firstNumber + $pageSize) > $total ) ? $total : $firstNumber + $pageSize - 1 ;
$hasNextPage = false;
$hasPrePage = false;
$maxCountShowPage = 5;

if($curPage-3 > 0) { $hasPrePage = true; }
if($curPage < $lastPage){ $hasNextPage = true; }
/* paging:End */

?>
<script>
jQuery(function(){
    var pageSize = <?php echo $pageSize; ?>;
    if(pageSize > 0 ) {
        jQuery("#pageSizeSelect option[value='"+ pageSize +"']").attr("selected","selected");
    }
	
});

function fnChangePage(page){
	jQuery("#page").val(page);
	jQuery("#search-form").submit();
}

function fnChangeStatus(order_status){
	jQuery("#order_status").val(order_status);
	jQuery("#search-form").submit();
}

function fnPageSize(size){
	jQuery("#pageSize").val(size);
    var curPage = <?php echo $curPage; ?>;
    var lastPage = <?php echo $lastPage; ?>;
    var total = <?php echo $total; ?>;
    var new_last_page = Math.floor(total / size);
    if((total % size) > 0) {
        new_last_page++;
    }
    if(curPage > new_last_page){
        jQuery("#page").val(new_last_page);
    }
	jQuery("#search-form").submit();
}
</script>

<?php if ($orders && count($orders)): ?>
    <div class="table-wrapper orders-history">
        <table class="data table table-order-items history" id="my-orders-table">
        <colgroup>
            <col width="5%">
            <col width="13%">
            <col width="15%">
            <col width="15%">
            <col width="18%">
            <col width="12%">
            <col width="20%">
            <col width="20%">
        </colgroup>
            <caption class="table-caption"><?php echo __('Orders') ?></caption>
            <thead>
                <tr>
                    <th scope="col" class="col"><?php echo __('No.') ?></th>
                    <th scope="col" class="col id"><?php echo __('Order #') ?></th>
                    <th scope="col" class="col date"><?php echo __('Date') ?></th>
                    <?php echo $block->getChildHtml('extra.column.header');?>
                    <th scope="col" class="col shipping"><?php echo __('Ship To') ?></th>
                    <th scope="col" class="col total"><?php echo __('Order Total') ?></th>
                    <th scope="col" class="col status"><?php echo __('Status') ?></th>
                    <th scope="col" class="col actions"><?php echo __('Action') ?></th>
                    <!--<th scope="col" class="col actions"><?php echo __('Complete') ?></th>-->
                </tr>
            </thead>
            <tbody>
                <?php 
                $countRow = 0;
                foreach ($orders as $order): ?>
                <?php $status = $orderAdmin->getOrderStatusByIncrementId($order["increment_id"]); ?>
                    <tr>
                        <td><?php echo $firstNumber + $countRow; ?></td>
                        <td data-th="<?php echo $block->escapeHtml(__('Order #')) ?>" class="col id"><?php echo $order["increment_id"]; ?></td>
                        <td data-th="<?php echo $block->escapeHtml(__('Date')) ?>" class="col date"><?php echo date('Y-m-d H:i:s',strtotime($order["created_at"])); ?></td>
                        <?php $extra = $block->getChildBlock('extra.container'); ?>
                        <td data-th="<?php echo $block->escapeHtml(__('Ship To')) ?>" class="col shipping"><?php echo $order["shipping_address"] ? $block->escapeHtml($order["shipping_name"]) : '&nbsp;' ?></td>
                        <td data-th="<?php echo $block->escapeHtml(__('Order Total')) ?>" class="col total"><?php echo $util->formatPrice($order["base_grand_total"]) ?></td>
                        <td data-th="<?php echo $block->escapeHtml(__('Status')) ?>" class="col status"><?php echo __($status); ?></td>
                        <td data-th="<?php echo $block->escapeHtml(__('Actions')) ?>" class="col actions">
                            <a href="<?php echo $block->getUrl('customer/buyer/view')."increment_id/" . $order["increment_id"]; ?>" class="action view">
                                <span><?php echo __('View Order') ?></span>
                            </a>
                            <?php if($status == "Pending"){ ?>
                                <!--<a href="<?php  echo $block->getUrl('customer/buyer/view')."increment_id/" . $order["increment_id"]; ?>" class="action view">
                                    <span><?php  echo __('Cancel'); ?></span>
                                </a>-->
                            <?php } ?>
                        </td>
                        <!--<td data-th="<?php echo $block->escapeHtml(__('Complete Order')) ?>" class="col actions">
                            <?php if($status != "Complete" && $status != "complete"){ ?>
                                <a href="<?php echo $block->getUrl('customer/buyer/completeorder')."increment_id/" . $order["increment_id"]; ?>" class="action view">
                                    <span><?php echo __('Complete Order') ?></span>
                                </a>
                            <?php } ?>
                        </td>-->
                    </tr>
                <?php 
                $countRow++;
                endforeach; ?>
            </tbody>
        </table>
    </div>
    <div class="order-products-toolbar toolbar bottom">
        <?php if ($orders && count($orders)): ?>
            <form action="<?php echo $block->getUrl('sales/order/history'); ?>" method="post" id="search-form">
                <?php if ($lastPage>1) { ?>
                    <div class="moveToPageField frontStore tr" style="margin-bottom: 10px;"> <label><?php echo __("Page"); ?> : <input type="text" class="w65" onkeydown="submitOnEnter(this, event);" /></label><button type="submit" class="action-secondary" style="margin-top: -2px;">
                            <?php echo __('Move') ?>
                        </button> </div>
                <?php } ?>
                <div class="pager">
                    <p class="toolbar-amount">
                        <span class="toolbar-number">
                        <?php if ($lastPage>1): ?>
                            <?php  echo __('Items %1 to %2 of %3 total', $firstNumber, $lastNumber, $total) ?>
                        <?php elseif ($total == 1): ?>
                            <?php  echo __('%1 Item', $total) ?>
                        <?php else: ?>
                            <?php  echo __('%1 Item(s)', $total) ?>
                        <?php endif; ?>
                        </span>
                    </p>

                    <?php if ($lastPage>1): ?>
                    
                    <div class="pages">
                        <strong class="label pages-label" id="paging-label"><?php echo __('Page') ?></strong>
                        <ul class="items pages-items" aria-labelledby="paging-label">
                            <input type="hidden" id="page" name="page" value="<?php echo $curPage; ?>" />

                            <?php
                                if(($curPage-2) > 1) { ?>
                                    <li class="item">
                                        <a class="page pointer first first-btn" onclick="fnChangePage('1');">
                                            <span><i class="fas fa-step-backward"></i></span>
                                        </a>
                                    </li>
                                    <li class="item pages-item-previous">
                                        <a class="action pointer previous" onclick="fnChangePage('<?php echo $curPage-1; ?>');" title="Tiếp theo">
                                            <span><?php echo __('Previous') ?></span>
                                        </a>
                                    </li>
                                    <li class="item dots">...</li>
                                <?php } else if($hasPrePage) {?>
                                    <li class="item pages-item-previous">
                                        <a class="action pointer  prev" onclick="fnChangePage('<?php echo $curPage-1; ?>');" title="Tiếp theo">
                                        <span><i class="fas fa-caret-left"></i></span>
                                        </a>
                                    </li>
                            <?php }

                            $page = $curPage-2;
                            if($page < 1) { $page = 1; }
                            $showedLast = false;
                            for ( $page; $page < $lastPage+1; $page++){
                                if($maxCountShowPage > 0) {
                                    if($page == $curPage){ ?>
                                        <li class="item current">
                                            <strong class="page">
                                            <span><?php echo $page; ?></span>
                                            </strong>
                                        </li>
                                    <?php } else {?>
                                        <li class="item">
                                            <a onclick="fnChangePage('<?php echo $page; ?>');" class="page pointer">
                                                <span><?php echo $page; ?></span>
                                            </a>
                                        </li>
                                    <?php }
                                    $maxCountShowPage--;
                                    if($page == $lastPage) {
                                        $showedLast = true;
                                    }
                                } else { ?>
                                    <?php break;
                                }
                            } ?>


                            <?php if($curPage+2 < $lastPage) {
                                if(!$showedLast){?>
                                    <li class="item dots">...</li>
                                <?php }?>
                            <li class="item pages-item-next">
                                <a class="action pointer  next" onclick="fnChangePage('<?php echo $curPage+1; ?>');" title="Tiếp theo">
                                    <span><i class="fas fa-caret-right"></i></span>
                                </a>
                            </li>
                            <?php if(!$showedLast){?>
                                <li class="item last">
                                    <a class="page pointer last last-btn" onclick="fnChangePage('<?php echo $lastPage; ?>');">
                                        <span><i class="fas fa-step-forward"></i></span>
                                    </a>
                                </li>
                            <?php }
                        } else if($hasNextPage){?>
                            <li class="item pages-item-next">
                                <a class="action pointer  next" onclick="fnChangePage('<?php echo $curPage+1; ?>');" title="Tiếp theo">
                                    <span><i class="fas fa-caret-right"></i></span>
                                </a>
                            </li> 
                        <?php } ?>

                        </ul>
                    </div>
                <?php endif; ?>

                <div class="limiter">
                    <strong class="limiter-label"><?php echo __('Show') ?></strong>
                    <input type="hidden" id="pageSize" name="pageSize" value="<?php echo $pageSize; ?>" />
                    <select id="pageSizeSelect" class="limiter-options" onchange="fnPageSize(jQuery(this).val());">
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span class="limiter-text"><?php echo __('per page') ?></span>
                </div>
            </form>
        <?php endif ?>
    </div>
<?php else: ?>
    <div class="message info empty"><span><?php echo __('You have placed no orders.'); ?></span></div>
<?php endif ?>


<style>
.pager .toolbar-number {display: block !important; position: absolute; width: 200px; text-align: left;}
.pager .pages {right: 200px; width: auto !important;}
.pager .items.pages-items .item.dots {background: transparent; color: #354157; border: 0; margin: 0; min-width: 18px;}
</style>

<script>
function submitOnEnter(obj, event) {
	if (event && event.keyCode == 13) {
		fnChangePage(jQuery(obj).val());
	}
}
</script>