<?php
	$_config = $this->helper('Sm\Market\Helper\Data');
	$class_detail = $detailStyle . ' ' . 'thumb-' . $thumsStyle;
?>

<?php
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$_product = $block->getProduct();
	$id_shipping = $_product->getIdShipping();
	$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');
	$id_seller = $_product->getData("id_seller");
	$customerSession = $objectManager->get('\Magento\Customer\Model\Session');
	$model_seller = $objectManager->create("\Libero\Customer\Model\CustomerSeller");
	$data_seller = $model_seller->load($id_seller); 
	$store_name  = $data_seller->getData("store_name");
	$created_at = date('Y-m-d',strtotime($data_seller->getData("created_at")));
	$rating_summary = $data_seller->getData("rating_sumary");
	if($rating_summary == ""){
		$rating_summary = 0;
	}
	$provider_review = $objectManager->get("\Libero\Marketplace\Block\TopInfo")->getSellerReviewSummaryByProviderId($id_seller);
	$url_key = $block->getUrl("marketplace/store/store/id_seller/".$id_seller);
    $list_shipping = $util->getDeliveryCompaniesByIdSeller($id_seller);
	//$collectionShipping = $objectManager->get('\Libero\Onestepcheckout\Model\Shipping')->getCollection()->addFieldToFilter("id_shipping_method",array("eq" => $id_shipping))->getFirstItem();
	//$shippingPrice = $collectionShipping->getPrice();
	$shippingMethod = "";
	/* $collectionShipping = $util->getDeliveryCompanyByShippingId($id_shipping);
	$shippingMethod = $collectionShipping["name_delivery"];
	$shippingPrice = "100000000"; */
	//$collectionShipping->getPrice(); 
	$full_address = $data_seller->getData("full_address");
	$_wishlistSubmitParams = $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($_product);
	$_config = $this->helper('Sm\Market\Helper\Data');
	$helperDataOneStepCheckout = $this->helper("Libero\Onestepcheckout\Helper\Data");
	$countOrder = $helperDataOneStepCheckout->getCountOfOrder($_product->getSku(),$_product->getId());
    $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
	$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
	$start    = (new DateTime($data_seller->getData("created_at")))->modify('first day of this month');
	$end      = (new DateTime())->modify('first day of this month');
	$interval = DateInterval::createFromDateString('1 month');
	$period   = new DatePeriod($start, $interval, $end);
	$months = 0 ;
	foreach ($period as $dt) {
		//echo $dt->format("Y-m") . "<br>\n";
		$months++;
	}
?>


<div class="<?php echo $class_detail;?>">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="row">
				<div class="social-bar">
					<div class="favorite-btn">
						<?php if($_config->getAdvanced('show_wishlist_button')){?>
							<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()) : ?>
								<a title="<?php echo __('Add to Wish List');?>" href="#"
									class="action towishlist"
									data-post='<?php /* @escapeNotVerified */ echo $_wishlistSubmitParams; ?>'
									data-action="add-to-wishlist"><span><?php /* @escapeNotVerified */ echo __('Add to Wish List') ?></span></a>
							<?php endif; ?>
						<?php } ?>
					</div>

					<div class="social-group">
						<div id="addthis_wrap">
							<!-- AddThis Button BEGIN -->
							<div class="addthis_toolbox addthis_default_style ">
							<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
							<iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.html" style="width:95px; height:20px; float:left;"></iframe>						                              
							<a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
							<a class="addthis_counter addthis_pill_style"></a>						
							</div>
							<script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
						   <?php //if($_product->getTypeId() === 'bundle'){ } else{?>
							<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-529be2200cc72db5"></script>
							<?php //} ?>
							<!-- AddThis Button END -->	
						</div>
					</div>
				</div>
			</div>

			<div class="row pt15 pb30">
                <div class="col-lg-9">
                    <div class="row bg-white">
                        <div class="col-lg-5 col-md-6 col-sm-4 image-box-detail">
                            <?php echo $block->getChildHtml('product.info.media'); ?>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-8 info-box-detail">
                        <div class="sku-attribute">
                            <p><span>Sku:</span><?php /* @escapeNotVerified */ echo $_product->getSku() ?></p>
                        </div>
                        <div class="transaction">
                            <p><?php echo __("Order") ?> : <span class="color-organce"><?php echo $countOrder; ?></span> <span class="order-grey"><?php echo __("Order(s)") ?></span></p>
                        </div>
                        <div class="info-detail-container">
                            <?php echo $block->getChildHtml('product.info.main'); ?>
                        </div>
                    </div>
                    </div>
                    <div class="row bg-white mt13">
                        <div class="col-lg-12 col-md-12 detail-bottom-wrapper">
                            <?php echo $block->getChildHtml('detail.bottom'); ?>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
				    <div class="provider-info hide">
					    <div class="services-detail">
						<div class="sidebarFrame">
							<div class="sidebar-section style2">
								<p class="sidebar-section-cnt"><span class="logo-shop"><img src="<?php echo $media_url.$data_seller->getData("logo_url") ?>"/></span><span class="shop-name"><?php echo $store_name; ?></span></p>
							</div>
							<div class="sidebar-section style2">
                                <div class="store-section">
                                    <div class="col-left-store">
                                        <p><span class="icon-lang">icon </span> <span>Vietnam</span></p>
                                    </div>
                                    <div class="col-right-time">
                                        <p><?php echo $months ?><span><?php echo __("Month(s)"); ?></span></p>
                                    </div>
                                </div>
                                <div class="content-section">
                                   <p><?php echo __("Kind of Business:"); ?> <span><?php echo __("B2B, B2C"); ?></span></p>
                                   <p><?php echo __("Supply Side"); ?>: <span><?php echo __("B2B, B2C"); ?></span></p>
                                   <!--<p><?php echo __("Current product provide"); ?>: <span><?php echo __("Current product provideElectronic / cook / Case phone"); ?></span></p>-->
                                   <!--<p><?php echo __("Transaction"); ?>: <span><?php echo __("300.000.000 đ"); ?></span></p>-->
                                </div>
                                <div class="content-section">
                                    <div class="review-static">
                                        <a href="#" class="section-title">
                                            <?php echo $rating_summary ?> /<span>100</span>
                                        </a>
                                        <p class="review-text"><!--Very statisfied --><a href="<?php echo $url_key; ?>" target="_blank" /><span><?php echo $provider_review["review_count"]; ?> <?php echo __("Review") ?><i class="fa fa-angle-right" aria-hidden="true"></i></span></a></p>
                                    </div>
                                    <p><span style="font-weight:bold"><?php echo __("Address"); ?></span><span><?php echo $full_address; ?></span></p>
								</div>
							</div>
							<div class="sidebar-section style2">
								<a href="<?php echo $url_key; ?>" target="_blank" class="one-btn"><?php echo __("VISIT THIS SHOP"); ?></a>
							</div>
						</div>



						<?php
						$scopeConfig = $objectManager->get("\Magento\Framework\App\Config\ScopeConfigInterface");
						$storePhone = $scopeConfig->getValue("general/store_information/phone");
						$email = $scopeConfig->getValue("general/store_information/street_line2");
						?>

					</div>
					</div>
					<div class="wrap-upsell-product">
						<?php echo $block->getChildHtml('upsell.product'); ?>
					</div>
                </div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12">
			<?php echo $block->getChildHtml('related.product'); ?>
		</div>
	</div>
</div>


<style>
.wrap-upsell-product > div {padding-top: 0;}
</style>