<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>

<?php
	$_config = $this->helper('Sm\Market\Helper\Data');
	$class_detail = $detailStyle . ' ' . 'thumb-' . $thumsStyle;
?>

<div class="<?php echo $class_detail;?>">
	<div class="row">
		<div class="col-lg-9 col-md-9 content-detail">
			<div class="row">
				<div class="col-lg-6 col-md-6 image-box-detail">
					<?php echo $block->getChildHtml('product.info.media'); ?>
				</div>
				
				<div class="col-lg-6 col-md-6 info-box-detail">
					<div class="info-detail-container">
						<?php echo $block->getChildHtml('product.info.main'); ?>
						
						<div id="addthis_wrap">
							<!-- AddThis Button BEGIN -->
							<div class="addthis_toolbox addthis_default_style ">
							<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
							<iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.html" style="width:95px; height:20px; float:left;"></iframe>						                              
							<a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
							<a class="addthis_counter addthis_pill_style"></a>						
							</div>
							<script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
						   <?php //if($_product->getTypeId() === 'bundle'){ } else{?>
							<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-529be2200cc72db5"></script>
							<?php //} ?>
							<!-- AddThis Button END -->	
						</div>
					</div>
				</div>
				
				<div class="col-lg-12 col-md-12 col-xs-12 detail-bottom-wrapper">
					<?php echo $block->getChildHtml('detail.bottom'); ?>
				</div>
												
				<div class="col-lg-12 col-md-12 col-xs-12">				
					<div class="content-product-detail">
						<?php echo $block->getChildHtml('upsell.product'); ?>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-md-3 left-detail">
			<?php echo $block->getChildHtml('related.product'); ?>
			<?php echo $block->getChildHtml('compare.sidebar.detail'); ?>
			<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('image-sidebar-detail')->toHtml();?>
		</div>
	</div>
</div>