<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<ul>
    <li class="on"><i class="ico32 ico-checkout-shopping"></i><p><?php echo __('Purchase'); ?></p><div class="border"></div></li>
    <li><i class="ico32 ico-checkout-gift"></i><p><?php echo __('Product prepare'); ?></p><div class="border"></div></li>
    <li><i class="ico32 ico-checkout-delivery"></i><p><?php echo __('On delivery'); ?></p><div class="border"></div></li>
    <li><i class="ico32 ico-checkout-checked"></i><p><?php echo __('Complete'); ?></p><div class="border"></div></li>
</ul>