<?php
use \Sm\MegaMenu\view\frontend\templates\MobileDetect;
/**------------------------------------------------------------------------
* SM Search Box - Version 2.0.0
* Copyright (c) 2015 YouTech Company. All Rights Reserved.
* @license - Copyrighted Commercial Software
* Author: YouTech Company
* Websites: http://www.magentech.com
-------------------------------------------------------------------------*/

if (!$this->_getConfig('isenabled', 1)) return;

/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Sm\SearchBox\Helper\Data */
/** @var $helperSearch \Magento\Search\Helper\Data */


$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);

$searchHelper = $objectManager->create("\Libero\SearchProduct\Helper\Data");
$helperSearch = $this->helper('Magento\Search\Helper\Data');
$helper = $this->helper('Sm\SearchBox\Helper\Data');
$tag_id = 'sm_searchbox'.rand().time();
$cat_list = $this->getCategories();

$show_popular = $this->_getConfig('show_popular');
$limit_popular = $this->_getConfig('limit_popular');

$show_advanced = $this->_getConfig('show_advanced');
$pretext = $this->_getConfig('pretext');
$posttext = $this->_getConfig('posttext');
?>

	<div id="<?php echo $tag_id;?>" class="sm-searchbox">
		<?php
		if(!empty($pretext)){ ?>
			<div class="pre-text"><?php echo $pretext; ?></div>
		<?php } ?>

		
		<div class="sm-searchbox-content">
			<form class="form minisearch" id="searchbox_mini_form" action="<?php echo $block->getUrl('searchproduct/result') ?>" method="get">
				<div class="field searchbox">
					<div class="control" style="position: relative;">
						<div class="col-lg-2 col-md-2 col-sm-2 pr0">
							<a id="scrolled_logo" href="<?php echo $block->getUrl(); ?>"><img src="<?php echo $media_url; ?>wysiwyg/logo/logo_short.png" /></a>
							<a id="show-cate-btn" title="<?php echo __('All Categories')?>"><span class="cate_full_text"><?php echo __('All Categories')?></span><span class="cate_text"><?php echo __('Category')?></span> <i class="ico16 ml10 mt10 ico-down-arrow"></i></a>	
						</div>
					   	<?php 
							$search_placeholder_txt = __('Enter keywords to search...');
						?>
						<div class="col-lg-8 col-md-8 col-sm-8">
							<input id="searchbox"
								type="text"
								name="<?php /* @escapeNotVerified */ echo $helperSearch->getQueryParamName() ?>"
								
								onfocus="if(this.value=='<?php echo $search_placeholder_txt; ?>') this.value='';" onblur="if(this.value=='') this.value='<?php echo $search_placeholder_txt; ?>';" value="<?php echo $search_placeholder_txt; ?>" 
								onkeyup="keyUpSearchBox();"
								class="input-text input-searchbox"
								maxlength="<?php /* @escapeNotVerified */ echo $helperSearch->getMaxQueryLength();?>"
								role="combobox"
								aria-haspopup="false"
								aria-expanded="true"
								aria-autocomplete="both"
								autocomplete="off"/>
							<!-- <div id="searchbox_autocomplete" class="search-autocomplete"></div> -->
							<div class="actions">
								<button type="submit" title="<?php echo $block->escapeHtml(__('Search')) ?>" class="btn-searchbox">
									<span><?php /* @escapeNotVerified */ echo __('Search'); ?></span>
								</button>
							</div>
						</div>
						<div id="searchbox_autocomplete_custom" class="col-lg-offset-2 col-lg-8 search_autocomplete_custom">
							<div class="bg-white">
								<ul class="search_autocomplete_row">
									<li><span><?php echo __("Keyword"); ?></span></li>
									<li id="related_keyword"></li>
								</ul>
								<ul class="search_autocomplete_row">
									<li><span><?php echo __("Hot Keyword"); ?></span></li>
									<li>
										<?php
											$hotKeywords = $searchHelper->getHotkeywords();
											foreach($hotKeywords as $_key){ ?>
												<p class="search_offer"><a href='<?php echo $block->getUrl('searchproduct/result'); ?>?cat=&q=<?php echo $_key['keyword']; ?>'><?php echo $_key['keyword']; ?></a></p>
											<?php }
										?>
									</li>
								</ul>
								<ul class="search_autocomplete_row">
									<li><span><?php echo __("Category"); ?></span></li>
									<li id="search_in_category"></li>
								</ul>
								<ul class="search_autocomplete_row">
									<li><span><?php echo __("Product"); ?></span></li>
									<li id="hot_search_product"></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		
		<?php
		if ($show_popular) { ?>
			<div class="sm-searchbox-popular">
				<div class="sm-searchbox-popular-title"><?php echo __('Top Search:'); ?></div>
				<div class="sm-searchbox-keyword">
					<?php require('searchbox.form.mini.ajax.phtml'); ?>
				</div>
			</div>
		<?php } ?>
		<?php if($show_advanced){ ?>
			<div class="sm-searchbox-advanced">
				<a href="<?php echo $this->getSearchBoxAdvanced(); ?>"><?php echo __('Advanced ++'); ?></a>
			</div>
		<?php }?>

		<?php
		if(!empty($posttext)){ ?>
			<div class="post-text"><?php echo $posttext; ?></div>
		<?php } ?>
	</div>


<script type="text/javascript">
var isTyping = false;
var so_lan = 0;
var key_word_global = "";
var isShow = false;

function keyUpSearchBox(){
	var keyword = jQuery("#searchbox").val();
	
	if( keyword.length == 0){
		jQuery("#searchbox_autocomplete_custom").hide();
		isShow = false;
	} else if(keyword.length >2){
		getSearchOfferData(keyword);
		jQuery("#searchbox_autocomplete_custom").show();
	}
}

function getSearchOfferData(keyword){
	var ajaxUrl = "<?php echo $block->getUrl('searchproduct/data/getsearchofferdata'); ?>";
	var param = {"keyword": keyword};
	jQuery.ajax({
		url: ajaxUrl,
		data: param,
		method: "post",
		success: function(res){
			var result = JSON.parse(res);

			/* search category */
			var search_category_html = "";
			jQuery(result["categoryNames"]).each(function(i,cateName){
				search_category_html += "<p class='search_offer'><a href='<?php echo $block->getUrl('searchproduct/result'); ?>?cat="+result['categoryIds'][i]+"&q="+keyword+"'><?php echo __('Search'); ?> <span style='font-weight: bold;'>" + keyword + "</span> <?php echo __('in'); ?> <span>" + cateName + "</span></a></p>"
			});
			jQuery("#search_in_category").html(search_category_html);


			/* search product */
			var search_product_html = "";
			jQuery(result["products"]).each(function(i,product){
				if(!product['special_price']){
					search_product_html += "<p class='search_offer'><a href='<?php echo $block->getUrl(); ?>"+product['url_key']+".html'><img src='" +product['small_image']+ "'/>" + product['name'] + " <span class='price'>"+product['price']+"đ</span></a></p>"
				} else {
					search_product_html += "<p class='search_offer'><a href='<?php echo $block->getUrl(); ?>"+product['url_key']+".html'><img src='" +product['small_image']+ "'/>" + product['name'] + " <span class='price'>"+product['special_price']+"đ</span><span class='price_del'> "+product['price']+"đ</span></a></p>"
				}
			});
			jQuery("#hot_search_product").html(search_product_html);
			/* search product - special_price style*/
	

			/* related keyword */
			var related_key_html = "";
			jQuery(result["keywords"]).each(function(i,key){
				related_key_html += "<p class='search_offer'><a href='<?php echo $block->getUrl('searchproduct/result'); ?>?cat=&q="+key+"'>" + key + "</a></p>"
			});
			jQuery("#related_keyword").html(related_key_html);
		}
	});
}

require(["jquery", "mage/template"], function() {
	//<![CDATA[
	jQuery(document).ready(function ($) {
		var searchbox = $('#<?php echo $tag_id;?>');
		var firt_load = <?php echo $limit_popular;?>;

		clickMore($('.sm-searchbox-more', searchbox));
		function clickMore(more)
		{
			more.click(function () {
				var that = $(this);
				var sb_ajaxurl = that.attr('data-ajaxmore');
				var count = that.attr('data-count');
				count = parseInt(count);
				if (firt_load >= count) {
					count = count + parseInt(firt_load);
				}
				$.ajax({
					type: 'POST',
					url: sb_ajaxurl,
					data: {
						is_ajax: 1,
						count_term: count
					},
					success: function (data) {
						$('.sm-searchbox-keyword', searchbox).html(data.htm);
						clickMore($('a.sm-searchbox-more',searchbox));
						$('a.sm-searchbox-more', searchbox).attr({
							'data-count': count + parseInt(firt_load)
						});
					},
					dataType: 'json'
				});
			});
		}

		$(document).on("click",function(e){
			if(!e.target.id.indexOf("searchbox_autocomplete_custom")> -1){
				jQuery('#searchbox_autocomplete_custom').hide();
				isShow = false;
			}
		})
	});
	//]]>
});
</script>
