<style>
    .print{
        display:none;
    }
</style>
<?php
/** @var Magento\Framework\View\Element\Html\Link\Current $block */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$authorizationLink = $objectManager->get("Override\Customer\Block\Account\AuthorizationLink");
$switcher = $objectManager->get("Magento\Store\Block\Switcher");
$sellerManager = $objectManager->get("Libero\Customer\Block\Seller\Manager");
$aclAccountSeler = $objectManager->get("\Libero\Customer\Model\Account");
$customer = $objectManager->get("\Magento\Customer\Block\Account\Dashboard\Info");
$sellerData = null;
$sellerStoreDetail = null;
$status = 0;
$isAclOfSeller = false;
if ($authorizationLink->isLoggedIn()){
	$sellerData = $sellerManager->getSellerDetail();
	$sellerId = $sellerData->getData("id_seller_company");
	$sellerStoreDetail = $sellerManager->getSellerHaveCreatedStore($sellerId);
	$status = $sellerData->getData("status");
	$id_customer = $customer->getCustomer()->getId();
	$dataAccount = $aclAccountSeler->load($id_customer,"id_customer");
	if($dataAccount->getId())
	{
		$isAclOfSeller = true;
	}
}
$helperData = $objectManager->get("\Libero\Customer\Helper\Data");
$isDesktop = $helperData->detectMobile();

$scopeConfig = $objectManager->get("\Magento\Framework\App\Config\ScopeConfigInterface");
$storePhone = $scopeConfig->getValue("general/store_information/phone");
?>
<style>
	.goog-te-gadget-icon{
		display:none !important;
	}
	.goog-te-gadget-simple {
		background-color: inherit !important;
		border-left: 0 !important;
		border-top: 0 !important;
		border-bottom: 0 !important;
		border-right: 0 !important;
		font-size: 10pt !important;
		display: inline-block !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		cursor: pointer !important;
		zoom: 1 !important;
		*display: inline !important;
	}
	.goog-te-gadget-simple .goog-te-menu-value{
		color:white !important;
	}
</style>
<div style="width:100%;"><button type="button" onclick="fnShowMenu();" class="showMenuTop" style="padding:0px !important;"></button></div>
<div id="top-menu">
	<div class="toplinks-header-link-custom">
		<?php if ($isDesktop){ ?>
		<ul>
			<!-- <li>
				<a href="<?php echo $block->getUrl('marketplace/store'); ?>"><?php echo __("Marketplace"); ?></a>
			</li> -->

	<?php if (count($switcher->getStores())>1): ?>
		<li>
			<div class="switcher language switcher-language" data-ui-id="language-switcher" id="google_translate_element">
			</div>
		</li>
	<?php endif; ?>
			<li>
				<a href="#" class="dropdown-cus-title"><?php echo __("Support center"); ?></a>
				<div class="tooltip-cus support-center">
					<div class="scenter-title">
						<p>Hotline</p>
						<p><a href="tel:<?php echo $storePhone; ?>" class="phone-link"><?php echo $storePhone; ?></a></p>
					</div>
					<a href="<?php echo $block->getUrl('customer-services'); ?>"><?php echo __("Customer service"); ?></a>
				</div>
			</li>
			<!--<li>
				<a href="#" class="dropdown-cus-title"><?php echo __("Order checking");?></a>
				<div class="tooltip-cus order-search">
					<div class="osearch-title"><p><?php echo __("ORDER CHECKING");?></p></div>
					<form action="">
						<input type="text" placeholder=" <?php echo __('Your email'); ?> " />
						<input type="text" placeholder=" <?php echo __('Your order ID'); ?> " />
						<button type="submit"><?php echo __("Search");?></button>
					</form>
				</div>
			</li>-->
			<!-- <li><a href="#">Người bán</a></li> -->
			<!--<li><a href="#"><?php echo __("FAQ");?></a></li>-->
			<?php if ($authorizationLink->isLoggedIn()){ ?>
				<?php if($status == 1 && count($sellerStoreDetail->getData()) <= 0 || $isAclOfSeller == true){ ?>
					<li class="customer-page"><a href="<?php echo $block->getUrl('customer/admin/index'); ?>"><?php echo __("Admin Shop"); ?></a></li>
					<li class="customer-page"><a href="<?php echo $block->getUrl('marketplace/store/store') . 'id_seller/' . $sellerId ; ?>"><?php echo __("My Shop"); ?></a></li>
				<?php } else if ($status == 0 && $sellerId){ ?>
					<li class="customer-page"><a href="#" class="username-btn"><?php echo __("Waiting for Approval")?></a></li>
				<?php } ?>			
				<li class="customer-page"><a href="<?php echo $block->getUrl(); ?>/customer/account/" class="username-btn"><?php echo __("My Page")?></a></li>
				<!-- <li><button type="button" onclick="fnShowPopup('customer-register-pop');">Đăng ký/Đăng nhập</button></li> -->
			<?php } ?>
		</ul>
		<?php }else{ ?>
			<ul>
				<li>
					<a href="<?php echo $block->getUrl('marketplace/store'); ?>"><?php echo __("Marketplace"); ?></a>
				</li>
					<?php if (count($switcher->getStores())>1): ?>
						<li>
							<?php
							$id = $switcher->getIdModifier() ? '-' . $switcher->getIdModifier() : ''?>
							<div class="switcher language switcher-language" data-ui-id="language-switcher" id="switcher-language<?php /* @escapeNotVerified */ echo $id?>">
								<!-- <strong class="label switcher-label"><span><?php /* @escapeNotVerified */ echo __('Language') ?></span></strong> -->
								<div class="actions dropdown options switcher-options dropdown-cus-title">
									<div class="action toggle switcher-trigger" id="switcher-language-trigger<?php /* @escapeNotVerified */ echo $id?>">
										<strong style="background-image:url('<?php /* @escapeNotVerified */ echo $switcher->getViewFileUrl('images/flags/flag_' . $switcher->getCurrentStoreCode() . '.png') ?>');" class="view-<?php echo $switcher->escapeHtml($switcher->getCurrentStoreCode()) ?>">
											<span><?php echo $switcher->escapeHtml($switcher->getStoreName()) ?></span>
										</strong>
									</div>
									<ul class="dropdown-cus">
										<?php foreach ($switcher->getStores() as $_lang): ?>
											<?php if ($_lang->getId() != $switcher->getCurrentStoreId()): ?>
												<li class="view-<?php echo $switcher->escapeHtml($_lang->getCode()); ?> switcher-option">
													<a style="background-image:url('<?php /* @escapeNotVerified */ echo $switcher->getViewFileUrl('images/flags/flag_' . $_lang->getCode() . '.png') ?>');" href="#" data-post='<?php /* @escapeNotVerified */ echo $switcher->getTargetStorePostData($_lang); ?>'>
														<?php echo $switcher->escapeHtml($_lang->getName()) ?></a>
												</li>
											<?php endif; ?>
										<?php endforeach; ?>
									</ul>
								</div>
							</div>
						</li>
					<?php endif; ?>
				<li>
					<a href="#" class="dropdown-cus-title"><?php echo __("Support center"); ?></a>
					<div class="tooltip-cus support-center">
						<div class="scenter-title">
							<p>Hotline</p>
							<h3 style="font-size:25px;"><a href="tel:<?php echo $storePhone; ?>" class="phone-link"><?php echo $storePhone; ?></a></h3>
						</div>
						<a href="<?php echo $block->getUrl('customer-services'); ?>"><?php echo __("Customer service"); ?></a>
					</div>
				</li>
				<?php if ($authorizationLink->isLoggedIn()){ ?>
					<?php if($status == 1 && count($sellerStoreDetail->getData()) <= 0 || $isAclOfSeller == true){ ?>
						<li class="customer-page"><a href="<?php echo $block->getUrl('customer/admin/index'); ?>"><?php echo __("Admin Shop"); ?></a></li>
						<li class="customer-page"><a href="<?php echo $block->getUrl('marketplace/store/store') . 'id_seller/' . $sellerId ; ?>"><?php echo __("My Shop"); ?></a></li>
					<?php } else if ($status == 0 && $sellerId){ ?>
						<li class="customer-page"><a href="#" class="username-btn"><?php echo __("Waiting for Approval")?></a></li>
					<?php } ?>			
					<li class="customer-page"><a href="<?php echo $block->getUrl(); ?>/customer/account/" class="username-btn"><?php echo __("My Page")?></a></li>
					<!-- <li><button type="button" onclick="fnShowPopup('customer-register-pop');">Đăng ký/Đăng nhập</button></li> -->
				<?php } ?>
		</ul>
		<?php } ?>
	</div>
</div>





<!-- popup -->
<div class="layer-popup" id="customer-register-pop">
	<div class="popup style2">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8">
				<div class="popup-title">
					<button type="button" class="close-popup" onclick="fnClosePopup();"><i class="ico16 ico-close"></i></button>
					<ul class="tabs-cus" tab-content-id="customer-register-tabs">
						<li class="tab-cus on"><?php echo __('Login')?></li>
						<li class="tab-cus"><?php echo __('Register')?></li>
					</ul>
					<ul class="tabs-cus-cnt" id="customer-register-tabs">
						<li class="tab-cus-cnt on">
							<form>
								<input type="text" placeholder="<?php echo __('Email')?>" />
								<input type="text" placeholder="<?php echo __('Password')?>" />
								<div class="checkbox-cus">
									<input type="checkbox" id="remember">
									<label class="show-checkbox-cus" for="remember"></label>
									<label for="remember" class="light-label"><?php echo __('Remember')?></label>
								</div>
								<a href="#" class="link-btn fr mtb10 bold600"><?php echo __('Forget password')?></a>
								<button type="submit" class="popup-btn"><?php echo __('Login')?></button>
							</form>
							<div class="alternative-btns">
								<span class="or">Hoặc</span>
								<button type="button" class="popup-btn blue-btn"><?php echo __('Login with Facebook')?></button>
								<button type="button" class="popup-btn red-btn mt10"><?php echo __('Login with Google+')?></button>
							</div>
						</li>

						<li class="tab-cus-cnt">
							<form>
								<input type="text" placeholder="<?php echo __('Email')?>" />
								<input type="text" placeholder="<?php echo __('Password length from 6 - 20 characters. Including both words and number')?>" />
								<input type="text" placeholder="<?php echo __('please input password again')?>" />
								<div class="checkbox-cus">
									<label>
										<input type="checkbox" id="receiver-newsletter">
										<label class="show-checkbox-cus" for="receiver-newsletter"></label>
										<label for="receiver-newsletter" class="light-label"><?php echo __('Receive lastest sales news from Wholesales.vn')?></label>
									</label>
								</div>
								<button type="submit" class="popup-btn"><?php echo __('Done')?></button>
							</form>
							<p class="term-conditions"> <?php echo __('By register new account') ?>, <?php echo __('you are agree with')?> <br/> <a href="#" class="link-btn"><?php echo __('Terms and Privacys')?></a> <?php echo __('and')?> <a href="#" class="link-btn"><?php echo __('Terms of secure')?></a> <?php echo __('of WHOLESALE.vn')?>
							</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<?php echo $block->getLayout()->createBlock("Magento\Cms\Block\Block")->setBlockId("customer-register-banner-img")->toHtml(); ?>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'vi', includedLanguages: 'en,ja,ko,vi,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script>
function fnShowMenu() {
	jQuery("#top-menu").slideToggle(300);
}

</script>

<style>

@media (min-width: 768px)  {
	.showMenuTop{
		display:none;
	}
}

.phone-link {line-height: 1.66; font-size: 16px !important; margin-bottom: 5px; font-weight: bold; padding: 0 !important;}

</style>