<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Downloadable\Block\Sales\Order\Item\Renderer\Downloadable */
?>
<?php $_item = $block->getItem() ?>
<tr id="order-item-row-<?php /* @escapeNotVerified */ echo $_item->getId() ?>">
    <td class="col ordered-detail" data-th="<?php echo $block->escapeHtml(__('Ordered Detail')); ?>">
        <!-- SKU -->
        <p class="item-sku"><span class="title">SKU</span> <?php /* @escapeNotVerified */ echo $block->prepareSku($block->getSku()) ?></p>

        <!-- QTY -->
        <ul class="items-qty">
            <?php if ($block->getItem()->getQtyOrdered() > 0): ?>
                <li class="item">
                    <span class="title"><?php /* @escapeNotVerified */ echo __('Ordered'); ?></span>
                    <span class="content"><?php /* @escapeNotVerified */ echo $block->getItem()->getQtyOrdered()*1 ?></span>
                </li>
            <?php endif; ?>
            <?php if ($block->getItem()->getQtyShipped() > 0): ?>
                <li class="item">
                    <span class="title"><?php /* @escapeNotVerified */ echo __('Shipped'); ?></span>
                    <span class="content"><?php /* @escapeNotVerified */ echo $block->getItem()->getQtyShipped()*1 ?></span>
                </li>
            <?php endif; ?>
            <?php if ($block->getItem()->getQtyCanceled() > 0): ?>
                <li class="item">
                    <span class="title"><?php /* @escapeNotVerified */ echo __('Canceled'); ?></span>
                    <span class="content"><?php /* @escapeNotVerified */ echo $block->getItem()->getQtyCanceled()*1 ?></span>
                </li>
            <?php endif; ?>
            <?php if ($block->getItem()->getQtyRefunded() > 0): ?>
                <li class="item">
                    <span class="title"><?php /* @escapeNotVerified */ echo __('Refunded'); ?></span>
                    <span class="content"><?php /* @escapeNotVerified */ echo $block->getItem()->getQtyRefunded()*1 ?></span>
                </li>
            <?php endif; ?>
        </ul>

        <!-- item-total-price -->
        <p class="item-total-price">
            <span class="title"><?php /* @escapeNotVerified */ echo __('Price'); ?></span>
            <?php echo $block->getItemRowTotalHtml(); ?>
        </p>
    </td>

    <td class="col name" data-th="<?php echo $block->escapeHtml(__('Product Name')); ?>">
         <div class="product-item-photo">
            <img src="<?php  echo $block->getProductImage(200,200)->getUrl(); ?>" alt="">
        </div>
        <div class="product-item-details">
            <strong class="product name product-item-name"><?php echo $block->escapeHtml($_item->getName()) ?></strong>
            <?php if ($_options = $block->getItemOptions()): ?>
                <dl class="item-options links">
                    <?php foreach ($_options as $_option) : ?>
                        <dt><?php echo $block->escapeHtml($_option['label']) ?></dt>
                        <?php if (!$block->getPrintStatus()): ?>
                            <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                            <dd<?php if (isset($_formatedOptionValue['full_view'])): ?> class="tooltip wrapper"<?php endif; ?>>
                                <?php /* @escapeNotVerified */ echo $_formatedOptionValue['value'] ?>
                                <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                    <div class="tooltip content">
                                        <dl class="item options">
                                            <dt><?php echo $block->escapeHtml($_option['label']) ?></dt>
                                            <dd><?php /* @escapeNotVerified */ echo $_formatedOptionValue['full_view'] ?></dd>
                                        </dl>
                                    </div>
                                <?php endif; ?>
                            </dd>
                        <?php else: ?>
                            <dd>
                                <?php echo nl2br($block->escapeHtml((isset($_option['print_value']) ? $_option['print_value'] : $_option['value']))) ?>
                            </dd>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </dl>
            <?php endif; ?>
            <?php /* downloadable */ ?>
            <?php if ($links = $block->getLinks()): ?>
                <dl class="item-options links">
                    <dt><?php /* @escapeNotVerified */ echo $block->getLinksTitle() ?></dt>
                    <?php foreach ($links->getPurchasedItems() as $link): ?>
                        <dd><?php echo $block->escapeHtml($link->getLinkTitle()); ?></dd>
                    <?php endforeach; ?>
                </dl>
            <?php endif; ?>
            <?php /* EOF downloadable */ ?>
            <?php $addtInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
            <?php if ($addtInfoBlock) :?>
                <?php echo $addtInfoBlock->setItem($_item)->toHtml(); ?>
            <?php endif; ?>
            <?php echo $block->escapeHtml($_item->getDescription()) ?>
        </div>
    </td>
</tr>
