<?php
/** @var \Libero\Onestepcheckout\Block\Cart $block */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$unserializer = $objectManager->get("\Magento\Framework\Unserialize\Unserialize");


$quote = $block->getCheckoutSession()->getQuote();
$appliedRuleIds = explode(",", $quote->getAppliedRuleIds());
$ruleNames = [];
foreach($appliedRuleIds as $id) {
    $quoteResult = $block->getQuoteInfoById($id);
    $quoteInfo = $quoteResult["quote"];
    $conditions_serialized = $quoteInfo["conditions_serialized"];
    array_push($ruleNames, $quoteInfo->getName());
}

$totalItems = $quote->getItemsCount();
$items = $quote->getAllItems();
$baseTotal =  $quote->getGrandTotal();
$subToTal = $quote->getSubtotal();

$addressShippingQuote = $quote->getShippingAddress();
$priceShipping = $addressShippingQuote->getData("base_shipping_amount");
$shipping_description = $addressShippingQuote->getData("shipping_description");
$grandTotal = $baseTotal;
$modelShippingSeller  = $objectManager->get('\Libero\Onestepcheckout\Model\Shipping');
$array_shipping = $block->getShippingBySeller();
$helperCheckout = $objectManager->get("\Libero\Onestepcheckout\Helper\Data");
$list_shipping = $helperCheckout->getListShipingFromQuote($quote->getId());
$customerData = $block->getCustomerData();
$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');
$blockOrder = $objectManager->get("Libero\Customer\Block\Adminhtml\Provider\Order");
$baseSubtotal = $quote->getBaseSubtotal();
$baseSubtotalWithDiscount = $quote->getBaseSubtotalWithDiscount();
$discountAmount = $baseSubtotal - $baseSubtotalWithDiscount;
$sum_tax = 0;
$percent = 0;
$name_tax =  "";

?>
<style>
    .opc-summary-wrapper{
        margin-top: 40px;
    }
    .checkout-container .opc-sidebar .modal-content .opc-block-summary>.title{
        background: #354157;
        font-family: "DIN Condensed Bold", "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif !important;
        color: #ffffff;
        font-size: 17px;
        padding: 8px;
        font-weight:normal;
    }
    .checkout-container .opc-sidebar .modal-content .opc-block-summary{
        padding:0 !important;
    }
    .table-totals{
        padding:16px;
        font-family: "DINOT Regular", "Helvetica Neue", Verdana, Arial, sans-serif;
    }
    .shipping-information-content{
        font-family: "DINOT Regular", "Helvetica Neue", Verdana, Arial, sans-serif;
    }
    .mark{
        font-size:15px;
        text-align:right;
    }
    .amount .price{
        font-size:15px;
        font-weight:bold;
    }
    .opc-block-summary .totals .amount {
        width: 50%;
    }
    .opc-block-summary .totals .mark {
        width: 50%;
        text-align: left;
    }
    .amount{
        text-align:right !important;
        width:100%;
    }
    #next{
        background-color: #f36525;
        width:100%;
    }
    #edit-cart{
        background-color: #f36525;
        width:100%;
    }
    #next:hover{
        background: #354157;
    }
    #edit-cart:hover{
        background: #354157;
    }
    #back{
        background-color: #f36525;
    }
    #back:hover{
        background: #354157;
    }
    .placeorder-checkout{
        background-color: #f36525;
    }
    .placeorder-checkout:hover{
        background: #354157;
    }
    .checkout-payment-method .payment-method-content > .actions-toolbar > .primary .action.primary {
        padding: 10px 15px;
        height: 100%;
    }

    .discountName {font-size: 13px; font-style: italic;}
</style>
<div class="opc-block-summary" id="block-right-summary" data-bind="blockLoader: isLoading">
    <span data-bind="i18n: 'Order Summary'" class="title"><?php echo __("Order Summary") ?></span>
    <table class="data table table-totals" style="display: block">
        <caption class="table-caption" data-bind="i18n: 'Order Summary'"><?php echo __("Order Summary") ?></caption>
        <tbody>
        <tr class="totals sub">
            <th class="mark" scope="row"><?php echo __("Cart Subtotal") ?></th>
            <td class="amount">
                <span class="price" data-bind="text: getValue(), attr: {'data-th': title}" data-th="Cart Subtotal"><?php echo $blockOrder->formartPrice($subToTal); ?></span>
            </td>
        </tr>
        <?php if($discountAmount >0 ) { ?>
            <tr class="totals shipping excl">
                <th class="mark" scope="row">
                    <span class="label"><strong style="font-weight:bold"><?php echo __("Discount"); ?></strong></span>
                    <?php foreach($ruleNames as $name) { ?>
                        <p class="discountName">(<?php echo $name; ?>)</p>
                    <?php } ?>
                    
                </th>
                <td class="amount">
                    <span class="price base-color">- <?php echo $blockOrder->formartPrice($discountAmount); ?></span>
                </td>
            </tr>
        <?php } ?>
        <tr class="totals shipping excl">
            <th class="mark" scope="row">
                <span class="label"><strong style="font-weight:bold"><?php echo __("Shipping") ?></strong></span>
            </th>
            <td class="amount">
            </td>
        </tr>
        <?php
        $s = 0;
        foreach($list_shipping as $_shiping){
            //$fee =  $_shiping["fee_shipping"];
            $fee =  $_shiping["sum_fee_shipping"];
            $name_shipping = $_shiping['name_shipping'];
            //$grandTotal += $fee;
            ?>
            <tr class="totals shipping excl">
                <th class="mark" scope="row">
                    <span class="label"><?php echo $name_shipping ?></span>
                </th>
                <td class="amount">
                    <span class="price"><?php echo $blockOrder->formartPrice($fee); ?></span>
                </td>
            </tr>
        <?php
            $s++;
        }
        ?>
        <?php foreach($items as $_item){ ?>
            <?php 
               $tax_number =  round($_item->getData("base_tax_amount"),0);
               $sum_tax += $tax_number;
               $percent = 10;
               $name_tax = "VAT"
            ?>
        <?php } ?>

        <?php if($sum_tax > 0 ){ ?>
            <tr class="totals shipping excl">
                <th class="mark" scope="row">
                    <span class="label"><strong style="font-weight:bold"><?php echo __("Tax") ?></strong></span>
                </th>
                <td class="amount">
                </td>
            </tr>
            <tr class="grand totals">
                <th class="mark" scope="row">
                    <span class="label"><?php echo $name_tax  ?> <?php echo $percent."%" ?></span>
                </th>
                <td class="amount" data-th="Order Total">
                    <strong><span class="price" data-bind="text: getValue()"><?php echo $blockOrder->formartPrice($sum_tax); ?></span></strong>
                </td>
            </tr>
        <?php } ?>
        <tr class="grand totals" style="border-top:1px solid black">
            <th class="mark" scope="row">
                <strong><?php echo __("Order Total") ?></strong>
            </th>
            <td class="amount" data-th="Order Total">
                <strong><span class="price" data-bind="text: getValue()"><?php echo $blockOrder->formartPrice($grandTotal); ?></span></strong>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="vat-wraper" id="vat" style="text-align: center;display:none">
        <input type="checkbox" class="" name="export_vat" id="export_vat"/> <?php echo __("Yêu cầu xuất hóa đơn (Đã bao gồm VAT)") ?>
        <table id="block-vat" style="display:none">
            <tr>
                <td><?php echo __("Tên công ty"); ?></td>
                <td>
                    <input type="text" value="" name="name_company" id="name_company" />
                </td>
            </tr>
            <tr>
                <td><?php echo __("Mã số thuế"); ?></td>
                <td>
                    <input type="text" value="" name="company_code" id="company_code" />
                </td>
            </tr>
            <tr>
                <td><?php echo __("Địa chỉ"); ?></td>
                <td>
                    <textarea name="address_company" id="address_company"></textarea>
                </td>
            </tr>
        </table>
    </div>
    <div class="actions-toolbar" id="shipping-method-buttons-container">
        <div class="primary" style='width: 100%;padding: 16px;'>
            <?php
                $blockAddress = $objectManager->get("\Libero\Onestepcheckout\Block\Address");
                $arrayAddress = $blockAddress->getArrayAddress($customerData->getId());
                $countAddress = count($arrayAddress);
                if($countAddress > 0):
            ?>
            <button style='display:block' id="next" type="button" class="button action continue primary">
                <span><span><?php echo __("Next"); ?></span></span>
            </button>
                <p style='display:block;width:100%; padding-top: 10px; overflow: hidden;'><?php echo __("OR"); ?></p>
                <?php endif; ?>
            <button style='display:block' id="edit-cart" type="button" class="button action edit primary">
                <span><span><?php echo __("Edit Cart"); ?></span></span>
            </button>
        </div>
    </div>
</div>
<?php
$shipToFirstName = $addressShippingQuote->getData("firstname");
$shipToLastName = $addressShippingQuote->getData("lastname");
$shipToStreet = $addressShippingQuote->getData("street");
$shipToCity = $addressShippingQuote->getData("city");
$shipToRegion = $addressShippingQuote->getData("region");
$shipToPostCode = $addressShippingQuote->getData("postcode");
$shipToPhone = $addressShippingQuote->getData("telephone");
?>
<div class="opc-block-shipping-information" id="opc-block-shipping-information-addition" style="display: none;">
    <div class="shipping-information">
        <div class="ship-to">
            <div class="shipping-information-title">
                <span data-bind="i18n: 'Ship To:'"><?php echo __("Ship To"); ?></span>
            </div>
            <div class="shipping-information-content">
                <?php echo $shipToFirstName; ?>
                <?php echo $shipToLastName; ?><br>
                <?php echo $shipToStreet; ?><br>
                <?php echo $shipToCity; ?>,<?php echo $shipToRegion; ?><?php echo $shipToPostCode; ?><br>
                Việt Nam<br>
                <?php echo $shipToPhone; ?><br>
            </div>
        </div>
    </div>
</div>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$urlLoading = $media_url;
?>
<script>
require([
    "jquery"
],function($){
    function addLoadingBody(){
        $("body").css("position","relative");
        $htmlLoading = '<div data-role="loader" class="loading-mask" style="position: fixed;">' +
            '<div class="loader"> <img src="<?php echo $urlLoading; ?>loader-1.gif" alt="Loading..." style="position: absolute;"> </div>' +
            '</div>'
        $("body").append($htmlLoading);
    }
    function removeLoadingBody(){
        $("body").find(".loading-mask").remove();
    }
    function hideSectionShipping(){
        $("#shipping").hide();
        $("#opc-shipping_method").hide();
        $("#shipping-method-buttons-container").hide();
    }
    
    $(function(){

        $("#export_vat").click(function(){
            if($(this).hasClass("active")){
                $("#block-vat").hide();
                $(this).removeClass('active');
            }else{
                $("#block-vat").show();
                $(this).addClass('active');
            }
        });
        $("#next").click(function(){
            addLoadingBody();
            $.ajax({
                url: '<?php echo $block->getCustomCheckOutUrl(); ?>',
                method: "POST",
                success: function (data) {
                    $("#right-sider").html($(data).find("#right-sider").html());
                    //Make complete shipping
                    $("#shipping_process").removeClass("_active");
                    $("#shipping_process").addClass("_complete");
                    hideSectionShipping();
                    //Reload summary
                    $(".table-totals").show();
                    $("#opc-block-shipping-information-addition").show();
                    $("#vat").show();
                    //Call payment method
                    $("#payment").show();
                    $("#payment_process").addClass("_active");
                    removeLoadingBody();
                    jQuery("#vat").show();
                }
            });
        });

        $("#edit-cart").click(function(){
            window.location.href= "<?php echo $block->getUrl("checkout/cart/"); ?>";
        });
    });
})
</script>

