<?php
$url_export_excel = $block->getUrlExport();
?>
<main id="anchor-content" class="page-content">
	<div id="page:main-container" class="page-columns">
		<div class="admin__old">
			<div id="container" class="main-col">
				<div class="entry-edit form-inline">
					<form id="edit_form" action="#" method="post" novalidate="novalidate">
						<div><input name="form_key" type="hidden" value="owAqBWdvBrKhUjQM"></div>
						<fieldset class="fieldset admin__fieldset " id="base_fieldset">
							<legend class="admin__legend legend">
								<span>Export Settings</span>
							</legend>
							<br>
							<div class="messages">
							</div>
							<div class="admin__field field field-entity " data-ui-id="export-form-container-form-fieldset-element-form-field-entity">
								<label class="label admin__field-label" for="entity" data-ui-id="export-form-container-form-fieldset-element-select-entity-label"><span>Entity Type</span></label>
								<div class="admin__field-control control">
									<select id="entity" name="entity" title="Entity Type" onchange="varienExport.getFilter();" class=" select admin__control-select" data-ui-id="export-form-container-form-fieldset-element-select-entity">
										<option value="" selected="selected">-- Please Select --</option>
										<!--<option value="advanced_pricing">Advanced Pricing</option>-->
										<option value="catalog_product">Products</option>
										<!--<option value="customer">Customers Main File</option>
										<option value="customer_address">Customer Addresses</option>-->
									</select>
								</div>
							</div>
							<div class="admin__field field field-file_format " data-ui-id="export-form-container-form-fieldset-element-form-field-file-format">
								<label class="label admin__field-label" for="file_format" data-ui-id="export-form-container-form-fieldset-element-select-file-format-label"><span>Export File Format</span></label>
								<div class="admin__field-control control">
									<select id="file_format" name="file_format" title="Export File Format" class=" select admin__control-select" data-ui-id="export-form-container-form-fieldset-element-select-file-format">
										<option value="csv">XLSX</option>
									</select>
								</div>
							</div>
                            <div class="admin__field field field-file_format " data-ui-id="export-form-container-form-fieldset-element-form-field-file-format">
								<div class="admin__field-control control">
									<a href="<?php echo $url_export_excel;  ?>"  target="_blank" id="dowload-excel">Dowload</a>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>