<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @see \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_config = $this->helper('Sm\Market\Helper\Data');

if (!$this->_getConfig('isactive', 1)) return;
use Magento\Framework\App\Action\Action;
$start = microtime(true);
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>

<?php if (!$_productCollection->count()): ?>
<p class="message note"><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></p>
<?php else: ?>
    <?php if (!$this->getRequest()->isAjax()): ?>
        <div id="ajax-errors" style="display: none;">
            <ul class="messages">
                <li class="error-msg">
                    <ul>
                        <li><span><?php echo __('An error occurred, please try again later.'); ?></span></li>
                    </ul>
                </li>
            </ul>
        </div>
    <?php endif; ?>
<div id="catalog-listing">	
<div class="toolbar-top">
<?php echo $block->getToolbarHtml() ?>
</div>
<?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
	$pos = $block->getPositioned();
?>
	<div class="category-product products  wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>">
			<?php $iterator = 1;?>
			
			<?php if ($viewMode == 'grid') {?>
				<ol class="products list items product-items row">
				<?php foreach ($_productCollection as $_product): ?>
					<li class="item product product-item">
						<div class="product-item-info">
							<div class="item-inner">
								<div class="box-image">
									<?php $productImage = $block->getImage($_product, $image); ?>

									<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
										<?php echo $productImage->toHtml(); ?>
									</a>
									
									<!--LABEL PRODUCT-->

										<?php
										$specialprice = $_product->getSpecialPrice();
										$specialPriceFromDate = $_product->getSpecialFromDate();
										$specialPriceToDate = $_product->getSpecialToDate();
										
										$today = time();

										if (!$_product->getIsSalable()){ ?>
											<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Sold out') ?></span></div>
										<?php } else if ($specialprice && $_config->getAdvanced('show_salelabel')) {
											if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)) { 
												$specialPercentage = 100;
                                        		if ($_product->getPrice() > 0) {
													$specialPercentage = 100 - round($_product->getSpecialPrice() / $_product->getPrice()*100);
												}
												if($specialPercentage > 0) { ?>
													<div class="label-product label-sale">
														<span class="sale-product-icon">
															<?php echo __('Sale') . " $specialPercentage%"; ?>
														</span>
													</div>
												<?php } 
											}
										} ?>
										
										<?php
										$now = date("Y-m-d");
										$newsFrom = substr($_product->getNewsFromDate(), 0, 10);
										$newsTo = substr($_product->getNewsToDate(), 0, 10);
										
										
										if (($newsTo != '' || $newsFrom != '') && $_config->getAdvanced('show_newlabel')) {
											if (($newsTo != '' && $newsFrom != '' && $now >= $newsFrom && $now <= $newsTo) || ($newsTo == '' && $now >= $newsFrom) || ($newsFrom == '' && $now <= $newsTo)) {?>
													<div class="label-product label-new">
														<span class="new-product-icon"><?php echo __('New'); ?></span>
													</div>
											<?php }
										} ?>
										
										
									<!--END LABEL PRODUCT-->
								</div>
								
								<div class="product details product-item-details box-info">
									<?php
										$_productNameStripped = $block->stripTags($_product->getName(), null, true);
									?>
									<h2 class="product name product-item-name product-name">
										<a class="product-item-link"
										   href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
											<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
										</a>
									</h2>
									
									<?php echo $block->getReviewsSummaryHtml($_product, $templateType,true); ?>
									<?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
									<?php echo $block->getProductDetailsHtml($_product); ?>
									
									<div class="bottom-action">
										<?php if($_config->getAdvanced('show_addtocart_button')){?>
										<div class="actions-primary">
											<?php if ($_product->isSaleable()): ?>
												<?php $postParams = $block->getAddToCartPostParams($_product); ?>
												<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
													<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
													<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
													<?php echo $block->getBlockHtml('formkey')?>
													<!-- <button type="submit" title="<?php echo $block->escapeHtml(__('Add to cart')); ?>" class="action tocart primary btn-action btn-cart">
														<span><?php /* @escapeNotVerified */ echo __('Add to cart') ?></span>
													</button> -->
												</form>
											<?php else: ?>
												<?php if ($_product->getIsSalable()): ?>
													<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
												<?php else: ?>
													<!-- <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div> -->
												<?php endif; ?>
											<?php endif; ?>
										</div>	
										<?php } ?>
										
									</div>
								</div>
							</div>
						</div>
					</li>
				<?php endforeach; ?>
				</ol>
			<?php } else {?>
				<ol class="products list items product-items">
					<?php foreach ($_productCollection as $_product): ?>
						<li class="item respl-item-list product product-item">
							<div class="product-item-info" data-container="product-grid">
								<div class="item-inner">
									<div class="box-image-list">
										<?php
											$productImage = $block->getImage($_product, $image);
										?>
										
										<!--LABEL PRODUCT-->

											<?php
												$specialprice = $_product->getSpecialPrice();
												$specialPriceFromDate = $_product->getSpecialFromDate();
												$specialPriceToDate = $_product->getSpecialToDate();
												
												$today = time();

												if (!$_product->getIsSalable()){ ?>
													<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Sold out') ?></span></div>
												<?php } else if ($specialprice && $_config->getAdvanced('show_salelabel')) {
													if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)) { 
														$specialPercentage = 100;
                                        				if ($_product->getPrice() > 0) {
															$specialPercentage = 100 - round($_product->getSpecialPrice() / $_product->getPrice()*100);
														}
														if($specialPercentage > 0) { ?>
															<div class="label-product label-sale">
																<span class="sale-product-icon">
																	<?php echo __('Sale') . " $specialPercentage%"; ?>
																</span>
															</div>
														<?php } 
													}
												} 
											?>
											
											<?php
											$now = date("Y-m-d");
											$newsFrom = substr($_product->getNewsFromDate(), 0, 10);
											$newsTo = substr($_product->getNewsToDate(), 0, 10);
											
											
											if (($newsTo != '' || $newsFrom != '') && $_config->getAdvanced('show_newlabel')) {
												if (($newsTo != '' && $newsFrom != '' && $now >= $newsFrom && $now <= $newsTo) || ($newsTo == '' && $now >= $newsFrom) || ($newsFrom == '' && $now <= $newsTo)) {?>
														<div class="label-product label-new">
															<span class="new-product-icon"><?php echo __('New'); ?></span>
														</div>
												<?php }
											} ?>
											
											
										<!--END LABEL PRODUCT-->

										<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
												<?php echo $productImage->toHtml(); ?>
										</a>

									</div>
									
									<div class="product details product-item-details box-info-list">
										<?php
											$_productNameStripped = $block->stripTags($_product->getName(), null, true);
										?>
										<h2 class="product name product-item-name product-name">
											<a class="product-item-link" href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
												<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
											</a>
										</h2>
										
										<?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
										<?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
										<?php echo $block->getProductDetailsHtml($_product); ?>

										<div class="product-item-inner">
											<?php if ($showDescription):?>
												<div class="product description product-item-description">
													<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
													<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php /* @escapeNotVerified */ echo $_productNameStripped ?>"
													   class="action more"><?php /* @escapeNotVerified */ echo __('Learn More') ?></a>
												</div>
											<?php endif; ?>
										</div>
										
										<div class="bottom-action">
											<?php if($_config->getAdvanced('show_addtocart_button')){?>
												<?php if ($_product->isSaleable()): ?>
													<?php $postParams = $block->getAddToCartPostParams($_product); ?>
													<!-- <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
														<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
														<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
														<?php echo $block->getBlockHtml('formkey')?>
														<button type="submit" title="<?php echo $block->escapeHtml(__('Add to cart')); ?>" class="action tocart btn-action btn-cart">
															<span><?php /* @escapeNotVerified */ echo __('Add to cart') ?></span>
														</button>
													</form> -->
												<?php else: ?>
													<?php if ($_product->getIsSalable()): ?>
														<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
													<?php else: ?>
														<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
													<?php endif; ?>
												<?php endif; ?>
											<?php } ?>
											
										
										</div>
									</div>
								</div>
							</div>
						</li>
					<?php endforeach; ?>
				</ol>
			<?php } ?>
	</div>
<div class="toolbar-bottom">
<?php echo $block->getToolbarHtml() ?>
</div>
<?php endif; ?>
</div>
<script type="text/javascript">
	require([
		"jquery"
	], function ($) {
		$(document).ready(function($){
			$("#sorter").removeAttr("data-role");
			$("#limiter").removeAttr("data-role");
			$("#mode-list").removeAttr("data-role");
			$(".sorter-action").removeAttr("data-role");
		});
	});
</script>


