<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View*/
?>
<?php
$_product = $block->getProduct();
$_wishlistSubmitParams = $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($_product);
$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
$_config = $this->helper('Sm\Market\Helper\Data');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$resource = $objectManager->get('\Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$finalPrice = $_product->getFinalPrice();
$blockQuote = $objectManager->get("Libero\Customer\Block\Adminhtml\Provider\Order");
$unit_price = "Item";
$tier_price = $_product->getTierPrice();
$type_product = $_product->getTypeId();
$block_order_provider = $objectManager->get("\Libero\Customer\Block\Adminhtml\Provider\Order");
?>
<style>
	.info-box-detail .product-addto-links .action, .info-box-detail .product-social-links .action{
		display: inline-block !important;
		float: none;
		margin-right: 0 !important;
	}
</style>
<div class="table-market-price">
    <!--<h3><?php echo __("Market Price") ?>: <span><?php echo $blockQuote->formartPrice($finalPrice) ?></span></h3>-->
    <?php if (count($tier_price) > 0) { ?>
        <?php $stopToBreak = ""; ?>
        <?php 
        $array_qty = array();
        $array_price = array();
        $string_qty = "";
        $length_tier = count($tier_price);
        ?>
        <?php for($t = 0 ; $t < $length_tier ; $t++) { ?>
            <?php 
            $current_price = $tier_price[$t]['website_price'];
            $next_price = "";
            $next = $t + 1;
            if($next == $length_tier || $next >= $length_tier){
                $next_price = 999999999999999;
            }else{
                $next_price = $tier_price[$t+1]['website_price'];
            }
            $string_qty .= round($tier_price[$t]['price_qty'])." - ";
            if($next_price != $current_price){
                $string_qty = trim($string_qty);
                $string_qty = substr($string_qty,0,strlen($string_qty) - 1);
                $array_qty[] = $string_qty;
                $string_qty = "";
                $array_price[] = $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($tier_price[$t]['website_price'],true,false);
            }
            ?>
        <?php } ?>
    <!--<table class="data-table">
        <tbody>
            <tr class="price">
                <?php foreach($array_qty as $_tier_qty){ ?>
                <td class="ladder-3-1">
                    <span class="value price-length-5"><?php echo $_tier_qty; ?></span>
                </td>
                <?php } ?>
            </tr>
            <tr class="amount">
                <?php foreach($array_price as $_tier_price){ ?>
                <td class="ladder-3-1">
                    <span class="value"><?php echo $_tier_price; ?></span>
                </td>
                <?php } ?>
            </tr>
        </tbody>
    </table>-->
    <?php } ?>
</div>
<?php if($type_product == "simple"){ ?>
    <?php 
    $tier_price = $_product->getTierPrice();
    if(count($tier_price) > 0){
    ?>
    <div class="product-info-wholesales">
        <div class="product-wholesales-table">
            <table>
                <thead>
                    <tr>
                        <th><?php echo __("Quantity") ?></th>
                        <?php foreach($tier_price as $_qty){ ?>
                            <th class="variant_qty"><?php echo number_format($_qty["price_qty"],0); ?></th>
                        <?php } ?>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><?php echo __("Price") ?></td>
                        <?php foreach($tier_price as $_price){ ?>
                        <td class="text-center variant_price" data-price="<?php echo round($_price["price"],0) ?>">
                            <?php echo $block_order_provider->formartPrice($_price["price"]); ?>					
                        </td>
                        <?php } ?>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <?php } ?>
<?php } ?>
<script type="text/x-magento-init">
    {
        "body": {
            "addToWishlist": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($block->getWishlistOptions())?>
        }
    }
</script>

<script>
	function a (){
		var qty = jQuery("#qty").val();
		addToWishlist('<?php echo $block->getUrl('mywishlist/wishlist/addwishlist'); ?>','<?php echo $_product->getId(); ?>',qty);
	}

</script>
<?php
$coupon_code = $_product->getData("coupon_code");
$sql = "SELECT * FROM `salesrule_coupon` WHERE `code` = '$coupon_code'";
$data_coupon_code = $connection->fetchAll($sql);
if(count($data_coupon_code) > 0){
$rule_id = $data_coupon_code[0]["rule_id"];
$sql_rule = "SELECT * FROM `salesrule` WHERE `rule_id` = '$rule_id'";
$data_rule = $connection->fetchAll($sql_rule);
$description_coupon_code = $data_rule[0]["description"];
$from_date = $data_rule[0]["to_date"];
$start  = date_create($from_date);
$end 	= date_create(); // Current time and date
$diff  	= date_diff( $start, $end );
?>
<p style='margin-left:10px'><?php echo __("Get Coupon Code");  ?></p>
<div class="coupon-block">
	<div class="coupon_description inline-block">
		<p class="middle-align"><?php echo $description_coupon_code ?></p>
	</div>
	<div class="coupon_id inline-block">
		<p class="middle-align" style='background: #f36525;color: #fff;text-align: center;padding:5px'><?php echo $coupon_code  ?></p>
	</div>
	<div class="time-remain inline-block">
		<p class="middle-align"><?php echo 'Time Remain: '.$diff->days.' Days : '.$diff->h." H : "." ".$diff->i."m"; ?></p>
	</div>
</div>
<?php } ?>