<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

$_config = $this->helper('Sm\Market\Helper\Data');
$tabStyle = $_config->getProductDetail('tab_style');

$show_custom_tab = $_config->getProductDetail('show_custom_tab');
$custom_tab_name = $_config->getProductDetail('custom_tab_name');
$customtab_content = $_config->getProductDetail('customtab_content');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$_product = $block->getProduct();
$product_id = $_product->getId();
$sql_compare = "SELECT * FROM libero_compareprice_product WHERE `product_id` = '$product_id' and `type_ecom` = 'have_compare' group by `price` order by id_compare ASC";
$data_compare_item = $connection->fetchAll($sql_compare);
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$base_url = $storeManager->getStore()->getBaseUrl();
$id_seller = $_product->getData("id_seller");
//Get information seller
$modelSeller = $objectManager->get("\Libero\Customer\Model\Seller");
$seller = $modelSeller->load($id_seller);
$block_data_onstepcheckout = $objectManager->get("Libero\Onestepcheckout\Helper\Data");
$blockQuote = $objectManager->get("Libero\Customer\Block\Adminhtml\Provider\Order");
$provider_id = $seller->getId();
$provider_store = $seller->getData("store_name");
$product_sku = $_product->getSku();
$product_name = $_product->getName();

$sql_faq = "SELECT * FROM `libero_faq_room` WHERE `sku` = '$product_sku'";
$list_faq = $connection->fetchAll($sql_faq);
$coung_list_faq = count($list_faq);
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('\Magento\Customer\Model\Session');
$customerId = -1;
$array_check_login = array();
$login_chua = false;
if($customerSession->isLoggedIn()){
	$customerId = $customerSession->getCustomerId();
	$login_chua = true;
}
?>
<style>
	.inline-block{
		display:inline-block;
		padding:9px;
		//border:1px solid #000;
	}
	.middle-align{
		margin:0;
	}
	.coupon-block{
		border:1px solid #000;
		display:block;
	}
	.info-box-detail .product-options-bottom .box-tocart .fieldset .actions button, .info-box-detail .product-add-form .box-tocart .fieldset .actions button {
		color: #fff !important;
		margin: 0;
		margin-top: 10px;
		/* margin-bottom: 10px; */
		height: 35px !important;
		vertical-align: middle;
        font-weight: normal;
	}
	.info-box-detail .product-options-bottom .box-tocart .fieldset .actions button, .info-box-detail .product-add-form .box-tocart .fieldset .actions button > span{
		vertical-align: middle;
    	display: block;
    	line-height: 35px;
	}
	.info-box-detail .product-options-bottom .box-tocart .fieldset .actions, .info-box-detail .product-add-form .box-tocart .fieldset .actions {
    	clear: both;
    	width: 100%;
	}
	.info-box-detail .product-options-bottom .box-tocart .fieldset, .info-box-detail .product-add-form .box-tocart .fieldset{
		width: 100%;
	}
	.product-add-form .box-tocart{
		float:none;
	}
	.info-box-detail .product-options-bottom {
    	float: none;
    	width: 100%;
	}
	.detail-1 .addtitional ul{
		padding-left: 0;
	}
	.detail-1 .info-box-detail .info-detail-container .product-info-main .product-info-price .price-box .special-price .price-wrapper{
		display:block;
	}
</style>
<?php if(count($data_compare_item) > 0 ){ ?>
<div class="compare_price">
	<div class="resp-tabs-list compare-title">
			<span>
				<?php echo __('Compare products'); ?>
			</span>
	</div>
	<div class="category-product products wrapper grid products-grid">
		<ol class="products list items product-items row">
		<?php foreach($data_compare_item as $_item){ ?>
			<?php if($_item["etc"] == "") continue; ?>
			<li class="item product product-item pro_<?php echo $_item["id_compare"]; ?>">
				<div class="product-item-info" data-container="product-grid">
					<div class="item-inner market_name">
						<div class="insider"><img src="<?php echo $_item["etc"]; ?>" /></div>
					</div>
					<div class="item-inner">
						<div class="box-image">
							<a href="#" data-product-id="<?php echo $product_id; ?>" target="_blank" data-category="" class="product photo product-item-photo savesearch" tabindex="-1">
								<span class="product-image-container">
									<span class="product-image-wrapper">
										<img class="product-image-photo" src="<?php echo $_item["img_path"]; ?>" width="300" height="300" alt="<?php echo $_item["product_name"]; ?>">
									</span>
								</span>
							</a>							
						</div>
						<div class="product details product-item-details box-info">
							<h2 class="product name product-item-name product-name">
								<a class="product-item-link savesearch" href="#" target="_blank" data-product-id="<?php echo $product_id; ?>" data-category="" title="<?php echo $_item["product_name"]; ?>">
									<?php echo $_item["product_name"]; ?>
								</a>
							</h2>
							<div class="price-box price-final_price">
								<span class="price-container ">
								<span id="product-price-2079" data-price-amount="200000" data-price-type="finalPrice" class="price-wrapper ">
									<span class="price"><?php echo $blockQuote->formartPrice($_item["price"]) ?></span></span>
								</span>
							</div>								
						</div>
					</div>
				</div>
			</li>
			<?php } ?>
		</ol>
	</div>
</div>
<?php } ?>
<?php
if($_product->getTypeId() == "configurable"){
	$data_product = $_product->getTypeInstance()->getConfigurableOptions($_product);
	$array_information_sub_product = array();
	$array_option = array();
	if(count($data_product) > 0){
	?>
	<div class="order-history" style='margin-bottom:13px'>
		<table>
			<thead>
				<?php foreach($data_product as $attribute_id => $options){ ?>
					<?php
						$attribute = $block_data_onstepcheckout->getLabelOption($attribute_id);
						
						foreach($options as $option){
							$key_value = $option['sku'];
							if(!isset($array_option[$key_value])){
								$array_option[$key_value] = array();
							}
							$element = array();
							$model_product = $objectManager->create("\Magento\Catalog\Model\Product");
							$product = $model_product->getCollection()
							->addAttributeToSelect(array("final_price","sku","price","special_price"))
							->addAttributeToFilter("sku", array("eq" => $key_value))->getFirstItem();
							$product_id_children = $product->getData("entity_id");
							$productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($product_id_children);
							$element["title"] = $option["option_title"];
							$element["qty"] = $productStockObj->getData("qty");
							$element["price"] = $product->getFinalPrice();
							$element["product_id"] = $product_id;
							$array_option[$key_value][] = $element;
						}
					?>
				<th>
					<?php echo __($attribute[0]["frontend_label"]) ?>
				</th>
				<?php } ?>
				<?php $array_information_sub_product = $array_option; ?>
				<th>
					<?php echo __("Price") ?>
				</th>
				<th>
					<?php echo __("Remain Qty") ?>
				</th>
			</thead>
			<tbody>
				<?php foreach($array_information_sub_product as $_options => $_option){ ?>
					<tr>
						<?php
						$count_option = count($_option);
						for($i = 0 ;$i < $count_option;$i++){
							?>
							<td><?php echo $_option[$i]["title"] ?></td>
						<?php } ?>
							<td><?php echo $blockQuote->formartPrice($_option[0]["price"]) ?></td>
							<td><?php echo $blockQuote->formartQty($_option[0]["qty"]) ?></td>
					</tr>
				<?php } ?>
			</tbody>
		</table>
	</div>
	<?php } ?>
<?php } ?>
<?php if ($detailedInfoGroup = $block->getGroupChildNames('detailed_info', 'getChildHtml')):?>
    <div class="product info detailed">
	<?php $layout = $block->getLayout(); ?>
		<div class="tab-theme <?php echo $tabStyle . '-style'?>" id="tab-product">
			<!--<ul class="resp-tabs-list">
				<?php foreach ($detailedInfoGroup as $name):?>
					<?php
						$html = $layout->renderElement($name);
						if (!trim($html)) {
							continue;
						}
						if($name == "related.post.tab"){
							//continue;
						}
						$alias = $layout->getElementAlias($name);
						$label = $block->getChildData($alias, 'title');
					?>
					
					<li id="<?php /* @escapeNotVerified */ echo $alias; ?>"><?php  echo __($label); ?></li>	
				<?php endforeach;?>
				
				<?php if($show_custom_tab){?>
					<li class="customtab"><?php  echo __($custom_tab_name); ?></li>
				<?php } ?>
			</ul>-->
			<script type="text/javascript">
				require([
					'jquery'
					],function($) {
						$(window).scroll(function() {
						var hT = $('#tab-container').offset().top,
							hH = $('#tab-container').outerHeight(),
							heightMenu = $('#detail-tab').outerHeight(),
							wH = $(window).height(),
							wS = $(this).scrollTop();
							if (wS > (hT - 106)){
								$('#detail-tab').addClass(" fixed");
							}else{
								$('#detail-tab').removeClass("fixed");
							}
						});
						$(document).ready(function(){
							// Add smooth scrolling to all links
							$("a").on('click', function(event) {
								// Make sure this.hash has a value before overriding default behavior
								if (this.hash !== "") {
									// Prevent default anchor click behavior
									event.preventDefault();
									var heightMenu = 106;
									// Store hash
									var hash = this.hash;

									// Using jQuery's animate() method to add smooth page scroll
									// The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
									$('html, body').animate({
										scrollTop: $(hash).offset().top - (heightMenu * 3) 
									}, 800, function(){
										// Add hash (#) to URL when done scrolling (default click behavior)
										//window.location.hash = hash;
									});
								} // End if
							});
							$(".next-tabs-tab").click(function(e){
								var  tab = $(this);
								var parent_id = tab.attr("data-parent");
								var classParentSection = '';
								$(".parent-setion").removeClass("active");
								$(".parent-setion").removeAttr("style");
								$(".next-tabs-tab").removeClass("active");
								$(".next-tabs-tabpane").removeClass("active");
								$(".next-tabs-tabpane").addClass("hidden");
								$("#"+parent_id).addClass("active");
								tab.addClass("active");
								$("#tab_panel_"+parent_id).addClass("active");
								$("#tab_panel_"+parent_id).removeClass("hidden");
							});
						});
					});
			</script>
			<style>
				.details-info .box-type-detailTab{
					margin-top: 20px;
				}
				.box-type-detailTab.fixed{
					position: fixed;
					top: 0;
					background: #f2f3f7;
					max-width: 900px;
					margin-top: 92px;
					z-index:5;
                    width: 100%;
				}
				.details-tab-wrapper{
					position: relative;
    				z-index: 9;
				}
				.next-tabs, .next-tabs *, .next-tabs :after, .next-tabs :before{
					box-sizing: border-box;
				}
				.next-tabs{
					position: relative;
    				overflow: hidden;
				}
				.next-tabs-wrapped>.next-tabs-bar{
					background: #ececec;
				}
				.next-tabs-bar{
					outline: none;
    				position: relative;
    				z-index: 1;
				}
				.next-tabs, .next-tabs *, .next-tabs :after, .next-tabs :before{
					box-sizing: border-box;
				}
				.details-tab-wrapper .next-tabs-medium .next-tabs-nav-container{
					font-size: 16px;
				}
				.next-tabs-nav-container{
					overflow: hidden;
    				position: relative;
    				white-space: nowrap;
    				line-height: 1.5;
				}
				.next-tabs-nav-wrap{
					overflow: hidden;
				}
				.next-tabs-nav-scroll{
					overflow: hidden;
    				white-space: nowrap;
				}
				.details-tab-wrapper .next-tabs-nav, .details-tab-wrapper .next-tabs-tab{
					vertical-align: top;
				}
				.next-tabs-nav{
					position: relative;
    				display: inline-block;
    				white-space: nowrap;
    				transition: all .4s cubic-bezier(.23,1,.32,1);
				}
				.next-tabs-wrapped.next-tabs-top>.next-tabs-bar .next-tabs-tab{
					margin-right: 4px;
    				border: 1px solid #dcdee3;
    				border-radius: 0 0 0 0;
				}
				
				.next-tabs-tab.active{
					z-index: 1;	
				}
				.next-tabs-tab{
					display: inline-block;
    				position: relative;
    				transition: all .4s cubic-bezier(.23,1,.32,1);
				}
				.details-tab-wrapper .next-tabs-nav, .details-tab-wrapper .next-tabs-tab{
     				vertical-align: top;
				}
				.next-tabs-wrapped.next-tabs-top>.next-tabs-bar .next-tabs-tab.active:before{
					width: calc(100% + 2px - 0px);
    				left: -1px;
				}
				.next-tabs-wrapped.next-tabs-top>.next-tabs-bar .next-tabs-tab:before{
					width: 0;
					height: 2px;
					left: 50%;
					top: -1px;
				}
				.next-tabs-wrapped>.next-tabs-bar .next-tabs-tab:before{
					background: #ff6a00;
				}
				.next-tabs-wrapped>.next-tabs-bar .next-tabs-tab:hover{
					cursor: pointer;
					color: #fff;
					background-color: #354157;
					border-color: 0;
				}
				.next-tabs-wrapped>.next-tabs-bar .next-tabs-tab.active{
					color: #ff6a00;
    				background-color: #fff;
				}
				.next-tabs-wrapped.next-tabs-top>.next-tabs-bar .next-tabs-tab:hover{
					border-color: #fff;
				}
				.next-tabs-wrapped.next-tabs-top>.next-tabs-bar .next-tabs-tab.active{
					border-bottom-color: #fff;
				}
				.next-tabs-tab:before{
					content: "";
    				position: absolute;
    				transition: all .4s cubic-bezier(.23,1,.32,1);
				}
				.next-tabs-medium .next-tabs-tab-inner{
					height: 44px;
    				line-height: 44px;
    				padding: 0 16px;
				}
				.next-tabs-tab-inner{
					position: relative;
    				cursor: pointer;
    				text-decoration: none;
				}
				.details-tab-wrapper .tab-name{
					display: inline-block;
					max-width: 180px;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.next-tabs-wrapped>.next-tabs-content{
					border: 1px solid #dcdee3;
					color: #333;
					background: #fff;
				}
				.next-tabs-medium .next-tabs-content{
					padding: 16px;
				}
				.next-tabs-content{
					position: relative;
    				overflow: hidden;
    				min-height: 20px;
				}
                .next-tabs-tabpane {
                    display: none;
                }
				.next-tabs-tabpane.active{
					display: block;
				}
				.richtext-nav{
					position: relative;
					width: 100%;
					z-index: 1;
				}
				.richtext-nav .nav-con{
					background-color: #fff;
					border-top: none;
					min-height: 60px;
					border-bottom: 2px solid #ddd;
					box-sizing: border-box;
				}
				.details-tab-wrapper .nav-con{
					padding-left: 10px;
				}
				.richtext-nav dl{
					margin: 0;
				}
				.util-clearfix{
					zoom:1
				}
				.richtext-nav dd{
					float: left;
					margin: 0;
					height: 60px;
					margin-right: 20px;
				}
				.item > a > em{
					font-style:normal;
				}
				.richtext-nav .selected a, .richtext-nav a.selected, .richtext-nav a:hover{
					font-weight: 700;
					color: #ff6a00;
					text-decoration: none;
					border-bottom: 2px solid #ff6a00;
				}
				.richtext-nav .item a, .richtext-nav .item a em{
					display: block;
    				width: 100%;
				}
				.richtext-nav .item a{
					position: relative;
					text-align: center;
					line-height: 18px;
					font-size: 14px;
					color: #666;
					overflow: hidden;
					padding: 20px 5px;
				}
				.richtext-nav a{
					outline: 0;
    				color: #666;
				}
				.richtext-nav .item a, .richtext-nav .item a em{
					display: block;
    				width: 100%;
				}
				.next-tabs:after{
					visibility: hidden;
					display: block;
					height: 0;
					font-size: 0;
					content: " ";
					clear: both;
				}
				.details-tab-wrapper .rsa{
					display: inline-block;
					position: absolute;
					z-index: 1;
					top: 15px;
					right: 10px;
					max-width: 160px;
					font-size: 12px;
					color: #666;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.details-tab-wrapper .rsa .mao{
					vertical-align: top;
    				margin: 1px 3px 0 0;
				}

			</style>
			<div class="detail-box box-type-detailTab" id="detail-tab">
				<div class="details-tab-wrapper" style="height: auto;">
					<div></div>
					<div class="tab-main" style="width: auto;">
						<div class="next-tabs next-tabs-wrapped next-tabs-medium next-tabs-top">
							<div role="tablist" class="next-tabs-bar" tabindex="0">
								<div class="next-tabs-nav-container">
									<div class="next-tabs-nav-wrap">
										<div class="next-tabs-nav-scroll">
											<div class="next-tabs-nav" style="transform: translate3d(0px, 0px, 0px);">
												<?php $active_default = 0; ?>
											<?php foreach ($detailedInfoGroup as $name):?>
												<?php
												//echo $name;
													$html = $layout->renderElement($name);
													if (!trim($html)) {
														continue;
													}
													if($name == "related.post.tab"){
														continue;
													}
													$alias = $layout->getElementAlias($name);
													$label = $block->getChildData($alias, 'title');
												?>
												<div data-parent='<?php echo str_replace(".","_",$name) ?>' aria-disabled="false" aria-selected="true" class="next-tabs-tab <?php if($active_default == 0){ echo ' active'; } else {  echo ''; }  ?>">
													<div class="next-tabs-tab-inner" style="font-weight: bold;">
														<span class="tab-name" title=""><?php  echo __($label); ?></span>
													</div>
												</div>
												<?php $active_default ++; ?>
											<?php endforeach;?>
												<div data-parent='<?php echo str_replace(".","_","faq") ?>' aria-disabled="false" aria-selected="true" class="next-tabs-tab">
													<div class="next-tabs-tab-inner" style="font-weight: bold;">
														<span class="tab-name" title=""><?php  echo __("FAQ"); ?>
															<?php 
																if($coung_list_faq > 0 ) 
																echo "(".$coung_list_faq.")";
															?>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="next-tabs-content" style="padding: 0px; min-height: 0px; border-bottom: 0px; top: 0px; margin-top: -1px;">
								<div role="tabpanel" aria-hidden="false" id='tab_panel_product_info_description' class="next-tabs-tabpane active details-tab-pane">
									<div id="J-richtex-nav" class="richtext-nav" style="min-height: 28px;">
										<div class="nav-con" data-role="navCon">
											<dl class="util-clearfix">
												<dd class="item"><a hidefocus="true" href="#section-description" rel="nofollow"><em data-spm-anchor-id="a2700.details.tabs.i9.53e21cfc6HuPu2"><?php echo __("Product Description") ?></em></a></dd>	
												<!-- <dd class="item"><a hidefocus="true" href="#section-companyinfor" rel="nofollow" class=""><em data-spm-anchor-id="a2700.details.tabs.i8.53e21cfc6HuPu2"><?php echo __("Company Profile") ?></em></a></dd> -->
												<!--<dd class="item"><a hidefocus="true" data-id="ali-anchor-AliPostDhMb-jrjxe" data-domdot="id:7120,ext:'item=FAQ'" href="javascript:void(0);" rel="nofollow" data-spm-anchor-id="a2700.details.tabs.5" class=""><em data-spm-anchor-id="a2700.details.tabs.i0.53e21cfc6HuPu2">FAQ</em></a></dd>
												<dd class="item"><a hidefocus="true" data-id="ali-anchor-AliPostDhMb-6g2uf" data-domdot="id:7120,ext:'item=contact%20us'" href="javascript:void(0);" rel="nofollow" data-spm-anchor-id="a2700.details.tabs.6" class=""><em data-spm-anchor-id="a2700.details.tabs.i10.53e21cfc6HuPu2">contact us</em></a></dd>-->
											</dl>
										</div>
									</div>
								</div>
								<div role="tabpanel" aria-hidden="true" id='tab_panel_related_post_tab' class="next-tabs-tabpane hidden details-tab-pane"></div>
							</div>
						</div>
						<!--<a class="ls-icon rsa" target="_blank" href="//channel.alibaba.com/complaint/reportItem.htm?spm=a2700.details.tabs.7.53e21cfc6HuPu2&amp;bloginId=dgleduo&amp;productId=60655122576" rel="nofollow" title="Report Suspicious Activity" data-spm-anchor-id="a2700.details.tabs.7">
							<span class="ico-mao mao"></span>Report Suspicious Activity
						</a>-->
					</div>
				</div>
			</div>
			<style>
				.widget-detail-overview .do-title
				{
					font-weight: 700;
					font-size: 22px;
					line-height: 22px;
					color: #333;
					padding: 10px 0 10px;
				}
				.do-content{
					overflow: hidden;
				}
				.widget-detail-overview .do-overview{
					border-top: 1px dashed #e6e7eb;
				}
				.widget-detail-overview .do-entry{
					border-bottom: 1px dashed #e6e7eb;
					padding: 10px 0;
					font-size: 12px;
				}
				.widget-detail-overview .do-overview .do-entry-title{
					font-weight: 700;
					font-size: 14px;
					color: #333;
					line-height: 14px;
					padding: 8px 0;
				}
				.widget-detail-overview .do-entry .do-entry-list{
					margin: 0 -20px;
    				box-sizing: border-box;
				}
				.widget-detail-overview .do-entry-separate dl{
					width: 300px;
					zoom: 1;
					float: left;
				}
				.widget-detail-overview .do-entry dl {
					padding: 0 20px;
					box-sizing: border-box;
				}
				.widget-detail-overview .do-entry dt{
					width: 110px;
				}
				.widget-detail-overview .do-entry dt{
					padding: 4px 0;
					color: #484848;
                    font-weight: bold;
					width: 102px;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					font-weight:normal;
				}
				
				.widget-detail-overview .do-entry dd{
					padding: 4px 0;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					color: #333;
					margin: 0;
				}
				.ls-product .ellipsis{
					overflow: hidden;
					word-wrap: normal;
					white-space: nowrap;
					-o-text-overflow: ellipsis;
					text-overflow: ellipsis;
					-moz-text-overflow: ellipsis;
					width: 100%;
				}
                .toolbar.review-toolbar {
                    padding: 5px 0;
                    margin-bottom: 10px;
                }
				.widget-detail-overview .do-entry-list:after, .widget-detail-overview .do-entry dl:after, .widget-detail-overview .do-performance:after{
					visibility: hidden;
					display: block;
					height: 0;
					font-size: 0;
					content: " ";
					clear: both;
				}
				.module-productSpecification{
					padding: 5px 0;
				}
				.details-info .richtext-detail{
					line-height: 1.5;
				}
				.ls-product .rich-text-description{
					overflow: hidden;
					width: 750px;
					position: relative;
				}
				.default-style .resp-tabs-container .resp-tab-content{
					display: block;
				}
				.parent-setion{
					display:none !important;
				}
				.parent-setion.active{
					display:block !important;
				}
			</style>
			<div class="resp-tabs-container" id="tab-container">
				<?php foreach ($detailedInfoGroup as $name):?>
					<?php
						$html = $layout->renderElement($name);
						if (!trim($html)) {
							continue;
						}
						if($name == "related.post.tab"){
							continue;
						}
					?>
					<?php if($name == 'product.info.description'){ ?>
						<div id='<?php echo str_replace(".","_",$name); ?>' class='parent-setion active'>
							<div class='widget-detail-overview'>
								<div class="do-title" data-spm-anchor-id="a2700.details.prilinga1e.i1.53e21cfcAmO8cx"><?php echo __("Overview"); ?></div>
								<!-- Quick Detail -->
								<?php $quick_detail  = $_product->getData("quick_detail"); ?>
								<?php $supply_ability  = $_product->getData("supply_ability"); ?>
								<?php $quick_packaging_delivery  = $_product->getData("packaging_delivery"); ?>
								<?php 
									$json_data_quick_detail = json_decode($quick_detail,true);
									$json_data_supply_ability = json_decode($supply_ability,true);
									$json_data_packaging_delivery = json_decode($quick_packaging_delivery,true);
									$data_quick_detail = array();
									if(isset($json_data_quick_detail["data"])){
										$data_quick_detail = $json_data_quick_detail["data"];
									}
									$data_supply_ability = $json_data_supply_ability;
									$data_packaging_delivery = $json_data_packaging_delivery;
									$month = "";
									$type_ability = "";
									if(isset($data_supply_ability["supply_ability_date"])){
										$month = $data_supply_ability["supply_ability_date"];
									}
									if(isset($data_supply_ability["supply_ability_type"])){
										$type_ability = $data_supply_ability["supply_ability_type"];
									}
									$show_month = "";
									if($month == "thang"){
										$show_month = "Month";
									}
									if($month == "ngay"){
										$show_month = "Day";
									}
									if($month == "nam"){
										$show_month = "Year";
									}
									if($month == "quy"){
										$show_month = "Quarter";
									}
								?>
								<div class"do-content">
									<div class="do-overview">
										<?php if(count($data_quick_detail) > 0){ ?>
										<div class="do-entry do-entry-separate">
											<div class="do-entry-title"><?php echo __("Quick Details"); ?></div>
											<div class='do-entry-list'>
											<?php foreach($data_quick_detail as $_quick){ ?>
											<?php if($_quick["title"] == "") continue; ?>
												<dl class="do-entry-item">
													<dt class="do-entry-item">
														<span class="attr-name J-attr-name" style='font-weight:bold' title="<?php echo $_quick["title"] ?>"><?php echo $_quick["title"] ?>:</span>
													</dt>
													<dd class="do-entry-item-val"><div class="ellipsis" title="<?php echo $_quick["content"] ?>"><?php echo $_quick["content"] ?></div></dd>
												</dl>
											<?php }  ?>
											</div>
										</div>
										<?php } ?>
										<?php if($type_ability) { ?>
										<div class="do-entry do-entry-full">
											<div class="do-entry-title"><?php echo __("Supply Ability") ?></div>
											<div class="do-entry-list">
												<dl class="do-entry-item">
                                                    <?php if($type_ability) { ?>
													<dd class="do-entry-item-val" title="<?php echo $data_supply_ability["supply_ability_amount"] ?> <?php echo $type_ability ?> <?php echo __("per") ?> <?php echo $show_month; ?>">
														<?php echo $data_supply_ability["supply_ability_amount"] ?> <?php echo $type_ability ?>/<?php echo __($show_month); ?>
													</dd>
                                                    <?php }  ?>
												</dl>
											</div>
										</div>
										<?php } ?>
									</div>
								</div>
							</div>
							<div class="scc-wrapper detail-module module-productSpecification widget-detail-overview ">
								<style type="text/css">
									.richtext [data-maya] {
										width: 750px;
										font-size:14px;
									}
								</style>
								<div class="do-entry do-entry-full">
									<div class="do-entry-title" style="font-weight: 700;font-size: 14px;color: #333;line-height: 14px;padding: 8px 0;"><?php echo __("Description") ?></div>
									<div class="richtext richtext-detail rich-text-description" id='section-description'>
										<?php  echo $html; ?>
									</div>
								</div>
								<!-- <div id='section-companyinfor' class="do-entry">
									<div id="ali-title-AliPostDhMb-isd79" style="padding: 8px 0;">
										<div class="do-entry-title" style="font-weight: 700;font-size: 14px;color: #333;line-height: 14px;padding: 8px 0;"><?php echo __("Company Profile") ?></div>
										<div style="padding: 10px 0;">
											<div class="richtext richtext-detail rich-text-description">
												<?php  echo $seller->getData("description"); ?>
											</div>
										</div>
									</div>
								</div> -->
							</div>
							<!-- End Quick Detail -->
						</div>
					<?php }else{ ?>
						<div id='<?php echo str_replace(".","_",$name); ?>' class='parent-setion'>
							<div class="scc-wrapper detail-module module-productSpecification">
								<style type="text/css">
									.richtext [data-maya] {
										width: 750px;
										font-size:14px;
									}
								</style>
								<div class="richtext richtext-detail rich-text-description">
									<?php  echo $html; ?>
								</div>
							</div>
						</div>
					<?php } ?>
				<?php endforeach;?>
					<div id='<?php echo str_replace(".","_","faq"); ?>' class='parent-setion'>
						<div class="scc-wrapper detail-module module-productSpecification">
							<style type="text/css">
								.richtext [data-maya] {
									width: 750px;
									font-size:14px;
								}
								.group-faq{
									padding: 10px;
									border-bottom: 1px solid black;
									display: block;
									height: auto;
									width: 100%;
									float: left;
								}
								.review-content{
									margin-bottom:10px.;
								}
							</style>
							<div class="richtext richtext-detail rich-text-description">
								<div class="block-content">
									<div class="block faq-list">
										<div class="block-content">
											<div class="toolbar review-toolbar"></div>
											<table>
												<thead>
													<tr style="font-size: 11px;font-weight: normal;padding: 7px 0 4px;background: #F8F8F8;">
														<td><?php echo __("No.") ?></td>
														<td><?php echo __("Tình trạng") ?></td>
														<td><?php echo __("Loại câu hỏi") ?></td>
														<td><?php echo __("Tiêu đề") ?></td>
														<td><?php echo __("Nickname") ?></td>
														<td><?php echo __("Ngày tạo") ?></td>
													</tr>
												</thead>
												<tbody>
													<?php foreach ($list_faq as $_faq){ ?>
													<?php 
														$id_room = $_faq["id_room"];
														$type_question_text = $_faq["question_type_text"];
														$type_question_id = $_faq["question_type"];
														$sender_name = $_faq["sender_name"];
														$color_type = "color:red";
														$status = $_faq["status"];
														$text_status = "Đã trả lời";
														switch($status){
															case 1:
																$color_type = "color:green";
															break;
															case 2:
																$color_type = "color:red";
																$text_status = "Chưa trả lời";
															break;
														}
														$content_question = $_faq["title"];
														$created_at = $_faq["created_at"];
														$sender_id = $_faq["sender_id"];
														$link = "<a href='javascript:void(0);' class='open-room' 
														data-id-room = '$id_room' 
														data-sender-id='$sender_id'
														data-sender-name='$sender_name'
														data-type-question='$type_question_id|$type_question_text' >".$content_question."</a>";
													?>
													<tr style="border-bottom: 1px solid #F8F8F8">
														<td>
															<?php echo $id_room; ?>
														</td>
														<td>
															<?php echo $text_status; ?>
														</td>
														<td>
															<?php echo $type_question_text; ?>
														</td>
														<td>
															<?php echo $link; ?>
														</td>
														<td>
															<?php echo $sender_name; ?>
														</td>
														<td>
															<?php echo $created_at; ?>
														</td>
													</tr>
													<?php } ?>
												</tbody>
											</table>
										</div>
									</div>
									<?php if($login_chua){ ?> 
									<form action="" class="faq-form" method="post" id="faq-form" data-role="product-faq-form" novalidate="novalidate">
										<input name="form_key" type="hidden" value="1vj1uGo5g9RLRxEM">        
										<fieldset class="fieldset review-fieldset" data-hasrequired="">
											<legend class="legend review-legend"><span><?php echo __("Mời bạn đặt câu hỏi cho shop") ?></span></legend>
											<br>
											<span id="input-message-box"></span>
											<div class="field review-field-nickname required">
												<label for="question_type_code" class="label"><span><?php echo __("Question Type") ?></span></label>
												<div class="control">
													<select name="question_type_code" id="question_type_code">
														<option value=""><?php echo __("Please select"); ?></option>
														<?php 
															$sql_question_type_codes = "SELECT * FROM libero_faq_type;";
        													$question_type_codes = $connection->fetchAll($sql_question_type_codes);
															foreach($question_type_codes as $_type) { ?>
																<option value="<?php echo $_type['id'];?>|<?php echo $_type['question_type'];?>"><?php echo $_type["question_type"] ;?></option>
															<?php } 
														?>
													</select>
												</div>
											</div>
											<input type="hidden" name="nickname" value="<?php echo $customerSession->getCustomer()->getName(); ?>" id="nickname_field_faq" class="input-text" data-validate="{required:true}" aria-required="true">
											<input type="hidden" name="sender_id" value="<?php echo $customerSession->getCustomer()->getId(); ?>" id="sender_id" class="input-text" data-validate="{required:true}" aria-required="true">
											<div class="field review-field-text required">
												<label for="review_field_faq" class="label"><span><?php echo __("Title") ?></span></label>
												<div class="control">
													<input type="text" name="title_room" id="title_room" value=""  data-validate="{required:true}" aria-required="true" />
												</div>
											</div>
											<!--<div class="field review-field-text required">
												<div class="control">
													<p><?php echo __("Tôi muốn câu hỏi của tôi được hiển thị") ?></p>
													<input type="radio" name="lock_room" value="1" /> <?php echo __("Chỉ mình tôi");  ?>
													<input type="radio" name="lock_room" value="2" /> <?php echo __("Mọi người");  ?>
												</div>
											</div>-->
											<div class="field review-field-text required">
												<label for="review_field_faq" class="label"><span><?php echo __("Content Question") ?></span></label>
												<div class="control">
													<textarea name="detail" id="review_field_faq" cols="5" maxlength="500" rows="3" data-validate="{required:true}" aria-required="true"></textarea>
												</div>
												<p><?php echo __("(Nội dung câu hỏi không được quá 500 kí tự)"); ?></p>
											</div>
										</fieldset>
										<div class="actions-toolbar review-form-actions">
											<div class="primary actions-primary">
												<button type="button" id="send_question" class="action submit primary"><span><?php echo __("Send Question"); ?></span></button>
											</div>
										</div>
									</form>
									<?php }else{ ?>
										<p><?php echo __("Vui lòng đăng nhập để gửi câu hỏi.") ?></p>
									<?php } ?>
									<style>
									.help{ padding: 0 20px 10px; margin-top:10px; }
									.help p{ font-size: 12px; }
									</style>
									<div class="help">
										<p><?php echo __("Các câu hỏi thường gặp về sản phẩm:"); ?></p>
										<p><?php echo __("- Chế độ bảo hành cùng cách thức vận chuyển sản phẩm này thế nào?"); ?></p>
										<p><?php echo __("- Kích thước sản phẩm này ?"); ?></p>
										<p><?php echo __("- Sản phẩm này có dễ dùng không ?"); ?></p>
										<p><span><?php echo __("Các câu hỏi liên quan đến sản phẩm hư hỏng, cần đổi trả, v.v ... vui lòng gọi tổng đài để được hỗ trợ"); ?></span></p>
									</div>
								</div>
							</div>
							<div id="question_modal" style='display:none'>
								<div class="admin__field _empty">
									<div class="admin__field-control" data-role="grid-wrapper">
										<div class="steps-wizard productFormConfigurable admin__control-table-wrapper" id="question_html">
										</div>
									</div>
								</div>
							</div>
							<script>
								require([
									"jquery",
									"jquery/ui",
									'Magento_Ui/js/modal/confirm',
									"Magento_Ui/js/modal/modal"
								], function ($,confirmation,modal) {
									var options_modal_question = {
										type: 'popup',
										responsive: true,
										innerScroll: true,
										title: $.mage.__('Q&A'),
										buttons: [
										{
											text: $.mage.__('Back'),
											class: 'action secondary',
											click: function () {
												this.closeModal();
											}
										}]
									}

									$(".open-room").click(function(){
										var room_id = $(this).attr("data-id-room");
										var sender_id = $(this).attr("data-sender-id");
										var question_type_id = $(this).attr("data-type-question");
										console.log(sender_id);
										//ajax here
										var url_get_question = "<?php echo $base_url ?>test/faq/get-question.php";
										var provider_id = '<?php echo $provider_id ?>';
										var provider_name = '<?php echo $provider_store ?>';
										var product_sku = "<?php echo $product_sku; ?>";
										var product_name = "<?php echo $product_name; ?>";
										var customer_id = "<?php echo $customerId;  ?>";
										$.ajax({
											url:url_get_question,
											type:"POST",
											data: {
												"room_id":room_id,
												"sender_id":sender_id,
												"question_type_code":question_type_id,
												"provider_id":provider_id,
												"provider_name":provider_name,
												"product_sku":product_sku,
												"product_name":product_name,
												"customer_id":customer_id
											},
											success:function(data){
												$("#question_html").html(data);
												var retHTML = $(data);
												$(".post-question").click(function(){
													var url_submit_question = "<?php echo $base_url ?>test/faq/post-question.php";
													var question_type_code = question_type_id;
													var nick_name = $("#hidden_sender_name").val();
													var question = $("#ajax_review_field_faq").val();
													var provider_id = '<?php echo $provider_id ?>';
													var provider_name = '<?php echo $provider_store ?>';
													var product_sku = "<?php echo $product_sku; ?>";
													var product_name = "<?php echo $product_name; ?>";
													$.ajax({
														url:url_submit_question,
														type:"POST",
														data: {
															"question_type_code":question_type_code,
															"sender":nick_name,
															"sender_id":sender_id,
															"question":question,
															"provider_id":provider_id,
															"provider_name":provider_name,
															"product_sku":product_sku,
															"product_name":product_name,
															"room_id":room_id
														},
														success:function(data){
															let res = JSON.parse(data);
															if (res.error == false) {
																//emit socket in here
																alert('<?php echo __("Thank you for your question. We will answer as soon as possiable.") ?>');
																$("#list-q-a").append(res.msg);
																$("#ajax_review_field_faq").val("");
															} else {
																alert('<?php echo __("Send question failed!") ?>');
															}
															
														}
													});
												})
											}
										});
										$("#question_modal").modal(options_modal_question).modal("openModal");
									});
									$("#send_question").click(function(){
										var url_submit_question = "<?php echo $base_url ?>test/faq/submit-question.php";
										var question_type_code = $("#question_type_code").val();
										var nick_name = $("#nickname_field_faq").val();
										var sender_id = $("#sender_id").val();
										var question = $("#review_field_faq").val();
										var provider_id = '<?php echo $provider_id ?>';
										var provider_name = '<?php echo $provider_store ?>';
										var product_sku = "<?php echo $product_sku; ?>";
										var product_name = "<?php echo $product_name; ?>";
										var title = $("#title_room").val();
										if(question_type_code == ""){
											$("#question_type_code").addClass("mage-error");
											return;
										}
										if(nick_name == ""){
											$("#nickname_field_faq").addClass("mage-error");
											return;
										}
										if(question == ""){
											$("#review_field_faq").addClass("mage-error");
											return;
										}
										$.ajax({
											url:url_submit_question,
											type:"POST",
											data: {
												"question_type_code":question_type_code,
												"sender":nick_name,
												"sender_id":sender_id,
												"question":question,
												"provider_id":provider_id,
												"provider_name":provider_name,
												"product_sku":product_sku,
												"product_name":product_name,
												"title":title
											},
											success:function(data){
												let res = JSON.parse(data);
												if (res.error == false) {
													//emit socket in here
													alert('<?php echo __("Thank you for your question. We will answer as soon as possiable.") ?>');
													top.location.reload();
													/*confirmation({
														title: 'Success',
														content: '<?php echo __("Thank you for your question. We will answer as soon as possiable.") ?>',
														actions: {
															confirm: function(){},
															cancel: function(){},
															always: function(){}
														}
													});*/
												} else {
													alert(res.msg);
													/*confirmation({
														title: 'Failed',
														content: '<?php echo __("Send question failed!") ?>',
														actions: {
															confirm: function(){},
															cancel: function(){},
															always: function(){}
														}
													});*/
												}
												
											}
										});
									});		
								});
							</script>
						</div>
					</div>
				<?php if($show_custom_tab){?>
					<div class="customtab-content">
						<?php  
							echo $customtab_content; 
						?>
					</div>
				<?php } ?>
			</div>
        </div>
		<?php /*$layout = $block->getLayout(); ?>
				<?php foreach ($detailedInfoGroup as $name):?>
					<?php $alias = $layout->getElementAlias($name); ?>
					<?php $label = $block->getChildData($alias, 'title'); ?>
					<?php
						if($name == "related.post.tab"){
							continue;
						}
						$html = $layout->renderElement($name);
						if (!trim($html)) {
							continue;
						}

					?>
					<div class="resp-tabs-list compare-title" style='padding: 10px 10px !important;'>
						<span style='font-size: 133.33%;color: #fff;'><?php echo $label; ?></span>
					</div>
					<div class="tab-theme <?php echo $tabStyle . '-style'?>" id="<?php echo $name; ?>">
						<div class="resp-tabs-container">
							<?php echo $html; ?>
						</div>
					</div>
				<?php endforeach;*/ ?>
		<script>
			jQuery(document).ready(function ($) {
				$('#tab-product').easyResponsiveTabs({
					type: '<?php echo $tabStyle;?>', //Types: default, vertical, accordion           
					width: 'auto', //auto or any width like 600px
					fit: true,   // 100% fit in a container
					activate: function(event) { // Callback function if tab is switched
						/* var $tab = $(this);
						var $info = $('#tabInfo');
						var $name = $('span', $info);

						$name.text($tab.text());

						$info.show(); */
					}
				});
				//
				// $(".product-info-main .reviews-actions .action.view").click(function() {
				// 	$("#reviews").trigger( "click" );
				// 	$('html, body').animate({
				// 		scrollTop: $("#customer-reviews").offset().top
				// 	}, 1000);
				// });

			});
		</script>
    </div>
<?php endif; ?>
