<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Catalog\Block\Product\View $block */
$_product = $block->getProduct();
$tier_price = $_product->getTierPrice();
?>
<?php if (count($tier_price) > 0) { ?>
<!--<div class="product-wholesales-table">
	<table>
		<thead>
			<tr>
				<th><?php echo __('Quantity');?></th>
				<?php foreach ($tier_price as $tier) { ?>					
					<th>
						<?php echo round($tier['price_qty']); ?>
					</th>
				<?php }	?>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><?php echo __('Price');?></td>
				<?php foreach ($tier_price as $tier) { ?>					
				<td class="text-center">
					<?php 
						echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($tier['website_price'],true,false);
					?>					
				</td>
				<?php }	?>
			</tr>
		</tbody>
	</table>
</div>-->
<?php } ?>
