<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php 
//lấy id product ở đây
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get("\Magento\Framework\Registry")->registry('current_product');
$rating_data = $block->getDataRating($product->getId());
$count_summary = $rating_data["count"];
//echo "<pre>";
//var_dump($rating_data);
//echo "</pre>";
?>
<div id="rating-summary" class="mb20">
    <div id="block-1">
        <h4><?php echo __("Đánh Giá Trung Bình") ?></h4>
        <p align="center" class="total-review-point"><?php echo $count_summary["avg"]; ?>/5</p>
        <div class="rating-point" align="center">
            <?php for($i=1;$i<6;$i++){ ?>
                <?php 
                $fill_color_start = $count_summary["avg"];
                $class_fzee = "fzee-star";
                if($i > $fill_color_start){
                    $class_fzee = "not-fzee-star";
                }
                ?>
                <div class="control review-control-vote <?php echo $class_fzee; ?>">
                    <label class="rating-<?php echo $i; ?>"><span><?php echo $i; ?> star</span></label>
                </div>
            <?php } ?>
        </div>
        <p style="text-align: center;margin-top: 30px;">(<?php echo $count_summary["all"]; ?> <?php echo __("nhận xét") ?>)</p>
    </div>
    <div id="block-2">
        <?php for($i=1;$i<6;$i++){ ?>
            <?php 
            $all_votes = $count_summary["all"];
            if($all_votes == 0){
                $all_votes = 1;
            }
            ?>
            <div class="item rate-<?php echo $i; ?>">
                <span class="rating-num"><?php echo $i; ?></span>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: <?php echo ($count_summary[$i]/$all_votes) * 100 ?>%;">
                        <span class="sr-only"></span>
                    </div>
                </div>
                <span class="rating-num-total"><?php echo round(($count_summary[$i]/$all_votes) * 100,0) ?>%</span>
            </div>
        <?php } ?>
    </div>
</div>
<?php echo $block->getChildHtml(); ?>
<div id="product-review-container" data-role="product-review"></div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Review/js/process-reviews": {
                "productReviewUrl": "<?php /* @escapeNotVerified */ echo $block->getProductReviewUrl();?>"
            }
        }
    }
</script>
