.catalog-category-view .product-item-inner.buynow {
	position: relative;
    border: none;
    box-shadow: none;
    padding: 0 0 5px 1px;
}
.catalog-category-view button.buynow {
    width: auto;
}
.catalog-product-view #product-addtocart-button {

}
.catalog-product-view #buy-now
{
	width: auto;
    line-height: 2.2rem;
    padding: 14px 17px;
    height: 57px;
    font-size: 1.4rem;
    font-weight: normal !important;
}