<?php
/**------------------------------------------------------------------------
* SM  - Version 
* Copyright (c) 2015 YouTech Company. All Rights Reserved.
* @license - Copyrighted Commercial Software
* Author: YouTech Company
* Websites: http://www.magentech.com
-------------------------------------------------------------------------*/

?>
<div class="cat-wrap theme4">
	<?php
	$i=0;
	foreach ($list as $key => $items)
	{
		$i++;
		$cat_child = $items['child_cat'];
			?>
			<div class="sm-categories-inner">
				<div class="sm-categories-heading">
					<div class="icon_left"></div>
					<?php
						if ($this->_getConfig('cat_title_display') == 1) { ?>
							<div class="cat-title">
								<a href="<?php echo $items['link']; ?>"
								   title="<?php echo $items['title']; ?>"
									<?php echo $helper->parseTarget($this->_getConfig('target')); ?> >
									<?php echo $helper->truncate($items['title'], $this->_getConfig('category_title_max_characs', 25)); ?>
								</a>
							</div>
						<?php }
					?>
					<div class="icon_right"></div>
				</div>
				<div class="sm-categories-content cf">
					<?php
					if (!empty($cat_child)) {
						$k = 0;
						foreach ($cat_child as $key1 => $item) {
							$k++;
							$count = count($cat_child); ?>
							<div class="sm-categories-content-inner">
								<div class="child-cat <?php echo ($k == $count) ? 'cat-lastitem' : ''; ?>">
									<div class="child-cat-info">
										<?php
											if (($item['image'])) {
												?>
												<div class="image-cat">
													<a href="<?php echo $item['link'];?>"
													   title="<?php echo $item['title'];?>"
														<?php echo $helper->parseTarget($this->_getConfig('target')); ?>
														>
														<img
															src="<?php echo $item['image']; ?>"
															title="<?php echo $item['title']; ?>"
															alt="<?php echo $item['title']; ?>"
															/>
													</a>
												</div>
											<?php }
										?>

										<?php if ($this->_getConfig('cat_sub_title_display', 1)) { ?>
											<div class="child-cat-desc">
												<div class="child-cat-title">
													<a href="<?php echo $item['link'] ?>"
													   title="<?php echo $item['title']; ?>"
														<?php echo $helper->parseTarget($this->_getConfig('target')); ?>
														>
														<?php echo $helper->truncate($item['title'], $this->_getConfig('category_sub_title_max_characs', 25)); ?>
													</a>
												</div>
												<?php if ($this->_getConfig('total_item_cate', 1)) { ?>
													<div class="num_items" style="float:left;color: #737373;">
														<?php echo '(' . ($item['number_products']) . ')'; ?>
													</div>
												<?php } ?>
											</div>
										<?php } ?>
									</div>
								</div>
							</div>
						<?php
						}
					} else {
						?>
						<div class="sm-categories-content-inner">
							<div class="child-cat subcat-empty">
								<div class="child-cat-info">
									<?php echo __('No sub-categories to show!'); ?>
								</div>
							</div>
						</div>
					<?php } ?>
				</div>
			</div>
		<?php
	}
	?>
</div>