<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$helperData = $objectManager->get("\Libero\Customer\Helper\Data");
$isDesktop = $helperData->detectMobile();
?>
<?php if ($isDesktop){ ?>
<div class="popup-container"></div>
<div class="header-container header-style-1">
	<div class="header-event">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<?php echo $block->getChildHtml('event-top'); ?>
			</div>
		</div>
	</div>

	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 language-currency-top">
					<?php echo $block->getChildHtml('language-header'); ?>
					<?php echo $block->getChildHtml('currency-header'); ?>
				</div>
				
				<div class="col-lg-10 col-md-10 header-top-links">

					<?php echo $block->getChildHtml('toplinks-header-custom'); ?>
				</div>
			</div>
		</div>
	</div>
	
	<div class="header-middle">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-2 logo-header">
					<?php echo $block->getChildHtml('logo-header'); ?>
				</div>
				
				<div class="col-lg-10 col-md-10 col-sm-10 header-middle-right">
					<div class="middle-right-content">
						<div class="searchbox-header">
							<?php echo $block->getChildHtml('search-header-pro'); ?>
						</div>
						<div class="fr detect-mobile-800">
							<div class="minicart-header">
								<div class="minicart-content">
									<?php echo $block->getChildHtml('cart-header'); ?>
								</div>
							</div>

							<div class="wishlist-header">
								<div class="wishlist-content">
									<?php echo $block->getChildHtml('wish-list-header'); ?>
								</div>
							</div>

							<div class="login-header">
								<div class="login-content" style="font-family: "Open Sans;">
									<?php echo $block->getChildHtml('login-header-block'); ?>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="header-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-1 col-xs-3  sidebar-megamenu">
					<div class="megamenu-content-sidebar">
						<div class="btn-megamenu">
							<a href="javascript:void(0)" title="<?php echo __('All Categories')?>"><?php echo __('All Categories')?></a>
						</div>
						
						<div class="menu-ver-content">
							<?php
								if($_config->getGeneral('menu_style') == 'megamenu'){
									echo $block->getChildHtml('navigation-header-megamenu');
								} else {
									echo $block->getChildHtml('navigation-header');
								}
							?>
						</div>
					</div>
					
					<div class="navigation-mobile-container">
						<?php echo $block->getChildHtml('navigation.mobile'); ?>
					</div>
				</div>
				
				<div class="col-lg-9 col-md-9 col-sm-11 col-xs-9 main-megamenu">
					<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('megamenu-horizontal')->toHtml();?>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	jQuery(document).ready(function($){
		$( ".header-style-1 .header-top .header-top-links .toplinks-wrapper .header.links li" ).not( ".myaccount-link" ).mouseover(function() {
			$( ".header-style-1 .header-top .header-top-links .toplinks-wrapper .header.links" ).addClass('toplinks_hover');
		}).mouseout(function() {
			$( ".header-style-1 .header-top .header-top-links .toplinks-wrapper .header.links" ).removeClass('toplinks_hover');
		});
	});
</script>
<?php }else{ ?> 
<div class="popup-container"></div>
<div class="header-container header-style-1">
	<div class="header-event">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<?php echo $block->getChildHtml('event-top'); ?>
			</div>
		</div>
	</div>

	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 language-currency-top">
					<?php echo $block->getChildHtml('language-header'); ?>
					<?php echo $block->getChildHtml('currency-header'); ?>
				</div>
				
				<div class="col-lg-10 col-md-10 header-top-links">

					<?php echo $block->getChildHtml('toplinks-header-custom'); ?>
				</div>
			</div>
		</div>
	</div>
	
	<div class="header-middle">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-2 logo-header">
					<?php echo $block->getChildHtml('logo-header'); ?>
				</div>
				
				<div class="col-lg-10 col-md-10 col-sm-10 header-middle-right">
					<div class="middle-right-content">
						<div class="fr detect-mobile-800">
							<div class="minicart-header">
								<div class="minicart-content">
									<?php echo $block->getChildHtml('cart-header'); ?>
								</div>
							</div>
							<div class="wishlist-header">
								<div class="wishlist-content">
									<?php echo $block->getChildHtml('wish-list-header'); ?>
								</div>
							</div>
							<div class="login-header">
								<div class="login-content">
									<?php echo $block->getChildHtml('login-header-block'); ?>
								</div>
							</div>
							<div class="searchbox-header-icon">
								<i class="fas fa-search"></i>
							</div>
							<div class="searchbox-header-close">
								<i class="fas fa-times-circle"></i>
							</div>
						</div>
						<div class="searchbox-header searchbox-header-mobile">
							<?php echo $block->getChildHtml('search-header-pro'); ?>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="header-bottom header-bottom-mobile">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-1 col-xs-3  sidebar-megamenu">
					<div class="megamenu-content-sidebar">
						<div class="btn-megamenu">
							<a href="javascript:void(0)" title="<?php echo __('All Categories')?>"><?php echo __('All Categories')?></a>
						</div>
						
						<div class="menu-ver-content">
							<?php
								if($_config->getGeneral('menu_style') == 'megamenu'){
									echo $block->getChildHtml('navigation-header-megamenu');
								} else {
									echo $block->getChildHtml('navigation-header');
								}
							?>
						</div>
					</div>
					
					<div class="navigation-mobile-container">
						<?php echo $block->getChildHtml('navigation.mobile'); ?>
					</div>
				</div>
				
				<div class="col-lg-9 col-md-9 col-sm-11 col-xs-9 main-megamenu">
					<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('megamenu-horizontal')->toHtml();?>
				</div>
			</div>
		</div>
	</div>
</div>
<?php } ?>
<!--Srcool hide header-->
<script>
  require([
        'jquery',
        'Magento_Ui/js/modal/modal'
    ], function ( $,modal ) {
		$(document).ready(function(){
			$(window).scroll(function(){
				if ($(window).scrollTop() >= 100) {
					$("div.header-bottom-mobile").css("display","none");
				} else {
					$("div.header-bottom-mobile").css("display","block");
				}
			});
	});
});
</script>
<!--Srcool hide header-->
<!--Show and hide search input-->
<script>
	    require([
        'jquery',
        'Magento_Ui/js/modal/modal'
    ], function ( $,modal ) {
		$(document).ready(function(){
			ShowSearch();
			closeSearch();
			hidetest();
			function hidetest(){
						$("div.searchbox-header-mobile").css("display","none");
						$("div.header-middle").css("min-height","70px");
						$("div.searchbox-header-icon").css("display","block");
						$("div.searchbox-header-close").css("display","none");
			}
			function ShowSearch(){
				$("div.searchbox-header-icon").on({
					click: function(){					
						$("div.searchbox-header-mobile").css("display","block");
						$("div.header-middle").css("min-height","116px");
						$("div.searchbox-header-icon").css("display","none");
						$("div.searchbox-header-close").css("display","block");
						event.stopPropagation();
					}
				});
			}
			function closeSearch(){
				$("div.searchbox-header-close").click(hidetest());
			}

			$(window).on("click",function(){
				var eleClass = event.target.className;
				if (eleClass.indexOf("input-searchbox") < 0 ){
					hidetest();
				} else {}
			});
	});
});
</script>
<!--Show and hide search input-->
