<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<p class="magento-version">
    <strong><?php /* @escapeNotVerified */ echo __('Source'); ?></strong>
    <?php /* @escapeNotVerified */ echo __('ver. %1', $block->getMagentoVersion()) ?>
</p>
