<?php
/*------------------------------------------------------------------------
	# SM Listing Tabs - Version 2.2.0
	# Copyright (c) 2014 YouTech Company. All Rights Reserved.
	# @license - Copyrighted Commercial Software
	# Author: YouTech Company
	# Websites: http://www.magentech.com
   -------------------------------------------------------------------------*/
use Magento\Framework\App\Action\Action; 
$helper = $this->_helper();

$_config = $this->helper('Sm\Market\Helper\Data');

if ($this->_isAjax()) {
    $type_filter = $this->_getConfig('filter_type');
    switch ($type_filter) {
        case 'categories':
            $catid = $this->getRequest()->getPost('categoryid');
            $child_items = $this->_getProductInfor($catid);
            break;
        case 'fieldproducts':
            $field_order = $this->getRequest()->getPost('categoryid');
            $catid = $this->_getCatIds();
            $child_items = $this->_getProductInfor($catid, $field_order);
            break;
    }
}
if (!empty($child_items)) {
    $j = $this->getRequest()->getPost('ajax_listingtags_start', 0);
	$nb_type_show = $this->_getConfig('show_loadmore_slider');
	$nb_rows = $this->_getConfig('nb_rows', 1); 
	//$nb_rows = 5;
	$i = 0;
	$count = count($child_items);
    foreach ($child_items as $_product) {
        $i++; $j++; ?>
		
		<?php if( $i%7 == 1 ){?>
			<div class="item-wrap">
				<div class="row">
				<div class="col-lg-5 col-md-5 item-first">	
					<?php 
					$objectManager = \Magento\Framework\App\ObjectManager::getInstance();					
					$product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());        
					$images = $product->getMediaGalleryImages();
					$productInfo = "product_" . rand() . time();;
					?>
					
					<div class="item <?php echo $productInfo;?>">
						<div class="item-inner">
							<?php if ($_product->_image) { ?>
								<div class="box-image">
									<a href="<?php echo $_product->link ?>"
									   title="<?php echo $_product->title; ?>"
										<?php echo $helper->parseTarget($this->_getConfig('target')); ?>
										>
										<img src="<?php echo $_product->_image; ?>"
											 title="<?php echo $_product->title; ?>"
											 alt="<?php echo $_product->title; ?>" >
									</a>
									
									<!--LABEL PRODUCT-->

										<?php
											$specialprice = $_product->getSpecialPrice();
											$specialPriceFromDate = $_product->getSpecialFromDate();
											$specialPriceToDate = $_product->getSpecialToDate();
											
											$today = time();

											if (!$_product->getIsSalable()){ ?>
												<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Sold out') ?></span></div>
											<?php } else if ($specialprice && $_config->getAdvanced('show_salelabel')) {
												if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)) { 
													$specialPercentage = 100;
                                        			if ($_product->getPrice() > 0) {
														$specialPercentage = 100 - round($_product->getSpecialPrice() / $_product->getPrice()*100);
													}
													if($specialPercentage > 0) { ?>
														<div class="label-product label-sale">
															<span class="sale-product-icon">
																<?php echo __('Sale') . " $specialPercentage%"; ?>
															</span>
														</div>
													<?php } 
												}
											} 
										?>
										
										<?php
										$now = date("Y-m-d");
										$newsFrom = substr($_product->getNewsFromDate(), 0, 10);
										$newsTo = substr($_product->getNewsToDate(), 0, 10);
										
										if (($newsTo != '' || $newsFrom != '') && $_config->getAdvanced('show_newlabel')) {
											if (($newsTo != '' && $newsFrom != '' && $now >= $newsFrom && $now <= $newsTo) || ($newsTo == '' && $now >= $newsFrom) || ($newsFrom == '' && $now <= $newsTo)) {?>
													<div class="label-product label-new">
														<span class="new-product-icon"><?php echo __('New'); ?></span>
													</div>
											<?php }
										} ?>
										
										
									<!--END LABEL PRODUCT-->
								</div>
							<?php }?>

							<!-- Begin ltabs-content -->
							<?php  ?>
							<div class="product details product-item-details box-info">

								<?php if ((int)$this->_getConfig('product_title_display', 1)) { ?>
									<h2 class="product name product-item-name product-name">
										<a href="<?php echo $_product->link; ?>" title="<?php echo $_product->title; ?>"
											<?php echo $helper->parseTarget($this->_getConfig('target')); ?>
											>
											<?php echo $helper->truncate($_product->title, $this->_getConfig('product_title_maxlength')); ?>
										</a>
									</h2>
								<?php } ?>
								
								<?php if ((int)$this->_getConfig('product_description_display', 1) && $helper->_trimEncode($_product->_description) != '') { ?>
									<div class="ltabs-description">
										<?php echo $_product->_description; ?>
									</div>
								<?php } ?>
									
								<?php if ($this->_getConfig('product_source') != 'media') { ?>
									<?php if ((int)$this->_getConfig('product_reviews_count', 1)) { ?>
											<?php 
												$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
												echo $block->getReviewsSummaryHtml($_product,$templateType,true); 
											?>
									<?php } ?>

									<?php if ((int)$this->_getConfig('product_price_display', 1)) { ?>
										<?php echo $this->getProductPrice($_product); ?>
									<?php } ?>
									
									
									<div class="bottom-action">
										<?php if($_config->getAdvanced('show_addtocart_button')){?>
										<div class="actions-primary">
											 <?php if ($_product->isSaleable()): ?>
												<?php $postParams = $this->getAddToCartPostParams($_product); 
												$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
												$session = $objectManager->get('\Magento\Framework\View\Element\FormKey');
												?>
												<!-- <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
													<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
													<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
													<?php echo $block->getBlockHtml('formkey')?>
													<input  name="form_key" type="hidden" value="<?php echo $session->getFormKey(); ?>" />
													<button type="submit"
															title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
															class="action tocart btn-action btn-cart">
														<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
													</button>
												</form> -->
											<?php else: ?>
												<?php if ($_product->getIsSalable()): ?>
													<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
												<?php else: ?>
													<!-- <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div> -->
												<?php endif; ?>
											<?php endif; ?>
										</div>
										<?php } ?>

										
											<!-- <div class="secondary-addto-links actions-secondary" data-role="add-to-links">
												<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $_config->getAdvanced('show_wishlist_button') ){ ?>
													<a onclick="addToWishlist('<?php echo $block->getUrl('mywishlist/wishlist/addwishlist'); ?>','<?php echo $_product->getId(); ?>')" class="action btn-action link-wishlist" title="<?php  echo __('Add to Wish List') ?>">
														<span><?php  echo __('Add to Wish List') ?></span>
													</a>
												<?php } ?>
												<?php if ($block->getAddToCompareUrl() &&  $_config->getAdvanced('show_compare_button') ){ ?>
													<?php
													$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
													?>
													<a href="#" class="action tocompare btn-action link-compare"
													   data-post='<?php  echo $compareHelper->getPostDataParams($_product);?>'
													   data-role="add-to-links"
													   title="<?php  echo __('Add to Compare'); ?>">
														<span><?php  echo __('Add to Compare') ?></span>
													</a>
												<?php }; ?>
											</div> -->
										
									</div>
									
									
									
								<?php } ?>

								<?php if ($this->_getConfig('product_readmore_display') == 1) { ?>
									<div class="ltabs-detail">
										<a href="<?php echo $_product->link ?>"
										   title="<?php echo $_product->title; ?>"
											<?php echo $helper->parseTarget($this->_getConfig('target')); ?>
											>
											<?php echo $this->_getConfig('product_readmore_text', 'Details'); ?>
										</a>
									</div>
								<?php } ?>
							</div>
							
							<div class="thumbs-product">
								<?php $limit = 0; foreach($images as $child){ $limit++; ?>
									<div class="item-img" data-src="<?php echo $child->getUrl(); ?>"><img src="<?php echo $child->getUrl(); ?>" alt="image" /></div>
								<?php if($limit == 4) break; } ?>
							</div>
							
							<script>
								jQuery(document).ready(function($) {
									$( ".<?php echo $productInfo;?> .thumbs-product .item-img" ).click(function() {
										$( ".<?php echo $productInfo;?> .thumbs-product .item-img" ).removeClass('thumb-active');
										$(this).addClass('thumb-active');
										var thumb_src = $(this).attr("data-src");
										$( ".<?php echo $productInfo;?> .box-image a img").attr("src",thumb_src);
									}); 
								});	
							</script>
						</div>
					</div>
				</div>			
		<?php } ?>
			
			<?php if( $i%7 == 2 ){?>
			<div class="col-lg-7 col-md-7">	
				<div class="right-container">
				<div class="row">
			<?php }?>	
			
				<?php if( $i%7 > 1 || $i%7 == 0 ){?>
				<div class="item col-lg-4 col-md-4 col-sm-4 col-xs-6">
					<div class="item-inner">
						<?php if ($_product->_image) { ?>
							<div class="box-image">
								<a href="<?php echo $_product->link ?>"
								   title="<?php echo $_product->title; ?>"
									<?php echo $helper->parseTarget($this->_getConfig('target')); ?>
									>
									<img src="<?php echo $_product->_image; ?>"
										 title="<?php echo $_product->title; ?>"
										 alt="<?php echo $_product->title; ?>" >
								</a>
								
								<!--LABEL PRODUCT-->

									<?php
										$specialprice = $_product->getSpecialPrice();
										$specialPriceFromDate = $_product->getSpecialFromDate();
										$specialPriceToDate = $_product->getSpecialToDate();
										
										$today = time();

										if (!$_product->getIsSalable()){ ?>
											<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Sold out') ?></span></div>
										<?php } else if ($specialprice && $_config->getAdvanced('show_salelabel')) {
											if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)) { 
												$specialPercentage = 100;
                                        		if ($_product->getPrice() > 0) {
													$specialPercentage = 100 - round($_product->getSpecialPrice() / $_product->getPrice()*100);
												}
												if($specialPercentage > 0) { ?>
													<div class="label-product label-sale">
														<span class="sale-product-icon">
															<?php echo __('Sale') . " $specialPercentage%"; ?>
														</span>
													</div>
												<?php } 
											}
										} 
									?>
									
									<?php
									$now = date("Y-m-d");
									$newsFrom = substr($_product->getNewsFromDate(), 0, 10);
									$newsTo = substr($_product->getNewsToDate(), 0, 10);
									
									if (($newsTo != '' || $newsFrom != '') && $_config->getAdvanced('show_newlabel')) {
										if (($newsTo != '' && $newsFrom != '' && $now >= $newsFrom && $now <= $newsTo) || ($newsTo == '' && $now >= $newsFrom) || ($newsFrom == '' && $now <= $newsTo)) {?>
												<div class="label-product label-new">
													<span class="new-product-icon"><?php echo __('New'); ?></span>
												</div>
										<?php }
									} ?>
									
									
								<!--END LABEL PRODUCT-->
							</div>
						<?php }?>

						<!-- Begin ltabs-content -->
						<?php  ?>
						<div class="product details product-item-details box-info">

							<?php if ((int)$this->_getConfig('product_title_display', 1)) { ?>
								<h2 class="product name product-item-name product-name">
									<a href="<?php echo $_product->link; ?>" title="<?php echo $_product->title; ?>"
										<?php echo $helper->parseTarget($this->_getConfig('target')); ?>
										>
										<?php echo $helper->truncate($_product->title, $this->_getConfig('product_title_maxlength')); ?>
									</a>
								</h2>
							<?php } ?>
							
							<?php if ((int)$this->_getConfig('product_description_display', 1) && $helper->_trimEncode($_product->_description) != '') { ?>
								<div class="ltabs-description">
									<?php echo $_product->_description; ?>
								</div>
							<?php } ?>
								
							<?php if ($this->_getConfig('product_source') != 'media') { ?>
								<?php if ((int)$this->_getConfig('product_reviews_count', 1)) { ?>
										<?php 
											$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
											echo $block->getReviewsSummaryHtml($_product,$templateType,true); 
										?>
								<?php } ?>

								<?php if ((int)$this->_getConfig('product_price_display', 1)) { ?>
									<?php echo $this->getProductPrice($_product); ?>
								<?php } ?>
								
								
								<div class="bottom-action">
									<?php if($_config->getAdvanced('show_addtocart_button')){?>
									<div class="actions-primary">
										 <?php if ($_product->isSaleable()): ?>
											<?php $postParams = $this->getAddToCartPostParams($_product); 
											$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
											$session = $objectManager->get('\Magento\Framework\View\Element\FormKey');
											?>
											<!-- <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
												<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
												<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
												<?php echo $block->getBlockHtml('formkey')?>
												<input  name="form_key" type="hidden" value="<?php echo $session->getFormKey(); ?>" />
												<button type="submit"
														title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
														class="action tocart btn-action btn-cart">
													<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
												</button>
											</form> -->
										<?php else: ?>
											<?php if ($_product->getIsSalable()): ?>
												<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
											<?php else: ?>
												<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
											<?php endif; ?>
										<?php endif; ?>
									</div>
									<?php } ?>

									
										<!-- <div class="secondary-addto-links actions-secondary" data-role="add-to-links">
											<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $_config->getAdvanced('show_wishlist_button') ){ ?>
												<a onclick="addToWishlist('<?php echo $block->getUrl('mywishlist/wishlist/addwishlist'); ?>','<?php echo $_product->getId(); ?>')" class="action btn-action link-wishlist" title="<?php  echo __('Add to Wish List') ?>">
													<span><?php  echo __('Add to Wish List') ?></span>
												</a>
											<?php } ?>
											<?php if ($block->getAddToCompareUrl() &&  $_config->getAdvanced('show_compare_button') ){ ?>
												<?php
												$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
												?>
												<a href="#" class="action tocompare btn-action link-compare"
												   data-post='<?php  echo $compareHelper->getPostDataParams($_product);?>'
												   data-role="add-to-links"
												   title="<?php  echo __('Add to Compare'); ?>">
													<span><?php  echo __('Add to Compare') ?></span>
												</a>
											<?php }; ?>
										</div> -->
									
								</div>
								
								
							<?php } ?>

							<?php if ($this->_getConfig('product_readmore_display') == 1) { ?>
								<div class="ltabs-detail">
									<a href="<?php echo $_product->link ?>"
									   title="<?php echo $_product->title; ?>"
										<?php echo $helper->parseTarget($this->_getConfig('target')); ?>
										>
										<?php echo $this->_getConfig('product_readmore_text', 'Details'); ?>
									</a>
								</div>
							<?php } ?>
						</div>
					</div>
				</div>
			
			
			<?php }?>			
		
		<?php if( $i%7 == 0 || $i == $count ){?>
			</div>
			</div>
			</div>
			</div>
			</div>
		<?php } ?>
		
		
		
        <?php 
		$clear = 'clr1';
        if ($j % 2 == 0) $clear .= ' clr2';
        if ($j % 3 == 0) $clear .= ' clr3';
        if ($j % 4 == 0) $clear .= ' clr4';
        if ($j % 5 == 0) $clear .= ' clr5';
        if ($j % 6 == 0) $clear .= ' clr6';
        ?>
        <?php if( $this->_getConfig('show_loadmore_slider') == 'loadmore'){ ?>
            <div class="<?php echo $clear; ?>"></div>
        <?php } ?>
    <?php
    }
}?>
