<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var $block Magento\Wishlist\Block\Catalog\Product\ProductList\Item\AddTo\Wishlist */
?>
<?php if ($block->getWishlistHelper()->isAllow()): ?>
    <a onclick="addToWishlist('<?php echo $block->getUrl('mywishlist/wishlist/addwishlist'); ?>','<?php echo $block->getProduct()->getId(); ?>',1)" class="action" title="<?php  echo __('Add to Wish List') ?>" role="button">
        <span><?php /* @escapeNotVerified */ echo __('Add to Wish List') ?></span>
    </a>
<?php endif; ?>
