<?php
$dataReturn = $block->getDataFromEdit();
//$url = $this->_backendUrl->getUrl("virtual/actions/save");
$url = $block->getAdminUrl();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$FormKey = $objectManager->get('Magento\Framework\Data\Form\FormKey');
$id_statement = $dataReturn["id_statement"];
$id_customer = $dataReturn["id_customer"];
?>
<form name="save_statement" method="post" action="<?php echo $url;  ?>">
<input name="form_key" type="hidden" value="<?php echo $FormKey->getFormKey();?>">
<input  type="hidden" name="id_statement" value="<?php echo $id_statement;?>">
<input  type="hidden" name="id_customer" value="<?php echo $id_customer;?>">
<div class="page-main-actions">
    <div class="page-actions-placeholder" style=""></div>
    <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
        <div class="page-actions-inner" data-title="Veronica Costello">
            <div class="page-actions-buttons">
                <button id="save" title="Save Customer" type="submit" class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" data-form-role="save" data-ui-id="save-button" role="button" aria-disabled="false">
                    <span class="ui-button-text">
                        <span>Save Statement</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="container" class="main-col">
    <div class="admin__old">
        <div class="fieldset-wrapper" data-bind="visible: $data.visible === undefined ? true: $data.visible, css: $data.additionalClasses, attr: {'data-level': $data.level, 'data-index': index}" data-level="0" data-index="customer">
            <!-- ko if: label -->
            <div class="fieldset-wrapper-title" data-bind="attr: {tabindex: !collapsible ? -1 : 0,
      'data-state-collapsible': collapsible ? opened() ? 'open' : 'closed' : null}, click: toggleOpened, keyboard: {13: toggleOpened}" tabindex="-1">
                <strong data-bind="css: {'admin__collapsible-title': collapsible,
         title: !collapsible,
         '_changed': changed,
         '_loading': loading,
         '_error': error}" class="title">
                    <span data-bind="i18n: label"><?php echo __("Statement Info");  ?></span>
                    <!-- ko if: collapsible --><!-- /ko -->
                </strong>
            </div>
            <!-- /ko -->
            <div class="admin__fieldset-wrapper-content _hide" data-bind="css: {'admin__collapsible-content': collapsible, '_show': opened, '_hide': !opened()}">
                <!-- ko if: opened() || _wasOpened || initializeFieldsetDataByDefault -->
                <fieldset class="admin__fieldset" data-bind="foreach: {data: elems, as: 'element'}">
                    <!-- ko template: getTemplate() -->
                    <fieldset class="admin__field _required" data-bind="css: {_required: required}, attr: {'data-index': index}, visible: visible" data-index="container_group">
                        <!-- ko if: showLabel -->
                        <legend class="admin__field-label">
                            <span data-bind="attr: {'data-config-scope': $data.scopeLabel}, i18n: label"><?php __("Status") ?></span>
                        </legend>
                        <!-- /ko -->
                        <div class="admin__field-control admin__control-fields required" data-bind="css: $data.additionalClasses">
                            <!-- ko foreach: elems -->
                            <!-- ko if: !$data.additionalForGroup --><!-- ko if: visible() -->
                            <!-- ko if: element.input_type != 'checkbox' || element.input_type != 'radio' --><!-- ko template: $parent.fieldTemplate -->
                            <div class="admin__field _required" data-bind="css: $data.additionalClasses, attr: {'data-index': index}, visible: visible" data-index="group_id">
                                <!-- ko if: $data.label --><label class="admin__field-label" data-bind="attr: {for: uid}, visible: $data.labelVisible" for="QH72S2B">
                                    <span data-bind="attr: {'data-config-scope': $data.scopeLabel}, i18n: label">Status</span>
                                </label><!-- /ko -->
                                <div class="admin__field-control" data-bind="css: {'_with-tooltip': $data.tooltip, '_with-reset': $data.showFallbackReset &amp;&amp; $data.isDifferedFromDefault}">
                                    <!-- ko ifnot: hasAddons() --><!-- ko template: elementTmpl -->
                                    <select class="admin__control-select" data-bind="
                        attr: {
                        name: inputName,
                        id: uid,
                        disabled: disabled,
                        'aria-describedby': noticeId
                        },
                        hasFocus: focused,
                        optgroup: options,
                        value: value,
                        optionsCaption: caption,
                        optionsValue: 'value',
                        optionsText: 'label'" name="status" id="QH72S2B" aria-describedby="notice-QH72S2B">
                                        <option data-title="General" value="0" <?php if($dataReturn["status"] == "0") echo "selected='selected'" ?>>Processing</option>
                                        <option data-title="Wholesale" value="1" <?php if($dataReturn["status"] == "1") echo "selected='selected'" ?>>Complete</option>
                                    </select>
                                    <!-- /ko --><!-- /ko -->
                                    <!-- ko if: hasAddons() --><!-- /ko -->
                                    <!-- ko if: $data.tooltip --><!-- /ko -->
                                    <!-- ko if: $data.showFallbackReset && $data.isDifferedFromDefault --><!-- /ko -->
                                    <!-- ko if: error --><!-- /ko -->
                                    <!-- ko if: $data.notice --><!-- /ko -->
                                    <!-- ko if: $data.additionalInfo --><!-- /ko -->
                                    <!-- ko if: $data.hasService() --><!-- /ko -->
                                </div>
                            </div>
                            <!-- /ko --><!-- /ko -->
                            <!-- ko if: element.input_type == 'checkbox' || element.input_type == 'radio' --><!-- /ko -->
                            <!-- /ko --><!-- /ko -->
                            <!-- ko if: !$data.additionalForGroup --><!-- ko if: visible() -->
                            <!-- ko if: element.input_type != 'checkbox' || element.input_type != 'radio' --><!-- ko template: $parent.fieldTemplate -->
                            <!-- /ko --><!-- /ko -->
                            <!-- ko if: element.input_type == 'checkbox' || element.input_type == 'radio' --><!-- /ko -->
                            <!-- /ko --><!-- /ko -->
                            <!-- /ko -->
                            <!-- ko foreach: getRegion('insideGroup') --><!-- /ko -->
                            <!-- ko if: validateWholeGroup --><!-- ko foreach: elems -->
                            <!-- ko if: !$data.additionalForGroup -->
                            <!-- ko if: error() && visible() --><!-- /ko -->
                            <!-- /ko -->
                            <!-- ko if: !$data.additionalForGroup -->
                            <!-- ko if: error() && visible() --><!-- /ko -->
                            <!-- /ko -->
                            <!-- /ko --><!-- /ko -->
                        </div>
                        <!-- ko foreach: getRegion('outsideGroup') --><!-- /ko -->
                    </fieldset>
                    <!-- /ko --><!-- ko template: getTemplate() -->
                    <div class="admin__field" data-bind="css: $data.additionalClasses, attr: {'data-index': index}, visible: visible" data-index="prefix">
                        <!-- ko if: $data.label --><label class="admin__field-label" data-bind="attr: {for: uid}, visible: $data.labelVisible" for="NEEHGU0">
                            <span data-bind="attr: {'data-config-scope': $data.scopeLabel}, i18n: label">Content</span>
                        </label><!-- /ko -->
                        <div class="admin__field-control" data-bind="css: {'_with-tooltip': $data.tooltip, '_with-reset': $data.showFallbackReset &amp;&amp; $data.isDifferedFromDefault}">
                            <!-- ko ifnot: hasAddons() --><!-- ko template: elementTmpl -->
                            <input class="admin__control-text" type="text" data-bind="
                  event: {change: userChanges},
                  value: value,
                  hasFocus: focused,
                  valueUpdate: valueUpdate,
                  attr: {
                  name: inputName,
                  placeholder: placeholder,
                  'aria-describedby': noticeId,
                  id: uid,
                  disabled: disabled
                  }" name="content" value="<?php echo $dataReturn["content"] ?>" aria-describedby="notice-NEEHGU0" id="NEEHGU0">
                            <!-- /ko --><!-- /ko -->
                            <!-- ko if: hasAddons() --><!-- /ko -->
                            <!-- ko if: $data.tooltip --><!-- /ko -->
                            <!-- ko if: $data.showFallbackReset && $data.isDifferedFromDefault --><!-- /ko -->
                            <!-- ko if: error --><!-- /ko -->
                            <!-- ko if: $data.notice --><!-- /ko -->
                            <!-- ko if: $data.additionalInfo --><!-- /ko -->
                            <!-- ko if: $data.hasService() --><!-- /ko -->
                        </div>
                    </div>
                    <div class="admin__field" data-bind="css: $data.additionalClasses, attr: {'data-index': index}, visible: visible" data-index="prefix">
                        <!-- ko if: $data.label --><label class="admin__field-label" data-bind="attr: {for: uid}, visible: $data.labelVisible" for="NEEHGU0">
                            <span data-bind="attr: {'data-config-scope': $data.scopeLabel}, i18n: label">Amount</span>
                        </label><!-- /ko -->
                        <div class="admin__field-control" data-bind="css: {'_with-tooltip': $data.tooltip, '_with-reset': $data.showFallbackReset &amp;&amp; $data.isDifferedFromDefault}">
                            <!-- ko ifnot: hasAddons() --><!-- ko template: elementTmpl -->
                            <input class="admin__control-text" type="text" data-bind="
                  event: {change: userChanges},
                  value: value,
                  hasFocus: focused,
                  valueUpdate: valueUpdate,
                  attr: {
                  name: inputName,
                  placeholder: placeholder,
                  'aria-describedby': noticeId,
                  id: uid,
                  disabled: disabled
                  }" name="amount" value="<?php echo $dataReturn["amount"] ?>" aria-describedby="notice-NEEHGU0" id="NEEHGU0">
                            <!-- /ko --><!-- /ko -->
                            <!-- ko if: hasAddons() --><!-- /ko -->
                            <!-- ko if: $data.tooltip --><!-- /ko -->
                            <!-- ko if: $data.showFallbackReset && $data.isDifferedFromDefault --><!-- /ko -->
                            <!-- ko if: error --><!-- /ko -->
                            <!-- ko if: $data.notice --><!-- /ko -->
                            <!-- ko if: $data.additionalInfo --><!-- /ko -->
                            <!-- ko if: $data.hasService() --><!-- /ko -->
                        </div>
                    </div>
                    <!-- /ko --><!-- ko template: getTemplate() -->
                    <div class="admin__field _required" data-bind="css: $data.additionalClasses, attr: {'data-index': index}, visible: visible" data-index="firstname">
                        <!-- ko if: $data.label --><label class="admin__field-label" data-bind="attr: {for: uid}, visible: $data.labelVisible" for="UYIDX80">
                            <span data-bind="attr: {'data-config-scope': $data.scopeLabel}, i18n: label">Date Of Payment</span>
                        </label><!-- /ko -->
                        <div class="admin__field-control" data-bind="css: {'_with-tooltip': $data.tooltip, '_with-reset': $data.showFallbackReset &amp;&amp; $data.isDifferedFromDefault}">
                            <!-- ko ifnot: hasAddons() --><!-- ko template: elementTmpl -->
                            <input class="admin__control-text" type="text" data-bind="
                  event: {change: userChanges},
                  value: value,
                  hasFocus: focused,
                  valueUpdate: valueUpdate,
                  attr: {
                  name: inputName,
                  placeholder: placeholder,
                  'aria-describedby': noticeId,
                  id: uid,
                  disabled: disabled
                  }" name="date_of_pay" value="<?php echo $dataReturn["date_of_pay"] ?>"  disabled="disabled" aria-describedby="notice-UYIDX80" id="UYIDX80">
                            <!-- /ko --><!-- /ko -->
                            <!-- ko if: hasAddons() --><!-- /ko -->
                            <!-- ko if: $data.tooltip --><!-- /ko -->
                            <!-- ko if: $data.showFallbackReset && $data.isDifferedFromDefault --><!-- /ko -->
                            <!-- ko if: error --><!-- /ko -->
                            <!-- ko if: $data.notice --><!-- /ko -->
                            <!-- ko if: $data.additionalInfo --><!-- /ko -->
                            <!-- ko if: $data.hasService() --><!-- /ko -->
                        </div>
                    </div>
                    <!-- /ko --><!-- ko template: getTemplate() -->
                    <!-- /ko --><!-- ko template: getTemplate() -->
                    <!-- /ko --><!-- ko template: getTemplate() -->
                    <!-- /ko --><!-- ko template: getTemplate() -->
                    <!-- /ko -->
                </fieldset>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
</form>