<?php
$dataReturn = $block->getDataReSeller();
$url = $block->getSaveUrl();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$FormKey = $objectManager->get('Magento\Framework\Data\Form\FormKey');
$customer = $objectManager->create('\Magento\Customer\Model\Customer')->load($dataReturn["id_customer"]);
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$store = $storeManager->getStore();
$url_ret = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB)."customer/admin/index/is_admin/".$dataReturn["id_customer"];
?>
<style>
    #view_seller{
        font-size: 1.6rem;
        letter-spacing: .025em;
        padding-bottom: .6875em;
        padding-top: .6875em;
        background-color: #eb5202;
        border-color: #eb5202;
        color: #fff;
        text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
        border: 1px solid;
        border-radius: 0;
        display: inline-block;
        font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
        /* font-size: 1.4rem; */
        font-weight: 600;
        line-height: 1.36;
        padding: .6rem 1em .6rem;
        text-align: center;
        vertical-align: baseline;
        padding-top: 11px;
        padding-bottom: 11px;
    }
</style>
<form name="save_seller" method="post" action="<?php echo $url; ?>">
<input name="form_key" type="hidden" value="<?php echo $FormKey->getFormKey();?>">
    <input type="hidden" value="<?php echo $dataReturn["id_reseller"]; ?>" name="id_seller" id="id_seller"/>
    <input type="hidden" value="<?php echo $dataReturn["id_customer"]; ?>" name="id_customer" id="id_customer"/>
<div class="page-main-actions">
    <div class="page-actions-placeholder" style=""></div>
    <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
        <div class="page-actions-inner" data-title="Veronica Costello">
            <div class="page-actions-buttons">
                <button id="back" title="Back" type="button" class="action- scalable back" onclick="location.href = '<?php echo $block->getBackUrl(); ?>';" data-ui-id="back-button">
                    <span><?php echo __("Back"); ?></span>
                </button>
                <button id="approve" title="Save Customer" type="button" class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" data-form-role="save" data-ui-id="save-button" role="button" aria-disabled="false">
                    <span class="ui-button-text">
                        <span><?php echo __("Approve"); ?></span>
                    </span>
                </button>
                <button id="save_information" type="submit" title="Save Customer" type="button" class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">
                        <span><?php echo __("Save Information"); ?></span>
                    </span>
                </button>
                <button id="cancel" title="Cancel" type="button" class="action- scalable action-secondary" data-form-role="save" data-ui-id="save-button" role="button" aria-disabled="false">
                    <span class="ui-button-text">
                        <span><?php echo __("Cancel"); ?></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="container" class="main-col">
    <div class="admin__old">
        <div class="fieldset-wrapper"  data-index="customer">
            <div class="fieldset-wrapper-title" tabindex="-1">
                <strong class="title">
                    <span><?php echo __("Basic Information");  ?></span>
                </strong>
            </div>
            <div class="admin__fieldset-wrapper-content _hide">
                <fieldset class="admin__fieldset">
					<div class="admin__field" data-index="prefix">
                        <label class="admin__field-label" for="NEEHGU0">
                            <span><?php echo __("Name") ?></span>
                        </label>
                        <div class="admin__field-control" >
                            <input class="admin__control-text" type="text"  name="first_name" value="<?php echo $customer->getData("firstname") ?> <?php echo $customer->getData("lastname") ?>" aria-describedby="notice-NEEHGU0" id="NEEHGU0">
                        </div>
                    </div>
                    <div class="admin__field" data-index="prefix">
                        <label class="admin__field-label" for="NEEHGU0">
                            <span><?php echo __("Shop Name") ?></span>
                        </label>
                        <div class="admin__field-control" >
                            <input class="admin__control-text" type="text"  name="store_name" value="<?php echo $dataReturn["shop_name"] ?>" aria-describedby="notice-NEEHGU0" id="NEEHGU0">
                        </div>
                    </div>
                    <div class="admin__field" data-index="prefix">
                        <label class="admin__field-label" for="NEEHGU0">
                            <span><?php echo __("Telephone") ?></span>
                        </label>
                        <div class="admin__field-control" >
                            <input class="admin__control-text" type="text"  name="telephone" value="<?php echo $customer->getTelephone() ?>" aria-describedby="notice-NEEHGU0" id="NEEHGU0">
                        </div>
                    </div>
					<div class="admin__field" data-index="prefix">
                        <label class="admin__field-label"  for="NEEHGU0">
                            <span>Email</span>
                        </label>
                        <div class="admin__field-control">
                            <input class="admin__control-text" type="text"  name="email" value="<?php echo $customer->getEmail() ?>" aria-describedby="notice-NEEHGU0" id="NEEHGU0">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
</form>
<div id="popup-modal_cancel" style="display: none">
    <div class="block block-dashboard-orders">
        <div class="block-content" style="margin-top: 10px">
            <div class="table-wrapper orders-recent" >
                <textarea id="message" style="width: 100%;height:150px;"></textarea>
            </div>
        </div>
    </div>
</div>
<script>
    require([
        'jquery',
        'Magento_Ui/js/modal/modal',
        'Magento_Ui/js/modal/alert'
    ], function ($,modal,alert ) {
        $("#cancel").click(function(){
            $("#popup-modal_cancel").modal(options).modal('openModal');
        });
        function cancelSeller(elem){
        }
        $("#approve").click(function () {
            $('body')
                .loader({
                    icon: $('#loading_mask_loader img').attr('src')
                })
                .loader('show');
            var id_seller = $("#id_seller").val();
            $.ajax({
                url: '<?php echo $block->getApproveUrl(); ?>',
                method: "POST",
                data: {"id_seller":id_seller},
                success: function (data) {
                    $('body').loader('hide');
                    top.location.reload();
                }
            });
        });
        $("#save_information").click(function(){
           $("#save_seller").submit();
        });
        var options = {
            type: 'popup',
            responsive: true,
            innerScroll: true,
            title: '<?php echo __("Reason Cancel") ?>',
            buttons: [{
                text: $.mage.__('Next Step'),
                class: '',
                click: function () {
                    $('body')
                        .loader({
                            icon: $('#loading_mask_loader img').attr('src')
                        })
                        .loader('show');
                    var message = $("#message").val();
                    var id_seller = $("#id_seller").val();
                    $.ajax({
                        url: '<?php echo $block->getCancelUrl(); ?>',
                        method: "POST",
                        data: {"message":message,"id_seller":id_seller},
                        success: function (data) {
                            $('body').loader('hide');
                            top.location.reload();
                        }
                    });
                }
            }]
        };

    });
</script>