<?php 
/** @var \Sm\BasicProducts\Block\BasicProducts $block */
use Magento\Framework\App\Action\Action;
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$list = $block->getBest100Products(100,0);
$helper = $this->_helper();
$_config = $this->helper('Sm\Market\Helper\Data');
?>
<div class="page-title-wrapper">
    <h1 class="page-title" id="page-title-heading" aria-labelledby="page-title-heading toolbar-amount">
        <span class="base" data-ui-id="page-title-wrapper"><?php echo __("Best 100 Products"); ?></span>
    </h1>
</div>
<div id="catalog-listing">
	<div class="category-product products  wrapper grid products-grid">
		<ol class="products list items product-items row">
            <?php foreach($list as $_product): ?>
            <?php 
            $product_name = $_product->title;
            $product_url = $_product->link;
            $product_img = $_product->_image;
            $specialprice = $_product->getSpecialPrice();
            ?>
			<li class="item product product-item">
				<div class="product-item-info" data-container="product-grid">
					<div class="item-inner">
						<div class="box-image">
							<!--LABEL PRODUCT-->
							<!--END LABEL PRODUCT-->
							<a href="<?php echo $product_url ?>" class="product photo product-item-photo" tabindex="-1">
							<span class="product-image-container">
							<span class="product-image-wrapper">
							<img class="product-image-photo" src="<?php echo $product_img ?>" width="300" height="300" alt="<?php echo $product_name ?>">
							</span>
							</span>
                            </a>
                            <div class="product-item-actions">
                                <div class="secondary-addto-links actions-secondary" data-role="add-to-links">
                                    <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $_config->getAdvanced('show_wishlist_button') ){ ?>
                                        <a onclick="addToWishlist('<?php echo $block->getUrl('mywishlist/wishlist/addwishlist'); ?>','<?php echo $_product->getId(); ?>')" class="action btn-action link-wishlist" title="<?php  echo __('Add to Wish List') ?>">
                                            <span><?php  echo __('Add to Wish List') ?></span>
                                        </a>
                                    <?php } ?>
                                </div>
                            </div>


                            <?php
                                $specialprice = $_product->getSpecialPrice();
                                $specialPriceFromDate = $_product->getSpecialFromDate();
                                $specialPriceToDate = $_product->getSpecialToDate();
                                
                                $today = time();

                                if (!$_product->getIsSalable()){ ?>
                                    <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Sold out') ?></span></div>
                                <?php } else if ($specialprice && $_config->getAdvanced('show_salelabel')) {
                                    if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)) { 
                                        $specialPercentage = 100;
                                        if ($_product->getPrice() > 0) {
                                            $specialPercentage = 100 - round($_product->getSpecialPrice() / $_product->getPrice()*100);
                                        }
                                        if($specialPercentage > 0) { ?>
                                            <div class="label-product label-sale">
                                                <span class="sale-product-icon">
                                                    <?php echo __('Sale') . " $specialPercentage%"; ?>
                                                </span>
                                            </div>
                                        <?php } 
                                    }
                                } ?>
						</div>
						<div class="product details product-item-details box-info">
							<h2 class="product name product-item-name product-name">
								<a class="product-item-link" href="<?php echo $product_url ?>"><?php echo $product_name ?></a>
							</h2>
							<div class="price-box price-final_price" data-role="priceBox" data-product-id="2063">
								<span class="price-container ">
                                    <?php echo $this->getProductPrice($_product); ?>
								</span>
							</div>
							<div class="bottom-action">
                              

						</div>
						</div>
					</div>
				</div>
            </li>
            <?php endforeach; ?>
		</ol>
	</div>
</div>