<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$orderAdmin = $objectManager->get("\Libero\Customer\Block\Buyer\Order");
$orderInformation = $orderAdmin->getOrdersByCustomer();
$orders = $orderInformation["listRecords"];
$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');
?>
<div class="block block-dashboard-orders">
    <div class="block-title order">
        <strong><?php echo __('Recent Orders') ?></strong>
        <?php if (count($orders) > 0): ?>
            <a class="action view" href="<?php echo $block->getUrl('sales/order/history') ?>">
                <span><?php echo __('View All') ?></span>
            </a>
        <?php endif; ?>
    </div>
    <div class="block-content">

    <?php if (count($orders) > 0): ?>
        <div class="table-wrapper orders-recent">
            <table class="data table table-order-items recent" id="my-orders-table">
                <caption class="table-caption"><?php echo __('Recent Orders') ?></caption>
                <thead>
                    <tr>
                        <th scope="col" class="col id"><?php echo __('Order #') ?></th>
                        <th scope="col" class="col date"><?php echo __('Date') ?></th>
                        <th scope="col" class="col shipping"><?php echo __('Ship To') ?></th>
                        <th scope="col" class="col total"><?php echo __('Order Total') ?></th>
                        <th scope="col" class="col status"><?php echo __('Status') ?></th>
                        <th scope="col" class="col actions"><?php echo __('Action') ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php 
                    $limit = 10;
                    $count = 0;
                    foreach ($orders as $order): 
                        if($count<$limit) {
                    ?>
                        <tr>
                            <td data-th="<?php echo $block->escapeHtml(__('Order #')) ?>" class="col id"><?php echo $order["increment_id"]; ?></td>
                            <td data-th="<?php echo $block->escapeHtml(__('Date')) ?>" class="col date"><?php echo date('Y-m-d H:i:s',strtotime($order["created_at"])); ?></td>
                            <td data-th="<?php echo $block->escapeHtml(__('Ship To')) ?>" class="col shipping"><?php echo $order["shipping_address"] ? $block->escapeHtml($order["shipping_name"]) : '&nbsp;' ?></td>
                            <td data-th="<?php echo $block->escapeHtml(__('Order Total')) ?>" class="col total"><?php echo $util->formatPrice($order["base_grand_total"]); ?></td>
                            <td data-th="<?php echo $block->escapeHtml(__('Status')) ?>" class="col status <?php if($orderAdmin->getOrderStatusByIncrementId($order["increment_id"]) == "Cancel") { echo "canceled";} ?>"><?php echo __($orderAdmin->getOrderStatusByIncrementId($order["increment_id"])); ?></td>
                            <td data-th="<?php echo $block->escapeHtml(__('Actions')) ?>" class="col actions">
                                <a href="<?php echo $block->getUrl('customer/buyer/view')."increment_id/" . $order["increment_id"]; ?>" class="action view">
                                    <span><?php echo __('View Order') ?></span>
                                </a>
                            </td>
                        </tr>
                    <?php 
                            $count++;
                        }
                    endforeach; ?>
                </tbody>
            </table>
        </div>
    <?php else: ?>
        <div class="message info empty"><span><?php echo __('You have placed no orders.'); ?></span></div>
    <?php endif; ?>
    </div>
</div>
<style>
    .orders-recent .recent .status.canceled { color: #cc0000;}
</style>