<?php
    $result = $block->getCollectionFAQ();
    /* paging */
    $pageSize = $result["pageSize"] ? $result["pageSize"] : 0 ;
    $curPage = $result["curPage"] ? $result["curPage"] : 1 ;
    $lastPage = $result["lastPage"];
    $total = $result["total"];
    $search_product_name = $result["product_name"];
    $search_product_sku = $result["product_sku"];
    $search_provider_id = $result["provider_id"];
    $search_product_status = $result["product_status"];
    
    if($search_product_status=="") {$search_product_status = "-1";}

    $hasNextPage = false;
    $hasPrePage = false;

    $maxCountShowPage = 5;

    $curRecords = $curPage * $pageSize;
    if($curRecords == 0) {
        $curRecords = 1;
    } else if($curRecords > $total) {
        $curRecords = $total;
    }
    
    if($curPage-3 > 0) { $hasPrePage = true; }
    if($curPage < $lastPage){ $hasNextPage = true; }


    /* paging:END */


    $faqCollection = $result["listRecords"];
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');
    $url_add_configruable_product = $block->getAddConfigruableProduct();
?>
<script>
require(['jquery'],function($){
$(function(){
    var pageSize = <?php echo $pageSize; ?>;
    if(pageSize > 0 ) {
        $("#pageSizeSelect option[value='"+ pageSize +"']").attr("selected","selected");
    }

	var status = "<?php echo $search_product_status; ?>";
    if(status != "-1" ) {
        $("#productStatusSelect option[value='"+ status +"']").attr("selected","selected");
    }
});

    function setLocation(url)
    {
        top.location.href = url;
    }

    function fnPageSize(size){
        $("#pageSize").val(size);
        var curPage = <?php echo $curPage; ?>;
        var lastPage = <?php echo $lastPage; ?>;
        var total = <?php echo $total; ?>;
        var new_last_page = Math.floor(total / size);
        if((total % size) > 0) {
            new_last_page++;
        }
        if(curPage > new_last_page){
            $("#page").val(new_last_page);
        }
        $("#search-form").submit();
    }

    function fnChangePage(page){
        $("#page").val(page);
        $("#search-form").submit();
    }

    function fnChangeStatus(order_status){
        $("#product_status").val(order_status);
        $("#search-form").submit();
    }

    function fnDelete(faq_id){
        var del_url = "<?php echo $block->getUrl('customer/faq/delete') . 'id/'; ?>" + faq_id;
        var msg = "<?php echo __("Do you want to delete this faq ?"); ?>";
        if(confirm(msg)){
            location.href = del_url;
        }
    }
})
</script>
    <div class="admin__data-grid-header-row">
        <div class="admin__data-grid-filters-wrap _show">
            <form action="<?php echo $block->getSearchUrl(); ?>" method="get" id="search-form">
                <?php if ($search_provider_id != null) { ?>
                    <input type="hidden" value="<?php echo $search_provider_id; ?>" name="provider_id" />
                <?php } ?>
                
                <fieldset class="admin__fieldset admin__data-grid-filters">
                    <div class="admin__form-field">
                        <label class="admin__form-field-label pl0">
                            <span><strong><?php echo __("Sender"); ?></strong></span>
                        </label>
                        <div class="admin__form-field-control">
                            <input class="admin__control-text w100p" type="text" name="product_name" value="<?php echo $search_product_name; ?>" aria-describedby="notice-SUJCBSP" id="SUJCBSP">
                        </div>
                    </div>	
                    <div class="admin__form-field">
                        <label class="admin__form-field-label pl0" for="UOJ43C8">
                        <span><strong><?php echo __("SKU"); ?></strong></span>
                        </label>
                        <div class="admin__form-field-control">
                            <input class="admin__control-text w100p" type="text" name="product_sku" placeholder="" value="<?php echo $search_product_sku; ?>" aria-describedby="notice-UOJ43C8" id="UOJ43C8">
                        </div>
                    </div>
                    <div class="admin__form-field">
                        <label class="admin__form-field-label pl0" for="L4352A9">
                        <span><strong><?php echo __("Status"); ?></strong></span>
                        </label>
                        <div class="admin__form-field-control">
                            <input type="hidden" id="product_status" name="product_status" value="<?php echo $search_product_status; ?>" />
                            <select class="admin__control-select" id="productStatusSelect" onchange="fnChangeStatus(jQuery(this).val());">
                                <option value="-1" <?php if($this->getStatusSearch() == -1 || $this->getStatusSearch() == null) echo 'selected="selected"' ?>><?php echo __("All"); ?></option>
                                <option value="Q"><?php echo __("Question"); ?></option>
                                <option value="A"><?php echo __("Answer"); ?></option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <div class="admin__data-grid-filters-footer">
                    <div class="admin__data-grid-pager-wrap row col-lg-12 col-md-12 col-xs-12">
                        <div class="col-lg-2 col-md-2 col-xs-2 tl">
                            <?php echo __("Total"); ?> : <?php echo $curRecords; ?> / <?php echo $total; ?>
                        </div>
                        <div class="paging-list col-lg-9 col-md-9 col-xs-9 tr fr">
                            <input type="hidden" id="page" name="page" value="<?php echo $curPage; ?>" />
                            <div class="moveToPageField"> <label style="margin: 10px 0;" class="d-ib"><?php echo __("Page"); ?> : <input type="text" onkeydown="submitOnEnter(this, event);" /></label><button type="submit" class="action-secondary">Move</button> </div>
                            <?php echo __("Page");?> : 
                            <ul class="items pages-items" aria-labelledby="paging-label">
                                <?php
                                    if(($curPage-2) > 1) { ?>
                                        <li class="item">
                                            <button type="button" class="page first first-btn" onclick="fnChangePage('1');">
                                            <span><i class="fas fa-step-backward"></i></span>
                                            </button>
                                        </li>
                                        <li class="item pages-item-prev">
                                            <button type="button" class="action  prev" onclick="fnChangePage('<?php echo $curPage-1; ?>');" title="Tiếp theo">
                                            <span><i class="fas fa-caret-left"></i></span>
                                            </button>
                                        </li>
                                        <li class="item vv-style">...</li>
                                    <?php } else if($hasPrePage) {?>
                                        <li class="item pages-item-prev">
                                            <button type="button" class="action  prev" onclick="fnChangePage('<?php echo $curPage-1; ?>');" title="Tiếp theo">
                                            <span><i class="fas fa-caret-left"></i></span>
                                            </button>
                                        </li>
                                    <?php }

                                    $page = $curPage-2;
                                    if($page < 1) { $page = 1; }
                                    $showedLast = false;
                                    for ( $page; $page < $lastPage+1; $page++){
                                        if($maxCountShowPage > 0) {
                                            if($page == $curPage){ ?>
                                                <li class="item current">
                                                    <strong class="page">
                                                    <span><?php echo $page; ?></span>
                                                    </strong>
                                                </li>
                                            <?php } else {?>
                                                <li class="item">
                                                    <button type="button" onclick="fnChangePage('<?php echo $page; ?>');" class="page">
                                                    <span><?php echo $page; ?></span>
                                                    </button>
                                                </li>
                                            <?php }
                                            $maxCountShowPage--;
                                            if($page == $lastPage) {
                                                $showedLast = true;
                                            }
                                        } else { ?>
                                            <?php break;
                                        }
                                    }
                                ?>

                                <?php if($curPage+2 < $lastPage) {
                                        if(!$showedLast){?>
                                            <li class="item vv-style">...</li>
                                        <?php }?>
                                    <li class="item pages-item-next">
                                        <button type="button" class="action  next" onclick="fnChangePage('<?php echo $curPage+1; ?>');" title="Tiếp theo">
                                        <span><i class="fas fa-caret-right"></i></span>
                                        </button>
                                    </li>
                                    <?php if(!$showedLast){?>
                                        <li class="item">
                                            <button type="button" class="page last last-btn" onclick="fnChangePage('<?php echo $lastPage; ?>');">
                                            <span><i class="fas fa-step-forward"></i></span>
                                            </button>
                                        </li>
                                    <?php }
                                } else if($hasNextPage){?>
                                    <li class="item pages-item-next">
                                        <button type="button" class="action  next" onclick="fnChangePage('<?php echo $curPage+1; ?>');" title="Tiếp theo">
                                        <span><i class="fas fa-caret-right"></i></span>
                                        </button>
                                    </li> 
                                <?php } ?>
                            </ul>
                            <div class="d-ib m-l-30">
                                <label class="label" for="limiter">
                                    <span><?php echo __("Show"); ?></span>
                                    <input type="hidden" id="pageSize" name="pageSize" value="<?php echo $pageSize; ?>" />
                                    <select id="pageSizeSelect" class="admin__control-select wa" onchange="fnPageSize(jQuery(this).val());">
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </label>
                                <span class="limiter-text"><?php echo __('per page');?></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <style>
    .data-grid-cell-content{
        vertical-align: middle !important;
        line-height: 1 !important;
    }
    .data-grid-checkbox-cell{
        vertical-align: middle !important;
        line-height: 1 !important;
    }
    .data-grid tr:not(.data-grid-editable-row):last-child td{
        vertical-align: middle !important;
        line-height: 1 !important;
    }
    </style>
   <div id="page:main-container" class="page-columns">
      <div class="admin__old">
         <div id="container" class="main-col">
            <div class="admin__data-grid-outer-wrap" data-bind="scope: 'product_listing.product_listing'">
               <div class="admin__data-grid-wrap" data-role="grid-wrapper">
                  <table class="data-grid data-grid-draggable" data-role="grid">
                     <thead>
                        <tr>
                           <th class="data-grid-multicheck-cell"> <div class="action-multicheck-wrap"> <input class="admin__control-checkbox" type="checkbox"> </div> </th>
                           <th class="data-grid-th _sortable _draggable _ascend"> <span class="data-grid-cell-content">ID</span> </th>
                           <th class="data-grid-th _draggable"> <span class="data-grid-cell-content"><?php echo __('Sender');?></span> </th>
                           <th class="data-grid-th _sortable _draggable"> <span class="data-grid-cell-content"><?php echo __('Type FAQ');?></span> </th>
                           <th class="data-grid-th _sortable _draggable"> <span class="data-grid-cell-content"><?php echo __('Product Sku');?></span> </th>
                           <th class="data-grid-th _sortable _draggable"> <span class="data-grid-cell-content"><?php echo __('Status');?></span> </th>
                           <th class="data-grid-th _sortable _draggable"> <span class="data-grid-cell-content"><?php echo __('Questioned at');?></span> </th>
                           <th class="data-grid-th _sortable _draggable"> <span class="data-grid-cell-content"><?php echo __('Answered at');?></span> </th>
                           <th class="data-grid-th"> <span class="data-grid-cell-content"><?php echo __('View');?></span> </th>
                           <th class="data-grid-th"> <span class="data-grid-cell-content"><?php echo __('Action');?></span> </th>
                           <th class="data-grid-th"> <span class="data-grid-cell-content"><?php echo __('Delete');?></span> </th>
                        </tr>
                     </thead>
                     <tbody>
                        <?php 
                            if(count($faqCollection)<=0){ ?>
                                <tr class="data-row tc">
                                    <td colspan="13"><?php echo __("We couldn't find any records."); ?></td>
                                </tr>
                            <?php } else {
                                    
                            $stt = 0;
                        ?>
                            <?php 
                            foreach($faqCollection as $_faq){
                                $stt++;
                                $classRow = "_odd-row";
                                if($stt % 2 != 0){
                                    $classRow = "";
                                }
                                $id_faq = $_faq->getId();
                                $product_sku = $_faq->getData("product_sku");
                                $product_name = $_faq->getData("product_name");
                                $provider_id = $_faq->getData("provider_id");
                                $_product = $objectManager->create("\Magento\Catalog\Model\Product")->loadByAttribute("sku",$product_sku);
                                $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
                                $product_status = $_faq->getData("type_faq");
                                $sender = $_faq->getData("sender");
                                $created_at = $_faq->getData("created_at");
                                $answered_at = $_faq->getData("answered_at");
                                $show_status = "";
                                $color_status = "style='color:red'";
                                $answer = $_faq->getData("answer");
                                $answered = "Not Answer";
                                $color = "style='color:red'";
                                switch($product_status){
                                    case "A":
                                    $show_status = "ANSWER";
                                    $color_status = "style='color:green'";
                                    $answered = "";
                                    $color = "";
                                    break;
                                    case "Q":
                                    $show_status = "QUESTION";
                                    $da_tra_loi = $_faq->getData("parent_question");
                                    if($da_tra_loi != ""){
                                        $answered = "Answered";
                                        $color = "style='color:green'";
                                    }
                                    break;
                                }
                            ?>
                            <tr class="data-row <?php echo $classRow; ?>"  data-repeat-index="0">
                                <td class="data-grid-checkbox-cell">
                                    <label class="data-grid-checkbox-cell-inner">
                                    <input class="admin__control-checkbox" type="checkbox" id="idscheck1" value="1">
                                    <label for="idscheck1"></label>
                                    </label>
                                </td>
                                <td> <div class="data-grid-cell-content"><?php echo $stt; ?></div> </td>
                                <td> <div class="data-grid-cell-content"><?php echo $sender; ?></div> </td>
                                <td> <div class="data-grid-cell-content" <?php echo $color_status; ?>><?php echo $show_status;?></div> </td>
                                <td> <div class="data-grid-cell-content"><?php echo $_product->getSku(); ?></div> </td>
                                <td> <div class="data-grid-cell-content" <?php echo $color; ?>><?php echo __($answered); ?></div> </td>
                                <td> <div class="data-grid-cell-content"><?php echo $created_at; ?></div> </td>
                                <td> <div class="data-grid-cell-content"><?php echo $answered_at; ?></div> </td>
                                <td class="data-grid-actions-cell"> <a class="action-menu-item" target="_blank" href="<?php echo  $block->getUrl() . $_product->getUrlKey() . '.html' ?>"><?php echo __('View Product');?></a> </td>
                                <td class="data-grid-actions-cell"> <button type="button" class="action-secondary view-request" data-content-question="<?php echo $_faq->getData("content_question"); ?>" data-id-faq="<?php echo $_faq->getData('id_faq'); ?>" data-sender="<?php echo $_faq->getData('sender'); ?>" data-product-sku="<?php echo $_faq->getData('product_sku'); ?>" data-product-name="<?php echo $_faq->getData('product_name'); ?>" data-provider-id="<?php echo $_faq->getData('provider_id'); ?>"><?php echo __("View"); ?></button> </td>
                                <td class="data-grid-actions-cell"> <a class="action-menu-item" href="#" onclick="fnDelete('<?php echo $id_faq; ?>');"><?php echo __('Delete');?></a></td>
                            </tr>
                            <?php }  ?>
                        <?php } ?>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
<script>
function submitOnEnter(obj, event) {
	if (event && event.keyCode == 13) {
		fnChangePage(jQuery(obj).val());
	}
}
</script>



<div id="popup-modal-view-request" style="display: none">
    <input name="id_faq_val" id="id_faq_val" type="hidden"/>
	<input name="sender_val" id="sender_val" type="hidden"/>
	<input name="product_sku_val" id="product_sku_val" type="hidden"/>
	<input name="product_name_val" id="product_name_val" type="hidden"/>
	<input name="provider_id_val" id="provider_id_val" type="hidden"/>
	<input name="content_question_val" id="content_question_val" type="hidden"/>
    <div class="block block-dashboard-orders row">
		<div class="block-content">
			<div class="admin__field">
				<label class="admin__field-label"> <span><?php echo __("Sender Name");?></span> </label>
				<div class="admin__field-control">
                    <input id="sender_name_imput" name="sender_name" data-ui-id="user-edit-tab-main-0-fieldset-element-text-firstname" title="Sender Name" type="hidden" class="input-text admin__control-text required-entry _required" aria-required="true">
                    <p id="sender_name_p" class="line-h32 m-0"></p>
				</div>
			</div>
			<div class="admin__field">
				<label class="admin__field-label"> <span><?php echo __("Question");?></span> </label>
				<div class="admin__field-control">
                    <pre id="question"></pre>
				</div>
			</div>
			<div class="admin__field _required">
				<label class="admin__field-label"> <span><?php echo __("Answer");?></span> </label>
				<div class="admin__field-control">
                    <textarea class="p-10" id="reply" name="reply" cols="5" rows="3" data-validate="{required:true}" style="width: 100%;height:174px;" aria-required="true"></textarea>
				</div>
			</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    require([
        'jquery',
        'Magento_Ui/js/modal/modal',
        'Magento_Ui/js/modal/alert'
    ], function ($,modal) {
        $(document).ready(function(){
            /**
            * Name : Nam
            * Date : 28/11/2018
            * Comments : show reason
            * Filename : 
            * Param : order_id
            */
            $(".view-request").click(function(){
                let id_faq = $(this).attr("data-id-faq");
                let sender = $(this).attr("data-sender");
                let product_sku = $(this).attr("data-product-sku");
                let product_name = $(this).attr("data-product-name");
                let provider_id = $(this).attr("data-provider-id");
                let content_question = $(this).attr("data-content-question");
                
                $("#id_faq_val").val(id_faq);
                $("#sender_val").val(sender);
                $("#product_sku_val").val(product_sku);
                $("#product_name_val").val(product_name);
                $("#provider_id_val").val(provider_id);
                $("#provider_id_val").val(provider_id);
                $("#content_question_val").val(content_question);

                $("#sender_name_imput").html(sender);
                $("#sender_name_p").html(sender);
                $("#question").html(content_question);
                $("#reply").html("");

                var options = {
                    type: 'popup',
                    responsive: true,
                    innerScroll: true,
                    title: '<?php echo __("Answer The Question") ?>',
                    buttons: [
                        {
                            text: $.mage.__('Submit'),
                            class: 'action-primary',
                            click: function () {
                                let reply = $("#reply").val();
                                if (reply == "") {
                                    alert("<?php echo __('The answer is empty!'); ?>");
                                    return false;
                                }
                                $('body') .loader({ icon: $('#loading_mask_loader img').attr('src') }) .loader('show');
                                $.ajax({
                                    url: "<?php echo $block->getBaseUrl(); ?>test/faq/answer-question.php",
                                    method: "POST",
                                    data: {id_faq, sender, product_sku, product_name, provider_id, reply},
                                    success: function (data) {
                                        $('body').loader('hide');
                                        let result = JSON.parse(data);
                                        if (result.success == true) {
                                            alert(result.msg);
                                            top.location.reload();
                                        } else {
                                            alert("<?php echo __('Cancel Failed') ?>");
                                        }
                                        
                                        
                                    }
                                });
                            }
                        }
                    ]
                };
                
                $("#popup-modal-view-request").modal(options).modal('openModal');
            });
        });
        
    });
</script>