<?php
/**------------------------------------------------------------------------
 * SM Listing Deals - Version 1.0.0
 * Copyright (c) 2015 YouTech Company. All Rights Reserved.
 * @license - Copyrighted Commercial Software
 * Author: YouTech Company
 * Websites: http://www.magentech.com
-------------------------------------------------------------------------*/
use Magento\Framework\App\Action\Action;

/** @var $helper \Sm\ListingDeals\Helper\Data */
$helper = $this->_helper();

$_config = $this->helper('Sm\Market\Helper\Data');

if ($this->_isAjax()) {
	$type_source = $this->_getConfig('product_source');
	switch ($type_source) {
		case 'catalog':
			$catid = $this->getRequest()->getPost('categoryid');
			$child_items = $this->_getProductInfor($catid);
			break;
		case 'fieldproducts':
			$field_order = $this->getRequest()->getPost('categoryid');
			$catid = $this->_getCatIds();
			$child_items = $this->_getProductInfor($catid, $field_order);
			break;
	}
}
if (!empty($child_items)) {
	$j = $this->getRequest()->getPost('ajax_listingdeals_start', 0);
	$nb_type_show = $this->_getConfig('show_loadmore_slider');
	$num_rows = $this->_getConfig('nb_rows', 3);
	$i = 0;
	$count = count($child_items);
	foreach ($child_items as $_product) {
		$j++;$i++;
		?>
		<?php if($nb_type_show == 'slider' && ($i % $num_rows == 1 || $num_rows == 1)) { ?>
		<div class="listingdeals-item item">
		<?php } ?>
		<?php if ($nb_type_show == 'loadmore'){ ?>
		<div class="listingdeals-item new-listingdeals-item item">
		<?php } ?>

			<div class="listingdeals-item-inner item-inner">
				

				<?php if ( $_product->_image && $this->_getConfig('product_image_display') ) { ?>
					<div class="box-image">
						<a href="<?php echo $_product->link ?>" title="<?php echo $_product->title; ?>" <?php echo $helper->parseTarget($this->_getConfig('target'));?>>
							<img src="<?php echo $_product->_image; ?>" title="<?php echo $_product->title; ?>" alt="<?php echo $_product->title; ?>" />
						</a>
					</div>
				<?php } ?>

				<div class="product details product-item-details box-info">
					<?php if((int)$this->_getConfig('product_title_display',1)) { ?>
						<h2 class="product name product-item-name product-name">
							<a href="<?php echo $_product->link;?>" title="<?php echo $_product->title; ?>"
								<?php echo $helper->parseTarget($this->_getConfig('target'));?>
								>
								<?php echo $helper->truncate($_product->title,$this->_getConfig('product_title_maxlength'));?>
							</a>
						</h2>
					<?php } ?>
					
					<?php if ((int)$this->_getConfig('product_reviews_count', 1)) {
						$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
						echo $block->getReviewsSummaryHtml($_product,$templateType,true);
					} ?>
					
					<?php if ((int)$this->_getConfig('product_price_display', 1)) { ?>
						<?php echo $this->getProductPrice($_product); ?>
					<?php } ?>
					
					<?php if ($this->_getConfig('product_countdown_display') == 1) {
						$specialPriceToDate = $_product->special_to_date;
						?>
						<div class="listingdeals-countdown" data-timer="<?php echo date("Y/m/d H:i:s", strtotime($specialPriceToDate)); ?>"></div>
					<?php } ?>

					<?php if ((int)$this->_getConfig('product_addcart_display', 1) ||(int)$this->_getConfig('product_addwishlist_display', 1) || (int)$this->_getConfig('product_addcompare_display', 1)) { ?>
						<div class="product actions product-item-actions bottom-action">
							<?php if($_config->getAdvanced('show_addtocart_button')){?>
									<?php if ($_product->isSaleable()): ?>
										<?php $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
										$postData = $postDataHelper->getPostData($block->getAddToCartUrl($_product), ['product' => $_product->getEntityId()])
										?>
										<button class="action tocart btn-action btn-cart"
												data-post='<?php echo $postData; ?>'
												type="button" title="<?php  echo __('Add to Cart') ?>">
											<span><?php echo __('Add to Cart') ?></span>
										</button>
									<?php else: ?>
										<?php if ($_product->getIsSalable()): ?>
											<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
										<?php else: ?>
											<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
										<?php endif; ?>
								<?php endif; ?>
							<?php } ?>

							
							<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $_config->getAdvanced('show_wishlist_button') ){ ?>
								<a onclick="addToWishlist('<?php echo $block->getUrl('mywishlist/wishlist/addwishlist'); ?>','<?php echo $_product->getId(); ?>')" class="action btn-action link-wishlist" title="<?php  echo __('Add to Wish List') ?>">
									<span><?php  echo __('Add to Wish List') ?></span>
								</a>
							<?php } ?>
							
							<?php if ($block->getAddToCompareUrl() &&  $_config->getAdvanced('show_compare_button') ){ ?>
								<?php
								$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
								?>
								<a href="#" class="action tocompare btn-action link-compare"
								   data-post='<?php  echo $compareHelper->getPostDataParams($_product);?>'
								   data-role="add-to-links"
								   title="<?php  echo __('Add to Compare'); ?>">
									<span><?php  echo __('Add to Compare') ?></span>
								</a>
							<?php }; ?>
							
						</div>
					<?php } ?>
					
					<?php if ((int)$this->_getConfig('product_description_display', 1)) { ?>
						<div class="listingdeals-description">
							<?php echo $_product->_description; ?>
						</div>
					<?php } ?>

					<?php if ($this->_getConfig('product_readmore_display') == 1) { ?>
						<div class="listingdeals-detail">
							<a href="<?php echo $_product->link ?>"
							   title="<?php echo $_product->title; ?>"
								<?php echo $helper->parseTarget($this->_getConfig('target')); ?>
								>
								<?php echo $this->_getConfig('product_readmore_text', 'Details'); ?>
							</a>
						</div>
					<?php } ?>
				</div>
			</div>

		<?php if($nb_type_show == 'slider' && ($i % $num_rows == 0 || $i == $count)) { ?>
			</div>
		<?php }
		if ($nb_type_show == 'loadmore'){ ?>
			</div>
		<?php } ?>
		<?php
		$clear = 'clr1';
		if ($j % 2 == 0) $clear .= ' clr2';
		if ($j % 3 == 0) $clear .= ' clr3';
		if ($j % 4 == 0) $clear .= ' clr4';
		if ($j % 5 == 0) $clear .= ' clr5';
		if ($j % 6 == 0) $clear .= ' clr6';
		?>
		<?php if( $this->_getConfig('show_loadmore_slider') == 'loadmore'){ ?>
			<div class="<?php echo $clear; ?>"></div>
		<?php } ?>
	<?php
	}
}
?>