<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
$required = '';
if ($block->hasRequiredOptions()) {
    $required = ' data-hasrequired="' . __('* Required Fields') . '"';
}
?>
<div class="product-options-wrapper" id="product-options-wrapper"<?php /* @escapeNotVerified */ echo $required; ?>>
    <div class="fieldset" tabindex="0">
        <?php echo $block->getChildHtml('', true);?>
    </div>
</div>
<?php
//lay danh sach cac visibility product
$_product = $block->getProduct();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$configProduct = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());
$type_product = $configProduct->getTypeId();
if($type_product != "simple"){
$_children = $configProduct->getTypeInstance()->getUsedProducts($configProduct);
$block_order_provider = $objectManager->get("\Libero\Customer\Block\Adminhtml\Provider\Order");
$product_id = $_product->getId();
foreach ($_children as $child){
    //echo "Here are your child Product Ids ".$child->getSku()."\n";
    $tier_price = $child->getTierPrice();
	if(count($tier_price)  == 0){
		continue;
	}
    ?>
    <!--<p style='margin-top:13px'><?php echo __("Tier price for : ") ?><?php echo $child->getName(); ?></p>-->
    <div class="product-info-wholesales">
        <div class="product-wholesales-table">
            <table>
                <thead>
                    <tr>
                        <th><?php echo __("Quantity") ?></th>
                        <?php foreach($tier_price as $_qty){ ?>
                            <th class="variant_qty"><?php echo number_format($_qty["price_qty"],0); ?></th>
                        <?php } ?>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><?php echo __("Price") ?></td>
                        <?php foreach($tier_price as $_price){ ?>
                        <td class="text-center variant_price" data-price="<?php echo round($_price["price"],0) ?>">
                            <?php echo $block_order_provider->formartPrice($_price["price"]); ?>					
                        </td>
                        <?php } ?>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <?php
    break;
}
?>
<script type="text/javascript">
        require(['jquery'],function($){ 
            jQuery(document).on('click', '.swatch-option',function(){
                var optionId = jQuery(this).attr("option-id");
                var id_price = "#product-price-<?php echo $product_id ?>";
                var price_global = $(id_price).attr("data-price-amount");
                var qty = Number($('.qty-default').val());
                var price = price_global.replace("₫","").replace(/[.]/g,"").trim(); //đây chính là số a
                var total = price * qty;
                total = total.toFixed(0);
                $("#total-price").text(total).digits();
                //$("#total-price").text(price_global);
            });         
        }); 
</script>
<?php } ?>