<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Libero\Customer\Block\Buyer\Items $block */

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customer = $objectManager->get("\Magento\Customer\Block\Account\Dashboard\Info");
$id_customer = $customer->getCustomer()->getId();

$requestHttp = $objectManager->get("\Magento\Framework\App\Request\Http");
$increment_id = $requestHttp->getParam("increment_id");

$orderSellerInfo = $block->getSellerInfoByOrder();
$subtotal = $block->getOrdersSummaryByCustomer();

$shipment = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Shipment');
$customerTelephone = $shipment->getTelephone($subtotal[0]["increment_id"]);
$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');
$blockQuote = $objectManager->get("Libero\Customer\Block\Adminhtml\Provider\Order");
$helperCheckout = $objectManager->get("\Libero\Onestepcheckout\Helper\Data");
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$mysql = $resource->getConnection();
?>
    <div class="table-wrapper order-items">
        <div class="block m0">
            <div class="block-title"><strong><?php echo __("Order Number:"); ?> <span class="light-color-text-btn"><?php echo $increment_id; ?></span></strong></div>
        </div>
        <form action="<?php echo $block->getUrlCancelOrder(); ?>" method="post" id="order-form" class="order-form">
			<?php $tax_amount = 0; ?>
			<?php $sum_row_total = 0; ?>
            <?php 
                $order_ids = "";
                $formIdx = 0;
                $countNotPending = 0;
                foreach ($orderSellerInfo as $info) { 
            ?>
                <?php
                    $shipping_order_code = $info["ma_giao_hang"];
                    $status = $info["status"];
                    if ($status != "pending") {
                        $countNotPending++;
                    }
                    if ($formIdx == 0) {
                        $order_ids .= $info['entity_id'];
                    } else {
                        $order_ids .= "|". $info['entity_id'];
                    }
                ?>
                <div class="seller-order">
                    <div class="order-general-info">
                        <div class="order-info col-lg-6 col-md-6 col-sm-12 p0">
                            <div class="col-lg-3 col-md-3 col-sm-6 p0"><?php echo __("Store Name"); ?>:</div>
                            <div class="col-lg-9 col-md-9 col-sm-6 p0"><strong><?php echo $info["store_name"]; ?></strong></div>
                        </div>
                        <div class="order-info col-lg-6 col-md-6 col-sm-12 p0">
                            <div class="col-lg-3 col-md-3 col-sm-6 p0"><?php echo __("Shipping");?>:</div>
                            <div class="col-lg-9 col-md-9 col-sm-6 p0"><strong><?php echo $info["shipping_description"]; ?></strong></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 p0 <?php if($info["status"] == "cancel") { echo "status";} ?>">
                            <div class="col-lg-3 col-md-3 col-sm-6 p0"><?php echo __("Status"); ?>:</div>
                            <div class="col-lg-9 col-md-9 col-sm-6 p0"><strong><span><?php echo __($status); ?></span></strong></div>
                        </div>
                        <div class="order-info col-lg-6 col-md-6 col-sm-12 p0">
                            <div class="col-lg-3 col-md-3 col-sm-6 p0"><?php echo __("Shipping Amount"); ?>:</div>
                            <div class="col-lg-9 col-md-9 col-sm-6 p0"><strong><?php echo $util->formatPrice($info["base_shipping_amount"]); ?></strong></div>
                        </div>
                    </div>
                    <?php 
                        if($shipping_order_code != ""){
                        $block_shipment = $objectManager->get("Libero\Customer\Block\Seller\Shipment");
                        $order_id = $info["entity_id"];
                        $data_ship = $block_shipment->getDetailShipmentByOrderId($order_id);
                        $order_code_api = $data_ship["order_code_api"];
                        $helperCheckout = $objectManager->get("\Libero\Onestepcheckout\Helper\Data");
                        $data_post = array(); 
                        $data_post["order_code"] = $order_code_api;
                        $quote_shipping = $block_shipment->getCodeShippingByOrderId($order_id);
                        $shipping_code = $quote_shipping["code_delivery"];
                        $list_status_after_ship = $block_shipment->getOrderStatusAfterShip();
                        if($shipping_code == $helperCheckout->_CODE_GIAO_HANG_NHANH){
                            $order_information = json_decode($helperCheckout->getOrderInformation($data_post));
                        }
                        if($shipping_code == $helperCheckout->_CODE_GIAO_HANG_TIET_KIEM){
                            $order_information = json_decode($helperCheckout->getOrderGHTK($data_post));
                        }
                        ?>
                            <div class="block-content">
                                <?php if($shipping_code == $helperCheckout->_CODE_GIAO_HANG_NHANH){ ?>
                                <form action="<?php echo $this->getUrl() ?>customer/buyer/saveshipping" method="post">
                                    <input type="hidden" value="<?php echo $data_ship["order_id"]; ?>" name="order_id"/>
                                    <?php if($data_ship['order_status'] == 'complete'): ?>
                                        <ol class="progtrckr" data-progtrckr-steps="4">
                                            <li class="progtrckr-done"><?php echo _("Taking Product") ?></li>
                                            <li class="progtrckr-done"><?php echo _("Taken Product") ?></li>
                                            <li class="progtrckr-done"><?php echo _("Shipping") ?></li>
                                            <li class="progtrckr-done"><?php echo _("Delivered") ?></li>
                                        </ol>
                                    <?php else: ?>
                                    <ol class="progtrckr" data-progtrckr-steps="4">
                                        <li class="progtrckr-done"><?php echo _("Taking Product") ?></li>
                                        <li class="progtrckr-todo"><?php echo _("Taken Product") ?></li>
                                        <li class="progtrckr-todo"><?php echo _("Shipping") ?></li>
                                        <li class="progtrckr-todo"><?php echo _("Delivered") ?></li>
                                    </ol>
                                    <?php endif; ?>
                                    <p></p>
                                    <div class="row no-margin">
                                        <strong><?php echo __("Status Order") ?></strong>
                                        <p><?php echo $order_information->data->CurrentStatus; ?></p>
                                    </div>
                                    <div class="row no-margin">
                                        <strong><?php echo __("Shipping Information") ?></strong>
                                        <p><?php echo $data_ship["shipping_information"] ?></p>
                                    </div>
                                    <div class="row no-margin">
                                        <strong><?php echo __("Payment Method") ?></strong>
                                        <p><?php echo $data_ship["payment_method"] ?></p>
                                    </div>
                                    <div class="row no-margin">
                                        <strong><?php echo __("Shipping Address") ?></strong>
                                        <p><?php echo __("Ship to") ?>: <span><?php echo $data_ship["shipping_name"] ?></span></p>
                                        <p><?php echo __("Email") ?>: <span><?php echo $data_ship["customer_email"] ?></span></p>
                                        <p><?php echo $data_ship["shipping_address"] ?></p>
                                    </div>
                                    <div class="row no-margin">
                                        <strong><?php echo __("Additional Information") ?></strong>
                                        <p><?php echo __("Expected Delivery Time") ?>: <span><?php echo $order_information->data->ExpectedDeliveryTime; ?></span></p>
                                        <p><?php echo __("End Pick Time") ?>: <span><?php echo $order_information->data->EndPickTime; ?></span></p>
                                        <p><?php echo $data_ship["shipping_address"] ?></p>
                                    </div>
                                    <?php if($data_ship['order_status'] != 'complete'): ?>
                                    <div class="row no-margin">
                                        <button>
                                            <span><?php echo __("Completed My Order"); ?></span>
                                        </button>
                                    </div>
                                    <?php endif; ?>
                                </form>
                                <?php }else{ ?>
                                    <form action="<?php echo $block->getUrl('customer/buyer/completeorder')."increment_id/".$increment_id ?>" method="GET">
                                    <input type="hidden" value="<?php echo $data_ship["order_id"]; ?>" name="order_id"/>
                                    <?php 
                                        $code_wisi_status  = "pending";
                                    ?>
                                    <ol class="progtrckr" data-progtrckr-steps="4">
                                        <?php foreach($list_status_after_ship  as $_status_after){ ?>
                                            <?php
                                            //check status in here
                                            $status_shipping_company = $order_information->order->status;
                                            $data_mapping_status = $block_shipment->getMappingStatusToSetDoneTracking($status_shipping_company,$shipping_code);
                                            $status_wisi = $data_mapping_status["id_wisi_status"];
                                            $id_wisi_status = $_status_after["id_status"];
                                            $code_wisi_status = $status_wisi;
                                            $class_tracking = "progtrckr-todo";
                                            if($id_wisi_status <= $status_wisi){
                                                $class_tracking = "progtrckr-done";
                                            }
                                            if($status == "Complete"){
                                                $class_tracking = "progtrckr-done";
                                            }
                                            ?>
                                            <li class="<?php echo $class_tracking; ?>"><?php echo _($_status_after["label_status"]) ?></li>
                                        <?php } ?>
                                    </ol>
                                    <p></p>
                                    <div class="row no-margin">
                                        <strong><?php echo __("Status Order") ?></strong>
                                        <p><?php echo $order_information->order->status_text; ?></p>
                                    </div>
                                    <div class="row no-margin">
                                        <strong><?php echo __("Shipping Information") ?></strong>
                                        <p><?php echo $data_ship["shipping_information"] ?></p>
                                    </div>
                                    <div class="row no-margin">
                                        <strong><?php echo __("Payment Method") ?></strong>
                                        <p><?php echo $data_ship["payment_method"] ?></p>
                                    </div>
                                    <div class="row no-margin">
                                        <strong><?php echo __("Shipping Address") ?></strong>
                                        <p><?php echo __("Ship to") ?>: <span><?php echo $order_information->order->address; ?></span></p>
                                        <p><?php echo __("Email") ?>: <span><?php echo $data_ship["customer_email"] ?></span></p>
                                        <p><?php echo $data_ship["shipping_address"] ?></p>
                                    </div>
                                    <div class="row no-margin">
                                        <strong><?php echo __("Additional Information") ?></strong>
                                        <p><?php echo __("Expected Delivery Time") ?>: <span><?php echo $order_information->order->pick_date; ?></span></p>
                                        <p><?php echo __("End Pick Time") ?>: <span><?php echo $order_information->order->deliver_date; ?></span></p>
                                        <p><?php echo $data_ship["shipping_address"] ?></p>
                                    </div>
                                    <?php if($code_wisi_status == '10'): ?>
                                    <div class="row no-margin">
                                        <button>
                                            <span><?php echo __("Completed My Order"); ?></span>
                                        </button>
                                    </div>
                                    <?php endif; ?>
                                </form>
                                <?php } ?>
                            </div>
                        <?php } ?>
                    <table class="data table table-order-items" id="my-orders-table" summary="<?php /* @escapeNotVerified */ echo __('Items Ordered') ?>">
                        <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('Items Ordered') ?></caption>
                        <thead>
                        <tr>
                            <th class="col name" width="30%"><?php /* @escapeNotVerified */ echo __('Product Name') ?></th>
                            <th class="col color-size" width="25%"><?php /* @escapeNotVerified */ echo __('Color/Size') ?></th>
                            <th class="col sku" width="25%"><?php /* @escapeNotVerified */ echo __('SKU') ?></th>
                            <th class="col price" width="15%"><?php /* @escapeNotVerified */ echo __('Tax') ?></th>
                            <th class="col price" width="15%"><?php /* @escapeNotVerified */ echo __('Price Including Tax') ?></th>
                            <th class="col qty" width="15%"><?php /* @escapeNotVerified */ echo __('Qty') ?></th>
                            <th class="col subtotal" width="15%"><?php /* @escapeNotVerified */ echo __('Subtotal') ?></th>
                        </tr>
                        </thead>
                            <?php $items = $block->getOrderItemByOrderId($info["entity_id"]); ?>
                            <tbody>
                                <?php foreach ($items as $item) { ?>
                                    <tr id="order-item-row-13">
                                        <td class="col name" data-th="Product Name">
                                            <?php 
                                            $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
                                            $media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
                                            $productRepositoryFactory = $objectManager->get("\Magento\Catalog\Api\ProductRepositoryInterfaceFactory");
                                            if($item["product_type"]  ==  "configurable"){
                                                $data_options = $item["product_options"];
                                                $value_options = unserialize($data_options);
                                                $simple_sku = $value_options["simple_sku"];
                                                $product = $productRepositoryFactory->create()->get($simple_sku);
                                            }else{
                                                $product_id = $item["product_id"];
                                                $product = $productRepositoryFactory->create()->getById($product_id);
                                            }
                                            
                                            $productThumb = $product->getData('thumbnail');
                                            if ($productThumb == "") {
                                                $thumbnail = $media_url. "wysiwyg/no_image/thumbnail.jpg";
                                            } else {
                                                $thumbnail = $media_url . "catalog/product" . $productThumb;
                                            }

                                            if($item['parent_item_id'] > 0 && $item['parent_item_id'] != "0"){
                                                    continue;
                                            }
                                            ?>
                                            
                                            <div class="col-lg-4 col-md-4 col-xs-4 p0">
                                                <img src="<?php echo $thumbnail; ?>" />
                                            </div>

                                            <?php 
                                                $arrayProduct = array();
                                                $array_options = array();
                                                if($item["product_type"]  ==  "configurable"){
                                                    $data_options = $item["product_options"];
                                                    $value_options = unserialize($data_options);
                                                    $array_attribute = $value_options["attributes_info"];
                                                    $array_options_label_value = array();
                                                    foreach($array_attribute as $attribute_id => $option){
                                                        $array_options_label_value["label"] = $option["label"];
                                                        $array_options_label_value["value_option"] = $option["value"];
                                                        $array_options_label_value["attribute_id"] = $option["option_id"];
                                                        $array_options_label_value["option_value"] = $option["option_value"];
                                                        $arrayProduct["options_configruable"][] = $array_options_label_value;
                                                    }
                                                    $array_options = $arrayProduct["options_configruable"];
                                                }
                                                $tax_value = $item["base_tax_amount"];
                                                $tax_value = round( $tax_value,0);
                                                $tax_amount += $tax_value;
                                                $sum_row_total += $item["row_total"];
                                            ?>
                                            <div class="col-lg-8 col-md-8 col-xs-8 pt0">
                                                <strong class="product name product-item-name"><?php echo $item["name"]; ?></strong>
                                            </div>
                                            
                                        </td>
                                        <td class="col color-size" data-th="SKU">
                                            <?php if(count($array_options) > 0){ ?>
                                                <div class="item-options">
                                                    <?php foreach($array_options as $_options){ ?>
                                                        <?php 
                                                        $attribute_label = $_options["label"];
                                                        $attribute_option = $_options["value_option"];
                                                        //lat swatch ngay tai cho nay ne
                                                        $attribute_id = $_options["attribute_id"];
                                                        //Sql lay ma tu bang eav_attribute_option_swatch
                                                        $option_id = $_options["option_value"];
                                                        $sql_get_swatch = "SELECT `value` FROM `eav_attribute_option_swatch` WHERE `option_id` = '$option_id'";
                                                        $data_swatch = $mysql->fetchAll($sql_get_swatch);
                                                        if(count($data_swatch) > 0){
                                                            //1 la color co attribute id la 93 , 0 la size
                                                            $hexcode = "";
                                                            if($attribute_id == "93"){
                                                                //Color
                                                                $hexcode = $data_swatch[0]["value"];
                                                            }
                                                        }
                                                        ?>
                                                        <div class="row p0 mb10">
                                                            <div class="col-lg-5 p0 tr"><?php echo __($attribute_label); ?>:</div>
                                                                <?php if($attribute_id  == "93"){ ?>
                                                                    <div class="col-lg-5 product-color">
                                                                        <span style="background: <?php echo $hexcode; ?> no-repeat center;background-size: initial;"></span>
                                                                    </div>
                                                                <?php }else{ ?>
                                                                    <div class="col-lg-5 product-size">
                                                                        <span><?php echo __($attribute_option); ?></span>
                                                                    </div>
                                                                <?php } ?>
                                                            </div>
                                                        </div>
                                                    <?php } ?>
                                                </div>
                                            <?php } ?>
                                        </td>
                                        <td class="col sku" data-th="SKU"><?php echo $item["sku"]; ?></td>
                                        <td class="col price" data-th="Price">
                                            <span class="price-including-tax" data-label="Excl. Tax">
                                                <span class="cart-price">
                                                    <span class="price"><?php echo $util->formatPrice($tax_value); ?></span>
                                                </span>
                                            </span>
                                        </td>
                                        <td class="col price" data-th="Price">
                                            <span class="price-excluding-tax" data-label="Excl. Tax">
                                                <span class="cart-price">
                                                    <span class="price"><?php echo $util->formatPrice($item["price"]); ?></span>
                                                </span>
                                            </span>
                                        </td>
                                        <td class="col qty" data-th="Qty">
                                            <ul class="items-qty">
                                                        <li class="item">
                                                    <span class="content"><?php echo $util->formatNumber($item["qty_ordered"]); ?></span>
                                                </li>
                                            </ul>
                                        </td>
                                        <td class="col subtotal" data-th="Subtotal">                                            
                                        <p class="price-excluding-tax" data-label="Excl. Tax">
                                            <span class="cart-price">
                                                <span class="price"><?php echo $util->formatPrice($item["row_total"]); ?></span>
                                            </span>
                                        </p>
                                        </td>
                                    </tr>
                                <?php } ?>
                            </tbody>
                    </table>
                </div>
            <?php $formIdx++; } ?>
            <?php if(!$countNotPending > 0){ ?>
                <div class="button-cancel">
                    <div style='width:100%;text-align:right;' colspan='5'>
                        <button type="button" onclick="submitForm();">
                            <?php echo __("Cancel Order"); ?>
                        </button>
                    </div>   
                </div>
            <?php } ?>
            <input type="hidden" value = '<?php echo $order_ids ?>' name='order_ids' />
            <input type="hidden" value = '<?php echo $increment_id ?>' name='increment_id' />
        </form>









            <div class="total-order-amount">
                <div class="row subtotal">
                    <div class="price-title col-lg-4 col-lg-offset-6"> <?php echo __("Subtotal"); ?> : </div>
                    <div class="price-amount col-lg-2" data-th="Subtotal">
                        <!--<span class="price"><?php echo $util->formatPrice($subtotal[0]["sum_subtotal"]); ?></span>-->
                        <span class="price"><?php echo $util->formatPrice($sum_row_total); ?></span>
                    </div>
                </div>
                <div class="row shipping">
                    <div class="price-title col-lg-4 col-lg-offset-6">
                        <?php echo __("Shipping &amp; Handling"); ?> :             
                    </div>
                    <div class="price-amount col-lg-2" data-th="Shipping &amp; Handling">
                        <span class="price"><?php echo $util->formatPrice($subtotal[0]["sum_shipping_and_handling"]); ?></span>                    
                    </div>
                </div>
                <?php if($tax_amount > 0 ){ ?>
                    <?php
                    $percent = 10;
                    $name_tax = "VAT"
                    ?>
                    <div class="row shipping">
                        <div class="price-title col-lg-4 col-lg-offset-6">
                            <?php echo __("Tax") ?>
                            <?php echo $name_tax  ?> <?php echo $percent."%" ?> :             
                        </div>
                        <div class="price-amount col-lg-2" data-th="<?php echo __("Tax") ?>">
                            <span class="price"><?php echo $util->formatPrice($tax_amount); ?></span>                    
                        </div>
                    </div>
                <?php } ?>
                <div class="row grand_total">
                    <div class="price-title col-lg-4 col-lg-offset-6">
                        <strong><?php echo __("Grand Total"); ?> : </strong>
                    </div>
                    <div class="price-amount col-lg-2" data-th="Grand Total">
                        <strong><span class="price"><?php echo $util->formatPrice($subtotal[0]["sum_base_grand_total"]); ?></span></strong>
                    </div>
                </div>
            </div>








    </div>
    <div class="actions-toolbar">
        <div class="secondary">
            <a class="action back" href="<?php echo $block->getUrl("sales/order/history"); ?>">
                <span><?php echo __("Back to My Orders"); ?></span>
            </a>
        </div>
    </div>
</div>


<div class="block block-order-details-view">
	<div class="block-title">
		<strong><?php echo __("Order Information"); ?></strong>
	</div>
	<div class="block-content">
		<div class="box box-order-shipping-address">
			<strong class="box-title"><span><?php echo __("Shipping Address"); ?></span></strong>
			<div class="box-content">
				<address>
					<?php echo $subtotal[0]["shipping_name"] . "<br/>" . $subtotal[0]["shipping_address"] . "<br/> T: $customerTelephone"; ?>
				</address>
			</div>
		</div>
		<div class="box box-order-billing-address">
			<strong class="box-title">
			<span><?php echo __("Billing Address"); ?></span>
			</strong>
			<div class="box-content">
				<address>
					<?php echo $subtotal[0]["billing_name"] . "<br/>" . $subtotal[0]["billing_address"] . "<br/> T: $customerTelephone"; ?>
				</address>
			</div>
		</div>
		<div class="box box-order-billing-method">
			<strong class="box-title">
			<span><?php echo __("Payment Method"); ?></span>
			</strong>
			<div class="box-content">
				<dl class="payment-method">
					<dt class="title"><?php echo __($subtotal[0]["payment_method"]); ?></dt>
				</dl>
			</div>
		</div>
	</div>
</div>
<style>
    ol.progtrckr {
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin-bottom: 30px;
    }
    ol.progtrckr li {
        display: inline-block;
        text-align: center;
        line-height: 3em;
    }

    ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
    ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
    ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
    ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
    ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
    ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
    ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
    ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

    ol.progtrckr li.progtrckr-done {
        color: black;
        border-bottom: 4px solid yellowgreen;
    }
    ol.progtrckr li.progtrckr-todo {
        color: silver;
        border-bottom: 4px solid silver;
    }

    ol.progtrckr li:after {
        content: "\00a0\00a0";
    }
    ol.progtrckr li:before {
        position: relative;
        bottom: -2.5em;
        float: left;
        left: 50%;
        line-height: 1em;
    }
    ol.progtrckr li.progtrckr-done:before {
        content: "\2713";
        color: white;
        background-color: yellowgreen;
        height: 1.2em;
        width: 1.2em;
        line-height: 1.2em;
        border: none;
        border-radius: 1.2em;
    }
    ol.progtrckr li.progtrckr-todo:before {
        content: "\039F";
        color: silver;
        background-color: white;
        font-size: 1.5em;
        bottom: -1.6em;
    }
    .no-margin{
        margin-left: 0;
        margin-right: 0;
    }

</style>
<style>
.order-number1 {font-weight: bold; font-size: 22px; padding-left: 10px;}
</style>

<script>
function cancelOrder() {
    jQuery(".order-form").each((index, item) => {
        jQuery(item).submit();
    })
}

function submitForm() {
    let msg = "<?php echo ('Do you want to cancel this order'); ?>";
    if (confirm(msg)) {
        jQuery("#order-form").submit();
    }
}
</script>