<?php
/** @var Libero\Customer\Block\Seller\Shipment $block */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$data_ship = $block->getDetailShipment();
$order_code_api = $data_ship["order_code_api"];
$helperCheckout = $objectManager->get("\Libero\Onestepcheckout\Helper\Data");
$data_post = array(); 
$data_post["order_code"] = $order_code_api;
$quote_shipping = $block->getCodeShipping();
$shipping_code = $quote_shipping["code_delivery"];
if($shipping_code == $helperCheckout->_CODE_GIAO_HANG_NHANH){
    $order_information = json_decode($helperCheckout->getOrderInformation($data_post));
}
if($shipping_code == $helperCheckout->_CODE_GIAO_HANG_TIET_KIEM){
    $order_information = json_decode($helperCheckout->getOrderGHTK($data_post));
}
//echo "<pre>";
//var_dump($order_information);
//echo "</pre>";
?>
<style>
    ol.progtrckr {
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin-bottom: 30px;
    }
    ol.progtrckr li {
        display: inline-block;
        text-align: center;
        line-height: 3em;
    }

    ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
    ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
    ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
    ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
    ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
    ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
    ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
    ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

    ol.progtrckr li.progtrckr-done {
        color: black;
        border-bottom: 4px solid yellowgreen;
    }
    ol.progtrckr li.progtrckr-todo {
        color: silver;
        border-bottom: 4px solid silver;
    }

    ol.progtrckr li:after {
        content: "\00a0\00a0";
    }
    ol.progtrckr li:before {
        position: relative;
        bottom: -2.5em;
        float: left;
        left: 50%;
        line-height: 1em;
    }
    ol.progtrckr li.progtrckr-done:before {
        content: "\2713";
        color: white;
        background-color: yellowgreen;
        height: 1.2em;
        width: 1.2em;
        line-height: 1.2em;
        border: none;
        border-radius: 1.2em;
    }
    ol.progtrckr li.progtrckr-todo:before {
        content: "\039F";
        color: silver;
        background-color: white;
        font-size: 1.5em;
        bottom: -1.6em;
    }
    .no-margin{
        margin-left: 0;
        margin-right: 0;
    }

</style>
<?php if($shipping_code == $helperCheckout->_CODE_GIAO_HANG_NHANH){ ?>
<form action="<?php echo $this->getUrl() ?>customer/buyer/saveshipping" method="post">
    <input type="hidden" value="<?php echo $data_ship["order_id"]; ?>" name="order_id"/>
    <?php if($data_ship['order_status'] == 'complete'): ?>
        <ol class="progtrckr" data-progtrckr-steps="4">
            <li class="progtrckr-done"><?php echo _("Taking Product") ?></li>
            <li class="progtrckr-done"><?php echo _("Taken Product") ?></li>
            <li class="progtrckr-done"><?php echo _("Shipping") ?></li>
            <li class="progtrckr-done"><?php echo _("Delivered") ?></li>
        </ol>
    <?php else: ?>
    <ol class="progtrckr" data-progtrckr-steps="4">
        <li class="progtrckr-done"><?php echo _("Taking Product") ?></li>
        <li class="progtrckr-todo"><?php echo _("Taken Product") ?></li>
        <li class="progtrckr-todo"><?php echo _("Shipping") ?></li>
        <li class="progtrckr-todo"><?php echo _("Delivered") ?></li>
    </ol>
    <?php endif; ?>
    <p></p>
    <div class="row no-margin">
        <strong><?php echo __("Status Order") ?></strong>
        <p><?php echo $order_information->data->CurrentStatus; ?></p>
    </div>
    <div class="row no-margin">
        <strong><?php echo __("Shipping Information") ?></strong>
        <p><?php echo $data_ship["shipping_information"] ?></p>
    </div>
    <div class="row no-margin">
        <strong><?php echo __("Payment Method") ?></strong>
        <p><?php echo $data_ship["payment_method"] ?></p>
    </div>
    <div class="row no-margin">
        <strong><?php echo __("Shipping Address") ?></strong>
        <p><?php echo __("Ship to") ?>: <span><?php echo $data_ship["shipping_name"] ?></span></p>
        <p><?php echo __("Email") ?>: <span><?php echo $data_ship["customer_email"] ?></span></p>
        <p><?php echo $data_ship["shipping_address"] ?></p>
    </div>
    <div class="row no-margin">
        <strong><?php echo __("Additional Information") ?></strong>
        <p><?php echo __("Expected Delivery Time") ?>: <span><?php echo $order_information->data->ExpectedDeliveryTime; ?></span></p>
        <p><?php echo __("End Pick Time") ?>: <span><?php echo $order_information->data->EndPickTime; ?></span></p>
        <p><?php echo $data_ship["shipping_address"] ?></p>
    </div>
    <?php if($data_ship['order_status'] != 'complete'): ?>
    <div class="row no-margin">
        <button>
            <span><?php echo __("Completed My Order"); ?></span>
        </button>
    </div>
    <?php endif; ?>
</form>
<?php }else{ ?>
    <form action="<?php echo $this->getUrl() ?>customer/buyer/saveshipping" method="post">
    <input type="hidden" value="<?php echo $data_ship["order_id"]; ?>" name="order_id"/>
    <?php if($data_ship['order_status'] == 'complete'): ?>
        <ol class="progtrckr" data-progtrckr-steps="4">
            <li class="progtrckr-done"><?php echo _("Taking Product") ?></li>
            <li class="progtrckr-done"><?php echo _("Taken Product") ?></li>
            <li class="progtrckr-done"><?php echo _("Shipping") ?></li>
            <li class="progtrckr-done"><?php echo _("Delivered") ?></li>
        </ol>
    <?php else: ?>
    <ol class="progtrckr" data-progtrckr-steps="4">
        <li class="progtrckr-done"><?php echo _("Taking Product") ?></li>
        <li class="progtrckr-todo"><?php echo _("Taken Product") ?></li>
        <li class="progtrckr-todo"><?php echo _("Shipping") ?></li>
        <li class="progtrckr-todo"><?php echo _("Delivered") ?></li>
    </ol>
    <?php endif; ?>
    <p></p>
    <div class="row no-margin">
        <strong><?php echo __("Status Order") ?></strong>
        <p><?php echo $order_information->order->status_text; ?></p>
    </div>
    <div class="row no-margin">
        <strong><?php echo __("Shipping Information") ?></strong>
        <p><?php echo $data_ship["shipping_information"] ?></p>
    </div>
    <div class="row no-margin">
        <strong><?php echo __("Payment Method") ?></strong>
        <p><?php echo $data_ship["payment_method"] ?></p>
    </div>
    <div class="row no-margin">
        <strong><?php echo __("Shipping Address") ?></strong>
        <p><?php echo __("Ship to") ?>: <span><?php echo $order_information->order->address; ?></span></p>
        <p><?php echo __("Email") ?>: <span><?php echo $data_ship["customer_email"] ?></span></p>
        <p><?php echo $data_ship["shipping_address"] ?></p>
    </div>
    <div class="row no-margin">
        <strong><?php echo __("Additional Information") ?></strong>
        <p><?php echo __("Expected Delivery Time") ?>: <span><?php echo $order_information->order->pick_date; ?></span></p>
        <p><?php echo __("End Pick Time") ?>: <span><?php echo $order_information->order->deliver_date; ?></span></p>
        <p><?php echo $data_ship["shipping_address"] ?></p>
    </div>
    <?php if($data_ship['order_status'] != 'complete'): ?>
    <div class="row no-margin">
        <button>
            <span><?php echo __("Completed My Order"); ?></span>
        </button>
    </div>
    <?php endif; ?>
</form>
<?php } ?>
