<?php
//$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
//$modelCustomerSocial = $objectManager->create("Libero\Customer\Model\CustomerSocial");
//$modelCustomerSocial->getGoogleOauth();
//die();
//Include GP config file && User class
//include_once 'gpConfig.php';
/*@session_start();
$object_manager =  \Magento\Framework\App\ObjectManager::getInstance();
$dir = $object_manager->get('\Magento\Framework\Filesystem\DirectoryList');
$base = $dir->getRoot();
$lib_file_1 = $base.'/lib/internal/Libero_google/src/Google_Client.php';
$lib_file_2 = $base.'/lib/internal/Libero_google/src/contrib/Google_Oauth2Service.php';
require_once($lib_file_1);
require_once($lib_file_2);
$clientId = '333188572920-unu5g3084emcovmsksr8fcg9etqghpu3.apps.googleusercontent.com';
$clientSecret = 'D3fJXKDirRXt47ZDtEVgTbyB';
$redirectURL = 'http://127.0.0.1/magento_2_1_sample/customer/buyer/';

//Call Google API
//echo $redirectURL;
//die();
$gClient = new Google_Client();
//var_dump($gClient);
//die();
$gClient->setClientId($clientId);
$gClient->setClientSecret($clientSecret);
$gClient->setRedirectUri($redirectURL);
$google_oauthV2 = new  Google_Oauth2Service($gClient);
//var_dump($google_oauthV2);
//die();
if(isset($_GET['code'])){
    $gClient->authenticate($_GET['code']);
    var_dump($gClient->getAccessToken());
    die();
    $_SESSION['token'] = $gClient->getAccessToken();
    //header('Location: ' . filter_var($redirectURL, FILTER_SANITIZE_URL));
    ?>
    <script>
        top.location.href= "<?php echo $redirectURL ?>";
    </script>
    <?php
}

if (isset($_SESSION['token'])) {
    $gClient->setAccessToken($_SESSION['token']);
}

if ($gClient->getAccessToken()) {
    //Get user profile data from google
    $gpUserProfile = $google_oauthV2->userinfo->get();

    //Initialize User class

    //Insert or update user data to the database
    $gpUserData = array(
        'oauth_provider'=> 'google',
        'oauth_uid'     => $gpUserProfile['id'],
        'first_name'    => $gpUserProfile['given_name'],
        'last_name'     => $gpUserProfile['family_name'],
        'email'         => $gpUserProfile['email'],
        'gender'        => $gpUserProfile['gender'],
        'locale'        => $gpUserProfile['locale'],
        'picture'       => $gpUserProfile['picture'],
        'link'          => $gpUserProfile['link']
    );
    var_dump($gpUserData);
    //$userData = $user->checkUser($gpUserData);

    //Storing user data into session
    /*$_SESSION['userData'] = $userData;

    //Render facebook profile data
    if(!empty($userData)){
        $output = '<h1>Google+ Profile Details </h1>';
        $output .= '<img src="'.$userData['picture'].'" width="300" height="220">';
        $output .= '<br/>Google ID : ' . $userData['oauth_uid'];
        $output .= '<br/>Name : ' . $userData['first_name'].' '.$userData['last_name'];
        $output .= '<br/>Email : ' . $userData['email'];
        $output .= '<br/>Gender : ' . $userData['gender'];
        $output .= '<br/>Locale : ' . $userData['locale'];
        $output .= '<br/>Logged in with : Google';
        $output .= '<br/><a href="'.$userData['link'].'" target="_blank">Click to Visit Google+ Page</a>';
        $output .= '<br/>Logout from <a href="logout.php">Google</a>';
    }else{
        $output = '<h3 style="color:red">Some problem occurred, please try again.</h3>';
    }*/
/*} else {
    $authUrl = $gClient->createAuthUrl();
    $output = '<a href="'.filter_var($authUrl, FILTER_SANITIZE_URL).'"><img src="https://www.htps.us/UserFiles/Servers/Server_791028/Templates/login-google.png" alt=""/></a>';
    echo $output;
}*/
$dataCustomerOnRegistry = $block->getDataFromRegistry();
$dataBuyer = array("first_name"=>"","last_name"=>"","email"=>"","birthDay"=>"","birthMonth"=>"","birthYear"=>"","phone"=>"");
if(!is_null($dataCustomerOnRegistry)) {
    $dataBuyer = json_decode(json_encode($dataCustomerOnRegistry),TRUE);
}
?>
<!-- <form class="form form-login"
      action="<?php echo $block->escapeUrl($block->getPostActionSocialUrl()) ?>"
      method="post"
      id="login-form-social"
      data-mage-init='{"validation":{}}'>
    <?php echo $block->getBlockHtml('formkey'); ?>
    <div class="block-content">
        <div class="actions-toolbar social-btn facebook-login">
            <button type="submit" class="btn btn-block btn-social btn-facebook">Sign in with Facebook</button>
        </div>
        <div class="actions-toolbar social-btn google-login">
            <button type="submit" class="btn btn-block btn-social btn-google">Sign in with Google</button>
        </div>
    </div>
</form> -->
<div class="block block-customer-login">
    <div class="block-title">
        <strong id="block-customer-login-heading" role="heading" aria-level="2"><?php echo $block->escapeHtml(__('Registered Seller')) ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-customer-login-heading" style="margin-top:2%;">
        <form class="form form-login"
              action="<?php echo $block->escapeUrl($block->getPostActionUrl()) ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
            <?php echo $block->getBlockHtml('formkey'); ?>
            <input type="hidden" value="<?php echo $block->randomTokenonFormToSendOtp(); ?>" name="token" id="token" />
            <fieldset class="fieldset login" data-hasrequired="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('* Required Fields')) ?>">
                <!--<div class="field note"><?php echo $block->escapeHtml(__('If you have an account, sign in with your email address.')) ?></div>-->
                <div class="field email required">
                    <label class="label" for="email"><span><?php echo $block->escapeHtml(__('Email')) ?></span></label>
                    <div class="control">
                        <input name="login[username]" value="<?php echo $dataBuyer["email"]; ?>"  autocomplete="off" id="email" type="email" class="input-text" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Email')) ?>" data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div>
                <div class="field password required">
                    <label for="pass" class="label"><span><?php echo $block->escapeHtml(__('Password')) ?></span></label>
                    <div class="control">
                        <input name="login[password]" type="password" autocomplete="off" class="input-text" id="pass" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Password')) ?>" data-validate="{required:true}">
                    </div>
                </div>
                <div class="field password required">
                    <label for="pass_2" class="label"><span><?php echo $block->escapeHtml(__('Confirm Password')) ?></span></label>
                    <div class="control">
                        <input name="login[password_2]" type="password" autocomplete="off" class="input-text" id="pass_2" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Confirm Password')) ?>" data-validate="{required:true}">
                    </div>
                </div>
                <div class="field sex required">
                    <label for="sex" class="label"><span><?php echo $block->escapeHtml(__('Sex')) ?></span></label>
                    <div class="control">
                        <input type="radio" name="sex" value="1" data-validate="{required:true}"> Male
                        <input type="radio" name="sex" value="2" data-validate="{required:true}"> Female
                    </div>
                </div>
                <div class="field birthday">
                    <label for="dob" class="label"><span><?php echo $block->escapeHtml(__('Birthday')) ?></span></spabn></label>
                    <div class="control">
                        <!-- for demo -->
                        <input type="text" name="dd" value="<?php echo $dataBuyer["birthDay"]; ?>" placeholder="DD">
                        <input type="text" name="mm" value="<?php echo $dataBuyer["birthMonth"]; ?>" placeholder="MM">
                        <input type="text" name="yy" value="<?php echo $dataBuyer["birthYear"]; ?>" placeholder="YYYY">
                        <!-- end for demo -->
                    </div>
                </div>
                <div class="field address">
                    <label for="address" class="label"><span><?php echo $block->escapeHtml(__('Address')) ?></span></spabn></label>
                    <div class="control">
                        <!-- for demo -->
                        <input type="text" name="address" value="" placeholder="Detail Address" style="width: 100%">
                        <input type="text" name="ward" value="" placeholder="Ward">
                        <input type="text" name="district" value="" placeholder="District">
                        <input type="text" name="city" value="" placeholder="City">
                        <!-- for demo -->
                    </div>
                </div>
                <div class="field phone">
                    <label for="phone" class="label"><span><?php echo $block->escapeHtml(__('Phone')) ?></span></spabn></label>
                    <div class="control">
                        <!-- for demo -->
                        <input type="text" name="phone" value="<?php echo $dataBuyer["phone"]; ?>" placeholder="Telephone" id="phone">
                        <!-- for demo -->
                    </div>
                </div>
                <div class="field authenticode required">
                    <label for="address" class="label"><span><?php echo $block->escapeHtml(__('Authentication code')) ?></span></spabn></label>
                    <div class="control">
                        <input type="text" name="otp" value="" placeholder="OTP" data-validate="{required:true}">
                        <button type="button" class="action primary" name="send_otp" id="send_otp"><span><?php echo $block->escapeHtml(__('Send SMS')) ?></span></button>
                    </div>
                </div>
                <div class="field termcondition">
                    <p>
                        <input type="checkbox"> Liberovina
                    </p>
                </div>

                <div class="actions-toolbar">
                    <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span><?php echo $block->escapeHtml(__('Create Account')) ?></span></button></div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<script>
    require([
        'jquery',
        'Magento_Ui/js/modal/modal'
    ], function ( $,modal ) {
        $(document).ready(function(){
            $.ajax({
                url: 'http://prod.boxme.vn/api/public/api/merchant/rest/lading/city',
                method: "GET",
                dataType:'json',
                success: function (data) {
                    $jsonReturn = data.data;
                    $optionsCity =  "";
                    for (var i=0;i<$jsonReturn.length;++i) {
                        $optionsCity+="<option value="+$jsonReturn[i].CityId+">"+$jsonReturn[i].CityName+"</option>"
                    }
                    $("#city_app").html($optionsCity);
                }
            });
            $("#city_app").change(function(e){
                $valueCity = $( "#city_app option:selected" ).val();
                $textCity = $( "#city_app option:selected" ).text();
                $.ajax({
                    url: 'http://prod.boxme.vn/api/public/api/merchant/rest/lading/province/'+$valueCity,
                    method: "GET",
                    dataType:'json',
                    success: function (data) {
                        $jsonReturn = data.data;
                        $optionsDistrict =  "";
                        for (var i=0;i<$jsonReturn.length;++i) {
                            $optionsDistrict+="<option value="+$jsonReturn[i].ProvinceId+">"+$jsonReturn[i].ProvinceName+"</option>"
                        }
                        $("#province").html($optionsDistrict);
                    }
                });
                $("#city").val($textCity);
            });
            $("#province").change(function(e){
                $valueCity = $( "#province option:selected" ).val();
                $textProvince = $( "#province option:selected" ).text();
                $.ajax({
                    url: 'http://prod.boxme.vn/api/public/api/merchant/rest/lading/ward/'+$valueCity,
                    method: "GET",
                    dataType:'json',
                    success: function (data) {
                        $jsonReturn = data.data;
                        $optionsWard =  "";
                        for (var i=0;i<$jsonReturn.length;++i) {
                            $optionsWard+="<option value="+$jsonReturn[i].WardId+">"+$jsonReturn[i].WardName+"</option>"
                        }
                        $("#ward").html($optionsWard);
                    }
                });
                $("#district").val($textProvince);
            });
            $("#ward").change(function(e){
                $textWard = $( "#ward option:selected" ).text();
                $("#street").val($textWard);
            });
            $("#send_otp").click(function(){
                $phone = $("#phone").val();
                $token = $("#token").val();
                $.ajax({
                    url: '<?php echo $block->getPostActionGetOtp() ?>',
                    method: "POST",
                    data: {"phone":$phone,"token":$token},
                    success: function (data) {
                        console.log(data);
                    }
                });
            });
        });
    });
</script>
