<?php 
/** @var \Libero\Customer\Block\Seller\BestProviderInfo $block */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);

$id_sellers = $block->getIdSellers();
$rank = 0;
$topOrderProvider = $block->getTopOrder();
?>
<div class="page-title-wrapper">
    <h1 class="page-title" id="page-title-heading" aria-labelledby="page-title-heading toolbar-amount">
        <span class="base" data-ui-id="page-title-wrapper"><?php echo __("Provider Ranking"); ?></span>
    </h1>
</div>
<div class="store-top-info">
    <ul class="events-list">
        <?php foreach($id_sellers as $id_seller){
            $seller_medal_count = 1;
            $detail_seller = $block->getSellerDetail($id_seller);
            $seller_summary = $block->getSellerReviewSummary($id_seller);
        ?>
            <li class="item bg-white 
                    <?php if($rank == 0){
                        echo "rank rank-perfect";
                    } else if($rank == 1){
                        echo "rank rank-great";
                    } else if($rank == 2){
                        echo "rank rank-normal";
                    } ?>
                    ">
                <div class="provider-list">
                    <div class="provider-img-provider col-lg-2 col-md-2">
                        <img src="<?php echo $media_url.$detail_seller->getData("logo_url") ?>"/>
                    </div>
                    <div class="provider-info col-lg-10 col-md-10">
                        <div class="provider-name">
                            <a href="<?php echo $block->getUrl('marketplace/store/store'); ?>id_seller/<?php echo $detail_seller->getId(); ?>"><?php echo $detail_seller->getData("store_name") ?></a>
                            <?php if($rank==0) { ?>
                                <img src="<?php echo $media_url; ?>wysiwyg/top-sales-medal.png" class="medal-img" style="margin-left: <?php echo (30 * $seller_medal_count); ?>px"/>
                            <?php 
                                $seller_medal_count ++;
                            } ?>

                            <?php if($id_seller == $topOrderProvider) { ?>
                                <img src="<?php echo $media_url; ?>wysiwyg/top-order-medal.png" class="medal-img" style="margin-left: <?php echo (30 * $seller_medal_count); ?>px"/>
                            <?php 
                                $seller_medal_count ++; 
                            } ?>

                            
                        </div>
                        <div class="product-reviews-summary">
                            <div class="rating-summary col-xs-12 p0">
                                <span class="label"><span><?php echo __('rating'); ?>:</span></span>
                                <div class="rating-result" title="<?php echo $seller_summary['percent']; ?>%">
                                    <span style="width:<?php echo $seller_summary['percent']; ?>%"><span><span itemprop="ratingValue"><?php echo $seller_summary['percent']; ?></span>% of <span itemprop="bestRating">100</span></span></span>
                                </div>
                                <span itemprop="reviewCount"><?php echo $seller_summary['review_count']; ?></span>&nbsp;<span><?php echo __('reviews'); ?></span> | 
                            </div>
                            <div class="reviews-actions col-xs-12 p0">
                                <span><?php echo __("Join Date"); ?> : <?php echo $block->getSellersJoinedDate($detail_seller->getIdCustomer())['created_at']; ?>
                            </div>
                        </div>
                    </div>
                    <div class="provider-category col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2 col-xs-12">
                        <p><strong><?php echo __("Business Cateogry"); ?></strong> : 
                            <?php 
                                $category_ids = $detail_seller->getIdCategory();
                                $category_ids = explode("|",$category_ids);
                                $cate = "";
                                foreach($category_ids as $category_id) {
                                    $cate .= $block->getCategoryName($category_id) . ", ";
                                }
                                $cate = substr($cate,0,strlen($cate)-2);
                                echo $cate;
                            ?>
                        </p>
                    </div>
                    <?php
                        $description = $detail_seller->getData("description");
                        if($description != "") { ?>
                            <div class="provider-desc col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2 col-xs-12">
                                <p><strong><?php echo __("Description"); ?></strong> : <?php echo $description; ?></p>
                            </div>
                    <?php } ?>
                    
                    <?php if($rank == 0){ ?>
                        <div class="rank-medal">Perfect</div>
                    <?php } else if($rank == 1){ ?>
                        <div class="rank-medal">Great</div>
                    <?php } else if($rank == 2){ ?>
                        <div class="rank-medal">Normal</div>
                    <?php } ?>
                </div>
            </li>
        <?php
            $rank++;
        } ?>
    </ul>
</div>

