<?php
/** @var Libero\Customer\Block\Seller\Dashboard $block */
?>
<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="#" class="info-number"> <i class="fas fa-envelope"></i> <span class="badge bg-green">0</span> </a>
    </li>
    <li>
        <a href="#" class="dropdown-toggle"> <img src="" alt="">Veronica Costello<span class="fas fa-angle-down"></span> </a>
        <ul class="dropdown-menu">
            <li> <a href="#"> <span>Profile</span> </a> </li>
            <li><a href="#"><i class="fas fa-sign-out-alt"></i>Log Out</a></li>
        </ul>
    </li>
</ul>