<?php
/** @var Libero\Customer\Block\Seller\Invoice $block */
$invoices = $block->getInvoices()->getData();
?>
<script>
    fnSetActiveSellerMenu(2,1);
</script>
<h3>Sales Orders</h3>
<div class="tile-row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table>
            <thead>
                <tr>
                    <th>Invoice</th>
                    <th>Invoice Date</th>
                    <th>Order #</th>
                    <th>Order Date</th>
                    <th>Bill-to Name</th>
                    <th>Status</th>
                    <th>Grand Total (Base)</th>
                    <th>Grand Total (Purchased)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($invoices as $invoice){?>
                    <tr>
                        <td><?php echo $invoice['increment_id']; ?></td>
                        <td><?php echo $invoice['created_at']; ?></td>
                        <td><?php echo $invoice['order_increment_id']; ?></td>
                        <td><?php echo $invoice['order_created_at']; ?></td>
                        <td><?php echo $invoice['billing_name']; ?></td>
                        <td><?php echo $invoice['state']; ?></td>
                        <td><?php echo $invoice['base_grand_total']; ?></td>
                        <td><?php echo $invoice['grand_total']; ?></td>
                        <td><a href="#">View</a></td>
                    </tr>
                <?php } ?>
            </tbody>
        </table> 
    </div>
</div>





