<?php
/** @var Libero\Customer\Block\Seller\Dashboard $block */
?>
<div class="navbar nav_title">
    <a href="#" class="site_title"><img src="" alt=""></a>
    <div class="profile">
        <div class="profile_pic"><img src="" alt=""></div>
        <div class="profile_info">
            <span>Welcome,</span>
            <h2>Veronica Costello</h2>
            <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
        </div>
    </div>
</div>
<div class="main_menu_side">
    <ul class="nav side-menu">
        <li><a href="<?php echo $block->getUrl(); ?>customer/seller/dashboard" class=""><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
        <li><a href="#" class=""><i class="fas fa-user-md"></i><span>Profile</span></a></li>
        <li>
            <a href="#" onclick="return false;" class="active-child-menu"><i class="fas fa-cart-plus"></i><span>Sales</span><span class="fas fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="<?php echo $block->getUrl(); ?>customer/seller/order" class=""><i class=""></i><span>Order</span></a></li>
                <li><a href="<?php echo $block->getUrl(); ?>customer/seller/invoice" class=""><i class=""></i><span>Invoice</span></a></li>
                <li><a href="#" class=""><i class=""></i><span>Amount Transaction</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#" onclick="return false;" class="active-child-menu"><i class="fas fa-cubes"></i><span>Catalog</span><span class="fas fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="#" class=""><i class=""></i><span>Manager Product</span></a></li>
                <li><a href="#" class=""><i class=""></i><span>Add Simple Product</span></a></li>
                <li><a href="#" class=""><i class=""></i><span>Add Virtual Product</span></a></li>
                <li><a href="#" class=""><i class=""></i><span>Add Configurable Product</span></a></li>
            </ul>
        </li>
        <li><a href="#" class=""><i class="fas fa-dollar-sign"></i><span>Withdrawals</span></a></li>
        <li><a href="#" class=""><i class="fas fa-envelope"></i><span>Messages</span></a></li>
        <li><a href="#" class=""><i class="fas fa-comments"></i><span>Reviews</span></a></li>
        <li><a href="#" class=""><i class="fas fa-star"></i><span>Ratings</span></a></li>
        <li><a href="#" class=""><i class="fas fa-thumbs-up"></i><span>Manager Subscription</span></a></li>
        <li>
            <a href="#" onclick="return false;" class="active-child-menu"><i class="fas fa-crosshairs"></i><span>Featured Products</span><span class="fas fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="#" class=""><i class=""></i><span>Add Featured Products</span></a></li>
                <li><a href="#" class=""><i class=""></i><span>Manager Featured Products</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#" onclick="return false;" class="active-child-menu"><i class="fas fa-cloud-upload-alt"></i><span>Mass Import/Export</span><span class="fas fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="#" class=""><i class=""></i><span>Upload Image</span></a></li>
                <li><a href="#" class=""><i class=""></i><span>Import</span></a></li>
                <li><a href="#" class=""><i class=""></i><span>Export</span></a></li>
            </ul>
        </li>
        <li><a href="#" class=""><i class="fas fa-chart-area"></i><span>Advanced Report</span></a></li>
        <li>
            <a href="#" onclick="return false;" class="active-child-menu"><i class="fas fa-map-marker-alt"></i><span>Seller Locator</span><span class="fas fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                `           
                <li><a href="#" class=""><i class=""></i><span>Manager StoreLocator</span></a></li>
                <li><a href="#" class=""><i class=""></i><span>Add Tag </span></a></li>
            </ul>
        </li>
        <li>
            <a href="#" onclick="return false;" class="active-child-menu"><i class="fas fa-truck"></i><span>Shipping</span><span class="fas fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="#" class=""><i class=""></i><span>Flat Rate Shipping</span></a></li>
                <li><a href="#" class=""><i class=""></i><span>Add Flat Rate</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#" onclick="return false;" class="active-child-menu"><i class="fas fa-rss"></i><span>Blog</span><span class="fas fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="#" class=""><i class=""></i><span>Add New Post</span></a></li>
                <li><a href="#" class=""><i class=""></i><span>Manage Posts</span></a></li>
                <li><a href="#" class=""><i class=""></i><span>Add New Category</span></a></li>
                <li><a href="#" class=""><i class=""></i><span>Manage Categories</span></a></li>
                <li><a href="#" class=""><i class=""></i><span>Setting</span></a></li>
            </ul>
        </li>
        <li><a href="#" class=""><i class="fab fa-paypal"></i><span>Paypal Adaptive Payment</span></a></li>
    </ul>
</div>
