<?php
/** @var Libero\Customer\Block\Seller\Shipment $block */
$invoices = $block->getShipments();
?>
<div class="column main">
    <div class="table-wrapper orders-history">
        <table class="data table table-order-items history" id="my-orders-table">
            <caption class="table-caption">Orders</caption>
            <thead>
            <tr>
                <th scope="col" class="col id"><?php echo __("Order #"); ?></th>
                <th scope="col" class="col date"><?php echo __("Date"); ?></th>
                <th scope="col" class="col shipping"><?php echo __("Ship To"); ?></th>
                <th scope="col" class="col total"><?php echo __("Order Total"); ?></th>
                <th scope="col" class="col actions">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($invoices as $invoice): ?>
                <?php
                    $id_shipment = $invoice["entity_id"];
                ?>
            <tr>
                <td data-th="Order #" class="col id"><?php echo $invoice['increment_id']; ?></td>
                <td data-th="Date" class="col date"><?php echo $invoice['created_at']; ?></td>
                <td data-th="Ship To" class="col shipping"><?php echo $invoice['billing_address']; ?></td>
                <td data-th="Order Total" class="col total"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($invoice['base_grand_total'],true,false); ?></td>
                <td data-th="Actions" class="col actions">
                    <a href="<?php echo $block->getUrl("customer/buyer/shiptracking/id_shipment/$id_shipment"); ?>" class="action view">
                        <span><?php echo __("View Tracking Shipping"); ?></span>
                    </a>
                </td>
            </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>




