<?php
/** @var \Libero\Customer\Block\Seller\SellerCategory $block */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$requestHttp = $objectManager->get("\Magento\Framework\App\Request\Http");
$id_seller = $requestHttp->getParam("id_seller");
$search_key = trim(str_replace("+"," ",$requestHttp->getParam("q")));

if($id_seller!="" || $id_seller){
    $arrayCategoryIds = $block->getCategoryIdsIgnoreProduct($id_seller);
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
    $media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);

    $topInfoBlock = $objectManager->create("\Libero\Marketplace\Block\TopInfo");
    $detail_seller = $topInfoBlock->getSellerDetailByIdSeller($id_seller);
    $rating_summary = $detail_seller->getData("rating_sumary");
    $sellerCreatedAt = $block->getSellerCreatedAt($detail_seller->getIdCustomer());
?>
    <div class="block">
        <div class="block-title seller-info-title">
            <strong><a href="<?php echo $block->getUrl("marketplace/store/store") . 'id_seller/' . $id_seller ; ?>"><img src="<?php echo $media_url.$detail_seller->getData("logo_url") ?>"/><?php echo $detail_seller->getData("store_name") ?></a></strong>
        </div>
        <div class="block-content block-detail">
            <div class="seller-search">
                <label><?php echo __("Search for this provider"); ?></label>
                <form class="form minisearch" id="searchbox_mini_form" action="<?php echo $block->getUrl('searchproduct/result') ?>" method="get">
                    <input type="hidden" name="id_seller" value="<?php echo $id_seller; ?>" />
                    <input type="text" name="q" value="<?php echo $search_key; ?>"/>
                    <button type="submit" title="Search" class="btn-searchbox"></button>
                </form>
            </div>
            <p class="block-detail-title"><?php echo __("Information"); ?></p>
            <div class="block-detail-cnt">
                <ul>
                    <li>
                        <?php if($rating_summary == "") { ?>
                            <a href="<?php echo $block->getUrl("marketplace/store/store"). 'id_seller/' . $id_seller; ?>"><?php echo __("Be the first to review this shop"); ?></a>
                        <?php } else { 
                            if (floatval($rating_summary) < 50) {
                                echo __("Rating Review"); ?>
                                : <span class="hightlight-red"><?php echo $rating_summary ?>%</span>
                            <?php } else {
                                echo __("Rating Review"); ?>
                                : <span class="hightlight-green"><?php echo $rating_summary ?>%</span>
                            <?php } ?>
                        <?php } ?>
                    </li>
                    <li><?php echo __("Joined at"); ?>: <?php echo $sellerCreatedAt; ?></li>
                </ul>
            </div>

            <p class="block-detail-title"><?php echo __("Categories"); ?></p>
            <div class="block-detail-cnt">
                <ul>
                    <?php foreach($arrayCategoryIds as $_id_category){
                        $category = $block->getDetailCategory($_id_category);
                        $cateUrl = "";
                        $parents = explode("/",$category->getPath());
                        array_pop($parents);
                        foreach($parents as $parent){
                            $cateLevel = $block->getDetailCategory($parent)->getLevel();
                            if($cateLevel > 1 ) {
                                $cateUrl .= $block->getDetailCategory($parent)->getUrlKey() . "/";
                            }
                        }
                        $cateUrl .= $category->getUrlKey() .'.html?id_seller=' . $id_seller;
                    ?>
                        <li><a href="<?php echo $block->getUrl() . $cateUrl; ?>"><?php echo __($category->getName());?></a></li>
                    <?php }?>
                </ul>
            </div>
        </div>
    </div>
<?php } ?>