<?php
?>
<style>
    .title-tab{
        padding: 10px;
        background-color: #1979c3;
        color:white;
        font-weight: bold;
        width: 230px;
    }
    .control{
        /*display: inline-block;
        margin-left: 10px;*/
    }
    .content-field{
        padding: 15px;
        padding-bottom: 30px;
    }
    .inline-block{
        display: inline-block;
        margin-left: 10px;
    }
    .content-field .inline-block{
        font-weight: 600;
    }
    .fieldset > .content-field >.field.required>.label:after,
    .fieldset > .content-field >.fields>.field.required>.label:after,
    .fieldset > .content-field >.field._required>.label:after,
    .fieldset > .content-field >.fields>.field._required>.label:after{
        content: '*';
        color: #e02b27;
        font-size: 1.2rem;
        margin: 0 0 0 5px;
    }
    .clearRow{
        margin-top: 30px;
        clear: both;
        display: block;
    }
    .actions-toolbar{
        float: right;
    }
    .back_link{
        float: left;
        padding: 6px;
        vertical-align: middle;
    }
</style>
<div class="block block-customer-login">
    <div class="block-title">
        <center><strong id="block-customer-login-heading" role="heading" aria-level="2"><?php echo $block->escapeHtml(__('Seller Signature')) ?></strong></center>
    </div>
    <div class="block-content" aria-labelledby="block-customer-login-heading" style="margin-top:2%;">
        <form class="form form-login"
              action="<?php echo $block->escapeUrl($block->getPostActionUrl()) ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
            <?php echo $block->getBlockHtml('formkey'); ?>
            <div class="content-field">
                <ul>
                    <li>
                        Libero vina
                    </li>
                    <li>

                    </li>
                </ul>
                <p>(*)</p>
                <p>Something!</p>
            </div>
            <fieldset class="fieldset login" data-hasrequired="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('* Required Fields')) ?>">
                <div class="team-conditional">
                    <input type="checkbox" name="check_libero" id="check_libero" /> Libero Vina
                    <br/>
                    <a href="#">Something!!!!</a>
                </div>
                <div class="actions-toolbar">
                    <span class="back_link"> BACK </span>
                    <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span><?php echo $block->escapeHtml(__('Finish')) ?></span></button></div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<script>
    require([
        'jquery',
        'Magento_Ui/js/modal/modal'
    ], function ( $,modal ) {

    });
</script>
