<style>
.custom-combobox-input{
	width:263px;
	height:35px;
}
.ui-menu {
        list-style:none;
        padding: 10px;
        margin: 0;
        display:block;
        max-width:263px;
		max-height:300px;
		overflow-y:scroll;
		z-index:99999;
		background-color:white;
		color:black;
}
.ui-menu .ui-menu {
        margin-top: -3px;
}
.ui-menu .ui-menu-item {
        margin:0;
        padding: 0;
        max-width: 350px;
}
.ui-menu .ui-menu-item a {
        text-decoration:none;
        display:block;
        padding:.2em .4em;
        line-height:1.5;
        zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
        margin: -1px;
}
</style>
<?php
/** @var Libero\Customer\Block\Seller\View $block */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');
$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$deliveryList = $util->getDeliveryCompanyList();
$parent_banks = $util->getBankParents();
$scopeConfig = $objectManager->get("\Magento\Framework\App\Config\ScopeConfigInterface");
$storePhone = $scopeConfig->getValue("general/store_information/phone");
$email = $scopeConfig->getValue("general/store_information/street_line2");
?>
<div class="block block-seller-register">
    <div class="block-title full-wrapper">
        <img src="<?php echo $media_url; ?>wysiwyg\banner\seller-register-banner.png" alt="">
        <div class="support-seller">
            <div class="support-seller-desc">
                <img src="<?php echo $media_url; ?>wysiwyg\contact-chat.png" alt="">
                <p><?php echo __("IN CASE YOU HAVE ANY QUESTION<br/> CONTACT US FOR SUPPORT."); ?></p>
            </div>
            <div class="support-seller-contact">
                <ul>
                    <li>
                        <i class="ico32 ico-phone2"></i>
                        <p><a href="tel:<?php echo $storePhone; ?>" class="base-color f150p"><?php echo $storePhone; ?></a> <!-- <span><?php echo __("(Charge 1000 VND / minute)"); ?></span> --></p>
                    </li>
                    <li>
                        <i class="ico32 ico-mail2"></i>
                        <p><a href="mailto:<?php echo $email; ?>"><?php echo $email; ?></a></p>
                    </li>
                </ul>
            </div>
        </div>
        <strong id="block-customer-login-heading" role="heading" aria-level="2"><?php echo $block->escapeHtml(__('Register form for provider')) ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-customer-login-heading" style="margin-top:2%;">
        <form class="form form-login"
              onsubmit="return fnValidateUploadFile();"
              action="<?php echo $block->escapeUrl($block->getPostActionUrl()) ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}' enctype='multipart/form-data'>
            <?php echo $block->getBlockHtml('formkey'); ?>
            <input type="hidden" value="<?php echo $block->randomTokenonFormToSendOtp(); ?>" name="token" id="token" />
            <fieldset class="fieldset login" data-hasrequired="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('* Required Fields')) ?>">
                
                <div class="reg-section">
                    <div class="title-tab">
                        <span><?php echo __("Basic Information") ?></span>
                    </div>
                    <div class="content-field">
                        <div class="row">
                            <div class="field phone col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <label for="store_name" class="label"><span><?php echo $block->escapeHtml(__('Store Name')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <input type="text" name="store_name" value="" placeholder="<?php echo $block->escapeHtml(__('Store Name')) ?>" id="store_name" data-validate="{required:true,maxlength:50}">
                                    <div for="store_name" generated="true" class="mage-error-style1" id="store-name-error"></div>
                                    <p><?php echo __("Ex: GiftBank") ?> </p>
                                </div>
                            </div>
                            <div class="field email required col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <label class="label" for="email"><span><?php echo $block->escapeHtml(__('Email')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <input name="email" value="" onblur="fnCheckEmail(this);" id="email" type="email" class="input-text" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Email')) ?>" data-validate="{required:true, 'validate-email':true}" placeholder="<?php echo __('Email'); ?>">
                                    <div for="email" generated="true" class="mage-error-style1" id="email-error"></div>
                                    <p><?php echo __("Ex: demo@gmail.com") ?> </p>
                                </div>
                            </div>
                            
                            <div class="field password required col-lg-3 col-md-3 col-sm-6 col-xs-12" data-mage-init='{"passwordStrengthIndicator": {}}'>
                                <label for="pass" class="label"><span><?php echo $block->escapeHtml(__('Password')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <input name="password" type="password" autocomplete="off" class="input-text" id="pass" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Password')) ?>" data-validate="{required:true}" data-password-min-length="8" data-password-min-character-sets="3" minlength="6">
                                    <div id="password-strength-meter-container" data-role="password-strength-meter" >
                                        <div id="password-strength-meter" class="password-strength-meter">
                                            <?php echo $block->escapeHtml(__('Password Strength')); ?>:
                                            <span id="password-strength-meter-label" data-role="password-strength-meter-label" >
                                                <?php echo $block->escapeHtml(__('No Password')); ?>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field password required col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <label for="pass_2" class="label"><span><?php echo $block->escapeHtml(__('Confirm Password')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <input name="password_2" type="password" autocomplete="off" class="input-text" id="pass_2" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Confirm Password')) ?>" data-validate="{required:true, equalTo:'#pass'}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field phone col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                <label for="phone" class="label"><span><?php echo $block->escapeHtml(__('Phone Number')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <input type="text" class="number-only" onkeypress="return numberOnly(event);" name="phone" id="phone_number" value="" maxlength="11"  placeholder="<?php echo $block->escapeHtml(__('Phone Number')) ?>" id="phone" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Phone')) ?>" data-validate="{required:true}">
                                    <div for="phone_number" generated="true" class="mage-error" id="phone_number-error" style="display: none;"><?php echo $block->escapeHtml(__('Please enter a valid phone number')) ?></div>
                                    <p><?php echo __("Ex: 0912345678") ?> </p>
                                </div>
                            </div>
                            <div class="field name required  col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                <label for="first_name" class="label"><span><?php echo $block->escapeHtml(__('Provider Firstname')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <input type="text" name="first_name" value="" placeholder="<?php echo $block->escapeHtml(__('Provider Firstname')) ?>" id="first_name" data-validate="{required:true,maxlength:40}">
                                </div>
                            </div>
                            <div class="field name required  col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                <label for="first_name" class="label"><span><?php echo $block->escapeHtml(__('Provider Lastname')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <input type="text" name="first_name" value="" placeholder="<?php echo $block->escapeHtml(__('Provider Lastname')) ?>" id="first_name" data-validate="{required:true,maxlength:40}">
                                </div>
                            </div>
                            <div class="field phone col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                <label for="hot_line" class="label"><span><?php echo $block->escapeHtml(__('Hot Line')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <input type="text" class="number-only" name="hot_line" id="hot_line" value="" onkeypress="return numberOnly(event);" maxlength="11" placeholder="<?php echo $block->escapeHtml(__('Hot Line')) ?>" id="hot_line" data-validate="{required:true,maxlength:11}">
                                    <div for="hot_line" generated="true" class="mage-error" id="hot_line-error" style="display: none;"><?php echo $block->escapeHtml(__('Please enter a valid phone number')) ?></div>
                                    <p><?php echo __("Ex: 0923444999") ?> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reg-section" style='display:none'>
                    <div class="title-tab">
                        <span><?php echo __("Categories") ?></span>
                    </div>
                    <div class="content-field" >
                        <div id="categories" class="field required">
                            <input type="hidden" id="id_category" name="id_category" />
                            <div class="row">
                                <?php $categories = $block->getCategories();
                                    foreach($categories as $_cate){ ?>
                                    <div class="checkbox-cus col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <input type="checkbox" checked="checked" class="custom-checkbox-required" id="cateId_<?php echo $_cate->getData("entity_id"); ?>"  value="<?php echo $_cate->getData("entity_id"); ?>">
                                        <label class="show-checkbox-cus" for="cateId_<?php echo $_cate->getData("entity_id"); ?>"></label>
                                        <label for="cateId_<?php echo $_cate->getData("entity_id"); ?>" class="light-label"><?php echo __($_cate->getName()); ?></label>
                                    </div>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                </div>
                <script>

                </script>
                <div class="reg-section">
                    <div class="title-tab">
                        <span><?php echo __("Company Information") ?></span>
                    </div>
                    <div class="content-field">
                        <div class="row">
                            <div class="field biz-type required col-lg-3 col-sm-3 col-xs-12">
                                <label class="label" for="company"><span><?php echo $block->escapeHtml(__('Biz Type')) ?></span></label>
                                <div class="control">
                                    <select name="biz_type" id="biz_type">
                                        <option value="0"><?php echo __('None'); ?></option>
                                        <option value="1"><?php echo __('Store'); ?></option>
                                        <option value="2"><?php echo __('Company'); ?></option>
                                    </select>
                                </div>
                            </div>
                            <div class="field company required col-lg-3 col-sm-3 col-xs-12">
                                <label class="label" for="company"><span><?php echo $block->escapeHtml(__('Company')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <input name="company" value="" id="company" type="text" class="input-text" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Company')) ?>" data-validate="{required:true}" maxlength="50" placeholder="<?php echo __('Company');?>">
                                    <p><?php echo __("Ex: Libero Vina") ?> </p>
                                </div>
                            </div>
                            <div class="field agent_name col-lg-3 col-sm-3 col-xs-12">
                                <label for="agent_name" class="label"><span><?php echo $block->escapeHtml(__('Agent Name')) ?></span></label>
                                <div class="control">
                                    <input type="text" name="agent_name" value="" placeholder="<?php echo $block->escapeHtml(__('Agent Name')) ?>" id="agent_name" maxlength="50">
                                </div>
                            </div>
                            <div class="field registration_number col-lg-3 col-sm-3 col-xs-12">
                                <label for="registration_number" class="label"><span><?php echo $block->escapeHtml(__('Company Registration Number')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <input type="text" name="registration_number" onkeypress="return numberOnly(event);" value="" placeholder="<?php echo $block->escapeHtml(__('Company Registration Number')) ?>" id="registration_number" data-validate="{required:true}">
                                    <p><?php echo __("Ex: 0104928988") ?> </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field address required col-lg-3 col-sm-3 col-xs-12">
                                <label class="label" for="address"><span><?php echo $block->escapeHtml(__('Address')) ?></span><span class="required-field">*</span></label>
                                <div class="control">
                                    <input name="address" value="" id="address" type="text" class="input-text" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Address')) ?>" data-validate="{required:true}"  maxlength="50" placeholder="<?php echo __('Address');?>">
                                </div>
                            </div>
                            <div class="field city required col-lg-3 col-sm-3 col-xs-12">
                                <label class="label" for="city"><span><?php echo $block->escapeHtml(__('City')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <select name="city_app" id="city_app" data-validate="{required:true}">
                                        <option value=''><?php echo __('Please choose your city') ?></option>
                                    </select>
                                    <input type="hidden" name="city" id="city"  value="">
                                </div>
                            </div>
                            <div class="field district required col-lg-3 col-sm-3 col-xs-12">
                                <label class="label" for="district"><span><?php echo $block->escapeHtml(__('District')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <select name="province" id="province" data-validate="{required:true}">
                                        <option value=''><?php echo __('Please choose your province'); ?></option>
                                    </select>
                                    <input type="hidden" name="district" id="district"  value="">
                                </div>
                            </div>
                            <div class="field street required col-lg-3 col-sm-3 col-xs-12">
                                <label class="label" for="street"><span><?php echo $block->escapeHtml(__('Ward')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <select name="ward" id="ward" data-validate="{required:true}">
                                        <option value=''><?php echo __('Please choose your ward'); ?></option>
                                    </select>
                                    <input type="hidden" name="street" id="street"  value="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field bank_name col-lg-3 col-sm-3 col-xs-12">
                                <label for="bank_name" class="label"><span><?php echo $block->escapeHtml(__('Bank Name')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <select name="bank_name" id="bank_name" data-validate="{required:true}">
                                        <option value=""><?php echo __("Please choose one"); ?></option>
                                        <?php foreach($parent_banks as $parent_bank) { ?>
                                            <optgroup label="<?php echo $parent_bank['name'] ?>"></optgroup>
                                            <?php 
                                                $banks = $util->getBankList($parent_bank["id"]);
                                                foreach ($banks as $bank) { ?>
                                                    <option value="<?php echo $bank['name']; ?>"><?php echo $bank['name']; ?></option>
                                                <?php }
                                            ?>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                            <div class="field bank_account col-lg-3 col-sm-3 col-xs-12">
                                <label for="bank_account" class="label"><span><?php echo $block->escapeHtml(__('Bank Account')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <input type="number" name="bank_account" value="" placeholder="<?php echo $block->escapeHtml(__('Bank Account')) ?>" id="bank_account" data-validate="{required:true}"  maxlength="50">
                                </div>
                            </div>
                            <div class="field bank_account_name col-lg-3 col-sm-3 col-xs-12">
                                <label for="bank_account_name" class="label"><span><?php echo $block->escapeHtml(__('Bank Account Name')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <input type="text" name="bank_account_name" value="" placeholder="<?php echo $block->escapeHtml(__('Bank Account Name')) ?>" id="bank_account_name" data-validate="{required:true}"  maxlength="50">
                                </div>
                            </div>
                            <div class="field homepage col-lg-3 col-sm-3 col-xs-12">
                                <label for="homepage" class="label"><span><?php echo $block->escapeHtml(__('Home Page')) ?></span></label>
                                <div class="control">
                                    <input type="text" name="homepage" value="" placeholder="<?php echo $block->escapeHtml(__('Home Page')) ?>" id="homepage">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="field tax col-lg-3 col-sm-3 col-xs-12">
                                <label for="tax" class="label"><span><?php echo $block->escapeHtml(__('Tax')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <input type="text" name="tax" value="" onkeypress="return numberOnly(event);" placeholder="<?php echo $block->escapeHtml(__('Tax')) ?>" id="tax" data-validate="{required:true}">
                                    <p><?php echo __("Ex: 0123456789-001") ?> </p>
                                </div>
                            </div>

                            <div class="field manufacture col-lg-3 col-sm-4 col-xs-12">
                                <label for="manufacture" class="label"><span><?php echo $block->escapeHtml(__('Your business is manufacturing ?')) ?></span></label>
                                <div class="control">
                                    <div class="radio-cus">
                                        <label>
                                            <input type="radio" id="manufacture_yes" name="manufacture" value="1">
                                            <label class="show-radio-cus" for="manufacture_yes"></label>
                                            <label for="manufacture_yes" class="light-label"><?php echo __('Yes'); ?></label>
                                        </label>
                                    </div>
                                    <div class="radio-cus">
                                        <label>
                                            <input type="radio" id="manufacture_no" name="manufacture" value="0" checked="true">
                                            <label class="show-radio-cus" for="manufacture_no"></label>
                                            <label for="manufacture_no" class="light-label"><?php echo __('No'); ?></label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="field genuine col-lg-3 col-sm-4 col-xs-12">
                                <label for="genuine" class="label"><span><?php echo $block->escapeHtml(__('Are you genuine product seller ?')) ?></span></label>
                                <div class="control">
                                    <div class="radio-cus">
                                        <label>
                                            <input type="radio" id="genuine_yes" name="genuine" value="1">
                                            <label class="show-radio-cus" for="genuine_yes"></label>
                                            <label for="genuine_yes" class="light-label"><?php echo __('Yes'); ?></label>
                                        </label>
                                    </div>
                                    <div class="radio-cus">
                                        <label>
                                            <input type="radio" id="genuine_no" name="genuine" value="0" checked="true">
                                            <label class="show-radio-cus" for="genuine_no"></label>
                                            <label for="genuine_no" class="light-label"><?php echo __('No'); ?></label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="upload_folder">
                        <ul class="field-wrapper">
                            <li class="field upload">
                                <div class="label-text">
                                    <?php echo __("Please attach your business license image.") ?> (JPG, PNG, PDF, TXT, EXCEL, <?php echo __('max 2M') ?>")
                                    <span class="required-field">*</span>
                                </div>
                                <div class="control">
                                    <button type="button" class="upload-file-btn base-color-btn"><?php echo __('Upload File') ?></button>
                                    <span class="file-name"></span>
                                    <input type="file" name="certification" id="certification" file-extension="JPG, PNG, PDF, TXT, EXCEL,xlsx,doc" value="" data-validate="{required:true}">
                                </div>
                            </li>
                            <li class="field upload">
                                <div class="label-text">
                                    <?php echo __("Please attach your authorization letter license image.") ?> (JPG, PNG, PDF, TXT, EXCEL, <?php echo __('max 2M') ?>")
                                    <span class="required-field">*</span>
                                </div>
                                <div class="control">
                                    <button type="button" class="upload-file-btn base-color-btn"><?php echo __('Upload File') ?></button>
                                    <span class="file-name"></span>
                                    <input type="file" name="certification_3" id="certification_3" file-extension="JPG, PNG, PDF, TXT, EXCEL,xlsx,doc" value="" data-validate="{required:true}">
                                </div>
                            </li>
                            <li class="field upload">
                                <div class="label-text">
                                    <?php echo __("Please attach your procuration image.") ?> (JPG, PNG, PDF,TXT,EXCEL, <?php echo __('max 2M') ?>")
                                    <span class="required-field">*</span>
                                </div>
                                <div class="control">
                                    <button type="button" class="upload-file-btn base-color-btn"><?php echo __('Upload File') ?></button>
                                    <span class="file-name"></span>
                                    <input type="file" name="certification_1" id="certification_1" file-extension="JPG, PNG, PDF, TXT, EXCEL,xlsx,doc" value="" data-validate="{required:true}">
                                </div>
                            </li>
                            <li class="field upload">
                                <div class="label-text">
                                <?php echo __("Please attach your procuration image.") ?> (JPG, PNG, PDF,TXT,EXCEL, <?php echo __('max 2M') ?>")
                                    <span class="required-field">*</span>
                                </div>
                                <div class="control">
                                    <button type="button" class="upload-file-btn base-color-btn"><?php echo __('Upload File') ?></button>
                                    <span class="file-name"></span>
                                    <input type="file" name="certification_2" id="certification_2" file-extension="JPG, PNG, PDF, TXT, EXCEL,xlsx,doc" value="" data-validate="{required:true}">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="reg-section">
                    <div class="title-tab">
                        <span><?php echo __("Your Store Information") ?></span>
                    </div>
                    <div class="content-field">
                        <div class="row">
                            <div class="field phone logo-preview col-lg-3 col-sm-3 col-xs-12">
                                <label for="logo" class="label"><span><?php echo $block->escapeHtml(__('Your Logo (150x150)')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <div class="upload_folder">
                                        <ul class="field-wrapper">
                                            <div class="control">
                                                <button type="button" class="upload-file-btn base-color-btn"><?php echo __('Upload File') ?></button>
                                                <span class="file-name"></span>
                                                <input type="file" name="logo_seller" id="logo_seller" file-extension="JPG, PNG" value="" style="width: 0px;height: 0px;opacity: 0;display: inline-block;" data-validate="{required:true}"/>
                                                <p>Ex:<?php echo __("You can upload a picture as a logo.") ?> </p>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="field phone banner-preview col-lg-3 col-sm-3 col-xs-12">
                                <label for="banner" class="label"><span><?php echo $block->escapeHtml(__('Your Banner (1170x300)')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <div class="upload_folder">
                                        <ul class="field-wrapper">
                                            <div class="control">
                                                <button type="button" class="upload-file-btn base-color-btn"><?php echo __('Upload File') ?></button>
                                                <span class="file-name"></span>
                                                <input type="file" name="banner_seller1" id="banner_seller1" file-extension="JPG, PNG" style="width: 0px;height: 0px;opacity: 0;display: inline-block;" value="" data-validate="{required:true}">
                                                <p>Ex:<?php echo __("You can upload a picture as a banner.") ?> </p>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="field phone col-lg-6 col-sm-6 col-xs-12">
                                <label for="description_store" class="label"><span><?php echo $block->escapeHtml(__('Your Description Store')) ?><?php echo __("Maximum 500 digits;"); ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <textarea class="textarea" rows="5" name="seller_description" maxlength="500" data-validate="{required:true}"></textarea>
                                    <p>Ex: <?php echo __("Founded in July, 1977, the e-commerce website wisi.vn, a member of the Libero System Group (Korea), is constantly striving to improve service quality with the goal of creating a shopping experience. Great for customers. When shopping online at wisi.vn you will experience a variety of products in many different categories, wisi.vn will meet all your shopping needs."); ?></p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="primary tr"><button type="submit" class="action login primary base-color-btn" name="send" id="send2"><span><?php echo $block->escapeHtml(__('Submit')) ?></span></button></div>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="" name="shipping_method"/>
                <!-- <div class="reg-section">
                    <div class="title-tab">
                        <span><?php echo __("Delivery Information") ?></span>
                    </div>
                    <div class="content-field">
                        <div class="row" style='margin-left:0'>
                        <label for="wisi_delivery" class="label" style='vertical-align: middle;padding: 10px !important;'>
                            <span><?php echo $block->escapeHtml(__('Wisi Delivery')) ?></span>
                        </label>
                            <input type="radio"  checked='checked' style='vertical-align: middle;' value="wisi_delivery" name="shipping_method" id="wisi_delivery" />
                        <label for="my_delivery" class="label" style='vertical-align: middle;padding: 10px !important;'>
                            <span><?php echo $block->escapeHtml(__('Provider Delivery')) ?></span>
                        </label>
                            <input type="radio" value="my_delivery" name="shipping_method" style='vertical-align: middle;' id="my_delivery"/>
                        </div>
                    </div>
                    <div class="content-field">
                        <div class="row" style='display:none'>
                            <div class="general-table delivery-table col-lg-6 col-sm-6 col-xs-12">
                                <div class="control">
                                    <table>
                                        <colgroup>
                                            <col width="5%">
                                            <col width="5%">
                                            <col width="40%">
                                            <col width="40%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th><?php echo __("No.");?></th>
                                                <th><?php echo __("Choose");?></th>
                                                <th><?php echo __("Delivery Name");?></th>
                                                <th><?php echo __("Delivery Logo");?></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php
                                            $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
                                            $count = 1;
                                            foreach($deliveryList as $delivery){ 
                                            ?>
                                                <tr class="pointer" onclick="jQuery('#deli_<?php echo $delivery['id_delivery']; ?>').attr('checked',!jQuery('#deli_<?php echo $delivery['id_delivery']; ?>').attr('checked'));">
                                                    <td class="tc"><?php echo $count; ?></td>
                                                    <td class="tc">
                                                        <div class="checkbox-cus">
                                                            <input type="checkbox" name="seller_shipping[]" id="deli_<?php echo $delivery['id_delivery']; ?>" value="<?php echo $delivery['id_delivery']; ?>|<?php echo $delivery['name_delivery']; ?>"/>
                                                            <label class="show-checkbox-cus" for="deli_<?php echo $delivery['id_delivery']; ?>"></label>
                                                        </div>
                                                    </td>
                                                    <td><?php echo $delivery['name_delivery']; ?></td>
                                                    <td><img src="<?php echo $media_url.$delivery['img_delivery']; ?>" alt=""/></td>
                                                </tr>
                                            <?php 
                                                $count++;
                                            } ?>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="actions-toolbar">
                            <div class="primary"><button type="submit" class="action login primary base-color-btn" name="send" id="send2"><span><?php echo $block->escapeHtml(__('Submit')) ?></span></button></div>
                        </div>
                    </div>
                </div> -->
            </fieldset>
        </form>
    </div>
</div>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$url_website = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
?>
<script>
    function clickSubmitBtn(){
        

    }

    function fnCheckEmail(elem){
        var email_check = jQuery(elem).val();
        jQuery(elem).addClass("input-loading");
        jQuery.ajax({
            url: '<?php $block->getUrl(); ?>/customer/seller/checkemail',
            method: "POST",
            data: {email:email_check},
            dataType:'json',
            success: function (data) {
                $jsonReturn = JSON.parse(data);
                if($jsonReturn.error == true){
                    jQuery("#email-error").text($jsonReturn.message);
                    jQuery("#email").focus();
                }else{
                    jQuery("#email-error").text("");
                }
                jQuery(elem).removeClass("input-loading");
            }
        });
    }

    require([
        'jquery',
        'Magento_Ui/js/modal/modal',
        'combobox'
    ], function ( $,modal, combobox ) {
        $(function() {
            $.widget( "custom.combobox", {
                _create: function() {
                    this.wrapper = $( "<span>" )
                    .addClass( "custom-combobox" )
                    .insertAfter( this.element );
            
                    this.element.hide();
                    this._createAutocomplete();
                    this._createShowAllButton();
                },
            
                _createAutocomplete: function() {
                    var selected = this.element.children( ":selected" ),
                    value = selected.val() ? selected.text() : "";
            
                    this.input = $( "<input>" )
                    .appendTo( this.wrapper )
                    .val( value )
                    .attr( "title", "" )
                    .addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
                    .autocomplete({
                        delay: 0,
                        minLength: 0,
                        source: $.proxy( this, "_source" )
                    })
                    .tooltip({
                        classes: {
                        "ui-tooltip": "ui-state-highlight"
                        }
                    });
            
                    this._on( this.input, {
                    autocompleteselect: function( event, ui ) {
                        ui.item.option.selected = true;
                        this._trigger( "select", event, {
                        item: ui.item.option
                        });
                    },
            
                    autocompletechange: "_removeIfInvalid"
                    });
                },
            
                _createShowAllButton: function() {
                    var input = this.input,
                    wasOpen = false;
            
                    $( "<a>" )
                    .attr( "tabIndex", -1 )
                    .attr( "title", "Show All Items" )
                    .tooltip()
                    .appendTo( this.wrapper )
                    .button({
                        icons: {
                        primary: "ui-icon-triangle-1-s"
                        },
                        text: false
                    })
                    .removeClass( "ui-corner-all" )
                    .addClass( "custom-combobox-toggle ui-corner-right" )
                    .on( "mousedown", function() {
                        wasOpen = input.autocomplete( "widget" ).is( ":visible" );
                    })
                    .on( "click", function() {
                        input.trigger( "focus" );
            
                        // Close if already visible
                        if ( wasOpen ) {
                        return;
                        }
            
                        // Pass empty string as value to search for, displaying all results
                        input.autocomplete( "search", "" );
                    });
                },
            
                _source: function( request, response ) {
                    var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
                    response( this.element.children( "option" ).map(function() {
                    var text = $( this ).text();
                    if ( this.value && ( !request.term || matcher.test(text) ) )
                        return {
                        label: text,
                        value: text,
                        option: this
                        };
                    }) );
                },
            
                _removeIfInvalid: function( event, ui ) {
            
                    // Selected an item, nothing to do
                    if ( ui.item ) {
                    return;
                    }
            
                    // Search for a match (case-insensitive)
                    var value = this.input.val(),
                    valueLowerCase = value.toLowerCase(),
                    valid = false;
                    this.element.children( "option" ).each(function() {
                    if ( $( this ).text().toLowerCase() === valueLowerCase ) {
                        this.selected = valid = true;
                        return false;
                    }
                    });
            
                    // Found a match, nothing to do
                    if ( valid ) {
                    return;
                    }
            
                    // Remove invalid value
                    this.input
                    .val( "" )
                    .attr( "title", value + " didn't match any item" )
                    .tooltip( "open" );
                    this.element.val( "" );
                    this._delay(function() {
                    this.input.tooltip( "close" ).attr( "title", "" );
                    }, 2500 );
                    this.input.autocomplete( "instance" ).term = "";
                },
            
                _destroy: function() {
                    this.wrapper.remove();
                    this.element.show();
                }
                });
        })
        $(document).ready(function(){
            $("#bank_name").combobox();
            $("#send2").click(function(){
                if(checkIsCheckedCategories()){
                    $("#login-form").submit();
                }
            });
            function checkIsCheckedCategories(){

                var id_category = "";
                $("#categories input[type='checkbox']").each(function(){
                    if($(this).is(":checked")){
                        id_category += $(this).val() + ",";
                    }
                });
                id_category = id_category.substr(0,id_category.length-1);
                $("#id_category").val(id_category);

                var arrayCate = $(".custom-checkbox-required");
                var isChecked = false;
                arrayCate.each(function(){
                    var elem = $(this);
                    if(elem.is(":checked")){
                        isChecked = true;
                    }
                });
                if(isChecked){
                    return true;
                }else{
                    alert("Please select one of categories");
                    return false;
                }
            }
            function checkPhoneNumber(id) {
                var flag = false;
                var phone = $("#" + id).val().trim(); // ID của trường Số điện thoại
                phone = phone.replace('(+84)', '0');
                phone = phone.replace('+84', '0');
                phone = phone.replace('0084', '0');
                phone = phone.replace(/ /g, '');
                if (phone != '') {
                    var firstNumber = phone.substring(0, 2);
                    if (phone.length == 10) {
                        if (phone.match(/^\d{10}/)) {
                            flag = true;
                        }
                    } else if (phone.length == 11) {
                        if (phone.match(/^\d{11}/)) {
                            flag = true;
                        }
                    }
                }
                return flag;
            }
            $('#phone_number').blur(function(e) { // ID của trường Số điện thoại
                if(!checkPhoneNumber("phone_number")){
                    $('#phone_number').addClass('has-error'); // ID của trường Số điện thoại
                    $("#phone_number-error").css("display","block");
                    $("#phone_number-error").show();
                    //$('#phone_number').focus(); // ID của trường Số điện thoại
                    e.preventDefault();
                }else{
                    $("#phone_number-error").css("display","none");
                    $("#phone_number-error").hide();
                    $('#phone_number').removeClass('has-error'); // ID của trường Số điện thoại
                }
            });
            $('#hot_line').blur(function(e) { // ID của trường Số điện thoại
                if(!checkPhoneNumber("hot_line")){
                    $('#hot_line').addClass('has-error'); // ID của trường Số điện thoại
                    $("#hot_line-error").css("display","block");
                    $("#hot_line-error").show();
                    //$('#hot_line').focus(); // ID của trường Số điện thoại
                    e.preventDefault();
                }else{
                    $("#hot_line-error").css("display","none");
                    $("#hot_line-error").hide();
                    $('#hot_line').removeClass('has-error'); // ID của trường Số điện thoại
                }
            });
            $("#store_name").blur(function(){
                var store_name_check = $(this).val();
                $(this).addClass("input-loading");
                    $.ajax({
                        url: '<?php $block->getUrl(); ?>/customer/seller/checkstorename',
                        method: "POST",
                        data: {store_name:store_name_check},
                        dataType:'json',
                        success: function (data) {
                            $jsonReturn = JSON.parse(data);
                            if($jsonReturn.error == true){
                                $("#store-name-error").text($jsonReturn.message);
                            }else{
                                $("#store-name-error").text("");
                            }
                            $("#store_name").removeClass("input-loading");
                        }
                    });
            });
            $.ajax({
                url: '<?php echo $url_website ?>onestepcheckout/api/getprovince',
                method: "GET",
                dataType:'json',
                success: function (data) {
                    $jsonReturn = data;
                    $optionsCity =  "<option value=''><?php echo __('Please choose your city') ?></option>";
                    for (var i=0;i<$jsonReturn.length;++i) {
                        $optionsCity+="<option value="+$jsonReturn[i].province_id+">"+$jsonReturn[i].province_name+"</option>"
                    }
                    $("#city_app").html($optionsCity);
                }
            });
            $("#city_app").change(function(e){
                $valueCity = $( "#city_app option:selected" ).val();
                $textCity = $( "#city_app option:selected" ).text();
                $.ajax({
                    url: '<?php echo $url_website ?>onestepcheckout/api/getdistrict/province/'+$valueCity,
                    method: "GET",
                    dataType:'json',
                    success: function (data) {
                        $jsonReturn = data;
                        $optionsDistrict =  "<option value=''><?php echo __('Please choose your province'); ?></option>";
                        for (var i=0;i<$jsonReturn.length;++i) {
                            $optionsDistrict+="<option value="+$jsonReturn[i].district_id+">"+$jsonReturn[i].district_name+"</option>"
                        }
                        $("#province").html($optionsDistrict);
                    }
                });
                $("#city").val($textCity);
            });
            $("#province").change(function(e){
                $valueCity = $( "#province option:selected" ).val();
                $textProvince = $( "#province option:selected" ).text();
                $.ajax({
                    url: '<?php echo $url_website ?>onestepcheckout/api/getward/district/'+$valueCity,
                    method: "GET",
                    dataType:'json',
                    success: function (data) {
                        $jsonReturn = data.data.Wards;
                        $optionsWard =  "<option value=''><?php echo __('Please choose your ward'); ?></option>";
                        for (var i=0;i<$jsonReturn.length;++i) {
                            $optionsWard+="<option value="+$jsonReturn[i].WardCode+">"+$jsonReturn[i].WardName+"</option>"
                        }
                        $("#ward").html($optionsWard);
                    }
                });
                $("#district").val($textProvince);
            });
            $("#ward").change(function(e){
                $textWard = $( "#ward option:selected" ).text();
                $("#street").val($textWard);
            });
            $('#deli_giao_hang_nhanh').attr('checked',!$('#deli_giao_hang_nhanh').attr('checked'));
            $('#deli_giao_hang_tiet_kiem').attr('checked',!$('#deli_giao_hang_tiet_kiem').attr('checked'));
        });
    });
</script>


