<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$topInfo = $objectManager->create("\Libero\Marketplace\Block\TopInfo");
$requestHttp = $objectManager->get("\Magento\Framework\App\Request\Http");
$id_seller = $requestHttp->getParam("id_seller");
$detail_seller = $topInfo->getSellerDetailByIdSeller($id_seller);


$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);

$seller_summary = $topInfo->getSellerReviewSummary();
$sellerReviewList = $topInfo->getSellerReviewList();

$sliders = array();
if(count($detail_seller->getData("banner_url1")) > 0) {$sliders[] = $media_url.$detail_seller->getData("banner_url1");}
if(count($detail_seller->getData("banner_url2")) > 0) {$sliders[] = $media_url.$detail_seller->getData("banner_url2");}
if(count($detail_seller->getData("banner_url3")) > 0) {$sliders[] = $media_url.$detail_seller->getData("banner_url3");}
if(count($detail_seller->getData("banner_url4")) > 0) {$sliders[] = $media_url.$detail_seller->getData("banner_url4");}
$countSlider = count($sliders);

?>

<div class="store-top-info mb-30">
	<?php 
		if($countSlider > 1){ ?>
			<div class="seller-slider">
				<?php foreach($sliders as $slider) { ?>
					<div class="item">
						<div class="item-inner">
							<div class="image-box-client">
								<div class="image">
									<img src="<?php echo $slider; ?>" />
								</div>
							</div>
						</div>
					</div>
				<?php } ?>
			</div>
		<?php } else { ?>
			<?php foreach($sliders as $slider) { ?>
				<img src="<?php echo $slider; ?>" />
			<?php }
		}
	?>
</div>

<?php if ($block->getResultCount()): ?>
<?php echo $block->getChildHtml('tagged_product_list_rss_link'); ?>
<div class="search results">
    <?php if ($messages = $block->getNoteMessages()):?>
    <div class="message notice">
        <div>
            <?php foreach ($messages as $message):?>
                <?php /* @escapeNotVerified */ echo $message?><br />
            <?php endforeach;?>
        </div>
    </div>
    <?php endif; ?>
    <?php echo $block->getProductListHtml() ?>
</div>
<?php else: ?>

<div class="message notice">
    <div>
        <?php /* @escapeNotVerified */ echo($block->getNoResultText()) ? $block->getNoResultText() : __('Your search returned no results.') ?>
        <?php echo $block->getAdditionalHtml() ?>
        <?php if ($messages = $block->getNoteMessages()):?>
            <?php foreach ($messages as $message):?>
                <br /><?php /* @escapeNotVerified */ echo $message?>
            <?php endforeach;?>
        <?php endif; ?>
    </div>
</div>
<?php endif; ?>
