<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to cart'); ?>
<?php 
$rma_policy = $_product->getData("rma_policy");
$buyer_warranty = $_product->getData("buyer_warranty");
$_config = $this->helper('Sm\Market\Helper\Data');
$_wishlistSubmitParams = $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($_product);
$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$resource = $objectManager->get('\Magento\Framework\App\ResourceConnection');
$finalPrice = $_product->getFinalPrice();
$blockQuote = $objectManager->get("Libero\Customer\Block\Adminhtml\Provider\Order");
$unit_price = "Item";
$product_id = $_product->getId();
//get min qty cho nay
$free_shipment = $_product->getFreeShipment();
?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity() && $_product->isSaleable()): ?>
        <div class="info-qty-cart">
            <div class="field qty_cus">
                <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Quantity') ?></span></label>
                <div class="control control-qty-cart">
                    <span class="quantity-controls quantity-minus"><i class="fas fa-minus"></i></span>
                    <input type="number"
                        name="qty"
                        id="qty"
                        maxlength="12"
                        value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
                        title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="qty-default input-text qty"
                        data-validate="{'required-number':true,'validate-greater-than-zero':true}"
                        />
                    <span class="quantity-controls quantity-plus"><i class="fas fa-plus"></i></span>

                    <script type="text/javascript">
                        jQuery(document).ready(function($){
                            var array_variant_qty = [];
                            var array_variant_price = [];
                            var elem_variant_qty = $(".variant_qty");
                            var length_variant_qty = elem_variant_qty.length;
                            for(v = 0 ; v <length_variant_qty ; v++){
                                var item_qty = $(elem_variant_qty[v]).text().trim();
                                array_variant_qty.push(item_qty);
                            }
                            var elem_variant_price = $(".variant_price");
                            var length_variant_price = elem_variant_price.length;
                            for(v = 0 ; v <length_variant_price ; v++){
                                var item_price = $(elem_variant_price[v]).attr("data-price");
                                array_variant_price.push(item_price);
                            }
                            $.fn.digits = function(){
                                return this.each(function(){
                                    $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.")+" ₫" );
                                })
                            };
                            var qty_global = Number($('.qty-default').val());
                            var id_price = "#product-price-<?php echo $product_id ?>";
                            var price_number = '<?php echo round($finalPrice,0); ?>';
                            var price_global = $(id_price).attr("data-price-amount").replace("₫","").replace(/[.]/g,"").trim(); //đây chính là số a
							
                            var index_of_qty = 0 ;
                                for(index_of_qty = 0 ; index_of_qty < array_variant_qty.length ; index_of_qty++){
                                    var qty_check = array_variant_qty[index_of_qty];
                                    if(qty_global >= qty_check){
                                        price_global = array_variant_price[index_of_qty];
                                    }
                                }
                            var total_global = price_global * qty_global;
                            total_global = total_global.toFixed(0);
                            $("#total-price").text(total_global).digits()+ "đ";
                            $("#qty").keyup(function(){
                                var qty = Number($('#qty').val());
                                var price = $(id_price).attr("data-price-amount").replace("₫","").replace(/[.]/g,"").trim(); //đây chính là số a
                                var index_of_qty = 0 ;
                                for(index_of_qty = 0 ; index_of_qty < array_variant_qty.length ; index_of_qty++){
                                    var qty_check = array_variant_qty[index_of_qty];
                                    if(qty >= qty_check){
                                        price = array_variant_price[index_of_qty];
                                    }
                                }
                                var total = price * qty;
                                total = total.toFixed(0);
                                $("#total-price").text(total).digits()+ "đ";
                            });
                            $('.quantity-plus').click(function () {
                                $('.qty-default').val(Number($('.qty-default').val())+1);
                                var qty = Number($('.qty-default').val());
                                var price = $(id_price).attr("data-price-amount").replace("₫","").replace(/[.]/g,"").trim(); //đây chính là số a
                                var index_of_qty = 0 ;
                                for(index_of_qty = 0 ; index_of_qty < array_variant_qty.length ; index_of_qty++){
                                    var qty_check = array_variant_qty[index_of_qty];
                                    if(qty >= qty_check){
                                        price = array_variant_price[index_of_qty];
                                    }
                                }
                                var total = price * qty;
                                total = total.toFixed(0);
                                $("#total-price").text(total).digits()+ "đ";
                                // 135.000 ₫
                            });
                            
                            $('.quantity-minus').click(function () {
                                var qty = Number($('.qty-default').val()) - 1;
                                if(qty < 1 ) {
                                    qty = 1;
                                }
                                $('.qty-default').val(qty);
                                var price = $(id_price).attr("data-price-amount").replace("₫","").replace(/[.]/g,"").trim();
                                var index_of_qty = 0 ;
                                for(index_of_qty = 0 ; index_of_qty < array_variant_qty.length ; index_of_qty++){
                                    var qty_check = array_variant_qty[index_of_qty];
                                    if(qty >= qty_check){
                                        price = array_variant_price[index_of_qty];
                                    }
                                }
                                var total = price * qty;
                                total = total.toFixed(0);
                                $("#total-price").text(total).digits()+"đ";
                                
                            });
                        });
                    </script>
                    <div class="control-qty">

                    </div>
                </div>
                <input type="hidden" value="<?php echo $finalPrice; ?>" id="final-price" />
            </div>
            <div class="product-item-price">
                <div class="price-box price-final_price">
                  <span class="price-container">
                            Total:
                        <span class="price" id="total-price"> <?php echo $blockQuote->formartPrice($finalPrice) ?> </span>
                   </span>
                </div>
            </div>
        </div>
        <?php endif; ?>
        <div class="addtitional" style="margin-top:10px">
            <ul>
                <?php if($rma_policy != ""){ ?>
                    <li><?php echo __("RMA Policy:") ?><span><?php echo $rma_policy ?></span></li>
                <?php } ?>
                <?php if($rma_policy != ""){ ?>
                    <li><?php echo __("Buyer Warranty:") ?><span><?php echo $buyer_warranty ?></span></li>
                <?php } ?>
                <li><?php echo __("Payment Method:") ?> <?php echo __("COD and transfer"); ?></li>
                <li><?php echo __("Shipping Method:") ?>
                    <?php if($free_shipment == 1){ ?>
                    <style>
                    .free_shipment{
                        color: #79a22e;
                        /*content: '\e62d';
                        font-family: 'Admin Icons';*/
                        font-size: 1.5rem;
                        font-style: normal;
                        font-weight: 400;
                        height: auto;
                        left: 1.9rem;
                        line-height: inherit;
                        margin-top: -1.3rem;
                        speak: none;
                        text-shadow: none;
                        top: 50%;
                        width: auto;
                        background: none;
                        border: 0;
                    }
                    </style>
                    <span class="free_shipment"><?php echo __("Free Shipment"); ?></span>
                    <?php }else{ ?>
                    <a href="javascript:void(0);" class="light-color" id="view-shipping"><span><?php echo __("View Shipping Fee") ?></span></a><span id="shipping_information"></span>
                    <?php } ?>
                </li>
            </ul>
        </div>
        <div class="actions">
            <?php if ($_product->isSaleable()): ?>
                <button type="submit" title="<?php /* @escapeNotVerified */ echo $buttonTitle; ?>" class="action primary tocart" id="product-addtocart-button">
                    <i class="ico26 ico-cart"></i>
                    <span><?php /* @escapeNotVerified */ echo __($buttonTitle); ?></span>
                </button>
                <?php echo $block->getChildHtml('', true) ?>
            <?php endif; ?>
            <?php if (!$_product->isSaleable()): ?>
                <div class="vitual-btn" style="height: 30px;"></div>
            <?php endif; ?>
            <?php
                $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                $helper_reseller = $objectManager->get("\Libero\Reseller\Helper\Data");
                //check is reseller
                $is_reseller = $helper_reseller->checkIsReseller();
                $url_add_to_store = $helper_reseller->getUrlAddToStore();
                $id_reseller = 0;
            ?>
            <?php if($is_reseller){ ?>
                <?php
                //$customer = $helper_reseller->getCustomer();
                //$id_customer = $customer->getId();
                //get Reseller Information
                $reseller = $helper_reseller->getResellerInformation();
                $id_reseller = $reseller['id_reseller'];
                ?>
                <button type="button"  title="<?php echo __("Add To Store") ?>" id="add-to-store" class="action primary add_to_store">
                    <span><?php echo __("Add To Store"); ?></span>
                </button>
            <?php } ?>
            <div class="product-addto-links" data-role="add-to-links">
                <?php if($_config->getAdvanced('show_wishlist_button')){?>
                    <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()) : ?>
                        <!-- <a title="<?php echo __('Add to Wish List');?>" href="#"
				class="action towishlist"
				data-post='<?php /* @escapeNotVerified */ echo $_wishlistSubmitParams; ?>'
				data-action="add-to-wishlist"><span><?php /* @escapeNotVerified */ echo __('Add to Wish List') ?></span></a> -->
                        <a title="<?php echo __('Add to Wish List');?>" href="#"
                           onclick="a();"
                           class="action primary"
                        ><span><?php /* @escapeNotVerified */ echo __('Add to Wish List') ?></span></a>
                    <?php endif; ?>
                <?php } ?>

            </div>
        </div>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "body": {
            "addToWishlist": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($block->getWishlistOptions())?>
        }
    }
</script>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
<script>
    require([
        'jquery',
        'mage/mage',
        'Magento_Catalog/product/view/validation',
        'Magento_Catalog/js/catalog-add-to-cart',
        'Magento_Ui/js/modal/modal'
    ], function ($) {
        'use strict';
        $('#product_addtocart_form').mage('validation', {
            radioCheckboxClosest: '.nested',
            submitHandler: function (form) {
                var widget = $(form).catalogAddToCart({
                    bindSubmit: false
                });

                widget.catalogAddToCart('submitForm', $(form));

                return false;
            }
        });
        <?php if($is_reseller){ ?>
            $("#add-to-store").click(function(){
                var qty = $("#qty").val();
                var id_resller = '<?php echo $id_reseller ?>';
                var url = '<?php echo $url_add_to_store; ?>';
                var id_product = '<?php echo $_product->getId() ?>';
                $.ajax({
                    url:url,
                    data:{"id_reseller":id_resller,"qty":qty,"id_product":id_product},
                    method:"POST",
                    success:function(data){
                        if(data.code == 200){
                            alert(data.message)
                        }else{
                            alert(data.message)
                        }
                    }
                });
            });
        <?php } ?>
        $("#view-shipping").click(function(){
            $("#popup_modal_view_shipping").modal(options).modal('openModal');
        });
        var options = {
            type: 'popup',
            responsive: true,
            innerScroll: true,
            title: $.mage.__('Select Shipping Methods'),
            buttons: [{
                text: $.mage.__('Accept'),
                class: '',
                click: function () {
                    
                }
            }]
        };
    });
</script>
<?php else : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php endif; ?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$urlLoading = $media_url;
?>
<script>
    require([
        'jquery'
    ], function ( $,modal ) {
        function addLoadingBody(){
            $(".loading-mask").show();
        }

        function removeLoadingBody(){
            $(".loading-mask").hide();
        }
        
        $(document).ready(function(){
            $("body").css("position","relative");
            $htmlLoading = '<div data-role="loader" class="loading-mask" style="position: fixed; display:none;">' +
                '<div class="loader"> <img src="<?php echo $urlLoading; ?>loader-1.gif" alt="Loading..." style="position: absolute;"> </div>' +
                '</div>'
            $("body").append($htmlLoading);

            setInterval(()=>{
                if(!$("#product-addtocart-button").hasClass("disabled")){
                    removeLoadingBody();
                } else {
                    addLoadingBody();
                }
            },1000);
        });
    });
</script>
<div id="popup_modal_view_shipping" style="display: none">
    <div class="modal-body">
    <div class="box_modal_ship" id="checkout-shipping-method-load">
        <div class="box-place block-vct-ngh for-d">
            <span class="vct">Vận chuyển từ: <strong>Bắc Giang</strong></span>
            <div class="place_pickup">Giao hàng đến: <strong>Hồ Chí Minh</strong></div>
        </div>
        <div class="box_supplier " id="box_supplier95004">
            <table class="table-shipping-fee">
                <tbody>
                <tr>
                    <th rowspan="2"><span class="hide-mobile">Dịch vụ -</span> Nhà vận chuyển</th>
                    <th style="width: 20%;" rowspan="2">Thời gian <span class="hide-mobile">giao hàng trung bình</span></th>
                    <th colspan="2">Phí vận chuyển</th>
                </tr>
                <tr class="sub-heading">
                    <th><span class="hide-mobile">Thanh toán</span><span class="hide-desktop">TT</span> khi nhận hàng</th>
                    <th><span class="hide-mobile">Thanh toán</span><span class="hide-desktop">TT</span> trực tuyến</th>
                </tr>
                <tr>
                    <td class="bold"><span class="title-gr">Chuyển phát tiết kiệm</span></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div class="rd-nvc">
                            <input type="radio" onchange="rdHandleChange(this);" id="ecom_shipping_viettel_cptk" name="shipping_method" value="ecom_shipping_viettel_cptk" onclick="Checkout.choiceOneSupplier(this, 95004)">
                            <label for="ecom_shipping_viettel_cptk"><img src="https://media3.scdn.vn/img1/2015/9_4/bc3f12.png" alt=""></label>
                        </div>
                    </td>
                    <td>7 - 8 ngày </td>
                    <td>25,000 đ</td>
                    <td>11,000 đ</td>
                </tr>
                <tr>
                    <td class="bold"><span class="title-gr">Chuyển phát nhanh</span></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="active">
                    <td>
                        <div class="rd-nvc">
                            <input type="radio" onchange="rdHandleChange(this);" checked="checked" id="ecom_shipping_ghn" name="shipping_method" value="ecom_shipping_ghn" onclick="Checkout.choiceOneSupplier(this, 95004)">
                            <label for="ecom_shipping_ghn"><img src="https://media3.scdn.vn/img2/2018/9_19/D9NSPD.png" alt=""></label>
                        </div>
                    </td>
                    <td>4 - 5 ngày </td>
                    <td>10,000 đ</td>
                    <td>10,000 đ</td>
                </tr>
                <tr>
                    <td>
                        <div class="rd-nvc">
                            <input type="radio" onchange="rdHandleChange(this);" id="ecom_shipping_viettel_cpn" name="shipping_method" value="ecom_shipping_viettel_cpn" onclick="Checkout.choiceOneSupplier(this, 95004)">
                            <label for="ecom_shipping_viettel_cpn"><img src="https://media3.scdn.vn/img1/2015/9_4/bc3f12.png" alt=""></label>
                        </div>
                    </td>
                    <td>5 - 6 ngày </td>
                    <td>32,000 đ</td>
                    <td>18,000 đ</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>
<style>
    .modal-body {
        padding: 15px;
        max-height: 350px;
        max-height: 60vh;
    }
    .box_modal_ship .box-place .vct strong {
        color: #f36525;
    }
    .box_modal_ship .box-place .place_pickup strong {
        color: #f36525;
    }
    .box_modal_ship .box-place .vct {
        float: left;
        line-height: 20px;
        white-space: nowrap;
    }
    .box_modal_ship .place_pickup {
        float: right;
        line-height: 20px;
        white-space: nowrap;
    }
    .box_modal_ship .box-place.for-d{
        display: block;
    }
    .box_modal_ship .box-place {
        margin-bottom: 5px;
        overflow: hidden;
        line-height: 20px;
    }
    .box_modal_ship .box_supplier{
        display: table;
        width: 100%;
        /* border-top: 1px #CCC dashed; */
    }
    .table-shipping-fee {
        width: 100%;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-radius: 3px;
    }
    .table-shipping-fee tr td:first-child{
        text-align: left;
    }
    .table-shipping-fee th{
        padding: 5px 5px;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        text-align: center;
        vertical-align: middle;
        background-color: #f5f5f5;
        line-height: 1.6;
        font-weight: bold;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    input[type="checkbox"], input[type="radio"] {
        box-sizing: border-box;
        padding: 0;
    }
    .rd-nvc img{
        width:80px;
        height:80px;
    }
    .table-shipping-fee td{
        padding: 10px 5px;
        text-align: center;
        vertical-align: middle !important;
        border-right: 1px solid #ddd;
        background: #fff;
        width: 25%;
    }
    .table-shipping-fee tr.active, .modal-cart .table-shipping-fee tr.active td, .modal-cart .table-shipping-fee tr:hover td{
        background-color: #f1f1f1;
        cursor: pointer;
    }
</style>
<div id="popup-modal" style="display:none">
    <div id="modal-content">
        <div class="message-success success message">
            <div id="text-mess-cart"></div>
        </div>
    </div>
</div>