<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Catalog\Block\Product\View $block */
?>
<!--
<ul>
	<li>
		<i class="ico30 ico-24hours-delivery"></i>
		<p><strong><?php echo __('Want to receive your item before 5pm'); ?></strong> <?php echo __('today 04/01'); ?>?<br/>
			<?php echo __('Place order in next 54 minutes and choose 2h delivery at checkout step'); ?> - <a href="#"><?php echo __('See Details'); ?></a>
		</p>
	</li>
	<li>
		<i class="ico30 ico-gift"></i>
		<p><strong><?php echo __('You want gift wrapping and sending cards'); ?>?</strong> <?php echo __('Choose wrapping at checkout step'); ?>,<br/>
			<?php echo  __('Tiki will get it done for you'); ?> - <a href="#"><?php echo __('See Details'); ?></a>
		</p>
	</li>
</ul>
-->