<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\AuthorizationLink $block */
$dataPostParam = '';
$userName = "";
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$modelCustomer = null;
if($customerSession->isLoggedIn()) {
    // customer login action
    $customerModel = $objectManager->get('Magento\Customer\Helper\Session\CurrentCustomer');
    $id_customer = $customerModel->getCustomer()->getId();
    //get Model Customer
    $modelCustomer = $objectManager->create("Magento\Customer\Model\Customer");
    $obj_custojmer = $modelCustomer->load($id_customer);
    $userName = $obj_custojmer->getName();
}
$helperData = $objectManager->get("\Libero\Customer\Helper\Data");
$isDesktop = $helperData->detectMobile();
?>
<div class="login-header-wrapper" data-label="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('or')); ?>">
    <?php
    if ($block->isLoggedIn()) {
        ?>
        <?php if($isDesktop){ ?>
<!--        <a class="signout-btn" style="cursor: pointer;" onclick="fnConfirmLogout();">-->
<!--                --><?php //echo $block->escapeHtml($block->getLabel()); ?>
<!--        </a>-->
        <span  class="username-btn customer-page">
            <i class="fas fa-user"></i>
            <span><?php echo $userName ?></span>
            <button type="button" class="action switch btn-change" tabindex="-1" data-action="customer-menu-toggle">
                <span>Change</span>
            </button>
        </span>
        <div class="customer-menu" data-target="dropdown" aria-hidden="false">
            <ul class="header links">
                <li><a href="<?php echo $block->getUrl(); ?>customer/account/"> <?php echo __ ("My Account") ?> </a></li>
                <li class="link wishlist" data-bind="scope: 'wishlist'">
                    <a href="<?php echo $block->getUrl(); ?>wishlist/"><?php echo __ ("My Wish List") ?></a>
                </li>
                <li class="authorization-link" data-label="or">
                    <a href="<?php echo $block->getUrl(); ?>customer/account/logout/">
                        <?php echo __ ("Sign Out") ?>
                    </a>
                </li>
            </ul>
        </div>
<!--        <a href="--><?php //echo $block->getUrl(); ?><!--customer/account/logout/" class="customer-page" class="username-btn">-->
<!--            <i class="fas fa-user"></i>-->
<!--            <span>--><?php //echo $userName ?><!--</span>-->
<!--        </a>-->
        <?php }else{ ?>
            <a onclick="fnConfirmLogout();" class="signout-btn">
                <i class="fas fa-sign-out-alt"></i>
                <span class="signout-row">
                    <span class="signoutButton"><?php echo $block->escapeHtml($block->getLabel()); ?></span>
                    <span class="userName"><?php echo $userName ?></span>
                </span>
            </a>
        <?php } ?>
        <?php
    } else {
        ?>
        <a <?php /* @noEscape */ echo $block->getLinkAttributes(); ?><?php /* @noEscape */ echo $dataPostParam; ?> class="signin-btn">
            <i class="fas fa-user"></i>
            <span><?php echo $block->escapeHtml($block->getLabel()); ?></span>
        </a>
        <?php
    }
    ?>
</div>

<script>
function fnConfirmLogout() {
    var msg = "<?php echo ('Do you want to log out?'); ?>";
    if (confirm(msg)) {
        window.location.href = <?php /* @noEscape */ echo $block->getLinkAttributes(); ?>;
    }
}

</script>
<script>
    require([
        'jquery'
    ], function ( $ ) {
        $(document).ready(function(){
            $('.login-header-wrapper').click( function(event){
                event.stopPropagation();
                $('.customer-menu').toggle();

            });
            $(document).click( function(){
                $('.customer-menu').hide();

            });
            // $(".customer-menu").hide();
            // $(".btn-change").click(function(){
            //     $(this).children(".customer-menu").stop(true,true).slideToggle("fast");
            //         $(this).toggleClass("dropdown-active");
            // });
        });
    });
</script>