<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\AuthorizationLink $block */
$dataPostParam = '';
$userName = "";
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$authorizationLink = $objectManager->get("Override\Customer\Block\Account\AuthorizationLink");
$sellerManager = $objectManager->get("Libero\Customer\Block\Seller\Manager");
$aclAccountSeler = $objectManager->get("\Libero\Customer\Model\Account");
$customer = $objectManager->get("\Magento\Customer\Block\Account\Dashboard\Info");

$sellerData = null;
$sellerStoreDetail = null;
$status = 0;
$isAclOfSeller = false;
if ($authorizationLink->isLoggedIn()){
	$sellerData = $sellerManager->getSellerDetail();
	$sellerId = $sellerData->getData("id_seller_company");
	$sellerStoreDetail = $sellerManager->getSellerHaveCreatedStore($sellerId);
	$status = $sellerData->getData("status");
	$id_customer = $customer->getCustomer()->getId();
	$dataAccount = $aclAccountSeler->load($id_customer,"id_customer");
	if($dataAccount->getId())
	{
		$isAclOfSeller = true;
	}
}

$modelCustomer = null;
if($customerSession->isLoggedIn()) {
    // customer login action
    $customerModel = $objectManager->get('Magento\Customer\Helper\Session\CurrentCustomer');
    $id_customer = $customerModel->getCustomer()->getId();
    //get Model Customer
    $modelCustomer = $objectManager->create("Magento\Customer\Model\Customer");
    $obj_custojmer = $modelCustomer->load($id_customer);
    $userName = $obj_custojmer->getName();
}
$helperData = $objectManager->get("\Libero\Customer\Helper\Data");
$isDesktop = $helperData->detectMobile();
?>
<div class="login-header-wrapper" data-label="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('or')); ?>">
    <?php
    if ($block->isLoggedIn()) {
        ?>
        <?php if($isDesktop){ ?>
<!--        <a class="signout-btn" style="cursor: pointer;" onclick="fnConfirmLogout();">-->
<!--                --><?php //echo $block->escapeHtml($block->getLabel()); ?>
<!--        </a>-->
        <span  class="username-btn customer-page">
            <i class="ico30 ico-user"></i>
            <span><?php echo $userName ?></span>
            <button type="button" class="action switch btn-change" tabindex="-1" data-action="customer-menu-toggle">
                <span>Change</span>
            </button>
        </span>
        <div class="customer-menu" data-target="dropdown" aria-hidden="false">
            <ul class="header links">
                <?php if ($authorizationLink->isLoggedIn()){ ?>
                    <?php if($status == 1 && count($sellerStoreDetail->getData()) <= 0 || $isAclOfSeller == true){ ?>
                        <li class="customer-page"><a href="<?php echo $block->getUrl('customer/admin/index'); ?>"><?php echo __("Admin Shop"); ?></a></li>
                        <li class="customer-page"><a href="<?php echo $block->getUrl('marketplace/store/store') . 'id_seller/' . $sellerId ; ?>"><?php echo __("My Shop"); ?></a></li>
                    <?php } else if ($status == 0 && $sellerId){ ?>
                        <li class="customer-page"><a href="#" class="username-btn"><?php echo __("Waiting for Approval")?></a></li>
                    <?php } ?>			
                    <li class="customer-page"><a href="<?php echo $block->getUrl(); ?>/customer/account/" class="username-btn"><?php echo __("My Page")?></a></li>
                    <!-- <li><button type="button" onclick="fnShowPopup('customer-register-pop');">Đăng ký/Đăng nhập</button></li> -->
                <?php } ?>




                <li><a href="<?php echo $block->getUrl(); ?>customer/account/"> <?php echo __ ("My Account") ?> </a></li>
                <li class="link wishlist" data-bind="scope: 'wishlist'">
                    <a href="<?php echo $block->getUrl(); ?>wishlist/"><?php echo __ ("My Wish List") ?></a>
                </li>
                <li class="authorization-link" data-label="or">
                    <a href="<?php echo $block->getUrl(); ?>customer/account/logout/">
                        <?php echo __ ("Sign Out") ?>
                    </a>
                </li>
            </ul>
        </div>
<!--        <a href="--><?php //echo $block->getUrl(); ?><!--customer/account/logout/" class="customer-page" class="username-btn">-->
<!--            <i class="fas fa-user"></i>-->
<!--            <span>--><?php //echo $userName ?><!--</span>-->
<!--        </a>-->
        <?php }else{ ?>
            <a onclick="fnConfirmLogout();" class="signout-btn">
                <i class="fas fa-sign-out-alt"></i>
                <span class="signout-row">
                    <span class="signoutButton"><?php echo $block->escapeHtml($block->getLabel()); ?></span>
                    <span class="userName"><?php echo $userName ?></span>
                </span>
            </a>
        <?php } ?>
        <?php
    } else {
        ?>
        <a id="action-login-social" <?php /* @noEscape */ echo $block->getLinkAttributes(); ?><?php /* @noEscape */ echo $dataPostParam; ?> class="signin-btn">
            <i class="ico30 ico-user"></i>
            <span><?php echo $block->escapeHtml($block->getLabel()); ?></span>
        </a>
        <?php
    }
    ?>
</div>

<script>
function fnConfirmLogout() {
    var msg = "<?php echo ('Do you want to log out?'); ?>";
    if (confirm(msg)) {
        window.location.href = <?php /* @noEscape */ echo $block->getLinkAttributes(); ?>;
    }
}

</script>
<script>
    require([
        'jquery'
    ], function ( $ ) {
        $(document).ready(function(){
            $('.login-header-wrapper').click( function(event){
                event.stopPropagation();
                $('.customer-menu').toggle();

            });
            $(document).click( function(){
                $('.customer-menu').hide();

            });
            // $(".customer-menu").hide();
            // $(".btn-change").click(function(){
            //     $(this).children(".customer-menu").stop(true,true).slideToggle("fast");
            //         $(this).toggleClass("dropdown-active");
            // });
        });
    });
</script>