<?php
$customerData = $block->getCustomerData();
//Check if billing and shipping same
$billingAddressData = $block->getBillingAddress();
$shippingAddressData = $block->getShippingAddress();
$arrayAddress = $block->getArrayAddress($customerData->getId());
$countAddress = count($arrayAddress);
//Cart;
$quote = $block->getCheckoutSession()->getQuote();
$items = $quote->getAllItems();
$weight = 0;
foreach($items as $item) {
    $weight += ($item->getWeight() * $item->getQty()) ;
}
$baseTotal =  $quote->getGrandTotal();
?>
<style>
    .tabs-cus .tab-cus.on{
        background-image: initial;
        background-color: #f36525
    }
    #checkoutSteps .checkout-shipping-address #checkout-step-shipping .action.action-show-popup{
        background-color: #f36525;
        color:#fffff;
        border-radius:0;
    }
    #checkoutSteps .checkout-shipping-address #checkout-step-shipping .action.action-show-popup:hover{
        background: #354157;
    }
    .checkout-shipping-address{
        font-family: "DINOT Regular", "Helvetica Neue", Verdana, Arial, sans-serif;
    }
    .tabs-cus .tab-cus.on{
        font-size:17px;
        font-weight:normal;
        text-transform: uppercase;
    }
</style>
<div class="step-title" data-bind="i18n: 'Shipping Address'" data-role="title"><?php echo __('Shipping Address') ?></div>
<?php  if($countAddress == 0){ ?>
    <?php 
        $classMessage="error"; 
        $message_manager = "Please add new address to checkout";
    ?>
    <style>
    .message:before, .order-errors .admin__fieldset-wrapper .title:before{
        display:none;
    }
    </style>
    <div id="messages-custom">
        <div class="messages">
            <style>
                .message-error:before
                {
                    display:none;
                }
                .message:before, .order-errors .admin__fieldset-wrapper .title:before
                {
                    display:none;
                }
            </style>
            <div class="message message-<?php echo $classMessage; ?> <?php echo $classMessage; ?>">
                <div data-ui-id="messages-message-<?php echo $classMessage; ?>"><?php echo $message_manager; ?></div>
            </div>
        </div>
    </div>
    <?php } ?>
<div id="checkout-step-shipping" class="step-content" data-role="content">
    <ul class="tabs-cus" tab-content-id="address-tabs">
        <?php for($i=0; $i<$countAddress;$i++){ 
                if($i == 0) { ?>
                    <li class="tab-cus on"><?php echo __('Address'); ?> <?php echo $i+1; ?></li>
                <?php } else {  ?>
                    <li class="tab-cus"><?php echo __('Address'); ?> <?php echo $i+1; ?></li>
                <?php }?>
        <?php } ?>
    </ul>
    <div class="tabs-cus-cnt" id="address-tabs">
        <?php
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $modelShipping = $objectManager->create("Libero\Onestepcheckout\Model\Shipping");
        $dataShipping = $modelShipping->getCollection();
        $retDataShipping = "";
        $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
        $media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
        $urlLoading = $media_url;
        foreach ($dataShipping as $_dataShip){
            if($_dataShip->getData("status_shipping_method") == 1) {
                $retDataShipping .= $_dataShip->getData("name_shipping_method") . "|";
            }
        }
        ?>
        <?php for($i=0;$i < $countAddress;$i++){ ?>
            <?php
                $item = $arrayAddress[$i];
                $idAddress = $item["entity_id"];
                if($item["is_active"] == "1"){

                    $firstName = $item["firstname"];
                    $lastName = $item["lastname"];
                    $street = $item["street"];
                    $city = $item["city"];
                    $postCode = $item["postcode"];
                    $phone = $item["telephone"];
                    $region = $item["region"];
                }else{
                    continue;
                }
            ?>
        <?php if($i==0) { ?>
            <div class="field addresses tab-cus-cnt on">
        <?php } else { ?>
            <div class="field addresses tab-cus-cnt">
        <?php }?>
            <div class="control">
                <div class="shipping-address-items">
                    <!-- ko foreach: { data: elems, as: 'element' } -->
                    <!-- ko template: element.getTemplate() -->
                    <div class="shipping-address-item <?php echo $i==0 ? 'selected-item' : '' ?>" data-bind="css: isSelected() ? 'selected-item' : 'not-selected-item'">
                        <p class="cus-name">
                            <?php echo $firstName; ?>
                            <?php echo $lastName; ?>
                        </p>

                        <p>
                            <?php echo __("Address"); ?>: <?php echo $street; ?>,
                            <?php echo $region; ?>,
                            <?php echo $city; ?>,
                            <?php echo __("Viet Nam"); ?>
                        </p>

                        <p>
                            <?php echo __("Postcode"); ?>: <?php echo $postCode; ?>
                        </p>

                        <p>
                           <?php echo __("Phone"); ?>: <?php echo $phone; ?>
                        </p>
                        <input type="hidden" value="<?php echo $postCode ?>" id="postcode_<?php echo $idAddress; ?>"/>
                        <?php
                            $valueAddress= $firstName."|".$lastName."|".$street."|".$city."|VN|".$region."|".$postCode."|".$phone."|".$phone;
                        ?>
                        <input type="hidden" id="value_address_<?php echo $idAddress ?>" value="<?php echo $valueAddress;  ?>"/>
                        <button type="button" data-bind="click: selectAddress" data-value="<?php echo $postCode; ?>" id="address_<?php echo $idAddress; ?>" class="action action-select-shipping-item">
                            <span data-bind="i18n: 'Ship Here'"><?php echo __("Ship Here"); ?></span>
                        </button>
                        <script>
                            require([
                                'jquery',
                                'Magento_Ui/js/modal/modal',
                                'prototype'
                            ], function ( $,modal ) {
                                var stringShippingData = "<?php echo $retDataShipping; ?>";
                                function addLoading(id_element){
                                    $htmlLoading = '<div data-role="loader" class="loading-mask" style="position: absolute;">' +
                                        '<div class="loader"> <img src="<?php echo $urlLoading; ?>loader-1.gif" alt="Loading..." style="position: absolute;"> </div>' +
                                        '</div>'
                                    $("#"+id_element).append($htmlLoading);
                                }
                                function removeLoading(id_element){
                                    $("#"+id_element).find(".loading-mask").remove();
                                }
                                function saveAddressToQuote(){
                                    var valueAdress = $("#value_address_<?php echo $idAddress ?>").val();
                                    $.ajax({
                                        url: '<?php echo $block->getPostUrlSaveAddressToQuote(); ?>',
                                        method: "POST",
                                        data: {"valueAdress":valueAdress},
                                        success: function (data) {
                                            removeLoading("next");
                                        }
                                    });
                                }
                                function findShipping(name,arrayData){
                                    for(var i=0;i<arrayData.length;i++){
                                        if(name == arrayData[i]){
                                            return true;
                                        }
                                    }
                                    return false;
                                }
                                function getShippingMethod(){
                                    
                                }
                                $(document).ready(function(){
                                    addLoading("next");
                                    setTimeout(function(){
                                        $(".action-select-shipping-item")[0].click();
                                    },2500)
                                    $("#address_<?php echo $idAddress; ?>").click(function(e){
                                        $(".shipping-address-item").removeClass("selected-item");
                                        $(this).parent().addClass("selected-item");
                                        getShippingMethod();
                                        saveAddressToQuote();
                                    });
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    <?php } ?>
    </div>
    <button type="button" id="addNewAddress" data-bind="click: showFormPopUp, visible: !isNewAddressAdded()" class="action action-show-popup">
        <span data-bind="i18n: 'New Address'"><?php echo __('New Address'); ?></span></button>
</div>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$urlLoading = $media_url;
$url_website = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
?>
<style>
    .address-error{
        color:red;
    }
</style>
<script>
    require([
        'jquery',
        'Magento_Ui/js/modal/modal',
        'mage/translate'
    ], function ( $,modal ) {
        
        function addLoadingBody(){
            $("body").css("position","relative");
            $("body").find(".loading-mask").remove();
            $htmlLoading = '<div data-role="loader" class="loading-mask" style="position: absolute;">' +
                '<div class="loader"> <img src="<?php echo $urlLoading; ?>loader-1.gif" alt="Loading..." style="position: fixed;"> </div>' +
                '</div>'
            $("body").append($htmlLoading);
        }
        function removeLoadingBody(){
            $("body").find(".loading-mask").remove();
        }
        function saveShippingAddress(){
            addLoadingBody();
            $arrayData = {
                "firstname": $("#firstname").val(),
                "lastname": $("#lastname").val(),
                "company": $("#company").val(),
                "street": $("#street").val(),
                "city": $("#city").val(),
                "region": $("#region").val(),
                "phuong": $("#phuong").val(),
                "telephone": $("#telephone").val(),
                "zipcode": $("#zipcode").val(),
                "country": $( "#country option:selected" ).val(),
                "customer_id": "<?php echo $customerData->getId() ?>"
            };
            $.ajax({
                url: '<?php echo $block->getPostUrlSaveAddress(); ?>',
                method: "POST",
                data: $arrayData,
                success: function (data) {
                    removeLoadingBody();
                    top.location.reload();
                }
            });
        }
        $(document).ready(function(){
            $(".action-show-popup").click(function(){
                $("#opc-new-shipping-address").modal(options).modal('openModal');
            });
            //Automatic select Ha noi a
            /*setTimeout(() => {
                $valueCity = $( "#city_app option:selected" ).val();
                $textCity = $( "#city_app option:selected" ).text();
                $.ajax({
                    url: 'https://services.shipchung.vn/api/merchant/rest/lading/province/'+$valueCity,
                    method: "GET",
                    dataType:'json',
                    success: function (data) {
                        $jsonReturn = data.data;
                        $optionsDistrict =  "";
                        for (var i=0;i<$jsonReturn.length;++i) {
                            $optionsDistrict+="<option value="+$jsonReturn[i].ProvinceId+">"+$jsonReturn[i].ProvinceName+"</option>"
                        }
                        $("#province").html($optionsDistrict);

                    }
                });
                $("#city").val($textCity); 
                setTimeout(() => {
                    $valueCity = $( "#province option:selected" ).val();
                    $textProvince = $( "#province option:selected" ).text();
                    $.ajax({
                        url: 'https://services.shipchung.vn/api/merchant/rest/lading/ward/'+$valueCity,
                        method: "GET",
                        dataType:'json',
                        success: function (data) {
                            $jsonReturn = data.data;
                            $optionsWard =  "";
                            for (var i=0;i<$jsonReturn.length;++i) {
                                $optionsWard+="<option value="+$jsonReturn[i].WardId+">"+$jsonReturn[i].WardName+"</option>"
                            }
                            $("#ward").html($optionsWard);
                        }
                    });
                    $("#region").val($textProvince);
                    $valueProvince = $( "#province option:selected" ).val();
                    var valueZip = $( "#city_app option:selected" ).val()+"-"+$valueProvince;
                    $("#zipcode").val(valueZip);
                    setTimeout(() => {
                        $textWard = $( "#ward option:selected" ).text();
                        $("#phuong").val($textWard)    
                    }, 3000);
                }, 2000);
            }, 1000);*/
            function validateAddressForm(){
                var fieldRequired = $("div._required");
                var catchError = false;
                var err_label = '<label class = "address-error"><?php echo __("This is a required field."); ?></label>';
                fieldRequired.each(function(){
                    var elem = $(this);
                    var inputText = elem.find("input");
                    var valueOfInput = inputText.val();
                    var idOfInput = inputText.attr("id");
                    var parentOfInput = elem.find('.control');
                    if (valueOfInput == ""){
                        if(parentOfInput.find(".address-error").length == 0){
                            parentOfInput.append(err_label);
                            elem.addClass("_error");
                        }
                        catchError = true;
                    }
                });
                if (catchError == true){
                    return false;
                }
                return true;
            }
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: $.mage.__('Shipping Address'),
                buttons: [{
                    text: $.mage.__('Save Address'),
                    class: 'action primary action-save-address',
                    click: function () {
                        if(validateAddressForm() == true){
                            this.closeModal();
                            addLoadingBody();
                            $arrayData = {
                                "firstname": $("#firstname").val(),
                                "lastname": $("#lastname").val(),
                                "company": $("#company").val(),
                                "street": $("#street").val(),
                                "city": $("#city").val(),
                                "region": $("#region").val(),
                                "phuong": $("#phuong").val(),
                                "telephone": $("#telephone").val(),
                                "zipcode": $("#zipcode").val(),
                                "country": $( "#country option:selected" ).val(),
                                "customer_id": "<?php echo $customerData->getId() ?>"
                            };
                            $.ajax({
                                url: '<?php echo $block->getPostUrlSaveAddress(); ?>',
                                method: "POST",
                                data: $arrayData,
                                success: function (data) {
                                    removeLoadingBody();
                                    top.location.reload();
                                }
                            });
                        }else{
                            //catch error cho nay ne baby
                        }
                    }
                },
                {
                    text: $.mage.__('Cancel'),
                    class: 'action secondary action-hide-popup',
                    click: function () {
                        this.closeModal();
                    }
                }
                ]
            };
            $.ajax({
                url: '<?php echo $url_website ?>onestepcheckout/api/getprovince',
                method: "GET",
                dataType:'json',
                success: function (data) {
                    $jsonReturn = data;
                    $optionsCity =  "<option value=''><?php echo __('Please choose your city') ?></option>";
                    for (var i=0;i<$jsonReturn.length;++i) {
                        $optionsCity+="<option value="+$jsonReturn[i].province_id+">"+$jsonReturn[i].province_name+"</option>"
                    }
                    $("#city_app").html($optionsCity);
                }
            });
            $("#city_app").change(function(e){
                $valueCity = $( "#city_app option:selected" ).val();
                $textCity = $( "#city_app option:selected" ).text();
                $.ajax({
                    url: '<?php echo $url_website ?>onestepcheckout/api/getdistrict/province/'+$valueCity,
                    method: "GET",
                    dataType:'json',
                    success: function (data) {
                        $jsonReturn = data;
                        $optionsDistrict =  "<option value=''><?php echo __('Please choose your province') ?></option>";
                        for (var i=0;i<$jsonReturn.length;++i) {
                            $optionsDistrict+="<option value="+$jsonReturn[i].district_id+">"+$jsonReturn[i].district_name+"</option>"
                        }
                        $("#province").html($optionsDistrict);

                    }
                });
                $("#city").val($textCity);
            });
            $("#province").change(function(e){
                $valueCity = $( "#province option:selected" ).val();
                $textProvince = $( "#province option:selected" ).text();
                $.ajax({
                    url: '<?php echo $url_website ?>onestepcheckout/api/getward/district/'+$valueCity,
                    method: "GET",
                    dataType:'json',
                    success: function (data) {
                        $jsonReturn = data.data.Wards;
                        $optionsWard =  "<option value=''><?php echo __('Please choose your ward') ?></option>";
                        for (var i=0;i<$jsonReturn.length;++i) {
                            $optionsWard+="<option value="+$jsonReturn[i].WardCode+">"+$jsonReturn[i].WardName+"</option>"
                        }
                        $("#ward").html($optionsWard);
                    }
                });
                $("#region").val($textProvince);

            });
            $("#ward").change(function(e){
                $textWard = $( "#ward option:selected" ).text();
                var $idWard = $( "#ward option:selected" ).val();
                $("#phuong").val($textWard);
                var $valueProvince = $( "#province option:selected" ).val();
                var valueZip = $valueProvince+"-"+$idWard;
                $("#zipcode").val(valueZip);
            });
        });
    });
</script>
<div id="opc-new-shipping-address" data-bind="visible: isFormPopUpVisible()" style="display: none">
    <form class="form form-shipping-address" id="co-shipping-form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}" data-hasrequired="* Required Fields" data-mage-init='{"validation": {}}'>
        <div id="shipping-new-address-form" class="fieldset address">
            <div class="field _required " data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses" name="shippingAddress.firstname">
                <label class="label" data-bind="attr: { for: element.uid }" for="AQUW5UH">
                    <span data-bind="text: element.label"><?php echo __("First Name"); ?></span>
                </label>
                <div class="control" data-bind="css: {'_with-tooltip': element.tooltip}">
                    <input class="input-text" type="text" value="<?php echo $customerData->getFirstName();  ?>" name="firstname" placeholder="" aria-describedby="notice-AQUW5UH" id="firstname">
                </div>
            </div>
            <div class="field _required" data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses" name="shippingAddress.lastname">
                <label class="label" data-bind="attr: { for: element.uid }" for="UHMW97U">
                    <span data-bind="text: element.label"><?php echo __("Last Name"); ?></span>
                </label>
                <div class="control" data-bind="css: {'_with-tooltip': element.tooltip}">
                    <input class="input-text" type="text" value="<?php echo $customerData->getLastName();  ?>" name="lastname" placeholder="" aria-describedby="notice-UHMW97U" id="lastname">
                </div>
            </div>
            <div class="field" data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses" name="shippingAddress.company">

                <label class="label" data-bind="attr: { for: element.uid }" for="KS0WGR7">
                    <span data-bind="text: element.label"><?php echo __("Company"); ?></span>
                </label>

                <div class="control" data-bind="css: {'_with-tooltip': element.tooltip}">
                    <input class="input-text" type="text" value="" name="company" placeholder="" aria-describedby="notice-KS0WGR7" id="company">
                </div>
            </div>
            <fieldset class="field street admin__control-fields required" data-bind="css: additionalClasses">
                <legend class="label">
                    <span data-bind="text: element.label"><?php echo __("Address"); ?></span>
                </legend>
                <div class="control">
                    <div class="field _required " data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses" name="shippingAddress.street.0">

                        <label class="label" data-bind="attr: { for: element.uid }" for="WXLK1C0">
                        </label>

                        <div class="control" data-bind="css: {'_with-tooltip': element.tooltip}">
                            <input class="input-text" type="text" name="street" id="street" placeholder="" aria-describedby="notice-WXLK1C0" data-validate="{required:true}">
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="field _required " data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses" name="shippingAddress.city">

                <label class="label" data-bind="attr: { for: element.uid }" for="FAPIBD3">
                    <span data-bind="text: element.label"><?php echo __("City");?></span>
                </label>

                <div class="control" data-bind="css: {'_with-tooltip': element.tooltip}">
                    <select class="select" name="city_app" id="city_app"></select>
                    <input class="input-text" type="hidden" name="city" id="city" placeholder="" aria-describedby="notice-FAPIBD3" data-validate="{required:true}">
                </div>
            </div>
            <div class="field" data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses" name="shippingAddress.region_id" style="display: none;">
                <label class="label" data-bind="attr: { for: element.uid }" for="WRO3HN7">
                    <span data-bind="text: element.label"><?php echo __("State / Province"); ?></span>
                </label>

                <div class="control" data-bind="css: {'_with-tooltip': element.tooltip}">
                    <select class="select" name="region_id" id="WRO3HN7" aria-describedby="notice-WRO3HN7" placeholder=""><option value="">Vui lòng chọn một vùng, bang hoặc tỉnh.</option></select>
                </div>
            </div>
            <div class="field" data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses" name="shippingAddress.region">
                <label class="label" data-bind="attr: { for: element.uid }" for="YBPSSAJ">
                    <span data-bind="text: element.label"><?php echo __("State / Province"); ?></span>
                </label>
                <div class="control" data-bind="css: {'_with-tooltip': element.tooltip}">
                    <select class="select" name="province" id="province"></select>
                    <input class="input-text" type="hidden"  name="region" id="region" placeholder="" aria-describedby="notice-YBPSSAJ">
                </div>
            </div>
            <div class="field" data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses" name="shippingAddress.region">
                <label class="label" data-bind="attr: { for: element.uid }" for="YBPSSAJ">
                    <span data-bind="text: element.label"><?php echo __("Ward"); ?></span>
                </label>
                <div class="control" data-bind="css: {'_with-tooltip': element.tooltip}">
                    <select class="select" name="ward" id="ward"></select>
                    <input class="input-text" type="hidden"  name="phuong" id="phuong" placeholder="" aria-describedby="notice-YBPSSAJ">
                </div>
            </div>
            <div class="field _required " data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses" name="shippingAddress.postcode">
                <label class="label" data-bind="attr: { for: element.uid }" for="RGT6A8W">
                    <span data-bind="text: element.label"><?php echo __("ZIP / Postal Code"); ?></span>
                </label>
                <div class="control" data-bind="css: {'_with-tooltip': element.tooltip}">
                    <input class="input-text" type="text" name="postcode" placeholder="" disabled aria-describedby="notice-RGT6A8W" id="zipcode" data-validate="{required:true}">
                </div>
            </div>
            <div class="field _required " data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses" name="shippingAddress.country_id">
                <label class="label" data-bind="attr: { for: element.uid }" for="PQ1L564">
                    <span data-bind="text: element.label"><?php echo __("Country"); ?></span>
                </label>
                <div class="control" data-bind="css: {'_with-tooltip': element.tooltip}">
                    <select class="select"  name="country_id" id="country" placeholder="">
						<option data-title="Việt Nam" value="VN"><?php echo __("Vietnamese") ?></option>
					</select>
                </div>
            </div>
            <div class="field _required " data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses" name="shippingAddress.telephone">
                <label class="label" data-bind="attr: { for: element.uid }" for="F3QEVSN">
                    <span data-bind="text: element.label"><?php echo __("Phone number"); ?></span>
                </label>

                <div class="control _with-tooltip" data-bind="css: {'_with-tooltip': element.tooltip}">
                    <input class="input-text" type="text" maxlength="11" name="telephone" placeholder="" onblur="checkPhoneNumber('telephone');" aria-describedby="notice-F3QEVSN" id="telephone" data-validate="{required:true}">
                    <label class="address-error" id="phone-error"></label>
                    <div class="field-tooltip toggle">
                        <span class="field-tooltip-action action-help" tabindex="0" data-toggle="dropdown" data-bind="mageInit: {'dropdown':{'activeClass': '_active'}}" aria-haspopup="true" aria-expanded="false"></span>
                        <div class="field-tooltip-content" data-target="dropdown" aria-hidden="true">
                            <!-- ko text: tooltip.description -->For delivery questions.<!-- /ko -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- /ko -->
</div>

<script>
function checkPhoneNumber(id) {
    var flag = false;
    var phone = jQuery("#" + id).val().trim(); // ID của trường Số điện thoại
    phone = phone.replace('(+84)', '0');
    phone = phone.replace('+84', '0');
    phone = phone.replace('0084', '0');
    phone = phone.replace(/ /g, '');
    if (phone != '') {
        var firstNumber = phone.substring(0, 2);
        if ((firstNumber == '09' || firstNumber == '08') && phone.length == 10) {
            if (phone.match(/^\d{10}/)) {
                flag = true;
            }
        } else if (firstNumber == '01' && phone.length == 11) {
            if (phone.match(/^\d{11}/)) {
                flag = true;
            }
        }
    }
    if(!flag){
        var msg = "<?php echo $block->escapeHtml(__('Please enter a valid phone number')) ?>";
        jQuery("#phone-error").html(msg);
    } else {
        jQuery("#phone-error").html("");
    }
}
</script>