<?php
$listPayment = $block->getPaymentMethodList();
$countPayment = count($listPayment);
?>
<div id="checkout-step-payment" class="step-content" data-role="content" role="tabpanel" aria-hidden="false">
    <form id="custom-co-payment-form-something" class="form payments" novalidate="novalidate">
        <fieldset class="fieldset">
            <legend class="legend">
                <span data-bind="i18n: 'Payment Information'">Payment Information</span>
            </legend><br>
            <div id="checkout-payment-method-load" class="opc-payment" data-bind="visible: isPaymentMethodsAvailable">
                <div class="items payment-methods">
                    <!-- ko repeat: {foreach: paymentGroupsList, item: '$group'} --><div class="payment-group" data-repeat-index="0">
                        <!-- ko if: getRegion($group().displayArea)().length --><div class="step-title" data-role="title" data-bind="i18n: getGroupTitle($group)"><?php echo __('Payment Method') ?>:</div><!-- /ko -->
                        <!-- ko foreach: {data: getRegion($group().displayArea), as: 'method'} --><!-- ko template: getTemplate() -->
                        <?php foreach($listPayment as $_payment){ ?>
                        <div class="payment-method">
                            <div class="payment-method-title field choice">
                                <input type="radio" name="payment[method]" class="radio payment-method-radio"  id="<?php echo $_payment["value"] ?>" value="<?php echo $_payment["value"] ?>">
                                <label class="label" for="<?php echo $_payment["value"] ?>"><span data-bind="text: getTitle()"><?php echo __($_payment["label"]); ?></span></label>
                            </div>
                            <div class="payment-method-content">
                                <!-- ko foreach: getRegion('messages') -->
                                <!-- ko template: getTemplate() -->
                                <div data-role="checkout-messages" class="messages" data-bind="visible: isVisible(), click: removeAll">
                                    <!-- ko foreach: messageContainer.getErrorMessages() --><!--/ko-->
                                    <!-- ko foreach: messageContainer.getSuccessMessages() --><!--/ko-->
                                </div>
                                <!-- /ko -->
                                <!--/ko-->
                                <!-- ko if: getMailingAddress() || getPayableTo() --><!-- /ko -->
                                <div class="checkout-agreements-block">
                                    <!-- ko foreach: $parent.getRegion('before-place-order') -->
                                    <!-- ko template: getTemplate() -->
                                    <!-- ko foreach: { data: elems, as: 'element' } -->
                                    <!-- ko if: hasTemplate() -->
                                    <!-- ko template: getTemplate() -->
                                    <div data-role="checkout-agreements">
                                        <div class="checkout-agreements" data-bind="visible: isVisible" style="display: none;">
                                            <!-- ko foreach: agreements --><!-- /ko -->

                                        </div>
                                    </div>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                    <!-- /ko -->
                                    <!-- /ko -->
                                    <!--/ko-->
                                </div>
                                <div class="actions-toolbar">
                                    <div class="primary">
                                        <button class="action primary checkout placeorder-checkout" type="button" title="Place Order">
                                            <span><?php echo __('Place Order'); ?></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?php } ?>
                    </div><!-- /ko -->
                </div>
            </div>
            <?php if($countPayment  == 0 ){ ?>
            <div class="no-quotes-block" data-bind="visible: isPaymentMethodsAvailable() == false">
                <span>No Payment method available.</span>
            </div>
            <?php } ?>
            <div class="payment-option _collapsible opc-payment-additional discount-code" data-bind="mageInit: {'collapsible':{'openedState': '_active'}}" data-collapsible="true" role="tablist">
                <div class="payment-option-title field choice" data-role="title" role="tab" aria-selected="false" aria-expanded="false" tabindex="0">
                    <button id="back" type="button" class="button action back primary">
                        <span><!-- ko i18n: 'Next'--><span><?php echo __("Back"); ?></span><!-- /ko --></span>
                    </button>
                </div>
                <div class="payment-option-content" data-role="content" role="tabpanel" aria-hidden="true" style="display: none;">
                    <!-- ko foreach: getRegion('messages') -->
                    <!-- ko template: getTemplate() -->
                    <div data-role="checkout-messages" class="messages" data-bind="visible: isVisible(), click: removeAll">
                        <!-- ko foreach: messageContainer.getErrorMessages() --><!--/ko-->
                        <!-- ko foreach: messageContainer.getSuccessMessages() --><!--/ko-->
                    </div>
                    <!-- /ko -->
                    <!--/ko-->
                    <form class="form form-discount" id="discount-form">
                        <div class="payment-option-inner">
                            <div class="field">
                                <label class="label" for="discount-code">
                                    <span data-bind="i18n: 'Enter discount code'">Enter discount code</span>
                                </label>
                                <div class="control">
                                    <input class="input-text" type="text" id="discount-code" name="discount_code" data-validate="{'required-entry':true}" data-bind="value: couponCode, attr:{placeholder: $t('Enter discount code')} " placeholder="Enter discount code">
                                </div>
                            </div>
                        </div>
                        <div class="actions-toolbar">
                            <div class="primary">
                                <button class="action action-apply" type="submit" data-bind="'value': $t('Apply Discount'), click: apply" value="Apply Discount">
                                    <span><span>Apply Discount</span></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$urlLoading = $media_url;
?>
<script>
    require([
        'jquery'
    ], function ( $,modal ) {
        function addLoadingBody(){
            $("body").css("position","relative");
            $("body").find(".loading-mask").remove();
            $htmlLoading = '<div data-role="loader" class="loading-mask" style="position: fixed;">' +
                '<div class="loader"> <img src="<?php echo $urlLoading; ?>loader-1.gif" alt="Loading..." style="position: absolute;"> </div>' +
                '</div>'
            $("body").append($htmlLoading);
        }
        function removeLoadingBody(){
            $("body").find(".loading-mask").remove();
        }
        function hideSectionShipping(){
            $("#shipping").hide();
            $("#opc-shipping_method").hide();
        }
        function showSectionShipping(){
            $("#shipping").show();
            $("#opc-shipping_method").show();
            $("#shipping_process").removeClass("_complete");
            $("#shipping_process").addClass("_active");
            $("#payment_process").removeClass("_active");
        }
        $(document).ready(function(){
            $(".payment-method-radio").click(function(){
                $(".payment-method").removeClass(" _active");
                $(this).parent().parent().addClass(" _active");
            });
            $(".placeorder-checkout").click(function(){
                addLoadingBody();
                var $code_payemnt = jQuery(".payment-method-radio:checked").val();
                var company_name = jQuery("#name_company").val();
                var company_number = jQuery("#company_code").val();
                var company_address = jQuery("#address_company").val();
                var checked_vat = "no_request";
                if(jQuery("#export_vat").prop("checked") == true){
                    checked_vat = "request";
                }
                $.ajax({
                    url: '<?php echo $block->getPostUrlPlaceOrder(); ?>',
                    method: "POST",
                    data:{
                        "code_payment":$code_payemnt,
                        "company_name":company_name,
                        "company_code":company_number,
                        "address_company":company_address,
                        "checked_vat":checked_vat
                    },
                    success: function (data) {
                        removeLoadingBody();
                        var jsonData = $.parseJSON(data);
                        if(jsonData.error == 1){
                            alert(jsonData.msg);
                        }
                        if(jsonData.error == 2){
                            //sucess thì chuyển sang trang success thôi nè
                            top.location.href = jsonData.url;
                        }
                        if(jsonData.error == 0){
                            //sucess thì chuyển sang trang success thôi nè
                            top.location.href = "<?php echo $block->getSuccessUrl(); ?>";
                        }
                    }
                });
            });
            $("#back").click(function(){
                window.location.href= "<?php echo $block->getUrl("onestepcheckout"); ?>";
            });
        });
    });
</script>