<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);

$scopeConfig = $objectManager->get("\Magento\Framework\App\Config\ScopeConfigInterface");
$storePhone = $scopeConfig->getValue("general/store_information/phone");
$storeEmail = $scopeConfig->getValue("general/store_information/street_line2");
?>

<div class="row full-wrapper fullwidth main-slider-row" style="height:100%;">
    <div class="container">
        <div class="image-slider-home fullwidth-cnt">
            <?php /*echo $block->getLayout()->createBlock("Magento\Cms\Block\Block")->setBlockId("main-seller-slider")->toHtml(); */?>
            <img src="<?php echo $media_url . 'wysiwyg/banner/faq-banner.png'; ?>" class="w100p" alt=""/>
            <div class="container">
                <div class="cs-contact-content">
                    <h3><?php echo __("Xin chào! Wisi có thể giúp gì cho bạn?"); ?></h3>
                    <form class="contact-form row">
                        <div class="col-lg-6 col-md-6 tr">
                            <input type="text" class="cs-search-faq" />
                        </div>
                        <div class="col-lg-offset-1 col-lg-5 col-md-5 cs-contact-info">
                            <p><?php echo __("Hotline"); ?>: <a href="tel:<?php echo $storeEmail; ?>" class="white"><strong><?php echo $storePhone; ?></strong></a> <span>(8:30 - 17:30) 1.000đ/<?php echo __("phút"); ?><br/>
                                Email: <a href="mailto:<?php echo $storeEmail; ?>" class="white"><?php echo $storeEmail; ?></a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap-cs-content row">
    <div class="col-lg-3 col-md-3">
        <script type="text/javascript">
            require([
                'jquery',
                'Magento_Ui/js/modal/modal',
            ],function ( $,modal ) {
            $("document").ready(function(){
                $("#cs-faq-list li").click(function(){
                    var val_title = $(this).text();
                    $("#title-faq").text(val_title);
                });
            });
            });

        </script>
        <div class="sidebar sidebar-main sidebar-main-cs">
            <div class="block cs-sidebar">
                <div class="block-content block-detail">
                    <p class="block-detail-title"><?php echo __("SHOPPING GUIDE"); ?></p>
                    <div class="block-detail-cnt">
                        <ul>
                            <li><a href="<?php echo $block->getUrl() . 'ordering-guide'; ?>"><?php echo __("Ordering Guide"); ?></a></li>
                            <li><a href="<?php echo $block->getUrl() . 'payment-guide'; ?>"><?php echo __("Payment Guide"); ?></a></li>
                            <li><a href="<?php echo $block->getUrl() . 'shipping-method'; ?>"><?php echo __("Shipping method"); ?></a></li>
                            <li><a href="<?php echo $block->getUrl() . 'return-policy'; ?>"><?php echo __("Return policy"); ?></a></li>
                            <li><a href="<?php echo $block->getUrl() . 'complaint-handling-policy'; ?>"><?php echo __("Complaint handling policy"); ?></a></li>
                            <li><a href="<?php echo $block->getUrl() . 'privacy-policy'; ?>"><?php echo __("Privacy policy"); ?></a></li>
                            <li><a href="<?php echo $block->getUrl() . 'operation-regulation'; ?>"><?php echo __("Operation regulation"); ?></a></li>
                        </ul>
                    </div>
                </div>

                <div class="block-content block-detail">
                    <p class="block-detail-title" style="text-transform: uppercase;"><?php echo __("FAQ"); ?></p>
                    <div class="block-detail-cnt">
                        <ul tab-content-id="faq" class="tabs-cus" id="cs-faq-list">
                            <li class="tab-cus faq_list"><a href="#"><?php echo __("Account management"); ?></a></li>
                            <li class="tab-cus faq_list"><a href="#"><?php echo __("Place order"); ?></a></li>
                            <li class="tab-cus faq_list"><a href="#"><?php echo __("Payment"); ?></a></li>
                            <li class="tab-cus faq_list"><a href="#"><?php echo __("Delivery"); ?></a></li>
                            <li class="tab-cus faq_list"><a href="#"><?php echo __("Return Items"); ?></a></li>
                            <li class="tab-cus faq_list"><a href="#"><?php echo __("Warranty"); ?></a></li>
                            <li class="tab-cus faq_list"><a href="#"><?php echo __("Cancel My Order"); ?></a></li>
                            <li class="tab-cus faq_list"><a href="#"><?php echo __("Promotion"); ?></a></li>
                            <li class="tab-cus faq_list"><a href="#"><?php echo __("Cooperate with Wisi.vn"); ?></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-md-9">
        <div class="cs-page">
            <div class="cs-page-top">
                <div class="cs-page-top-title">
                    <p class="cs-top-title"><?php echo __("Top questions"); ?></p>
                    <ul>
                        <li><a href="#"><?php echo __("Hướng dẫn mua hàng tại Wisi"); ?></a></li>
                        <li><a href="#"><?php echo __("Cách thức theo dõi đơn hàng"); ?></a></li>
                        <li><a href="#"><?php echo __("Cách thức hủy đơn hàng"); ?></a></li>
                        <li><a href="#"><?php echo __("Phí giao hàng được tính như thế nào?"); ?></a></li>
                        <li><a href="#"><?php echo __("Chính sách đổi trả và hoàn tiền lại như thế nào?"); ?></a></li>
                        <li><a href="#"><?php echo __("Hướng dẫn đổi/trả hàng"); ?></a></li>
                    </ul>
                </div>
                <div class="cs-page-top-menu">
                    <ul>
                        <li><a href="<?php echo $block->getUrl() . 'ordering-guide'; ?>"><img src="<?php echo $media_url. '/wysiwyg/order_guide.png'; ?>" alt="" /><?php echo __("Ordering Guide"); ?></a></li>
                        <li><a href="<?php echo $block->getUrl() . 'payment-guide'; ?>"><img src="<?php echo $media_url. '/wysiwyg/payment_guide.png'; ?>" alt="" /><?php echo __("Payment Guide"); ?></a></li>
                        <li><a href="<?php echo $block->getUrl() . 'shipping-method'; ?>"><img src="<?php echo $media_url. '/wysiwyg/delivery.png'; ?>" alt="" /><?php echo __("Shipping method"); ?></a></li>
                        <li><a href="<?php echo $block->getUrl() . 'return-policy'; ?>"><img src="<?php echo $media_url. '/wysiwyg/refund.png'; ?>" alt="" /><?php echo __("Return policy"); ?></a></li>
                        <li><a href="<?php echo $block->getUrl() . 'privacy-policy'; ?>"><img src="<?php echo $media_url. '/wysiwyg/security.png'; ?>" alt="" /><?php echo __("Privacy policy"); ?></a></li>
                        <li><a href="<?php echo $block->getUrl() . 'complaint-handling-policy'; ?>"><img src="<?php echo $media_url. '/wysiwyg/complain_guide.png'; ?>" alt="" /><?php echo __("Complaint handling policy"); ?></a></li>
                        <li><a href="<?php echo $block->getUrl() . '#'; ?>"><img src="<?php echo $media_url. '/wysiwyg/icon-other.png'; ?>" alt="" /><?php echo __("Other topics"); ?></a></li>
                    </ul>
                </div>
                <div class="cs-faq-contact">
                    <p><?php echo __("Hotline"); ?>: <a href="tel:<?php echo $storeEmail; ?>"><strong><?php echo $storePhone; ?></strong></a> <span>(8:30 - 17:30) 1.000đ/<?php echo __("phút"); ?><br/>
                        Email: <a href="mailto:<?php echo $storeEmail; ?>"><?php echo $storeEmail; ?></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>