<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\Catalog\Block\Product\AbstractProduct */
?>

<?php
$_config = $this->helper('Sm\Market\Helper\Data');
$limit_product = $_config->getProductDetail('related_limit');
$detailStyle = $_config->getProductDetail('detail_style');

switch ($type = $block->getType()) {

    case 'related-rule':
        if ($exist = $block->hasItems()) {
            $type = 'related';
            $class = $type;

            $image = 'related_products_list';
            $title = __('Related Products');
            $items = $block->getAllItems();
            $limit = $block->getPositionLimit();
            $shuffle = (int) $block->isShuffled();

            $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;

        }
    break;

    case 'related':
        /** @var \Magento\Catalog\Block\Product\ProductList\Related $block */
        if ($exist = $block->getItems()->getSize()) {
            $type = 'related';
            $class = $type;

            $image = 'related_products_list';
            $title = __('Related Products');
            $items = $block->getItems();
            $limit = 0;
            $shuffle = 0;

            $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;

        }
    break;

    case 'other':
    break;
}
?>

<?php if ($exist):?>
<div class="content-product-detail">
	<?php if($detailStyle == 'detail-1'){?>
		<div class="detail-title">
			<span><?php echo __('Related Products')?></span>
		</div>
		
        <div class="related-block products-grid">
            <div class="products list items product-items">
                <?php $i=0; foreach ($items as $_item): $i++;?>
				<div class="item product product-item">
					<div class="product-item-info">
						<div class="item-inner">
							<div class="box-image">
								<a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" class="product photo product-item-photo">
									<?php echo $block->getImage($_item, $image)->toHtml(); ?>
								</a>
								
								<!--LABEL PRODUCT-->

                                <?php
                                $specialprice = $_item->getSpecialPrice();
                                $specialPriceFromDate = $_item->getSpecialFromDate();
                                $specialPriceToDate = $_item->getSpecialToDate();

                                $today = time();

                                if (!$_item->getIsSalable()){ ?>
                                    <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Sold out') ?></span></div>
                                <?php } else if ($specialprice && $_config->getAdvanced('show_salelabel')) {
                                    if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)) {
										$specialPercentage = 100;
										if ($_item->getPrice() > 0) {
											$specialPercentage = 100 - round($_item->getSpecialPrice() / $_item->getPrice()*100);
										}
                                        if($specialPercentage > 0) { ?>
                                            <div class="label-product label-sale">
													<span class="sale-product-icon">
														<?php echo __('Sale') . " $specialPercentage%"; ?>
													</span>
                                            </div>
                                        <?php }
                                    }
                                }
                                ?>
								
								<?php
								$now = date("Y-m-d");
                                $newsFrom = substr($_item->getNewsFromDate(), 0, 10);
                                $newsTo = substr($_item->getNewsToDate(), 0, 10);
								
								if (($newsTo != '' || $newsFrom != '') && $_config->getAdvanced('show_newlabel')) {
                                    if (($newsTo != '' && $newsFrom != '' && $now >= $newsFrom && $now <= $newsTo) || ($newsTo == '' && $now >= $newsFrom) || ($newsFrom == '' && $now <= $newsTo)) {?>
                                            <div class="label-product label-new">
												<span class="new-product-icon"><?php echo __('New'); ?></span>
											</div>
                                    <?php }
                                } ?>
								
								
								<!--END LABEL PRODUCT-->
								
								
							</div>
							
							<div class="product details product-item-details box-info">
								<h2 class="product name product-item-name product-name">
									<a class="product-item-link" title="<?php echo $block->escapeHtml($_item->getName()) ?>" href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>">
										<?php echo $block->escapeHtml($_item->getName()) ?>
									</a>
								</h2>

								<?php echo $block->getReviewsSummaryHtml($_item, $templateType,true) ?>
								
								<?php /* @escapeNotVerified */ echo $block->getProductPrice($_item); ?>
								
								<div class="product actions product-item-actions bottom-action">
									<?php if($_config->getAdvanced('show_addtocart_button')){?>
										<?php if ($_item->isSaleable()): ?>
											<?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
												<button class="action tocart btn-action btn-cart" data-mage-init='{"redirectUrl": {"url": "<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($_item) ?>"}}' type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
													<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
												</button>
											 <?php else: ?>
												<?php $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
												$postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
												?>
												<button class="action tocart btn-action btn-cart" data-post='<?php /* @escapeNotVerified */ echo $postData; ?>' type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
													<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
												</button>
											<?php endif; ?>
										<?php else: ?>
											<?php if ($_item->getIsSalable()): ?>
												<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
											<?php else: ?>
												<!-- <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div> -->
											<?php endif; ?>
										<?php endif; ?>
									<?php } ?>
									
									<?php if($_config->getAdvanced('show_wishlist_button')){?>
										<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
											<a onclick="addToWishlist('<?php echo $block->getUrl('mywishlist/wishlist/addwishlist'); ?>','<?php echo $_item->getId(); ?>')" class="action btn-action link-wishlist" title="<?php  echo __('Add to Wish List') ?>">
												<span><?php /* @escapeNotVerified */ echo __('Add to Wish List') ?></span>
											</a>
										<?php endif; ?>
									<?php } ?>
									
									<?php if($_config->getAdvanced('show_compare_button')){?>
										<?php if ($block->getAddToCompareUrl()): ?>
											<?php  $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare'); ?>
											<a href="#" class="action tocompare btn-action link-compare" data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_item);?>' data-role="add-to-links" title="<?php /* @escapeNotVerified */ echo __('Add to Compare'); ?>">
												<span><?php /* @escapeNotVerified */ echo __('Add to Compare') ?></span>
											</a>
										<?php endif; ?>
									<?php } ?>
								</div>
							</div>
						</div>
					</div>
                </div>
				<?php if($i == $limit_product) break;?>
                <?php endforeach ?>
            </div>
			
			<script>
				jQuery(document).ready(function($) {
					var owl_related = $(".related-block .product-items");
					owl_related.owlCarousel({
						
						responsive:{
							0:{
								items:1
							},
							480:{
								items:2
							},
							768:{
								items:3
							},
							992:{
								items:4
							},
							1200:{
								items:4
							}
						},

						autoplay:false,
						loop:false,
						nav : true, // Show next and prev buttons
						dots: false,
						autoplaySpeed : 500,
						navSpeed : 500,
						dotsSpeed : 500,
						autoplayHoverPause: true,
						margin:30,

					});	  
				});	
			</script>
        </div>
		
	<?php } else {?>
		<div class="block products-sidebar block-related">
			<div class="block-title">
				<strong><?php echo __('Related Products')?></strong>
			</div>
			
			<div class="block-content">
                <?php $i=0; foreach ($items as $_item): $i++;?>
				<div class="item bs-item">
					<div class="product-item-info">
						<div class="item-inner">
							<div class="box-image">
								<a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" class="product photo product-item-photo">
									<?php echo $block->getImage($_item, $image)->toHtml(); ?>
								</a>
							</div>
								
							<div class="box-info">
								<h2 class="product name product-item-name product-name">
									<a class="product-item-link" title="<?php echo $block->escapeHtml($_item->getName()) ?>" href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>">
										<?php echo $block->escapeHtml($_item->getName()) ?>
									</a>
								</h2>

								<?php echo $block->getReviewsSummaryHtml($_item, $templateType,true) ?>
									
								<?php /* @escapeNotVerified */ echo $block->getProductPrice($_item); ?>
							</div>
						</div>
                	</div>
                </div>
				<?php if($i == $limit_product) break;?>
                <?php endforeach ?>
            </div>
		</div>
	<?php } ?>
</div>
<?php endif;?>
