<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\Catalog\Block\Product\AbstractProduct */
?>

<?php
$_config = $this->helper('Sm\Market\Helper\Data');
$limit_product = $_config->getProductDetail('upsell_limit');
$detailStyle = $_config->getProductDetail('detail_style');

switch ($type = $block->getType()) {

    case 'upsell-rule':
        if ($exist = $block->hasItems()) {
            $type = 'upsell';
            $class = $type;

            $image = 'upsell_products_list';
            $title = __('We found other products you might like!');
            $items = $block->getAllItems();
            $limit = $block->getPositionLimit();
            $shuffle = (int) $block->isShuffled();

            $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
        }
    break;

    case 'upsell':
        /** @var \Magento\Catalog\Block\Product\ProductList\Upsell $block */
        if ($exist = count($block->getItemCollection()->getItems())) {
            $type = 'upsell';
            $class = $type;

            $image = 'upsell_products_list';
            $title = __('We found other products you might like!');
            $items = $block->getItemCollection()->getItems();
            $limit = $block->getItemLimit('upsell');
            $shuffle = 0;

            $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
        }
    break;

    case 'other':
    break;
}
?>

<?php if ($exist):?>
    <div class="content-product-detail">
		<div class="detail-title">
			<span><?php echo __('Upsell Products')?></span>
		</div>

        <div class="upsell-block products-grid">
            <div class="products list items product-items">
                <?php $i=0; foreach ($items as $_item): $i++;?>
				<div class="item product product-item">
					<div class="product-item-info">
						<div class="item-inner">
							<div class="box-image">
								<a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" class="product photo product-item-photo">
									<?php echo $block->getImage($_item, $image)->toHtml(); ?>
								</a>
								
								<!--LABEL PRODUCT-->

                                <?php
									$specialprice = $_item->getSpecialPrice();
									$specialPriceFromDate = $_item->getSpecialFromDate();
									$specialPriceToDate = $_item->getSpecialToDate();
									
									$today = time();

									if (!$_item->getIsSalable()){ ?>
										<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Sold out') ?></span></div>
									<?php } else if ($specialprice && $_config->getAdvanced('show_salelabel')) {
										if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)) { 
											$specialPercentage = 100;
											if ($_item->getPrice() > 0) {
												$specialPercentage = 100 - round($_item->getSpecialPrice() / $_item->getPrice()*100);
											}
											if($specialPercentage > 0) { ?>
												<div class="label-product label-sale">
													<span class="sale-product-icon">
														<?php echo __('Sale') . " $specialPercentage%"; ?>
													</span>
												</div>
											<?php } 
										}
									} 
								?>
								
								<?php
								$now = date("Y-m-d");
                                $newsFrom = substr($_item->getNewsFromDate(), 0, 10);
                                $newsTo = substr($_item->getNewsToDate(), 0, 10);
								
								if (($newsTo != '' || $newsFrom != '') && $_config->getAdvanced('show_newlabel')) {
                                    if (($newsTo != '' && $newsFrom != '' && $now >= $newsFrom && $now <= $newsTo) || ($newsTo == '' && $now >= $newsFrom) || ($newsFrom == '' && $now <= $newsTo)) {?>
                                            <div class="label-product label-new">
												<span class="new-product-icon"><?php echo __('New'); ?></span>
											</div>
                                    <?php }
                                } ?>
								
								
								<!--END LABEL PRODUCT-->
								
								
							</div>
							
							<div class="product details product-item-details box-info">
								<h2 class="product name product-item-name product-name">
									<a class="product-item-link" title="<?php echo $block->escapeHtml($_item->getName()) ?>" href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>">
										<?php echo $block->escapeHtml($_item->getName()) ?>
									</a>
								</h2>

<!--								--><?php //echo $block->getReviewsSummaryHtml($_item, $templateType,true) ?>
								
								<?php /* @escapeNotVerified */ echo $block->getProductPrice($_item); ?>

							</div>
						</div>
					</div>
                </div>
				<?php if($i == $limit_product) break;?>
                <?php endforeach ?>
            </div>

        </div>
    </div>
<?php endif;?>
<?php
$_product = $block->getProduct();
$category_ids = $_product->getCategoryIds();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$modelProduct = $objectManager->get("Magento\Catalog\Model\Product");
$modelCategory = $objectManager->get("Magento\Catalog\Model\Category");
if(count($category_ids) > 0){
	$specific_category = $category_ids[count($category_ids) - 1];
	$items = $modelCategory->load($specific_category)->getProductCollection()->addAttributeToSelect('*');
	$image = 'upsell_products_list';
	$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
	?>
	<div class="content-product-detail">
		<div class="detail-title">
			<span><?php echo __('Related Products')?></span>
		</div>
        <div class="upsell-block products-grid">
            <div class="products list items product-items">
                <?php $i=0; foreach ($items as $_item): $i++;?>
				<?php 
				$imageHelperFactory = $objectManager->get("\Magento\Catalog\Helper\ImageFactory");
				$base_img = $imageHelperFactory->create()->init($_item, 'product_page_image_large')->getUrl();
				?>
				<div class="item product product-item">
					<div class="product-item-info">
						<div class="item-inner">
							<div class="box-image">
								<a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" class="product photo product-item-photo">
									<?php //echo $block->getImage($_item, $image)->toHtml(); ?>
									<span class="product-image-container">
										<span class="product-image-wrapper">
											<img class="product-image-photo" 
											src="<?php echo $base_img; ?>" width="300" height="300" 
											alt="Vòng Lắc Giảm Eo Massage Hoop">
										</span>
									</span>
								</a>
								
								<!--LABEL PRODUCT-->

                                <?php
									$specialprice = $_item->getSpecialPrice();
									$specialPriceFromDate = $_item->getSpecialFromDate();
									$specialPriceToDate = $_item->getSpecialToDate();
									
									$today = time();

									if (!$_item->getIsSalable()){ ?>
										<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Sold out') ?></span></div>
									<?php } else if ($specialprice && $_config->getAdvanced('show_salelabel')) {
										if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)) { 
											$specialPercentage = 100;
											if ($_item->getPrice() > 0) {
												$specialPercentage = 100 - round($_item->getSpecialPrice() / $_item->getPrice()*100);
											}
											if($specialPercentage > 0) { ?>
												<div class="label-product label-sale">
													<span class="sale-product-icon">
														<?php echo __('Sale') . " $specialPercentage%"; ?>
													</span>
												</div>
											<?php } 
										}
									} 
								?>
								
								<?php
								$now = date("Y-m-d");
                                $newsFrom = substr($_item->getNewsFromDate(), 0, 10);
                                $newsTo = substr($_item->getNewsToDate(), 0, 10);
								
								if (($newsTo != '' || $newsFrom != '') && $_config->getAdvanced('show_newlabel')) {
                                    if (($newsTo != '' && $newsFrom != '' && $now >= $newsFrom && $now <= $newsTo) || ($newsTo == '' && $now >= $newsFrom) || ($newsFrom == '' && $now <= $newsTo)) {?>
                                            <div class="label-product label-new">
												<span class="new-product-icon"><?php echo __('New'); ?></span>
											</div>
                                    <?php }
                                } ?>
								
								<!--END LABEL PRODUCT-->
							</div>
							<div class="product details product-item-details box-info">
								<h2 class="product name product-item-name product-name">
									<a class="product-item-link" title="<?php echo $block->escapeHtml($_item->getName()) ?>" href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>">
										<?php echo $block->escapeHtml($_item->getName()) ?>
									</a>
								</h2>
								<?php echo $block->getReviewsSummaryHtml($_item, $templateType,true) ?>
								<?php /* @escapeNotVerified */ echo $block->getProductPrice($_item); ?>

							</div>
						</div>
					</div>
                </div>
				<?php if($i == $limit_product) break;?>
                <?php endforeach ?>
            </div>

        </div>
    </div>
	<?php
}
//$category = $modelProduct->
?>
