<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/** @var \Magento\Wishlist\Block\Customer\Wishlist\Items $block */
use Magento\Framework\App\Action\Action;    
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$helper = $objectManager->get('\Sm\BasicProducts\Helper\Data');
$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');
$columns = $block->getColumns();
$product_ids = array();
$product_qtys = array();
foreach ($block->getItems() as $item) {
    $product_ids[] = $item->getProductId();
    $product_qtys[] = $item->getQty();
}

$basicProducts = $objectManager->create("\Sm\BasicProducts\Block\BasicProducts");
$products = $basicProducts->getBestProviderProduct($product_ids);

?>
<div class="products-grid wishlist" id="wishlist-items">
    <ol class="product-items">
        <?php 
        $loopCount = 0;
        foreach ($products as $_product): ?>
        <li data-row="product-item" class="product-item" id="product_<?php echo $product_ids[$loopCount]; ?>">
            <div class="product-item-info">
                <a class="product-item-photo" href="<?php echo $_product->link ?>" title="<?php echo $_product->title; ?>" <?php echo $helper->parseTarget($basicProducts->_getConfig('target')); ?>>
                    <span class="product-image-container">
                        <span class="product-image-wrapper">
                            <img class="product-image-photo" src="<?php echo $_product->_image; ?>" title="<?php echo $_product->title; ?>" alt="<?php echo $_product->title; ?>" >
                        </span> 
                    </span>
                </a>
                <strong class="product-item-name">
                    <a href="<?php echo $_product->link; ?>" title="<?php echo $_product->title; ?>" class="product-item-link"
                        <?php echo $helper->parseTarget($basicProducts->_getConfig('target')); ?>
                        >
                        <?php echo $helper->truncate($_product->title, $basicProducts->_getConfig('product_title_maxlength')); ?>
                    </a>
                </strong>
                        
                <span class="price-container ">
                    <span id="product-price-3545"class="price-wrapper ">
                        <span class="price"><?php echo $basicProducts->getProductPrice($_product); ?></span>
                    </span>
                </span> 
                <div class="product-item-inner">
                    <div class="box-tocart">
                        <fieldset class="fieldset">
                            <div class="field qty">
                                <label class="label" for=""><span><?php echo __("Qty"); ?></span></label> 
                                <div class="control">
                                    <input type="number" id="qty_<?php echo $product_ids[$loopCount]; ?>" data-role="qty" class="input-text qty" name="" value="<?php echo $util->formatPrice($product_qtys[$loopCount]); ?>">
                                </div>
                            </div>
                            <div class="product-item-actions">
                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()){
                                        $postParams = $basicProducts->getAddToCartPostParams($_product); 
                                        $session = $objectManager->get('\Magento\Framework\View\Element\FormKey');
                                    ?>
                                        <form></form>
                                        <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                            <input type="hidden" id="add-qty" name="qty" value="<?php echo $util->formatPrice($product_qtys[$loopCount]); ?>">
                                            <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php echo $block->getBlockHtml('formkey')?>
                                            <button type="submit" data-role="tocart" title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>" class="action tocart primary"> <span><?php echo $block->escapeHtml(__('Add to Cart')); ?></span> </button>
                                        </form>
                                    <?php } else { ?>
                                        <?php if ($_product->getIsSalable()) { ?>
                                            <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                        <?php } else { ?>
                                        <!-- <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div> -->
                                        <?php } ?>
                                    <?php } ?>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="product-item-actions">
                        <a class="action edit pointer" href="<?php echo $_product->link ?>"> <span><?php echo __("View"); ?></span> </a>
                        <a class="action edit pointer" onclick="updateItemFromCart('<?php echo $product_ids[$loopCount]; ?>','qty_<?php echo $product_ids[$loopCount]; ?>')"> <span><?php echo __("Update"); ?></span> </a>
                        <a onclick="removeItemFromCart('<?php echo $product_ids[$loopCount]; ?>');" title="Remove Item" class="btn-remove action pointer"> <span><?php echo __("Remove"); ?></span> </a>
                    </div>
                </div>
            </div>
            <div generated="true" for="qty_<?php echo $product_ids[$loopCount]; ?>" class="mage-error" style="display:none;"><?php echo __("The number is invalid"); ?></div>
        </li>
        <?php 
        $loopCount++;
        endforeach; ?>
    </ol>
    <div class="message info empty" id="empty-msg" style="display:none;">
        <span><?php echo __('This Wish List has no Items');?></span>
    </div>
</div>

<script>
function updateItemFromCart(product_id,input_id){
    jQuery("#cartpro_process").addClass("cartpro-show");
    var input = jQuery("#" + input_id);
    var qty = input.val();
    if(qty == "" || qty == 0) {
        jQuery("div[for='"+ input_id+"']" ).show();
        return;
    }
    var url = "<?php echo $block->getUrl('mywishlist/wishlist/updateitemwishlist') ?>";
    var param = {"product_id" : product_id, "qty" : qty};
    jQuery.ajax({
        url: url,
        data: param,
        method: "post",
        dataType: "json",
        success: function (res) {
			var json_result = JSON.parse(res);
			var msg = json_result.message;
			if (!json_result.error) {
                jQuery("div[for='"+ input_id+"']" ).hide();
                jQuery("#cartpro_process").removeClass("cartpro-show");
                jQuery("#add-qty").val(qty);
                jQuery("#wishlist_qty").text(json_result.qty);
			}
		},
		error: function (res) {
			var msg = 'Unable to delete this item';
			alert(msg);
			jQuery("#cartpro_process").removeClass("cartpro-show");
        }
    })
}

function removeItemFromCart(product_id){
    jQuery("#cartpro_process").addClass("cartpro-show");
    var url = "<?php echo $block->getUrl('mywishlist/wishlist/deleteitemwishlist') ?>";
    var param = {"product_id" : product_id};
    jQuery.ajax({
        url: url,
        data: param,
        method: "post",
        dataType: "json",
        success: function (res) {
			var json_result = JSON.parse(res);
			var msg = json_result.message;
			if (!json_result.error) {
                jQuery("#product_" + product_id).remove();
                jQuery("#wishlist_qty").text(json_result.qty);
                if(jQuery("#wishlist-items .product-items li").length < 1){
                    jQuery("#empty-msg").show();
                    //jQuery(".actions-toolbar .primary").hide();
                }
                jQuery("#cartpro_process").removeClass("cartpro-show");
			}
		},
		error: function (res) {
			var msg = 'Unable to delete this item';
			alert(msg);
			jQuery("#cartpro_process").removeClass("cartpro-show");
        }
    })
}
</script>