<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div id="mes" data-bind="scope: 'messages'">
    <div data-bind="foreach: { data: cookieMessages, as: 'message' }" class="messages">
        <div data-bind="attr: {
            class: 'message-' + message.type + ' ' + message.type + ' message',
            'data-ui-id': 'message-' + message.type
        }">
            <div data-bind="html: message.text"></div>
        </div>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                        "messages": {
                            "component": "Magento_Theme/js/view/messages"
                        }
                    }
                }
            }
    }
</script>
<style style="text/css">
    .modal-inner-wrap.success_custom {
        background: #e5efe5;
    }
    .modal-inner-wrap .modal-content {
       background: inherit;
    }
    .modal-inner-wrap.error_custom {
        background: #fae5e5;
    }
    .modal-inner-wrap.warning_custom {
        background: #fdf0d5;
    }
</style>