
@media only screen and(max-width:991px){
    /**************Header*****************/
    .header-style-1{
        .header-top{
            .toplinks-header-link-custom > ul > li{
                z-index: 999999;
            }
        }
        .header-middle{
            .logo-header{
                position: relative;
                top: 10px;
            }

            .header-middle-right{
                .middle-right-content{ 
                    left: 0px ;

                    .searchbox-header{
                        position: absolute;
                        bottom: 10px;
                        margin-right: 0px;
                        padding-right: 0px;
                        width: 57%;
                        }

                    .fr{                 
                        margin-bottom: 10px;      
                        .minicart-header {
                            position: relative;
                            padding-left: 0px;
                            top: -2px;
                            margin-right: 20px;
                            vertical-align: top;
                            float: left;
                            .minicart-content{ 
                                .cart-wrapper{ 
                                    .minicart-wrapper{
                                        .showcart{
                                            .counter.qty {
                                                display:inline-block;
                                            }
                                        }
                                        .minicart_mobile{
                                            display: none;
                                        }   
                                    }
                                }
                            }  
                        }  

                        .wishlist-header{
                            margin-right: 20px;
                            float: left;
                        }
                        .login-header{
                            float: left;
                        }
                    }
                }
            }
        }

        .header-bottom{
            .main-megamenu{
                display: inline-block;
                position: absolute;
                .sm_megamenu_wrapper_horizontal_menu{
                   .sambar-inner{
                        .sm_megamenu_menu{
                            .seller-btn-parent{
                                float: none;
                            }
                        } 
                    }
                }
            }
            
            .sidebar-megamenu{
                display: inline-block;
            }
        }
    }
        /* My Product Reviews Detail */
        #product-review-container{
            .review-list{
                .block-content{
                    .review-items{
                        .review-item{
                            margin: 0px 15px;
                            .review-title{
                                margin-left: 0px;
                                margin-bottom: 10px;
                            }
                            .review-content{
                                margin: 0px;
                                padding-top: 0px;
                            }
                        }
                    }
                }
            }
        }
}
    
    @media only screen and(max-width:769px){
    
     /************* Homepage **************/
     .page-main{
                .sm-listing-tabs{
                    .ltabs-items{
                        .ltabs-items-inner{
                            .owl-stage-outer{
                                .owl-stage{
                                    .owl-item{
                                        margin-right: 20px !important;
                                    }
                                }
                            }
                        }
                    }
                }
    }

    /**************MarketPlace*****************/
    .store-top-info{
        .store-info{
            margin: 30px 0px 20px 0px;
            .store-info-cnt{
                margin-left: 20%;
            }
            .store-img{
                img{
                    top:50px;
                }
            }
        }

        .store-banner{
            height: 150px;
            width: 700px;
        }
    }

    .marketplace-top-info{
        .main-slider-row{
            .image-slider-home{
                margin-left: -40px !important;
            }
        }
    }

    .quickview-detail-container{
        .info-box-detail{
            .info-detail-container{
                .product-info-main{
                    .product-add-form{
                        .box-tocart{
                            .actions{
                                margin-top: 0px;
                            }
                        }
                    }
                }
            }
        }
    }


    /**************My page*****************/
    .page-main{
        .col2-layout{
            .sidebar-main{
                .account-nav{
                    .content{
                        .items{
                            .item{
                               float: left !important;
                               width: 50%;
                            }
                        }
                    }
                }
            }

            .sidebar-additional{
                .products-sidebar{
                    .block-content{
                        overflow: hidden;
                        
                        .item{
                            float: left;
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
    /**************OnestepCheckout*****************/
    .main{
        .checkout-container{
            .opc-wrapper{
               width: 100%;
               .checkout-payment-method{
                   .step-content{
                       margin-bottom: 20px;
                       .payment-group{
                           .payment-method{
                               .payment-method-title{
                                    padding: 10px 0;
                               }
                               .payment-method-content{
                                    padding: 0px 0px 10px;
                                   .checkout-agreements-block{
                                       margin-bottom: 0px;
                                   }
                               }
                           }
                       }
                   }
               }
               .checkout-shipping-method{
                   .cart-container{
                       .form-cart{
                           .item-info{
                               .item{
                                   img{
                                       max-width: 120px !important;
                                   }
                               }
                           }
                       }
                   }
               }
            }
            .opc-summary-wrapper{
                width: 100%;
                margin-top: 0px;
                .modal-inner-wrap{
                    margin-right: 30px;
                }
            }
        }
    }

    .modals-wrapper{
        .modal-popup{
            .modal-inner-wrap{
                width: 70%;
            }
        }
    }

    .processing-container{
        ul{
            li{
                height: 40px;
            }
        }
    }
	.cart-container .form-cart .cart.table-wrapper .cart.items.table .cart.item .item-info .col.item{ 
		.product-item-details {
            width:55%;
		}
		.product-item-photo{
			width: 38%;
		}
	}
    /**************Checkout/Cart*****************/
    .cart-container{
        .cart-summary{
            .checkout{
                .item{
                    width: 100%;
                    .item-info{
                        .Item{
                            img{
                                max-width: 120px;
                            }
                        }
                    }
                }
            }
        }
    }
    /*************List-seller-category **************/
    .store-product{
        .wrap-seller-category{
            .tooltip-cus-mobile{
                padding-left: 0px;
            }
        }
    }


  /**************Success Page*****************/
    .checkout-success-wrapper{
        .checkout-success-img{
            img{
                margin-top: 40px;
            }
        }
    }

  /**************Register Seller Page*****************/
  .block-seller-register{
      .block-content{
        .reg-section{
            .upload_folder{
                .field-wrapper{
                    .field{
                        .control{
                            display: block ;
                            margin-top: 10px;
                        }
                    }
                }
            }            
        }
      }
      .block-title{
          .support-seller{
              .support-seller-contact{
                  ul{
                      li{
                          p{
                              font-size: 11px !important;
                          }
                      }
                  }
              }
              .support-seller-desc{
                  p{
                      font-size: 11px !important;
                  }
              }
          }
      } 
  }
/********************** row of products **********************/
.items, .products-grid {
	.item:not(tbody):not(th) {
		.item-inner {
			.box-image {
					img{
						 object-fit: contain;
						width: 218px;
						height: 218px;
						
						
					}
				
			}
		}
	}
}


    /**************Footer*****************/
    .page-footer{
        .footer{
            .container{
                .footer-menu {
                margin-top:10px;
                }
            }

            .footer-location{
                img{
                    margin-top:0px !important;
                }
            }
        }
    }

    .col1-layout .category-product.products-grid .item:nth-child(n+1) {
        clear: none !important;
    }
}
@media (max-width: 991px) and (min-width: 767px) {
	.col1-layout .category-product.products-grid .item:nth-child(4n+1) {
			clear: both !important;
	}
}
