/************* Max-width : 900px **************/
@media only screen and (max-width : 900px) {
    
    /********************** Checkout  **********************/
    #checkout{
        .opc-estimated-wrapper{
            display: none;
        }
    }
    .block-seller-register .block-title{
        .support-seller {
            display: none;
        }
        strong{
            margin-top: 15px;
        }
    }
    .page-main{
        .processing-container{
            display: none;
        }
    }
    #checkout-payment-method-load{
        .payment-methods{
            .payment-group{
                padding: 0px 15px;
            }
        }
    }
    .custom-slide{
        width: 100%;
        visibility: inherit;
        .modal-inner-wrap{
            transform: translate(0);
            margin-right: 0px;
            margin-top: 40px;
        }
    }
    .main .checkout-container .opc-summary-wrapper .modal-inner-wrap {
        margin-right: 0px;
    }

    .page-main{
        .col1-layout{
            .main{
                .block-seller-register{
                    .block-content{
                        .reg-section{
                            .content-field{
                                padding: 15px 15px 10px;
                            .row{
                                margin-bottom: 10px;
                                .field{
                                    label{
                                        margin-top:10px; 
                                    }
                                }
                            }
                            }
                        }
                    }
                    .block-title{
                        img{
                            width: 100%;
                            max-height: 52px;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }

    .cart-container{
        .cart-summary{
            .checkout {
                .item{
                    width: 100%;
                }
            }
        }
        .form-cart{
            .cart{
                .card-product{
                    background-color: #fafafa;
                    height: auto;
                    margin-bottom: 20px;
                    overflow: hidden;
                    box-shadow: -9px 9px 8px 0px rgba(0,0,0,0.12);
                    display: block;
                }
                .card-seller-product{
                    background-color: #fafafa;
                    height: auto;
                    margin-bottom: 20px;
                    overflow: hidden;
                    box-shadow: -9px 9px 8px 0px rgba(0,0,0,0.12);
                    display: block;
                    .block-seller-head{
                        line-height: 25px;
                        padding: 10px 0px;                            
                        .logo{
                            img{
                                margin-left: 0px;
                                vertical-align: middle;
                                width: 50px;
                                height: 25px;
                            }
                        }
                        .name-seller{
                            text-align: left;
                            span{
                                font-size: 13px;
                            }
                        }
                    }
                    .block-info-product{
                        background-color: #fff;
                        padding-bottom: 15px;
                        padding-top: 15px;
                        height: auto;
                            .block-product-image{
                                a{
                                    .product-img-cover{
                                        img{
                                            border: none;
                                        }
                                    }
                                }
                            }
                            .block-sub-info{
                                line-height: 22px;
                                .block-product-price{
                                    margin-top: 10px;
                                    .text-value-product{
                                        display: inline-block;
                                        .cart-price{
                                            span{
                                                font-size: 15px;
                                                color:#f36525;
                                            }
                                        }
                                    }
                                }
                                .block-product-qty{
                                        .qty{
                                            width: 130px;
                                            border: 1px solid rgb(215, 215, 215);
                                            border-radius: 10px;
                                            
                                            span{
                                                
                                                padding: 0px 15px;
                                            }
                                            input[type="number"]{
                                                width: 30%;
                                                border-top:none;
                                                border-bottom:none;
                                                text-align: center;
                                                height: 25px;
                                                border-radius: 0px;
                                            }
                                        }
                                }
                            }
                            .actions-toolbar{
                                button{
                                    width: 100%;
                                    margin-left: 0px;
                                    margin-bottom: 10px;
                                }
                            }
                    }
                }
                .card-product-list{
                    box-shadow: none !important;
                    background-color: transparent !important;
                }
            }
        }
    }

    /**********Provider Ranking**********/
    .store-top-info{
        ul{
            li{
                .provider-list{
                    .provider-img-provider{
                        width: 20%;
                        img{
                            max-height: 50px;
                        }
                    }
                    .provider-info {
                        margin-top: 50px;
                    }
                }
            }
        }
    }
    /************* Product Detail Page **************/
        .main{
            .detail-1{
                .resp-tabs-container{
                    .resp-tab-content{
                        .description{
                            .value{
                                padding: 10px 15px;
                            }
                        }
                    }
                }
            }
        }
    /***********Start - Customer Service**************/
        .cs-page{
            .cs-page-top{
                display: none;
            }
        }
        .sidebar-main-cs{
            .cs-sidebar{
                img{
                    width: 100%;
                }
            }
        }
    /***********End - Customer Service**************/
    /********************** yt-totop  **********************/
    #yt-totop{
        top: 272px;
        right: 0px;
    }
     /********************** yt-totop  **********************/

}

    /************* End - Max-width : 900px **************/

/************* 800px - 900px **************/
@media only screen and (min-width : 800px) and (max-width : 900px)  {
      /************* Start - Header **************/
    .header-style-1{
        .header-middle{
            .header-middle-right{
                .middle-right-content{
                    .searchbox-header{
                        display: block !important;
                    }
                    .detect-mobile-800{
                        .searchbox-header-icon{
                            display: none !important;
                        }
                        .searchbox-header-close{
                            display: none !important;
                        }
                    }
                }
            }
        }
    }
    
    /************* End - Header **************/
    #checkout{
        .opc-wrapper{
            width: 60%;
        }
        #right-sider{
            width: 40%;
        }
        .opc-sidebar{
            margin: 0px;
        }
    }
    .header-style-1 .header-middle .header-middle-right .middle-right-content .detect-mobile-800 {
        float:none !important;
        position: absolute;
        left: 350px;
        top: -46px;
        .login-header{
            position: absolute;
            left: 170px;
            .login-content{
                .login-header-block{
                    .login-header-wrapper{
                        .signout-btn{
                            left: 0px;
                            .signoutButton{
                                display: none;
                            }
                        }
                        .signin-btn{
                            span{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .cart-wrapper .mage-dropdown-dialog {
        display: none  !important;
    }
    .header-style-1 .header-middle .header-middle-right .middle-right-content .fr .minicart-header .minicart-wrapper .minicart_mobile{
        display: inline-block;
    }
    .store-top-info .store-info {
        height: auto;
        .store-img {
        max-width: 100px;
        max-height: 100px;
        object-fit: contain;
        }
    }
    /***** Show result search    *******/
    .search_autocomplete_custom {
        max-height: 240px;
    }
    
    /**************MarketPlace*****************/
    .store-top-info{
        .store-banner{
            width: 700px;
        }
    }
    /**************show-slider-product-category*****************/
    .ltabs-items-container  {
        .ltabs-items{
          .rl-slider{
            .owl-stage-outer{
                .owl-stage{
                    width: 1800px !important;
                    .active{
                        width: 163px !important;
                    }
                }
            }
          }
        }
    }
}

/************* End - 800px - 900px **************/
    
/************* 500px - 750px **************/
@media only screen and (min-width : 500px) and (max-width : 750px) {
 
    .custom-slide{
        padding: 0px;
    }
    #maincontent .col1-layout{
        padding-top: 162px;
    }

}
/************* End - 500px - 750px **************/

/************* 760px - 769px **************/
@media only screen and (min-width : 760px) and (max-width : 769px) {
    .opc-sidebar{
        margin-right: 15px !important;
    }
}
/************* End - 760px - 769px **************/

/************* Max-width: 767px **************/
@media only screen and(max-width:767px){
    /************* Start - Header **************/
    .nav-mobile-container{
        .navigation-mobile{
            z-index: 999999;
        }
    }
    .toplinks-header-link-custom > ul > li .dropdown-cus-title::after {
        color:#374357;
    }
    .header-style-1{
        width: 100%;
        position: fixed;
        z-index: 1000000000;
        top: -1px;
        .header-event{
            display: none;
        }

        .header-top{
            .header-top-links{
                .toplinks-wrapper{
                    .showMenuTop{
                        float: right;
                        background-color: #475672;
                        height: 30px;
                        margin-top: 1px;
                        margin-bottom: 4px;
                        &:after{
                            content:"\f142";
                            font-size: 22px;
                            font-family: FontAwesome;
                            text-align: right;
                        }
                    }

                    #top-menu{
                        width: 100%;
                        margin-top:35px;
                        display: none;
                        .toplinks-header-link-custom{
                            margin-right: 15px;
                            z-index: 999999;
                            ul{
                                background-color: #fff;
                                max-width: 160px;
                                position: relative;
                                z-index: 99999;
                                box-shadow: 2px 2px 2px 2px #5b606b;
                                padding-left: 5px;
                                li{
                                    display: block;
                                    margin: 0px;
                                    border-bottom: 1px solid #ddd;
                                    background-color: #fff;
                                    text-align: left;
                                    z-index: auto;
                                    .switcher-language{
                                        .switcher-options{
                                            .switcher-trigger{
                                                strong{
                                                    color: #374357;
                                                }
                                            }
                                        }
                                    }
                                    a{
                                        padding: 0px 20px;
                                        color: #354157 !important;
                                    }
                                }
                                .customer-page{
                                    a{
                                        padding: 0px 0px 0px 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .header-middle{
            min-height: 70px;
            padding: 5px 0px;
            .logo-header{
                max-width: 140px;
                width: 100%;
                margin: 0px auto;
                z-index:99999;
            }

            .header-middle-right{
                padding-top: 15px;
                .middle-right-content{
                    right: 0px;
                    .searchbox-header{
                        width: 100%;
                        bottom: 25px;
                        top:45px;
                        top: -65px;
                        display: none;
                        z-index: 9999999;
                        .search-wrapper{
                            .sm-searchbox-content{
                                padding-left: 15px;
                                .minisearch{
                                    .searchbox{
                                        input{
                                            border-radius: 0px;
                                            height: 33px !important;
                                            width: 94%;
                                        }
                                    }

                                    .actions{
                                        .btn-searchbox{
                                            border-top-right-radius: 0px;
                                            border-bottom-right-radius: 0px;
                                            line-height: 33px;
                                            height: 33px !important;
                                            margin-right: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .detect-mobile-800{
                        overflow: hidden;
                        width: 100%;
                        left: 0px;
                        padding-left: 15px;
                        float: none !important;
                        z-index: -1;
                        height: auto;
                        position: absolute;
                        top: -110px;
                        .minicart-header{
                            right: auto;
                            left: 0px;
                            top: 10px;
                            margin-left: -25px;
                            .minicart-wrapper{
                                .minicart_mobile{
                                    position: absolute;
                                    top: -15px;
                                    right:0px;
                                    left: 0px;
                                    height: 40px;
                                    width: 36px;
                                    z-index: 999999;
                                    display: inline-block !important;
                                }
                                .showcart{
                                    i{
                                        font-size: 18px;
                                        left: 140px;
                                    }

                                    .counter{
                                        left: 7px;
                                        top: -18px;
                                        position: absolute;
                                        span{
                                            min-width: 18px;
                                            height: 18px;
                                            line-height: 18px;
                                            font-size: 12px;
                                        }
                                    }
                                }
                                .ui-widget-content{
                                    display: none !important;
                                }
                            }
                        }
                        .wishlist-header{
                            display: inline-block;
                            position: absolute;
                            left: 30px;
                            height: 40px;
                            line-height: 40px;
                            .wish-list-wrapper{
                                .show-wishlist{
                                    i{
                                        font-size: 18px;
                                    }
                                    span{
                                        min-width: 18px;
                                        height: 18px;
                                        line-height: 18px;
                                        left: 10px;
                                        top: 0px;
                                        position: absolute;
                                        top: 2px;
                                        .counter{
                                            top: 0px;
                                            left: 0px;
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }
                        .searchbox-header-icon{
                            display: inline-block;
                            width: 20px;
                            position: absolute;
                            right: 45px;
                            top: 10px;
                                i{
                                    font-size: 20px;
                                    color: #fff;
                                }
                        }
                        .searchbox-header-close{
                            display: inline-block;
                            width: 20px;
                            position: absolute;
                            right: 45px;
                            top: 10px;
                            display: none;
                            .fa-times-circle{
                                font-size: 20px;
                                color: #fff;
                            }
                        }
                        .login-header{
                            position: absolute;
                            margin: 0px;
                            right: 15px;
                            top:-4px;
                            .login-content{
                                line-height: 10px;
                                .login-header-block{
                                    .login-header-wrapper{
                                        top:3px;
                                        left: -20px;
                                        .signin-btn{
                                            position: absolute;
                                            left: 0;
                                            top: 10px;
                                            line-height: 18px;
                                            font-size: 14px;
                                            color: #fff;
                                            width: 30px;
                                            text-align: center;
                                            i{
                                                font-size: 20px;
                                            }
                                            span{
                                                display: none;
                                            }
                                        }
                                        .signout-btn{
                                            position: absolute;
                                            left: 0;
                                            top: 10px;
                                            line-height: 18px;
                                            font-size: 14px;
                                            color: #fff;
                                            min-width: 30px;
                                            text-align: center;
                                            .userName{
                                                display: block;
                                            }
                                            .signoutButton{
                                                display: none;
                                            }
                                        }
                                        .customer-page{
                                            i{
                                                font-size: 20px;
                                            }
                                            span{
                                                font-size: 60%;
                                                line-height: 10px;
                                                top: 0px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .header-bottom{
            margin-top: 0px !important;
            width: 100%;
  	        display:block;
	        transition: top 0.3s;
            z-index: 99999;
            position: unset;
            .main-megamenu{
                display: inline-block;
                position: absolute;
                .sambar-inner{
                    margin: 0px;
                    .btn-sambar{
                        display: none;
                    }
                    ul{
                        display: inline-block !important;
                        margin: 0px;
                        .other-toggle{
                            display: none;
                        }
                        .seller-btn-parent{
                            display: inline-block !important;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
    
    /************* End - Header **************/
    /* My Product Reviews Detail */
        #product-review-container{
            .review-list{
                .block-content{
                    .review-items{
                        .review-item{
                            margin: 0px 15px;
                            .review-title{
                                margin-left: 0px;
                                margin-bottom: 10px;
                            }
                            .review-content{
                                margin: 0px;
                                padding-top: 0px;
                            }
                        }
                    }
                }
            }
        }
    /* My Product Reviews Detail */
    /***** Show result search    *******/
    .search_autocomplete_custom {
        max-height: 150px;
    }
    /********************Homepage***************************/
    .home-style{
        .product_section{
            .wrap-content{
                .promotion-slide{
                    display: none;
                }

            }
        }
    }
    /************* Start - Marketplace **************/
    .main .marketplace-top-info{
        .ws-instruduce{
            display: none;
        }
        .ws-open-process{
            padding-top: 100px;
            margin-top: 30px;
        }
        .main-slider-row{
            display: none;
        }
    }
    .marketplace-top-info{
        .ws-workflow{
            background: none;
            .ws-workflow-top{
                color:#354157;
            }
            .ws-workflow-cnt{
                padding-bottom: 0px; 
                ul{
                    li{
                        color:#354157;
                        display: block;
                    
                    }
                    .li-border{
                        margin: 30px -3px;
                    }
                }
            }
        }
    }
    .marketplace-list-seller{
        .list-sellers{
            .list-sellers-sidebar{
                padding: 0px;
                    img{
                        width: 100%;
                    }
            }
            .list-sellers-cnt{
                margin-top: 15px;
                margin-left: 0px;
                margin-right: 15px;
                padding: 0px;
                ul{
                    li{
                        a{
                            padding-left: 0px;
                        }
                    }
                }
            }
        }
    }
    .store-top-info .store-banner{
        height: 100px;
        width: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .store-top-info .store-info {
        height: auto;
        .store-img {
        max-width: 70px;
        max-height: 70px;
        object-fit: contain;
        }
        .store-info-cnt{
            margin-left: 25%;
        }
    }
    .seller-detail-category {
        .store-product-list-mobile{
            .wrap-sub-product-slide{
                .wrap-sub-product-slide-mobile{
                    .sub-title{
                        padding: 10px 15px 0px;
                    }
                }
            }
        }
    }
    /************* End - Marketplace **************/

    /**********************Start - Category Seller Store **********************/
    .store-product{
        .wrap-seller-category{
            margin-bottom: 30px;
            background-color: #354157;
            .list-cate-cover{
                padding-left: 0px;
                width: 100%;
                margin-left: 0px;
                background-color: #354157;
                ul#seller-category-list{
                    width: 100% !important;
                    top: 0px;
                    li{
                        width: 100% !important;
                        display: block;
                        a{
                            padding: 10px 0px;
                        }
                    }
                }
                .wrap-more-cate{
                    width: 100%;
                    height: auto;
                    position: unset;
                    display: block;
                    padding: 0px 0px 0px;
                    button{
                        display: none;
                    }
                    .tooltip-cus{
                        display: block;
                        font-size: 16px;
                        border: none;
                        width: 100%;
                        padding: 0px 15px;
                        background-color: #354157;
                        margin-top: 0px;
                        position: unset;
                        overflow-y: unset;
                        max-height: unset;
                        &:before{
                            display: none;
                        }
                        a{
                            
                            color: #fff;
                            display: block;
                            text-align: left;
                            padding: 0px;
                            height: 46px;
                        }
                    }
                }
        
            }
        }
        .seller-detail-category{
            .store-product-list-mobile{
                padding: 0px;
                .wrap-sub-product-slide-mobile{
                    padding: 0px;
                }
            }
        }  
    }
    /**********************End - Category Seller Store **********************/

    /************* Start - Product Detail Page **************/
    .main{
        .detail-1{
            .services-detail{
                margin-top: 15px;
            }
            .product-add-form{
                .box-tocart{
                    .actions{
                        width: 100%;
                    }
                }
            }
            .image-box-detail{
                .product{
                    .fotorama-item{
                        .fotorama__wrap{
                            .fotorama__stage{
                                height: 200px !important;
                            }
                        }
                    }
                    
                }
            }
        }
    }
    /************* End - Product Detail Page **************/

    /************* Start - My page **************/
    .page-main{
        .col2-layout{
            padding-top: 162px;
        }
    }
    /************* End - My page **************/
    /* dropdown menu + tooltip */
    @width-dropdown-cus:100%;
    .customer-left-sidebar{
        margin-top: 15px;}
        .dropdown-cus-title-mobile {padding-right: 13px; cursor: pointer;display: block;width: 100%; background: #fff; color: #354157 !important; border: 1px solid #354157 !important; font-size: 15px !important;
            &:after {content: "\f0dd"; font-family: 'Font Awesome 5 Free'; font-weight: 900; color: @link-color; font-size: 15px !important; position: absolute; right: 12px; top: -4px;}
            &:active{width: @width-dropdown-cus;}
            &:visited{width: @width-dropdown-cus;}
            &:hover{width: @width-dropdown-cus;font-size: 15px !important;}
        
        }

        .tooltip-cus-mobile {position: absolute; min-width: 120px; z-index: 10; display: none; right: 0; border: none; background-color: #354157;padding-left: 0px;height: auto !important;}

}
/*************End - Max-width: 767px **************/

/************* Max-width : 480px **************/
@media only screen and(max-width:480px){
    /************* Homepage **************/
    .page-main{
                .sm-listing-tabs{
                    .ltabs-items{
                        .ltabs-items-inner{
                            .owl-stage-outer{
                                transform: translate(0);
                                .owl-stage{
                                    transform: translate(0) !important;
                                    width: auto !important;
                                    .owl-item{
                                        width: 50% !important;
                                        float:none;
                                        margin-right: 0px !important;
                                        display: inline-block;
                                        vertical-align: top;
                                        .item-inner{
                                            .box-image{
                                                a{
                                                    img{
                                                        padding: 15px;
                                                    }
                                                }
                                            }
                                            .box-info{
                                                padding: 10px 15px 15px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    }
    .btn-seemore{
        display:none !important;
    }
    .home-style.home-page-2 .product_section .row .wrap-content{
        height: auto;
    }

    .left-main{
        padding: 0px !important;
    }
    .p_mobile{
        padding: 0px !important;
    }
    /************* End - Homepage **************/
    /********************** yt-totop  **********************/
    #yt-totop{
        top: 500px;
    }
     /********************** yt-totop  **********************/
    /***** Show result search    *******/
    .search_autocomplete_custom {
        max-height: 350px;
    }
    /************* Start - Search Results page **************/
    #catalog-listing, .search.results{
        .category-product{
            .list{
                .item{
                    width: 50%;
                    .product-item-info{
                        display: inline-block;
                    }
                }
                .respl-item-list{
                    width: 100%;
                }
            }
        }
    }
    .toolbar-top{
        .toolbar-products{
            .limiter{
                margin-bottom: 15px;
            }
        }
    }
    .col2-layout .category-product.products-grid .item:nth-child(1n+1) {
        clear: unset !important;
    }

    /************* End - Search Results page **************/
    
    /************* Start - My Wishlist  **************/
    .form-wishlist-items .products-grid.wishlist .product-items li.product-item {
        width: 50% !important;
    }
    .products-grid.wishlist .product-item-actions .action {
        margin-right: 9px;
    }
    /************* End - My Wishlist  **************/

    /************* Start - Marketplace page **************/
    #maincontent{
        padding-top: 162px;
    }
    .text-title{
            font-size: 190% !important;
    }
        .page-main{
            .col1-layout{
                .main{
                    .marketplace-top-info{
                        .main-slider-row{
                            width: auto;
                            .image-slider-home{
                                width: auto !important;
                            }
                        }
                        .ws-open-process{
                            .ws-open-process-top{
                                padding: 20px 0px;
                            }
                            .ws-open-process-body{
                                ul{
                                    li{
                                        width: 100%;
                                        padding: 0px;
                                        margin-bottom: 60px;
                                        &:last-child{
                                            margin-bottom: 0px;
                                        }
                                        &:nth-child(2){
                                            margin: 0px 0px 60px;
                                        }
                                    }
                                }
                            }
                        }
                        .ws-instruduce{
                            display:none;
                        }
                        .ws-workflow{
                            .ws-workflow-cnt{
                                ul{
                                    li{
                                        width: 100% !important;
                                    
                                    }
                                }
                            }
                        }
                    }
                    .marketplace-product{
                        .product-banner{
                            display: none;
                        }
                    }
                }
            }
        }

        .store-review{
            .product-reviews-summary{
                display: inline-block;
            }
        }
    /************* End - Marketplace page **************/

    /************* My page **************/
    .rating-summary{display: inline-block;}
    .page-main{
        .col2-layout{
            padding-top: 0px;
            .sidebar-additional{
                display: none;
            }
            .sidebar-main{
                .account-nav{
                    .content{
                        .items{
                            .item{
                                width: 100% !important;
                            }
                        }
                    }
                }
            }
            .main{
                .block-dashboard-orders{
                    .block-content{
                        table{
                            tbody{
                                tr{
                                    border-bottom: 1px solid #f36525;
                                }
                            }
                        }
                    }
                }
                .block-reviews-dashboard{
                    .block-content{
                        .items{
                            .product-name{
                                display: block;
                            }
                        }
                    }
                }
                .table-wrapper{
                    table{
                        tbody{
                            tr{
                                border-bottom: 1px solid #f36525;
                                td{
                                    text-align: left !important;
                                    span,ul,p{
                                        display: inline-block !important;
                                    }
                                    .primary{
                                        padding: 10px 0px;
                                    }
                                }

                            }
                        }
                    }
                    .seller-order{
                        div{
                            padding: 0px;
                        }
                    }
                }
            }
        }
    }
    .select_order_mobile{
        thead{
            tr{
                th{
                    display: inline-block !important;
                }
            }
        }
    }
    /************* End - My page **************/

    /************* Checkout **************/
    .page-main{
        .col1-layout{
            .page-title-wrapper{
                .page-title{
                    margin-top: 15px;
                    span{
                        font-size: 100%;
                    }
                }
            }
            .main{
                    .processing-container{
                        display: none;
                        border: 1px solid #f36525;
                        ul{
                            width: 70%;
                            li{
                                width: 100%;
                            }
                        }
                    }
            }
        }
    }

    .modal-popup.modal-slide._inner-scroll{
        .modal-inner-wrap{
            position: absolute;
            top: 200px;
            width: 85%;
        }
    }
    /************* End - Checkout **************/

    /************* Start - Register Seller page **************/
    .page-main{
        .col1-layout{
            .main{
                .block-seller-register{
                    .block-content{
                        .upload_folder{
                            .field-wrapper{
                                list-style: none;
                                .field{
                                    margin: 25px 0px;
                                    border-top: 1px solid #f36525;
                                    padding: 10px;
                                    .label-text{
                                        padding-bottom: 15px;
                                    }
                                    .control{
                                        margin-left: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /************* End - Register Seller page **************/

    /************* Start - Create an account for customer **************/
    @width: 100%;
    .form-create-account .fieldset.create.info .field-name-firstname {
        width: @width;
    }
    .form-create-account {
        .fieldset.create.info .field-name-lastname {
        width: @width;
        float: none;
        }
    }

    .form-create-account .fieldset {
        min-height: auto;
    }


    .detail-1 .services-detail .sidebarFrame .sidebar-section{
        width: 100%;
        .sidebar-section-cnt{
            width: 60%;
        }
    }
    /************* End - Create an account for customer **************/

    /************* Start - OnestepCheckout **************/
    .delivery-info-poster{
        margin-left: 0 !important;

    }

    .checkout-shipping-address{
        .step-content{
            .tabs-cus-cnt{
                .addresses{
                    .shipping-address-items{
                        .shipping-address-item{
                            padding: 10px;
                            .action-select-shipping-item{
                                width: 30%;
                                float: right;
                                margin: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
    .estimated-block{
        display: none;
    }
    /************* End - OnestepCheckout **************/

    /************* Start - Success Page **************/
    .checkout-success-wrapper{
        .checkout-success-img{
            img{
                margin-top: 40px;
            }
        }
        .checkout-success{
            padding: 15px;
        }
    }
    /************* End - Success Page **************/

    /************* Start - Return Product **************/
    .table-wrapper .table:not(.cart):not(.totals):not(.table-comparison)>thead{
        border-bottom: 1px solid #ddd;
        tr{
            th{
                border-bottom: none;
                text-transform: none;
                span{
                    font-weight: normal;
                }
            }
        }
    }

    .table-wrapper .table:not(.cart):not(.totals):not(.table-comparison) tbody{
        border-bottom: 1px solid silver;
        tr{
            border-bottom: 1px dashed #f86633;
            margin-bottom: 0px;
        
            &:last-child{
                border-bottom: none;
            }
            td {
                input[type="radio"] {
                border: 1px solid #f86633;
                -webkit-appearance: none;
                width: 30px;
                height: 30px;
                }
            }
            td.check-style-mobile{
                padding: 0px;
                text-align: right;
                &:before{
                    opacity: 0;
                }
            }
        }
    }
    .modal-slide{
        .modal-inner-wrap{
            .modal-content{
                padding-bottom: 0px;
            }
            .modal-footer{
                margin-top: 0px ;
            }
        }
    }  


    .modal-content span#order_number{
            display: block;
    }

    .table-wrapper .table:not(.cart):not(.totals):not(.table-comparison) tbody>tr>td input[type="radio"]:checked::before{
        background-color: #f86633;
        content: '✔';
        width: 30px;
        height: 30px;
        color: #fff;
        font-size: 20px;
        padding: 0px 6px 1px;
    }
    /************* End - Return Product **************/

    /*******************Start - Best provider ranking ******************/
    .main{
        .store-top-info{
            .events-list{
                .item{
                    .provider-list{
                        .provider-img-provider{
                            width: 40%;
                            position: relative;
                            top: 40px;
                            img{
                                max-height: 50px;
                            }
                        }
                        .provider-info{
                            width: 60%;
                            margin-top: 80px;
                            .provider-name{
                                .medal-img{
                                    top: 50px;
                                    right: 30px;
                                    &:last-child{
                                        right: 0px;
                                    }
                                }
                            }
                        }
                        .provider-desc{
                            .rank-medal{
                                top: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
    /*******************End - Best provider ranking ******************/

    /***********Start - Customer Service**************/
    .cs-page{
        .cs-page-faq{
            .faq-search{
                .faq-search-input{
                    width: 100%;
                    padding: 0px 15px 10px;
                }
            }
            .faq-tabs{
                ul{
                    li{
                    width: 50% !important;
                    border: none !important;
                    &:first-child{
                            width: 100% !important;
                    }

                    }
                }
                .tabs-cus-cnt{
                    .tab-cus-cnt{
                        .collapse-expands{
                            .collapse-expands-title{
                                .collapse-expands-title-cnt{
                                    width: 50% !important;
                                }
                            }
                            .collapse-expands-cnt{
                                .question-cnt{
                                    .question-answer{
                                        .question-answer-cnt{
                                            width: 100%;
                                            margin-left: 0px;
                                            margin-top: 30px;
                                            ol{
                                                padding-left: 15px;
                                                li{
                                                    padding-bottom: 10px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .sidebar{
        .cs-sidebar{
            img{
                width: 100%;
            }
        }
    }
    /***********End - Customer Service**************/



    /********************** row of products **********************/
        .items, .products-grid {
            .item:not(tbody):not(th) {
                .item-inner {
                    .box-image {
                        img{
                            width: 100%;
                            height: 190px;	
                        }
                    }
                }
            }
        }
    /************* Footer **************/
        .page-footer{
            .footer{
                .footer-wrapper{
                .container{
                    .footer-introduce{
                        display: none;
                    }
                    .footer-top{
                        padding-top: 0px;
                        .row{
                            .col-xs-12{
                                &:nth-child(2){
                                    display: none;
                                }
                                &:nth-child(1){
                                    display: none;
                                }
                                &:nth-child(4){
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .footer-location{
                    display: none;
                }
                }
            }
        }

        .toplinks-header-link-custom{
            line-height: 34px;
            z-index: 99999;
            position: absolute;
            right: 0;
            left: auto;
            .support-center{
                a{
                    right: 0px;
                }
            }
        }
    }
/************* End - Max-width : 480px **************/

/************* Max-width : 380px **************/
@media only screen and(max-width:380px){
        .block-product-qty{
            .qty{
                width: 85% !important;
                input[type="number"]{
                    width: 30% !important;
                }
            }
        }
        /********************** row of products **********************/
        .items, .products-grid {
            .item:not(tbody):not(th) {
                .item-inner {
                    .box-image {
                        img{
                            width: 100%;
                            height: 170.5px;	
                        }
                    }
                }
            }
        }
    }
/************* End - Max-width : 380px **************/

/************* Max-width : 361px **************/
@media only screen and(max-width:361px){
        /********************** row of products **********************/
        .items, .products-grid {
            .item:not(tbody):not(th) {
                .item-inner {
                    .box-image {
                        img{
                            width: 100%;
                            height: 163px;	
                        }
                    }
                }
            }
        }
}
/************* End - Max-width : 361px **************/

/************* Max-width : 321px **************/
@media only screen and(max-width:321px){
    
    .page-main .col1-layout .main .block-seller-register .block-title strong {
        padding: 5px 8px; 
        border-radius: 0px;
    }
    .actions-primary{
        .tocart{
            font-size: 10px !important;
        }
    }

    .block-product-qty{
        .qty{
            width: 100% !important;
            input[type="number"]{
                width: 30% !important;
            }
        }
    }
    /********************** row of products **********************/
    .items, .products-grid {
	    .item:not(tbody):not(th) {
		    .item-inner {
			    .box-image {
					img{
						width: 100%;
						height: 143px;	
					}
				}
			}
		}
	}
}
/************* End - Max-width : 321px **************/

