<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$helperData = $objectManager->get("\Libero\Customer\Helper\Data");
$isDesktop = $helperData->detectMobile();
$scopeConfig = $objectManager->get("\Magento\Framework\App\Config\ScopeConfigInterface");
$storePhone = $scopeConfig->getValue("general/store_information/phone");
$storeEmail = $scopeConfig->getValue("general/store_information/street_line2");
$switcher = $objectManager->get("Magento\Store\Block\Switcher");
?>
<?php if ($isDesktop){ ?>
<div class="popup-container"></div>
<div id="black_background_cover"></div>
<div class="header-container header-style-1">
	<div class="header-event">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<?php echo $block->getChildHtml('event-top'); ?>
			</div>
		</div>
	</div>

	<div class="container">
		<div id="libe-menu-ver" class="megamenu-header">
			<div class="menu-ver-content">
				<?php echo $block->getChildHtml('navigation-header-megamenu'); ?>
			</div>
		</div>
	</div>

	<div class="header-middle fixed-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 logo-header" id="wrap_logo_header">
					<div class="col-lg-2 col-md-2 col-sm-2 logo-header">
						
						<?php echo $block->getChildHtml('logo-header'); ?>
					</div>
					<div class="col-lg-10 col-md-10 col-sm-10 nav-header">
						<ul>
							<!-- <li><a href="<?php echo $block->getUrl(); ?>marketplace/store/market"><?php echo __("Marketplace") ?></a></li> -->
							<li>
								<a href="#" class="dropdown-cus-title"><?php echo __("Order Protection"); ?></a>
								<div class="tooltip-cus order-protection popup-cus">
									<div class="title"><?php echo __("Track my order"); ?></div>
									<form class="basic-form">
										<label>
											<?php echo __("Please confirm your email"); ?>
											<input type="text" placeholder="<?php echo __('Your email'); ?>" />
										</label>
										<label>
											<?php echo __("Your order number"); ?>
											<input type="text" placeholder="<?php echo __('Ex: 123456789'); ?>" />
										</label>
										<button type="submit"><?php echo __("Check"); ?></button>	
									</form>
								</div>
							</li>
							<!-- <li><a href="<?php echo $block->getUrl(); ?>marketplace/store/"><?php echo __("Store") ?></a></li> -->
							<li>
								<a href="#" class="dropdown-cus-title"><?php echo __("Help Center & Contact Us"); ?></a>
								<div class="tooltip-cus support-center popup-cus">
									<ul class="scenter-title">
										<li><a href="#"><?php echo __("Trung tâm hỗ trợ "); ?></a></li>
										<li><a href="#"><?php echo __("Đơn hàng & Thanh toán "); ?></a></li>
										<li><a href="#"><?php echo __("Giao hàng & Nhận hàng "); ?></a></li>
										<li><a href="#"><?php echo __("Đổi trả và Hoàn tiền "); ?></a></li>
										<li><a href="#"><?php echo __("Liên hệ với Wisi"); ?></a></li>
									</ul>
									
								</div>
							</li>
							<li>
								<div class="switcher language switcher-language" data-ui-id="language-switcher" id="google_translate_element">
								</div>
							</li>
							<?php if (count($switcher->getStores())>1): ?>
								<li>
									<div class="switcher language switcher-language" data-ui-id="language-switcher" id="google_translate_element">
									</div>
								</li>
							<?php endif; ?>
						</ul>
					</div>
				</div>
				
				
				<div class="col-lg-12 col-md-12 col-sm-12 header-middle-right">
					<div class="middle-right-content">
						<div class="searchbox-header">							
							<?php echo $block->getChildHtml('search-header-pro'); ?>
							<div class="fr detect-mobile-800">
								<div class="minicart-header">
									<div class="minicart-content">
										<?php echo $block->getChildHtml('cart-header'); ?>
									</div>
								</div>

								<div class="wishlist-header">
									<div class="wishlist-content">
										<?php echo $block->getChildHtml('wish-list-header'); ?>
									</div>
								</div>

								<div class="login-header">
									<div class="login-content">
										<?php echo $block->getChildHtml('login-header-block'); ?>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	jQuery(document).ready(function($){
		$( ".header-style-1 .header-top .header-top-links .toplinks-wrapper .header.links li" ).not( ".myaccount-link" ).mouseover(function() {
			$( ".header-style-1 .header-top .header-top-links .toplinks-wrapper .header.links" ).addClass('toplinks_hover');
		}).mouseout(function() {
			$( ".header-style-1 .header-top .header-top-links .toplinks-wrapper .header.links" ).removeClass('toplinks_hover');
		});
	});
</script>
<?php }else{ ?> 
<div class="popup-container"></div>
<div class="header-container header-style-1">
	<div class="header-event">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<?php echo $block->getChildHtml('event-top'); ?>
			</div>
		</div>
	</div>

	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 language-currency-top">
					<?php echo $block->getChildHtml('language-header'); ?>
					<?php echo $block->getChildHtml('currency-header'); ?>
				</div>
				
				<div class="col-lg-10 col-md-10 header-top-links">
					
					<?php echo $block->getChildHtml('toplinks-header-custom'); ?>
				</div>
			</div>
		</div>
	</div>
	
	<div class="header-middle">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-2 logo-header" id="wrap_logo_header">
					<?php echo $block->getChildHtml('logo-header'); ?>
				</div>
				
				<div class="col-lg-10 col-md-10 col-sm-10 header-middle-right">
					<div class="middle-right-content">
						<div class="fr detect-mobile-800">
							<div class="minicart-header">
								<div class="minicart-content">
									<?php echo $block->getChildHtml('cart-header'); ?>
								</div>
							</div>
							<div class="wishlist-header">
								<div class="wishlist-content">
									<?php echo $block->getChildHtml('wish-list-header'); ?>
								</div>
							</div>
							<div class="login-header">
								<div class="login-content">
									<?php echo $block->getChildHtml('login-header-block'); ?>
								</div>
							</div>
							<div class="searchbox-header-icon">
								<i class="fas fa-search"></i>
							</div>
							<div class="searchbox-header-close">
								<i class="fas fa-times-circle"></i>
							</div>
						</div>
						<div class="searchbox-header searchbox-header-mobile">
							<?php echo $block->getChildHtml('search-header-pro'); ?>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<?php } ?>
<!--Srcool hide header-->
<script>
  require([
        'jquery',
        'Magento_Ui/js/modal/modal'
    ], function ( $,modal ) {
		$(document).ready(function(){
			$(window).scroll(function(){
				if ($(window).scrollTop() >= 100) {
					$("div.header-bottom-mobile").css("display","none");
				} else {
					$("div.header-bottom-mobile").css("display","block");
				}
			});
	});
});
</script>
<!--Srcool hide header-->
<!--Show and hide search input-->
<script>
	    require([
        'jquery',
        'Magento_Ui/js/modal/modal'
    ], function ( $,modal ) {
		$(document).ready(function(){
			ShowSearch();
			closeSearch();
			hidetest();
			function hidetest(){
				$("div.searchbox-header-mobile").css("display","none");
				$("div.header-middle").css("min-height","70px");
				$("div.searchbox-header-icon").css("display","block");
				$("div.searchbox-header-close").css("display","none");
			}
			function ShowSearch(){
				$("div.searchbox-header-icon").on({
					click: function(){					
						$("div.searchbox-header-mobile").css("display","block");
						$("div.header-middle").css("min-height","116px");
						$("div.searchbox-header-icon").css("display","none");
						$("div.searchbox-header-close").css("display","block");
						event.stopPropagation();
					}
				});
			}
			function closeSearch(){
				$("div.searchbox-header-close").click(hidetest());
			}

			$(window).on("click",function(){
				var eleClass = event.target.className;
				if (eleClass.indexOf("input-searchbox") < 0 ){
					hidetest();
				} else {}
			});
	});
});
</script>
<!--Show and hide search input-->
