<?php
?>
<div class="block block-dashboard-info">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Account Credit')) ?></strong></div>
    <div class="block-content">
        <div class="box box-information">
            <strong class="box-title">
                <span><?= $block->escapeHtml(__('Balance')) ?></span>
            </strong>
            <div class="box-content">
                <p>
                    <?= $block->getVirtualMoney(); ?><br>
                </p>
            </div>
            <div class="box-actions">
                <a class="action edit" href="<?= $block->escapeUrl($block->getUrl('virtual/money/')) ?>">
                    <span><?= $block->escapeHtml(__('Buy T-Coin')) ?></span>
                </a>
            </div>
        </div>
    </div>
</div>
