<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Pager template
 *
 * @see \Magento\Theme\Block\Html\Pager
 */
?>
<?php if ($block->getCollection()->getSize()): ?>
    <div class="wrap-pagination">
        <?php if ($block->getUseContainer()): ?>
        <div class="pager">
        <?php endif ?>

            <?php
            $current_page = 1;
            if(isset($_REQUEST["p"])){
                if($_REQUEST["p"] != "") {
                    $current_page = $_REQUEST["p"];
                }else{
                    $current_page = 1;
                }
            }
            ?>
            <label><?php echo __("Page"); ?> : <input type="text" class="w65" value="<?php  echo $current_page;?>" onkeydown="submitOnEnter(this, event);" /></label>
            <?php echo "" . __("out of") . " "; ?>
            <strong><?php echo $block->getLastPageNum(); ?></strong>
            <div class="paging-actions">
                <a class="action-previous" href="<?php echo $block->getPreviousPageUrl() ?>" title="<?php echo __('Previous') ?>"> </a>
                <a class="action-next" href="<?php echo $block->getNextPageUrl() ?>" title="<?php echo __('Next') ?>"> </a>
            </div>

        <?php if ($block->isShowPerPage()): ?>
            <div class="limiter">
                <strong class="limiter-label"><?php echo __('Show') ?></strong>
                <select id="limiter" data-mage-init='{"redirectUrl": {"event":"change"}}' class="limiter-options">
                    <?php foreach ($block->getAvailableLimit() as $_key => $_limit): ?>
                        <option value="<?php echo $block->getLimitUrl($_key) ?>"<?php if ($block->isLimitCurrent($_key)): ?>
                            selected="selected"<?php endif ?>>
                            <?php echo $_limit ?>
                        </option>
                    <?php endforeach; ?>
                </select>
                <span class="limiter-text"><?php echo __('per page') ?></span>
            </div>
        <?php endif ?>

        <?php if ($block->getUseContainer()): ?>
        </div>
        <?php endif ?>
    </div>
    <?php endif ?>


<script>
function submitOnEnter(obj, event) {
	if (event && event.keyCode == 13) {
	    var current_url = location.href;
	    if(current_url.indexOf("p=") > -1) {
            location.href = location.href.split("?")[0] + "?p=" + jQuery(obj).val();
        }else{
            location.href = location.href.split("?")[0] + "?p=" + jQuery(obj).val();
        }
	}
}
require([
    'jquery'
],function($) {
    $(document).ready(function () {
        $('.btn-movepage').click(function () {
            var current_url = location.href;
            var page = jQuery(".w65").val();
            if(current_url.indexOf("p=") > -1) {
                location.href = location.href.split("?")[0] + "?p=" + page;
            }else{
                location.href = location.href.split("?")[0] + "?p=" + page;
            }
        })
    }
    );
});
</script>