<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php
/** @var \Magento\Catalog\Pricing\Render\FinalPriceBox $block */

$productId = $block->getSaleableItem()->getId();

/** ex: \Magento\Catalog\Pricing\Price\RegularPrice */
/** @var \Magento\Framework\Pricing\Price\PriceInterface $priceModel */
$priceModel = $block->getPriceType('regular_price');

/** ex: \Magento\Catalog\Pricing\Price\FinalPrice */
/** @var \Magento\Framework\Pricing\Price\PriceInterface $finalPriceModel */
$finalPriceModel = $block->getPriceType('final_price');

$idSuffix = $block->getIdSuffix() ? $block->getIdSuffix() : '';
$schema = ($block->getZone() == 'item_view') ? true : false;
$product = $block->getSaleableItem();
$from_date = $product->getData("special_to_date");
$tax_class_id = $product->getTaxClassId();
//$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
//$taxClassObj = $objectManager->create('Magento\Tax\Model\TaxClass\Source\Product');
//$taxClassess = $taxClassObj->getAllOptions();
$text_vat = $product->getAttributeText('tax_class_id');
$id_vat = $product->getData('tax_class_id');
?>
<?php
if($from_date != "") {
    $current_date_check = strtotime(date("Y-m-d"));
    $from_date_check = strtotime($from_date);
    if ($from_date_check > $current_date_check) {
        $start = date_create($from_date);
        $end = date_create(); // Current time and date
        $diff = date_diff($start, $end);
        $time= $diff->days.' Days : '.$diff->h." H : "." ".$diff->i."m";
    }
    ?>
<!--<script>
        require([
            'jquery'
        ],function($) {
            $(document).ready(function () {
                var target_date = new Date("<?php //echo $from_date; ?>").getTime();
                var days, hours, minutes, seconds;

                var countdown = document.getElementById("tiles");

                getCountdown();

                setInterval(function () { getCountdown(); }, 1000);

                function getCountdown(){

                    var current_date = new Date().getTime();
                    var seconds_left = (target_date - current_date) / 1000;

                    days = pad( parseInt(seconds_left / 86400) );
                    seconds_left = seconds_left % 86400;

                    hours = pad( parseInt(seconds_left / 3600) );
                    seconds_left = seconds_left % 3600;

                    minutes = pad( parseInt(seconds_left / 60) );
                    seconds = pad( parseInt( seconds_left % 60 ) );

                    countdown.innerHTML = "<span>" + days + "</span><span>" + hours + "</span><span>" + minutes + "</span><span>" + seconds + "</span>";
                }

                function pad(n) {
                    return (n < 10 ? '0' : '') + n;
                }


            });
        });

</script>-->
<?php } ?>
<?php if ($block->hasSpecialPrice()): ?>
    <p class="special-price">
        <?php /* @escapeNotVerified */ echo $block->renderAmount($finalPriceModel->getAmount(), [
            'display_label'     => __('Special Price'),
            'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
            'price_type'        => 'finalPrice',
            'include_container' => true,
            'schema' => $schema
        ]); ?>
    </p>
    <p class="discount-percentage"><span class="pro-detail"><?php echo __('save up to') ?>: </span><span class="price"><?php echo $block->getDiscountPricePercentage()?>% </span><span class="original-price-discount">(<?php echo $block->getDiscountPriceAmmount()?>)</span></p>
    <p class="old-price">
        <span class="pro-detail"><?php echo __('Original price') ?>: </span>
        <?php /* @escapeNotVerified */ echo $block->renderAmount($priceModel->getAmount(), [
            'display_label'     => __('Regular Price'),
            'price_id'          => $block->getPriceId('old-price-' . $idSuffix),
            'price_type'        => 'oldPrice',
            'include_container' => true,
            'skip_adjustments'  => true
        ]); ?>
    </p>
    
    <!--<div id="countdown">
        <span class="onlytime"><?php echo __('Endations after') ?></span>
        <div id='tiles'></div>
        <div class="labels">
            <span><?php echo __("Days") ?></span>
            <span><?php echo __("Hrs") ?></span>
            <span><?php echo __("Mins") ?></span>
            <span><?php echo __("Sec") ?></span>
        </div>
    </div>-->
    
    
<?php else: ?>
    <?php /* @escapeNotVerified */ echo $block->renderAmount($finalPriceModel->getAmount(), [
        'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
        'price_type'        => 'finalPrice',
        'include_container' => true,
        'schema' => $schema
    ]); ?>
<?php endif; ?>

<?php if ($block->showMinimalPrice()): ?>
    <?php if ($block->getUseLinkForAsLowAs()):?>
        <a href="<?php /* @escapeNotVerified */ echo $block->getSaleableItem()->getProductUrl(); ?>" class="minimal-price-link">
            <?php /* @escapeNotVerified */ echo $block->renderAmountMinimal(); ?>
        </a>
    <?php else:?>
        <span class="minimal-price-link">
            <?php /* @escapeNotVerified */ echo $block->renderAmountMinimal(); ?>
        </span>
    <?php endif?>
<?php endif; ?>
<?php if($id_vat == 4){ ?>
    <!-- <p style='color:red'><?php echo __("This price not include VAT 10%") ?></p> -->
<?php } ?>
<?php if($id_vat == 0){ ?>
    <!-- <p style='color:#79a22e'><?php echo __("This price was included VAT 10%") ?></p> -->
<?php } ?>
<?php if($id_vat == 5){ ?>
    <!-- <p style='color:red'><?php echo __("This price not include VAT 5%") ?></p> -->
<?php } ?>