.tl { text-align: left !important; }

.d-ib { display: inline-block !important; }
.w-full { width: 100% !important; }
.line-h32 {line-height: 32px !important;}
.p-10 {padding: 10px !important;}
.m-0 {margin: 0 !important;}
.m-l-30 { margin-left: 30px !important; }


#anchor-content .page-actions button span {
    color: #fff ;
}
.page-actions button {
    font-size: 1.6rem !important;
    letter-spacing: .025em;
    padding: 11px 16px !important;
    height: auto;
    

}

.data-grid-checkbox-cell-inner {
    display: block;
    padding: 1.1rem 1.8rem .9rem !important ;
    position: relative;
    text-align: right;
}


.admin__field:not(.admin__field-option)>.admin__field-label{
    font-weight: 600 !important;
}


.action-show-hide {
    background: #e3e3e3;
    border:1px solid #adadad !important;
    color: #514943 !important;
}
.action-add-image{
    background: #e3e3e3;
    border:1px solid #adadad !important;
    color: #514943 !important;
}

#back{
   color:  #41362f !important;
   border: 1px solid #fff;
  
}
.page-main-actions .page-actions .page-actions-inner>.page-actions-buttons>#back.back span{
    color:  #41362f !important;
    
}


button.action-toggle{
    padding-right: 4rem !important ;
    border-left-color: rgba(0,0,0,0.2) !important;
    padding-left: 0 !important;
}


#addAttribute{
    border: 1px solid #000 !important;
}

#save-button{

    border: 1px solid #eb5202 !important;
}

input[type='checkbox'].admin__control-checkbox {
    margin: 0;
    position: absolute;
}

input[type='checkbox'] {
    box-sizing: border-box;
    padding: 0;
}

label.lable-oder-list:before{
    background-color: #fff;
    border: 1px solid #adadad;
    color: transparent;
    float: left;
    height: 1.6rem !important;
    text-align: center;
    vertical-align: top;
    width: 1.6rem !important;
}

.page-title .base{
display: none;
}

#send_notification span{
    color: #41362f !important;
}

#print span {
    color: #41362f !important;
}

#invoice span{
    font-size: 1.6rem !important;
    color: #41362f;    
}
#order_ship span{color: #41362f !important;font-size: 1.6rem !important;}
#invoice{
    background-color:#f8f8f8;
    border: 0px;
    padding: 11px 16px ;
}

#reset span{
    font-size: 1.6rem !important;
    color: #41362f !important ;
}

.order-history-comments-options{
    margin-left: 3.5%;
}

/**************** temporary ****************/
.seller-admin-drop {display: block !important;}

#submit-enable{
    background: #e3e3e3;
    border: 1px solid #adadad !important;
    color: #514943 !important;
}



.mass-select-wrap {

    left: 1.2rem;
}

#submit-enable{
    height: 31px;
}
 
 label{
    padding: 0rem 1em !important;
} 
.admin-user .admin__action-dropdown.active{
    box-shadow: 1px 0px 0px 0px rgba(0,0,0,0.5);
    border: 1px solid #007bdb;
    border-bottom: none;   
}

.admin__action-dropdown:hover, .admin__action-dropdown:focus {
    background-color: #fff;
    color: #060504;
    text-decoration: none;
}

.image.image-placeholder input[type='file'] {
    border: 1px solid transparent;
}


input {
    width: 150px !important;
}
/**************** Newinvoce "button: Update Qty's" ****************/
.admin__table-wrapper .data-table.admin__table-primary .action-default{
    background: #e3e3e3;
    color: #514943 !important;
    border: 1px solid #adadad !important;
}
/**************** Hidden button close on choose file for Logo and Banner ****************/
 .admin__field-control button.remove-file {
    display: none !important;
}

button:focus {text-transform: unset;}
/**************** Paging Product List ****************/
.admin__data-grid-filters-footer .admin__data-grid-pager-wrap {
    line-height: 32px;
    margin-top: 15px;
}
.admin__data-grid-filters-footer .admin__data-grid-pager-wrap .paging-list{
    position: relative !important ;
}
.admin__data-grid-filters-footer .admin__data-grid-pager-wrap .paging-list ul{
    display: inline-block;
    vertical-align: middle;
}
.admin__data-grid-filters-footer .admin__data-grid-pager-wrap .paging-list ul li{
    margin: 0px 5px;
}
.admin__data-grid-filters-footer .admin__data-grid-pager-wrap .paging-list ul li button{
    padding: 0px 15px !important;
}
.admin__data-grid-filters-footer .admin__data-grid-pager-wrap .paging-list ul li.current{
    padding: 0px 15px !important;
    background-color: #524b45;
    height: 35px;
    line-height: 35px;
    color: #fff;
}
.admin__data-grid-filters-footer .admin__data-grid-pager-wrap .paging-list ul li.vv-style{
    height: 35px;
    line-height: 35px;
}

.admin__data-grid-filters-footer .admin__data-grid-pager-wrap .paging-list .moveToPageField label {
    padding-right: 0 !important;
}

.admin__data-grid-filters-footer .admin__data-grid-pager-wrap .paging-list .moveToPageField label input {
        background: #fff; background-clip: padding-box; border-radius: 1px; font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; padding: 0 9px; vertical-align: baseline; box-sizing: border-box; height: 35px; font-size: 100%; border: 1px solid #adadad; line-height: 1.66; background-color: #fff; box-shadow: none !important; -webkit-box-shadow: none !important;
}

.admin__control-select {width: auto !important;}

/******************Responsive for Ipad*********************/
/*****
@media only screen and (max-width:769px){
    body{
        min-width: auto;
    }
    body .page-wrapper {
    width: auto;
    }

    .page-wrapper .page-wrapper{
        position: relative;
        margin-left: 0 !important;
        padding-left: 88px;
        width: 100%;
    }

    .page-wrapper{
        width: 100% !important;
    }
    .data-grid td {
        font-size: 11px;
    }


    .admin__field:not(.admin__field-option)>.admin__field-label span[data-config-scope] {
        margin-bottom: 20px;
    }
    .page-wrapper .page-header .page-title-wrapper .page-title{
        font-size: 2.4rem;
    }

    .page-actions-inner .form-inline .admin__field-label {
        text-align: center;
    }

    .page-footer .page-footer-content .footer-legal .copyright{
        width: 100%;
    }
}

.data-grid .data-grid-thumbnail-cell .admin__control-thumbnail {
    height: 50px;
    width: 50px;
}
*********/

/******************Responsive for Mobile*********************/
/******
@media only screen and (max-width:480px){

    .page-main{
        padding-top: 0px !important;
    }
	
    .page-main .page-wrapper .page-content .admin__data-grid-filters-wrap .admin__form-field{
	    width:100% ;
    }

    .admin__grid-massaction .admin__grid-massaction-form {
        margin-bottom: 10px;
    }
    .admin__data-grid-toolbar .admin__grid-massaction{
        float: right;
    }
    .admin__menu .submenu .column {
        display: block;
    }  

    .admin__menu .level-0._show>.submenu{
        min-height: calc(11.5rem + 2rem + 100%);
    }

    .admin__data-grid-toolbar .admin__data-grid-header-row>div{
        margin-left: 0px;
    }
    
    .admin__data-grid-pager{
        margin-left: 0px;
    }

    .action-previous{
        margin-right: 0px;
    }

    .admin__data-grid-pager .admin__control-text{
        width: 10% !important;
    }

    .action-next{
        margin-left: 0px;
    }

    .admin__control-select{
        margin-bottom: 15px;
        float: left;
    }

    #edit_form .admin__legend span{
        font-size: 18px;
    }

    .page-actions-inner .admin__fieldset-wrapper-content .admin__field-label{
        margin-left: 10px;
    }

    #add_new_product-button{
        margin-right: 15px !important;
    }

    .admin__data-grid-filters-footer .admin__footer-main-actions{
        margin-left: 0px;
    }

    button{
        width: 100%;
    }

    .admin__field _required{
        width: 100%;
    }
    .admin__field:not(.admin__field-option)>.admin__field-label{
        width: 100% !important;
        margin-left: 30px;
        text-align: left;
        padding-left: 0px !important;
    }
    .admin__fieldset>.admin__field>.admin__field-control{
        width: 95%;
        float: none;
    }

    .admin__field:not(.admin__field-option)>.admin__field-label span[data-config-scope]:before{
        min-width: 0px;
    }

    .admin__field.admin__field-small>.admin__field-control{
        width: 100% !important;
    }

    .dashboard-main .dashboard-data td{
        white-space: normal;
    }
    
    #cache_grid_massaction{
        width: 100%;
    }

    .order-account-information-table td{
        text-align: left;
    }

    .page-footer {
        font-size: 10px;
        padding: 0px;
    }

    .page-footer .page-footer-content .footer-legal p{
        text-align: right;
    }
}
*******/

/****** FAQ *******/
.admin__field {overflow: hidden;}
.admin__field>.admin__field-label { width: calc( (100%) * .25 - 30px ); float: left; margin-left: 30px; }
.admin__field>.admin__field-control { width: calc( (100%) * .5 - 30px ); float: left; margin-left: 30px; }