.block-order-details-view {
    padding: 10px 20px;
    border: 1px solid #d7d7d7;
}
.order-items div{
    padding: 10px;
}
.block-title>strong{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 300 !important;
    line-height: 1.1;
}
.block{
    margin-top: 30px;
}
.box{
margin-bottom:20px;
}
.table-wrapper{
    background:#fff;
    padding: 10px 20px;
    border: 1px solid #d7d7d7;
}

.price,.qty{
    text-align: center !important;
}
