<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$grid = $objectManager->get("Magento\Checkout\Block\Cart\Grid");
$authorizationLink = $objectManager->get("Override\Customer\Block\Account\AuthorizationLink");

$checkoutUrl = "";
if ($authorizationLink->isLoggedIn()){
	$checkoutUrl = $block->getUrl(). "onestepcheckout";
} else {
	$checkoutUrl = $block->getUrl(). "customer/account/login/";
}
?>
<div class="cart sidebar actions">
	<?php if ($block->isPossibleOnepageCheckout()):?>
	    <!-- <button type="button"
	            data-role="proceed-to-checkout"
	            title="<?php /* @escapeNotVerified */ echo __('Proceed to Checkout') ?>"
	            data-mage-init='{"Magento_Checkout/js/proceed-to-checkout":{"checkoutUrl":"<?php /* @escapeNotVerified */ echo $block->getCheckoutUrl(); ?>"}}'
	            class="action primary checkout<?php echo($block->isDisabled()) ? ' disabled' : ''; ?>"
	            onclick="window.location.href = '<?php echo $block->getUrl(); ?>/onestepcheckout' "
	            <?php if ($block->isDisabled()):?>disabled="disabled"<?php endif; ?>>
	        <span><?php /* @escapeNotVerified */ echo __('Proceed to Checkout') ?></span>
	    </button> -->
	    <button type="button"
	            title="<?php /* @escapeNotVerified */ echo __('Proceed to Checkout') ?>"
	            class="action primary checkout<?php echo($block->isDisabled()) ? ' disabled' : ''; ?>"
	            onclick="window.location.href = '<?php echo $checkoutUrl; ?>' "
	            <?php if ($block->isDisabled()):?>disabled="disabled"<?php endif; ?>>
	        <span><?php /* @escapeNotVerified */ echo __('Proceed to Checkout') ?></span>
	    </button>
	<?php endif?>

	<?php if ($grid->getContinueShoppingUrl()): ?>
	    <a class="action continue"
	       href="<?php echo $grid->escapeUrl($grid->getContinueShoppingUrl()) ?>"
	       title="<?php echo $grid->escapeHtml(__('Continue Shopping')); ?>">
	        <span><?php /* @escapeNotVerified */ echo __('Continue Shopping') ?></span>
	    </a>
	<?php endif; ?>
</div>