<?php
$seller_detail = $block->getSellerDetail();
$user_collection = $block->getCollectionUsers($seller_detail->getData("id_seller_company"));
?>
<script>
    function setLocation(url)
    {
        top.location.href = url;
    }
</script>
<div class="page-wrapper">
   <header class="page-header row">
      <div class="page-header-hgroup col-l-8 col-m-6">
         <div class="page-title-wrapper">
            <h1 class="page-title"><?php echo __("Users's List") ?></h1>
         </div>
      </div>
      <?php echo $this->getChildHtml("header_seller"); ?>
   </header>
   <main id="anchor-content" class="page-content">
   <div class="page-main-actions">
      <div class="page-actions-placeholder"></div>
      <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
         <div class="page-actions-inner" data-title="Users">
            <div class="page-actions-buttons">
               <button id="add" title="Add New User" type="button" class="action-default scalable add primary" onclick="setLocation('<?php echo $block->getUrlAddUser(); ?>')" data-ui-id="adminhtml-user-grid-container-add-button">
               <span><?php echo __('Add New User');?></span>
               </button>
            </div>
         </div>
      </div>
   </div>
   <div id="page:main-container" class="page-columns">
      <div class="admin__old">
         <div id="container" class="main-col">
            <div id="permissionsUserGrid" data-grid-id="permissionsUserGrid">
               <div class="admin__data-grid-header admin__data-grid-toolbar">
                  <div class="admin__data-grid-header-row">
                  </div>
                  <div class="admin__data-grid-header-row">
                     <!-- <div class="admin__filter-actions">
                        <button id="id_eae3d4506b6adc64fd65d04958631c9e" title="Search" type="button" class="action-default scalable action-secondary" onclick="permissionsUserGridJsObject.doFilter()" data-action="grid-filter-apply" data-ui-id="widget-button-1">
                        <span>Search</span>
                        </button>
                        <button id="id_70d7dafb2a86ac2e31ae5babdbbaf10e" title="Reset Filter" type="button" class="action-default scalable action-reset action-tertiary" onclick="permissionsUserGridJsObject.resetFilter()" data-action="grid-filter-reset" data-ui-id="widget-button-0">
                        <span>Reset Filter</span>
                        </button>
                     </div> -->
                     <div class="admin__control-support-text">
                        <span id="permissionsUserGrid-total-count" data-ui-id="adminhtml-user-grid-total-count"><?php echo count($user_collection); ?></span>
                        <?php echo __('records found');?>                      
                        <span id="permissionsUserGrid_massaction-count" class="mass-select-info _empty"><strong data-role="counter">0</strong> <span><?php echo __('selected');?></span></span>
                     </div>
                     <div class="admin__data-grid-pager-wrap">
                        <select name="limit" id="permissionsUserGrid_page-limit" onchange="permissionsUserGridJsObject.loadByElement(this)" data-ui-id="adminhtml-user-grid-per-page" class="admin__control-select">
                           <option value="20" selected="selected">20
                           </option>
                           <option value="30">30
                           </option>
                           <option value="50">50
                           </option>
                           <option value="100">100
                           </option>
                           <option value="200">200
                           </option>
                        </select>
                        <label for="permissionsUserGrid_page-limit" class="admin__control-support-text"><?php echo __('per page');?></label>
                        <div class="admin__data-grid-pager">
                           <button type="button" class="action-previous disabled"><span><?php echo __('Previous page');?></span></button>
                           <input type="text" id="permissionsUserGrid_page-current" name="page" value="1" class="admin__control-text" onkeypress="permissionsUserGridJsObject.inputPage(event, '1')" data-ui-id="adminhtml-user-grid-current-page">
                           <label class="admin__control-support-text" for="permissionsUserGrid_page-current">
                           of <span>1</span>                            </label>
                           <button type="button" class="action-next disabled"><span><?php echo __('Next page');?></span></button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="admin__data-grid-wrap admin__data-grid-wrap-static">
                  <table class="data-grid" id="permissionsUserGrid_table">
                     <!-- Rendering column set -->
                     <thead>
                        <tr>
                           <th data-sort="user_id" data-direction="asc" class="data-grid-th _sortable not-sort col-id col-user_id"><span>ID</span></th>
                           <th data-sort="username" data-direction="desc" class="data-grid-th _sortable _ascend col-name col-username"><span><?php echo __('User Name');?></span></th>
                           <th data-sort="firstname" data-direction="asc" class="data-grid-th _sortable not-sort col-name col-firstname"><span><?php echo __('First Name');?></span></th>
                           <th data-sort="lastname" data-direction="asc" class="data-grid-th _sortable not-sort col-name col-lastname"><span><?php echo __('Last Name');?></span></th>
                           <th data-sort="email" data-direction="asc" class="data-grid-th _sortable not-sort  col-email"><span><?php echo __('Email');?></span></th>
                           <th data-sort="is_active" data-direction="asc" class="data-grid-th _sortable not-sort col-status last col-is_active"><span><?php echo __('Status');?></span></th>
                        </tr>
                        <tr class="data-grid-filters" data-role="filter-form">
                           <td data-column="user_id" class="col-id col-user_id">
                              <input type="text" name="user_id" id="permissionsUserGrid_filter_user_id" value="" class="input-text admin__control-text no-changes" data-ui-id="widget-grid-column-filter-text-0-filter-user-id">                        
                           </td>
                           <td data-column="username" class="col-name col-username">
                              <input type="text" name="username" id="permissionsUserGrid_filter_username" value="" class="input-text admin__control-text no-changes" data-ui-id="widget-grid-column-filter-text-1-filter-username">                        
                           </td>
                           <td data-column="firstname" class="col-name col-firstname">
                              <input type="text" name="firstname" id="permissionsUserGrid_filter_firstname" value="" class="input-text admin__control-text no-changes" data-ui-id="widget-grid-column-filter-text-2-filter-firstname">                        
                           </td>
                           <td data-column="lastname" class="col-name col-lastname">
                              <input type="text" name="lastname" id="permissionsUserGrid_filter_lastname" value="" class="input-text admin__control-text no-changes" data-ui-id="widget-grid-column-filter-text-3-filter-lastname">                        
                           </td>
                           <td data-column="email" class=" col-email">
                              <input type="text" name="email" id="permissionsUserGrid_filter_email" value="" class="input-text admin__control-text no-changes" data-ui-id="widget-grid-column-filter-text-4-filter-email">                        
                           </td>
                           <td data-column="is_active" class="col-status last col-is_active">
                              <select name="is_active" id="permissionsUserGrid_filter_is_active" data-ui-id="widget-grid-column-filter-select-0-filter-is-active" class="no-changes admin__control-select">
                                 <option value=""></option>
                                 <option value="1"><?php echo __('Active');?></option>
                                 <option value="0"><?php echo __('Inactive');?></option>
                              </select>
                           </td>
                        </tr>
                     </thead>
                     <tbody>
                         <?php $stt = 0 ; ?>
                         <?php foreach($user_collection as $_user){ ?>
                        <?php 
                            $stt++;
                            $id_user = $_user->getData("id_customer");
                            $user = $block->getDetailCustomer($id_user);
                            $first_name = $user->getFirstname();
                            $last_name = $user->getLastname();
                            $email = $user->getData("email");
                            $status = 1;
                        ?>
                        <tr data-role="row" title="" class="even _clickable">
                           <td data-column="user_id" class=" col-id col-user_id  ">
                              <?php echo $stt; ?>                 
                           </td>
                           <td data-column="username" class=" col-name col-username  ">
                              <?php echo $email; ?>                       
                           </td>
                           <td data-column="firstname" class=" col-name col-firstname  ">
                              <?php echo $first_name; ?>               
                           </td>
                           <td data-column="lastname" class=" col-name col-lastname  ">
                              <?php echo $last_name ?>          
                           </td>
                           <td data-column="email" class=" col-email  ">
                              <?php echo $email; ?>                           
                           </td>
                           <td data-column="is_active" class=" col-status col-is_active  last">
                           <?php echo __('Active');?>                            
                           </td>
                        </tr>
                         <?php } ?>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>
</div>