<?php
$seller_detail = $block->getSellerDetail();
$role_collection = $block->getCollectionAcl($seller_detail->getData("id_seller_company"));
?>
<script>
    function setLocation(url)
    {
        top.location.href = url;
    }
</script>
<div class="page-wrapper">
   <header class="page-header row">
      <div class="page-header-hgroup col-l-8 col-m-6">
         <div class="page-title-wrapper">
            <h1 class="page-title"><?php echo __("Role's List") ?></h1>
         </div>
      </div>
      <?php echo $this->getChildHtml("header_seller"); ?>
   </header>
   <main id="anchor-content" class="page-content">
   <div class="page-main-actions">
      <div class="page-actions-placeholder"></div>
      <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
         <div class="page-actions-inner" data-title="Roles">
            <div class="page-actions-buttons">
               <button id="add" title="Add New Role" type="button" class="action-default scalable add primary" onclick="setLocation('<?php echo $block->getUrlAddRole(); ?>')" data-ui-id="adminhtml-user-role-container-add-button">
               <span> <?php echo __("Add New Role"); ?></span>
               </button>
            </div>
         </div>
      </div>
   </div>
   <div id="page:main-container" class="page-columns">
      <div class="admin__old">
         <div id="container" class="main-col">
            <div id="roleGrid" data-grid-id="roleGrid">
               <div class="admin__data-grid-header admin__data-grid-toolbar">
                  <div class="admin__data-grid-header-row">
                  </div>
                  <div class="admin__data-grid-header-row">
                    <!--  <div class="admin__filter-actions"><button id="id_f398a6317ba22a75df82805de7250b7f" title="Search" type="button" class="action-default scalable action-secondary" onclick="roleGridJsObject.doFilter()" data-action="grid-filter-apply" data-ui-id="widget-button-1">
                       <span>Search</span>
                       </button>
                       <button id="id_31a11473afb7168e3d2ade3b4c16028b" title="Reset Filter" type="button" class="action-default scalable action-reset action-tertiary" onclick="roleGridJsObject.resetFilter()" data-action="grid-filter-reset" data-ui-id="widget-button-0">
                       <span>Reset Filter</span>
                       </button>
                    </div> -->
                     <div class="admin__control-support-text">
                        <span id="roleGrid-total-count" data-ui-id="adminhtml-role-grid-total-count">
                        <?php echo count($role_collection); ?></span> <?php echo __("records found"); ?>
                        <span id="roleGrid_massaction-count" class="mass-select-info _empty">
                            <strong data-role="counter">0</strong> 
                            <span><?php echo __("selected"); ?></span>
                        </span>
                     </div>
                     <div class="admin__data-grid-pager-wrap">
                        <select name="limit" id="roleGrid_page-limit" onchange="roleGridJsObject.loadByElement(this)" data-ui-id="adminhtml-role-grid-per-page" class="admin__control-select">
                           <option value="20" selected="selected">20
                           </option>
                           <option value="30">30
                           </option>
                           <option value="50">50
                           </option>
                           <option value="100">100
                           </option>
                           <option value="200">200
                           </option>
                        </select>
                        <label for="roleGrid_page-limit" class="admin__control-support-text"><?php echo __("per page"); ?></label>
                        <div class="admin__data-grid-pager">
                           <button type="button" class="action-previous disabled"><span><?php echo __("Previous page"); ?></span></button>
                           <input type="text" id="roleGrid_page-current" name="page" value="1" class="admin__control-text" onkeypress="roleGridJsObject.inputPage(event, '1')" data-ui-id="adminhtml-role-grid-current-page">
                           <label class="admin__control-support-text" for="roleGrid_page-current">
                           <?php echo __("of"); ?> <span>1</span>                            </label>
                           <button type="button" class="action-next disabled"><span><?php echo __("Next page"); ?></span></button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="admin__data-grid-wrap admin__data-grid-wrap-static">
                  <table class="data-grid" id="roleGrid_table">
                     <!-- Rendering column set -->
                     <thead>
                        <tr>
                           <th data-sort="role_id" data-direction="desc" class="data-grid-th _sortable _ascend col-id col-role_id"><span>ID</span></th>
                           <th data-sort="role_name" data-direction="asc" class="data-grid-th _sortable not-sort last col-role_name"><span><?php echo __("Role"); ?></span></th>
                        </tr>
                        <tr class="data-grid-filters" data-role="filter-form">
                           <td data-column="role_id" class="col-id col-role_id">
                              <input type="text" name="role_id" id="roleGrid_filter_role_id" value="" class="input-text admin__control-text no-changes" data-ui-id="widget-grid-column-filter-text-0-filter-role-id">                        
                           </td>
                           <td data-column="role_name" class="last col-role_name">
                              <input type="text" name="role_name" id="roleGrid_filter_role_name" value="" class="input-text admin__control-text no-changes" data-ui-id="widget-grid-column-filter-text-1-filter-role-name">                        
                           </td>
                        </tr>
                     </thead>
                     <tbody>
                         <?php
                         $stt = 0;
                         foreach($role_collection as $_role){
                             $name_role = $_role->getData("acl_name");
                             $stt++;
                             $id = $_role->getData("id_account_acl");
                          ?>
                                <tr data-role="row" title="" class="even _clickable" onclick="setLocation('<?php echo $block->getUrlEditRole($id); ?>')">
                                <td data-column="role_id" class=" col-id col-role_id  ">
                                    <?php echo $stt; ?>      
                                </td>
                                <td data-column="role_name" class=" col-role_name  last">
                                    <?php echo  $name_role; ?>                         
                                </td>
                                </tr>
                         <?php } ?>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>
</div>