<?php
$seller_detail = $block->getSellerDetail();
$role_list = $block->getListRole($seller_detail->getData("id_seller_company"));
?>
<script>
    function setLocation(url)
    {
        top.location.href = url;
    }
</script>
<div class="page-wrapper">
   <header class="page-header row">
      <div class="page-header-hgroup col-l-8 col-m-6">
         <div class="page-title-wrapper">
            <h1 class="page-title"><?php echo __("Add New User") ?></h1>
         </div>
      </div>
      <?php echo $this->getChildHtml("header_seller"); ?>
   </header>
   <main id="anchor-content" class="page-content">
   <div class="page-main-actions">
      <div class="page-actions-placeholder" style=""></div>
      <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
         <div class="page-actions-inner" data-title="New User">
            <div class="page-actions-buttons">
               <button id="back" title="Back" type="button" class="action-default scalable back" onclick="setLocation('<?php echo $block->getBackAction(); ?>')" data-ui-id="adminhtml-user-edit-back-button">
               <span><?php echo __("Back"); ?></span>
               </button>
               <button id="reset" title="Reset" type="button" class="action-default scalable reset" onclick="setLocation(window.location.href)" data-ui-id="adminhtml-user-edit-reset-button">
               <span><?php echo __("Reset"); ?></span>
               </button>
               <button id="save" title="Save User" type="button" class="action-default scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" data-ui-id="adminhtml-user-edit-save-button" role="button" aria-disabled="false"><span class="ui-button-text">
               <span><?php echo __("Save User"); ?></span>
               </span></button>
            </div>
         </div>
      </div>
   </div>
   <div id="page:main-container" class="page-columns">
      <div id="container" class="main-col">
         <div class="admin__scope-old">
            <div class="entry-edit form-inline">
               <form id="edit_form" action="<?php echo $block->getSaveUser(); ?>" method="post" novalidate="novalidate">
                  <div><input name="form_key" type="hidden" value="Uyf4bw8oLpGEqifM"></div>
                  <div><input name="id_seller" type="hidden" value="<?php echo $seller_detail->getData("id_seller_company"); ?>"></div>
                  <div id="page_tabs_main_section_content" style="" data-ui-id="adminhtml-user-edit-tabs-tab-content-main-section" aria-labelledby="page_tabs_main_section" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true" aria-hidden="false">
                     <div class="entry-edit form-inline">
                        <fieldset class="fieldset admin__fieldset " id="user_base_fieldset">
                           <legend class="admin__legend legend">
                              <span><?php echo __("Account Information"); ?></span>
                           </legend>
                           <br>
                           <div class="messages">
                           </div>
                           <div class="admin__field field field-firstname  required _required" data-ui-id="user-edit-tab-main-0-fieldset-element-form-field-firstname">
                              <label class="label admin__field-label" for="user_firstname" data-ui-id="user-edit-tab-main-0-fieldset-element-text-firstname-label"><?php echo __("First Name"); ?></span></label>
                              <div class="admin__field-control control">
                                 <input id="user_firstname" name="firstname" data-ui-id="user-edit-tab-main-0-fieldset-element-text-firstname" value="" title="First Name" type="text" class=" input-text admin__control-text required-entry _required" aria-required="true">                            
                              </div>
                           </div>
                           <div class="admin__field field field-lastname  required _required" data-ui-id="user-edit-tab-main-0-fieldset-element-form-field-lastname">
                              <label class="label admin__field-label" for="user_lastname" data-ui-id="user-edit-tab-main-0-fieldset-element-text-lastname-label"><span><?php echo __("Last Name"); ?></span></label>
                              <div class="admin__field-control control">
                                 <input id="user_lastname" name="lastname" data-ui-id="user-edit-tab-main-0-fieldset-element-text-lastname" value="" title="Last Name" type="text" class=" input-text admin__control-text required-entry _required" aria-required="true">                            
                              </div>
                           </div>
                           <div class="admin__field field field-email  required _required" data-ui-id="user-edit-tab-main-0-fieldset-element-form-field-email">
                              <label class="label admin__field-label" for="user_email" data-ui-id="user-edit-tab-main-0-fieldset-element-text-email-label"><span><?php echo __("Email"); ?></span></label>
                              <div class="admin__field-control control">
                                 <input id="user_email" name="email" data-ui-id="user-edit-tab-main-0-fieldset-element-text-email" value="" title="User Email" class="required-entry validate-email input-text admin__control-text required-entry _required" type="text" aria-required="true">                            
                              </div>
                           </div>
                           <div class="admin__field field field-password  required _required" data-ui-id="user-edit-tab-main-0-fieldset-element-form-field-password">
                              <label class="label admin__field-label" for="user_password" data-ui-id="user-edit-tab-main-0-fieldset-element-password-password-label"><span><?php echo __("Password"); ?></span></label>
                              <div class="admin__field-control control">
                                 <input id="user_password" name="password" data-ui-id="user-edit-tab-main-0-fieldset-element-password-password" value="" title="Password" class="input-text validate-admin-password required-entry input-text required-entry _required" type="password" aria-required="true">                            
                              </div>
                           </div>
                           <div class="admin__field field field-confirmation  required _required" data-ui-id="user-edit-tab-main-0-fieldset-element-form-field-confirmation">
                              <label class="label admin__field-label" for="user_confirmation" data-ui-id="user-edit-tab-main-0-fieldset-element-password-password-confirmation-label"><span><?php echo __("ROLE"); ?></span></label>
                              <div class="admin__field-control control">
                                <select name="role_list" title="Account Status" class="input-select select admin__control-select" data-ui-id="user-edit-tab-main-0-fieldset-element-select-is-active">
                                    <?php foreach($role_list as $_role){ ?>
                                    <option value="<?php echo $_role->getId(); ?>"><?php echo $_role->getData("acl_name"); ?></option>
                                    <?php } ?>
                                </select>
                              </div>
                           </div>
                           <div class="admin__field field field-is_active " data-ui-id="user-edit-tab-main-0-fieldset-element-form-field-is-active">
                              <label class="label admin__field-label" for="user_is_active" data-ui-id="user-edit-tab-main-0-fieldset-element-select-is-active-label"><span><?php echo __("This account is"); ?></span></label>
                              <div class="admin__field-control control">
                                 <select id="user_is_active" name="is_active" title="Account Status" class="input-select select admin__control-select" data-ui-id="user-edit-tab-main-0-fieldset-element-select-is-active">
                                    <option value="1" selected="selected"><?php echo __("Active"); ?></option>
                                    <option value="0"><?php echo __("Inactive"); ?></option>
                                 </select>
                              </div>
                           </div>
                           <input id="user_user_roles" name="user_roles" data-ui-id="user-edit-tab-main-0-fieldset-element-hidden-user-roles" value="" type="hidden">    
                        </fieldset>
                        <!--<fieldset class="fieldset admin__fieldset " id="user_current_user_verification_fieldset">
                           <legend class="admin__legend legend">
                              <span>Current User Identity Verification</span>
                           </legend>
                           <br>
                           <div class="messages">
                           </div>
                           <div class="admin__field field field-current_password  required _required" data-ui-id="user-edit-tab-main-0-fieldset-element-form-field-current-password">
                              <label class="label admin__field-label" for="user_current_password" data-ui-id="user-edit-tab-main-0-fieldset-element-password-current-password-label"><span>Your Password</span></label>
                              <div class="admin__field-control control">
                                 <input id="user_current_password" name="current_password" data-ui-id="user-edit-tab-main-0-fieldset-element-password-current-password" value="" title="Your Password" class="input-text validate-current-password required-entry input-text required-entry _required" type="password" aria-required="true">                            
                              </div>
                           </div>
                        </fieldset>-->
                     </div>
                  </div>
                  <div id="page_tabs_roles_section_content" style="display:none;" data-ui-id="adminhtml-user-edit-tabs-tab-content-roles-section" aria-labelledby="page_tabs_roles_section" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true">
                     <div id="permissionsUserRolesGrid" data-grid-id="permissionsUserRolesGrid">
                        <div class="admin__data-grid-header admin__data-grid-toolbar">
                           <div class="admin__data-grid-header-row">
                           </div>
                           <div class="admin__data-grid-header-row ">
                              <div class="admin__filter-actions"><button id="id_421e585c833db368776e033e897c0037" title="Search" type="button" class="action-default scalable action-secondary" onclick="permissionsUserRolesGridJsObject.doFilter()" data-action="grid-filter-apply" data-ui-id="widget-button-4">
                                 <span><?php echo __("Search"); ?></span>
                                 </button>
                                 <button id="id_cdb8225dff49f6d99b662e097c21c640" title="Reset Filter" type="button" class="action-default scalable action-reset action-tertiary" onclick="permissionsUserRolesGridJsObject.resetFilter()" data-action="grid-filter-reset" data-ui-id="widget-button-3">
                                 <span><?php echo __("Reset Filter"); ?></span>
                                 </button>
                              </div>
                              <div class="admin__control-support-text">
                                 <span id="permissionsUserRolesGrid-total-count" data-ui-id="user-roles-grid-total-count">
                                 2                        </span>
                                 records found                    <span id="permissionsUserRolesGrid_massaction-count" class="mass-select-info _empty"><strong data-role="counter">0</strong> <span>selected</span></span>
                              </div>
                              <div class="admin__data-grid-pager-wrap">
                                 <select name="limit" id="permissionsUserRolesGrid_page-limit" onchange="permissionsUserRolesGridJsObject.loadByElement(this)" class="admin__control-select">
                                    <option value="20" selected="selected">20
                                    </option>
                                    <option value="30">30
                                    </option>
                                    <option value="50">50
                                    </option>
                                    <option value="100">100
                                    </option>
                                    <option value="200">200
                                    </option>
                                 </select>
                                 <label for="permissionsUserRolesGridpermissionsUserRolesGrid_page-limit" class="admin__control-support-text">per page</label>
                                 <div class="admin__data-grid-pager">
                                    <button type="button" class="action-previous disabled"><span><?php echo __("Previous page"); ?></span></button>
                                    <input type="text" id="permissionsUserRolesGrid_page-current" name="page" value="1" class="admin__control-text" onkeypress="permissionsUserRolesGridJsObject.inputPage(event, '1')" data-ui-id="user-roles-grid-current-page">
                                    <label class="admin__control-support-text" for="permissionsUserRolesGrid_page-current">
                                    <?php echo __("of"); ?> <span>1</span>                        </label>
                                    <button type="button" class="action-next disabled"><span><?php echo __("Next page"); ?></span></button>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="admin__data-grid-wrap admin__data-grid-wrap-static">
                           <table class="data-grid" id="permissionsUserRolesGrid_table">
                              <thead>
                                 <tr>
                                    <th data-sort="assigned_user_role" data-direction="asc" class="data-grid-th _sortable not-sort data-grid-actions-cell col-assigned_user_role"><span><?php echo __("Assigned"); ?></span></th>
                                    <th data-sort="role_name" data-direction="asc" class="data-grid-th _sortable not-sort  col-role_name"><span><?php echo __("Role"); ?></span></th>
                                 </tr>
                                 <tr class="data-grid-filters" data-role="filter-form">
                                    <td data-column="assigned_user_role" class="data-grid-actions-cell col-assigned_user_role">
                                       <select name="assigned_user_role" id="permissionsUserRolesGrid_filter_assigned_user_role" data-ui-id="widget-grid-column-filter-radio-0-filter-assigned-user-role" class="no-changes admin__control-select">
                                          <option value=""><?php echo __("Any"); ?></option>
                                          <option value="1"><?php echo __("Yes"); ?></option>
                                          <option value="0"><?php echo __("No"); ?></option>
                                       </select>
                                    </td>
                                    <td data-column="role_name" class=" col-role_name">
                                       <input type="text" name="role_name" id="permissionsUserRolesGrid_filter_role_name" value="" class="input-text admin__control-text no-changes" data-ui-id="widget-grid-column-filter-text-0-filter-role-name">                            
                                    </td>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr title="#" class="even">
                                    <td class="a-center col-assigned_user_role                                        ">
                                       <input type="radio" name="roles[]" value="1" class="radio">                                
                                    </td>
                                    <td class=" col-role_name                                        ">
                                    <?php echo __("Administrators"); ?>                               
                                    </td>
                                 </tr>
                                 <tr title="#">
                                    <td class="a-center col-assigned_user_role                                        ">
                                       <input type="radio" name="roles[]" value="3" class="radio">                                
                                    </td>
                                    <td class=" col-role_name                                        ">
                                    <?php echo __("sale"); ?>                                
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
            <script>
               require([
                   'jquery',
                   'mage/backend/form',
                   'mage/backend/validation'
               ], function($){
               
                   /*$('#edit_form').form()
                       .validation({
                           validationUrl: 'http://dev.wisiproduction.com/admin/admin/user/validate/key/97262908491edf2bb50ffbf503b122206ba46106e548ce5debd585ecebe529fa/',
                           highlight: function(element) {
                               var detailsElement = $(element).closest('details');
                               if (detailsElement.length && detailsElement.is('.details')) {
                                   var summaryElement = detailsElement.find('summary');
                                   if (summaryElement.length && summaryElement.attr('aria-expanded') === "false") {
                                       summaryElement.trigger('click');
                                   }
                               }
                               $(element).trigger('highlight.validate');
                           }
                       });*/
                       $("#save").click(function(){
                            $("#edit_form").submit();
                       });
               });
            </script>
         </div>
      </div>
      <div id="page:left" class="side-col" style="display:none">
         <div class="admin__page-nav ui-tabs ui-widget ui-widget-content ui-corner-all" data-role="container" id="page_tabs">
            <div class="admin__page-nav-title" data-role="title" data-ui-id="adminhtml-user-edit-tabs-title">
               <strong>User Information</strong>
               <span data-role="title-messages" class="admin__page-nav-title-messages"></span>
            </div>
            <ul data-ui-id="adminhtml-user-edit-tabs-tab-page-tabs" class="tabs admin__page-nav-items ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
               <li class="admin__page-nav-item ui-state-default ui-corner-top ui-tabs-active ui-state-active" data-ui-id="adminhtml-user-edit-tabs-tab-item-main-section" role="tab" tabindex="0" aria-controls="page_tabs_main_section_content" aria-labelledby="page_tabs_main_section" aria-selected="true">
                  <a href="#page_tabs_main_section_content" id="page_tabs_main_section" name="main_section" title="User Info" class="admin__page-nav-link tab-item-link   ui-tabs-anchor" data-tab-type="" data-ui-id="adminhtml-user-edit-tabs-tab-link-main-section" role="presentation" tabindex="-1">
                  <span><?php echo __("User Info"); ?></span>
                  <span class="admin__page-nav-item-messages" data-role="item-messages">
                  <span class="admin__page-nav-item-message _changed">
                  <span class="admin__page-nav-item-message-icon"></span>
                  <span class="admin__page-nav-item-message-tooltip">
                  <?php echo __("Changes have been made to this section that have not been saved."); ?>                           </span>
                  </span>
                  <span class="admin__page-nav-item-message _error">
                  <span class="admin__page-nav-item-message-icon"></span>
                  <span class="admin__page-nav-item-message-tooltip">
                  <?php echo __("This tab contains invalid data. Please resolve this before saving."); ?>                           </span>
                  </span>
                  <span class="admin__page-nav-item-message-loader">
                  <span class="spinner">
                  <span></span><span></span><span></span><span></span>
                  <span></span><span></span><span></span><span></span>
                  </span>
                  </span>
                  </span>
                  </a>
               </li>
               <li class="admin__page-nav-item ui-state-default ui-corner-top" data-ui-id="adminhtml-user-edit-tabs-tab-item-roles-section" role="tab" tabindex="-1" aria-controls="page_tabs_roles_section_content" aria-labelledby="page_tabs_roles_section" aria-selected="false">
                  <a href="#page_tabs_roles_section_content" id="page_tabs_roles_section" name="roles_section" title="User Role" class="admin__page-nav-link tab-item-link   ui-tabs-anchor" data-tab-type="" data-ui-id="adminhtml-user-edit-tabs-tab-link-roles-section" role="presentation" tabindex="-1">
                  <span><?php echo __("User Role"); ?></span>
                  <span class="admin__page-nav-item-messages" data-role="item-messages">
                  <span class="admin__page-nav-item-message _changed">
                  <span class="admin__page-nav-item-message-icon"></span>
                  <span class="admin__page-nav-item-message-tooltip">
                  <?php echo __("Changes have been made to this section that have not been saved."); ?>                            </span>
                  </span>
                  <span class="admin__page-nav-item-message _error">
                  <span class="admin__page-nav-item-message-icon"></span>
                  <span class="admin__page-nav-item-message-tooltip">
                  <?php echo __("This tab contains invalid data. Please resolve this before saving."); ?>                            </span>
                  </span>
                  <span class="admin__page-nav-item-message-loader">
                  <span class="spinner">
                  <span></span><span></span><span></span><span></span>
                  <span></span><span></span><span></span><span></span>
                  </span>
                  </span>
                  </span>
                  </a>
               </li>
            </ul>
         </div>
         <script>
            require(['jquery',"mage/backend/tabs"], function($){
                $(function() {
                    $('#page_tabs').tabs({
                        active: 'page_tabs_main_section',
                        destination: '#edit_form',
                        shadowTabs: [],
                        tabsBlockPrefix: 'page_tabs_',
                        tabIdArgument: 'active_tab'
                    });
                });
            });
         </script>
      </div>
   </div>
</main>
</div>