<?php
$seller_detail = $block->getSellerDetail();
//$question_detail = $block->getDetailQuestion();
//$role_list = $block->getListRole($seller_detail->getData("id_seller_company"));
/*$sender_name = $question_detail->getSender();
$content_question = $question_detail->getData("content_question");
$id_faq = $question_detail->getId();
$provider_name = $question_detail->getData("provider_name");
$product_sku = $question_detail->getData("product_sku");
$product_name = $question_detail->getData("product_name");
$provider_id = $question_detail->getData("provider_id");
$answer =  $question_detail->getData("answer");
$parent_question = $question_detail->getData("parent_question");
$content_answer = "";
$is_answered = false;
if($parent_question != ""){
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $modelFAQ = $objectManager->get("\Libero\Customer\Model\Faq");
    $data_answer = $modelFAQ->load($parent_question);
    $content_answer = $data_answer->getData("content_question");
    $is_answered = true;
}*/
$list_faq = $block->getDetailRoom();
$id_room = -1;
$provider_name = "";
$product_name = "";
$product_sku = "";
$provider_id = "";
$sender_name = "No name";
if(count($list_faq) > 0){
    $sender_name = $list_faq->getFirstItem()->getData("sender");
    $id_room = $list_faq->getFirstItem()->getData("id_room");
    $provider_name = $list_faq->getFirstItem()->getData("provider_name");
    $product_name = $list_faq->getFirstItem()->getData("product_name");
    $product_sku = $list_faq->getFirstItem()->getData("product_sku");
    $provider_id = $list_faq->getFirstItem()->getData("provider_id");
}
?>
<script>
    function setLocation(url)
    {
        top.location.href = url;
    }
</script>
<div class="page-wrapper">
   <header class="page-header row">
      <div class="page-header-hgroup col-l-8 col-m-6">
         <div class="page-title-wrapper">
            <h1 class="page-title"><?php echo __("Answer The Question") ?></h1>
         </div>
      </div>
      <?php echo $this->getChildHtml("header_seller"); ?>
   </header>
   <main id="anchor-content" class="page-content">
   <div class="page-main-actions">
      <div class="page-actions-placeholder" style=""></div>
      <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
         <div class="page-actions-inner" data-title="New User">
            <div class="page-actions-buttons">
               <button id="back" title="Back" type="button" class="action-default scalable back" onclick="setLocation('<?php echo $block->getBackUrl(); ?>')" data-ui-id="adminhtml-user-edit-back-button">
               <span><?php echo __("Back"); ?></span>
               </button>
               <button id="save" title="Save User" type="button" class="action-default scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" data-ui-id="adminhtml-user-edit-save-button" role="button" aria-disabled="false"><span class="ui-button-text">
                    <span><?php echo __("Submit Answer"); ?></span>
                    </span>
               </button>
            </div>
         </div>
      </div>
   </div>
   <div id="page:main-container" class="page-columns">
      <div id="container" class="main-col">
         <div class="admin__scope-old">
            <div class="entry-edit form-inline">
               <form id="edit_form" action="<?php echo $block->getSaveFaq(); ?>" method="post" novalidate="novalidate">
                  <div>
                    <input name="id_room" type="hidden" value="<?php echo $id_room; ?>">
                    <input name="sender" type="hidden" value="<?php echo $provider_name; ?>">
                    <input name="product_sku" type="hidden" value="<?php echo $product_sku; ?>">
                    <input name="product_name" type="hidden" value="<?php echo $product_name; ?>">
                    <input name="provider_id" type="hidden" value="<?php echo $provider_id; ?>">
                  </div>
                  <div id="page_tabs_main_section_content" style="" data-ui-id="adminhtml-user-edit-tabs-tab-content-main-section" aria-labelledby="page_tabs_main_section" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true" aria-hidden="false">
                     <div class="entry-edit form-inline">
                        <fieldset class="fieldset admin__fieldset " id="user_base_fieldset">
                           <legend class="admin__legend legend">
                              <span><?php echo __("History Q&A"); ?></span>
                           </legend>
                           <br>
                           <?php ?>
                           <?php foreach($list_faq as $_faq){ ?>
                           <?php 
                                $sender_name = $_faq["sender"];
                                $id_faq = $_faq["id_faq"];
                            ?>
                                <div class="admin__field">
                                    <label class="admin__field-label">
                                        <span><?php echo __("Sender Name");?></span>
                                    </label>
                                    <div class="admin__field-control">
                                        <input name="sender_name" data-ui-id="user-edit-tab-main-0-fieldset-element-text-firstname" value="<?php echo $sender_name; ?>" title="Sender Name" type="hidden" class=" input-text admin__control-text required-entry _required" aria-required="true">
                                        <p class="line-h32 m-0"><?php echo $sender_name; ?></p>
                                    </div>
                                </div>
                            <?php 
                                $content_question = $_faq["content_question"];
                                $parent_question = $_faq["parent_question"];
                                //get answer here
                                $array_answer_data = array();
                                $array_answer_data["is_have"] = false;
                                $array_answer_data["data"] = "";
                                if($parent_question != ""){
                                    $answer_data = $block->getAnswer($parent_question);
                                    $array_answer_data["is_have"] = true;
                                    $array_answer_data["data"] = $answer_data->getData("content_question");
                                }
                            ?>
                            <div class="admin__field">
                                <label class="admin__field-label">
                                <span><?php echo __("Question");?></span>
                                </label>
                                <div class="admin__field-control">
                                    <textarea readonly  
                                    id="question" 
                                    name="question" 
                                    cols="5" 
                                    rows="3"><?php echo $content_question; ?></textarea>
                                </div>
                            </div>
                            <div class="admin__field">
                                <label class="admin__field-label">
                                <span><?php echo __("Answer");?></span>
                                </label>
                                <div class="admin__field-control">
                                    <?php if($parent_question == ""){ ?>
                                        <input name="faq_children[]" type="hidden" value="<?php echo $id_faq; ?>">
                                        <textarea  
                                        name="reply[<?php echo $id_faq; ?>][]" 
                                        cols="5" 
                                        rows="3" class="answer-class"><?php echo $array_answer_data["data"]; ?></textarea>
                                    <?php }else{ ?>
                                    <p><?php echo $array_answer_data["data"]; ?></p>
                                    <?php } ?>
                                </div>
                            </div>
                            <?php } ?>
                        </fieldset>
                     </div>
                  </div>
               </form>
            </div>
            <script>
               require([
                   'jquery',
                   'mage/backend/form',
                   'mage/backend/validation'
               ], function($){
                    $("#save").click(function(){
                        var catchError = false;
                        var count_not_answer = $(".answer-class").length;
                        var i = 0;
                        for(i = 0; i < count_not_answer ; i++){
                            var value_answer = $($(".answer-class")[i]).val();
                            if(value_answer == ""){
                                catchError = true;
                                break;
                            }
                        }
                        if(catchError == true){
                            alert("Xin vui lòng trả lời hết câu hỏi của khách hàng");
                            return;
                        }
                        if(catchError == false){
                            $("#edit_form").submit();
                        }
                    });
               });
            </script>
         </div>
      </div>
   </div>
</main>
</div>