<?php
/** @var Libero\Customer\Block\Seller\Admin\Order $block */

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');
$result = $block->getBalanceList();

$balances = $result['listRecords'];
$status = $result["status"];
if($status=="") {$status = "-1";}
$date_from = $result["date_from"];
$date_to = $result["date_to"];

/* paging */
$pageSize = $result["pageSize"] ? $result["pageSize"] : 0 ;
$curPage = $result["curPage"] ? $result["curPage"] : 1 ;
$lastPage = $result["lastPage"];
$total = $result["total"];
$firstNumber = $result["firstNumber"];
$lastNumber = (($firstNumber + $pageSize) > $total ) ? $total : $firstNumber + $pageSize - 1 ;
$hasNextPage = false;
$hasPrePage = false;
$maxCountShowPage = 5;
$curRecords = $curPage * $pageSize;

if($curRecords == 0) {
	$curRecords = 1;
} else if($curRecords > $total) {
	$curRecords = $total;
}

if($curPage-3 > 0) { $hasPrePage = true; }
if($curPage < $lastPage){ $hasNextPage = true; }
/* paging:End */

$pending_status_code = "0";
$pending_status = "Pending";
?>
<script>
jQuery(function(){
    var pageSize = <?php echo $pageSize; ?>;
    if(pageSize > 0 ) {
        jQuery("#pageSizeSelect option[value='"+ pageSize +"']").attr("selected","selected");
    }

	var status = "<?php echo $status; ?>";
    if(status != "-1" ) {
        jQuery("#statusSelect option[value='"+ status +"']").attr("selected","selected");
    }
	
});

function fnChangePage(page){
	jQuery("#page").val(page);
	jQuery("#search-form").submit();
}

function fnChangeStatus(status){
	jQuery("#status").val(status);
	jQuery("#search-form").submit();
}

function fnPageSize(size){
	jQuery("#pageSize").val(size);
	var curPage = <?php echo $curPage; ?>;
    var lastPage = <?php echo $lastPage; ?>;
    var total = <?php echo $total; ?>;
    var new_last_page = Math.floor(total / size);
    if((total % size) > 0) {
        new_last_page++;
    }
    if(curPage > new_last_page){
        jQuery("#page").val(new_last_page);
    }
	jQuery("#search-form").submit();
}
</script>

<div class="page-wrapper">
	<header class="page-header row">
		<div class="page-header-hgroup col-l-8 col-m-6">
			<div class="page-title-wrapper">
				<h1 class="page-title"><?php echo __("BALANCE LIST") ?></h1>
			</div>
		</div>
		<?php echo $this->getChildHtml("header_seller"); ?>
	</header>
	<div id="messages-custom"></div>
	<div><input name="form_key" type="hidden" value="5V1EeJI3aCBYhTts"></div>
	<main id="anchor-content" class="page-content">
		<div class="admin__data-grid-header-row">
			<div class="admin__data-grid-filters-wrap _show">
				<form action="<?php echo $block->getUrl('customer/admin/balancelist');  ?>" method="get" id="search-form">
					<fieldset class="admin__fieldset admin__data-grid-filters">
						<div class="admin__form-field">
							<label class="admin__form-field-label pl0" for="SUJCBSP">
							<span><strong><?php echo __("ID"); ?></strong></span>
							</label>
							<div class="admin__form-field-control">
								<input class="admin__control-text w100p" type="text" name="id" placeholder="" aria-describedby="notice-SUJCBSP" id="SUJCBSP" value="<?php echo $result['id']; ?>">
							</div>
						</div>	
						
						<div class="admin__form-field">
							<div class="col-lg-6 col-md-6 col-xs-5">
								<label class="admin__form-field-label pl0">
									<span><strong><?php echo __("From Date") ?></strong></span>
								</label>
								<div class="admin__form-field-control">
									<input type="text" class="input-text required-entry hasDatepicker w100p" id="calendar_inputField" name="date_from" value="<?php echo $result['date_from']; ?>" />
									<label class="admin__field-error invisible" for="FJ8SO3X"><?php echo __("Please input this field."); ?></label>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-xs-5 col-xs-offset-1">
								<label class="admin__form-field-label pl0">
									<span><strong><?php echo __("To Date") ?></strong></span>
								</label>
								<div class="admin__form-field-control">
									<input type="text" class="input-text required-entry hasDatepicker w100p" id="calendar_inputField_To" name="date_to" value="<?php echo $result['date_to']; ?>"/>
									<label class="admin__field-error invisible" for="FJ8SO3X"><?php echo __("Please input this field."); ?></label>
								</div>
							</div>
						</div>
						<div class="admin__form-field">
							<label class="admin__form-field-label pl0" for="L4352A9">
								<span><strong><?php echo __("Payment Status"); ?></strong></span>
							</label>
							<div class="admin__form-field-control">
								<input type="hidden" id="status" name="status" value="<?php echo $status; ?>" />
								<select class="admin__control-select" id="statusSelect" onchange="fnChangeStatus(jQuery(this).val());">
									<option value="-1"><?php echo __("Please select"); ?></option>
									<option value="0"><?php echo __("Pending"); ?></option>
									<option value="1"><?php echo __("Requested"); ?></option>
									<option value="2"><?php echo __("Paid"); ?></option>
									<option value="3"><?php echo __("Reject"); ?></option>
								</select>
							</div>
						</div>
					</fieldset>
					<div class="admin__data-grid-filters-footer">
						<div class="admin__footer-main-actions">
							<button class="action-secondary" type="button" onclick="submitForm();">
								<span><?php echo __("Search"); ?></span>
							</button>
						</div>
						
						<div class="admin__data-grid-pager-wrap row col-lg-12 col-md-12 col-xs-12">
							<div class="col-lg-2 col-md-2 col-xs-2 tl">
								<?php echo __("Total"); ?> : <?php echo $firstNumber; ?> / <?php echo $total; ?>
							</div>
							<div class="paging-list col-lg-9 col-md-9 col-xs-9 tr fr">
								<input type="hidden" id="page" name="page" value="<?php echo $curPage; ?>" />
								<div class="moveToPageField"> <label style="margin: 10px 0; "><?php echo __("Page"); ?> : <input type="text" onkeydown="submitOnEnter(this, event);" /></label><button type="submit" class="action-secondary">Move</button> </div>
								<?php echo __("Page");?> : 
								<ul class="items pages-items" aria-labelledby="paging-label">
									<?php
										
										if(($curPage-2) > 1) { ?>
											<li class="item">
												<button type="button" class="page first first-btn" onclick="fnChangePage('1');">
												<span><i class="fas fa-step-backward"></i></span>
												</button>
											</li>
											<li class="item pages-item-prev">
												<button type="button" class="action  prev" onclick="fnChangePage('<?php echo $curPage-1; ?>');" title="Tiếp theo">
												<span><i class="fas fa-caret-left"></i></span>
												</button>
											</li>
											<li class="item">...</li>
										<?php } else if($hasPrePage) {?>
											<li class="item pages-item-prev">
												<button type="button" class="action  prev" onclick="fnChangePage('<?php echo $curPage-1; ?>');" title="Tiếp theo">
												<span><i class="fas fa-caret-left"></i></span>
												</button>
											</li>
										<?php }

										$page = $curPage-2;
										if($page < 1) { $page = 1; }
										$showedLast = false;
										for ( $page; $page < $lastPage+1; $page++){
											if($maxCountShowPage > 0) {
												if($page == $curPage){ ?>
													<li class="item current">
														<strong class="page">
														<span><?php echo $page; ?></span>
														</strong>
													</li>
												<?php } else {?>
													<li class="item">
														<button type="button" onclick="fnChangePage('<?php echo $page; ?>');" class="page">
														<span><?php echo $page; ?></span>
														</button>
													</li>
												<?php }
												$maxCountShowPage--;
												if($page == $lastPage) {
													$showedLast = true;
												}
											} else { ?>
												<?php break;
											}
										}
									?>

									<?php if($curPage+2 < $lastPage) {
											if(!$showedLast){?>
												<li class="item">...</li>
											<?php }?>
										<li class="item pages-item-next">
											<button type="button" class="action  next" onclick="fnChangePage('<?php echo $curPage+1; ?>');" title="Tiếp theo">
											<span><i class="fas fa-caret-right"></i></span>
											</button>
										</li>
										<?php if(!$showedLast){?>
											<li class="item">
												<button type="button" class="page last last-btn" onclick="fnChangePage('<?php echo $lastPage; ?>');">
												<span><i class="fas fa-step-forward"></i></span>
												</button>
											</li>
										<?php }
									} else if($hasNextPage){?>
										<li class="item pages-item-next">
											<button type="button" class="action  next" onclick="fnChangePage('<?php echo $curPage+1; ?>');" title="Tiếp theo">
											<span><i class="fas fa-caret-right"></i></span>
											</button>
										</li> 
									<?php } ?>
								</ul>
								<div class="d-ib ml30">
									<label class="label" for="limiter">
										<span><?php echo __("Show"); ?></span>
										<input type="hidden" id="pageSize" name="pageSize" value="<?php echo $pageSize; ?>" />
										<select id="pageSizeSelect" class="admin__control-select wa" onchange="fnPageSize(jQuery(this).val());">
											<option value="20">20</option>
											<option value="50">50</option>
											<option value="100">100</option>
										</select>
									</label>
									<span class="limiter-text"><?php echo __("per page"); ?></span>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
    	</div>
		<div id="page:main-container" class="page-columns">
			<div class="admin__old">
				<div id="container" class="main-col">
					<div class="admin__data-grid-header admin__data-grid-toolbar">
						<div class="_massaction admin__data-grid-header-row">
							<div class="admin__grid-massaction">
								<div class="admin__grid-massaction-form">
									<button title="Request Pay Order" class="action-default secondary add m0" onclick="requestPayOrder();" data-ui-id="products-list-add-new-product-button">
										<span><?php echo __("Request Pay Order") ?></span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="admin__data-grid-outer-wrap">
						<div class="admin__data-grid-wrap" data-role="grid-wrapper">
							<table class="data-grid data-grid-draggable" data-role="grid">
								<thead>
									<tr>
										<th class="data-grid-multicheck-cell">
											<input class="admin__control-checkbox chkAll" type="checkbox" id="23">
											<label for="23"></label>
										</th>
										<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("No."); ?></span> </th>
										<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Balance ID"); ?></span> </th>
										<th class="data-grid-th _sortable _draggable _ascend"><span class="data-grid-cell-content"><?php echo __("Completed Date"); ?></span> </th>
										<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Estimate Payday"); ?></span> </th>
										<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Shipping Fee"); ?></span> </th>
										<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Order Value (Excluding VAT)"); ?></span> </th>
										<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("VAT"); ?></span> </th>
										<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Order Value (Purchased)"); ?></span> </th>
										<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Commission"); ?></span> </th>
										<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Real Receive"); ?></span> </th>
										<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Payment Status"); ?></span> </th>
										<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Request Date"); ?></span> </th>
										<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Reply Date"); ?></span> </th>
										<th class="data-grid-th"><span class="data-grid-cell-content"><?php echo __("View Order"); ?></span> </th>
										<th class="data-grid-th"><span class="data-grid-cell-content"><?php echo __("Action"); ?></span> </th>
									</tr>
								</thead>
								<tbody>
									<?php 
									if(count($balances)<=0){ ?>
										<tr class="data-row tc">
											<td colspan="13"><?php echo __("We couldn't find any records."); ?></td>
										</tr>
									<?php } else {
										$countLoop = 0;
                                        foreach($balances as $_balance) {
											//var_dump($_balance);die;
                                            if($countLoop % 2 == 0) { ?>
                                                <tr class="data-row">
                                            <?php } else { ?>
                                                <tr class="data-row _odd-row">
                                            <?php } ?>
                                        
											<td class="data-grid-checkbox-cell">
												<label class="data-grid-checkbox-cell-inner">
													<input class="admin__control-checkbox chkChild" name="id" type="checkbox" data-action="select-row"  id="" value="<?php echo $_balance['id']; ?>">
													<label for=""></label>
												</label>
											</td>
											<td><?php echo $firstNumber + $countLoop; ?></td>
											<td><?php echo $_balance['id']; ?></td>
                                            <td><?php echo date('Y-m-d',strtotime($_balance['complete_date'])); ?></td>
											<td><?php echo date('Y-m-d',strtotime($_balance['estimate_pay_at'])); ?></td>
											<td><?php echo $util->formatPrice($_balance['group_base_shipping_amount']); ?></td>
											<td><?php echo $util->formatPrice($_balance['group_base_subtotal']); ?></td>
											<td><?php echo $util->formatPrice($_balance['group_base_tax_amount']); ?></td>
                                            <td><?php echo $util->formatPrice($_balance['group_total']); ?></td>
                                            <td><?php echo $util->formatPrice($_balance['commision']); ?></td>
                                            <td><?php echo $util->formatPrice($_balance['real_receive']); ?></td>
                                            <td>
												<input type="hidden" id="status_<?php echo $_balance['id']; ?>" value="<?php echo $_balance['status']; ?>" />
												<?php switch ($_balance['status']) {
													case "0":
														echo __("Pending");
														break;
													case "1":
														echo __("Requested");
														break;
													case "2": 
														echo __("Paid");
														break;
													case "3": 
														echo "<span class='base-color'>" . __("Reject") . "</span>";
														break;
													default: break;
												}?>
											</td>
                                            <td><?php if ($_balance['request_at']) {echo date('Y-m-d H:i:s',strtotime($_balance['request_at']));} ?></td>
                                            <td><?php echo $_balance['reply_request_date']; ?></td>
											<td><button type="button" class="action-secondary view-balance" data-balance-id="<?php echo $_balance['id']; ?>"><?php echo __("Detail"); ?></button></td>
											<td>
												<?php if ($_balance['status'] == "0") { 
													$estimate_pay_at = new DateTime($_balance["estimate_pay_at"]);
													$now = new DateTime();
													$compareDate = $now->diff($estimate_pay_at);
													$isShowRequestBtn = false;
													if ($compareDate->invert == 1 || ($compareDate->days == 0)) {
														$isShowRequestBtn = true;
													} else {
														$isShowRequestBtn = false;
													}
													?>
													<?php if ($isShowRequestBtn) { ?>
														<button type="button" class="action-secondary" onclick="requestPayOrder('<?php echo $_balance['id']; ?>', event);"><?php echo __("Request Pay Order"); ?></button>
													<?php } ?>
												<?php } else if ($_balance['status'] == "3") { 
													?>
													<button type="button" class="action-secondary view-cancel-reason" data-order-id="<?php echo $_balance['cancel_pay_balance_reason']; ?>"><?php echo __("View Cancel Reason"); ?></button>
												<?php } ?>
											</td>
                                        </tr>
									<?php $countLoop++; } 
									}
									?>
									
                                </tbody>
							</table>
						</div>
						<!-- /ko --><!-- /ko -->
						<!-- /ko -->
						<!-- /ko -->
					</div>
				</div>
			</div>
		</div>
	</main>
</div>

<script>

/**
 * Name : Nam
 * Date : 22/11/2018
 * Comments : send request balance payment
 * Filename : 
 * Param : balanceId
*/
function requestPayOrder(balanceId = "", evt){
	var balanceIds = "";
	var inInvalid = false;

	if (balanceId != "") {
		if(jQuery("#status_" + balanceId).val() != "<?php echo $pending_status_code; ?>") {
			var msg = "";
			msg += '<div class="messages">';
			msg += '	<div class="message message-error">';
			msg += '		<div id="messages-message-error"><?php echo __("Please select only orders in PENDING status"); ?></div>';
			msg += '	</div>';
			msg += '</div>';
			jQuery("#messages-custom").html(msg);
			inInvalid = true;
			return false;
		} else {
			balanceIds += balanceId + ",";
		}
	} else {
		jQuery("input[name='balanceId']").each(function(){
			if(jQuery(this).is(":checked")){
				var balanceId = jQuery(this).val();
				balanceIds += balanceId + ",";
				if(jQuery("#status_" + balanceId).val() != "<?php echo $pending_status_code; ?>") {
					var msg = "";
					msg += '<div class="messages">';
					msg += '	<div class="message message-error">';
					msg += '		<div id="messages-message-error"><?php echo __("Please select only orders in PENDING status"); ?></div>';
					msg += '	</div>';
					msg += '</div>';
					jQuery("#messages-custom").html(msg);
					inInvalid = true;
					return false;
				}
			}
		});
	}

	if(inInvalid){return;}
	
	if(balanceIds.length>0){
		balanceIds = balanceIds.substr(0,balanceIds.length-1);
		jQuery.ajax({
			url: "<?php echo $block->getUrl(); ?>customer/admin/requestpaybalance/id/" + balanceIds,
			method: "GET",
			success:function(response){
				var json_result = response;
				var messageClass = "error";
				if (json_result.success) {
					messageClass = "notice";
				}
				var message = json_result.msg;
				var msg = "";
				msg += '<div class="messages">';
				msg += '	<div class="message message-' + messageClass + '">';
				msg += '		<div id="messages-message-' + messageClass + '">' + message + '</div>';
				msg += '	</div>';
				msg += '</div>';
				jQuery("#messages-custom").html(msg);
				jQuery(evt.target).remove();
			}
		})
	} else {
		var msg = "";
		msg += '<div class="messages">';
		msg += '	<div class="message message-error">';
		msg += '		<div id="messages-message-error"><?php echo __("Please select the Order you want to send request to pay"); ?></div>';
		msg += '	</div>';
		msg += '</div>';
		jQuery("#messages-custom").html(msg);
	}
}

function submitForm(){
    var validated = true;
    var calendar_inputField = jQuery("#calendar_inputField");
    var calendar_inputField_To = jQuery("#calendar_inputField_To");
    if((calendar_inputField.val() != "" && calendar_inputField_To.val() =="") || (calendar_inputField.val() == "" && calendar_inputField_To.val() !="") ){
        if(calendar_inputField.val() == "") {
            calendar_inputField.next(".admin__field-error").removeClass("invisible");
            calendar_inputField_To.next(".admin__field-error").addClass("invisible");
        } else if(calendar_inputField_To.val() == "") {
            calendar_inputField.next(".admin__field-error").addClass("invisible");
            calendar_inputField_To.next(".admin__field-error").removeClass("invisible");
        }
        validated = false;
    }
    if(validated) {
        jQuery("#search-form").submit();
    }
}

</script>

<script>
	require([
		"jquery",
		"mage/calendar"
	], function ($) {
		$("#calendar_inputField").calendar({
			changeYear: true,
			changeMonth: true,
			inputDateFormat: "y-MM-dd",
			outputDateFormat: "y-MM-dd",
			yearRange: "1970:2050",
			buttonText: "Select Date",
		});
		$("#calendar_inputField_To").calendar({
			changeYear: true,
			changeMonth: true,
			inputDateFormat: "y-MM-dd",
			outputDateFormat: "y-MM-dd",
			yearRange: "1970:2050",
			buttonText: "Select Date",
		});
	});
</script>


<style>
.message:before, .order-errors .admin__fieldset-wrapper .title:before { display:none; }
.message-error {padding: 10px 3rem;}
.message-error:before { display:none; }
.message:before, .order-errors .admin__fieldset-wrapper .title:before { display:none; }
</style>

<script>
function submitOnEnter(obj, event) {
	if (event && event.keyCode == 13) {
		fnChangePage(jQuery(obj).val());
	}
}
</script>


<!-- view cancel reason popup -->
<script type="text/javascript">
    require([
        'jquery',
        'Magento_Ui/js/modal/modal',
        'Magento_Ui/js/modal/alert'
    ], function ($,modal) {
        $(document).ready(function(){
            /**
            * Name : Nam
            * Date : 23/11/2018
            * Comments : show reason
            * Filename : 
            * Param : balanceId
            */
            $(".view-cancel-reason").click(function(){
                let reason = $(this).attr("data-order-id");

                $("#reason").html("");

                var options = {
                    type: 'popup',
                    responsive: true,
                    innerScroll: true,
                    title: '<?php echo __("Cancel Reason") ?>',
                    buttons: [
                        {
                            text: $.mage.__('Close'),
                            class: 'action-primary',
                            click: function () {
                                $("#popup-modal-view-cancel-reason").modal('closeModal');
                            }
                        }
                    ]
                };
                
                $("#popup-modal-view-cancel-reason").modal(options).modal('openModal');
                $("#reason").html(reason);
            });
        });
        
    });
</script>


<div id="popup-modal-view-cancel-reason" style="display: none">
    <div class="block block-dashboard-orders row">
		<div class="block-content">
			<div id="reason"></div>
        </div>
    </div>
</div>
<!-- view cancel reason popup : END -->


<!-- view balance detail popup -->
<script type="text/javascript">
    require([
        'jquery',
        'Magento_Ui/js/modal/modal',
        'Magento_Ui/js/modal/alert'
    ], function ($,modal) {
        $(document).ready(function(){
            /**
            * Name : Nam
            * Date : 23/11/2018
            * Comments : show reason
            * Filename : 
            * Param : balanceId
            */
            $(".view-balance").click(function(){
				$("#balance-list").html("");
				let balanceId = $(this).attr("data-balance-id");
				
				let ajaxUrl = "<?php echo $block->getUrl(); ?>test/balance/balance-detail.php";
				$.ajax({
					url: ajaxUrl,
					method: "POST",
					data: {balanceId},
					success: function(response) {
						let res = JSON.parse(response);
						let html = "";
						if (res.success) {
							let orders = res.data;
							let ordersLength = orders.length;
							for (let i = 0; i < ordersLength; i ++) {
								let order = orders[i];
								if (i % 2 == 0) {
									html += `<tr class="data-row">`;
								} else {
									html += `<tr class="data-row _odd-row">`;
								}
								html += `
									<td>${i}</td>
									<td>${order.increment_id}</td>
									<td>${order.created_at}</td>
									<td>${order.billing_name}</td>
									<td>${order.shipping_name}</td>
									<td>${numberFormat(Math.round(order.base_shipping_amount))}</td>
									<td>${numberFormat(Math.round(order.base_subtotal))}</td>
									<td>${numberFormat(Math.round(order.base_tax_amount))}</td>
									<td>${numberFormat(Math.round(order.grand_total))}</td>
									<td>${order.shipping_description}</td>
									<td>${order.payment_method}</td>
									<td>${order.status_parent}</td>
									<td><a href="<?php echo $block->getUrl('customer/admin/'); ?>orderdetail/order_id/${order.order_id}"><?php echo __("View"); ?></a></td>
								</tr>`;
							}
						}
						$("#balance-list").html(html);
					},
					error: function(err) {
						console.log(err);
					}
				})

                var options = {
                    type: 'popup',
                    responsive: true,
                    innerScroll: true,
                    title: '<?php echo __("Balance Detail") ?>',
                    buttons: [
                        {
                            text: $.mage.__('Close'),
                            class: 'action-primary',
                            click: function () {
                                $("#popup-modal-view-balance").modal('closeModal');
                            }
                        }
                    ]
                };
                
                $("#popup-modal-view-balance").modal(options).modal('openModal');
                
            });
        });
        
    });
</script>

<style>
.modal-popup._inner-scroll .modal-inner-wrap {width: 75%;}
</style>

<div id="popup-modal-view-balance" style="display: none">
    <div class="block block-dashboard-orders row">
		<div class="block-content">
			<table class="data-grid data-grid-draggable">
				<thead>
					<tr data-bind-comment="foreach: {data: getVisible(), as: '$col'}">
						<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("No."); ?></span> </th>
						<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content">ID</span> </th>
						<th class="data-grid-th _sortable _draggable _ascend"><span class="data-grid-cell-content"><?php echo __("Purchase Date"); ?></span> </th>
						<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Bill-to Name"); ?></span> </th>
						<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Ship-to Name"); ?></span> </th>
						<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Shipping Fee"); ?></span> </th>
						<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Order Value (Excluding VAT)"); ?></span> </th>
						<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("VAT"); ?></span> </th>
						<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Order Value (Purchased)"); ?></span> </th>
						<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Shipment Method"); ?></span> </th>
						<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Payment Method"); ?></span> </th>
						<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Status"); ?></span> </th>
						<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Action"); ?></span> </th>
					</tr>
				</thead>
				<tbody id="balance-list">					
				</tbody>
			</table>
        </div>
    </div>
</div>
<!-- view balance detail popup: END -->