<?php
$objectSeller = $block->getSellerDetail();
$id_seller = $objectSeller->getData("id_seller_company");
$name_seller = $objectSeller->getData("store_name");
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');
?>
<div class="page-wrapper">
    <header class="page-header row">
      <div class="page-header-hgroup col-l-8 col-m-6">
         <div class="page-title-wrapper">
            <h1 class="page-title"><?php echo __('Configuration'); ?></h1>
         </div>
      </div>
      <?php echo $this->getChildHtml("header_seller"); ?>
   </header>   
   <main id="anchor-content" class="page-content">
       <div class="page-main-actions">
        <div class="page-actions-inner">
          <!--update seller detail form -->
          <form method="POST" action="<?php echo $block->getUrlSaveSellerDetail(); ?>" name="update-seller-detail" id='seller_detail' enctype='multipart/form-data'>
            <input type="hidden" name="id_seller" value="<?php echo $id_seller; ?>" />
            <div class="entry-edit form-inline">
                <div class="fieldset-wrapper">
                  <div class="admin__fieldset-wrapper-content _hide">
                    <fieldset class="admin__fieldset">
                      <div class="admin__field">
                        <label class="admin__field-label">
                          <span><?php echo __('Logo Image') ?></span>
                        </label>
                        <div class="admin__field-control">
                          <input type="file" name="seller_logo"/>
                          <div class="file-uploader-summary">
                            <div class="file-uploader-preview">
                              <a target="_blank" href="<?php echo $media_url.$objectSeller->getData('logo_url'); ?>">
                                <img class="preview-image" tabindex="0" src="<?php echo $media_url.$objectSeller->getData("logo_url"); ?>">
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <fieldset class="admin__fieldset">
                      <div class="admin__field">
                        <label class="admin__field-label">
                          <span><?php echo __('Banner Image') ?> 1</span>
                        </label>
                        <div class="admin__field-control">
                          <input type="file" name="banner_logo1"/>
                          <div class="file-uploader-summary">
                            <div class="file-uploader-preview w100p">
                              <a target="_blank" href="<?php echo $media_url.$objectSeller->getData('banner_url1'); ?>">
                                <img class="preview-image" tabindex="0" src="<?php echo $media_url.$objectSeller->getData("banner_url1"); ?>">
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="admin__field">
                        <label class="admin__field-label">
                          <span><?php echo __('Banner Image') ?> 2</span>
                        </label>
                        <div class="admin__field-control">
                          <input type="file" name="banner_logo2"/>
                          <div class="file-uploader-summary">
                            <div class="file-uploader-preview w100p">
                                <?php if(count($objectSeller->getData("banner_url2")) >0 ) { ?>
                                    <a target="_blank" href="<?php echo $media_url.$objectSeller->getData('banner_url2'); ?>">
                                        <img class="preview-image" tabindex="0" src="<?php echo $media_url.$objectSeller->getData("banner_url2"); ?>">
                                    </a>
                                <?php } ?>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="admin__field">
                        <label class="admin__field-label">
                          <span><?php echo __('Banner Image') ?> 3</span>
                        </label>
                        <div class="admin__field-control">
                          <input type="file" name="banner_logo3"/>
                          <div class="file-uploader-summary">
                            <div class="file-uploader-preview w100p">
                                <?php if(count($objectSeller->getData("banner_url3")) >0 ) { ?>
                                    <a target="_blank" href="<?php echo $media_url.$objectSeller->getData('banner_url3'); ?>">
                                        <img class="preview-image" tabindex="0" src="<?php echo $media_url.$objectSeller->getData("banner_url3"); ?>">
                                    </a>
                                <?php } ?>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="admin__field">
                        <label class="admin__field-label">
                          <span><?php echo __('Banner Image') ?> 4</span>
                        </label>
                        <div class="admin__field-control">
                          <input type="file" name="banner_logo4"/>
                          <div class="file-uploader-summary">
                            <div class="file-uploader-preview w100p">
                                <?php if(count($objectSeller->getData("banner_url4")) >0 ) { ?>
                                    <a target="_blank" href="<?php echo $media_url.$objectSeller->getData('banner_url4'); ?>">
                                        <img class="preview-image" tabindex="0" src="<?php echo $media_url.$objectSeller->getData("banner_url4"); ?>">
                                    </a>
                                <?php } ?>
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <fieldset class="admin__fieldset">
                      <div class="admin__field">
                        <label class="admin__field-label">
                          <span><?php echo __('Description') ?></span>
                        </label>
                        <div class="admin__field-control">
                          <textarea name="description" class="textarea" rows="7"><?php echo $objectSeller->getData('description'); ?></textarea>
                        </div>
                      </div>
                    </fieldset>
                    <fieldset class="admin__fieldset">
                      <div class="admin__field">
                        <label class="admin__field-label">
                          <span><?php echo __('Company Information') ?></span>
                        </label>
                        <div class="admin__field-control">
                          <div>
                              <div id="editorprovider_company_info" class="admin__control-wysiwig hor-scroll">
                                <div id="buttonsprovider_company_info" class="buttons-set">
                                  <button type="button" class="scalable action-show-hide" style="" id="toggleprovider_company_info">
                                    <span>
                                      <span>
                                        <span><?php echo __("Show / Hide Editor"); ?></span>
                                      </span>
                                    </span>
                                  </button>
                                  <button style="display: inline-block;" type="button" class="scalable action-add-image plugin" id="insert-image-company-info"><span><span><span><?php echo __("Insert Image..."); ?></span></span></span></button>
                                </div>
                                <textarea name="company_info" title="" data-ui-id="affected-attribute-set-form-element-wysiwyg-company-info" id="provider_company_info" class="textarea" rows="20" cols="15"><?php echo $objectSeller->getData('company_info'); ?></textarea>
                                <script type="text/javascript">
                                    //<![CDATA[
                                      openEditorPopup = function(url, name, specs, parent) {
                                      if ((typeof popups == "undefined") || popups[name] == undefined || popups[name].closed) {
                                          if (typeof popups == "undefined") {
                                              popups = new Array();
                                          }
                                        var opener = (parent != undefined ? parent : window);
                                        popups[name] = opener.open(url, name, specs);
                                          } else {
                                           popups[name].focus();
                                          }
                                          return popups[name];
                                          }

                                          closeEditorPopup = function(name) {
                                            if ((typeof popups != "undefined") && popups[name] != undefined && !popups[name].closed) {
                                                popups[name].close();
                                            }
                                        }
                                      //]]>
                                </script>
                                <script type="text/javascript">
                                    //<![CDATA[
                                    window.tinyMCE_GZ = window.tinyMCE_GZ || {};
                                    window.tinyMCE_GZ.loaded = true;
                                    require(["jquery", "mage/translate", "mage/adminhtml/events", "mage/adminhtml/wysiwyg/tiny_mce/setup", "mage/adminhtml/wysiwyg/widget"], function(jQuery) {
                                        (function($) {
                                            $.mage.translate.add({
                                                "Insert Image...": "Insert Image...",
                                                "Insert Media...": "Insert Media...",
                                                "Insert File...": "Insert File..."
                                            })
                                        })(jQuery);
                                        jQuery("#insert-image-company-info").click(function(){
                                            jQuery("#popup-modal-upload-img-company-info").modal(options).modal('openModal');
                                        });
                                        var url = "<?php echo $block->getBaseUrl() . 'customer/admin/uploadimage'; ?>";
                                        var media_url = "<?php echo $media_url; ?>";
                                        jQuery("#image_description").on("change", function () {
                                            var formdata = new FormData();
                                            var file = this.files[0];
                                            formdata.append("image_description", file);
                                            jQuery.ajax({
                                                url: url,
                                                type: "POST",
                                                data: formdata,
                                                processData: false,
                                                contentType: false,
                                                success: function (data) {
                                                    var jsonData = jQuery.parseJSON(data);
                                                    var url = media_url+""+jsonData.url;
                                                    jQuery("#preview-img-description").attr("src",url);
                                                    jQuery("#preview-img-description").show();
                                                    jQuery("#copy-img-description").attr("value",url);
                                                }
                                            });

                                        });
                                        var options = {
                                            type: 'popup',
                                            responsive: true,
                                            innerScroll: true,
                                            title: 'Upload Image',
                                            buttons: [{
                                                text: jQuery.mage.__('Copy'),
                                                class: '',
                                                click: function () {
                                                    var copyText = document.getElementById("copy-img-description");
                                                    copyText.select();
                                                    document.execCommand("Copy");
                                                    this.closeModal();
                                                }
                                            }]
                                        };
                                        wysiwygproduct_company_info = new tinyMceWysiwygSetup("provider_company_info", {
                                            "enabled": true,
                                            "hidden": true,
                                            "use_container": true,
                                            "add_variables": false,
                                            "add_widgets": false,
                                            "no_display": false,
                                            "encode_directives": true,
                                            "baseStaticUrl": "http:\/\/wisi.vn\/pub\/static\/version1523869611\/",
                                            "baseStaticDefaultUrl": "http:\/\/wisi.vn\/pub\/static\/",
                                            "directives_url": "http:\/\/wisi.vn\/admin\/cms\/wysiwyg\/directive\/key\/445894efc8bb2b418e3637acf8bbe2f901bae8a2838bcbce1ef23d5faa080f19\/",
                                            "popup_css": "http:\/\/wisi.vn\/pub\/static\/version1523869611\/adminhtml\/Magento\/backend\/en_US\/mage\/adminhtml\/wysiwyg\/tiny_mce\/themes\/advanced\/skins\/default\/dialog.css",
                                            "content_css": "http:\/\/wisi.vn\/pub\/static\/version1523869611\/adminhtml\/Magento\/backend\/en_US\/mage\/adminhtml\/wysiwyg\/tiny_mce\/themes\/advanced\/skins\/default\/content.css",
                                            "width": "100%",
                                            "height": "400px",
                                            "plugins": [],
                                            "directives_url_quoted": "http\\:\/\/dev\\.wisiproduction\\.com\/admin\/cms\/wysiwyg\/directive\/key\/445894efc8bb2b418e3637acf8bbe2f901bae8a2838bcbce1ef23d5faa080f19\/",
                                            "add_images": true,
                                            "files_browser_window_width": "1000",
                                            "files_browser_window_height": "600",
                                            "add_directives": true,
                                            "container_class": "hor-scroll"
                                        });
                                        editorFormValidationHandler = wysiwygproduct_company_info.onFormValidation.bind(wysiwygproduct_company_info);
                                        Event.observe("toggleprovider_company_info", "click", wysiwygproduct_company_info.toggle.bind(wysiwygproduct_company_info));
                                        varienGlobalEvents.attachEventHandler("formSubmit", editorFormValidationHandler);
                                        varienGlobalEvents.clearEventHandlers("open_browser_callback");
                                        varienGlobalEvents.attachEventHandler("open_browser_callback", wysiwygproduct_company_info.openFileBrowser);
                                        
                                        //]]>
                                    });
                                </script>
                                 <div id="popup-modal-upload-img-company-info" style="display: none">
                                    <form name="form-upload-img-description" id="form-upload-img-description" method="post" action="/"  enctype="multipart/form-data">
                                        <input id="image_description" type="file" name="image_description" />
                                        <img id="preview-img-description" src="" style="display:none" width="150px" height="150px" />
                                        <p></p>
                                        <lable for="copy-img-description"><?php echo __("Please copy this link and paste into dialog insert image.") ?></lable>
                                        <p></p>
                                        <input type="text" value="" id="copy-img-description" name="copy-img-description" style="width:100% !important" />
                                    </form>
                                  </div>
                              </div>
                          </div>   
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
            </div>
            <div class="page-actions-buttons">
                     <button class="action-primary" type="button" id="save-provider-infor" title="Save Data"><?php echo __('Save Detail') ?></button>
               </div>
          </form>
          <!--end update seller detail form -->
          <script>
            require(['jquery'],function($){
                $("#save-provider-infor").click(function(){
                  $("#seller_detail").submit();
                });
            });
          </script>
        </div>
      </div>
   </main>
</div>