<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');

$sellder_detail = $block->getSellerDetail();
$id_seller = $sellder_detail->getData("id_seller_company");
$collectionDelivery  = $block->getCollectionShipping($id_seller);
$deliveryList = $util->getRemainDeliveryCompanyList($id_seller);
?>
<div class="page-wrapper" style="width:944px;">
   <header class="page-header row">
      <div class="page-header-hgroup col-l-8 col-m-6">
         <div class="page-title-wrapper">
            <h1 class="page-title"><?php echo __("Shipping Delivery") ?></h1>
         </div>
      </div>
      <?php echo $this->getChildHtml("header_seller"); ?>
   </header>
    <main id="anchor-content" class="page-content">
    <?php echo $this->getChildHtml("customer_seller_admin_notice"); ?>
    <div id="page:main-container" class="page-columns">
        <div class="admin__old">
            <div id="container" class="main-col">
                <div id="messages">
                    <div class="messages">
                        <div class="message message-notice notice">
                            <div data-ui-id="messages-message-notice"><?php echo __("You should select nationwide delivery company");?></div>
                        </div>
                    </div>
                </div>
                <div id="page:main-container" class="page-columns">
                <div class="admin__old">
                    <div id="container" class="main-col">
                        <div class="entry-edit form-inline">
                            <fieldset class="fieldset admin__fieldset mb-30" id="base_fieldset">
                                <form id="edit_form" action="<?php echo $block->getUrlSaveShipping(); ?>" method="post" enctype="multipart/form-data" novalidate="novalidate">
                                    <input type="hidden" name="id_seller" value="<?php echo $id_seller ?>" />
                                    <div class="messages">
                                    </div>
                                    <div class="admin__field field field-entity  with-addon required _required" data-ui-id="import-form-container-form-fieldset-element-form-field-entity">
                                        <label class="label admin__field-label" for="entity" data-ui-id="import-form-container-form-fieldset-element-select-entity-label"><?php echo __("Delivery Company"); ?></label>
                                        <div class="admin__field-control control">
                                            <div class="admin__field">
                                                <label class="addafter pl0" for="entity">
                                                    <span id="vendor-sample-file-span" class=""><?php echo __("Select your delivery company"); ?></span>
                                                </label>    
                                                <select id="entity" name="entity" title="Entity Type"  class="required-entry select admin__control-select">
                                                    <option value="" selected="selected"><?php echo __("-- Please Select --"); ?></option>
                                                    <?php
                                                    foreach($deliveryList as $delivery){ ?>
                                                        <option value="<?php echo $delivery['id_delivery']; ?>|<?php echo $delivery['name_delivery']; ?>"><?php echo $delivery['name_delivery']; ?></option>
                                                    <?php } ?>
                                                </select>
                                                <button id="add-button" title="Check Data" type="button" class="action-default scalable save secondary ml15">
                                                    <span><?php echo __("Add"); ?></span>
                                                </button>
                                            </div>
                                            <label for="entity" generated="true" class="mage-error hide" id="entity_error"><?php echo __("This is a required field.");?></label>
                                        </div>
                                    </div>
                                </form>
                            </fieldset>
                            <fieldset class="fieldset admin__fieldset" id="upload_file_fieldset">
                                <legend class="admin__legend legend m0">
                                    <span><?php echo __("List of delivery companies"); ?></span>
                                </legend>
                                <br>
                                <div class="messages">
                                </div>
                                <div class="admin__data-grid-wrap admin__data-grid-wrap-static" id="wrap-cache">
                                    <table class="data-grid" id="cache_grid_table">
                                        <!-- Rendering column set -->
                                        <thead>
                                        <tr>
                                            <th class="data-grid-th  no-link col-cache_type"><span><?php echo __("Delivery Company"); ?></span></th>
                                            <th class="data-grid-th  no-link col-description"><span><?php echo __("Description"); ?></span></th>
                                            <th class="data-grid-th  no-link col-description"><span><?php echo __("Price"); ?></span></th>
                                            <th data-sort="status" data-direction="asc" class="data-grid-th _sortable not-sort last col-status"><span><?php echo __("Status"); ?></span></th>
                                            <th class="data-grid-th  no-link col-description"><span><?php echo __("Action"); ?></span></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach($collectionDelivery as $_delivery){ ?>
                                        <?php
                                            $status = $_delivery->getData("status_shipping_method");
                                            $showText = "";
                                            if($status == 1){
                                                $showText = "Enable";
                                            }else{
                                                $showText = "Disable";
                                            }
                                        ?>
                                        <tr data-role="row" title="#" class="even _clickable">
                                            <td data-column="cache_type" class="a-left col-cache_type"> <?php echo $_delivery->getData("name_shipping_method") ?> </td>
                                            <td data-column="description" class="a-left col-description"><?php echo $_delivery->getData("name_shipping_method") ?></td>
                                            <td data-column="description" class="a-left col-description"><?php echo $_delivery->getData("price") ?></td>
                                            <td data-column="status" class="a-left col-status  last"><span class="grid-severity-notice"><span><?php echo __($showText); ?></span></span></td>
                                            <td data-column="description" class="a-left col-description">
                                                <?php if ($_delivery->getData("shipping_code") != 1) { ?>
                                                    <a href="<?php echo $block->getUrlRemoveDelivery($_delivery->getId()); ?>"><?php echo __("Remove"); ?></a>
                                                <?php } ?>
                                            </td>
                                        </tr>
                                        <?php } ?>
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>
                            
                        </div>
                        <script>
                            require([
                                'jquery',
                                'mage/backend/form',
                                'mage/backend/validation'
                            ], function($){
                            
                                $('#edit_form').form()
                                    .validation({
                                        validationUrl: '',
                                        highlight: function(element) {
                                            var detailsElement = $(element).closest('details');
                                            if (detailsElement.length && detailsElement.is('.details')) {
                                                var summaryElement = detailsElement.find('summary');
                                                if (summaryElement.length && summaryElement.attr('aria-expanded') === "false") {
                                                    summaryElement.trigger('click');
                                                }
                                            }
                                            $(element).trigger('highlight.validate');
                                        }
                                    });
                            
                            });
                        </script>
                        <div class="entry-edit fieldset" id="import_validation_container" style="display:none;">
                            <div class="entry-edit-head legend">
                            <span class="icon-head head-edit-form fieldset-legend" id="import_validation_container_header">Validation Results</span>
                            </div>
                            <br>
                            <div id="import_validation_messages" class="fieldset">
                            <!-- -->
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </main>
</div>

<script type="text/javascript">
    require([
        'jquery',
        'Magento_Ui/js/modal/modal',
        'Magento_Ui/js/modal/alert'
    ], function ($) {
        $("#add-button").click(function(){
            if($("#entity").val()== "") {
                $("#entity_error").removeClass("hide");
            } else {
                $("#edit_form").submit();
            }
        });
    });
</script>