<?php
$seller_detail = $block->getSellerDetail();
$role = $block->getDetailRole();
$permission = explode("|",$role->getData("acl_permmision"));
$postData = $this->getRequest()->getPostValue();
$id_account_acl = $role->getData("id_account_acl");
?>
<script>
    function setLocation(url)
    {
        top.location.href = url;
    }
</script>
<div class="page-wrapper page-layout-admin-2columns-left">
   <header class="page-header row">
      <div class="page-header-hgroup col-l-8 col-m-6">
         <div class="page-title-wrapper">
            <h1 class="page-title"><?php echo __("Sửa Quyền") ?></h1>
         </div>
      </div>
      <?php echo $this->getChildHtml("header_seller"); ?>
   </header>
<main id="anchor-content" class="page-content">
   <div class="page-main-actions">
      <div class="page-actions-placeholder" style=""></div>
      <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
         <div class="page-actions-inner" data-title="New Role">
            <div class="page-actions-buttons">
               <button id="id_7fd2e57a9f6708693860c4d8be38c940" title="Back" type="button" class="action-default scalable back" onclick="window.location.href='<?php echo $block->getBackAction(); ?>'" data-ui-id="page-actions-toolbar-backbutton">
               <span><?php echo __("Back"); ?></span>
               </button>
               <button id="id_dcd5bb1e28f360a935bd7de45745ad62" title="Reset" type="button" class="action-default scalable reset" onclick="window.location.reload()" data-ui-id="page-actions-toolbar-resetbutton">
               <span><?php echo __("Reset"); ?></span>
               </button>
               <button id="save_role" title="Save Role" type="button" class="action-default scalable save primary save-role ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" data-ui-id="page-actions-toolbar-savebutton" role="button" aria-disabled="false"><span class="ui-button-text">
               <span><?php echo __("Save Role"); ?></span>
               </span></button>
            </div>
         </div>
      </div>
   </div>
   <div id="page:main-container" class="page-columns">
      <div id="container" class="main-col">
         <div class="admin__scope-old">
            <script>
               require([
                   'jquery',
                   'Magento_Ui/js/modal/confirm',
                   'underscore',
                   'mage/adminhtml/grid',
                   'prototype'
               ], function(jQuery, confirm, _){
               <!--
               //-->
               
               });
            </script>
            <form action="<?php echo $block->getSaveRole(); ?>" method="post" id="role-edit-form" novalidate="novalidate">
               <div><input name="id_account_acl" type="hidden" value="<?php echo $id_account_acl; ?>"></div>
               <div><input name="form_key" type="hidden" value="Uyf4bw8oLpGEqifM"></div>
               <div><input name="id_seller" type="hidden" value="<?php echo $seller_detail->getData("id_seller_company"); ?>"></div>
               <div id="role_info_tabs_info_content" style="display: block;" data-ui-id="adminhtml-user-editroles-tab-content-info" aria-labelledby="role_info_tabs_info" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true" aria-hidden="false">
                  <div class="entry-edit form-inline">
                     <fieldset class="fieldset admin__fieldset " id="base_fieldset">
                        <legend class="admin__legend legend">
                           <span><?php echo ("Role Information"); ?></span>
                        </legend>
                        <br>
                        <div class="messages">
                        </div>
                        <div class="admin__field field field-role_name  required _required" data-ui-id="adminhtml-user-tab-rolesedit-fieldset-element-form-field-role-name">
                           <label class="label admin__field-label" for="role_name" data-ui-id="adminhtml-user-tab-rolesedit-fieldset-element-text-rolename-label"><?php echo __("Role Name"); ?></label>
                           <div class="admin__field-control control">
                              <input id="role_name" name="rolename" data-ui-id="adminhtml-user-tab-rolesedit-fieldset-element-text-rolename" value="<?php echo $role->getData("acl_name"); ?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">                            
                           </div>
                        </div>
                        <input id="role_id" name="role_id" data-ui-id="adminhtml-user-tab-rolesedit-fieldset-element-hidden-role-id" value="" type="hidden">    
                        <input id="in_role_user" name="in_role_user" data-ui-id="adminhtml-user-tab-rolesedit-fieldset-element-hidden-in-role-user" value="" type="hidden">    
                        <input id="in_role_user_old" name="in_role_user_old" data-ui-id="adminhtml-user-tab-rolesedit-fieldset-element-hidden-in-role-user-old" value="" type="hidden">    
                     </fieldset>
                  </div>
               </div>
               <div id="role_info_tabs_account_content" style="display: none;" data-ui-id="adminhtml-user-editroles-tab-content-account" aria-labelledby="role_info_tabs_account" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true">
                  <fieldset class="fieldset form-inline entry-edit">
                     <legend class="legend">
                        <span><?php echo ("Roles Resources"); ?></span>
                     </legend>
                     <br>
                     <div class="field">
                        <label class="label" for="all"><span><?php echo ("Resource Access"); ?></span></label>
                        <div class="control">
                           <select id="all" name="all" onchange="jQuery('[data-role=tree-resources-container]').toggle()" class="select">
                              <option value="0" selected="selected"><?php echo __("Custom"); ?></option>
                              <option value="1"><?php echo __("All"); ?></option>
                           </select>
                        </div>
                     </div>
                     <div class="field" data-role="tree-resources-container">
                        <label class="label"><span><?php echo __("Resources"); ?></span></label>
                        <div class="control">
                           <div class="tree x-tree jstree jstree-0 jstree-focused jstree-default" data-role="resource-tree">
                              <ul class="jstree-no-dots">
                                 <li class="jstree-open jstree-unchecked">
                                     <input type="checkbox" class="jstree-real-checkbox" name="resource[]" value="admin" <?php if(in_array("admin", $permission)) {echo "checked"; }?> >
                                     <ins class="jstree-icon">&nbsp;</ins>
                                     <a href="#">
                                         <ins class="jstree-checkbox">&nbsp;</ins><ins class="jstree-icon">&nbsp;</ins><?php echo __("Dashboard"); ?></a>
                                </li>
                                <li data-id="Magento_Backend::sale" class="jstree-open jstree-unchecked">
                                     <input type="checkbox" class="jstree-real-checkbox" name="resource[]" value="sale" <?php if(in_array("sale", $permission)) {echo "checked"; }?> >
                                     <ins class="jstree-icon">&nbsp;</ins>
                                     <a href="#">
                                         <ins class="jstree-checkbox">&nbsp;</ins><ins class="jstree-icon">&nbsp;</ins><?php echo __("Sale"); ?></a>
                                </li>
                                <li class="jstree-open jstree-unchecked">
                                     <input type="checkbox" class="jstree-real-checkbox" name="resource[]" value="product" <?php if(in_array("product", $permission)) {echo "checked"; }?> >
                                     <ins class="jstree-icon">&nbsp;</ins>
                                     <a href="#">
                                         <ins class="jstree-checkbox">&nbsp;</ins><ins class="jstree-icon">&nbsp;</ins><?php echo __("Product"); ?></a>
                                </li>
                                <li class="jstree-open jstree-unchecked">
                                     <input type="checkbox" class="jstree-real-checkbox" name="resource[]" value="report" <?php if(in_array("report", $permission)) {echo "checked"; }?> >
                                     <ins class="jstree-icon">&nbsp;</ins>
                                     <a href="#">
                                         <ins class="jstree-checkbox">&nbsp;</ins><ins class="jstree-icon">&nbsp;</ins><?php echo __("Report"); ?></a>
                                </li>
                                <li class="jstree-open jstree-unchecked">
                                     <input type="checkbox" class="jstree-real-checkbox" name="resource[]" value="store" <?php if(in_array("store", $permission)) {echo "checked"; }?> >
                                     <ins class="jstree-icon">&nbsp;</ins>
                                     <a href="#">
                                         <ins class="jstree-checkbox">&nbsp;</ins><ins class="jstree-icon">&nbsp;</ins><?php echo __("Store"); ?></a>
                                </li>
                                <li class="jstree-open jstree-unchecked">
                                     <input type="checkbox" class="jstree-real-checkbox" name="resource[]" value="system" <?php if(in_array("system", $permission)) {echo "checked"; }?> >
                                     <ins class="jstree-icon">&nbsp;</ins>
                                     <a href="#">
                                         <ins class="jstree-checkbox">&nbsp;</ins><ins class="jstree-icon">&nbsp;</ins><?php echo __("System"); ?></a>
                                </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </fieldset>
               </div>
            </form>
            <script>
               require([
               	"jquery",
               	"mage/mage"
               ], function($){
               
                        $("#save_role").click(function(){
                            $("#role-edit-form").submit();
                       });
               
               });
            </script>
         </div>
      </div>
      <div id="page:left" class="side-col">
         <div class="admin__page-nav ui-tabs ui-widget ui-widget-content ui-corner-all" data-role="container" id="role_info_tabs">
            <div class="admin__page-nav-title" data-role="title" data-ui-id="adminhtml-user-editroles-title">
               <strong><?php echo __("Role Information"); ?></strong>
               <span data-role="title-messages" class="admin__page-nav-title-messages"><span class="admin__page-nav-item-messages" data-role="item-messages">
               <span class="admin__page-nav-item-message _changed _active">
               <span class="admin__page-nav-item-message-icon"></span>
               <span class="admin__page-nav-item-message-tooltip">
               <?php echo __("Changes have been made to this section that have not been saved."); ?></span>
               </span>
               <span class="admin__page-nav-item-message _error">
               <span class="admin__page-nav-item-message-icon"></span>
               <span class="admin__page-nav-item-message-tooltip">
               <?php echo __("This tab contains invalid data. Please resolve this before saving."); ?></span>
               </span>
               <span class="admin__page-nav-item-message-loader">
               <span class="spinner">
               <span></span><span></span><span></span><span></span>
               <span></span><span></span><span></span><span></span>
               </span>
               </span>
               </span></span>
            </div>
            <ul data-ui-id="adminhtml-user-editroles-tab-role-info-tabs" class="tabs admin__page-nav-items ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
               <li class="admin__page-nav-item ui-state-default ui-corner-top ui-tabs-active ui-state-active" data-ui-id="adminhtml-user-editroles-tab-item-info" role="tab" tabindex="0" aria-controls="role_info_tabs_info_content" aria-labelledby="role_info_tabs_info" aria-selected="true">
                  <a href="#role_info_tabs_info_content" id="role_info_tabs_info" name="info" title="Role Info" class="admin__page-nav-link tab-item-link   ui-tabs-anchor _changed" data-tab-type="" data-ui-id="adminhtml-user-editroles-tab-link-info" role="presentation" tabindex="-1">
                  <span><?php echo __("Role Info"); ?></span>
                  <span class="admin__page-nav-item-messages" data-role="item-messages">
                  <span class="admin__page-nav-item-message _changed">
                  <span class="admin__page-nav-item-message-icon"></span>
                  <span class="admin__page-nav-item-message-tooltip">
                  <?php echo __("Changes have been made to this section that have not been saved."); ?></span>
                  </span>
                  <span class="admin__page-nav-item-message _error">
                  <span class="admin__page-nav-item-message-icon"></span>
                  <span class="admin__page-nav-item-message-tooltip">
                  <?php echo __("This tab contains invalid data. Please resolve this before saving."); ?></span>
                  </span>
                  <span class="admin__page-nav-item-message-loader">
                  <span class="spinner">
                  <span></span><span></span><span></span><span></span>
                  <span></span><span></span><span></span><span></span>
                  </span>
                  </span>
                  </span>
                  </a>
               </li>
               <li class="admin__page-nav-item ui-state-default ui-corner-top" data-ui-id="adminhtml-user-editroles-tab-item-account" role="tab" tabindex="-1" aria-controls="role_info_tabs_account_content" aria-labelledby="role_info_tabs_account" aria-selected="false">
                  <a href="#role_info_tabs_account_content" id="role_info_tabs_account" name="account" title="Role Resources" class="admin__page-nav-link tab-item-link   ui-tabs-anchor" data-tab-type="" data-ui-id="adminhtml-user-editroles-tab-link-account" role="presentation" tabindex="-1">
                  <span><?php echo __("Role Resources"); ?></span>
                  <span class="admin__page-nav-item-messages" data-role="item-messages">
                  <span class="admin__page-nav-item-message _changed">
                  <span class="admin__page-nav-item-message-icon"></span>
                  <span class="admin__page-nav-item-message-tooltip">
                  <?php echo __("Changes have been made to this section that have not been saved."); ?></span>
                  </span>
                  <span class="admin__page-nav-item-message _error">
                  <span class="admin__page-nav-item-message-icon"></span>
                  <span class="admin__page-nav-item-message-tooltip">
                  <?php echo __("This tab contains invalid data. Please resolve this before saving."); ?></span>
                  </span>
                  <span class="admin__page-nav-item-message-loader">
                  <span class="spinner">
                  <span></span><span></span><span></span><span></span>
                  <span></span><span></span><span></span><span></span>
                  </span>
                  </span>
                  </span>
                  </a>
               </li>
            </ul>
         </div>
         <script>
            require(['jquery',"mage/backend/tabs"], function($){
                $(function() {
                    $('#role_info_tabs').tabs({
                        active: 'role_info_tabs_info',
                        destination: '#role-edit-form',
                        shadowTabs: [],
                        tabsBlockPrefix: 'role_info_tabs_',
                        tabIdArgument: 'active_tab'
                    });
                });
            });
         </script>
      </div>
   </div>
</main>
</div>