<?php
$seller_detail = $block->getSellerDetail();
$rma = $block->getDetailRma();
$order_detail = $block->getOrderDetail($rma->getData("order_id"));
$product = $block->getDetailProduct($rma->getData("product_id"));
$text_reason = $block->getTextReason($rma->getData("reason"));
$text_package = $block->getTextPackage($rma->getData("package"));
$updated_at = date('Y-m-d H:i:s',strtotime($rma->getData("update_at")));
$created_at = date('Y-m-d H:i:s',strtotime($rma->getData("create_at")));
$message = $rma->getData("message");
?>
<script>
    function setLocation(url)
    {
        top.location.href = url;
    }
</script>
<div class="page-wrapper">
   <header class="page-header row">
      <div class="page-header-hgroup col-l-8 col-m-6">
         <div class="page-title-wrapper">
            <h1 class="page-title"><?php echo __("Request detail Order Number"); ?>: <?php echo $order_detail->getIncrementId(); ?></h1>
         </div>
      </div>
      <?php echo $this->getChildHtml("header_seller"); ?>
   </header>
   <main id="anchor-content" class="page-content">
   <div id="page:main-container" class="page-columns">
      <div class="admin__old">
         <div id="container" class="main-col">
            <div class="admin__data-grid-wrap admin__data-grid-wrap-static">
               <table class="data-grid" id="id_08f6399c86daf4e45213cdd571efba1f_table">
                  <thead>
                     <tr>
                        <!-- <th data-sort="id_request" data-direction="asc" class="data-grid-th _sortable not-sort  col-id_request"><span><?php echo __("ID"); ?></span></th> -->
                        <th data-sort="id_request" data-direction="asc" class="data-grid-th _sortable not-sort  col-id_request"><span><?php echo __("Order Number"); ?></span></th>
                        <th data-sort="customer_name" data-direction="asc" class="data-grid-th _sortable not-sort  col-customer_name"><span><?php echo __("Customer Name"); ?></span></th>
                        <th data-sort="customer_email" data-direction="asc" class="data-grid-th _sortable not-sort  col-customer_email"><span><?php echo __("Reason"); ?></span></th>
                        <th data-sort="product_id" data-direction="asc" class="data-grid-th _sortable not-sort  col-product_id"><span><?php echo __("Product"); ?></span></th>
                        <!--<th data-sort="reason" data-direction="asc" class="data-grid-th _sortable not-sort  col-reason"><span>Price</span></th>-->
                        <th data-sort="resolution" data-direction="asc" class="data-grid-th _sortable not-sort  col-resolution"><span><?php echo __("Package"); ?></span></th>
                        <th data-sort="status" data-direction="asc" class="data-grid-th _sortable not-sort  col-status"><span><?php echo __("Updated At"); ?></span></th>
                        <th data-sort="created_at" data-direction="asc" class="data-grid-th _sortable not-sort  col-created_at"><span><?php echo __("Created At"); ?></span></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr title="#" class="even _clickable">
                        <!-- <td class=" col-id_request"><?php echo $rma->getId(); ?></td> -->
                        <td class=" col-id_request"><?php echo $order_detail->getIncrementId(); ?></td>
                        <td class=" col-customer_name"><?php echo $rma->getData("customer_name"); ?></td>
                        <td class=" col-customer_email"><span class="grid-severity-notice"><?php echo __($text_reason); ?></span></td>
                        <td class=" col-product_id"><?php echo $product->getName(); ?><br></td>
                        <!--<td class=" col-reason">63045.0000</td>-->
                        <td class=" col-resolution"><span class="grid-severity-notice"><?php echo __($text_package); ?></span></td>
                        <td class=" col-status"><?php echo $updated_at ?></td>
                        <td class=" col-created_at"><?php echo $created_at ?></td>
                     </tr>
                  </tbody>
               </table>
               <style>
                  .admin__field-label{
                  display: inline-block !important;
                  }
                  .admin__field-control{
                  display: inline-block !important;
                  }
                  .admin__field+.admin__field{
                  text-align: right;
                  }
               </style>
               <form action="<?php echo $block->getSaveUrl(); ?>" name="form_save_request" id="form_save_request" method="post">
                  <input name="form_key" type="hidden" value="4glkE98jbds84f94">
                  <input type="hidden" name="id_request" value="<?php echo $rma->getId(); ?>">
                  <input type="hidden" name="id_seller" value="<?php echo $rma->getData("id_seller"); ?>">
                  <section class="admin__page-section">
                     <div class="admin__page-section-title">
                        <span class="title"></span>
                     </div>
                     <div class="admin__page-section-content">
                        <div class="admin__page-section-item order-comments-history" style="float: right;width: auto">
                           <div id="order_history_block" class="edit-order-comments">
                              <div class="order-history-block" id="history_form">
                                 <label for="history_status" style="font-weight:bold" class="admin__field-label"><?php echo __("Message"); ?></label>
                                 <div class="admin__field">
                                    <div class="admin__field-control">
                                       <textarea name="message_note" style="width: 750px;height:165px"><?php echo $message; ?></textarea>
                                    </div>
                                 </div>
                                 <div class="admin__field">
                                    <label for="history_status" class="admin__field-label"><?php echo __("Resolution"); ?></label>
                                    <div class="admin__field-control">
                                       <select name="resolution" id="resolution" class="admin__control-select">
                                          <option value="1" selected="selected"><?php echo __("Refund"); ?></option>
                                          <option value="2"><?php echo __("Replacement"); ?></option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="admin__field">
                                    <label for="status" class="admin__field-label"><?php echo __("Status"); ?></label>
                                    <div class="admin__field-control">
                                       <select name="status" id="status" class="admin__control-select">
                                          <option value="1" selected="selected"><?php echo __("Pending approval"); ?></option>
                                          <option value="2"><?php echo __("Approved"); ?></option>
                                          <option value="3"><?php echo __("Package sent"); ?></option>
                                          <option value="4"><?php echo __("Package Received"); ?></option>
                                          <option value="5"><?php echo __("Refun/Exchange"); ?></option>
                                          <option value="6"><?php echo __("Closed"); ?></option>
                                          <option value="7"><?php echo __("Canceled"); ?></option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="admin__field">
                                    <div class="order-history-comments-actions">
                                       <button id="" title="Submit Comment" type="submit" class="action-default scalable action-save action-secondary" data-ui-id="widget-button-0">
                                       <span><?php echo __("Approve"); ?></span>
                                       </button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </section>
               </form>
            </div>
         </div>
      </div>
   </div>
</main>
</div>