<?php
$url_save_import = $block->getUrl()."customer/admin/saveimport";
$sellerObject = $block->getSellerDetail();
$id_seller = $sellerObject->getData("id_seller_company");
$url_current = $block->getUrl();
$url_save_zip_file = $block->getUrl()."customer/admin/savezipfile";
?>
<style>
    input {
        width: 100% !important;
    }
    .percent{
        background-color: #2da02d;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
        height: 30px;
    }
    .progress{
        height: 30px;
    }
    .percent.first{
        background-color: #eee;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }
    .file-upload {
        position: relative;
        display: inline-block;
    }

    .file-upload__label {
        display: block;
        padding: 1em 2em;
        color: #fff;
        background-color: #5cb85c;
        transition: background .3s;
        font-size: 20px !important;
        height: 40px;
        vertical-align: middle;
        padding: 22px;
        padding: 7px !important;
    }
    .file-upload__input {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        font-size: 20;
        width:0;
        height: 100%;
        opacity: 0;
    }
    .file-upload__input:hover{
        cursor: pointer;
    }
    .content-log{
        background-color:black;
        color:white;
        border: 1px solid black;
        height:250px;
        overflow-y:scroll;
    }
    #log-content{
        
    }
    .elem-log.init{
        display:block;
        padding:10px;
        color:white;
    }
    .elem-log.warning{
        display:block;
        padding:10px;
        color:yellow;
    }
    .elem-log{
        display:block;
        padding:10px;
        color:green;
    }
    .elem-log.error{
        color:red;
    }
    .success-button{
        display: inline-block;
        height: 40px;
        width: 200px !important;
        margin-top: 10px;
        background-color: #5cb85c;
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
        border: 0;
    }
    .admin__fieldset>.admin__field>.admin__field-control{
        margin-left:0;
        
    }
</style>
<div class="page-wrapper">
   <header class="page-header row">
      <div class="page-header-hgroup col-l-8 col-m-6">
         <div class="page-title-wrapper">
            <h1 class="page-title"><?php echo __("Xuất File danh sách sản phẩm") ?></h1>
         </div>
      </div>
      <?php echo $this->getChildHtml("header_seller"); ?>
   </header>
    <main id="anchor-content" class="page-content">
        <div id="page:main-container" class="page-columns">
            <div class="admin__old">
                <div id="container" class="main-col">
                    <div class="entry-edit form-inline">
                        <form id="edit_form" action="<?php echo $url_save_import; ?>" method="post" enctype='multipart/form-data'>
                            <fieldset class="fieldset admin__fieldset " id="base_fieldset">
                                <legend class="admin__legend legend">
                                    <span><?php echo __("Chọn loại muốn xuất file"); ?></span>
                                </legend>
                                <br>
                                <div class="messages">
                                </div>
                                <input type="hidden" value="<?php echo $id_seller; ?>" name="id_seller" id="id_seller" />
                                <div class="admin__field field field-entity ">
                                    <label class="label admin__field-label" for="entity" style="display:inline-block"><span></span></label>
                                    <div class="admin__field-control control" style="display:inline-block">
                                        <select id="entity" name="entity" title="Entity Type" class=" select admin__control-select">
                                            <option value="" selected="selected">-- Please Select --</option>
                                            <option value="catalog_product">Products</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="progress" style="display:none">
                                    <div class="bar"></div >
                                    <div class="percent first">0%</div >
                                </div>
                                <div class="console-log">
                                    <div class="content-log">
                                        <ul id="log-content">
                                        </ul>
                                    </div>
                                </div>
                                <div id="status"></div>
                                <!--<div class="admin__field field field-entity ">
                                    <div class="admin__field-control control">
                                        <input type="submit" name="upload_excel" value="<?php echo __("Submit") ?>" id="upload_excel"/>
                                    </div>
                                </div>-->
                                <div class="admin__field field field-entity ">
                                    <div class="admin__field-control control">
                                        <a href="<?php echo $url_current ?>test/export.php?id_provider=<?php echo $id_seller; ?>" id="download" target="_blank" style='width:0;display:none'/>dowload</a>
                                        <input type="button" name="check_import_product" class="success-button" style="display:block" value="<?php echo __("Xuất File Excel (.xlsx)") ?>" id="check_import_product"/>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <script>
                            require([
                                "jquery"
                            ], function(jQuery){
                                var url = "<?php echo $url_save_import; ?>";
                                var url_save_zip_file = "<?php echo $url_save_zip_file; ?>";
                                var file_name = "";
                                var bar = jQuery('.bar');
                                var percent = jQuery('.percent');
                                var status = jQuery('#status');
                                var log_console = jQuery("#log-content");
                                function resetProcessingBar(){
                                    percent.addClass("first");
                                }
                                function initCheckingFile(){
                                    autoScroll();
                                    log_console.append("<li class='elem-log init'> ======= ĐANG TIẾN HÀNH XUẤT SẢN PHẨM ======= </li>");
                                    log_console.append("<li class='elem-log init'>Xin vui lòng chờ trong giây lát. Không làm mới lại trình duyệt</li>");
                                    log_console.append("<li class='elem-log init'>Đang xuất file.........</li>");
                                }
                                function initUploadProductFile(){
                                    autoScroll();
                                    log_console.append("<li class='elem-log init'> ======= ĐANG TIẾN HÀNH ĐƯA SẢN PHẨM ======= </li>");
                                    log_console.append("<li class='elem-log init'>Xin vui lòng chờ trong giây lát</li>");
                                    log_console.append("<li class='elem-log warning'>Xin vui lòng không làm mới trình duyệt (F5)</li>");
                                    log_console.append("<li class='elem-log init'>Đang đưa sản phẩm lên shop.........</li>");
                                }
                                function autoScroll()
                                {
                                    if(jQuery("#log-content").height() > 250){
                                        jQuery(".content-log").animate({ scrollTop: jQuery(".content-log").height() }, 1000);
                                    }
                                }
                                
                                jQuery("#check_import_product").click(function(){
                                    autoScroll();
                                    resetProcessingBar();
                                    initCheckingFile();
                                    //jQuery("#loading-mark").show();
                                    top.location.href = "<?php echo $url_current ?>test/export.php?id_provider=<?php echo $id_seller; ?>";
                                    //jQuery("#download").click();
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div data-role="spinner" data-component="product_form.product_form" id="loading-mark" class="admin__form-loading-mask" style="display: none;z-index:1000000000">
                <div class="spinner">
                    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
        </div>
    </main>
</div>