<?php
$objectSeller = $block->getSellerDetail();
$id_seller = $objectSeller->getData("id_seller_company");
$name_seller = $objectSeller->getData("store_name");
?>

<div class="page-header-actions col-l-4 col-m-6">
    <div class="admin-user admin__action-dropdown-wrap seller-admin-drop">
        <a href="" class="admin__action-dropdown" title="My Account" data-toggle="dropdown">
            <span class="admin__action-dropdown-text">
                <span class="admin-user-account-text"><?php echo $name_seller; ?></span>
            </span>
        </a>
        <ul class="admin__action-dropdown-menu">
            <li>
                <a href="<?php echo $block->getUrl('customer/account/logout/'); ?>" class="account-signout" title="Sign Out"><?php echo __("Sign Out"); ?></a>
            </li>
            <li>
                <a href="<?php echo $block->getUrl('/'); ?>" class="account-signout" title="Sign Out"><?php echo __("Back To Home page"); ?></a>
            </li>
        </ul>
    </div>
    <div class="notifications-wrapper admin__action-dropdown-wrap" data-notification-count="0">
        <a class="notifications-action admin__action-dropdown" href="#" title="Notifications"></a>
    </div>
</div>