<?php
$url_save_import = $block->getUrl()."customer/admin/saveimport";
$sellerObject = $block->getSellerDetail();
$id_seller = $sellerObject->getData("id_seller_company");
$url_current = $block->getUrl();
$url_save_zip_file = $block->getUrl()."customer/admin/savezipfile";
?>
<style>
    input {
        width: 100% !important;
    }
    .percent{
        background-color: #2da02d;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
        height: 30px;
    }
    .progress{
        height: 30px;
    }
    .percent.first{
        background-color: #eee;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }
    .file-upload {
        position: relative;
        display: inline-block;
    }

    .file-upload__label {
        display: block;
        padding: 1em 2em;
        color: #fff;
        background-color: #5cb85c;
        transition: background .3s;
        font-size: 20px !important;
        height: 40px;
        vertical-align: middle;
        padding: 22px;
        padding: 7px !important;
    }
    .file-upload__input {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        font-size: 20;
        width:0;
        height: 100%;
        opacity: 0;
    }
    .file-upload__input:hover{
        cursor: pointer;
    }
    .content-log{
        background-color:black;
        color:white;
        border: 1px solid black;
        height:250px;
        overflow-y:scroll;
    }
    #log-content{
        
    }
    .elem-log.init{
        display:block;
        padding:10px;
        color:white;
    }
    .elem-log.warning{
        display:block;
        padding:10px;
        color:yellow;
    }
    .elem-log{
        display:block;
        padding:10px;
        color:green;
    }
    .elem-log.error{
        color:red;
    }
    .success-button{
        display: inline-block;
        height: 40px;
        width: 200px !important;
        margin-top: 10px;
        background-color: #5cb85c;
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
        border: 0;
    }
    .admin__fieldset>.admin__field>.admin__field-control{
        margin-left:0;
        
    }
</style>
<div class="page-wrapper">
   <header class="page-header row">
      <div class="page-header-hgroup col-l-8 col-m-6">
         <div class="page-title-wrapper">
            <h1 class="page-title"><?php echo __("Đăng danh sách sản phẩm") ?></h1>
         </div>
      </div>
      <?php echo $this->getChildHtml("header_seller"); ?>
   </header>
    <main id="anchor-content" class="page-content">
        <div id="page:main-container" class="page-columns">
            <div class="admin__old">
                <div id="container" class="main-col">
                    <div class="entry-edit form-inline">
                        <form id="edit_form" action="<?php echo $url_save_import; ?>" method="post" enctype='multipart/form-data'>
                            <fieldset class="fieldset admin__fieldset " id="base_fieldset">
                                <legend class="admin__legend legend">
                                    <span><?php echo __("Import Settings"); ?></span>
                                </legend>
                                <br>
                                <div class="messages">
                                    <p style='color:red'>
                                        <?php echo __(" - File nén hình là định dạng file đuôi zip. Folder zip hình bắt buộc phải được nén bằng phương pháp chọn tất cả hình và nén thành file. Tuyệt đối không được bỏ hình vào trong 1 folder và nén folder đó lại vì sẽ gây ra lỗi không upload được hình."); ?>
                                    </p>
                                    <p style='color:red'>
                                        <?php echo __(" - File đăng sản phẩm giới hạn trong khoảng 250 dòng dữ liệu."); ?>
                                    </p>
                                </div>
                                <input type="hidden" value="<?php echo $id_seller; ?>" name="id_seller" id="id_seller" />
                                <div class="admin__field field field-entity ">
                                    <label class="label admin__field-label" for="entity" style="display:inline-block"><span>Entity Type</span></label>
                                    <div class="admin__field-control control" style="display:inline-block">
                                        <select id="entity" name="entity" title="Entity Type" class=" select admin__control-select">
                                            <option value="" selected="selected">-- Please Select --</option>
                                            <option value="catalog_product">Products</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="admin__field field field-file_format " data-ui-id="export-form-container-form-fieldset-element-form-field-file-format">
                                    <div class="admin__field-control control">
                                        <div class="file-upload">
                                            <label for="upload" class="file-upload__label"><?php echo __("File danh sách (.xlsx)") ?></label>
                                            <input type="file" name="file_upload" class="file-upload__input" id="file_upload" />
                                        </div>
                                        <div class="file-upload">
                                            <label for="upload" class="file-upload__label" style="background-color: #31b0d5;"><?php echo __("Thư mục hình sản phẩm (.zip)") ?></label>
                                            <input type="file" name="image_zip_upload" class="file-upload__input" id="image_zip_upload" />
                                        </div>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="bar"></div >
                                    <div class="percent first">0%</div >
                                </div>
                                <div class="console-log">
                                    <div class="content-log">
                                        <ul id="log-content">
                                        </ul>
                                    </div>
                                </div>
                                <div id="status"></div>
                                <!--<div class="admin__field field field-entity ">
                                    <div class="admin__field-control control">
                                        <input type="submit" name="upload_excel" value="<?php echo __("Submit") ?>" id="upload_excel"/>
                                    </div>
                                </div>-->
                                <div class="admin__field field field-entity ">
                                    <div class="admin__field-control control">
                                        <input type="button" name="check_import_product" class="success-button" style="display:none" value="<?php echo __("Kiểm tra dữ liệu") ?>" id="check_import_product"/>

                                        <input type="button" name="import_product" class="success-button" style="display:none" value="<?php echo __("Upload Product") ?>" id="import_product"/>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <script>
                            require([
                                "jquery"
                            ], function(jQuery){
                                var url = "<?php echo $url_save_import; ?>";
                                var url_save_zip_file = "<?php echo $url_save_zip_file; ?>";
                                var file_name = "";
                                var bar = jQuery('.bar');
                                var percent = jQuery('.percent');
                                var status = jQuery('#status');
                                var log_console = jQuery("#log-content");
                                function resetProcessingBar(){
                                    percent.addClass("first");
                                }
                                function initCheckingFile(){
                                    autoScroll();
                                    log_console.append("<li class='elem-log init'> ======= ĐANG KIỂM TRA DỮ LIỆU SẢN PHẨM ======= </li>");
                                    log_console.append("<li class='elem-log init'>Xin vui lòng chờ trong giây lát</li>");
                                    log_console.append("<li class='elem-log init'>Đang kiểm tra.........</li>");
                                }
                                function initUploadProductFile(){
                                    autoScroll();
                                    log_console.append("<li class='elem-log init'> ======= ĐANG TIẾN HÀNH ĐƯA SẢN PHẨM ======= </li>");
                                    log_console.append("<li class='elem-log init'>Xin vui lòng chờ trong giây lát</li>");
                                    log_console.append("<li class='elem-log warning'>Xin vui lòng không làm mới trình duyệt (F5)</li>");
                                    log_console.append("<li class='elem-log init'>Đang đưa sản phẩm lên shop.........</li>");
                                }
                                function autoScroll()
                                {
                                    if(jQuery("#log-content").height() > 250){
                                        jQuery(".content-log").animate({ scrollTop: jQuery(".content-log").height() }, 1000);
                                    }
                                }
                                jQuery("#file_upload").on("change", function () {
                                    formdata = new FormData();
                                    resetProcessingBar();
                                    autoScroll();
                                    var file = this.files[0];
                                        formdata.append("excel", file);
                                        jQuery.ajax({
                                            url: url,
                                            type: "POST",
                                            data: formdata,
                                            processData: false,
                                            contentType: false,
                                            xhr: function() {
                                                var xhr = new window.XMLHttpRequest();
                                                xhr.upload.addEventListener("progress", function(evt) {
                                                    if (evt.lengthComputable) {
                                                        var percentComplete = evt.loaded / evt.total;
                                                        percentComplete = parseInt(percentComplete * 100);
                                                        console.log(percentComplete);
                                                        var percentVal = percentComplete + '%';
                                                        bar.width(percentVal);
                                                        percent.removeClass("first");
                                                        percent.html(percentVal);
                                                        percent.width(percentVal);
                                                        if (percentComplete === 100) {
                                                            percent.width(percentVal);
                                                            autoScroll();
                                                        }

                                                    }
                                                }, false);

                                                return xhr;
                                            },
                                            success: function (data) {
                                                var jsonData = jQuery.parseJSON(data);
                                                if(jsonData.error == "false"){
                                                    jQuery("#check_import_product").show();
                                                    file_name = jsonData.file;
                                                    log_console.append("<li class='elem-log'>____THÀNH CÔNG____ Đã hoàn thành quá trình đẩy file sản phẩm</li>");
                                                }else{
                                                    log_console.append("<li class='elem-log error'>"+jsonData.file+"</li>");
                                                    jQuery("#check_import_product").hide();
                                                }
                                            }
                                        });

                                });
                                //Upload Image Zip
                                jQuery("#image_zip_upload").on("change", function () {
                                    resetProcessingBar();
                                    formdata = new FormData();
                                    var file = this.files[0];
                                        formdata.append("zip", file);
                                        jQuery.ajax({
                                            url: url_save_zip_file,
                                            type: "POST",
                                            data: formdata,
                                            processData: false,
                                            contentType: false,
                                            xhr: function() {
                                                var xhr = new window.XMLHttpRequest();
                                                xhr.upload.addEventListener("progress", function(evt) {
                                                    if (evt.lengthComputable) {
                                                        var percentComplete = evt.loaded / evt.total;
                                                        percentComplete = parseInt(percentComplete * 100);
                                                        console.log(percentComplete);
                                                        var percentVal = percentComplete + '%';
                                                        bar.width(percentVal);
                                                        percent.removeClass("first");
                                                        percent.html(percentVal);
                                                        percent.width(percentVal);
                                                        if (percentComplete === 100) {
                                                            percent.width(percentVal);
                                                        }

                                                    }
                                                }, false);

                                                return xhr;
                                            },
                                            success: function (data) {
                                                var jsonData = jQuery.parseJSON(data);
                                                if(jsonData.error == "false"){
                                                    log_console.append("<li class='elem-log'>____THÀNH CÔNG____ Đã hoàn thành quá trình đẩy file hình</li>");
                                                }else{
                                                    log_console.append("<li class='elem-log error'>"+jsonData.file+"</li>");
                                                }
                                            }
                                        });

                                });
                                jQuery("#import_product").click(function(){
                                    autoScroll();
                                    resetProcessingBar();
                                    initUploadProductFile();
                                    jQuery("#loading-mark").show();
                                    jQuery.ajax({
                                        url:"<?php echo $url_current ?>test/import-provider-product.php",
                                        method: "POST",
                                        data:{"id_seller":"<?php echo $id_seller; ?>","file_name":file_name},
                                        xhr: function() {
                                            var xhr = new window.XMLHttpRequest();
                                            xhr.addEventListener("progress", function(evt) {
                                                if (evt.lengthComputable) {
                                                    var percentComplete = evt.loaded / evt.total;
                                                    percentComplete = parseInt(percentComplete * 100);
                                                    console.log(percentComplete);
                                                    var percentVal = percentComplete + '%';
                                                    bar.width(percentVal);
                                                    percent.removeClass("first");
                                                    percent.html(percentVal);
                                                    percent.width(percentComplete);
                                                    if (percentComplete === 100) {
                                                        percent.width(percentVal);
                                                        autoScroll();
                                                    }

                                                }
                                            }, false);

                                            return xhr;
                                        },
                                        success:function(data){
                                            autoScroll();
                                            log_console.append("<li class='elem-log'>____THÀNH CÔNG____ "+""+"Đã upload thành công file "+file_name+ ". Xin vui lòng kiểm tra danh sách sản phẩm");
                                            jQuery("#loading-mark").hide();
                                        }
                                    });
                                });
                                jQuery("#check_import_product").click(function(){
                                    autoScroll();
                                    resetProcessingBar();
                                    initCheckingFile();
                                    jQuery("#loading-mark").show();
                                    jQuery.ajax({
                                        url:"<?php echo $url_current ?>test/check-import-product.php",
                                        method: "POST",
                                        data:{"file_name":file_name},
                                        async:true,
                                        xhr: function() {
                                            var xhr = new window.XMLHttpRequest();
                                            xhr.addEventListener("progress", function(evt) {
                                                if (evt.lengthComputable) {
                                                    var percentComplete = evt.loaded / evt.total;
                                                    percentComplete = parseInt(percentComplete * 100);
                                                    console.log(percentComplete);
                                                    var percentVal = percentComplete + '%';
                                                    bar.width(percentVal);
                                                    percent.removeClass("first");
                                                    percent.html(percentVal);
                                                    percent.width(percentComplete);
                                                    if (percentComplete === 100) {
                                                        percent.width(percentVal);
                                                        autoScroll();
                                                    }

                                                }
                                            }, false);

                                            return xhr;
                                        },
                                        success:function(data){
                                            var jsonData = jQuery.parseJSON(data);
                                            var error = jsonData.error;
                                            autoScroll();
                                            if(error == "true"){
                                                //dữ liệu không hợp lệ
                                                log_console.append("<li class='elem-log error'>____LỖI KIỂM TRA DỮ LIỆU____ "+jsonData.msg+"</li>");
                                                var er = 0;
                                                var array_error_log = jsonData.error_list;
                                                var length_error_log = array_error_log.length;
                                                for(er = 0 ; er < length_error_log ; er++){
                                                    var elem_error = array_error_log[er];
                                                    log_console.append("<li class='elem-log error'>"+elem_error.msg+"</li>");
                                                }
                                            }else{
                                                autoScroll();
                                                log_console.append("<li class='elem-log'> ____THÀNH CÔNG____"+jsonData.msg+"</li>");
                                                jQuery("#import_product").show();
                                            }
                                            jQuery("#loading-mark").hide();
                                        }
                                    });
                                });
                                
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div data-role="spinner" data-component="product_form.product_form" id="loading-mark" class="admin__form-loading-mask" style="display: none;z-index:1000000000">
                <div class="spinner">
                    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
        </div>
    </main>
</div>