<?php
$objectSeller = $block->getSellerDetail();
$id_seller = $objectSeller->getData("id_seller_company");
$name_seller = $objectSeller->getData("store_name");
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');
$condition = $block->getSearchCondition();

$order = $objectManager->create('Magento\Sales\Model\Order')->load(17);
if ($order->getId()) {
    $order->setStatus('complete')->save();
}
?>
<style>
.tile_count{
    margin-bottom: 20px;
    margin-top: 20px;
}
.tile_count .tile_stats_count{
    margin-bottom: 10px;
    border-bottom: 0;
    padding-bottom: 10px;
    padding: 0 10px 0 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 2px solid black;
}
.tile_count .tile_stats_count span{
    font-size: 15px;
}
.tile_count .tile_stats_count .count{
    font-size: 40px;
    line-height: 47px;
    font-weight: 600;
    color: #eb5202;
}
.text-next-icon{
    margin-left:5px;
    
}
</style>
<div class="page-wrapper">
    <header class="page-header row">
      <div class="page-header-hgroup col-l-8 col-m-6">
         <div class="page-title-wrapper">
            <h1 class="page-title"><?php echo __('Store Dashboard'); ?></h1>
         </div>
      </div>
      <?php echo $this->getChildHtml("header_seller"); ?>
   </header>   
    <main id="anchor-content" class="page-content">
        <form action="<?php echo $block->getUrlSearchOrder(); ?>" method="post" id="search-form">
            <div class="page-main-actions">
                <div class="admin__form-field row">
                    <div class="col-lg-2 col-md-2 col-xs-2">
                        <label class="admin__form-field-label pl0">
                            <span data-bind="text: label"><strong><?php echo __("From Date") ?></strong></span>
                        </label>
                        <div class="admin__form-field-control">
                            <input type="text" class="input-text required-entry hasDatepicker w100p" autocomplete="off" id="calendar_inputField" name="date_from" value="<?php echo $condition['date_from']; ?>" />
                            <label class="admin__field-error invisible" for="FJ8SO3X"><?php echo __("Please input this field."); ?></label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-2 col-lg-offset-1">
                        <label class="admin__form-field-label pl0">
                            <span data-bind="text: label"><strong><?php echo __("To Date") ?></strong></span>
                        </label>
                        <div class="admin__form-field-control">
                            <input type="text" class="input-text required-entry hasDatepicker w100p" autocomplete="off" id="calendar_inputField_To" name="date_to" value="<?php echo $condition['date_to']; ?>"/>
                            <label class="admin__field-error invisible" for="FJ8SO3X"><?php echo __("Please input this field."); ?></label>
                        </div>
                    </div>
                </div>
                <div class="page-actions">
                    <div class="page-actions-inner">
                        <div class="page-actions-buttons">
                            <button class="action-primary" type="button" title="Refresh Data" onclick="submitForm();" ><?php echo __("Search Data"); ?></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>  
        <div id="page:main-container" class="page-columns">
            <div class="admin__old">
                <div id="container" class="main-col">
                    <div class="tile_count row">
                        <div class="col-md-2 col-sm-4 tile_stats_count">
                            <span class="count_top">
                                <i class="fa fa-money"></i>
                                <span class="text-next-icon"><?php echo __("Doanh Thu") ?></span>
                            </span>
                                <div class="count">
                                    <?php 
                                        $totalSales = $block->getTotalSales($id_seller);
                                        if($totalSales != 0) {
                                            echo $util->formatPrice($totalSales);
                                        } else {
                                            echo '0';
                                        }
                                    ?>
                                </div>
                            <!--<span class="count_bottom"><i class="green">4% </i> From last Week</span>-->
                        </div>
                        <div class="col-md-2 col-sm-4 tile_stats_count">
                            <span class="count_top">
                                <i class="fa fa-money"></i>
                                <span class="text-next-icon"><?php echo __("Doanh thu trung bình") ?></span>
                            </span>
                                <div class="count">
                                    <?php 
                                        $orderQty = $block->getCountOrders($id_seller);
                                        if($orderQty != 0) {
                                            echo $util->formatPrice($totalSales / $orderQty);
                                        } else {
                                            echo '0';
                                        }
                                    ?>
                                </div>
                            <!--<span class="count_bottom"><i class="green">4% </i> From last Week</span>-->
                        </div>
                        <div class="col-md-2 col-sm-4 tile_stats_count">
                            <span class="count_top">
                                <i class="fa fa-line-chart"></i>
                                <span class="text-next-icon"><?php echo __("Tổng số đơn hàng") ?></span>
                            </span>
                                <div class="count">
                                    <?php 
                                        $orderQty = $block->getCountOrder($id_seller);
                                        echo $orderQty;
                                    ?>
                                </div>
                            <!--<span class="count_bottom"><i class="green">4% </i> From last Week</span>-->
                        </div>
                        <div class="col-md-2 col-sm-4 tile_stats_count">
                            <span class="count_top">
                                <i class="fa fa-user"></i>
                                <span class="text-next-icon"><?php echo __("Khách hàng") ?></span>
                            </span>
                                <div class="count">
                                    <?php 
                                        $totalCustomer = $block->getCountCustomer($id_seller);
                                        echo $totalCustomer;
                                    ?>
                                </div>
                            <!--<span class="count_bottom"><i class="green">4% </i> From last Week</span>-->
                        </div>
                        <div class="col-md-2 col-sm-4 tile_stats_count">
                            <span class="count_top">
                                <i class="fa fa-cubes"></i>
                                <span class="text-next-icon"><?php echo __("Số lượng sản phẩm") ?></span>
                            </span>
                                <div class="count">
                                    <?php 
                                        $totalProduct = $block->getCountProduct($id_seller);
                                        echo $totalProduct;
                                    ?>
                                </div>
                            <!--<span class="count_bottom"><i class="green">4% </i> From last Week</span>-->
                        </div>
                        <div class="col-md-2 col-sm-4 tile_stats_count" style="border-right:0">
                            <span class="count_top">
                                <i class="fa fa-star"></i>
                                <span class="text-next-icon"><?php echo __("Số lượt đánh giá") ?></span>
                            </span>
                                <div class="count">
                                    <?php 
                                        $totalRating = $block->getRatingCount($id_seller);
                                        echo $totalRating;
                                    ?>
                                </div>
                            <!--<span class="count_bottom"><i class="green">4% </i> From last Week</span>-->
                        </div>
                    </div>
                    <div class="dashboard-container row">
                        <div class="dashboard-main col-m-8 col-m-push-4">
                                <div class="dashboard-item">
                                <div class="dashboard-item-title"><?php echo __("Best Seller Products"); ?></div>
                                <div class="dashboard-item-content">
                                <table class="admin__table-primary dashboard-data" id="lastSearchGrid_table">
                                    <thead>
                                        <tr>
                                            <th class="tl"><span><?php echo __("Product Name"); ?></span></th>
                                            <!--<th><span><?php echo __("Orders"); ?></span></th>-->
                                            <th><span><?php echo __("Sell Quantity"); ?></span></th>
                                            <th><span><?php echo __("Total Sell Price"); ?></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <?php 
                                            $bestSellerProducts = $block->getBestSellerProducts($id_seller);
                                            if(count($bestSellerProducts) >0){
                                                foreach($bestSellerProducts as $bestSellerProduct) { ?>
                                                    <tr class="even _clickable" title="<?php echo $block->getUrl('customer/admin/editproduct').'id/'.$bestSellerProduct['product_id']; ?>">
                                                        <td class="tl"><?php echo $bestSellerProduct['name']; ?></td>
                                                        <!--<td><?php echo $bestSellerProduct['count']; ?></td>-->
                                                        <td><?php echo $util->formatPriceNoCurrency($bestSellerProduct['qty']); ?></td>
                                                        <td><?php echo $util->formatPrice($bestSellerProduct['total']); ?></td>
                                                    </tr>
                                                <?php } 
                                            } else { ?>
                                                <tr class="tc">
                                                    <td colspan="3"><?php echo __("We couldn't find any records."); ?></td>
                                                </tr>
                                            <?php } ?>
                                    </tbody>
                                </table>
                                    <script>
                                        function fnChangePage(page){
                                            var ajaxUrl = "<?php echo $block->getUrl('customer/admin/dashboardgetbestproducts'); ?>";
                                            var from_date = jQuery("#calendar_inputField").val();
                                            var to_date = jQuery("#calendar_inputField_To").val();

                                            var param = {"from_date": from_date, "to_date": to_date, "id_seller": <?php echo $id_seller; ?>, "page" : page};

                                            jQuery.ajax({
                                                url: ajaxUrl,
                                                data: param,
                                                method: "get",
                                                success: function(res){
                                                    console.log(res);
                                                }
                                            })
                                        }
                                        jQuery(function(){
                                            fnChangePage(1);
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard-secondary col-m-4 col-m-pull-8">
                            <div class="dashboard-item">
                                <div class="dashboard-item-title"><?php echo __("Last 10 Orders"); ?></div>
                                <div class="dashboard-item-content">
                                <table class="admin__table-primary dashboard-data" id="lastOrdersGrid_table">
                                    <thead>
                                        <tr>
                                            <th><span><?php echo __("Customer"); ?></span></th>
                                            <th class="tc"><span><?php echo __("Increment Id"); ?></span></th>
                                            <th class="tc"><span><?php echo __("Sell Quantity"); ?></span></th>
                                            <th class="tc"><span><?php echo __("Ordered At"); ?></span></th>
                                            <th class="tc"><span><?php echo __("Total Price"); ?></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <?php 
                                            $salesOrders = $block->getSalesOrder($id_seller);
                                            if(count($salesOrders) >0){
                                                foreach($salesOrders as $salesOrder) { ?>
                                                    <tr title="<?php echo $block->getUrl('customer/admin/'); ?>orderdetail/order_id/<?php echo $salesOrder['entity_id']; ?>" class="even _clickable">
                                                        <td><?php echo $salesOrder['billing_name']; ?></td>
                                                        <td class="tc"><?php echo $salesOrder['increment_id']; ?></td>
                                                        <td class="tc"><?php echo $util->formatPriceNoCurrency($salesOrder['qty_ordered']); ?></td>
                                                        <td class="tc"><?php echo $salesOrder['created_at']; ?></td>
                                                        <td class="tr"><?php echo $util->formatPrice($salesOrder['grand_total']); ?></td>
                                                    </tr>
                                                <?php }
                                            } else { ?>
                                                <tr class="tc">
                                                    <td colspan="3"><?php echo __("We couldn't find any records."); ?></td>
                                                </tr>
                                            <?php } ?>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </main>
</div>

<style>
.action-primary:focus {line-height: normal;}
</style>

<script>
jQuery(function(){
    jQuery(document).on("click","#lastOrdersGrid_table tr, #lastSearchGrid_table tr", function(){
        //location.href= jQuery(this).attr("title");
    });
});

function submitForm(){
    var validated = true;
    var calendar_inputField = jQuery("#calendar_inputField");
    var calendar_inputField_To = jQuery("#calendar_inputField_To");
    if((calendar_inputField.val() != "" && calendar_inputField_To.val() =="") || (calendar_inputField.val() == "" && calendar_inputField_To.val() !="") ){
        if(calendar_inputField.val() == "") {
            calendar_inputField.next(".admin__field-error").removeClass("invisible");
            calendar_inputField_To.next(".admin__field-error").addClass("invisible");
        } else if(calendar_inputField_To.val() == "") {
            calendar_inputField.next(".admin__field-error").addClass("invisible");
            calendar_inputField_To.next(".admin__field-error").removeClass("invisible");
        }
        validated = false;
    }
    if(validated) {
        jQuery("#search-form").submit();
    }
}
</script>

<script>
	require([
		"jquery",
		"mage/calendar"
	], function ($) {
		$("#calendar_inputField").calendar({
			changeYear: true,
			changeMonth: true,
			inputDateFormat: "y-MM-dd",
			outputDateFormat: "y-MM-dd",
			yearRange: "1970:2050",
			buttonText: "Select Date",
		});
		$("#calendar_inputField_To").calendar({
			changeYear: true,
			changeMonth: true,
			inputDateFormat: "y-MM-dd",
			outputDateFormat: "y-MM-dd",
			yearRange: "1970:2050",
			buttonText: "Select Date",
		});
	});
</script>