<?php
/** @var Libero\Customer\Block\Seller\Admin\OrderDetail $block */
$invoices = $block->getInvoiceDetail();
$invoiceDetail = $invoices[0];
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');

$invoiceDetailTotal = $block->getInvoiceDetailTotal()[0];
$order_id = $invoiceDetail["order_id"];

$shipment = $objectManager->get("\Libero\Customer\Block\Seller\Admin\Shipment");
$telephone  = $shipment->getTelephone($invoiceDetail['increment_id']);

$discount_total = 0;
?>
<script>
    function setLocation(url)
    {
        top.location.href = url;
    }
</script>
<div class="page-wrapper">
	<header class="page-header row">
		<div class="page-header-hgroup col-l-8 col-m-6">
			<div class="page-title-wrapper">
				<h1 class="page-title">#<?php echo $invoiceDetail['increment_id']; ?></h1>
			</div>
		</div>
		<?php echo $this->getChildHtml("header_seller"); ?>
	</header>
	<main id="anchor-content" class="page-content">
    <?php echo $this->getChildHtml("customer_seller_admin_notice"); ?>
		<div class="page-main-actions">
			<div class="page-actions-placeholder" style=""></div>
			<div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
				<div class="page-actions-inner" data-title="#<?php echo $invoiceDetail['increment_id']; ?>">
					<div class="page-actions-buttons">
						<button id="back" title="Back" type="button" class="action-default scalable back" onclick="window.location.href='<?php echo $block->getUrl(); ?>customer/admin/invoice'" data-ui-id="sales-invoice-view-back-button">
							<span><?php echo __("Back"); ?></span>
						</button>
						<!-- <button id="send_notification" title="Send Email" type="button" class="action-default scalable send-email" onclick="setLocation('<?php echo $block->getUrl(); ?>customer/admin/printinvoice/order_id/<?php echo $order_id ?>');" data-ui-id="sales-invoice-view-send-notification-button"> -->
						<button id="send_notification" title="Send Email" type="button" class="action-default scalable send-email" onclick="fnPrintPdf('<?php echo $order_id ?>');" data-ui-id="sales-invoice-view-send-notification-button">
							<span><?php echo __("Print"); ?></span>
						</button>
						<button id="order_ship" title="Ship" type="button" class="action-default scalable ship" onclick="setLocation('<?php echo $block->getUrl(); ?>customer/admin/shipment/order_id/<?php echo $order_id; ?>')" data-ui-id="sales-order-edit-order-ship-button">
							<span><?php echo __("Ship"); ?></span>
						</button>
						<!-- <button id="send_notification" title="Send Email" type="button" class="action-default scalable send-email" onclick="" data-ui-id="sales-invoice-view-send-notification-button">
							<span>Send Email</span>
                        </button> -->
					</div>
				</div>
			</div>
		</div>
		<div id="page:main-container" class="page-columns">
			<div class="admin__old">
				<div id="container" class="main-col">
					<section class="admin__page-section order-view-account-information">
						<div class="admin__page-section-title">
							<span class="title"><?php echo __("Order &amp; Account Information"); ?></span>
						</div>
						<div class="admin__page-section-content">
							<div class="admin__page-section-item order-information">
								<div class="admin__page-section-item-title">
									<span class="title"><?php echo __("Order #"); ?>
									 <?php echo $invoiceDetail['increment_id']; ?>
									<span>(<?php echo __("The order confirmation email was sent"); ?>)</span>
									</span>
								</div>
								<div class="admin__page-section-item-content">
									<table class="admin__table-secondary order-information-table">
										<tbody>
											<tr>
												<th><?php echo __("Order Date"); ?></th>
												<td><?php echo date('Y-m-d H:i:s',strtotime($invoiceDetail['created_at'])); ?></td>
											</tr>
											<tr>
												<th><?php echo __("Order Status"); ?></th>
												<td><span id="order_status"><?php echo __($invoiceDetail['status']); ?></span></td>
											</tr>
											<tr>
												<th><?php echo __("Purchased From"); ?></th>
												<td><?php echo $invoiceDetail['store_name']; ?></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="admin__page-section-item order-account-information">
								<div class="admin__page-section-item-title">
									<span class="title"><?php echo __("Account Information"); ?></span>
									<div class="actions">
										<a href="#" target="_blank">
										<?php echo __("Edit Customer"); ?></a>
									</div>
								</div>
								<div class="admin__page-section-item-content">
									<table class="admin__table-secondary order-account-information-table">
										<tbody>
											<tr>
												<th><?php echo __("Customer Name"); ?></th>
												<td>
													<a href="#" target="_blank">
													<span><?php echo $invoiceDetail['customer_name']; ?></span>
													</a>
												</td>
											</tr>
											<tr>
												<th>Email</th>
												<td><a href="mailto:<?php echo $invoiceDetail['customer_email']; ?>"><?php echo $invoiceDetail['customer_email']; ?></a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</section>
					<section class="admin__page-section order-addresses">
						<div class="admin__page-section-title">
							<span class="title"><?php echo __("Address Information"); ?></span>
						</div>
						<div class="admin__page-section-content">
							<div class="admin__page-section-item order-billing-address">
								<div class="admin__page-section-item-title">
									<span class="title"><?php echo __("Billing Address"); ?></span>
									<div class="actions"><a href="#"><?php echo __("Edit"); ?></a></div>
								</div>
								<address class="admin__page-section-item-content"><?php echo $invoiceDetail['billing_name']; ?><br>
									<?php echo $invoiceDetail['billing_address']; ?><br>
									<?php echo __("Phone") ?>: <?php echo $telephone; ?>
								</address>
							</div>
							<div class="admin__page-section-item order-shipping-address">
								<div class="admin__page-section-item-title">
									<span class="title"><?php echo __("Shipping Address"); ?></span>
									<div class="actions"><a href="#"><?php echo __("Edit"); ?></a></div>
								</div>
								<address class="admin__page-section-item-content"><?php echo $invoiceDetail['shipping_name']; ?><br>
									<?php echo $invoiceDetail['shipping_address']; ?><br>
									<?php echo __("Phone") ?>: <?php echo $telephone; ?>
								</address>
							</div>
						</div>
					</section>
					<section class="admin__page-section order-view-billing-shipping">
						<div class="admin__page-section-title">
							<span class="title"><?php echo __("Payment &amp; Shipping Method"); ?></span>
						</div>
						<div class="admin__page-section-content">
							<div class="admin__page-section-item order-payment-method admin__fieldset-wrapper">
								<div class="admin__page-section-item-title">
									<span class="title"><?php echo __("Payment Information"); ?></span>
								</div>
								<div class="admin__page-section-item-content">
									<div class="order-payment-method-title">
										<p><?php echo __($invoiceDetail['payment_method']); ?></p>
									</div>
									<div class="order-payment-currency">
									<?php echo __("The order was placed using"); ?> <?php echo $invoiceDetail['order_currency_code']; ?>. 
									</div>
									<div class="order-payment-additional"></div>
								</div>
							</div>
							<div class="admin__page-section-item order-shipping-address">
								<div class="admin__page-section-item-title">
									<span class="title"><?php echo __("Shipping Information"); ?></span>
								</div>
								<div class="admin__page-section-item-content shipping-description-wrapper">
									<div class="shipping-description-title">
										<?php echo $invoiceDetail['shipping_description']; ?>
									</div>
									<div class="shipping-description-content">
									<?php echo __("Total Shipping Charges"); ?>:
										<span class="price"><?php echo $util->formatPrice($invoiceDetail['base_shipping_amount']); ?> ₫</span>                                                
										<div></div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="admin__page-section">
						<div class="admin__page-section-title">
							<span class="title"><?php echo __("Items Invoiced"); ?></span>
						</div>
						<div id="invoice_item_container" class="admin__page-section-content">
							<div class="admin__table-wrapper">
								<table class="data-table admin__table-primary order-invoice-tables">
									<thead>
										<tr class="headings">
											<th class="col-product"><span><?php echo __("Product"); ?></span></th>
											<th class="col-price"><span><?php echo __("Price"); ?></span></th>
											<th class="col-qty"><span><?php echo __("Qty"); ?></span></th>
											<th class="col-discount"><span><?php echo __("Discount Amount"); ?></span></th>
											<th class="col-total last"><span><?php echo __("Row Total"); ?></span></th>
										</tr>
									</thead>
									
                                        <?php
                                            $countLoop = 1; 
                                            foreach($invoices as $invoice) { 
                                                if($countLoop % 2 == 0) { ?>
                                                    <tbody class="even">
                                                <?php } else { ?>
                                                    <tbody class="odd">
												<?php } ?>
												<?php 
												if($invoice['parent_item_id'] > 0 && $invoice['parent_item_id'] != "0"){
													continue;
												}
												$arrayProduct = array();
												$array_options = array();
												if($invoice["product_type"]  ==  "configurable"){
													$data_options = $invoice["product_options"];
													$value_options = unserialize($data_options);
													$array_attribute = $value_options["attributes_info"];
													$array_options_label_value = array();
													foreach($array_attribute as $attribute_id => $option){
														$array_options_label_value["label"] = $option["label"];
														$array_options_label_value["value_option"] = $option["value"];
														$arrayProduct["options_configruable"][] = $array_options_label_value;
													}
													$array_options = $arrayProduct["options_configruable"];
												}
												?>
                                                <tr>
                                                    <td class="col-product">
                                                        <div id="order_item_69_title" class="product-title">
                                                            <?php echo $invoice['name']; ?>
                                                        </div>
                                                        <div class="product-sku-block">
															<span><?php echo __("SKU"); ?>:</span> <?php echo $invoice['sku']; ?>    
															<?php if(count($array_options) > 0){ ?>
															<dl class="item-options">
																<?php foreach($array_options as $_options){ ?>
																	<?php 
																	$attribute_label = $_options["label"];
																	$attribute_option = $_options["value_option"];
																	?>
																	<dt><?php echo __($attribute_label); ?>:</dt>
																	<dd>
																		<?php echo __($attribute_option); ?>
																	</dd>
																<?php } ?>
															</dl>
															<?php } ?>
                                                        </div>
                                                    </td>
                                                    <td class="col-price">
                                                        <div class="price-excl-tax">
                                                            <span class="price"><?php echo $util->formatPrice($invoice['base_price']); ?> ₫</span>
                                                        </div>
                                                    </td>
                                                    <td class="col-qty"><?php echo $util->formatPrice($invoice['qty_ordered']); ?></td>
                                                    <td class="col-discount"><span class="price"><?php echo $util->formatPrice($invoice['discount_amount']); ?> ₫</span></td>
                                                    <td class="col-total last">
                                                        <span class="price"><?php echo $util->formatPrice($invoice['row_total'] - $invoice['discount_amount']); ?> ₫</span>    
                                                    </td>
                                                </tr>
                                            </tbody>
										<?php $discount_total += $invoice['discount_amount']; ?>
                                        <?php $countLoop++; }?>
								</table>
							</div>
						</div>
					</section>
					<section class="admin__page-section">
						<div class="admin__page-section-title">
							<span class="title"><?php echo __("Order Total"); ?></span>
						</div>
						<div class="admin__page-section-content">
							<div class="admin__page-section-item order-comments-history">
								<div class="admin__page-section-item-title">
									<span class="title"><?php echo __("Invoice History"); ?></span>
								</div>
								<div class="admin__page-section-item-content">
									<div id="comments_block" class="edit-order-comments">
										<div class="order-history-block">
											<div class="admin__field field-row">
												<label class="admin__field-label" for="history_comment"><?php echo __("Comment Text"); ?></label>
												<div class="admin__field-control">
													<textarea name="comment[comment]" class="admin__control-textarea" rows="3" cols="5" id="history_comment"></textarea>
												</div>
											</div>
											<div class="admin__field">
												<div class="order-history-comments-options">
													<div class="admin__field admin__field-option">
														<input name="comment[is_customer_notified]" type="checkbox" class="admin__control-checkbox" id="history_notify" value="1">
														<label class="admin__field-label" for="history_notify"><?php echo __("Notify Customer by Email"); ?></label>
													</div>
													<div class="admin__field admin__field-option">
														<input name="comment[is_visible_on_front]" type="checkbox" id="history_visible" class="admin__control-checkbox" value="1">
														<label class="admin__field-label" for="history_visible"><?php echo __("Visible on Storefront"); ?></label>
													</div>
												</div>
												<div class="order-history-comments-actions">
													<button id="submit_comment_button" title="Submit Comment" type="button" class="action-default scalable action-secondary save" data-ui-id="order-comments-submit-button">
													<span><?php echo __("Submit Comment"); ?></span>
													</button>
												</div>
											</div>
										</div>
										<ul class="note-list">
										</ul>
									</div>
									<script>
										require(['prototype'], function(){
										
										submitComment = function() {
										    submitAndReloadArea($('comments_block').parentNode, 'http://dev.wisiproduction.com/admin/sales/order_invoice/addComment/id/19/key/0b27cc3d1603ce6a5446673cbec75e66484d7d4ea6260ca57b11bc4773f07607/')
										}
										
										if ($('submit_comment_button')) {
										    $('submit_comment_button').observe('click', submitComment);
										}
										
										});
									</script>
								</div>
							</div>
							<div id="history_form" class="admin__page-section-item order-totals">
								<div class="admin__page-section-item-title">
									<span class="title"><?php echo __("Invoice Totals"); ?></span>
								</div>
								<table class="data-table admin__table-secondary order-subtotal-table">
									<tfoot>
										<tr class="col-0">
											<td class="label">
												<strong><?php echo __("Grand Total"); ?></strong>
											</td>
											<td>
												<strong><span class="price"><?php echo $util->formatPrice($invoiceDetailTotal['row_total'] - $discount_total + $invoiceDetailTotal['shipping_and_handling']); ?> ₫</span></strong>
											</td>
										</tr>
									</tfoot>
									<tbody>
										<tr class="col-0">
											<td class="label">
												<?php echo __("Subtotal"); ?>                                                    
											</td>
											<td>
												<span><span class="price"><?php echo $util->formatPrice($invoiceDetailTotal['row_total']); ?> ₫</span></span>
											</td>
										</tr>
										<tr class="col-1">
											<td class="label">
												<?php echo __("Shipping & Handling"); ?>                                                    
											</td>
											<td>
												<span><span class="price"><?php echo $util->formatPrice($invoiceDetailTotal['shipping_and_handling']); ?> ₫</span></span>
											</td>
										</tr>
										<tr class="col-1">
											<td class="label">
												<?php echo __("Discount Amount"); ?>                                                    
											</td>
											<td>
												<span><span class="price"><?php echo $util->formatPrice($discount_total); ?> ₫</span></span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</section>
					<script>
						require([
						    'jquery',
						    'mage/backend/form',
						    'mage/backend/validation'
						], function($){
						
						    $('#edit_form').form()
						        .validation({
						            validationUrl: '',
						            highlight: function(element) {
						                var detailsElement = $(element).closest('details');
						                if (detailsElement.length && detailsElement.is('.details')) {
						                    var summaryElement = detailsElement.find('summary');
						                    if (summaryElement.length && summaryElement.attr('aria-expanded') === "false") {
						                        summaryElement.trigger('click');
						                    }
						                }
						                $(element).trigger('highlight.validate');
						            }
						        });
						
						});
					</script>
				</div>
			</div>
		</div>
	</main>
	<footer class="page-footer">
		<div class="page-footer-content row">
			<div class="footer-legal">
				<p class="copyright col-m-6">
					<style>
						.ico {display: inline-block; width: 24px; height: 24px;}
						.ico-wisi-logo {background: url(http://dev.wisiproduction.com/pub/static/version1524120093/adminhtml/Magento/backend/en_US/images/wisi-logo.png) no-repeat; background-size: contain;}
						.link-copyright:before {display: none !important;}
						.login-footer .link-copyright {height: 24px; display: inline-block; vertical-align: middle;}
					</style>
					<a class="link-copyright" href="#" target="_blank" title="Wisi">
					<i class="ico ico-wisi-logo"></i>
					</a>
					Copyright © 2018 by Wisi.vn - All right reserved.
				</p>
				<div class="footer-legal-system col-m-6">
					<p class="magento-version">
						<strong>Source</strong>
						ver. 2.1.12
					</p>
					<!-- <a class="link-report" href="https://github.com/magento/magento2/issues" id="footer_bug_tracking">Report Bugs</a> -->
				</div>
			</div>
		</div>
	</footer>
</div>


<script>
function fnPrintPdf(order_id){
	window.open("<?php echo $block->getUrl(); ?>customer/admin/invoicepdf/order_id/" + order_id);
}
</script>