<?php
/** @var Libero\Customer\Block\Seller\Invoice $block */
$invoices = $block->getInvoices();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');
?>


<div class="page-wrapper">
	<header class="page-header row">
		<div class="page-header-hgroup col-l-8 col-m-6">
			<div class="page-title-wrapper">
				<h1 class="page-title"><?php echo __('Invoices');?></h1>
			</div>
		</div>
		<?php echo $this->getChildHtml("header_seller"); ?>
	</header>
    <div id="messages-custom"></div>
	<main id="anchor-content" class="page-content">
		<div id="page:main-container" class="page-columns">
			<div class="admin__old">
				<div id="container" class="main-col">
					<div class="admin__data-grid-header admin__data-grid-toolbar">
						<div class="_massaction admin__data-grid-header-row">
							<div id="cache_grid_massaction" class="admin__grid-massaction">
								<div class="admin__grid-massaction-form">
									<button id="add_new_product-button" title="Ship Order" class="action-default secondary add m0" onclick="fnShipInvoice();" data-ui-id="products-list-add-new-product-button">
										<span><?php echo __("Ship Order") ?></span>
									</button>
								</div>
							</div>
							<div id="cache_grid_massaction" class="admin__grid-massaction ml15">
								<div class="admin__grid-massaction-form">
									<button id="add_new_product-button" title="Add Product" class="action-default secondary add m0" onclick="fnPrintPdf();" data-ui-id="products-list-add-new-product-button">
										<span><?php echo __("Print Invoice") ?></span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="admin__data-grid-outer-wrap" data-bind="scope: 'sales_order_invoice_grid.sales_order_invoice_grid'">
						<div class="admin__data-grid-wrap" data-role="grid-wrapper">
							<table class="data-grid data-grid-draggable" data-role="grid">
								<thead>
									<tr data-bind="foreach: {data: getVisible(), as: '$col'}">
										<th class="data-grid-multicheck-cell"> <input class="admin__control-checkbox chkAll" type="checkbox"id="23"> <label data-bind="attr: {for: ko.uid}" for="23"></label> </th>
										<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Invoice"); ?></span> </th>
										<th class="data-grid-th _sortable _draggable _ascend"><span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Invoice Date"); ?></span> </th>
										<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Order #"); ?></span> </th>
										<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Order Date"); ?></span> </th>
										<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Bill-to Name"); ?></span> </th>
										<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Status"); ?></span> </th>
										<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Grand Total (Base)"); ?></span> </th>
										<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Grand Total (Purchased)"); ?></span> </th>
										<th class="data-grid-th"><span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Action"); ?></span> </th>
									</tr>
								</thead>
								<tbody>
									<?php 
									if(count($invoices)<=0){ ?>
										<tr class="data-row tc">
											<td colspan="10"><?php echo __("We couldn't find any records."); ?></td>
										</tr>
									<?php } else {
										$countLoop = 0;
										foreach($invoices as $invoice) {
											if($countLoop % 2 == 0) { ?>
												<tr class="data-row">
											<?php } else { ?>
												<tr class="data-row _odd-row">
											<?php } ?>
											<?php 
											$customer_name = $invoice["customer_name"];
											?>
											<td class="data-grid-checkbox-cell">
											<label class="data-grid-checkbox-cell-inner">
												<input class="admin__control-checkbox chkChild" name="order_id" type="checkbox" data-action="select-row"  id="idscheck1" value="<?php echo $invoice['order_id']; ?>">
												<label data-bind="attr: {for: index + 'check' + $row()[$col.indexField]}" for="idscheck1"></label>
											</label>
											</td>

											<td><?php echo $invoice['increment_id']; ?></td>
											<td><?php echo date('Y-m-d H:i:s',strtotime($invoice['updated_at'])); ?></td>
											<td><?php echo $invoice['order_id']; ?></td>
											<td><?php echo date('Y-m-d H:i:s',strtotime($invoice['created_at'])); ?></td>
											<td><?php echo $customer_name; ?></td>
											<td><?php echo __("Processing"); ?></td>
											<td><?php echo $util->formatPrice($invoice['base_grand_total']); ?></td>
											<td><?php echo $util->formatPrice($invoice['grand_total']); ?></td>
											<td><a href="<?php echo $block->getUrl('customer/admin/invoicedetail'); ?>order_id/<?php echo $invoice['entity_id']; ?>"><?php echo __("View"); ?></a>
											</td>
										</tr>
									<?php $countLoop++; }
									} ?>
								</tbody>
							</table>
						</div>
						<!-- /ko --><!-- /ko -->
						<!-- /ko -->
						<!-- /ko -->
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer class="page-footer">
		<div class="page-footer-content row">
			<div class="footer-legal">
				<p class="copyright col-m-6">
					<style>
						.ico {display: inline-block; width: 24px; height: 24px;}
						.ico-wisi-logo {background: url(http://dev.wisiproduction.com/pub/static/version1524120093/adminhtml/Magento/backend/en_US/images/wisi-logo.png) no-repeat; background-size: contain;}
						.link-copyright:before {display: none !important;}
						.login-footer .link-copyright {height: 24px; display: inline-block; vertical-align: middle;}
					</style>
					<a class="link-copyright" href="#" target="_blank" title="Wisi">
					<i class="ico ico-wisi-logo"></i>
					</a>
					Copyright © 2018 by Wisi.vn - All right reserved.
				</p>
				<div class="footer-legal-system col-m-6">
					<p class="magento-version">
						<strong>Source</strong>
						ver. 2.1.12
					</p>
					<!-- <a class="link-report" href="https://github.com/magento/magento2/issues" id="footer_bug_tracking">Report Bugs</a> -->
				</div>
			</div>
		</div>
	</footer>
</div>

<script>
function fnPrintPdf(){
	var order_id = "";
	jQuery("input[name='order_id']").each(function(){
		if(jQuery(this).is(":checked")){
			order_id += jQuery(this).val() + ",";
		}
	});
	if(order_id.length>0){
		order_id = order_id.substr(0,order_id.length-1);
		window.open("<?php echo $block->getUrl(); ?>customer/admin/invoicepdf/order_id/" + order_id);
	} else {
		var msg = "";
		msg += '<div class="messages">';
		msg += '	<div class="message message-error">';
		msg += '		<div id="messages-message-error"><?php echo __("Please select the invoice you want to print"); ?></div>';
		msg += '	</div>';
		msg += '</div>';
		jQuery("#messages-custom").html(msg);
	}
}

function fnShipInvoice(){
	var order_id = "";
	jQuery("input[name='order_id']").each(function(){
		if(jQuery(this).is(":checked")){
			order_id += jQuery(this).val() + ",";
		}
	});
	if(order_id.length>0){
		order_id = order_id.substr(0,order_id.length-1);
		location.href = "<?php echo $block->getUrl(); ?>customer/admin/shipinvoice/order_id/" + order_id;
	} else {
		var msg = "";
		msg += '<div class="messages">';
		msg += '	<div class="message message-error">';
		msg += '		<div id="messages-message-error"><?php echo __("Please select the invoice you want to ship"); ?></div>';
		msg += '	</div>';
		msg += '</div>';
		jQuery("#messages-custom").html(msg);
	}
}
</script>



<style>
.message:before, .order-errors .admin__fieldset-wrapper .title:before { display:none; }
.message-error {padding: 10px 3rem;}
.message-error:before { display:none; }
.message:before, .order-errors .admin__fieldset-wrapper .title:before { display:none; }
</style>