<?php
/** Libero\Customer\Block\Seller\Admin */
    $objSeller = $block->getSellerDetail();
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
    $media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
    $logo_url = $media_url.$objSeller->getData("logo_url");
    $link_product = $block->getUrlProduct();
    $link_configruable_product = $block->getAddConfigruableProduct();
    $link_dash_board = $block->getUrlDashBoard();
    $link_report_review_customer_url = $block->getUrlReportReviewByCustomer();
    $link_report_faq_customer_url = $block->getUrlFaq();
    $link_user = $block->getUrlUserListing();
    $link_role = $block->getRoleListing();
    $link_rma = $block->getRmaListing();
    $link_import_product = $block->getImportUrl();
    $link_export_product = $block->getExportUrl();
    $currentActionController = $block->getActionName();
    $permissionArray = $block->getAclPermission();
    $classActiveDashBoard = "";
    $classActiveProduct = "";
    $classActiveBalance = "";
    $classActiveReport = "";
    $classActiveUser = "";
    $classActiveSale = "";
    switch ($currentActionController) {
        case 'index':
            //dash board
            $classActiveDashBoard = "_active";        
            break;
        case 'productlisting':
        case 'addproduct':
        case 'editproduct':
            $classActiveProduct = "_active";
            break;
        case 'balancelist':
            $classActiveBalance = "_active";
            break;
        case 'reportreviewcustomer':
            $classActiveReport = "_active";
            break;
        case 'accountlisting':
        case 'adduser':
        case 'getRoleListing':
        case 'addrole':
            $classActiveUser = "_active";
            break;
        case 'requestrma':
        case 'editrma':
        case 'shipmentlisting':
            $classActiveSale = "_active";
            break;
        default:
            # code...
            break;
    }
    
?>
<div class="menu-wrapper _fixed">
   <a href="<?php echo $link_dash_board ?>" data-edition="" class="logo">
   <img class="logo-img" src="<?php echo $logo_url; ?>" alt="">
   </a>
   <nav class="admin__menu">
      <ul id="nav_seller" role="menubar">
        <?php if(in_array("admin",$permissionArray)){ ?>
             <li data-ui-id="menu-magento-backend-dashboard" class="item-dashboard _current <?php echo $classActiveDashBoard; ?>  level-0" id="menu-magento-backend-dashboard" aria-haspopup="true" role="menu-item"><a href="<?php echo $link_dash_board ?>"><span><?php echo __('Dashboard');?></span></a></li>
        <?php } ?>

        <?php if(in_array("sale",$permissionArray)){ ?>
         <li data-ui-id="menu-magento-sales-sales" class="item-sales <?php echo $classActiveSale; ?> parent  level-0" id="menu-magento-sales-sales" aria-haspopup="true" role="menu-item">
            <a href="#" onclick="return false;" class=""><span><?php echo __('Sales');?></span></a>
            <div class="submenu" aria-labelledby="menu-magento-sales-sales">
               <strong class="submenu-title"><?php echo __('Sales');?></strong><a href="#" class="action-close _close" data-role="close-submenu"></a>
               <ul role="menu">
                  <li class="column">
                     <ul role="menu">
                        <li data-ui-id="menu-magento-sales-sales-operation" class="item-sales-operation parent level-1" role="menu-item">
                           <strong class="submenu-group-title" role="presentation"><span><?php echo __('Operations');?></span></strong>
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-magento-sales-sales-order" class="item-sales-order    level-2" role="menu-item"><a href="<?php echo $block->getUrl() ?>customer/admin/order" class=""><span><?php echo __('Orders'); ?></span></a></li>
                                 <li data-ui-id="menu-magento-sales-sales-order" class="item-sales-order    level-2" role="menu-item"><a href="<?php echo $block->getUrl() ?>customer/admin/packaging" class=""><span><?php echo __('Request Packaging'); ?></span></a></li>
                                 <li data-ui-id="menu-magento-sales-sales-invoice" class="item-sales-invoice    level-2" role="menu-item"><a href="<?php echo $block->getUrl() ?>customer/admin/invoice" class=""><span><?php echo __('Invoices'); ?></span></a></li>
                                 <li data-ui-id="menu-magento-sales-sales-shipment" class="item-sales-shipment    level-2" role="menu-item"><a href="<?php echo $block->getShipmentListing(); ?>" class=""><span><?php echo __('Shipments'); ?></span></a></li>
                             <!--    <li data-ui-id="menu-magento-sales-sales-creditmemo" class="item-sales-creditmemo    level-2" role="menu-item"><a href="#" class=""><span>Credit Memos</span></a></li>
                                 <li data-ui-id="menu-magento-paypal-paypal-billing-agreement" class="item-paypal-billing-agreement    level-2" role="menu-item"><a href="#" class=""><span>Billing Agreements</span></a></li>
                                 <li data-ui-id="menu-magento-sales-sales-transactions" class="item-sales-transactions    level-2" role="menu-item"><a href="#" class=""><span>Transactions</span></a></li>-->
                              </ul>
                           </div>
                        </li>
                     </ul>
                  </li>
                  <li class="column">
                     <ul role="menu">
                        <li data-ui-id="menu-libero-rma-parent" class="item-parent parent level-1" role="menu-item">
                           <strong class="submenu-group-title" role="presentation"><span><?php echo __('Return Management');?></span></strong>
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-libero-rma-index" class="item-index parent level-2" role="menu-item">
                                    <div class="submenu">
                                       <ul role="menu">
                                          <li data-ui-id="menu-libero-rma-rma-request" class="item-rma-request    level-3" role="menu-item"><a href="<?php echo $link_rma; ?>" class=""><span><?php echo __('RMA Request'); ?></span></a></li>
                                       </ul>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </li>
                     </ul>
                  </li>
               </ul>
            </div>
         </li>
        <?php } ?>

        <?php if(in_array("product",$permissionArray)){ ?>
         <li data-ui-id="menu-magento-catalog-catalog" class="item-catalog parent level-0 <?php echo $classActiveProduct; ?>" id="menu-magento-catalog-catalog" aria-haspopup="true" role="menu-item">
            <a href="#" onclick="return false;" class=""><span><?php echo __('Products');?></span></a>
            <div class="submenu" aria-labelledby="menu-magento-sales-sales">
               <strong class="submenu-title"><?php echo __('Sales');?></strong><a href="#" class="action-close _close" data-role="close-submenu"></a>
               <ul role="menu">
                  <li class="column">
                     <ul role="menu">
                        <li data-ui-id="menu-magento-sales-sales-operation" class="item-sales-operation parent level-1" role="menu-item">
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-magento-sales-sales-order" class="item-sales-order    level-2" role="menu-item"><a href="<?php echo $link_product; ?>" class=""><span><?php echo __('Products'); ?></span></a></li>
                                 <li data-ui-id="menu-magento-sales-sales-order" class="item-sales-order    level-2" role="menu-item"><a href="<?php echo $link_import_product ?>" class=""><span><?php echo __('Import'); ?></span></a></li>
                                 <li data-ui-id="menu-magento-sales-sales-invoice" class="item-sales-invoice    level-2" role="menu-item"><a href="<?php echo $link_export_product ?>" class=""><span><?php echo __('Export'); ?></span></a></li>
                              </ul>
                           </div>
                        </li>
                     </ul>
                  </li>
               </ul>
            </div>
         </li>
        <?php } ?>
        <!--
         <li data-ui-id="menu-magento-customer-customer" class="item-customer parent level-0" id="menu-magento-customer-customer" aria-haspopup="true" role="menu-item">
            <a href="#" onclick="return false;" class=""><span>Customers</span></a>
            <div class="submenu" aria-labelledby="menu-magento-customer-customer">
               <strong class="submenu-title">Customers</strong><a href="#" class="action-close _close" data-role="close-submenu"></a>
               <ul role="menu">
                  <li data-ui-id="menu-magento-customer-customer-manage" class="item-customer-manage    level-1" role="menu-item"><a href="http://dev.wisiproduction.com/admin/customer/index/index/key/d200659c452c865798cfb02c9abe4adc67fff359eaea8cef3b86b180925b9a97/" class=""><span>All Customers</span></a></li>
                  <li data-ui-id="menu-magento-customer-customer-online" class="item-customer-online    level-1" role="menu-item"><a href="http://dev.wisiproduction.com/admin/customer/online/index/key/47be513ed49f1dda97f3cc40e0b77656f99b453210fb72213cb18b565d135418/" class=""><span>Now Online</span></a></li>
                  <li data-ui-id="menu-magento-customer-customer-group" class="item-customer-group    level-1" role="menu-item"><a href="http://dev.wisiproduction.com/admin/customer/group/index/key/752a28a5ee627f713c9dc05229da1eede75f04e8b745104479f0945f4e73938c/" class=""><span>Customer Groups</span></a></li>
               </ul>
            </div>
         </li>-->
         <!--
         <li data-ui-id="menu-magento-backend-marketing" class="item-marketing parent level-0" id="menu-magento-backend-marketing" aria-haspopup="true" role="menu-item">
            <a href="#" onclick="return false;" class=""><span>Marketing</span></a>
            <div class="submenu" aria-labelledby="menu-magento-backend-marketing">
               <strong class="submenu-title">Marketing</strong><a href="#" class="action-close _close" data-role="close-submenu"></a>
               <ul role="menu">
                  <li class="column">
                     <ul role="menu">
                        <li data-ui-id="menu-magento-catalogrule-promo" class="item-promo parent level-1" role="menu-item">
                           <strong class="submenu-group-title" role="presentation"><span>Promotions</span></strong>
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-magento-catalogrule-promo-catalog" class="item-promo-catalog    level-2" role="menu-item"><a href="http://dev.wisiproduction.com/admin/catalog_rule/promo_catalog/index/key/b7e432b3c4c83e3ee4ad7cd32345df6ec0762727a772754714b5392610f5dffd/" class=""><span>Catalog Price Rule</span></a></li>
                                 <li data-ui-id="menu-magento-salesrule-promo-quote" class="item-promo-quote    level-2" role="menu-item"><a href="http://dev.wisiproduction.com/admin/sales_rule/promo_quote/index/key/7ea7bfc3cdd748a64d899a8316ed9cee6b55b431cb342ae64845963812367796/" class=""><span>Cart Price Rules</span></a></li>
                              </ul>
                           </div>
                        </li>
                        <li data-ui-id="menu-magento-backend-marketing-communications" class="item-marketing-communications parent level-1" role="menu-item">
                           <strong class="submenu-group-title" role="presentation"><span>Communications</span></strong>
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-magento-email-template" class="item-template    level-2" role="menu-item"><a href="http://dev.wisiproduction.com/admin/admin/email_template/index/key/8a894fadec381e1764b25dfde507b421697049a181dfefb91793d06e8f5cdadc/" class=""><span>Email Templates</span></a></li>
                                 <li data-ui-id="menu-magento-newsletter-newsletter-template" class="item-newsletter-template    level-2" role="menu-item"><a href="http://dev.wisiproduction.com/admin/newsletter/template/index/key/b05c03f028944cd08e94a4ae4090f19fb33bababaa54932ec9490c3538e57d5d/" class=""><span>Newsletter Template</span></a></li>
                                 <li data-ui-id="menu-magento-newsletter-newsletter-queue" class="item-newsletter-queue    level-2" role="menu-item"><a href="http://dev.wisiproduction.com/admin/newsletter/queue/index/key/090851325c1893ceb38396003ca52da8f8a28f2b5e9dd62a1552b278035e2d80/" class=""><span>Newsletter Queue</span></a></li>
                                 <li data-ui-id="menu-magento-newsletter-newsletter-subscriber" class="item-newsletter-subscriber    level-2" role="menu-item"><a href="http://dev.wisiproduction.com/admin/newsletter/subscriber/index/key/cfce8ff0d4ea9febe4f34dc00e97f9113890bad70d07342a314d192a55264c2c/" class=""><span>Newsletter Subscribers</span></a></li>
                              </ul>
                           </div>
                        </li>
                     </ul>
                  </li>
                  <li class="column">
                     <ul role="menu">
                        <li data-ui-id="menu-magento-backend-marketing-seo" class="item-marketing-seo parent level-1" role="menu-item">
                           <strong class="submenu-group-title" role="presentation"><span>SEO &amp; Search</span></strong>
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-magento-urlrewrite-urlrewrite" class="item-urlrewrite    level-2" role="menu-item"><a href="http://dev.wisiproduction.com/admin/admin/url_rewrite/index/key/402df489c6aa28019d51506c49503f7e2fe8ce3f5878cb7b557b2dfc9e6325b1/" class=""><span>URL Rewrites</span></a></li>
                                 <li data-ui-id="menu-magento-search-search-terms" class="item-search-terms    level-2" role="menu-item"><a href="http://dev.wisiproduction.com/admin/search/term/index/key/274a0df099ad0e3b3fcaeb422abb9e0f088c0d0b8b9f0e9c5c435872c1e94e9b/" class=""><span>Search Terms</span></a></li>
                                 <li data-ui-id="menu-magento-search-search-synonyms" class="item-search-synonyms    level-2" role="menu-item"><a href="http://dev.wisiproduction.com/admin/search/synonyms/index/key/393f04a4fb0428eeefbc9fb805db76839523175899966c772341c95f656417c8/" class=""><span>Search Synonyms</span></a></li>
                                 <li data-ui-id="menu-magento-sitemap-catalog-sitemap" class="item-catalog-sitemap    level-2" role="menu-item"><a href="http://dev.wisiproduction.com/admin/admin/sitemap/index/key/bdaf694e4c3e6ad7b991a9df627d235b351e5e240fda9b0913afc218ab872636/" class=""><span>Site Map</span></a></li>
                              </ul>
                           </div>
                        </li>
                        <li data-ui-id="menu-magento-backend-marketing-user-content" class="item-marketing-user-content parent level-1" role="menu-item">
                           <strong class="submenu-group-title" role="presentation"><span>User Content</span></strong>
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-magento-review-catalog-reviews-ratings-reviews-all" class="item-catalog-reviews-ratings-reviews-all    level-2" role="menu-item"><a href="http://dev.wisiproduction.com/admin/review/product/index/key/400a214fb4a2c94ba899c0096fe3bd77a2c19b16452c321ce2c687c636c597f3/" class=""><span>Reviews</span></a></li>
                              </ul>
                           </div>
                        </li>
                     </ul>
                  </li>
               </ul>
            </div>
         </li>
        -->
         <li data-ui-id="menu-magento-balancelist" class="item-report parent level-0 <?php echo $classActiveBalance; ?>" id="menu-magento-balancelist" aria-haspopup="true" role="menu-item">
            <a href="<?php echo $block->getUrl().'customer/admin/balancelist' ; ?>" class=""><span><?php echo __('Balance List');?></span></a>
         </li>
         <li data-ui-id="menu-magento-backend-content" class="item-marketing parent  level-0" id="menu-magento-backend-content" aria-haspopup="true" role="menu-item">
            <a href="<?php echo $link_report_faq_customer_url; ?>" class=""><span><?php echo __('FAQ');?></span></a>
         </li>

         <?php if(in_array("report",$permissionArray)){ ?>
         <li data-ui-id="menu-magento-reports-report" class="item-report parent level-0 <?php echo $classActiveReport; ?>" id="menu-magento-reports-report" aria-haspopup="true" role="menu-item">
            <a href="#" onclick="return false;" class=""><span><?php echo __('Reports');?></span></a>
            <div class="submenu" aria-labelledby="menu-magento-reports-report">
               <strong class="submenu-title"><?php echo __('Reports');?></strong><a href="#" class="action-close _close" data-role="close-submenu"></a>
               <ul role="menu">
                  <li class="column">
        <!--
                     <ul role="menu">
                        <li data-ui-id="menu-magento-reports-report-marketing" class="item-report-marketing parent level-1" role="menu-item">
                           <strong class="submenu-group-title" role="presentation"><span>Marketing</span></strong>
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-magento-reports-report-shopcart-product" class="item-report-shopcart-product    level-2" role="menu-item"><a href="#" class=""><span>Products in Cart</span></a></li>
                                 <li data-ui-id="menu-magento-search-report-search-term" class="item-report-search-term    level-2" role="menu-item"><a href="#" class=""><span>Search Terms</span></a></li>
                                 <li data-ui-id="menu-magento-reports-report-shopcart-abandoned" class="item-report-shopcart-abandoned    level-2" role="menu-item"><a href="#" class=""><span>Abandoned Carts</span></a></li>
                                 <li data-ui-id="menu-magento-newsletter-newsletter-problem" class="item-newsletter-problem    level-2" role="menu-item"><a href="#" class=""><span>Newsletter Problem Reports</span></a></li>
                              </ul>
                           </div>
                        </li>
                        -->
                        <li data-ui-id="menu-magento-review-report-review" class="item-report-review parent level-1" role="menu-item">
                           <strong class="submenu-group-title" role="presentation"><span><?php echo __('Reviews');?></span></strong>
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-magento-review-report-review-customer" class="item-report-review-customer    level-2" role="menu-item"><a href="<?php echo $link_report_review_customer_url ?>" class=""><span><?php echo __('By Customers'); ?></span></a></li>
                                 <!--<li data-ui-id="menu-magento-review-report-review-product" class="item-report-review-product    level-2" role="menu-item"><a href="#" class=""><span>By Products</span></a></li>-->
                              </ul>
                           </div>
                        </li>
                        <!-- <li data-ui-id="menu-magento-review-report-review" class="item-report-review parent level-1" role="menu-item">
                           <strong class="submenu-group-title" role="presentation"><span><?php echo __('FAQ');?></span></strong>
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-magento-review-report-review-customer" class="item-report-review-customer    level-2" role="menu-item"><a href="<?php echo $link_report_faq_customer_url ?>" class=""><span><?php echo __('List Question'); ?></span></a></li>
                                 <li data-ui-id="menu-magento-review-report-review-product" class="item-report-review-product    level-2" role="menu-item"><a href="#" class=""><span>By Products</span></a></li>
                              </ul>
                           </div>
                        </li> -->
                     </ul>
                  </li>
        <!--
                  <li class="column">
                     <ul role="menu">
                        <li data-ui-id="menu-magento-reports-report-salesroot" class="item-report-salesroot parent level-1" role="menu-item">
                           <strong class="submenu-group-title" role="presentation"><span>Sales</span></strong>
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-magento-reports-report-salesroot-sales" class="item-report-salesroot-sales    level-2" role="menu-item"><a href="#" class=""><span>Orders</span></a></li>
                                 <li data-ui-id="menu-magento-reports-report-salesroot-tax" class="item-report-salesroot-tax    level-2" role="menu-item"><a href="#" class=""><span>Tax</span></a></li>
                                 <li data-ui-id="menu-magento-reports-report-salesroot-invoiced" class="item-report-salesroot-invoiced    level-2" role="menu-item"><a href="#" class=""><span>Invoiced</span></a></li>
                                 <li data-ui-id="menu-magento-reports-report-salesroot-shipping" class="item-report-salesroot-shipping    level-2" role="menu-item"><a href="#" class=""><span>Shipping</span></a></li>
                                 <li data-ui-id="menu-magento-reports-report-salesroot-refunded" class="item-report-salesroot-refunded    level-2" role="menu-item"><a href="#" class=""><span>Refunds</span></a></li>
                                 <li data-ui-id="menu-magento-reports-report-salesroot-coupons" class="item-report-salesroot-coupons    level-2" role="menu-item"><a href="#" class=""><span>Coupons</span></a></li>
                                 <li data-ui-id="menu-magento-paypal-report-salesroot-paypal-settlement-reports" class="item-report-salesroot-paypal-settlement-reports    level-2" role="menu-item"><a href="#" class=""><span>PayPal Settlement</span></a></li>
                                 <li data-ui-id="menu-magento-braintree-settlement-report" class="item-settlement-report    level-2" role="menu-item"><a href="#" class=""><span>Braintree Settlement</span></a></li>
                              </ul>
                           </div>
                        </li>
                     </ul>
                  </li>
                  <li class="column">
                     <ul role="menu">
                        <li data-ui-id="menu-magento-reports-report-customers" class="item-report-customers parent level-1" role="menu-item">
                           <strong class="submenu-group-title" role="presentation"><span>Customers</span></strong>
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-magento-reports-report-customers-totals" class="item-report-customers-totals    level-2" role="menu-item"><a href="#" class=""><span>Order Total</span></a></li>
                                 <li data-ui-id="menu-magento-reports-report-customers-orders" class="item-report-customers-orders    level-2" role="menu-item"><a href="#" class=""><span>Order Count</span></a></li>
                                 <li data-ui-id="menu-magento-reports-report-customers-accounts" class="item-report-customers-accounts    level-2" role="menu-item"><a href="#" class=""><span>New</span></a></li>
                              </ul>
                           </div>
                        </li>
                        <li data-ui-id="menu-magento-reports-report-products" class="item-report-products parent level-1" role="menu-item">
                           <strong class="submenu-group-title" role="presentation"><span>Products</span></strong>
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-magento-reports-report-products-viewed" class="item-report-products-viewed    level-2" role="menu-item"><a href="#" class=""><span>Views</span></a></li>
                                 <li data-ui-id="menu-magento-reports-report-products-bestsellers" class="item-report-products-bestsellers    level-2" role="menu-item"><a href="#" class=""><span>Bestsellers</span></a></li>
                                 <li data-ui-id="menu-magento-reports-report-products-lowstock" class="item-report-products-lowstock    level-2" role="menu-item"><a href="#" class=""><span>Low Stock</span></a></li>
                                 <li data-ui-id="menu-magento-reports-report-products-sold" class="item-report-products-sold    level-2" role="menu-item"><a href="#" class=""><span>Ordered</span></a></li>
                                 <li data-ui-id="menu-magento-downloadable-report-products-downloads" class="item-report-products-downloads    level-2" role="menu-item"><a href="#" class=""><span>Downloads</span></a></li>
                              </ul>
                           </div>
                        </li>
                        <li data-ui-id="menu-magento-reports-report-statistics" class="item-report-statistics parent level-1" role="menu-item">
                           <strong class="submenu-group-title" role="presentation"><span>Statistics</span></strong>
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-magento-reports-report-statistics-refresh" class="item-report-statistics-refresh    level-2" role="menu-item"><a href="#" class=""><span>Refresh Statistics</span></a></li>
                              </ul>
                           </div>
                        </li>
                     </ul>
                  </li>
               </ul>
            </div>
       
         <?php } ?>
  </li> -->
         <?php if(in_array("store",$permissionArray)){ ?>
         <li data-ui-id="menu-magento-backend-stores" class="item-stores parent level-0" id="menu-magento-backend-stores" aria-haspopup="true" role="menu-item">
            <a href="#" onclick="return false;" class=""><span><?php echo __('Stores');?></span></a>
            <div class="submenu" aria-labelledby="menu-magento-backend-stores">
               <strong class="submenu-title"><?php echo __('Stores');?></strong><a href="#" class="action-close _close" data-role="close-submenu"></a>
               <ul role="menu">
    <!--
                  <li class="column">
                     <ul role="menu">
                        <li data-ui-id="menu-magento-backend-stores-settings" class="item-stores-settings parent level-1" role="menu-item">
                           <strong class="submenu-group-title" role="presentation"><span>Settings</span></strong>
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-magento-backend-system-store" class="item-system-store    level-2" role="menu-item"><a href="#" class=""><span>All Stores</span></a></li>
                                 <li data-ui-id="menu-magento-config-system-config" class="item-system-config    level-2" role="menu-item"><a href="#" class=""><span>Configuration</span></a></li>
                                 <li data-ui-id="menu-magento-checkoutagreements-sales-checkoutagreement" class="item-sales-checkoutagreement    level-2" role="menu-item"><a href="#" class=""><span>Terms and Conditions</span></a></li>
                                 <li data-ui-id="menu-magento-sales-system-order-statuses" class="item-system-order-statuses    level-2" role="menu-item"><a href="#" class=""><span>Order Status</span></a></li>
                              </ul>
                           </div>
                        </li>
                        <li data-ui-id="menu-magento-tax-sales-tax" class="item-sales-tax parent level-1" role="menu-item">
                           <strong class="submenu-group-title" role="presentation"><span>Taxes</span></strong>
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-magento-tax-sales-tax-rules" class="item-sales-tax-rules    level-2" role="menu-item"><a href="#" class=""><span>Tax Rules</span></a></li>
                                 <li data-ui-id="menu-magento-tax-sales-tax-rates" class="item-sales-tax-rates    level-2" role="menu-item"><a href="#" class=""><span>Tax Zones and Rates</span></a></li>
                              </ul>
                           </div>
                        </li>
                        <li data-ui-id="menu-magento-currencysymbol-system-currency" class="item-system-currency parent level-1" role="menu-item">
                           <strong class="submenu-group-title" role="presentation"><span>Currency</span></strong>
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-magento-currencysymbol-system-currency-rates" class="item-system-currency-rates    level-2" role="menu-item"><a href="#" class=""><span>Currency Rates</span></a></li>
                                 <li data-ui-id="menu-magento-currencysymbol-system-currency-symbols" class="item-system-currency-symbols    level-2" role="menu-item"><a href="#" class=""><span>Currency Symbols</span></a></li>
                              </ul>
                           </div>
                        </li>
                     </ul>
                  </li>
         -->
                  <li class="column">
                     <ul role="menu">
        <!--
                        <li data-ui-id="menu-magento-backend-stores-attributes" class="item-stores-attributes parent level-1" role="menu-item">
                           <strong class="submenu-group-title" role="presentation"><span>Attributes</span></strong>
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-magento-catalog-catalog-attributes-attributes" class="item-catalog-attributes-attributes    level-2" role="menu-item"><a href="#" class=""><span>Product</span></a></li>
                                 <li data-ui-id="menu-magento-catalog-catalog-attributes-sets" class="item-catalog-attributes-sets    level-2" role="menu-item"><a href="#" class=""><span>Attribute Set</span></a></li>
                                 <li data-ui-id="menu-magento-review-catalog-reviews-ratings-ratings" class="item-catalog-reviews-ratings-ratings    level-2" role="menu-item"><a href="#" class=""><span>Rating</span></a></li>
                              </ul>
                           </div>
                        </li>
         -->
                        <li data-ui-id="menu-libero-onestepcheckout-parent" class="item-parent parent level-1" role="menu-item">
                           <strong class="submenu-group-title" role="presentation"><span><?php echo __('Shipping');?></span></strong>
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-libero-onestepcheckout-index" class="item-index    level-2" role="menu-item"><a href="<?php echo $block->getUrlDeliveryManager(); ?>" class=""><span><?php echo __('Delivery Management');?></span></a></li>
                              </ul>
                           </div>
                        </li>
                        <li data-ui-id="menu-libero-onestepcheckout-parent" class="item-parent parent level-1" role="menu-item">
                           <strong class="submenu-group-title" role="presentation"><span><?php echo __('Setting');?></span></strong>
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-libero-onestepcheckout-index" class="item-index    level-2" role="menu-item"><a href="<?php echo $block->getUrlConfiguration(); ?>" class=""><?php echo __('Configuration');?><span></span></a></li>
                              </ul>
                           </div>
                        </li>

                        <li data-ui-id="menu-libero-onestepcheckout-parent" class="item-parent parent level-1" role="menu-item">
                           <strong class="submenu-group-title" role="presentation"><span><?php echo __('Store');?></span></strong>
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-magento-backend-content" class="item-index    level-2" role="menu-item"> <a href="<?php echo $block->getUrlViewStore($objSeller->getData("id_seller_company")); ?>" class=""><span><?php echo __('Front Store');?></span></a> </li>
                              </ul>
                           </div>
                        </li>

                        
                     </ul>
                  </li>
               </ul>
            </div>
         </li>
         <?php } ?>

         <?php if(in_array("system",$permissionArray)){ ?>
         <li data-ui-id="menu-magento-backend-system" class="item-system parent level-0 <?php echo $classActiveUser; ?>" id="menu-magento-backend-system" aria-haspopup="true" role="menu-item">
            <a href="#" onclick="return false;" class=""><span><?php echo __('System');?></span></a>
            <div class="submenu" aria-labelledby="menu-magento-backend-system">
               <strong class="submenu-title"><?php echo __('System');?></strong><a href="#" class="action-close _close" data-role="close-submenu"></a>
               <ul role="menu">
                  <li class="column">
                     <ul role="menu">
        <!--
                        <li data-ui-id="menu-magento-backend-system-convert" class="item-system-convert parent level-1" role="menu-item">
                           <strong class="submenu-group-title" role="presentation"><span>Data Transfer</span></strong>
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-magento-importexport-system-convert-import" class="item-system-convert-import    level-2" role="menu-item"><a href="#" class=""><span>Import</span></a></li>
                                 <li data-ui-id="menu-magento-importexport-system-convert-export" class="item-system-convert-export    level-2" role="menu-item"><a href="#" class=""><span>Export</span></a></li>
                                 <li data-ui-id="menu-magento-taximportexport-system-convert-tax" class="item-system-convert-tax    level-2" role="menu-item"><a href="#" class=""><span>Import/Export Tax Rates</span></a></li>
                                 <li data-ui-id="menu-magento-importexport-system-convert-history" class="item-system-convert-history    level-2" role="menu-item"><a href="#" class=""><span>Import History</span></a></li>
                              </ul>
                           </div>
                        </li>
                        <li data-ui-id="menu-magento-integration-system-extensions" class="item-system-extensions parent level-1" role="menu-item">
                           <strong class="submenu-group-title" role="presentation"><span>Extensions</span></strong>
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-magento-integration-system-integrations" class="item-system-integrations    level-2" role="menu-item"><a href="#" class=""><span>Integrations</span></a></li>
                              </ul>
                           </div>
                        </li>
                        <li data-ui-id="menu-magento-backend-system-tools" class="item-system-tools parent level-1" role="menu-item">
                           <strong class="submenu-group-title" role="presentation"><span>Tools</span></strong>
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-magento-backend-system-cache" class="item-system-cache    level-2" role="menu-item"><a href="#" class=""><span>Cache Management</span></a></li>
                                 <li data-ui-id="menu-magento-backup-system-tools-backup" class="item-system-tools-backup    level-2" role="menu-item"><a href="#" class=""><span>Backups</span></a></li>
                                 <li data-ui-id="menu-magento-indexer-system-index" class="item-system-index    level-2" role="menu-item"><a href="#" class=""><span>Index Management</span></a></li>
                                 <li data-ui-id="menu-magento-backend-setup-wizard" class="item-setup-wizard    level-2" role="menu-item"><a href="#" class=""><span>Web Setup Wizard</span></a></li>
                              </ul>
                           </div>
                        </li>
                     </ul>
                  </li>
         -->
                  <li class="column">
                     <ul role="menu">
                        <li data-ui-id="menu-magento-user-system-acl" class="item-system-acl parent level-1" role="menu-item">
                           <strong class="submenu-group-title" role="presentation"><span><?php echo __('Permissions')?></span></strong>
                           <div class="submenu">
                              <ul role="menu">
                                 <li data-ui-id="menu-magento-user-system-acl-users" class="item-system-acl-users    level-2" role="menu-item"><a href="<?php echo $link_user; ?>" class=""><span><?php echo __('All Users')?></span></a></li>
                                 <!--<li data-ui-id="menu-magento-user-system-acl-locks" class="item-system-acl-locks    level-2" role="menu-item"><a href="#" class=""><span>Locked Users</span></a></li>-->
                                 <li data-ui-id="menu-magento-user-system-acl-roles" class="item-system-acl-roles    level-2" role="menu-item"><a href="<?php echo $link_role; ?>" class=""><span><?php echo __('User Roles')?></span></a></li>
                              </ul>
                           </div>
                        </li>
                     </ul>
                  </li>
               </ul>
            </div>
         </li>
        <?php } ?>
      </ul>
   </nav>
</div>