<?php
/** @var Libero\Customer\Block\Seller\Admin\OrderDetail $block */
$orders = $block->getOrderDetail();
$orderDetail = $orders[0];
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');

$orderDetailTotal = $block->getOrderDetailTotal()[0];
$orderTotalQty = $block->getOrderDetailTotalQty()[0]['qty_ordered'];

$shipment = $objectManager->get("\Libero\Customer\Block\Seller\Admin\Shipment");
$telephone  = $shipment->getTelephone($orderDetail['increment_id']);
?>

<div class="page-wrapper">
	<header class="page-header row">
		<div class="page-header-hgroup col-l-8 col-m-6">
			<div class="page-title-wrapper">
				<h1 class="page-title"><?php echo __("New Invoice"); ?></h1>
			</div>
		</div>
		<?php echo $this->getChildHtml("header_seller"); ?>
	</header>
	<div><input name="form_key" type="hidden" value=""></div>
	<main id="anchor-content" class="page-content">
		<div class="page-main-actions">
			<div class="page-actions-placeholder" style=""></div>
			<div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
				<div class="page-actions-inner" data-title="New Invoice">
					<div class="page-actions-buttons">
						<button id="back" title="Back" type="button" class="action-default scalable back" onclick="setLocation('<?php echo $block->getUrl("customer/admin/orderdetail/") . "order_id/" . $orderDetail['order_id']; ?>')" data-ui-id="sales-invoice-create-back-button">
						<span><?php echo __("Back"); ?></span>
						</button>
						<button id="reset" title="Reset" type="button" class="action-default scalable reset" onclick="setLocation(window.location.href)" data-ui-id="sales-invoice-create-reset-button">
						<span><?php echo __("Reset"); ?></span>
						</button>
						<!-- <a id="print" title="Print" type="button" class="action-default scalable print" href="<?php echo $block->getUrl(); ?>customer/admin/printinvoice/invoice_id/<?php echo $orderDetail['entity_id']; ?>" data-ui-id="sales-invoice-view-print-button">
						<span>Print</span>
						</a> -->
					</div>
				</div>
			</div>
		</div>
		<div id="page:main-container" class="page-columns">
			<div class="admin__old">
				<div id="container" class="main-col">
					<form id="edit_form" class="order-invoice-edit" method="post" action="<?php echo $block->getUrl(); ?>customer/admin/saveinvoice/order_id/<?php echo $orderDetail['order_id']; ?>" novalidate="novalidate">
						<input name="invoice['total_qty']" type="hidden" value="<?php echo $orderTotalQty; ?>">
						<section class="admin__page-section order-view-account-information">
							<div class="admin__page-section-title">
								<span class="title"><?php echo __("Order & Account Information"); ?></span>
							</div>
							<div class="admin__page-section-content">
								<div class="admin__page-section-item order-information">
									<div class="admin__page-section-item-title">
										<span class="title">
										<?php echo __("Order #"); ?> <?php echo $orderDetail['increment_id']; ?>
										</span>
									</div>
									<div class="admin__page-section-item-content">
										<table class="admin__table-secondary order-information-table">
											<tbody>
												<tr>
													<th><?php echo __("Order Date"); ?></th>
													<td><?php echo date('Y-m-d H:i:s',strtotime($orderDetail['created_at'])); ?></td>
												</tr>
												<tr>
													<th><?php echo __("Order Status"); ?></th>
													<td><span id="order_status"><?php echo $orderDetail['status']; ?></span></td>
												</tr>
												<tr>
													<th><?php echo __("Purchased From"); ?></th>
													<td><?php echo $orderDetail['store_name']; ?></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="admin__page-section-item order-account-information">
									<div class="admin__page-section-item-title">
										<span class="title"><?php echo __("Account Information"); ?></span>
									</div>
									<div class="admin__page-section-item-content">
										<table class="admin__table-secondary order-account-information-table">
											<tbody>
												<tr>
													<th><?php echo __("Customer Name"); ?></th>
													<td>
														<span><?php echo $orderDetail['customer_name']; ?></span>
													</td>
												</tr>
												<tr>
													<th><?php echo __("Email"); ?></th>
													<td><a href="mailto:<?php echo $orderDetail['customer_email']; ?>"><?php echo $orderDetail['customer_email']; ?></a></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</section>
						<section class="admin__page-section order-addresses">
							<div class="admin__page-section-title">
								<span class="title"><?php echo __("Address Information"); ?></span>
							</div>
							<div class="admin__page-section-content">
								<div class="admin__page-section-item order-billing-address">
									<div class="admin__page-section-item-title">
										<span class="title"><?php echo __("Billing Address"); ?></span>
									</div>
									<address class="admin__page-section-item-content"><?php echo $orderDetail['billing_name']; ?><br>
										<?php echo $orderDetail['billing_address']; ?><br>
										<?php echo __("Phone") ?>: <?php echo $telephone; ?>
									</address>
								</div>
								<div class="admin__page-section-item order-shipping-address">
									<div class="admin__page-section-item-title">
										<span class="title"><?php echo __("Shipping Address"); ?></span>
									</div>
									<address class="admin__page-section-item-content"><?php echo $orderDetail['shipping_name']; ?><br>
										<?php echo $orderDetail['shipping_address']; ?>
										<?php echo __("Phone") ?>: <?php echo $telephone; ?>
									</address>
								</div>
							</div>
						</section>
						<section class="admin__page-section">
							<div class="admin__page-section-title">
								<span class="title"><?php echo __("Payment & Shipping Method"); ?></span>
							</div>
							<div class="admin__page-section-content">
								<div class="admin__page-section-item order-payment-method">
									<div class="admin__page-section-item-title">
										<span class="title"><?php echo __("Payment Information"); ?></span>
									</div>
									<div class="admin__page-section-item-content">
										<div class="order-payment-method-title"><?php echo $orderDetail['payment_method']; ?></div>
										<div class="order-payment-currency"><?php echo __("The order was placed using"); ?> <?php echo $orderDetail['order_currency_code']; ?>.</div>
										<div class="order-payment-additional"></div>
									</div>
								</div>
								<div class="admin__page-section-item order-shipping-address">
									<div class="admin__page-section-item-title">
										<span class="title"><?php echo __("Shipping Information"); ?></span>
									</div>
									<div class="admin__page-section-item-content">
										<div class="shipping-description-wrapper">
											<div class="shipping-description-title"><?php echo $orderDetail['shipping_information']; ?></div>
											<div class="shipping-description-content">
												<?php echo __("Total Shipping Charges"); ?>:
												<span class="price"><?php echo $util->formatPrice($orderDetail['base_shipping_amount']); ?> ₫</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section id="invoice_item_container">
							<section class="admin__page-section">
								<div class="admin__page-section-title">
									<span class="title"><?php echo __("Items to Invoice"); ?></span>
								</div>
								<div class="admin__page-section-content grid">
									<div class="admin__table-wrapper">
										<table class="data-table admin__table-primary order-invoice-tables">
											<thead>
										<tr class="headings">
											<th class="col-product"><span><?php echo __("Product"); ?></span></th>
											<th class="col-price"><span><?php echo __("Price"); ?></span></th>
											<th class="col-qty"><span><?php echo __("Qty"); ?></span></th>
											<th class="col-discount"><span><?php echo __("Discount Amount"); ?></span></th>
											<th class="col-total last"><span><?php echo __("Row Total"); ?></span></th>
										</tr>
									</thead>
									
                                        <?php
                                            $countLoop = 1; 
                                            foreach($orders as $order) { 
                                                if($countLoop % 2 == 0) { ?>
                                                    <tbody class="even">
                                                <?php } else { ?>
                                                    <tbody class="odd">
                                                <?php } ?>
                                                <tr>
                                                    <td class="col-product">
                                                        <div id="order_item_69_title" class="product-title">
                                                            <?php echo $order['name']; ?>
                                                        </div>
                                                        <div class="product-sku-block">
                                                            <span><?php echo __("SKU");?>:</span> <?php echo $order['sku']; ?>    
                                                        </div>
                                                    </td>
                                                    <td class="col-price">
                                                        <div class="price-excl-tax">
                                                            <span class="price"><?php echo $util->formatPrice($order['base_price']); ?> ₫</span>
                                                        </div>
                                                    </td>
                                                    <td class="col-qty"><?php echo $util->formatPrice($order['qty_ordered']); ?></td>
                                                    <td class="col-discount"><span class="price"><?php echo $util->formatPrice($order['discount_amount']); ?> ₫</span></td>
                                                    <td class="col-total last">
                                                        <span class="price"><?php echo $util->formatPrice($order['row_total'] - $order['discount_amount']); ?> ₫</span>    
                                                    </td>
                                                </tr>
                                            </tbody>
                                        <?php $countLoop++; }?>
											<tfoot>
												<tr>
													<td colspan="2">&nbsp;</td>
													<td colspan="3"><button id="id_453a84fe030ca2937b51a37be10a0c00" title="Update Qty's" type="button" class="action-default scalable update-button disabled" onclick="submitAndReloadArea($('invoice_item_container'),'#')" data-ui-id="order-items-update-button" disabled="">
														<span><?php echo __("Update Qty's");?></span>
														</button>
													</td>
													<td colspan="3">&nbsp;</td>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</section>
							<section class="admin__page-section">
								<div class="admin__page-section-title">
									<span class="title"><?php echo __("Order Total"); ?></span>
								</div>
								<div class="admin__page-section-content">
									<div class="admin__page-section-item order-comments-history">
										<div class="admin__page-section-item-title">
											<span class="title"><?php echo __("Invoice History"); ?></span>
										</div>
										<div id="history_form" class="admin__page-section-item-content order-history-form">
											<div class="admin__field">
												<label for="invoice_comment_text" class="admin__field-label">
												<span><?php echo __("Invoice Comments"); ?></span>
												</label>
												<div class="admin__field-control">
													<textarea id="invoice_comment_text" name="invoice[comment_text]" class="admin__control-textarea" rows="3" cols="5"></textarea>
												</div>
											</div>
										</div>
									</div>
									<div id="invoice_totals" class="admin__page-section-item order-totals">
										<div class="admin__page-section-item-title">
											<span class="title"><?php echo __("Invoice Totals"); ?></span>
										</div>
										<div class="admin__page-section-item-content order-totals-actions">
											<table class="data-table admin__table-secondary order-subtotal-table">
												<tfoot>
													<tr class="col-0">
														<td class="label">
															<strong><?php echo __("Grand Total"); ?></strong><strong><?php echo __("Grand Total"); ?></strong>
														</td>
														<td>
															<strong><span class="price"><?php echo $util->formatPrice($orderDetailTotal['row_total'] + $orderDetailTotal['shipping_and_handling']); ?> ₫</span></strong>
														</td>
													</tr>
												</tfoot>
												<tbody>
													<tr class="col-0">
														<td class="label">
															<?php echo __("Subtotal"); ?>
														</td>
														<td>
															<span><span class="price"><?php echo $util->formatPrice($orderDetailTotal['row_total']); ?> ₫</span></span>
														</td>
													</tr>
													<tr class="col-1">
														<td class="label">
															<?php echo __("Shipping & Handling"); ?>
														</td>
														<td>
															<span><span class="price"><?php echo $util->formatPrice($orderDetailTotal['shipping_and_handling']); ?> ₫</span></span>
														</td>
													</tr>
												</tbody>
											</table>
											<div class="actions">
												<button id="" title="Submit Invoice" type="button" class="action-default scalable save submit-button primary" onclick="disableElements('submit-button');$('edit_form').submit()" data-ui-id="order-items-submit-button">
												<span><?php echo __("Submit Invoice"); ?></span>
												</button>
											</div>
										</div>
									</div>
								</div>
							</section>
							<script>
								require(['jquery', 'prototype'], function(jQuery){
								
								//<![CDATA[
								var submitButtons = $$('.submit-button');
								var updateButtons = $$('.update-button');
								var enableSubmitButtons = 1;
								var fields = $$('.qty-input');
								
								updateButtons.each(function (elem) {elem.disabled=true;elem.addClassName('disabled');});
								
								for(var i=0;i<fields.length;i++){
								    jQuery(fields[i]).on('keyup', checkButtonsRelation);
								    fields[i].baseValue = fields[i].value;
								}
								
								function checkButtonsRelation() {
								    var hasChanges = false;
								    fields.each(function (elem) {
								        if (elem.baseValue != elem.value) {
								            hasChanges = true;
								        }
								    }.bind(this));
								    if (hasChanges) {
								        submitButtons.each(function (elem) {elem.disabled=true;elem.addClassName('disabled');});
								        updateButtons.each(function (elem) {elem.disabled=false;elem.removeClassName('disabled');});
								    }
								    else {
								        if (enableSubmitButtons) {
								            submitButtons.each(function (elem) {elem.disabled=false;elem.removeClassName('disabled');});
								        }
								        updateButtons.each(function (elem) {elem.disabled=true;elem.addClassName('disabled');});
								    }
								}
								
								var sendEmailCheckbox = $('send_email');
								if (sendEmailCheckbox) {
								    var notifyCustomerCheckbox = $('notify_customer');
								    var invoiceCommentText = $('invoice_comment_text');
								    Event.observe(sendEmailCheckbox, 'change', bindSendEmail);
								    bindSendEmail();
								}
								function bindSendEmail()
								{
								    if (sendEmailCheckbox.checked == true) {
								        notifyCustomerCheckbox.disabled = false;
								        //invoiceCommentText.disabled = false;
								    }
								    else {
								        notifyCustomerCheckbox.disabled = true;
								        //invoiceCommentText.disabled = true;
								    }
								}
								
								window.bindSendEmail = bindSendEmail;
								window.checkButtonsRelation = checkButtonsRelation;
								//]]>
								
								});
							</script>
						</section>
					</form>
					<script>
						require(['prototype'], function(){
						
						//<![CDATA[
						    var createShipment = $('invoice_do_shipment');
						    if (createShipment) {
						        createShipment.observe('click', function(e){
						            if (createShipment.checked) {
						                document.getElementById('tracking').style.display = 'block';
						            } else {
						                document.getElementById('tracking').style.display = 'none'
						            }
						        })
						    }
						
						    /*forced creating of shipment*/
						    var forcedShipmentCreate = 0;
						    var shipmentElement = $('invoice_do_shipment');
						    if (forcedShipmentCreate && shipmentElement) {
						        shipmentElement.checked = true;
						        shipmentElement.disabled = true;
						        document.getElementById('tracking').style.display = 'block';
						    }
						
						    window.createShipment = createShipment;
						    window.forcedShipmentCreate = forcedShipmentCreate;
						    window.shipmentElement = shipmentElement;
						//]]>
						
						});
					</script>
					<script>
						require([
						    'jquery',
						    'mage/backend/form',
						    'mage/backend/validation'
						], function($){
						
						    $('#edit_form').form()
						        .validation({
						            validationUrl: '',
						            highlight: function(element) {
						                var detailsElement = $(element).closest('details');
						                if (detailsElement.length && detailsElement.is('.details')) {
						                    var summaryElement = detailsElement.find('summary');
						                    if (summaryElement.length && summaryElement.attr('aria-expanded') === "false") {
						                        summaryElement.trigger('click');
						                    }
						                }
						                $(element).trigger('highlight.validate');
						            }
						        });
						
						});
					</script>
				</div>
			</div>
		</div>
	</main>
	<footer class="page-footer">
		<div class="page-footer-content row">
			<div class="footer-legal">
				<p class="copyright col-m-6">
					<style>
						.ico {display: inline-block; width: 24px; height: 24px;}
						.ico-wisi-logo {background: url(http://dev.wisiproduction.com/pub/static/version1524215574/adminhtml/Magento/backend/en_US/images/wisi-logo.png) no-repeat; background-size: contain;}
						.link-copyright:before {display: none !important;}
						.login-footer .link-copyright {height: 24px; display: inline-block; vertical-align: middle;}
					</style>
					<a class="link-copyright" href="#" target="_blank" title="Wisi">
					<i class="ico ico-wisi-logo"></i>
					</a>
					Copyright © 2018 by Wisi.vn - All right reserved.
				</p>
				<div class="footer-legal-system col-m-6">
					<p class="magento-version">
						<strong>Source</strong>
						ver. 2.1.12
					</p>
					<!-- <a class="link-report" href="https://github.com/magento/magento2/issues" id="footer_bug_tracking">Report Bugs</a> -->
				</div>
			</div>
		</div>
	</footer>
</div>