<?php
    $message_manager = $block->getMessage();
    $type_manager = $block->getTypeMessage();
?>
<style>
    .message:before, .order-errors .admin__fieldset-wrapper .title:before
    {
        display:none;
    }
</style>
<div id="messages-custom">
    <div class="messages">
        <?php
        if($message_manager){
            $classMessage =  "success";
            if($type_manager == "error") {
                $classMessage =  "error";
            }
        ?>
        <style>
            .message-<?php echo $classMessage ?>:before
            {
                display:none;
            }
            .message:before, .order-errors .admin__fieldset-wrapper .title:before
            {
                display:none;
            }
        </style>
        <div class="message message-<?php echo $classMessage; ?> <?php echo $classMessage; ?>">
            <div data-ui-id="messages-message-<?php echo $classMessage; ?>"><?php echo $message_manager; ?></div>
        </div>
        <?php $block->unsetMessage(); ?>
        <?php } ?>
    </div>
</div>
