<?php
/** @var Libero\Customer\Block\Seller\Admin\OrderDetail $block */
$orders = $block->getOrderDetail();
$orderDetail = $orders[0];
$entity_id  = $orderDetail["entity_id"];
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');
$orderDetailTotal = $block->getOrderDetailTotal()[0];
$shipment = $objectManager->get("\Libero\Customer\Block\Seller\Admin\Shipment");
$telephone  = $shipment->getTelephone($orderDetail['increment_id']);
$discount_total = 0;
$history_data = $block->getOrderHistory();
$blockQuote = $objectManager->get("Libero\Customer\Block\Adminhtml\Provider\Order");
$helperCheckout = $objectManager->get("\Libero\Onestepcheckout\Helper\Data");
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$base_url = $storeManager->getStore()->getBaseUrl();
$url_ajax = $base_url."test/";
$status_order = $orderDetail['status'];
$shipping_order_code = $orderDetail["order_code_api"];
?>
<div class="page-wrapper">
	<header class="page-header row">
		<div class="page-header-hgroup col-l-8 col-m-6">
			<div class="page-title-wrapper">
				<h1 class="page-title">#<?php echo $orderDetail['increment_id']; ?>-<?php echo $entity_id; ?></h1>
			</div>
		</div>
		<?php echo $this->getChildHtml("header_seller"); ?>
	</header>
	<div><input name="form_key" type="hidden" value="5V1EeJI3aCBYhTts"></div>
	<main id="anchor-content" class="page-content">
		<div class="page-main-actions">
			<div class="page-actions-placeholder" style=""></div>
			<div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
				<div class="page-actions-inner" data-title="#<?php echo $orderDetail['increment_id']; ?>">
					<div class="page-actions-buttons">
						<button id="back" title="Back" type="button" class="action-default scalable back" onclick="window.location.href='<?php echo $block->getUrl(); ?>customer/admin/order'" data-ui-id="sales-invoice-view-back-button">
							<span><?php echo __("Back"); ?></span>
						</button>
						<?php if($status_order == "pending" || $status_order == "Pending"){ ?>
						<button id="order-view-cancel-button" title="Cancel" type="button" class="action-default scalable cancel"  data-ui-id="sales-order-edit-order-view-cancel-button-button">
							<span style='color: #41362f !important;'><?php echo __("Cancel Order"); ?></span>
						</button>
						<?php } ?>
						<?php if($status_order == "pending" || $status_order == "Pending"){ ?>
						<button id="order_packaging" title="Request Packaging" type="button" class="action-default scalable invoice" data-ui-id="sales-order-edit-order-invoice-button">
							<span style='color: #41362f !important;'><?php echo __("Request Packaging"); ?></span>
						</button>
						<?php } ?>
						<?php /*if(!$block->isReleaseInvoice()){ ?>
							<a id="invoice" title="Invoice" class="action-default scalable invoice" href="<?php echo $block->getUrl(); ?>customer/admin/newinvoice/order_id/<?php echo $orderDetail['order_id']; ?>" data-ui-id="sales-invoice-view-send-notification-button">
								<span><?php echo __("Invoice"); ?></span>
							</a>
						<?php } ?>
                        <?php if(!$block->isReleaseShipment()): ?>
						<button id="order_ship" title="Ship" type="button" class="action-default scalable ship" onclick="setLocation('<?php echo $block->getUrl(); ?>customer/admin/shipment/order_id/<?php echo $orderDetail['order_id']; ?>')" data-ui-id="sales-order-edit-order-ship-button">
							<span><?php echo __("Ship"); ?></span>
						</button>
                        <?php endif; */ ?>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			require([
				'jquery'
			], function ($) {
				$(document).ready(function(){
					$("#order-view-cancel-button").click(function(){
						$.ajax({
							url:"<?php echo $url_ajax ?>/cancel_order.php?id_order=<?php echo $entity_id; ?>",
							method: "GET",
							success:function(data){
								top.location.reload();
							}
						})
					});
					$("#order_packaging").click(function(){
						$.ajax({
							url:"<?php echo $url_ajax ?>/packaging_order.php?id_order=<?php echo $entity_id; ?>",
							method: "GET",
							success:function(data){
								var json_result = JSON.parse(data);
								var message = json_result.msg;
								alert(message);
								top.location.reload();
							}
						})
					});
				});

			});
		</script>
		<div id="page:main-container" class="page-columns">
			<div class="admin__old">
				<div id="container" class="main-col">
					<section class="admin__page-section order-view-account-information">
						<div class="admin__page-section-title">
							<span class="title"><?php echo __("Order & Account Information"); ?></span>
						</div>
						<div class="admin__page-section-content">
							<div class="admin__page-section-item order-information">
								<div class="admin__page-section-item-title">
									<span class="title">
									<?php echo __("Order"); ?> #<?php echo $orderDetail['increment_id']; ?>-<?php echo $entity_id; ?>
									</span>
								</div>
								<div class="admin__page-section-item-content">
									<table class="admin__table-secondary order-information-table">
										<tbody>
											<tr>
												<th><?php echo __("Order Date"); ?></th>
												<td><?php echo date('Y-m-d H:i:s',strtotime($orderDetail['created_at'])); ?></td>
												
											</tr>
											<tr>
												<th><?php echo __("Order Status"); ?></th>
												<td><span id="order_status"><?php echo __($orderDetail['status']); ?></span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="admin__page-section-item order-account-information">
								<div class="admin__page-section-item-title">
									<span class="title"><?php echo __("Account Information"); ?></span>
								</div>
								<div class="admin__page-section-item-content">
									<table class="admin__table-secondary order-account-information-table">
										<tbody>
											<tr>
												<th><?php echo __("Customer Name"); ?></th>
												<td>
													<span><?php echo $orderDetail['buyer_name']; ?></span>
												</td>
											</tr>
											<tr>
												<th><?php echo __("Email"); ?></th>
												<td><a href="mailto:<?php echo $orderDetail['customer_email']; ?>"><?php echo $orderDetail['customer_email']; ?></a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</section>
					<section class="admin__page-section order-addresses">
						<div class="admin__page-section-title">
							<span class="title"><?php echo __("Address Information"); ?></span>
						</div>
						<div class="admin__page-section-content">
							<div class="admin__page-section-item order-billing-address">
								<div class="admin__page-section-item-title">
									<span class="title"><?php echo __("Billing Address"); ?></span>
								</div>
								<address class="admin__page-section-item-content"><?php echo $orderDetail['billing_name']; ?><br>
									<?php echo $orderDetail['billing_address']; ?><br>
									<?php echo __("Phone") ?>: <?php echo $telephone; ?>
								</address>
							</div>
							<div class="admin__page-section-item order-shipping-address">
								<div class="admin__page-section-item-title">
									<span class="title"><?php echo __("Shipping Address"); ?></span>
								</div>
								<address class="admin__page-section-item-content"><?php echo $orderDetail['shipping_name']; ?><br>
									<?php echo $orderDetail['dia_chi_giao_hang']; ?><br>
									<?php echo __("Phone") ?>: <?php echo $telephone; ?>
								</address>
							</div>
						</div>
					</section>
					<section class="admin__page-section order-view-billing-shipping">
						<div class="admin__page-section-title">
							<span class="title"><?php echo __("Payment & Shipping Method"); ?></span>
						</div>
						<div class="admin__page-section-content">
							<div class="admin__page-section-item order-payment-method admin__fieldset-wrapper">
								<div class="admin__page-section-item-title">
									<span class="title"><?php echo __("Payment Information"); ?></span>
								</div>
								<div class="admin__page-section-item-content">
									<div class="order-payment-method-title">
										<p><?php echo __($orderDetail['payment_method']); ?></p>
									</div>
									<div class="order-payment-currency">
										<?php echo __("The order was placed using"); ?> <?php echo $orderDetail['order_currency_code']; ?>. 
									</div>
									<div class="order-payment-additional"></div>
								</div>
							</div>
							<div class="admin__page-section-item order-shipping-address">
								<div class="admin__page-section-item-title">
									<span class="title"><?php echo __("Shipping Information"); ?></span>
								</div>
								<div class="admin__page-section-item-content shipping-description-wrapper">
									<div class="shipping-description-title">
										<?php echo $orderDetail['shipping_description']; ?>
									</div>
									<div class="shipping-description-content">
										<?php echo __("Total Shipping Charges"); ?>:
										<span class="price"><?php echo $util->formatPrice($orderDetail['base_shipping_amount']); ?></span>                                                
										<div></div>
									</div>
								</div>
							</div>
						</div>
					</section>

					<?php if($shipping_order_code != ""){ ?>
						<style>
							ol.progtrckr {
								margin: 0;
								padding: 0;
								list-style-type: none;
								margin-bottom: 30px;
							}
							ol.progtrckr li {
								display: inline-block;
								text-align: center;
								line-height: 3em;
							}

							ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
							ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
							ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
							ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
							ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
							ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
							ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
							ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

							ol.progtrckr li.progtrckr-done {
								color: black;
								border-bottom: 4px solid yellowgreen;
							}
							ol.progtrckr li.progtrckr-todo {
								color: silver;
								border-bottom: 4px solid silver;
							}

							ol.progtrckr li:after {
								content: "\00a0\00a0";
							}
							ol.progtrckr li:before {
								position: relative;
								bottom: -2.5em;
								float: left;
								left: 50%;
								line-height: 1em;
							}
							ol.progtrckr li.progtrckr-done:before {
								content: "\2713";
								color: white;
								background-color: yellowgreen;
								height: 1.2em;
								width: 1.2em;
								line-height: 1.2em;
								border: none;
								border-radius: 1.2em;
							}
							ol.progtrckr li.progtrckr-todo:before {
								content: "\039F";
								color: silver;
								background-color: white;
								font-size: 1.5em;
								bottom: -1.6em;
							}
							.no-margin{
								margin-left: 0;
								margin-right: 0;
							}
						</style>
						<?php 
						$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
						$block_shipment = $objectManager->get("Libero\Customer\Block\Seller\Shipment");
						$order_id = $entity_id;
						$data_ship = $block_shipment->getDetailShipmentByOrderId($order_id);
						$order_code_api = $data_ship["order_code_api"];
						$helperCheckout = $objectManager->get("\Libero\Onestepcheckout\Helper\Data");
						$data_post = array(); 
						$data_post["order_code"] = $order_code_api;
						$quote_shipping = $block_shipment->getCodeShippingByOrderId($order_id);
						$shipping_code = $quote_shipping["code_delivery"];
						$list_status_after_ship = $block_shipment->getOrderStatusAfterShip();
						if($shipping_code == $helperCheckout->_CODE_GIAO_HANG_NHANH){
							$order_information = json_decode($helperCheckout->getOrderInformation($data_post));
						}
						if($shipping_code == $helperCheckout->_CODE_GIAO_HANG_TIET_KIEM){
							$order_information = json_decode($helperCheckout->getOrderGHTK($data_post));
						}
						?>
					<section class="admin__page-section order-view-billing-shipping">
						<div class="admin__page-section-title">
							<span class="title"><?php echo __("Theo dõi đơn hàng"); ?></span>
						</div>
						<div class="admin__page-section-content">
							<?php if($shipping_code == $helperCheckout->_CODE_GIAO_HANG_NHANH){ ?>
								<form action="<?php echo $this->getUrl() ?>customer/buyer/saveshipping" method="post">
									<input type="hidden" value="<?php echo $data_ship["order_id"]; ?>" name="order_id"/>
									<?php if($data_ship['order_status'] == 'complete'): ?>
										<ol class="progtrckr" data-progtrckr-steps="4">
											<li class="progtrckr-done"><?php echo _("Taking Product") ?></li>
											<li class="progtrckr-done"><?php echo _("Taken Product") ?></li>
											<li class="progtrckr-done"><?php echo _("Shipping") ?></li>
											<li class="progtrckr-done"><?php echo _("Delivered") ?></li>
										</ol>
									<?php else: ?>
									<ol class="progtrckr" data-progtrckr-steps="4">
										<li class="progtrckr-done"><?php echo _("Taking Product") ?></li>
										<li class="progtrckr-todo"><?php echo _("Taken Product") ?></li>
										<li class="progtrckr-todo"><?php echo _("Shipping") ?></li>
										<li class="progtrckr-todo"><?php echo _("Delivered") ?></li>
									</ol>
									<?php endif; ?>
									<p></p>
									<div class="row no-margin">
										<strong><?php echo __("Status Order") ?></strong>
										<p><?php echo $order_information->data->CurrentStatus; ?></p>
									</div>
									<div class="row no-margin">
										<strong><?php echo __("Shipping Information") ?></strong>
										<p><?php echo $data_ship["shipping_information"] ?></p>
									</div>
									<div class="row no-margin">
										<strong><?php echo __("Payment Method") ?></strong>
										<p><?php echo $data_ship["payment_method"] ?></p>
									</div>
									<div class="row no-margin">
										<strong><?php echo __("Shipping Address") ?></strong>
										<p><?php echo __("Ship to") ?>: <span><?php echo $data_ship["shipping_name"] ?></span></p>
										<p><?php echo __("Email") ?>: <span><?php echo $data_ship["customer_email"] ?></span></p>
										<p><?php echo $data_ship["shipping_address"] ?></p>
									</div>
									<div class="row no-margin">
										<strong><?php echo __("Additional Information") ?></strong>
										<p><?php echo __("Expected Delivery Time") ?>: <span><?php echo $order_information->data->ExpectedDeliveryTime; ?></span></p>
										<p><?php echo __("End Pick Time") ?>: <span><?php echo $order_information->data->EndPickTime; ?></span></p>
										<p><?php echo $data_ship["shipping_address"] ?></p>
									</div>
									<?php if($data_ship['order_status'] != 'complete'): ?>
									<div class="row no-margin">
										<button>
											<span><?php echo __("Completed My Order"); ?></span>
										</button>
									</div>
									<?php endif; ?>
								</form>
								<?php }else{ ?>
									<input type="hidden" value="<?php echo $data_ship["order_id"]; ?>" name="order_id"/>
									<?php 
										$code_wisi_status  = "pending";
									?>
									<ol class="progtrckr" data-progtrckr-steps="4">
										<?php foreach($list_status_after_ship  as $_status_after){ ?>
											<?php
											//check status in here
											$status_shipping_company = $order_information->order->status;
											$data_mapping_status = $block_shipment->getMappingStatusToSetDoneTracking($status_shipping_company,$shipping_code);
											$status_wisi = $data_mapping_status["id_wisi_status"];
											$id_wisi_status = $_status_after["id_status"];
											$code_wisi_status = $status_wisi;
											$class_tracking = "progtrckr-todo";
											if($id_wisi_status <= $status_wisi){
												$class_tracking = "progtrckr-done";
											}
											if($status_order == "Complete"){
												$class_tracking = "progtrckr-done";
											}
											?>
											<li class="<?php echo $class_tracking; ?>"><?php echo _($_status_after["label_status"]) ?></li>
										<?php } ?>
									</ol>
									<p></p>
									<div class="row no-margin">
										<strong><?php echo __("Status Order") ?></strong>
										<p><?php echo $order_information->order->status_text; ?></p>
									</div>
									<div class="row no-margin">
										<strong><?php echo __("Địa chỉ giao hàng") ?></strong>
										<p><?php echo __("Ship to") ?>: <span><?php echo $order_information->order->address; ?></span></p>
										<p><?php echo __("Email") ?>: <span><?php echo $data_ship["customer_email"] ?></span></p>
										<p><?php echo $data_ship["shipping_address"] ?></p>
									</div>
									<div class="row no-margin">
										<strong><?php echo __("Phí bảo hiểm") ?></strong>
										<p><?php echo __("Giá trị") ?>: <span><?php echo $util->formatPrice($order_information->order->insurance); ?></span></p>
									</div>
									<div class="row no-margin">
										<strong><?php echo __("Thông tin thêm") ?></strong>
										<p><?php echo __("Expected Delivery Time") ?>: <span><?php echo $order_information->order->pick_date; ?></span></p>
										<p><?php echo __("End Pick Time") ?>: <span><?php echo $order_information->order->deliver_date; ?></span></p>
										<p><?php echo $order_information->order->message ?></p>
									</div>
								<?php } ?>
						</div>
					</section>
					<?php } ?>
					<section class="admin__page-section">
						<div class="admin__page-section-title">
							<span class="title"><?php echo __("Items Invoiced"); ?></span>
						</div>
						<div id="invoice_item_container" class="admin__page-section-content">
							<div class="admin__table-wrapper">
								<table class="data-table admin__table-primary order-invoice-tables">
									<thead>
										<tr class="headings">
											<th class="col-product"><span><?php echo __("Product"); ?></span></th>
											<th class="col-price"><span><?php echo __("Price"); ?></span></th>
											<th class="col-qty"><span><?php echo __("Qty"); ?></span></th>
											<th class="col-discount"><span><?php echo __("Discount Amount"); ?></span></th>
											<th class="col-total last"><span><?php echo __("Row Total"); ?></span></th>
										</tr>
									</thead>
									
                                        <?php
                                            $countLoop = 1; 
                                            foreach($orders as $order) { 
                                                if($countLoop % 2 == 0) { ?>
												<tbody class="even">
                                                <?php } else { ?>
                                                    <tbody class="odd">
												<?php } ?>
												<?php 
												if($order['parent_item_id'] > 0 && $order['parent_item_id'] != "0"){
													continue;
												}
												$arrayProduct = array();
												$array_options = array();
												if($order["product_type"]  ==  "configurable"){
													$data_options = $order["product_options"];
													$value_options = unserialize($data_options);
													$array_attribute = $value_options["attributes_info"];
													$array_options_label_value = array();
													foreach($array_attribute as $attribute_id => $option){
														$array_options_label_value["label"] = $option["label"];
														$array_options_label_value["value_option"] = $option["value"];
														$arrayProduct["options_configruable"][] = $array_options_label_value;
													}
													$array_options = $arrayProduct["options_configruable"];
												}
												?>
                                                <tr>
                                                    <td class="col-product">
                                                        <div id="order_item_69_title" class="product-title">
                                                            <?php echo $order['name']; ?>
                                                        </div>
                                                        <div class="product-sku-block">
															<span>SKU:</span> <?php echo $order['sku']; ?>
														</div>
														<?php if(count($array_options) > 0){ ?>
														<dl class="item-options">
															<?php foreach($array_options as $_options){ ?>
																<?php 
																$attribute_label = $_options["label"];
																$attribute_option = $_options["value_option"];
																?>
																<dt><?php echo __($attribute_label); ?>:</dt>
																<dd>
																	<?php echo __($attribute_option); ?>
																</dd>
															<?php } ?>
														</dl>
														<?php } ?>
                                                    </td>
                                                    <td class="col-price">
                                                        <div class="price-excl-tax">
															<span class="price"><?php echo $util->formatPrice($order['base_price']); ?></span>
                                                        </div>
                                                    </td>
                                                    <td class="col-qty"><?php echo $util->formatPriceNoCurrency($order['qty_ordered']); ?></td>
                                                    <td class="col-discount"><?php echo $util->formatPrice($order['discount_amount']); ?></span></td>
                                                    <td class="col-total last">
                                                        <span class="price"><?php echo $util->formatPrice($order['row_total'] - $order['discount_amount']); ?></span>    
                                                    </td>
                                                </tr>
                                            </tbody>
										<?php $discount_total += $order['discount_amount']; ?>
                                        <?php $countLoop++; }?>
								</table>
							</div>
						</div>
					</section>
					<section class="admin__page-section">
						<div class="admin__page-section-title">
							<span class="title"><?php echo __("Order Total"); ?></span>
						</div>
						<div class="admin__page-section-content">
							<div class="admin__page-section-item order-comments-history">
								<div class="admin__page-section-item-title">
									<span class="title"><?php echo __("Invoice History"); ?></span>
								</div>
								<div class="admin__page-section-item-content">
									<div id="comments_block" class="edit-order-comments">
										<div class="order-history-block">
											<div class="admin__field field-row">
												<!--<label class="admin__field-label" for="history_comment"><?php echo __("Comment Text"); ?></label>
												<div class="admin__field-control">
													<textarea name="comment[comment]" class="admin__control-textarea" rows="3" cols="5" id="history_comment"></textarea>
												</div>-->
												<ul class="note-list">
													<?php foreach($history_data as $_history){ ?>
														<li style='margin-bottom:10px;'><?php echo __($_history['content']); ?></li>
													<?php } ?>
												<ul>
											</div>
										</div>
										<ul class="note-list">
										</ul>
									</div>
								</div>
							</div>
							<div id="history_form" class="admin__page-section-item order-totals">
								<div class="admin__page-section-item-title">
									<span class="title"><?php echo __("Invoice Totals"); ?></span>
								</div>
								<table class="data-table admin__table-secondary order-subtotal-table">
									<tfoot>
										<tr class="col-0">
											<td class="label">
												<strong><?php echo __("Grand Total"); ?></strong>
											</td>
											<td>
												<strong><span class="price"><?php echo $util->formatPrice($orderDetailTotal['tong_cong']); ?></span></strong>
											</td>
										</tr>
									</tfoot>
									<tbody>
										<tr class="col-0">
											<td class="label">
												<?php echo __("Subtotal"); ?>                                                    
											</td>
											<td>
												<span><span class="price"><?php echo $util->formatPrice($orderDetailTotal['row_total']); ?></span></span>
											</td>
										</tr>
										<tr class="col-1">
											<td class="label">
												<?php echo __("Shipping & Handling"); ?>
											</td>
											<td>
												<span><span class="price"><?php echo $util->formatPrice($orderDetail['base_shipping_amount']); ?></span></span>
											</td>
										</tr>
										<tr class="col-1">
											<td class="label">
												<?php echo __("Discount Amount"); ?>
											</td>
											<td>
												<span><span class="price"><?php echo $util->formatPrice($discount_total); ?></span></span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</section>
					<script>
						require([
						    'jquery',
						    'mage/backend/form',
						    'mage/backend/validation'
						], function($){
						
						    $('#edit_form').form()
						        .validation({
						            validationUrl: '',
						            highlight: function(element) {
						                var detailsElement = $(element).closest('details');
						                if (detailsElement.length && detailsElement.is('.details')) {
						                    var summaryElement = detailsElement.find('summary');
						                    if (summaryElement.length && summaryElement.attr('aria-expanded') === "false") {
						                        summaryElement.trigger('click');
						                    }
						                }
						                $(element).trigger('highlight.validate');
						            }
						        });
						
						});
					</script>
				</div>
			</div>
		</div>
	</main>
	<footer class="page-footer">
		<div class="page-footer-content row">
			<div class="footer-legal">
				<p class="copyright col-m-6">
					<style>
						.ico {display: inline-block; width: 24px; height: 24px;}
						.ico-wisi-logo {background: url(http://dev.wisiproduction.com/pub/static/version1524120093/adminhtml/Magento/backend/en_US/images/wisi-logo.png) no-repeat; background-size: contain;}
						.link-copyright:before {display: none !important;}
						.login-footer .link-copyright {height: 24px; display: inline-block; vertical-align: middle;}
					</style>
					<a class="link-copyright" href="#" target="_blank" title="Wisi">
					<i class="ico ico-wisi-logo"></i>
					</a>
					Copyright © 2018 by Wisi.vn - All right reserved.
				</p>
				<div class="footer-legal-system col-m-6">
					<p class="magento-version">
						<strong>Source</strong>
						ver. 2.1.12
					</p>
					<!-- <a class="link-report" href="https://github.com/magento/magento2/issues" id="footer_bug_tracking">Report Bugs</a> -->
				</div>
			</div>
		</div>
	</footer>
</div>