<?php
/** @var Libero\Customer\Block\Seller\Admin\Order $block */

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');
$result = $block->getOrders();

$orders = $result['listRecords'];
$status = $result["order_status"];
if($status=="") {$status = "-1";}
$date_from = $result["date_from"];
$date_to = $result["date_to"];


/* paging */
$pageSize = $result["pageSize"] ? $result["pageSize"] : 0 ;
$curPage = $result["curPage"] ? $result["curPage"] : 1 ;
$lastPage = $result["lastPage"];
$total = $result["total"];
$firstNumber = $result["firstNumber"];
$lastNumber = (($firstNumber + $pageSize) > $total ) ? $total : $firstNumber + $pageSize - 1 ;
$hasNextPage = false;
$hasPrePage = false;
$maxCountShowPage = 5;
$curRecords = $curPage * $pageSize;
if($curRecords == 0) {
	$curRecords = 1;
} else if($curRecords > $total) {
	$curRecords = $total;
}

if($curPage-3 > 0) { $hasPrePage = true; }
if($curPage < $lastPage){ $hasNextPage = true; }
/* paging:End */

$request_to_packaging = "Request to packaging";
$prepared_ship_status = "Prepare to ship";
$processing_status = "processing";
$pending_status = "pending";
?>
<script>
jQuery(function(){
    var pageSize = <?php echo $pageSize; ?>;
    if(pageSize > 0 ) {
        jQuery("#pageSizeSelect option[value='"+ pageSize +"']").attr("selected","selected");
    }

	var status = "<?php echo $status; ?>";
    if(status != "-1" ) {
        jQuery("#statusSelect option[value='"+ status +"']").attr("selected","selected");
    }
	
});

function fnChangePage(page){
	jQuery("#page").val(page);
	jQuery("#search-form").submit();
}

function fnChangeStatus(order_status){
	jQuery("#order_status").val(order_status);
	jQuery("#search-form").submit();
}

function fnPageSize(size){
	jQuery("#pageSize").val(size);
	var curPage = <?php echo $curPage; ?>;
    var lastPage = <?php echo $lastPage; ?>;
    var total = <?php echo $total; ?>;
    var new_last_page = Math.floor(total / size);
    if((total % size) > 0) {
        new_last_page++;
    }
    if(curPage > new_last_page){
        jQuery("#page").val(new_last_page);
    }
	jQuery("#search-form").submit();
}
</script>

<div class="page-wrapper">
	<header class="page-header row">
		<div class="page-header-hgroup col-l-8 col-m-6">
			<div class="page-title-wrapper">
				<h1 class="page-title"><?php echo __("Orders") ?></h1>
			</div>
		</div>
		<?php echo $this->getChildHtml("header_seller"); ?>
	</header>
	<div id="messages-custom"></div>
	<div><input name="form_key" type="hidden" value="5V1EeJI3aCBYhTts"></div>
	<main id="anchor-content" class="page-content">
		<div class="admin__data-grid-header-row">
        <div class="admin__data-grid-filters-wrap _show">
			<form action="<?php echo $block->getUrlSearchOrder();  ?>" method="get" id="search-form">
                <fieldset class="admin__fieldset admin__data-grid-filters">
                    <div class="admin__form-field">
                        <label class="admin__form-field-label pl0" data-bind-comment="attr: {for: uid}" for="SUJCBSP">
                        <span data-bind-comment="text: label"><strong><?php echo __("ID"); ?></strong></span>
                        </label>
                        <div class="admin__form-field-control">
                            <input class="admin__control-text w100p" type="text" name="id" placeholder="" aria-describedby="notice-SUJCBSP" id="SUJCBSP" value="<?php echo $result['id']; ?>">
                        </div>
                    </div>	
                    
					<div class="admin__form-field">
						<div class="col-lg-6 col-md-6 col-xs-5">
							<label class="admin__form-field-label pl0">
								<span data-bind-comment="text: label"><strong><?php echo __("From Date") ?></strong></span>
							</label>
							<div class="admin__form-field-control">
								<input type="text" class="input-text required-entry hasDatepicker w100p" autocomplete="off" id="calendar_inputField" name="date_from" value="<?php echo $result['date_from']; ?>" />
								<label class="admin__field-error invisible" for="FJ8SO3X"><?php echo __("Please input this field."); ?></label>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-xs-5 col-xs-offset-1">
							<label class="admin__form-field-label pl0">
								<span data-bind-comment="text: label"><strong><?php echo __("To Date") ?></strong></span>
							</label>
							<div class="admin__form-field-control">
								<input type="text" class="input-text required-entry hasDatepicker w100p" autocomplete="off" id="calendar_inputField_To" name="date_to" value="<?php echo $result['date_to']; ?>"/>
								<label class="admin__field-error invisible" for="FJ8SO3X"><?php echo __("Please input this field."); ?></label>
							</div>
                        </div>
                    </div>
                    <div class="admin__form-field">
                        <label class="admin__form-field-label pl0" data-bind-comment="attr: {for: uid}" for="L4352A9">
                        <span data-bind-comment="text: label"><strong><?php echo __("Status"); ?></strong></span>
                        </label>
                        <div class="admin__form-field-control">
							<input type="hidden" id="order_status" name="order_status" value="<?php echo $status; ?>" />
                            <select class="admin__control-select" id="statusSelect" onchange="fnChangeStatus(jQuery(this).val());">
                                <option value="-1"><?php echo __("Please select"); ?></option>
                                <option value="pending"><?php echo __("Pending"); ?></option>
								<option value="processing"><?php echo __("Processing"); ?></option>
								<option value="Prepare to ship"><?php echo __("Prepare to ship"); ?></option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <div class="admin__data-grid-filters-footer">
                    <div class="admin__footer-main-actions">
                        <button class="action-secondary" type="button" onclick="submitForm();">
                            <span data-bind-comment="i18n: 'Apply Filters'"><?php echo __("Search"); ?></span>
                        </button>
					</div>
					
					<div class="admin__data-grid-pager-wrap row col-lg-12 col-md-12 col-xs-12">
						<div class="col-lg-2 col-md-2 col-xs-2 tl">
                            <?php echo __("Total"); ?> : <?php echo $firstNumber; ?> / <?php echo $total; ?>
						</div>
						<div class="paging-list col-lg-9 col-md-9 col-xs-9 tr fr">
							<input type="hidden" id="page" name="page" value="<?php echo $curPage; ?>" />
							<div class="moveToPageField"> <label style="margin: 10px 0; "><?php echo __("Page"); ?> : <input type="text" onkeydown="submitOnEnter(this, event);" /></label><button type="submit" class="action-secondary">Move</button> </div>
							<?php echo __("Page");?> : 
							<ul class="items pages-items" aria-labelledby="paging-label">
                                <?php
                                    if(($curPage-2) > 1) { ?>
                                        <li class="item">
                                            <button type="button" class="page first first-btn" onclick="fnChangePage('1');">
                                            <span><i class="fas fa-step-backward"></i></span>
                                            </button>
                                        </li>
                                        <li class="item pages-item-prev">
                                            <button type="button" class="action  prev" onclick="fnChangePage('<?php echo $curPage-1; ?>');" title="Tiếp theo">
                                            <span><i class="fas fa-caret-left"></i></span>
                                            </button>
                                        </li>
                                        <li class="item">...</li>
                                    <?php } else if($hasPrePage) {?>
                                        <li class="item pages-item-prev">
                                            <button type="button" class="action  prev" onclick="fnChangePage('<?php echo $curPage-1; ?>');" title="Tiếp theo">
                                            <span><i class="fas fa-caret-left"></i></span>
                                            </button>
                                        </li>
                                    <?php }

                                    $page = $curPage-2;
                                    if($page < 1) { $page = 1; }
                                    $showedLast = false;
                                    for ( $page; $page < $lastPage+1; $page++){
                                        if($maxCountShowPage > 0) {
                                            if($page == $curPage){ ?>
                                                <li class="item current">
                                                    <strong class="page">
                                                    <span><?php echo $page; ?></span>
                                                    </strong>
                                                </li>
                                            <?php } else {?>
                                                <li class="item">
                                                    <button type="button" onclick="fnChangePage('<?php echo $page; ?>');" class="page">
                                                    <span><?php echo $page; ?></span>
                                                    </button>
                                                </li>
                                            <?php }
                                            $maxCountShowPage--;
                                            if($page == $lastPage) {
                                                $showedLast = true;
                                            }
                                        } else { ?>
                                            <?php break;
                                        }
                                    }
                                ?>

                                <?php if($curPage+2 < $lastPage) {
                                        if(!$showedLast){?>
                                            <li class="item">...</li>
                                        <?php }?>
                                    <li class="item pages-item-next">
                                        <button type="button" class="action  next" onclick="fnChangePage('<?php echo $curPage+1; ?>');" title="Tiếp theo">
                                        <span><i class="fas fa-caret-right"></i></span>
                                        </button>
                                    </li>
                                    <?php if(!$showedLast){?>
                                        <li class="item">
                                            <button type="button" class="page last last-btn" onclick="fnChangePage('<?php echo $lastPage; ?>');">
                                            <span><i class="fas fa-step-forward"></i></span>
                                            </button>
                                        </li>
                                    <?php }
                                } else if($hasNextPage){?>
                                    <li class="item pages-item-next">
                                        <button type="button" class="action  next" onclick="fnChangePage('<?php echo $curPage+1; ?>');" title="Tiếp theo">
                                        <span><i class="fas fa-caret-right"></i></span>
                                        </button>
                                    </li> 
                                <?php } ?>
							</ul>
							<div class="d-ib ml30">
								<label class="label" for="limiter">
									<span><?php echo __("Show"); ?></span>
									<input type="hidden" id="pageSize" name="pageSize" value="<?php echo $pageSize; ?>" />
									<select id="pageSizeSelect" class="admin__control-select wa" onchange="fnPageSize(jQuery(this).val());">
										<option value="20">20</option>
										<option value="50">50</option>
										<option value="100">100</option>
									</select>
								</label>
								<span class="limiter-text"><?php echo __("per page"); ?></span>
							</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
		<div id="page:main-container" class="page-columns">
			<div class="admin__old">
				<div id="container" class="main-col">
					<div class="admin__data-grid-header admin__data-grid-toolbar">
						<div class="_massaction admin__data-grid-header-row">
							<div class="admin__grid-massaction">
								<div class="admin__grid-massaction-form">
									<button title="Request packing Order" class="action-default secondary add m0" onclick="fnRequestPacking();" data-ui-id="products-list-add-new-product-button">
										<span><?php echo __("Request Packing Order") ?></span>
									</button>
								</div>
							</div>
							<div class="admin__grid-massaction ml15">
								<div class="admin__grid-massaction-form">
									<button id="add_new_product-button" title="Ship Order" class="action-default secondary add m0" onclick="fnShipInvoice();" data-ui-id="products-list-add-new-product-button">
										<span><?php echo __("Ship Order") ?></span>
									</button>
								</div>
							</div>
							<div class="admin__grid-massaction ml15">
								<div class="admin__grid-massaction-form">
									<button title="Release Invoice" class="action-default secondary add m0" onclick="fnReleaseInvoice();" data-ui-id="products-list-add-new-product-button">
										<span><?php echo __("Release Invoice") ?></span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="admin__data-grid-outer-wrap" data-bind-comment="scope: 'sales_order_grid.sales_order_grid'">
						<div class="admin__data-grid-wrap" data-role="grid-wrapper">
							<table class="data-grid data-grid-draggable" data-role="grid">
								<thead>
									<tr data-bind-comment="foreach: {data: getVisible(), as: '$col'}">
										<th class="data-grid-multicheck-cell">
											<input class="admin__control-checkbox chkAll" type="checkbox" id="23">
											<label for="23"></label>
										</th>
										<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("No."); ?></span> </th>
										<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content">ID</span> </th>
										<!-- <th class="data-grid-th _draggable"><span class="data-grid-cell-content"><?php echo __("Purchase Point"); ?></span> </th> -->
										<th class="data-grid-th _sortable _draggable _ascend"><span class="data-grid-cell-content"><?php echo __("Purchase Date"); ?></span> </th>
										<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Bill-to Name"); ?></span> </th>
										<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Grand Total (Base)"); ?></span> </th>
										<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Status"); ?></span> </th>
										<th class="data-grid-th"><span class="data-grid-cell-content"><?php echo __("Action"); ?></span> </th>
									</tr>
								</thead>
								<tbody>
									<?php 
									if(count($orders)<=0){ ?>
										<tr class="data-row tc">
											<td colspan="10"><?php echo __("We couldn't find any records."); ?></td>
										</tr>
									<?php } else {
                                        $countLoop = 0;
                                        foreach($orders as $order) {
                                            if($countLoop % 2 == 0) { ?>
                                                <tr class="data-row">
                                            <?php } else { ?>
                                                <tr class="data-row _odd-row">
                                            <?php } ?>
                                        
											<td data-bind-comment="css: getFieldClass($row()), click: getFieldHandler($row()), template: getBody()" class="data-grid-checkbox-cell">
												<label class="data-grid-checkbox-cell-inner">
													<input class="admin__control-checkbox chkChild" name="order_id" type="checkbox" data-action="select-row"  id="" value="<?php echo $order['order_id']; ?>">
													<label for=""></label>
												</label>
											</td>
											<td><?php echo $firstNumber + $countLoop; ?></td>
											<td><?php echo $order['increment_id']; ?>-<?php echo $order['order_id']  ?></td>
                                            <!-- <td><?php echo $order['store_name']; ?></td> -->
                                            <td><?php echo date('Y-m-d H:i:s',strtotime($order['created_at'])); ?></td>
                                            <td><?php echo $order['customer_firstname']; ?></td>
                                            <td><?php echo $util->formatPrice($order['grand_total']); ?></td>
                                            <td>
												<input type="hidden" id="status_<?php echo $order['order_id']; ?>" value="<?php echo $order['status_parent']; ?>" />
												<?php echo __($order['status_parent']); ?>
											</td>
                                            <td><a href="<?php echo $block->getUrl('customer/admin/'); ?>orderdetail/order_id/<?php echo $order['order_id']; ?>"><?php echo __("View"); ?></a></td>
                                        </tr>
									<?php $countLoop++; } 
									}
									?>
									
                                </tbody>
							</table>
						</div>
						<!-- /ko --><!-- /ko -->
						<!-- /ko -->
						<!-- /ko -->
					</div>
				</div>
			</div>
		</div>
	</main>
</div>

<script>
function fnReleaseInvoice(){
	var order_id = "";
	var inValid = false;
	jQuery("input[name='order_id']").each(function(){
		if(jQuery(this).is(":checked")){
			var id = jQuery(this).val();
			order_id += id + ",";
			if(jQuery("#status_" + id).val() != "<?php echo $pending_status; ?>") {
				var msg = "";
				msg += '<div class="messages">';
				msg += '	<div class="message message-error">';
				msg += '		<div id="messages-message-error"><?php echo __("Please select only orders in PENDING status"); ?></div>';
				msg += '	</div>';
				msg += '</div>';
				jQuery("#messages-custom").html(msg);
				inValid = true;
				return false;
			}
		}
	});
	if(inValid){return;}
	
	if(order_id.length>0){
		order_id = order_id.substr(0,order_id.length-1);
		location.href = "<?php echo $block->getUrl(); ?>customer/admin/orderreleaseinvoice/order_id/" + order_id;
	} else {
		var msg = "";
		msg += '<div class="messages">';
		msg += '	<div class="message message-error">';
		msg += '		<div id="messages-message-error"><?php echo __("Please select the order you want to release"); ?></div>';
		msg += '	</div>';
		msg += '</div>';
		jQuery("#messages-custom").html(msg);
	}
}

function fnRequestPacking() {
	var order_id = "";
	var inValid = false;
	jQuery("input[name='order_id']").each(function(){
		if(jQuery(this).is(":checked")){
			var id = jQuery(this).val();
			order_id += id + ",";
			if(jQuery("#status_" + id).val() != "<?php echo $pending_status; ?>") {
				var msg = "";
				msg += '<div class="messages">';
				msg += '	<div class="message message-error">';
				msg += '		<div id="messages-message-error"><?php echo __("Please select only orders in PENDING status"); ?></div>';
				msg += '	</div>';
				msg += '</div>';
				jQuery("#messages-custom").html(msg);
				inValid = true;
				return false;
			}
		}
	});
	if(inValid){return;}
	
	if(order_id.length>0){
		order_id = order_id.substr(0,order_id.length-1);
		let url = "<?php echo $block->getUrl(); ?>test/packaging_order.php?id_order=" + order_id;
		jQuery.ajax({
			url,
			method: "get",
			success: function(data) {
				location.href = location.href;
			}
		})
	} else {
		var msg = "";
		msg += '<div class="messages">';
		msg += '	<div class="message message-error">';
		msg += '		<div id="messages-message-error"><?php echo __("Please select the order you want to release"); ?></div>';
		msg += '	</div>';
		msg += '</div>';
		jQuery("#messages-custom").html(msg);
	}
}

function fnShipInvoice(){
	var order_id = "";
	var inValid = false;
	jQuery("input[name='order_id']").each(function(){
		if(jQuery(this).is(":checked")){
			var id = jQuery(this).val();
			order_id += id + ",";
			if(jQuery("#status_" + id).val() != "<?php echo $processing_status; ?>") {
				var msg = "";
				msg += '<div class="messages">';
				msg += '	<div class="message message-error">';
				msg += '		<div id="messages-message-error"><?php echo __("Please select only orders in PROCESSING status"); ?></div>';
				msg += '	</div>';
				msg += '</div>';
				jQuery("#messages-custom").html(msg);
				inValid = true;
				return false;
			}
		}
	});

	if(inValid){return;}
	
	if(order_id.length>0){
		order_id = order_id.substr(0,order_id.length-1);
		location.href = "<?php echo $block->getUrl(); ?>customer/admin/shipinvoice/order_id/" + order_id;
	} else {
		var msg = "";
		msg += '<div class="messages">';
		msg += '	<div class="message message-error">';
		msg += '		<div id="messages-message-error"><?php echo __("Please select the invoice you want to ship"); ?></div>';
		msg += '	</div>';
		msg += '</div>';
		jQuery("#messages-custom").html(msg);
	}
}

function submitForm(){
    var validated = true;
    var calendar_inputField = jQuery("#calendar_inputField");
    var calendar_inputField_To = jQuery("#calendar_inputField_To");
    if((calendar_inputField.val() != "" && calendar_inputField_To.val() =="") || (calendar_inputField.val() == "" && calendar_inputField_To.val() !="") ){
        if(calendar_inputField.val() == "") {
            calendar_inputField.next(".admin__field-error").removeClass("invisible");
            calendar_inputField_To.next(".admin__field-error").addClass("invisible");
        } else if(calendar_inputField_To.val() == "") {
            calendar_inputField.next(".admin__field-error").addClass("invisible");
            calendar_inputField_To.next(".admin__field-error").removeClass("invisible");
        }
        validated = false;
    }
    if(validated) {
        jQuery("#search-form").submit();
    }
}

</script>

<script>
	require([
		"jquery",
		"mage/calendar"
	], function ($) {
		$("#calendar_inputField").calendar({
			changeYear: true,
			changeMonth: true,
			inputDateFormat: "y-MM-dd",
			outputDateFormat: "y-MM-dd",
			yearRange: "1970:2050",
			buttonText: "Select Date",
		});
		$("#calendar_inputField_To").calendar({
			changeYear: true,
			changeMonth: true,
			inputDateFormat: "y-MM-dd",
			outputDateFormat: "y-MM-dd",
			yearRange: "1970:2050",
			buttonText: "Select Date",
		});
	});
</script>


<style>
.message:before, .order-errors .admin__fieldset-wrapper .title:before { display:none; }
.message-error {padding: 10px 3rem;}
.message-error:before { display:none; }
.message:before, .order-errors .admin__fieldset-wrapper .title:before { display:none; }
</style>

<script>
function submitOnEnter(obj, event) {
	if (event && event.keyCode == 13) {
		fnChangePage(jQuery(obj).val());
	}
}
</script>