<?php
$orders = $block->getListInvoiceProvider();
$form_key = $block->getFormKey();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$blockOrderAdmin = $objectManager->get("Libero\Customer\Block\Adminhtml\Provider\Order");
?>
<div class="page-wrapper">
	<header class="page-header row">
		<div class="page-header-hgroup col-l-8 col-m-6">
			<div class="page-title-wrapper">
				<h1 class="page-title"><?php echo __("Packing List") ?></h1>
			</div>
		</div>
		<?php echo $this->getChildHtml("header_seller"); ?>
	</header>
	<div id="messages-custom"></div>
	<div><input name="form_key" type="hidden" value="5V1EeJI3aCBYhTts"></div>
<main id="anchor-content" class="page-content">
	<div id="page:main-container" class="page-columns">
		<div class="admin__old">
			<div id="container" class="main-col">
				<div class="admin__data-grid-outer-wrap" data-bind="scope: 'sales_order_grid.sales_order_grid'">
					<div data-role="spinner" data-component="sales_order_grid.sales_order_grid.sales_order_columns" class="admin__data-grid-loading-mask" style="display: none;">
						<div class="spinner">
							<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
						</div>
					</div>
					<div class="admin__data-grid-header" data-bind="afterRender: $data.setToolbarNode">
						<div class="admin__data-grid-header-row" style='display:none;'>
							<div class="admin__data-grid-actions-wrap" data-bind="foreach: getRegion('dataGridActions')">
								<!-- ko template: getTemplate() -->
								<div class="admin__action-dropdown-wrap admin__data-grid-action-export" data-bind="collapsible">
									<button class="admin__action-dropdown" type="button" data-bind="toggleCollapsible">
									<span class="admin__action-dropdown-text" data-bind="i18n: 'Export'">Export</span>
									</button>
									<div class="admin__action-dropdown-menu admin__data-grid-action-export-menu">
										<!-- ko foreach: options -->
										<div class="admin__field admin__field-option">
											<input class="admin__control-radio" type="radio" data-bind="
												attr: {
												id: ++ko.uid
												},
												checkedValue: value,
												checked: $parent.checked" id="20" value="csv" name="ko_unique_1">
											<label class="admin__field-label" data-bind="attr: {for: ko.uid}, text: label" for="20">CSV</label>
										</div>
										<div class="admin__field admin__field-option">
											<input class="admin__control-radio" type="radio" data-bind="
												attr: {
												id: ++ko.uid
												},
												checkedValue: value,
												checked: $parent.checked" id="21" value="xml" name="ko_unique_2">
											<label class="admin__field-label" data-bind="attr: {for: ko.uid}, text: label" for="21">Excel XML</label>
										</div>
										<!-- /ko -->
										<div class="admin__action-dropdown-footer-main-actions">
											<button class="action-tertiary" type="button" data-bind="i18n: 'Cancel', closeCollapsible">Cancel</button>
											<button class="action-secondary" type="button" data-bind="click: applyOption, i18n: 'Export'">Export</button>
										</div>
									</div>
								</div>
								<!-- /ko -->
							</div>
							<!-- ko foreach: getRegion('dataGridFilters') --><!-- ko template: getTemplate() -->
							<div class="data-grid-search-control-wrap">
								<label class="data-grid-search-label" data-bind="attr: {title: $t('Search'), for: index}" title="Search" for="fulltext">
								<span data-bind="i18n: 'Search'">Search</span>
								</label>
								<input class="admin__control-text data-grid-search-control" type="text" data-bind="
									attr: {
									id: index,
									placeholder: placeholder
									},
									textInput: inputValue,
									keyboard: {
									13: apply.bind($data, false),
									27: cancel
									}" id="fulltext" placeholder="Search by keyword">
								<button class="action-submit" type="button" data-bind="click: apply.bind($data, false)">
								<span data-bind="i18n: 'Search'">Search</span>
								</button>
							</div>
							<!-- /ko --><!-- ko template: getTemplate() -->
							<div class="data-grid-filters-actions-wrap" data-bind="collapsible: {openClass: false, closeOnOuter: false}">
								<div class="data-grid-filters-action-wrap">
									<button class="action-default _active" data-action="grid-filter-expand" data-bind="css: {_active: hasVisible() &amp;&amp; $collapsible.opened()}, disable: !hasVisible(), i18n: 'Filters', toggleCollapsible">Filters</button>
								</div>
							</div>
							<!-- ko scope: chips --><!-- ko template: getTemplate() -->
							<div class="admin__data-grid-filters-current" data-bind="css: {_show: hasPreviews()}">
								<div class="admin__current-filters-title-wrap">
									<span class="admin__current-filters-title" data-bind="i18n: 'Active filters\:'">Active filters:</span>
								</div>
								<div class="admin__current-filters-list-wrap">
									<ul class="admin__current-filters-list" data-role="filter-list">
										<!-- ko foreach: elems -->
										<!-- ko foreach: previews --><!-- /ko -->
										<!-- ko foreach: previews --><!-- /ko -->
										<!-- /ko -->
									</ul>
								</div>
								<div class="admin__current-filters-actions-wrap">
									<button class="action-tertiary action-clear" type="button" data-bind="attr: {'data-action': hasPreviews() ? 'grid-filter-reset' : ''}, click: clear, i18n: 'Clear all'" data-action="">Clear all</button>
								</div>
							</div>
							<!-- /ko --><!-- /ko -->
							<div class="admin__data-grid-filters-wrap _show" data-part="filter-form" data-bind="css: {_show: hasVisible() &amp;&amp; $collapsible.opened()}">
								<fieldset class="admin__fieldset admin__data-grid-filters">
									<legend class="admin__filters-legend">
										<span data-bind="i18n: 'Advanced filter'">Advanced filter</span>
									</legend>
									<!-- ko foreach: getRanges() -->
									<fieldset class="admin__form-field" data-bind="visible: $parent.isFilterVisible($data)">
										<!-- ko template: getTemplate() -->
										<legend class="admin__form-field-legend">
											<span data-bind="text: label">Purchase Date</span>
										</legend>
										<!-- ko foreach: elems -->
										<div class="admin__form-field">
											<!-- ko template: getTemplate() -->
											<label class="admin__form-field-label" data-bind="attr: {for: uid}" for="FOEMKFL">
											<span data-bind="text: label">from</span>
											</label>
											<div class="admin__form-field-control">
												<!-- ko template: elementTmpl -->
												<input class="admin__control-text _has-datepicker" type="text" data-bind="
													hasFocus: focused,
													datepicker: { storage: shiftedValue, options: options },
													valueUpdate: valueUpdate,
													attr: {
													value: shiftedValue,
													name: inputName,
													placeholder: placeholder,
													'aria-describedby': noticeId,
													disabled: disabled
													}" id="dp1536655246752" value="" name="created_at[from]" placeholder="" aria-describedby="notice-FOEMKFL"><button type="button" class="ui-datepicker-trigger v-middle"><span>Select Date</span></button>
												<!-- /ko -->
											</div>
											<!-- /ko -->
										</div>
										<div class="admin__form-field">
											<!-- ko template: getTemplate() -->
											<label class="admin__form-field-label" data-bind="attr: {for: uid}" for="AKWJ0AP">
											<span data-bind="text: label">to</span>
											</label>
											<div class="admin__form-field-control">
												<!-- ko template: elementTmpl -->
												<input class="admin__control-text _has-datepicker" type="text" data-bind="
													hasFocus: focused,
													datepicker: { storage: shiftedValue, options: options },
													valueUpdate: valueUpdate,
													attr: {
													value: shiftedValue,
													name: inputName,
													placeholder: placeholder,
													'aria-describedby': noticeId,
													disabled: disabled
													}" id="dp1536655246753" value="" name="created_at[to]" placeholder="" aria-describedby="notice-AKWJ0AP"><button type="button" class="ui-datepicker-trigger v-middle"><span>Select Date</span></button>
												<!-- /ko -->
											</div>
											<!-- /ko -->
										</div>
										<!-- /ko -->
										<!-- /ko -->
									</fieldset>
									<fieldset class="admin__form-field" data-bind="visible: $parent.isFilterVisible($data)">
										<!-- ko template: getTemplate() -->
										<legend class="admin__form-field-legend">
											<span data-bind="text: label">Grand Total (Base)</span>
										</legend>
										<!-- ko foreach: elems -->
										<div class="admin__form-field">
											<!-- ko template: getTemplate() -->
											<label class="admin__form-field-label" data-bind="attr: {for: uid}" for="K9IB720">
											<span data-bind="text: label">from</span>
											</label>
											<div class="admin__form-field-control">
												<!-- ko template: elementTmpl -->
												<input class="admin__control-text" type="text" data-bind="
													event: {change: userChanges},
													value: value,
													hasFocus: focused,
													valueUpdate: valueUpdate,
													attr: {
													name: inputName,
													placeholder: placeholder,
													'aria-describedby': noticeId,
													id: uid,
													disabled: disabled
													}" name="base_grand_total[from]" placeholder="" aria-describedby="notice-K9IB720" id="K9IB720">
												<!-- /ko -->
											</div>
											<!-- /ko -->
										</div>
										<div class="admin__form-field">
											<!-- ko template: getTemplate() -->
											<label class="admin__form-field-label" data-bind="attr: {for: uid}" for="I2CUHKQ">
											<span data-bind="text: label">to</span>
											</label>
											<div class="admin__form-field-control">
												<!-- ko template: elementTmpl -->
												<input class="admin__control-text" type="text" data-bind="
													event: {change: userChanges},
													value: value,
													hasFocus: focused,
													valueUpdate: valueUpdate,
													attr: {
													name: inputName,
													placeholder: placeholder,
													'aria-describedby': noticeId,
													id: uid,
													disabled: disabled
													}" name="base_grand_total[to]" placeholder="" aria-describedby="notice-I2CUHKQ" id="I2CUHKQ">
												<!-- /ko -->
											</div>
											<!-- /ko -->
										</div>
										<!-- /ko -->
										<!-- /ko -->
									</fieldset>
									<fieldset class="admin__form-field" data-bind="visible: $parent.isFilterVisible($data)">
										<!-- ko template: getTemplate() -->
										<legend class="admin__form-field-legend">
											<span data-bind="text: label">Grand Total (Purchased)</span>
										</legend>
										<!-- ko foreach: elems -->
										<div class="admin__form-field">
											<!-- ko template: getTemplate() -->
											<label class="admin__form-field-label" data-bind="attr: {for: uid}" for="GT92W48">
											<span data-bind="text: label">from</span>
											</label>
											<div class="admin__form-field-control">
												<!-- ko template: elementTmpl -->
												<input class="admin__control-text" type="text" data-bind="
													event: {change: userChanges},
													value: value,
													hasFocus: focused,
													valueUpdate: valueUpdate,
													attr: {
													name: inputName,
													placeholder: placeholder,
													'aria-describedby': noticeId,
													id: uid,
													disabled: disabled
													}" name="grand_total[from]" placeholder="" aria-describedby="notice-GT92W48" id="GT92W48">
												<!-- /ko -->
											</div>
											<!-- /ko -->
										</div>
										<div class="admin__form-field">
											<!-- ko template: getTemplate() -->
											<label class="admin__form-field-label" data-bind="attr: {for: uid}" for="K58P6HB">
											<span data-bind="text: label">to</span>
											</label>
											<div class="admin__form-field-control">
												<!-- ko template: elementTmpl -->
												<input class="admin__control-text" type="text" data-bind="
													event: {change: userChanges},
													value: value,
													hasFocus: focused,
													valueUpdate: valueUpdate,
													attr: {
													name: inputName,
													placeholder: placeholder,
													'aria-describedby': noticeId,
													id: uid,
													disabled: disabled
													}" name="grand_total[to]" placeholder="" aria-describedby="notice-K58P6HB" id="K58P6HB">
												<!-- /ko -->
											</div>
											<!-- /ko -->
										</div>
										<!-- /ko -->
										<!-- /ko -->
									</fieldset>
									<fieldset class="admin__form-field" data-bind="visible: $parent.isFilterVisible($data)" style="display: none;">
										<!-- ko template: getTemplate() -->
										<legend class="admin__form-field-legend">
											<span data-bind="text: label">Subtotal</span>
										</legend>
										<!-- ko foreach: elems -->
										<div class="admin__form-field">
											<!-- ko template: getTemplate() -->
											<label class="admin__form-field-label" data-bind="attr: {for: uid}" for="FSNA9V2">
											<span data-bind="text: label">from</span>
											</label>
											<div class="admin__form-field-control">
												<!-- ko template: elementTmpl -->
												<input class="admin__control-text" type="text" data-bind="
													event: {change: userChanges},
													value: value,
													hasFocus: focused,
													valueUpdate: valueUpdate,
													attr: {
													name: inputName,
													placeholder: placeholder,
													'aria-describedby': noticeId,
													id: uid,
													disabled: disabled
													}" name="subtotal[from]" placeholder="" aria-describedby="notice-FSNA9V2" id="FSNA9V2">
												<!-- /ko -->
											</div>
											<!-- /ko -->
										</div>
										<div class="admin__form-field">
											<!-- ko template: getTemplate() -->
											<label class="admin__form-field-label" data-bind="attr: {for: uid}" for="OPMUEAJ">
											<span data-bind="text: label">to</span>
											</label>
											<div class="admin__form-field-control">
												<!-- ko template: elementTmpl -->
												<input class="admin__control-text" type="text" data-bind="
													event: {change: userChanges},
													value: value,
													hasFocus: focused,
													valueUpdate: valueUpdate,
													attr: {
													name: inputName,
													placeholder: placeholder,
													'aria-describedby': noticeId,
													id: uid,
													disabled: disabled
													}" name="subtotal[to]" placeholder="" aria-describedby="notice-OPMUEAJ" id="OPMUEAJ">
												<!-- /ko -->
											</div>
											<!-- /ko -->
										</div>
										<!-- /ko -->
										<!-- /ko -->
									</fieldset>
									<fieldset class="admin__form-field" data-bind="visible: $parent.isFilterVisible($data)" style="display: none;">
										<!-- ko template: getTemplate() -->
										<legend class="admin__form-field-legend">
											<span data-bind="text: label">Shipping and Handling</span>
										</legend>
										<!-- ko foreach: elems -->
										<div class="admin__form-field">
											<!-- ko template: getTemplate() -->
											<label class="admin__form-field-label" data-bind="attr: {for: uid}" for="CK11NVT">
											<span data-bind="text: label">from</span>
											</label>
											<div class="admin__form-field-control">
												<!-- ko template: elementTmpl -->
												<input class="admin__control-text" type="text" data-bind="
													event: {change: userChanges},
													value: value,
													hasFocus: focused,
													valueUpdate: valueUpdate,
													attr: {
													name: inputName,
													placeholder: placeholder,
													'aria-describedby': noticeId,
													id: uid,
													disabled: disabled
													}" name="shipping_and_handling[from]" placeholder="" aria-describedby="notice-CK11NVT" id="CK11NVT">
												<!-- /ko -->
											</div>
											<!-- /ko -->
										</div>
										<div class="admin__form-field">
											<!-- ko template: getTemplate() -->
											<label class="admin__form-field-label" data-bind="attr: {for: uid}" for="JIIJINR">
											<span data-bind="text: label">to</span>
											</label>
											<div class="admin__form-field-control">
												<!-- ko template: elementTmpl -->
												<input class="admin__control-text" type="text" data-bind="
													event: {change: userChanges},
													value: value,
													hasFocus: focused,
													valueUpdate: valueUpdate,
													attr: {
													name: inputName,
													placeholder: placeholder,
													'aria-describedby': noticeId,
													id: uid,
													disabled: disabled
													}" name="shipping_and_handling[to]" placeholder="" aria-describedby="notice-JIIJINR" id="JIIJINR">
												<!-- /ko -->
											</div>
											<!-- /ko -->
										</div>
										<!-- /ko -->
										<!-- /ko -->
									</fieldset>
									<fieldset class="admin__form-field" data-bind="visible: $parent.isFilterVisible($data)" style="display: none;">
										<!-- ko template: getTemplate() -->
										<legend class="admin__form-field-legend">
											<span data-bind="text: label">Total Refunded</span>
										</legend>
										<!-- ko foreach: elems -->
										<div class="admin__form-field">
											<!-- ko template: getTemplate() -->
											<label class="admin__form-field-label" data-bind="attr: {for: uid}" for="I5MFL9T">
											<span data-bind="text: label">from</span>
											</label>
											<div class="admin__form-field-control">
												<!-- ko template: elementTmpl -->
												<input class="admin__control-text" type="text" data-bind="
													event: {change: userChanges},
													value: value,
													hasFocus: focused,
													valueUpdate: valueUpdate,
													attr: {
													name: inputName,
													placeholder: placeholder,
													'aria-describedby': noticeId,
													id: uid,
													disabled: disabled
													}" name="total_refunded[from]" placeholder="" aria-describedby="notice-I5MFL9T" id="I5MFL9T">
												<!-- /ko -->
											</div>
											<!-- /ko -->
										</div>
										<div class="admin__form-field">
											<!-- ko template: getTemplate() -->
											<label class="admin__form-field-label" data-bind="attr: {for: uid}" for="O00UNSP">
											<span data-bind="text: label">to</span>
											</label>
											<div class="admin__form-field-control">
												<!-- ko template: elementTmpl -->
												<input class="admin__control-text" type="text" data-bind="
													event: {change: userChanges},
													value: value,
													hasFocus: focused,
													valueUpdate: valueUpdate,
													attr: {
													name: inputName,
													placeholder: placeholder,
													'aria-describedby': noticeId,
													id: uid,
													disabled: disabled
													}" name="total_refunded[to]" placeholder="" aria-describedby="notice-O00UNSP" id="O00UNSP">
												<!-- /ko -->
											</div>
											<!-- /ko -->
										</div>
										<!-- /ko -->
										<!-- /ko -->
									</fieldset>
									<!-- /ko -->
									<!-- ko foreach: getPlain() -->
									<div class="admin__form-field" data-bind="visible: $parent.isFilterVisible($data)">
										<!-- ko template: getTemplate() -->
										<label class="admin__form-field-label" data-bind="attr: {for: uid}" for="DA98AB4">
										<span data-bind="text: label">Purchase Point</span>
										</label>
										<div class="admin__form-field-control">
											<!-- ko template: elementTmpl -->
											<select class="admin__control-select" data-bind="
												attr: {
												name: inputName,
												id: uid,
												disabled: disabled,
												'aria-describedby': noticeId
												},
												hasFocus: focused,
												optgroup: options,
												value: value,
												optionsCaption: caption,
												optionsValue: 'value',
												optionsText: 'label'" name="store_id" id="DA98AB4" aria-describedby="notice-DA98AB4">
												<option value="">All Store Views</option>
												<optgroup label="Main Website"></optgroup>
												<optgroup label="&nbsp;&nbsp;&nbsp;&nbsp;Main Website Store"></optgroup>
												<option data-title="Main Website/Main Website Store/English" value="2">            English</option>
												<option data-title="Main Website/Main Website Store/Vietnamese" value="1">            Vietnamese</option>
												<option data-title="Main Website/Main Website Store/Chinese" value="4">            Chinese</option>
												<option data-title="Main Website/Main Website Store/Korean" value="3">            Korean</option>
											</select>
											<!-- /ko -->
										</div>
										<!-- /ko -->
									</div>
									<div class="admin__form-field" data-bind="visible: $parent.isFilterVisible($data)">
										<!-- ko template: getTemplate() -->
										<label class="admin__form-field-label" data-bind="attr: {for: uid}" for="EO73K2W">
										<span data-bind="text: label">ID</span>
										</label>
										<div class="admin__form-field-control">
											<!-- ko template: elementTmpl -->
											<input class="admin__control-text" type="text" data-bind="
												event: {change: userChanges},
												value: value,
												hasFocus: focused,
												valueUpdate: valueUpdate,
												attr: {
												name: inputName,
												placeholder: placeholder,
												'aria-describedby': noticeId,
												id: uid,
												disabled: disabled
												}" name="increment_id" placeholder="" aria-describedby="notice-EO73K2W" id="EO73K2W">
											<!-- /ko -->
										</div>
										<!-- /ko -->
									</div>
									<div class="admin__form-field" data-bind="visible: $parent.isFilterVisible($data)">
										<!-- ko template: getTemplate() -->
										<label class="admin__form-field-label" data-bind="attr: {for: uid}" for="UF158VJ">
										<span data-bind="text: label">Bill-to Name</span>
										</label>
										<div class="admin__form-field-control">
											<!-- ko template: elementTmpl -->
											<input class="admin__control-text" type="text" data-bind="
												event: {change: userChanges},
												value: value,
												hasFocus: focused,
												valueUpdate: valueUpdate,
												attr: {
												name: inputName,
												placeholder: placeholder,
												'aria-describedby': noticeId,
												id: uid,
												disabled: disabled
												}" name="billing_name" placeholder="" aria-describedby="notice-UF158VJ" id="UF158VJ">
											<!-- /ko -->
										</div>
										<!-- /ko -->
									</div>
									<div class="admin__form-field" data-bind="visible: $parent.isFilterVisible($data)">
										<!-- ko template: getTemplate() -->
										<label class="admin__form-field-label" data-bind="attr: {for: uid}" for="VV7LFUG">
										<span data-bind="text: label">Ship-to Name</span>
										</label>
										<div class="admin__form-field-control">
											<!-- ko template: elementTmpl -->
											<input class="admin__control-text" type="text" data-bind="
												event: {change: userChanges},
												value: value,
												hasFocus: focused,
												valueUpdate: valueUpdate,
												attr: {
												name: inputName,
												placeholder: placeholder,
												'aria-describedby': noticeId,
												id: uid,
												disabled: disabled
												}" name="shipping_name" placeholder="" aria-describedby="notice-VV7LFUG" id="VV7LFUG">
											<!-- /ko -->
										</div>
										<!-- /ko -->
									</div>
									<div class="admin__form-field" data-bind="visible: $parent.isFilterVisible($data)">
										<!-- ko template: getTemplate() -->
										<label class="admin__form-field-label" data-bind="attr: {for: uid}" for="QHCOO22">
										<span data-bind="text: label">Status</span>
										</label>
										<div class="admin__form-field-control">
											<!-- ko template: elementTmpl -->
											<select class="admin__control-select" data-bind="
												attr: {
												name: inputName,
												id: uid,
												disabled: disabled,
												'aria-describedby': noticeId
												},
												hasFocus: focused,
												optgroup: options,
												value: value,
												optionsCaption: caption,
												optionsValue: 'value',
												optionsText: 'label'" name="status" id="QHCOO22" aria-describedby="notice-QHCOO22">
												<option value=""> </option>
												<option data-title="Canceled" value="canceled">Canceled</option>
												<option data-title="Closed" value="closed">Closed</option>
												<option data-title="Complete" value="complete">Complete</option>
												<option data-title="Suspected Fraud" value="fraud">Suspected Fraud</option>
												<option data-title="On Hold" value="holded">On Hold</option>
												<option data-title="Payment Review" value="payment_review">Payment Review</option>
												<option data-title="PayPal Canceled Reversal" value="paypal_canceled_reversal">PayPal Canceled Reversal</option>
												<option data-title="PayPal Reversed" value="paypal_reversed">PayPal Reversed</option>
												<option data-title="Pending" value="pending">Pending</option>
												<option data-title="Pending Payment" value="pending_payment">Pending Payment</option>
												<option data-title="Pending PayPal" value="pending_paypal">Pending PayPal</option>
												<option data-title="Processing" value="processing">Processing</option>
											</select>
											<!-- /ko -->
										</div>
										<!-- /ko -->
									</div>
									<div class="admin__form-field" data-bind="visible: $parent.isFilterVisible($data)" style="display: none;">
										<!-- ko template: getTemplate() -->
										<label class="admin__form-field-label" data-bind="attr: {for: uid}" for="M08WCO8">
										<span data-bind="text: label">Billing Address</span>
										</label>
										<div class="admin__form-field-control">
											<!-- ko template: elementTmpl -->
											<input class="admin__control-text" type="text" data-bind="
												event: {change: userChanges},
												value: value,
												hasFocus: focused,
												valueUpdate: valueUpdate,
												attr: {
												name: inputName,
												placeholder: placeholder,
												'aria-describedby': noticeId,
												id: uid,
												disabled: disabled
												}" name="billing_address" placeholder="" aria-describedby="notice-M08WCO8" id="M08WCO8">
											<!-- /ko -->
										</div>
										<!-- /ko -->
									</div>
									<div class="admin__form-field" data-bind="visible: $parent.isFilterVisible($data)" style="display: none;">
										<!-- ko template: getTemplate() -->
										<label class="admin__form-field-label" data-bind="attr: {for: uid}" for="UMGLS6T">
										<span data-bind="text: label">Shipping Address</span>
										</label>
										<div class="admin__form-field-control">
											<!-- ko template: elementTmpl -->
											<input class="admin__control-text" type="text" data-bind="
												event: {change: userChanges},
												value: value,
												hasFocus: focused,
												valueUpdate: valueUpdate,
												attr: {
												name: inputName,
												placeholder: placeholder,
												'aria-describedby': noticeId,
												id: uid,
												disabled: disabled
												}" name="shipping_address" placeholder="" aria-describedby="notice-UMGLS6T" id="UMGLS6T">
											<!-- /ko -->
										</div>
										<!-- /ko -->
									</div>
									<div class="admin__form-field" data-bind="visible: $parent.isFilterVisible($data)" style="display: none;">
										<!-- ko template: getTemplate() -->
										<label class="admin__form-field-label" data-bind="attr: {for: uid}" for="RI659R9">
										<span data-bind="text: label">Shipping Information</span>
										</label>
										<div class="admin__form-field-control">
											<!-- ko template: elementTmpl -->
											<input class="admin__control-text" type="text" data-bind="
												event: {change: userChanges},
												value: value,
												hasFocus: focused,
												valueUpdate: valueUpdate,
												attr: {
												name: inputName,
												placeholder: placeholder,
												'aria-describedby': noticeId,
												id: uid,
												disabled: disabled
												}" name="shipping_information" placeholder="" aria-describedby="notice-RI659R9" id="RI659R9">
											<!-- /ko -->
										</div>
										<!-- /ko -->
									</div>
									<div class="admin__form-field" data-bind="visible: $parent.isFilterVisible($data)" style="display: none;">
										<!-- ko template: getTemplate() -->
										<label class="admin__form-field-label" data-bind="attr: {for: uid}" for="LDEI7E0">
										<span data-bind="text: label">Customer Email</span>
										</label>
										<div class="admin__form-field-control">
											<!-- ko template: elementTmpl -->
											<input class="admin__control-text" type="text" data-bind="
												event: {change: userChanges},
												value: value,
												hasFocus: focused,
												valueUpdate: valueUpdate,
												attr: {
												name: inputName,
												placeholder: placeholder,
												'aria-describedby': noticeId,
												id: uid,
												disabled: disabled
												}" name="customer_email" placeholder="" aria-describedby="notice-LDEI7E0" id="LDEI7E0">
											<!-- /ko -->
										</div>
										<!-- /ko -->
									</div>
									<div class="admin__form-field" data-bind="visible: $parent.isFilterVisible($data)" style="display: none;">
										<!-- ko template: getTemplate() -->
										<label class="admin__form-field-label" data-bind="attr: {for: uid}" for="S2P1IRV">
										<span data-bind="text: label">Customer Group</span>
										</label>
										<div class="admin__form-field-control">
											<!-- ko template: elementTmpl -->
											<select class="admin__control-select" data-bind="
												attr: {
												name: inputName,
												id: uid,
												disabled: disabled,
												'aria-describedby': noticeId
												},
												hasFocus: focused,
												optgroup: options,
												value: value,
												optionsCaption: caption,
												optionsValue: 'value',
												optionsText: 'label'" name="customer_group" id="S2P1IRV" aria-describedby="notice-S2P1IRV">
												<option value=""> </option>
												<option data-title="NOT LOGGED IN" value="0">NOT LOGGED IN</option>
												<option data-title="General" value="1">General</option>
												<option data-title="Wholesale" value="2">Wholesale</option>
												<option data-title="Retailer" value="3">Retailer</option>
											</select>
											<!-- /ko -->
										</div>
										<!-- /ko -->
									</div>
									<div class="admin__form-field" data-bind="visible: $parent.isFilterVisible($data)" style="display: none;">
										<!-- ko template: getTemplate() -->
										<label class="admin__form-field-label" data-bind="attr: {for: uid}" for="V23EFXO">
										<span data-bind="text: label">Customer Name</span>
										</label>
										<div class="admin__form-field-control">
											<!-- ko template: elementTmpl -->
											<input class="admin__control-text" type="text" data-bind="
												event: {change: userChanges},
												value: value,
												hasFocus: focused,
												valueUpdate: valueUpdate,
												attr: {
												name: inputName,
												placeholder: placeholder,
												'aria-describedby': noticeId,
												id: uid,
												disabled: disabled
												}" name="customer_name" placeholder="" aria-describedby="notice-V23EFXO" id="V23EFXO">
											<!-- /ko -->
										</div>
										<!-- /ko -->
									</div>
									<div class="admin__form-field" data-bind="visible: $parent.isFilterVisible($data)" style="display: none;">
										<!-- ko template: getTemplate() -->
										<label class="admin__form-field-label" data-bind="attr: {for: uid}" for="IM20QL3">
										<span data-bind="text: label">Payment Method</span>
										</label>
										<div class="admin__form-field-control">
											<!-- ko template: elementTmpl -->
											<select class="admin__control-select" data-bind="
												attr: {
												name: inputName,
												id: uid,
												disabled: disabled,
												'aria-describedby': noticeId
												},
												hasFocus: focused,
												optgroup: options,
												value: value,
												optionsCaption: caption,
												optionsValue: 'value',
												optionsText: 'label'" name="payment_method" id="IM20QL3" aria-describedby="notice-IM20QL3">
												<option value=""> </option>
												<option data-title="Bank Transfer Payment" value="banktransfer">Bank Transfer Payment</option>
												<option data-title="Cash On Delivery" value="cashondelivery">Cash On Delivery</option>
												<option data-title="Check / Money order" value="checkmo">Check / Money order</option>
												<option data-title="Credit Card" value="payflowpro">Credit Card</option>
												<option data-title="Credit Card" value="payflow_advanced">Credit Card</option>
												<option data-title="Credit Card" value="payflow_link">Credit Card</option>
												<option data-title="Credit Card (Braintree)" value="braintree">Credit Card (Braintree)</option>
												<option data-title="Credit Card Direct Post (Authorize.net)" value="authorizenet_directpost">Credit Card Direct Post (Authorize.net)</option>
												<option data-title="No Payment Information Required" value="free">No Payment Information Required</option>
												<option data-title="Online Bank Payment" value="onlinebankpayment">Online Bank Payment</option>
												<option data-title="PayPal (Braintree)" value="braintree_paypal">PayPal (Braintree)</option>
												<option data-title="PayPal Billing Agreement" value="paypal_billing_agreement">PayPal Billing Agreement</option>
												<option data-title="PayPal Credit" value="payflow_express_bml">PayPal Credit</option>
												<option data-title="PayPal Credit" value="paypal_express_bml">PayPal Credit</option>
												<option data-title="PayPal Express Checkout" value="paypal_express">PayPal Express Checkout</option>
												<option data-title="PayPal Express Checkout Payflow Edition" value="payflow_express">PayPal Express Checkout Payflow Edition</option>
												<option data-title="Payment by cards or by PayPal account" value="hosted_pro">Payment by cards or by PayPal account</option>
												<option data-title="Purchase Order" value="purchaseorder">Purchase Order</option>
												<option data-title="Stored Accounts (Braintree PayPal)" value="braintree_paypal_vault">Stored Accounts (Braintree PayPal)</option>
												<option data-title="Stored Cards (Braintree)" value="braintree_cc_vault">Stored Cards (Braintree)</option>
												<option data-title="Stored Cards (Payflow Pro)" value="payflowpro_cc_vault">Stored Cards (Payflow Pro)</option>
												<option data-title="Your Credit Payment" value="custompayment">Your Credit Payment</option>
											</select>
											<!-- /ko -->
										</div>
										<!-- /ko -->
									</div>
									<!-- /ko -->
								</fieldset>
								<div class="admin__data-grid-filters-footer">
									<div class="admin__footer-main-actions">
										<button class="action-tertiary" type="button" data-action="grid-filter-cancel" data-bind="click: cancel, closeCollapsible">
										<span data-bind="i18n: 'Cancel'">Cancel</span>
										</button>
										<button class="action-secondary" type="button" data-action="grid-filter-apply" data-bind="click: apply, closeCollapsible">
										<span data-bind="i18n: 'Apply Filters'">Apply Filters</span>
										</button>
									</div>
								</div>
							</div>
						</div>
						<div class="admin__data-grid-header-row row row-gutter">
							<div class="col-xs-2" data-bind="scope: requestChild('listing_massaction')">
								<div class="action-select-wrap">
									<button class="action-select" id="massaction" data-bind="i18n: 'Actions'" style="color: #514943 !important; border: 1px solid #adadad !important;"><?php echo __("Actions"); ?></button>
									<ul class="action-menu" id="list-massaction">
										<li type-action="cancel_order" data-repeat-index="0">
											<span class="action-menu-item" data-bind="text: $action().label"><?php echo __("Cancel"); ?></span>
										</li>
										<li type-action="make_invoice" data-repeat-index="2">
											<span class="action-menu-item" data-bind="text: $action().label"><?php echo __("Make Invoice"); ?></span>
										</li>
										<li type-action="print_packaging" data-repeat-index="2">
											<span class="action-menu-item" data-bind="text: $action().label"><?php echo __("Print Packaging"); ?></span>
										</li>
										<!--<li type-action="print_invoice" data-repeat-index="3">
											<span class="action-menu-item" data-bind="text: $action().label"><?php echo __("Print Invoices"); ?></span>
										</li>-->
									</ul>
								</div>
							</div>
							<form action="<?php echo $block->getCancelUrl();  ?>" method="post" name="request_cancel" id="request_cancel">
								<div><input name="form_key" type="hidden" value="<?php echo $form_key; ?>"></div>
								<input type="hidden" id="array_request_cancel" value="" name="array_request_cancel" />
							</form>

							<form action="<?php echo $blockOrderAdmin->getPrintInvoiceMassAction();  ?>" method="post" name="print_invoice" id="print_invoice">
								<div><input name="form_key" type="hidden" value="<?php echo $form_key; ?>"></div>
								<input type="hidden" id="array_print_invoice" value="" name="array_ids" />
							</form>
							<form action="<?php echo $block->getPrintPackagingMassAction();  ?>" method="post" name="print_packaging" id="print_packaging">
								<div><input name="form_key" type="hidden" value="<?php echo $form_key; ?>"></div>
								<input type="hidden" id="array_print_packaging" value="" name="array_ids" />
							</form>
							<form action="<?php echo $blockOrderAdmin->getPrintShipmentMassAction();  ?>" method="post" name="print_ship" id="print_ship">
								<div><input name="form_key" type="hidden" value="<?php echo $form_key; ?>"></div>
								<input type="hidden" id="array_print_ship" value="" name="array_ids_ship" />
							</form>
							<form action="<?php echo $block->getMassInvoice();  ?>" method="post" name="make_invoice" id="make_invoice">
								<div><input name="form_key" type="hidden" value="<?php echo $form_key; ?>"></div>
								<input type="hidden" id="array_make_invoice" value="" name="array_make_invoice" />
							</form>
							<div data-bind="css: {
								'col-xs-10': hasChild('listing_massaction'),
								'col-xs-12': !hasChild('listing_massaction')}" class="col-xs-10">
								<div class="row" data-bind="scope: requestChild('listing_paging')">
									<div class="col-xs-3">
										<!-- ko template: totalTmpl -->
										<div class="admin__control-support-text">
											<!-- ko text: totalRecords --><?php echo count($orders); ?><!-- /ko --> <!-- ko i18n: 'records found' --><span>records found</span><!-- /ko -->
											<!-- ko if: totalSelected --><!-- /ko -->
										</div>
										<!-- /ko -->
									</div>
									<div class="col-xs-9">
										<!-- ko template: getTemplate() -->
										<div class="admin__data-grid-pager-wrap" style='display:none'>
											<!-- ko scope: sizes --><!-- ko template: getTemplate() -->
											<div class="selectmenu" data-bind="collapsible">
												<div class="selectmenu-value" data-bind="openCollapsible">
													<input type="text" data-bind="attr: {id: index}, value: _value, autoselect" id="sales_order_grid.sales_order_grid.listing_top.listing_paging_sizes">
												</div>
												<button class="selectmenu-toggle" type="button" data-bind="css: {_active: $collapsible.opened}, toggleCollapsible">
												<span data-bind="i18n: 'Select'">Select</span>
												</button>
												<div class="selectmenu-items" data-bind="css: {_active: $collapsible.opened}, outerClick: discardAll.bind($data)">
													<ul>
														<!-- ko repeat: {foreach: optionsArray, item: '$size'} -->
														<li data-bind="css: {_edit: isEditing($size().value)}" data-repeat-index="0">
															<!-- ko if: $size().editable --><!-- /ko -->
															<div class="selectmenu-item">
																<button class="selectmenu-item-action" type="button" data-bind="text: $size().label, click: setSize.bind($data, $size().value)">20</button>
																<!-- ko if: $size().editable --><!-- /ko -->
															</div>
														</li>
														<li data-bind="css: {_edit: isEditing($size().value)}" data-repeat-index="1">
															<!-- ko if: $size().editable --><!-- /ko -->
															<div class="selectmenu-item">
																<button class="selectmenu-item-action" type="button" data-bind="text: $size().label, click: setSize.bind($data, $size().value)">30</button>
																<!-- ko if: $size().editable --><!-- /ko -->
															</div>
														</li>
														<li data-bind="css: {_edit: isEditing($size().value)}" data-repeat-index="2">
															<!-- ko if: $size().editable --><!-- /ko -->
															<div class="selectmenu-item">
																<button class="selectmenu-item-action" type="button" data-bind="text: $size().label, click: setSize.bind($data, $size().value)">50</button>
																<!-- ko if: $size().editable --><!-- /ko -->
															</div>
														</li>
														<li data-bind="css: {_edit: isEditing($size().value)}" data-repeat-index="3">
															<!-- ko if: $size().editable --><!-- /ko -->
															<div class="selectmenu-item">
																<button class="selectmenu-item-action" type="button" data-bind="text: $size().label, click: setSize.bind($data, $size().value)">100</button>
																<!-- ko if: $size().editable --><!-- /ko -->
															</div>
														</li>
														<li data-bind="css: {_edit: isEditing($size().value)}" data-repeat-index="4">
															<!-- ko if: $size().editable --><!-- /ko -->
															<div class="selectmenu-item">
																<button class="selectmenu-item-action" type="button" data-bind="text: $size().label, click: setSize.bind($data, $size().value)">200</button>
																<!-- ko if: $size().editable --><!-- /ko -->
															</div>
														</li>
														<!-- /ko -->
														<li data-bind="css: {_edit: isCustomVisible()}">
															<div class="selectmenu-item">
																<button class="selectmenu-item-action" type="button" ko-visible="!isCustomVisible()" data-bind="
																	click: function () {
																	$data.showCustom()
																	.discardEditing();
																	}, i18n: 'Custom'">Custom</button>
															</div>
															<div class="selectmenu-item-edit" data-bind="keyboard: {13: applyCustom}">
																<input class="admin__control-text" type="text" data-bind="hasFocus: isCustomVisible(), value: customValue">
																<button class="action-save" type="button" data-bind="click: applyCustom">
																<span data-bind="i18n: 'Save'">Save</span>
																</button>
															</div>
														</li>
													</ul>
												</div>
											</div>
											<label class="admin__control-support-text" data-bind="attr: {for: index}, i18n: 'per page'" for="sales_order_grid.sales_order_grid.listing_top.listing_paging_sizes">per page</label>
											<!-- /ko --><!-- /ko -->
											<div class="admin__data-grid-pager">
												<button class="action-previous" type="button" data-bind="attr: {title: $t('Previous Page')}, click: prev, disable: isFirst()" title="Previous Page" disabled=""></button>
												<input class="admin__control-text" type="number" data-ui-id="current-page-input" data-bind="attr: {id: ++ko.uid}, value: _current" id="43">
												<label class="admin__control-support-text" data-bind="attr: {for: ko.uid}, text: 'of ' + pages" for="43">of 1</label>
												<button class="action-next" type="button" data-bind="attr: {title: $t('Next Page')}, click: next, disable: isLast()" title="Next Page" disabled=""></button>
											</div>
										</div>
										<!-- /ko -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="admin__data-grid-wrap" data-role="grid-wrapper">
						<table class="data-grid data-grid-draggable" data-role="grid">
							<thead>
								<tr data-bind="foreach: {data: getVisible(), as: '$col'}">
									<!-- ko template: getHeader() -->
									<th class="data-grid-multicheck-cell">
										<div class="" data-bind="css: {_disabled: !totalRecords()}, collapsible">
											<input class="admin__control-checkbox chkAll" type="checkbox" data-bind="
												checked: allSelected(),
												attr: {id: ++ko.uid},
												event: { change: toggleSelectAll },
												css: { '_indeterminate': indetermine },
												enable: totalRecords" id="45">
											<label data-bind="attr: {for: ko.uid}" for="45"></label>
											<ul class="action-menu" data-bind="foreach: actions, closeCollapsible">
												<li data-bind="click: $parent[value].bind($parent),
													visible: $parent.isActionRelevant(value)">
													<span class="action-menu-item" data-bind="text: label">Select All</span>
												</li>
												<li data-bind="click: $parent[value].bind($parent),
													visible: $parent.isActionRelevant(value)" style="display: none;">
													<span class="action-menu-item" data-bind="text: label">Deselect All</span>
												</li>
												<li data-bind="click: $parent[value].bind($parent),
													visible: $parent.isActionRelevant(value)" style="display: none;">
													<span class="action-menu-item" data-bind="text: label">Select All on This Page</span>
												</li>
												<li data-bind="click: $parent[value].bind($parent),
													visible: $parent.isActionRelevant(value)" style="display: none;">
													<span class="action-menu-item" data-bind="text: label">Deselect All on This Page</span>
												</li>
											</ul>
										</div>
									</th>
									<th class="data-grid-th _draggable">
										<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Order Id") ?></span>
									</th>
									<th class="data-grid-th _sortable _draggable _descend">
										<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Purchase Date") ?></span>
									</th>
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Provider Name") ?></span>
									</th>
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Reseller Name") ?></span>
									</th>
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Image") ?></span>
									</th>
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Name - SKU") ?></span>
									</th>
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Option") ?></span>
									</th>
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Qty") ?></span>
									</th>
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Shipping Company") ?></span>
									</th>
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Grand Total (Purchased)"); ?></span>
									</th>
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content" data-bind="text: label">Status</span>
									</th>
									<th class="data-grid-th">
										<span class="data-grid-cell-content" data-bind="text: label">Action</span>
									</th>
									<!-- /ko -->
								</tr>
							</thead>
							<tbody>
								<?php $before_save_increament_id = ""; ?>
								<?php foreach($orders as $_order){ ?>
									<?php 
										$increament_id = $_order["increment_id"];
										if($before_save_increament_id == $increament_id){

										}else{

										}
										$before_save_increament_id  = $_order["increment_id"];
										$type_of_order = $_order["type_of_order"];
										$text_type_order = $blockOrderAdmin->getTypeDelivery($type_of_order);
										$purchase_at = $_order["created_at"];
										$provider_name = $_order["created_at"];
										$id_seller = $_order["seller_id"];
										$provider = $blockOrderAdmin->getProvider($id_seller);
										$name_reseller = trim($_order["customer_lastname"])." ".trim($_order["customer_firstname"]);
										$grand_total = $blockOrderAdmin->formartPrice($_order["grand_total"]);
										$base_grand_total = $blockOrderAdmin->formartPrice($_order["base_grand_total"]);
										$status = $_order["status"];
										$id = $_order["entity_id"];
										$url = $block->getUrlInvoice($id);
										$products = $blockOrderAdmin->getProducts($id);
										$shipping_method = $_order["shipping_description"];
                                        $shipping_price = $blockOrderAdmin->formartPrice($_order["base_shipping_amount"]);
										foreach($products as $_product){
											$name = $_product["name"];
											$sku = $_product["sku"];
											$origin_price = $blockOrderAdmin->formartPrice($_product["original_price"]);
											$price = $blockOrderAdmin->formartPrice($_product["price"]);
											$qty_ordered = $blockOrderAdmin->formartQty($_product["qty_ordered"]);
											$sub_total = $blockOrderAdmin->formartPrice($_product["sub_total"]);
											$tax_amount = $blockOrderAdmin->formartPrice($_product["tax_amount"]);
											$tax_percent = $_product["tax_percent"];
											$discount_amount = $blockOrderAdmin->formartPrice($_product["discount_amount"]);
											$row_total = $blockOrderAdmin->formartPrice($_product["row_total"]);
                                            $img = $_product["image"];
											$array_options = $_product["options"];
									?>
											<tr class="data-row" data-bind="css: {'_odd-row': $index % 2}" data-repeat-index="0">
												<!-- ko fastForEach: {data: getVisible(), as: '$col'} -->
												<td class="data-grid-checkbox-cell">
													<label class="data-grid-checkbox-cell-inner">
													<input class="admin__control-checkbox chkChild" type="checkbox" data-action="select-row" name="check_box_order" id="idscheck<?php echo $id ?>" value="<?php echo $id; ?>">
													<label for="idscheck<?php echo $id ?>"></label>
													</label>
												</td>
												<td>
													<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $_order["increment_id"] ?>-<?php echo $id; ?></div>
												</td>
												<td class="">
													<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $purchase_at; ?></div>
												</td>
												<td>
													<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php  echo $provider->getData("store_name") ?></div>
												</td>
												<td>
													<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php  echo $name_reseller; ?></div>
												</td>
												<td>
													<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())">
														<img src="<?php echo $img ?>" />
													</div>
												</td>
												<td>
													<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())">
														<div id="order_item_162_title" class="product-title">
															<?php echo $name; ?>
														</div>
														<div class="product-sku-block">
															<span>SKU:</span> <?php echo $sku ?>
														</div>
													</div>
												</td>
												<td>
													<div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())">
                                                    <?php if(count($array_options) > 0){ ?>
														<dl class="item-options">
															<?php foreach($array_options as $_options){ ?>
																<?php 
																$attribute_label = $_options["label"];
																$attribute_option = $_options["value_option"];
																?>
																<dt><?php echo __($attribute_label); ?>:</dt>
																<dd>
																	<?php echo __($attribute_option); ?>
																</dd>
															<?php } ?>
														</dl>
														<?php }else{ ?>
                                                            None
                                                        <?php } ?>
													</div>
												</td>
												<td>
													<div class="data-grid-cell-content">
														<?php echo $qty_ordered ?>
													</div>
												</td>
												<td>
													<div class="data-grid-cell-content">
														<?php echo $shipping_method ?>
													</div>
												</td>
												<td>
													<div class="data-grid-cell-content"><?php echo $base_grand_total; ?></div>
												</td>
												<td>
													<div class="data-grid-cell-content"><?php echo $status; ?></div>
												</td>
												<td class="data-grid-actions-cell">
													<a class="action-menu-item" href="<?php echo $url; ?>"><?php echo __("View"); ?></a>
												</td>
											</tr>
										<?php } ?>
								<?php } ?>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
</div>
<?php
//get base url on magento 2;
$base_url = $blockOrderAdmin->getBaseUrl();
$url_ajax = $base_url."test/";
?>
<script type="text/javascript">
	require(['jquery'],function($){
		$(document).ready(function(){
			$("#massaction").click(function(){
				var elem = $(this);
				if(elem.parent().hasClass("_active")){
					$("#list-massaction").removeClass("_active");
					elem.parent().removeClass("_active");
				}else{
					$("#list-massaction").addClass("_active");
					elem.parent().addClass("_active");
				}
			});
			$("#list-massaction > li").click(function(){
				var elem = $(this);
				$("#list-massaction").removeClass("_active");
				$("#massaction").parent().removeClass("_active");
				var attr_action = elem.attr("type-action");
				var array_checkbox = $("input[name='check_box_order']:checked");
				var length_print_invoice = array_checkbox.length;
				var i =0;
				var string_id = "";
				for(i=0;i<length_print_invoice;i++){
					string_id+=$(array_checkbox[i]).val().toString()+"|";
					
				}
				if(string_id != ""){
					switch(attr_action){
						case 'cancel_order':
						//do cancel ajax 
							$("#array_request_cancel").val(string_id);
							$("#request_cancel").submit();
						break;
						case 'make_invoice':
							$("#array_make_invoice").val(string_id);
							$("#make_invoice").submit();
						break;

						case 'print_packaging': 
						//make shipment
							$("#array_print_packaging").val(string_id);
							$("#print_packaging").submit();
						break;
						case 'print_invoice':
							$("#array_print_invoice").val(string_id);
							$("#print_invoice").submit();
						break;
						case 'print_shipment': 
							$("#array_print_ship").val(string_id);
							$("#print_ship").submit();
						break;
					}
				}else{
					alert("<?php echo __('You haven\'t selected any items!'); ?>");
				}
			});
		});
	});
</script>