<?php
    $sellerObject = $block->getSellerDetail();
    $id_seller = $sellerObject->getData("id_seller_company");
    $result = $block->getCollectionProduct($id_seller);
    
    
    /* paging */
    $pageSize = $result["pageSize"] ? $result["pageSize"] : 0 ;
    $curPage = $result["curPage"] ? $result["curPage"] : 1 ;
    $lastPage = $result["lastPage"];
    $total = $result["total"];
    $status = $result["product_status"];
    $name = $result["name"];
    $sku = $result["sku"];
    $id_shipping = $result["id_shipping"];
    $product_category = $result["product_category"];

    if($status=="") {$status = "-1";}

    $hasNextPage = false;
    $hasPrePage = false;

    $maxCountShowPage = 5;

    $curRecords = $curPage * $pageSize;
    if($curRecords == 0) {
        $curRecords = 1;
    } else if($curRecords > $total) {
        $curRecords = $total;
    }
    
    if($curPage-3 > 0) { $hasPrePage = true; }
    if($curPage < $lastPage){ $hasNextPage = true; }

    $pageSizeShow = 20;
    if(isset($_REQUEST['pageSize'])){
        $pageSizeShow = $_REQUEST['pageSize'];
    }
    /* paging:END */


    $productCollection = $result["listRecords"];

    $id_category = $sellerObject->getData("id_category");
    $category = $block->getDetailCategory($id_category);

    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');
    $url_add_configruable_product = $block->getAddConfigruableProduct();
    $shippingMethods = $block->getShippingMethods($id_seller);
?>
<script>
jQuery(function(){
    var pageSize = <?php echo $pageSize; ?>;
    if(pageSize > 0 ) {
        jQuery("#pageSizeSelect option[value='"+ pageSize +"']").attr("selected","selected");
    }

	var status = "<?php echo $status; ?>";
    if(status != "-1" ) {
        jQuery("#productStatusSelect option[value='"+ status +"']").attr("selected","selected");
    }

    var product_category = "<?php echo $product_category; ?>";
    if(product_category != "-1" ) {
        jQuery("#productCategorySelect option[value='"+ product_category +"']").attr("selected","selected");
    }

    var id_shipping = "<?php echo $id_shipping; ?>";
    if(id_shipping != "-1" ) {
        jQuery("#productShippingSelect option[value='"+ id_shipping +"']").attr("selected","selected");
    }

});

    function setLocation(url)
    {
        top.location.href = url;
    }

    function fnPageSize(size){
        jQuery("#pageSize").val(size);
        var curPage = <?php echo $curPage; ?>;
        var lastPage = <?php echo $lastPage; ?>;
        var total = <?php echo $total; ?>;
        var new_last_page = Math.floor(total / size);
        if((total % size) > 0) {
            new_last_page++;
        }
        if(curPage > new_last_page){
            jQuery("#page").val(new_last_page);
        }
        jQuery("#search-form").submit();
    }

    function fnChangePage(page){
        jQuery("#page").val(page);
        jQuery("#search-form").submit();
    }

    function fnChangeStatus(order_status){
        jQuery("#product_status").val(order_status);
        jQuery("#search-form").submit();
    }

    function fnChangeCategory(cate_id){
        jQuery("#product_category").val(cate_id);
        jQuery("#search-form").submit();
    }

    function fnChangeShipping(ship_id){
        jQuery("#id_shipping").val(ship_id);
        jQuery("#search-form").submit();
    }

    function fnDelete(product_id){
        var del_url = "<?php echo $block->getUrl('customer/admin/deleteproduct') . 'id/'; ?>" + product_id;
        var msg = "<?php echo __("Do you want to delete this product?"); ?>";
        if(confirm(msg)){
            location.href= del_url;
        }
        
    }
    

</script>
<div class="page-wrapper">
   <header class="page-header row">
      <div class="page-header-hgroup col-l-8 col-m-6">
         <div class="page-title-wrapper">
            <h1 class="page-title"><?php echo __("Product List") ?></h1>
         </div>
      </div>
      <?php echo $this->getChildHtml("header_seller"); ?>
   </header>
   <main id="anchor-content" class="page-content">
   <div class="page-main-actions">
      <div class="page-actions-placeholder"></div>
      <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
         <div class="page-actions-inner" data-title="Catalog">
            <div class="page-actions-buttons">
               <div id="add_new_product" title="Add Product" class="actions-split">
                  <!--<button id="add_new_product-button" title="Add Product" class="action-default primary add mr1" onclick="setLocation('<?php echo $block->getUrlAddProduct(); ?>')" data-ui-id="products-list-add-new-product-button">
                        <span><?php echo __("Add Simple Product") ?></span>
                  </button>-->
                  <button id="add_new_product-button" title="Add Product" class="action-default primary add mr0" onclick="setLocation('<?php echo $url_add_configruable_product; ?>')" data-ui-id="products-list-add-new-product-button">
                        <span><?php echo __("Add Product") ?></span>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
    <div class="admin__data-grid-header-row">
        <div class="admin__data-grid-filters-wrap _show">
            <form action="<?php echo $block->getSearchUrl(); ?>" method="get" id="search-form">
                <input type="hidden" value="<?php echo $id_seller; ?>" name="id_seller" />
                <fieldset class="admin__fieldset admin__data-grid-filters">
                    <div class="admin__form-field">
                        <label class="admin__form-field-label pl0">
                        <span><strong><?php echo __("Name"); ?></strong></span>
                        </label>
                        <div class="admin__form-field-control">
                            <input class="admin__control-text w100p" type="text" name="product_name" value="<?php echo $name; ?>" aria-describedby="notice-SUJCBSP" id="SUJCBSP">
                        </div>
                    </div>	
                    <div class="admin__form-field">
                        <label class="admin__form-field-label pl0" for="UOJ43C8">
                        <span><strong><?php echo __("SKU"); ?></strong></span>
                        </label>
                        <div class="admin__form-field-control">
                            <input class="admin__control-text w100p" type="text" name="product_sku" placeholder="" value="<?php echo $sku; ?>" aria-describedby="notice-UOJ43C8" id="UOJ43C8">
                        </div>
                    </div>
                    <div class="admin__form-field">
                        <label class="admin__form-field-label pl0" for="L4352A9">
                        <span><strong><?php echo __("Status"); ?></strong></span>
                        </label>
                        <div class="admin__form-field-control">
                            <input type="hidden" id="product_status" name="product_status" value="<?php echo $status; ?>" />
                            <select class="admin__control-select" id="productStatusSelect" onchange="fnChangeStatus(jQuery(this).val());">
                                <option value="-1" <?php if($this->getStatusSearch() == -1 || $this->getStatusSearch() == null) echo 'selected="selected"' ?>><?php echo __("All"); ?></option>
                                <option value="1"><?php echo __("Enabled"); ?></option>
                                <option value="0"><?php echo __("Disabled"); ?></option>
                            </select>
                        </div>
                    </div>
                    <div class="admin__form-field">
                        <label class="admin__form-field-label pl0" for="L4352A9">
                        <span><strong><?php echo __("Category"); ?></strong></span>
                        </label>
                        <div class="admin__form-field-control">
                            <input type="hidden" id="product_category" name="product_category" value="<?php echo $product_category; ?>"/>
                            <select class="admin__control-select" id="productCategorySelect" onchange="fnChangeCategory(jQuery(this).val());">
                                <option value="" ><?php echo __("All"); ?></option>
                                <?php
                                    $sellerCategoryBlock = $objectManager->create("\Libero\Customer\Block\Seller\SellerCategory");
                                    $arrayCategoryIds = $sellerCategoryBlock->getCategoryIds($id_seller);
                                    foreach($arrayCategoryIds as $_id_category){
                                        $category = $sellerCategoryBlock->getDetailCategory($_id_category);
                                        $cateUrl = "";
                                        $parents = explode("/",$category->getPath());
                                        array_pop($parents);
                                        foreach($parents as $parent){
                                            $cateLevel = $sellerCategoryBlock->getDetailCategory($parent)->getLevel();
                                            if($cateLevel > 1 ) {
                                                $cateUrl .= $sellerCategoryBlock->getDetailCategory($parent)->getUrlKey() . "/";
                                            }
                                        }
                                        $cateUrl .= $category->getUrlKey() .'.html?id_seller=' . $id_seller;
                                    ?>
                                    <option value="<?php echo $_id_category?>" ><?php echo __($category->getName());?></option>
                                <?php }?>


                            </select>
                        </div>
                    </div>
                    <!-- <div class="admin__form-field">
                        <label class="admin__form-field-label pl0" for="BNTRD14">
                            <span><strong><?php echo __("Shipping method"); ?></strong></span>
                        </label>
                        <div class="admin__form-field-control">
                            <input type="hidden" id="id_shipping" name="id_shipping" value="<?php echo $id_shipping; ?>"/>
                            <select class="admin__control-select" id="productShippingSelect" onchange="fnChangeShipping(jQuery(this).val());">
                                <option value="0"><?php echo __("All"); ?></option>
                                <?php foreach($shippingMethods as $shippingMethod) { ?>
                                    <option value="<?php echo $shippingMethod["id_shipping_method"] ?>" <?php if($this->getShippingSearch() == $shippingMethod["id_shipping_method"]) echo 'selected="selected"' ?>><?php echo $shippingMethod["name_shipping_method"] ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div> -->
                </fieldset>
                <div class="admin__data-grid-filters-footer">
                    <div class="admin__footer-main-actions">
                        <button class="action-secondary" type="submit">
                            <span><?php echo __("Search"); ?></span>
                        </button>
                    </div>
                    <div class="admin__data-grid-pager-wrap row col-lg-12 col-md-12 col-xs-12">
                        <div class="col-lg-2 col-md-2 col-xs-2 tl">
                            <?php echo __("Total"); ?> : <?php echo $pageSizeShow; ?> / <?php echo $total; ?>
                        </div>
                        
                        <div class="paging-list col-lg-9 col-md-9 col-xs-9 tr fr">
                            <input type="hidden" id="page" name="page" value="<?php echo $curPage; ?>" />
                            <div class="moveToPageField"> <label style="margin: 10px 0; "><?php echo __("Page"); ?> : <input type="text" onkeydown="submitOnEnter(this, event);" /></label><button type="submit" class="action-secondary">Move</button> </div>
                            <?php echo __("Page");?> : 
                            <ul class="items pages-items" aria-labelledby="paging-label">
                                <?php
                                    if(($curPage-2) > 1) { ?>
                                        <li class="item">
                                            <button type="button" class="page first first-btn" onclick="fnChangePage('1');">
                                            <span><i class="fas fa-step-backward"></i></span>
                                            </button>
                                        </li>
                                        <li class="item pages-item-prev">
                                            <button type="button" class="action  prev" onclick="fnChangePage('<?php echo $curPage-1; ?>');" title="Tiếp theo">
                                            <span><i class="fas fa-caret-left"></i></span>
                                            </button>
                                        </li>
                                        <li class="item vv-style">...</li>
                                    <?php } else if($hasPrePage) {?>
                                        <li class="item pages-item-prev">
                                            <button type="button" class="action  prev" onclick="fnChangePage('<?php echo $curPage-1; ?>');" title="Tiếp theo">
                                            <span><i class="fas fa-caret-left"></i></span>
                                            </button>
                                        </li>
                                    <?php }

                                    $page = $curPage-2;
                                    if($page < 1) { $page = 1; }
                                    $showedLast = false;
                                    for ( $page; $page < $lastPage+1; $page++){
                                        if($maxCountShowPage > 0) {
                                            if($page == $curPage){ ?>
                                                <li class="item current">
                                                    <strong class="page">
                                                    <span><?php echo $page; ?></span>
                                                    </strong>
                                                </li>
                                            <?php } else {?>
                                                <li class="item">
                                                    <button type="button" onclick="fnChangePage('<?php echo $page; ?>');" class="page">
                                                    <span><?php echo $page; ?></span>
                                                    </button>
                                                </li>
                                            <?php }
                                            $maxCountShowPage--;
                                            if($page == $lastPage) {
                                                $showedLast = true;
                                            }
                                        } else { ?>
                                            <?php break;
                                        }
                                    }
                                ?>

                                <?php if($curPage+2 < $lastPage) {
                                        if(!$showedLast){?>
                                            <li class="item vv-style">...</li>
                                        <?php }?>
                                    <li class="item pages-item-next">
                                        <button type="button" class="action  next" onclick="fnChangePage('<?php echo $curPage+1; ?>');" title="Tiếp theo">
                                        <span><i class="fas fa-caret-right"></i></span>
                                        </button>
                                    </li>
                                    <?php if(!$showedLast){?>
                                        <li class="item">
                                            <button type="button" class="page last last-btn" onclick="fnChangePage('<?php echo $lastPage; ?>');">
                                            <span><i class="fas fa-step-forward"></i></span>
                                            </button>
                                        </li>
                                    <?php }
                                } else if($hasNextPage){?>
                                    <li class="item pages-item-next">
                                        <button type="button" class="action  next" onclick="fnChangePage('<?php echo $curPage+1; ?>');" title="Tiếp theo">
                                        <span><i class="fas fa-caret-right"></i></span>
                                        </button>
                                    </li> 
                                <?php } ?>
                            </ul>
                            <div class="d-ib ml30">
                                <label class="label" for="limiter">
                                    <span><?php echo __("Show"); ?></span>
                                    <input type="hidden" id="pageSize" name="pageSize" value="<?php echo $pageSize; ?>" />
                                    <select id="pageSizeSelect" class="admin__control-select wa" onchange="fnPageSize(jQuery(this).val());">
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </label>
                                <span class="limiter-text"><?php echo __('per page');?></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

   <div id="page:main-container" class="page-columns">
      <div class="admin__old">
         <div id="container" class="main-col">
            <div class="admin__data-grid-outer-wrap" data-bind="scope: 'product_listing.product_listing'">
               <div class="admin__data-grid-wrap" data-role="grid-wrapper">
                  <table class="data-grid data-grid-draggable" data-role="grid">
                     <thead>
                        <tr>
                           <th class="data-grid-multicheck-cell"> <div class="action-multicheck-wrap"> <input class="admin__control-checkbox" type="checkbox"> </div> </th>
                           <th class="data-grid-th _sortable _draggable _ascend"> <span class="data-grid-cell-content">ID</span> </th>
                           <th class="data-grid-th _draggable"> <span class="data-grid-cell-content"><?php echo __('Thumbnail');?></span> </th>
                           <th class="data-grid-th _sortable _draggable"> <span class="data-grid-cell-content"><?php echo __('Name');?></span> </th>
                           <th class="data-grid-th _sortable _draggable"> <span class="data-grid-cell-content"><?php echo __('Type');?></span> </th>
                           <th class="data-grid-th _sortable _draggable"> <span class="data-grid-cell-content"><?php echo __('SKU');?></span> </th>
                           <th class="data-grid-th _sortable _draggable"> <span class="data-grid-cell-content"><?php echo __('Price');?></span> </th>
                           <th class="data-grid-th _sortable _draggable"> <span class="data-grid-cell-content"><?php echo __('Visibility');?></span> </th>
                           <th class="data-grid-th _sortable _draggable"> <span class="data-grid-cell-content"><?php echo __('Status');?></span> </th>
                           <th class="data-grid-th _sortable _draggable"> <span class="data-grid-cell-content"><?php echo __('Websites');?></span> </th>
                           <th class="data-grid-th"> <span class="data-grid-cell-content"><?php echo __('View');?></span> </th>
                           <th class="data-grid-th"> <span class="data-grid-cell-content"><?php echo __('Edit');?></span> </th>
                           <th class="data-grid-th"> <span class="data-grid-cell-content"><?php echo __('Delete');?></span> </th>
                        </tr>
                     </thead>
                     <tbody>
                        <?php 
                            if(count($productCollection)<=0){ ?>
                                <tr class="data-row tc">
                                    <td colspan="13"><?php echo __("We couldn't find any records."); ?></td>
                                </tr>
                            <?php } else {
                                    
                            $stt = 0;
                        ?>
                        <?php 
                            foreach($productCollection as $_product){ 
                                $stt++;
                                $classRow = "_odd-row";
                                if($stt % 2 != 0){
                                    $classRow = "";
                                }
                                $temp_product = $objectManager->create("\Magento\Catalog\Model\Product")->load($_product->getId());
                                $image_data = $temp_product->getData("image_data");
                                $array_image_data = json_decode($image_data,true);
                                $array_image_variant_data = array();
                                $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
                                $media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
								$imageHelperFactory = $objectManager->get("\Magento\Catalog\Helper\ImageFactory");
								$base_img = $imageHelperFactory->create()->init($_product, 'product_page_image_large')->getUrl();
								$base_check = $base_img;
                                if(count($array_image_data) >0 ){
									//if(!$base_check){
										$base_img = $media_url.$array_image_data["main"][$_product->getId()]["base_img"];
									//}
                                }else{
                                    $imageHelperFactory = $objectManager->get("\Magento\Catalog\Helper\ImageFactory");
                                    $base_img = $imageHelperFactory->create()->init($_product, 'product_page_image_large')->getUrl();
                                }
                                //Split image data;
                                $image_url = $base_img;
                                //$image_url = $block->resizeImage($_product,"product_page_image_large",50,50)->getUrl();
                                $product_type = $_product->getTypeId();
                                $link_url = "";
                                /*if($product_type == "simple"){
                                    $link_url = $block->getUrlEditProduct($_product->getId());
                                }
                                else{
                                    $link_url = $block->getUrlEditConfigProduct($_product->getId());
                                }*/
                                $link_url = $block->getUrlEditConfigProduct($_product->getId());
                                $message_deny = $_product->getData("message_deny");
                                $visibility = $_product->getVisibility();
                                if($visibility == 1) continue;
                                $show_visibility = "";
                                switch($visibility){
                                    case 1:
                                    $show_visibility = "NOT VISIBLE";
                                    break;
                                    case 2:
                                    $show_visibility = "IN CATALOG";
                                    break;
                                    case 3:
                                    $show_visibility = "SEARCH";
                                    break;
                                    case 4:
                                    $show_visibility = "CATALOG/SEARCH";
                                    break;

                                }
                        ?>
                        <tr class="data-row <?php echo $classRow; ?>"  data-repeat-index="0">
                           <!-- ko fastForEach: {data: getVisible(), as: '$col'} -->
                            <td class="data-grid-checkbox-cell">
                                <label class="data-grid-checkbox-cell-inner">
                                <input class="admin__control-checkbox" type="checkbox" id="idscheck1" value="1">
                                <label data-bind="attr: {for: index + 'check' + $row()[$col.indexField]}" for="idscheck1"></label>
                                </label>
                            </td>
                            <td> <div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $stt; ?></div> </td>
                            <td class="data-grid-thumbnail-cell">
                                <img class="admin__control-thumbnail" style="border:0" src="<?php echo $image_url; ?>" alt="<?php echo $_product->getName(); ?>">
                            </td>
                            <td> <div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $_product->getName(); ?></div> </td>
                            <td> <div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo __($product_type);?></div> </td>
                            <td> <div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $_product->getSku(); ?></div> </td>
                            <td> <div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $util->formatPrice($_product->getPrice()); ?></div> </td>
                            <td> <div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo __($show_visibility);?></div> </td>
                            <td>
                                <div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())">
                                    <?php 
                                        if($message_deny != ""){
                                            echo __('Denied');
                                            ?>
                                            <a class="action-menu-item" href="<?php echo  $link_url;  ?>"><?php echo __('View Reason');?></a> 
                                            <?php
                                        }else{
                                            if($_product->getStatus() == 1) { 
                                                echo __('Enabled');
                                            }else{
                                                echo __('pending');
                                            }
                                        }
                                    ?>                                    
                                    </div>
                            </td>
                            <td> <div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo __('Main Website');?></div> </td>
                            <?php if($visibility != 1){ ?>
                                <td class="data-grid-actions-cell"> <a class="action-menu-item" href="<?php echo  $block->getUrl() . $_product->getUrlKey() . '.html' ?>"><?php echo __('View');?></a> </td>
                                <td class="data-grid-actions-cell"> <a class="action-menu-item" href="<?php echo  $link_url;  ?>"><?php echo __('Edit');?></a> </td>
                            <?php }else{ ?>
                                <td class="data-grid-actions-cell"> <a class="action-menu-item" href="javascript:void(0);"></a></td>
                                <td class="data-grid-actions-cell"> <a class="action-menu-item" href="javascript:void(0);"></a></td>
                            <?php } ?>
                            <td class="data-grid-actions-cell"> <a class="action-menu-item" href="#" onclick="fnDelete('<?php echo $_product->getId(); ?>');"><?php echo __('Delete');?></a></td>
                        </tr>
                        <?php } } ?>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>
</div>
<script>
function submitOnEnter(obj, event) {
	if (event && event.keyCode == 13) {
		fnChangePage(jQuery(obj).val());
	}
}
</script>