<?php
/** @var Libero\Customer\Block\Seller\Admin\ReportReviewCustomerList*/
$seller_detail = $block->getSellerDetail();
$id_seller = $seller_detail->getData("id_seller_company");
$list_reviews = $block->getCustomerReviewDetail($id_seller);

?>


<div class="page-wrapper">
	<header class="page-header row">
		<div class="page-header-hgroup col-l-8 col-m-6">
			<div class="page-title-wrapper">
				<h1 class="page-title"><?php echo __("Customer Reviews") ?></h1>
			</div>
		</div>
		<?php echo $this->getChildHtml("header_seller"); ?>
	</header>
	<div><input name="form_key" type="hidden" value="5V1EeJI3aCBYhTts"></div>
	<main id="anchor-content" class="page-content">
		<div class="page-main-actions">
			<div class="page-actions-placeholder" style=""></div>
			<div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
				<div class="page-actions-inner" data-title="New Product">
					<div class="page-actions-buttons">
						<button id="back" title="Back" type="button" class="action- scalable back" onclick="location.href = '<?php echo $block->getReportCustomerListUrl(); ?>';" data-ui-id="back-button">
						<span><?php echo __('Back');?></span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div id="page:main-container" class="page-columns">
			<div class="admin__old">
				<div id="container" class="main-col">
					<div class="admin__data-grid-outer-wrap" data-bind="scope: 'sales_order_grid.sales_order_grid'">
						<div class="admin__data-grid-wrap" data-role="grid-wrapper">
							<table class="data-grid data-grid-draggable" data-role="grid">
								<thead>
									<tr data-bind="foreach: {data: getVisible(), as: '$col'}">
										<!-- ko template: getHeader() -->
										<th class="data-grid-multicheck-cell">
											<div class="action-multicheck-wrap" data-bind="css: {_disabled: !totalRecords()}, collapsible">
												<input class="admin__control-checkbox" type="checkbox" data-bind="
													checked: allSelected(),
													attr: {id: ++ko.uid},
													event: { change: toggleSelectAll },
													css: { '_indeterminate': indetermine },
													enable: totalRecords" id="45">
												<label data-bind="attr: {for: ko.uid}" for="45"></label>
												<ul class="action-menu" data-bind="foreach: actions, closeCollapsible">
													<li data-bind="click: $parent[value].bind($parent),
														visible: $parent.isActionRelevant(value)">
														<span class="action-menu-item" data-bind="text: label"><?php echo __('Select All');?></span>
													</li>
													<li data-bind="click: $parent[value].bind($parent),
														visible: $parent.isActionRelevant(value)" style="display: none;">
														<span class="action-menu-item" data-bind="text: label"><?php echo __('Deselect All');?></span>
													</li>
													<li data-bind="click: $parent[value].bind($parent),
														visible: $parent.isActionRelevant(value)" style="">
														<span class="action-menu-item" data-bind="text: label"><?php echo __('Select All on This Page');?></span>
													</li>
													<li data-bind="click: $parent[value].bind($parent),
														visible: $parent.isActionRelevant(value)" style="display: none;">
														<span class="action-menu-item" data-bind="text: label"><?php echo __('Deselect All on This Page');?></span>
													</li>
												</ul>
											</div>
										</th>
										<!-- /ko --><!-- ko template: getHeader() -->
										<th class="data-grid-th _sortable _draggable" data-bind="css: {
											_sortable: sortable,
											_draggable: draggable,
											_ascend: sorting === 'asc',
											_descend: sorting === 'desc'}, click: sort">
											<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Nick Name") ?></span>
										</th>
										<!-- /ko --><!-- ko template: getHeader() -->
										<th class="data-grid-th _draggable" data-bind="css: {
											_sortable: sortable,
											_draggable: draggable,
											_ascend: sorting === 'asc',
											_descend: sorting === 'desc'}, click: sort">
											<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Title") ?></span>
										</th>
										<!-- /ko --><!-- ko template: getHeader() -->
										<th class="data-grid-th _sortable _draggable _descend" data-bind="css: {
											_sortable: sortable,
											_draggable: draggable,
											_ascend: sorting === 'asc',
											_descend: sorting === 'desc'}, click: sort">
											<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Detail") ?></span>
										</th>
										<!-- /ko --><!-- ko template: getHeader() -->
										<th class="data-grid-th _sortable _draggable" data-bind="css: {
											_sortable: sortable,
											_draggable: draggable,
											_ascend: sorting === 'asc',
											_descend: sorting === 'desc'}, click: sort">
											<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Rating (star)") ?></span>
										</th>
										<!-- /ko --><!-- ko template: getHeader() -->
										<th class="data-grid-th _sortable _draggable" data-bind="css: {
											_sortable: sortable,
											_draggable: draggable,
											_ascend: sorting === 'asc',
											_descend: sorting === 'desc'}, click: sort">
											<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Created At") ?></span>
										</th>
										<!-- /ko --><!-- ko template: getHeader() -->
										<th class="data-grid-th _sortable _draggable" data-bind="css: {
											_sortable: sortable,
											_draggable: draggable,
											_ascend: sorting === 'asc',
											_descend: sorting === 'desc'}, click: sort">
											<span class="data-grid-cell-content" data-bind="text: label"><?php echo __("Last Updated") ?></span>
										</th>
									</tr>
								</thead>
								<tbody>
                                    <?php 
                                        $countLoop = 0;
                                        foreach($list_reviews as $review) {
                                            if($countLoop % 2 == 0) { ?>
                                                <tr class="data-row">
                                            <?php } else { ?>
                                                <tr class="data-row _odd-row">
                                            <?php } ?>
                                        
                                            <td class="data-grid-checkbox-cell">
											<label class="data-grid-checkbox-cell-inner"> 
												<input class="admin__control-checkbox" type="checkbox" name="" id="">
											<label class="lable-oder-list" data-bind="attr: {for: index + 'check' + $row()[$col.indexField]}" for="idscheck1"></label>
                                            </label>
											</td>
                                            <td><?php echo $review['nickname']; ?></td>
                                            <td><?php echo $review['title']; ?></td>
                                            <td><?php echo $review['detail']; ?></td>
                                            <td><?php echo $review['rating']; ?></td>
                                            <td><?php echo date('Y-m-d H:i:s',strtotime($review['created_at'])); ?></td>
                                            <td><?php echo $review['updated_at']; ?></td>
                                        </tr>
                                    <?php $countLoop++; } ?>
                                </tbody>
							</table>
						</div>
						<!-- /ko --><!-- /ko -->
						<!-- /ko -->
						<!-- /ko -->
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer class="page-footer">
		<div class="page-footer-content row">
			<div class="footer-legal">
				<p class="copyright col-m-6">
					<style>
						.ico {display: inline-block; width: 24px; height: 24px;}
						.ico-wisi-logo {background: url(http://dev.wisiproduction.com/pub/static/version1524120093/adminhtml/Magento/backend/en_US/images/wisi-logo.png) no-repeat; background-size: contain;}
						.link-copyright:before {display: none !important;}
						.login-footer .link-copyright {height: 24px; display: inline-block; vertical-align: middle;}
					</style>
					<a class="link-copyright" href="#" target="_blank" title="Wisi">
					<i class="ico ico-wisi-logo"></i>
					</a>
					Copyright © 2018 by Wisi.vn - All right reserved.
				</p>
				<div class="footer-legal-system col-m-6">
					<p class="magento-version">
						<strong>Source</strong>
						ver. 2.1.12
					</p>
					<!-- <a class="link-report" href="https://github.com/magento/magento2/issues" id="footer_bug_tracking">Report Bugs</a> -->
				</div>
			</div>
		</div>
	</footer>
</div>