<?php
   $sellerObject = $block->getSellerDetail();
   $id_seller = $sellerObject->getData("id_seller_company");
   $reviewObjects = $block->getCollectionReview($id_seller);
?>
<script>
    function setLocation(url)
    {
        top.location.href = url;
    }
</script>
<div class="page-wrapper">
   <header class="page-header row">
      <div class="page-header-hgroup col-l-8 col-m-6">
         <div class="page-title-wrapper">
            <h1 class="page-title"><?php echo __("Review by customer") ?></h1>
         </div>
      </div>
      <?php echo $this->getChildHtml("header_seller"); ?>
   </header>
   <main id="anchor-content" class="page-content">
   <div class="page-main-actions">
      <div class="page-actions-placeholder"></div>
      <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
         <div class="page-actions-inner" data-title="Catalog">
            <div class="page-actions-buttons">
               <div id="add_new_product" title="Add Product" class="actions-split">
                 
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="page:main-container" class="page-columns">
      <div class="admin__old">
         <div id="container" class="main-col">
            <div class="admin__data-grid-outer-wrap" data-bind="scope: 'product_listing.product_listing'">
               <div data-role="spinner" data-component="product_listing.product_listing.product_columns" class="admin__data-grid-loading-mask" style="display: none;">
                  <div class="spinner">
                     <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                  </div>
               </div>
               <div class="admin__data-grid-wrap" data-role="grid-wrapper">
                  <table class="data-grid data-grid-draggable" data-role="grid">
                     <thead>
                        <tr data-bind="foreach: {data: getVisible(), as: '$col'}">
                           <th class="data-grid-th _sortable _ascend" data-bind="css: {
                              _sortable: sortable,
                              _draggable: draggable,
                              _ascend: sorting === 'asc',
                              _descend: sorting === 'desc'}, click: sort">
                              <span class="data-grid-cell-content" data-bind="text: label"><?php echo __('Customer name'); ?></span>
                           </th>
                           <!-- /ko --><!-- ko template: getHeader() -->
                           <th class="data-grid-th _sortable" data-bind="css: {
                              _sortable: sortable,
                              _draggable: draggable,
                              _ascend: sorting === 'asc',
                              _descend: sorting === 'desc'}, click: sort">
                              <span class="data-grid-cell-content" data-bind="text: label"><?php echo __('Review count'); ?></span>
                           </th>
                           <!-- /ko --><!-- ko template: getHeader() -->
                           <th class="data-grid-th _sortable" data-bind="css: {
                              _sortable: sortable,
                              _draggable: draggable,
                              _ascend: sorting === 'asc',
                              _descend: sorting === 'desc'}, click: sort">
                              <span class="data-grid-cell-content" data-bind="text: label"><?php echo __('Total star'); ?></span>
                           </th>
                           <!-- /ko --><!-- ko template: getHeader() -->
                           <th class="data-grid-th _sortable" data-bind="css: {
                              _sortable: sortable,
                              _draggable: draggable,
                              _ascend: sorting === 'asc',
                              _descend: sorting === 'desc'}, click: sort">
                              <span class="data-grid-cell-content" data-bind="text: label"><?php echo __('Average rating star'); ?></span>
                           </th>
                           <!-- /ko --><!-- ko template: getHeader() -->
                           <th class="data-grid-th" data-bind="css: {
                              _sortable: sortable,
                              _draggable: draggable,
                              _ascend: sorting === 'asc',
                              _descend: sorting === 'desc'}, click: sort">
                              <span class="data-grid-cell-content" data-bind="text: label"><?php echo __('Action'); ?></span>
                           </th>                          
                           <!-- /ko -->
                        </tr>
                     </thead>
                     <tbody>
                        <?php 
                            $stt = 0;
                        ?>
                        <?php 
                            foreach($reviewObjects as $_review){ 
                                 $stt++;
                                 $classRow = "_odd-row";
                                 if($stt % 2 != 0) {
                                    $classRow = "";
                                 }
                                 $customer_name  = $_review->getFirstname() ?? __('Anonymous');
                                 $review_count = $_review->getReviewCount();
                                 $rating_count = $_review->getRatingCount();
                                 $average_star = $rating_count/($review_count);
                        ?>
                        <tr class="data-row <?php echo $classRow; ?>"  data-repeat-index="0">
                           <td>
                              <div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $customer_name; ?></div>
                           </td>
                           <td>
                              <div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $review_count; ?></div>
                           </td>
                           <td>
                              <div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $rating_count; ?></div>
                           </td>
                           <td>
                              <div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $average_star; ?></div>
                           </td>
                           <td class="data-grid-actions-cell">
                              <a class="action-menu-item" href="<?php echo $block->getCustomerReviewDetailUrl($_review->getCustomerId()); ?>"><?php echo __('Detail') ?></a>
                           </td>
                        </tr>
                        <?php } ?>
                        <!-- /ko -->
                        <!-- ko ifnot: hasData() --><!-- /ko -->
                     </tbody>
                  </table>
               </div>
               <!-- /ko --><!-- /ko -->
               <!-- /ko -->
               <!-- /ko -->
            </div>
         </div>
      </div>
   </div>
</main>
</div>