<?php
$seller_detail = $block->getSellerDetail();
$id_seller = $seller_detail->getData("id_seller_company");
$result = $block->getCollectionRMA($id_seller);

    /* paging */
    $pageSize = $result["pageSize"] ? $result["pageSize"] : 0 ;
    $curPage = $result["curPage"] ? $result["curPage"] : 1 ;
    $lastPage = $result["lastPage"];
    $total = $result["total"];
    $customer_name = $result["customer_name"];
    $increment_id = $result["increment_id"];
    $customer_email = $result["customer_email"];
    $product_name = $result["product_name"];
    $status = $result["status"];
    $date_from = $result["date_from"];
    $date_to = $result["date_to"];

    $hasNextPage = false;
    $hasPrePage = false;

    $maxCountShowPage = 5;

    $curRecords = $curPage * $pageSize;
    if($curRecords == 0) {
        $curRecords = 1;
    } else if($curRecords > $total) {
        $curRecords = $total;
    }
    
    if($curPage-3 > 0) { $hasPrePage = true; }
    if($curPage < $lastPage){ $hasNextPage = true; }
    /* paging:END */

    $rma_collection = $result["listRecords"];

?>
<script>
jQuery(function(){
    var pageSize = <?php echo $pageSize; ?>;
    if(pageSize > 0 ) {
        jQuery("#pageSizeSelect option[value='"+ pageSize +"']").attr("selected","selected");
    }

	var status = "<?php echo $status; ?>";
    if(status != "" ) {
        jQuery("#statusSelect option[value='"+ status +"']").attr("selected","selected");
    }
});

function setLocation(url) {
    top.location.href = url;
}

function fnPageSize(size){
    jQuery("#pageSize").val(size);
    var curPage = <?php echo $curPage; ?>;
    var lastPage = <?php echo $lastPage; ?>;
    var total = <?php echo $total; ?>;
    var new_last_page = Math.floor(total / size);
    if((total % size) > 0) {
        new_last_page++;
    }
    if(curPage > new_last_page){
        jQuery("#page").val(new_last_page);
    }
    jQuery("#search-form").submit();
}

function fnChangePage(page){
    jQuery("#page").val(page);
    jQuery("#search-form").submit();
}

function fnChangeStatus(order_status){
    jQuery("#status").val(order_status);
    jQuery("#search-form").submit();
}

</script>

<div class="page-wrapper">
<header class="page-header row">
    <div class="page-header-hgroup col-l-8 col-m-6">
        <div class="page-title-wrapper">
        <h1 class="page-title"><?php echo __("Returns List") ?></h1>
        </div>
    </div>
    <?php echo $this->getChildHtml("header_seller"); ?>
</header>
<main id="anchor-content" class="page-content">
   <div id="page:main-container" class="page-columns">
      <div class="admin__old">
         <div id="container" class="main-col">
            <div id="id_f18fd9d2d7fdd7ee5598ee68a8ff22c6" data-grid-id="id_f18fd9d2d7fdd7ee5598ee68a8ff22c6">
                <div class="admin__data-grid-header-row">
                    <div class="admin__data-grid-filters-wrap _show">
                        <form action="<?php echo $block->getSearchUrl(); ?>" method="get" id="search-form">
                            <input type="hidden" value="<?php echo $id_seller; ?>" name="id_seller" />
                            <fieldset class="admin__fieldset admin__data-grid-filters">
                                <div class="admin__form-field">
                                    <label class="admin__form-field-label pl0">
                                    <span><strong><?php echo __("Customer Name"); ?></strong></span>
                                    </label>
                                    <div class="admin__form-field-control">
                                        <input class="admin__control-text w100p" type="text" name="customer_name" value="<?php echo $customer_name; ?>" aria-describedby="notice-SUJCBSP" id="SUJCBSP">
                                    </div>
                                </div>	
                                <div class="admin__form-field">
                                    <label class="admin__form-field-label pl0" for="UOJ43C8">
                                    <span><strong><?php echo __("Order Number"); ?></strong></span>
                                    </label>
                                    <div class="admin__form-field-control">
                                        <input class="admin__control-text w100p" type="text" name="increment_id" placeholder="" value="<?php echo $increment_id; ?>" aria-describedby="notice-UOJ43C8" id="UOJ43C8">
                                    </div>
                                </div>
                                <div class="admin__form-field">
                                    <label class="admin__form-field-label pl0" for="UOJ43C8">
                                    <span><strong><?php echo __("Customer Email"); ?></strong></span>
                                    </label>
                                    <div class="admin__form-field-control">
                                        <input class="admin__control-text w100p" type="text" name="customer_email" placeholder="" value="<?php echo $customer_email; ?>" aria-describedby="notice-UOJ43C8" id="UOJ43C8">
                                    </div>
                                </div>
                                <div class="admin__form-field">
                                    <label class="admin__form-field-label pl0" for="UOJ43C8">
                                    <span><strong><?php echo __("Product Name"); ?></strong></span>
                                    </label>
                                    <div class="admin__form-field-control">
                                        <input class="admin__control-text w100p" type="text" name="product_name" placeholder="" value="<?php echo $product_name; ?>" aria-describedby="notice-UOJ43C8" id="UOJ43C8">
                                    </div>
                                </div>
                                <div class="admin__form-field">
                                    <label class="admin__form-field-label pl0" data-bind="attr: {for: uid}" for="L4352A9">
                                    <span data-bind="text: label"><strong><?php echo __("Status"); ?></strong></span>
                                    </label>
                                    <div class="admin__form-field-control">
                                        <input type="hidden" id="status" name="status" value="<?php echo $status; ?>" />
                                        <select class="admin__control-select" id="statusSelect" onchange="fnChangeStatus(jQuery(this).val());">
                                            <option value="-1"><?php echo __("Please select"); ?></option>
                                            <option value="1"><?php echo __("Pending approval"); ?></option>
                                            <option value="2"><?php echo __("Approved"); ?></option>
                                            <option value="3"><?php echo __("Package sent"); ?></option>
                                            <option value="4"><?php echo __("Package Received"); ?></option>
                                            <option value="5"><?php echo __("Refun/Exchange"); ?></option>
                                            <option value="6"><?php echo __("Closed"); ?></option>
                                            <option value="7"><?php echo __("Canceled"); ?></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="admin__form-field">
                                    <div class="col-lg-6 col-md-6 col-xs-5">
                                        <label class="admin__form-field-label pl0">
                                            <span data-bind="text: label"><strong><?php echo __("From Date") ?></strong></span>
                                        </label>
                                        <div class="admin__form-field-control">
                                            <input type="text" class="input-text required-entry hasDatepicker w100p" autocomplete="off" id="calendar_inputField" name="date_from" value="<?php echo $result['date_from']; ?>" />
                                            <label class="admin__field-error invisible" for="FJ8SO3X"><?php echo __("Please input this field."); ?></label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-5 col-xs-offset-1">
                                        <label class="admin__form-field-label pl0">
                                            <span data-bind="text: label"><strong><?php echo __("To Date") ?></strong></span>
                                        </label>
                                        <div class="admin__form-field-control">
                                            <input type="text" class="input-text required-entry hasDatepicker w100p" autocomplete="off" id="calendar_inputField_To" name="date_to" value="<?php echo $result['date_to']; ?>"/>
                                            <label class="admin__field-error invisible" for="FJ8SO3X"><?php echo __("Please input this field."); ?></label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="admin__data-grid-filters-footer">
                                <div class="admin__footer-main-actions">
                                    <button class="action-secondary" type="submit">
                                        <span><?php echo __("Search"); ?></span>
                                    </button>
                                </div>
                                <div class="admin__data-grid-pager-wrap row col-lg-12 col-md-12 col-xs-12">
                                    <div class="col-lg-2 col-md-2 col-xs-2 tl">
                                        <?php echo __("Total"); ?> : <?php echo $curRecords; ?> / <?php echo $total; ?>
                                    </div>
                                    
                                    <div class="paging-list col-lg-9 col-md-9 col-xs-9 tr fr">
                                        <input type="hidden" id="page" name="page" value="<?php echo $curPage; ?>" />
                                        <div class="moveToPageField"> <label style="margin: 10px 0; "><?php echo __("Page"); ?> : <input type="text" onkeydown="submitOnEnter(this, event);" /></label><button type="submit" class="action-secondary">Move</button> </div>
                                        <?php echo __("Page");?> : 
                                        <ul class="items pages-items" aria-labelledby="paging-label">
                                            <?php
                                                if(($curPage-2) > 1) { ?>
                                                    <li class="item">
                                                        <button type="button" class="page first first-btn" onclick="fnChangePage('1');">
                                                        <span><i class="fas fa-step-backward"></i></span>
                                                        </button>
                                                    </li>
                                                    <li class="item pages-item-prev">
                                                        <button type="button" class="action  prev" onclick="fnChangePage('<?php echo $curPage-1; ?>');" title="Tiếp theo">
                                                        <span><i class="fas fa-caret-left"></i></span>
                                                        </button>
                                                    </li>
                                                    <li class="item vv-style">...</li>
                                                <?php } else if($hasPrePage) {?>
                                                    <li class="item pages-item-prev">
                                                        <button type="button" class="action  prev" onclick="fnChangePage('<?php echo $curPage-1; ?>');" title="Tiếp theo">
                                                        <span><i class="fas fa-caret-left"></i></span>
                                                        </button>
                                                    </li>
                                                <?php }

                                                $page = $curPage-2;
                                                if($page < 1) { $page = 1; }
                                                $showedLast = false;
                                                for ( $page; $page < $lastPage+1; $page++){
                                                    if($maxCountShowPage > 0) {
                                                        if($page == $curPage){ ?>
                                                            <li class="item current">
                                                                <strong class="page">
                                                                <span><?php echo $page; ?></span>
                                                                </strong>
                                                            </li>
                                                        <?php } else {?>
                                                            <li class="item">
                                                                <button type="button" onclick="fnChangePage('<?php echo $page; ?>');" class="page">
                                                                <span><?php echo $page; ?></span>
                                                                </button>
                                                            </li>
                                                        <?php }
                                                        $maxCountShowPage--;
                                                        if($page == $lastPage) {
                                                            $showedLast = true;
                                                        }
                                                    } else { ?>
                                                        <?php break;
                                                    }
                                                }
                                            ?>

                                            <?php if($curPage+2 < $lastPage) {
                                                    if(!$showedLast){?>
                                                        <li class="item vv-style">...</li>
                                                    <?php }?>
                                                <li class="item pages-item-next">
                                                    <button type="button" class="action  next" onclick="fnChangePage('<?php echo $curPage+1; ?>');" title="Tiếp theo">
                                                    <span><i class="fas fa-caret-right"></i></span>
                                                    </button>
                                                </li>
                                                <?php if(!$showedLast){?>
                                                    <li class="item">
                                                        <button type="button" class="page last last-btn" onclick="fnChangePage('<?php echo $lastPage; ?>');">
                                                        <span><i class="fas fa-step-forward"></i></span>
                                                        </button>
                                                    </li>
                                                <?php }
                                            } else if($hasNextPage){?>
                                                <li class="item pages-item-next">
                                                    <button type="button" class="action  next" onclick="fnChangePage('<?php echo $curPage+1; ?>');" title="Tiếp theo">
                                                    <span><i class="fas fa-caret-right"></i></span>
                                                    </button>
                                                </li> 
                                            <?php } ?>
                                        </ul>
                                        <div class="d-ib ml30">
                                            <label class="label" for="limiter">
                                                <span><?php echo __("Show"); ?></span>
                                                <input type="hidden" id="pageSize" name="pageSize" value="<?php echo $pageSize; ?>" />
                                                <select id="pageSizeSelect" class="admin__control-select wa" onchange="fnPageSize(jQuery(this).val());">
                                                    <option value="20">20</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>
                                            </label>
                                            <span class="limiter-text"><?php echo __('per page');?></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
               <div class="admin__data-grid-wrap admin__data-grid-wrap-static">
                  <table class="data-grid" id="id_f18fd9d2d7fdd7ee5598ee68a8ff22c6_table">
                     <thead>
                        <tr>
                           <th class="data-grid-th col-actions no-link col-action"><span><?php echo __("Action") ?> </span></th>
                           <th data-sort="id_request" data-direction="asc" class="data-grid-th _sortable not-sort  col-id_request"><span><?php echo __("Order Number") ?></span></th>
                           <th data-sort="customer_name" data-direction="asc" class="data-grid-th _sortable not-sort  col-customer_name"><span><?php echo __("Customer Name") ?> </span></th>
                           <th data-sort="customer_email" data-direction="asc" class="data-grid-th _sortable not-sort  col-customer_email"><span><?php echo __("Customer Email") ?> </span></th>
                           <th data-sort="product_id" data-direction="asc" class="data-grid-th _sortable not-sort  col-product_id"><span><?php echo __("Product") ?> </span></th>
                           <th data-sort="reason" data-direction="asc" class="data-grid-th _sortable not-sort  col-reason"><span><?php echo __("Reason") ?> </span></th>
                           <th data-sort="resolution" data-direction="asc" class="data-grid-th _sortable not-sort  col-resolution"><span><?php echo __("Resolution") ?> </span></th>
                           <th data-sort="status" data-direction="asc" class="data-grid-th _sortable not-sort  col-status"><span><?php echo __("Status") ?> </span></th>
                           <th data-sort="create_at" data-direction="asc" class="data-grid-th _sortable not-sort  col-create_at"><span><?php echo __("Created At") ?> </span></th>
                        </tr>
                     </thead>
                     <tbody>
                        <?php 
                        if(count($rma_collection) < 1){ ?>
                            <tr class="data-row tc">
                                <td colspan="10"><?php echo __("We couldn't find any records."); ?></td>
                            </tr>
                        <?php } else { ?>
                            <?php foreach($rma_collection as $_rma){ ?>
                            <?php
                                //var_dump($_rma);die;      
                                $id_rma = $_rma["id"];
                                $increment_id = $_rma["increment_id"];
                                $customer_name = $_rma["customer_name"];
                                $customer_email = $_rma["customer_email"];
                                $product_name = $_rma["product_name"];
                                //$product = $block->getDetailProduct($product_id);
                                $text_reason = $block->getTextReason($_rma["reason"]);
                                $text_resolution = $block->getTextResolution($_rma["resolution"]);
                                $text_status = $block->getTextStatus($_rma["status"]);
                                $created_at = date('Y-m-d H:i:s',strtotime($_rma["create_at"]));
                            ?>
                            <tr title="#" class="even _clickable">
                            <td class="col-actions col-action">
                                <a href="<?php echo $block->getUrlEditRma($id_rma); ?>"><?php echo __("Edit") ?> </a>                                
                            </td>
                            <td class=" col-id_request">
                                <?php echo $increment_id; ?>    
                            </td>
                            <td class=" col-customer_name">
                                <?php echo $customer_name; ?>                      
                            </td>
                            <td class=" col-customer_email">
                                <?php echo $customer_email; ?>                 
                            </td>
                            <td class=" col-product_id">
                                <?php echo $product_name; ?>           
                            </td>
                            <td class=" col-reason">
                                <span class="grid-severity-notice"><?php echo __($text_reason); ?></span>                                
                            </td>
                            <td class=" col-resolution">
                                <span class="grid-severity-notice"><?php echo __($text_resolution); ?></span>                                
                            </td>
                            <td class=" col-status">
                                <span class="grid-severity-notice"><?php echo __($text_status); ?></span>                                
                            </td>
                            <td class=" col-create_at">
                                <?php echo $created_at; ?>
                            </td>
                            </tr>
                            <?php } ?>
                        <?php } ?>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>   
</div>

<script>
function submitForm(){
    var validated = true;
    var calendar_inputField = jQuery("#calendar_inputField");
    var calendar_inputField_To = jQuery("#calendar_inputField_To");
    if((calendar_inputField.val() != "" && calendar_inputField_To.val() =="") || (calendar_inputField.val() == "" && calendar_inputField_To.val() !="") ){
        if(calendar_inputField.val() == "") {
            calendar_inputField.next(".admin__field-error").removeClass("invisible");
            calendar_inputField_To.next(".admin__field-error").addClass("invisible");
        } else if(calendar_inputField_To.val() == "") {
            calendar_inputField.next(".admin__field-error").addClass("invisible");
            calendar_inputField_To.next(".admin__field-error").removeClass("invisible");
        }
        validated = false;
    }
    if(validated) {
        jQuery("#search-form").submit();
    }
}

	require([
		"jquery",
		"mage/calendar"
	], function ($) {
		$("#calendar_inputField").calendar({
			changeYear: true,
			changeMonth: true,
			inputDateFormat: "y-MM-dd",
			outputDateFormat: "y-MM-dd",
			yearRange: "1970:2050",
			buttonText: "Select Date",
		});
		$("#calendar_inputField_To").calendar({
			changeYear: true,
			changeMonth: true,
			inputDateFormat: "y-MM-dd",
			outputDateFormat: "y-MM-dd",
			yearRange: "1970:2050",
			buttonText: "Select Date",
		});
    });
</script>

<script>
function submitOnEnter(obj, event) {
	if (event && event.keyCode == 13) {
		fnChangePage(jQuery(obj).val());
	}
}
</script>