<?php
/** @var Libero\Customer\Block\Seller\Admin\ShipmentPdf $block */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');

$order_ids = $block->getOrderId();
$id_seller = $util->getIdSeller();
$seller_info = $util->getSellerInfo($id_seller);
$shipment = $objectManager->get("\Libero\Customer\Block\Seller\Admin\Shipment");
$logo = $objectManager->get('\Magento\Theme\Block\Html\Header\Logo');
$discount_total = 0;
$isFirst = true;
?>

<?php foreach ($order_ids as $order_id) {
	$shipment_infos = $block->getInvoiceDetail($order_id);
	$shipmentDetail = $shipment_infos[0];
	$telephone  = $shipment->getTelephone($shipmentDetail['increment_id']);
	$shipmentDetailTotal = $block->getInvoiceDetailTotalByOrderId($order_id)[0];

	/* Start Barcode */
	$dir_orderbarcode = "orderbarcode";
	$barCodeNo = $shipmentDetail['increment_id'];
	$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
	$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
	$barcode_img = $media_url.'/'.$dir_orderbarcode. '/'.$barCodeNo."_barcode.png";
	/* End Barcode*/
?>
<div class="wrap_print <?php if($isFirst) {echo "first"; $isFirst= false;} ?> shipment">
		<div class="top-info">
			<div class="left-info">
				<div class="logo"><img src="<?php echo $logo->getLogoSrc(); ?>" alt=""></div>
				<p class="phone">Hotline: <strong>028 3636 9999</strong></p>
			</div>
			<div class="right-info">
				<p><img src="<?php echo $barcode_img; ?>" alt="" class="barcode_img"></p>
			</div>
		</div>
		<div class="info-cnt">
					<p><strong><?php echo __("Order"); ?>:</strong> #<?php echo $shipmentDetail['increment_id']; ?></p>
					<p><strong><?php echo __("Customer Name"); ?>:</strong> <?php echo $shipmentDetail['shipping_name']; ?></p>
					<p><strong><?php echo __("Phone") ?>:</strong> <?php echo $telephone; ?></p>
					<p><strong><?php echo __("Address") ?>:</strong> <?php echo $shipmentDetail['billing_address']; ?></p>
					<p><strong><?php echo __("Payment Method"); ?>:</strong> <?php echo __($shipmentDetail['payment_method']); ?></p>
					<p><strong><?php echo __("Note"); ?>:</strong></p>
		</div>
		<table class="product-list">
			<tbody>
				<tr>
					<th><?php echo __("Subtotal"); ?></th>
					<td><?php echo $util->formatPrice($shipmentDetailTotal['row_total']); ?> ₫</td>
				</tr>
				<tr>
					<th><?php echo __("Shipping & Handling"); ?></th>
					<td><?php echo $util->formatPrice($shipmentDetailTotal['shipping_and_handling']); ?> ₫</td>
				</tr>
				<tr>
					<th><?php echo __("Discount Amount"); ?></th>
					<td><?php echo $util->formatPrice($discount_total) ? $util->formatPrice($discount_total) : 0 ; ?> ₫</td>
				</tr>
			</tbody>
		</table>
		<table class="total-price">
			<tbody>
				<tr>
					<th><?php echo __("Grand Total"); ?>:</th>
					<td><?php echo $util->formatPrice($shipmentDetailTotal['row_total'] - $discount_total + $shipmentDetailTotal['shipping_and_handling']); ?> ₫</td>
				</tr>
			</tbody>
		</table>
		<div><p class="content-footer"><?php echo __("Thank you for your purchase at wisi.vn"); ?></p></div>
</div>
	<?php } ?>

<!-- style for print -->
<style type="text/css" media="print">
    @page 
    {
        size: A4;   /* auto is the initial value */
        margin: 0mm 10mm 0 10mm;  /* this affects the margin in the printer settings */
    }

    html
    {
        background-color: #FFFFFF; 
        /*margin: 0px;*/  /* this affects the margin on the html before sending to printer */
    }

    body
    {
        /*margin: 10mm 15mm 10mm 15mm; *//* margin you want for the content */
    }
	.page-wrapper {width: 100%;}
</style>

<script>
setTimeout(() => {
	window.print();
}, 1000);
</script>


<style>
.ta-r {text-align: right;}

.wrap_print {height: auto;padding: 15px 15px 15px; margin:0px;width: 100%;position: relative;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;}
.wrap_print.first {padding-top: 15px;position: relative;}
.shipment .info-cnt p {padding-bottom:5px;}
.top-info {overflow: hidden;}
.top-info .left-info {float: left; width: 50%;}
.top-info .left-info .logo img {height: 50px; margin-bottom: -15px;}
.top-info .left-info .phone  {padding: 5px;}
.info-cnt {margin: 30px 0px 0px;}
.top-info .left-info .info-cnt .seller-logo {width: 21px; vertical-align: baseline;}
.top-info .right-info {float: left; width: 50%; margin-top: 10px;text-align:right;}
.top-info .right-info .barcode_img {vertical-align: text-top;}
.content-footer {text-align: right;margin-top: 30px;font-weight: bold;font-style: italic;}
.product-list {margin-top: 30px; width: 100%;}
.product-list tbody {border: 1px dotted #0000003d;}
.product-list tbody tr td,th {border: 1px dotted #0000003d;padding: 15px 10px !important;}
.product-list tbody tr td {text-align:right;}
.total-price {margin-top:30px;}
.total-price tbody tr {font-size:17px;font-weight:bold;}
.total-price tbody tr th {border:1px solid #fff;}
.total-price tbody tr td {text-align:right;padding: 15px 10px !important;}
* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    line-height: 1 !important; /*Chrome- removes extra blank page at the bottom*/
}
</style>
