<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');
$order_detail = $block->getOrderDetail();
$order = $order_detail[0];
$order_id = $order["entity_id"];
$seller_id = $order["seller_id"];
$increment_id = $order["increment_id"];
$address = $block->getAddress();
$obj_address = $address[0];
$customer_id = $order["customer_id"];
$telephone  =$block->getTelephone($increment_id);
$items = $block->getItemsInOrder();
$back_url =  $block->getUrl()."customer/admin/shipmentlisting/";
$grand_total = $order["grand_total"];
$shipping_code = $order["order_code_api"];
?>
<div class="page-wrapper">
<header class="page-header row">
    <div class="page-header-hgroup col-l-8 col-m-6">
        <div class="page-title-wrapper">
            <h1 class="page-title"><?php echo __("New Shipment") ?></h1>
        </div>
    </div>
    <?php echo $this->getChildHtml("header_seller"); ?>
</header>
<script>
function setLocation(url){
    top.location.href = url;
}
</script>
<main id="anchor-content" class="page-content">
    <?php echo $this->getChildHtml("customer_seller_admin_notice"); ?>
   <div class="page-main-actions">
      <div class="page-actions-placeholder" style=""></div>
      <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
         <div class="page-actions-inner" data-title="New Shipment">
            <div class="page-actions-buttons">
               <button id="back" title="Back" type="button" class="action-default scalable back" onclick="setLocation('<?php echo $back_url; ?>')" data-ui-id="sales-shipment-create-back-button">
                    <span><?php echo __("Back"); ?></span>
               </button>
               <button id="send_notification" title="Send Email" type="button" class="action-default scalable send-email" onclick="fnPrintPdf('<?php echo $order_id ?>');" data-ui-id="sales-invoice-view-send-notification-button">
                    <span><?php echo __("Print"); ?></span>
                </button>
               <button id="reset" title="Reset" type="button" class="action-default scalable reset" onclick="setLocation(window.location.href)" data-ui-id="sales-shipment-create-reset-button">
                    <span><?php echo __("Reset"); ?></span>
               </button>
            </div>
         </div>
      </div>
   </div>
   <div id="page:main-container" class="page-columns">
      <div class="admin__old">
         <div id="container" class="main-col">
            <form id="edit_form" method="post" action="<?php echo $block->getUrlSaveShipment(); ?>" novalidate="novalidate">
               <input type="hidden" value="<?php echo $seller_id; ?>" name="id_seller"/>
               <input type="hidden" value="<?php echo $order_id; ?>" name="order_id"/>
               <section class="admin__page-section order-view-account-information">
                  <div class="admin__page-section-title">
                     <span class="title"><?php echo __("Order &amp; Account Information"); ?></span>
                  </div>
                  <div class="admin__page-section-content">
                     <div class="admin__page-section-item order-information">
                        <div class="admin__page-section-item-title">
                           <span class="title"><?php echo __("Order #"); ?>
                           <?php echo $increment_id; ?>
                           </span>
                        </div>
                        <div class="admin__page-section-item-content">
                           <table class="admin__table-secondary order-information-table">
                              <tbody>
                                 <tr>
                                    <th><?php echo __("Order Date")?></th>
                                    <td><?php echo date('Y-m-d H:i:s',strtotime($order['created_at'])); ?></td>
                                 </tr>
                                 <tr>
                                    <th><?php echo __("Order Status")?></th>
                                    <td><span id="order_status"><?php echo __($order['status']); ?></span></td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                     <div class="admin__page-section-item order-account-information">
                        <div class="admin__page-section-item-title">
                           <span class="title"><?php echo __("Account Information"); ?></span>
                        </div>
                        <div class="admin__page-section-item-content">
                           <table class="admin__table-secondary order-account-information-table">
                              <tbody>
                                 <tr>
                                    <th><?php echo __("Customer Name"); ?></th>
                                    <td>
                                       <span><?php echo $order["customer_firstname"]; ?><?php echo $order["customer_lastname"]; ?></span>
                                    </td>
                                 </tr>
                                 <tr>
                                    <th>Email</th>
                                    <td><a href="#"><?php echo $order["customer_email"]; ?></a></td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </section>

               <section class="admin__page-section order-addresses">
                  <div class="admin__page-section-title">
                     <span class="title"><?php echo __("Address Information"); ?></span>
                  </div>
                  <div class="admin__page-section-content">
                     <div class="admin__page-section-item order-billing-address">
                        <div class="admin__page-section-item-title">
                           <span class="title"><?php echo __("Billing Address"); ?></span>
                        </div>
                        <address class="admin__page-section-item-content"><?php echo $obj_address["shipping_name"] ?><br>
                            <?php echo $obj_address["billing_address"] ?>
                            <br/>
                            <?php echo __("Phone") ?>: <?php echo $telephone; ?>
                        </address>
                     </div>
                     <div class="admin__page-section-item order-shipping-address">
                        <div class="admin__page-section-item-title">
                           <span class="title"><?php echo __("Shipping Address"); ?></span>
                        </div>
                        <address class="admin__page-section-item-content"><?php echo $obj_address["shipping_name"] ?><br>
                           <?php echo $obj_address["shipping_address"] ?><br>
                           <?php echo __("Phone") ?>: <?php echo $telephone; ?>
                        </address>
                     </div>
                  </div>
               </section>
               <div class="admin__page-section">
                  <div class="admin__page-section-title">
                     <span class="title"><?php echo __("Payment &amp; Shipping Method"); ?></span>
                  </div>
                  <div class="admin__page-section-content">
                     <div class="admin__page-section-item order-payment-method">
                        <div class="admin__page-section-item-title">
                           <span class="title"><?php echo __("Payment Information"); ?></span>
                        </div>
                        <div class="admin__page-section-item-content">
                           <div>
                              <p><?php echo __($order["payment_method"]); ?></p>
                           </div>
                        </div>
                     </div>
                     <div class="admin__page-section-item order-shipping-address">
                        <div class="admin__page-section-item-title">
                           <span class="title"><?php echo __("Shipping Information"); ?></span>
                        </div>
                        <div class="admin__page-section-item-content shipping-description-wrapper">
                           <div class="shipping-description-title"><?php echo $order["shipping_description"]; ?></div>
                           <div class="shipping-description-content">
                           <?php echo __("Total Shipping Charges"); ?>:
                              <span class="price"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($order["base_shipping_amount"],true,false); ?></span>                                            
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div id="ship_items_container">
                  <section class="admin__page-section">
                     <div class="admin__page-section-title">
                        <span class="title"><?php echo __("Items to Ship"); ?></span>
                     </div>
                     <div class="admin__table-wrapper">
                        <table class="data-table admin__table-primary order-shipment-table">
                           <thead>
                              <tr class="headings">
                                 <th class="col-product"><span><?php echo __("Product"); ?></span></th>
                                 <th class="col-ordered-qty"><span><?php echo __("Qty"); ?></span></th>
                                 <th class="col-qty last">
                                    <span><?php echo __("Qty to Ship"); ?></span>
                                 </th>
                              </tr>
                           </thead>
                           <?php $i = 0; ?>
                           <?php foreach($items as $_item){ ?>
                           <?php
                                $name_product = $_item["name"];
                                $sku = $_item["sku"];
                                $qty = $_item["qty_ordered"];
                                $classOdd = "odd";
                                if($i % 2 == 0){
                                    $classOdd = "even";
                                }
                           ?>
                           <?php 
                            if($_item['parent_item_id'] > 0 && $_item['parent_item_id'] != "0"){
                                continue;
                            }
                            $arrayProduct = array();
                            $array_options = array();
                            if($_item["product_type"]  ==  "configurable"){
                                $data_options = $_item["product_options"];
                                $value_options = unserialize($data_options);
                                $array_attribute = $value_options["attributes_info"];
                                $array_options_label_value = array();
                                foreach($array_attribute as $attribute_id => $option){
                                    $array_options_label_value["label"] = $option["label"];
                                    $array_options_label_value["value_option"] = $option["value"];
                                    $arrayProduct["options_configruable"][] = $array_options_label_value;
                                }
                                $array_options = $arrayProduct["options_configruable"];
                            }
                            ?>
                            <tbody class="<?php echo $classOdd; ?>">
                                <tr>
                                    <td class="col-product">
                                        <div id="order_item_4_title" class="product-title">
                                        <?php echo $name_product; ?>
                                        </div>
                                        <div class="product-sku-block">
                                        <span><?php echo __("SKU"); ?>:</span> <?php echo $sku; ?>
                                        <?php if(count($array_options) > 0){ ?>
                                            <dl class="item-options">
                                                <?php foreach($array_options as $_options){ ?>
                                                    <?php 
                                                    $attribute_label = $_options["label"];
                                                    $attribute_option = $_options["value_option"];
                                                    ?>
                                                    <dt><?php echo __($attribute_label); ?>:</dt>
                                                    <dd>
                                                        <?php echo __($attribute_option); ?>
                                                    </dd>
                                                <?php } ?>
                                            </dl>
                                        <?php } ?>
                                        </div>
                                    </td>
                                    <td class="col-ordered-qty">
                                        <table class="qty-table">
                                        <tbody>
                                            <tr>
                                                <td><?php echo $util->formatPriceNoCurrency($qty); ?></td>
                                            </tr>
                                        </tbody>
                                        </table>
                                    </td>
                                    <td class="col-qty last">
                                        <!--<input type="text" class="input-text admin__control-text qty-item" name="shipment[items][4]" value="<?php echo $qty; ?>">-->
                                        <?php echo $util->formatPriceNoCurrency($qty); ?>
                                    </td>
                                </tr>
                            </tbody>
                           <?php } ?>
                        </table>
                     </div>
                  </section>
                  <section class="admin__page-section">
                     <div class="admin__page-section-title">
                        <span class="title"><?php echo __("Shipment Total"); ?></span>
                     </div>
                     <div class="admin__page-section-content order-comments-history">
                        <div class="admin__page-section-item">
                           <div class="admin__page-section-item-title">
                              <span class="title"><?php echo __("Shipment Comments"); ?></span>
                           </div>
                           <div class="admin__page-section-item-content">
                              <div id="order-history_form" class="admin__field">
                                 <label class="admin__field-label" for="shipment_comment_text">
                                 <span><?php echo __("Comment Text"); ?></span></label>
                                 <div class="admin__field-control">
                                    <textarea id="shipment_comment_text" class="admin__control-textarea" name="comment_text" rows="3" cols="5"></textarea>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="admin__page-section-item order-totals order-totals-actions">
                        <div class="admin__page-section-item-title">
                           <span class="title"><?php echo __("Shipment Options"); ?></span>
                        </div>
                        <div class="admin__page-section-item-content">
                            <?php if($shipping_code == ""){ ?>
                            <?php if($grand_total > 3000000){ ?>
                            <p style="color:red"><?php echo __("Đơn hàng này có tổng trên 3.000.000 VND. Bạn có đồng ý mua gói bảo hiểm cho đơn hàng này") ?></p>
                            <input type="radio" name="agree" value="1" /> Có 
                            <input type="radio" name="agree" value="0" /> Không
                            <?php } ?>
						   <div class="order-history-comments-actions actions">
							  <button id="submit-shipment" title="Submit Shipment" type="button" class="action-default scalable save submit-button primary" onclick="submitShipment(this);" data-ui-id="order-items-submit-button">
									<span><?php echo __("Submit Shipment"); ?></span>
							  </button>
						   </div>
                            <?php } ?>
                        </div>
                     </div>
                  </section>
               </div>
            </form>
         </div>
      </div>
   </div>
</main>
</div>
<script>
 require([
	"jquery"
 ], function(jQuery){
	 jQuery("#submit-shipment").click(function(){
		jQuery("#edit_form").submit(); 
	 });
});
</script>
<script>
function fnPrintPdf(order_id){
    window.open("<?php echo $block->getUrl(); ?>customer/admin/shipmentpdf/order_id/" + order_id);
}
function submitShipment(){
    
}
</script>


