<?php
/** @var Libero\Customer\Block\Seller\ShipmentListing $block */
$orders = $block->getOrders();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');
$collection_shipments = $block->getShipments();
?>
<div class="page-wrapper">
	<header class="page-header row">
		<div class="page-header-hgroup col-l-8 col-m-6">
			<div class="page-title-wrapper">
				<h1 class="page-title"><?php echo __("Shipments") ?></h1>
			</div>
		</div>
		<?php echo $this->getChildHtml("header_seller"); ?>
    </header>
    <div id="messages-custom"></div>
    <div class="page-main-actions">
      <div class="page-actions-placeholder"></div>
      <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
         <div class="page-actions-inner" data-title="Catalog">
            <div class="page-actions-buttons">
               <div id="add_new_product" title="Add Product" class="actions-split">
                  <button id="add_new_product-button" title="Add Product" class="action-default primary add m0" onclick="fnPrintPdf();" data-ui-id="products-list-add-new-product-button">
                    <span><?php echo __("Print PDF") ?></span>
                  </button>
               </div>
            </div>
         </div>
      </div>
    </div>
	<div><input name="form_key" type="hidden" value="5V1EeJI3aCBYhTts"></div>
	<main id="anchor-content" class="page-content">
		<div id="page:main-container" class="page-columns">
			<div class="admin__old">
				<div id="container" class="main-col">
                <div class="admin__data-grid-wrap" data-role="grid-wrapper">
                    <table class="data-grid data-grid-draggable" data-role="grid">
                        <thead>
                            <tr data-bind="foreach: {data: getVisible(), as: '$col'}">
                                <th class="data-grid-multicheck-cell">
                                    <input class="admin__control-checkbox chkAll" type="checkbox" id="23">
                                    <label data-bind="attr: {for: ko.uid}" for="23"></label>
                                </th>
                                <th class="data-grid-th _sortable _draggable"> <span class="data-grid-cell-content" data-bind="text: label"><?php echo __('Shipment');?></span> </th>
                                <th class="data-grid-th _sortable _draggable _ascend"> <span class="data-grid-cell-content" data-bind="text: label"><?php echo __('Ship Date');?></span> </th>
                                <th class="data-grid-th _sortable _draggable"> <span class="data-grid-cell-content" data-bind="text: label"><?php echo __('Order Date');?></span> </th>
                                <th class="data-grid-th _sortable _draggable"> <span class="data-grid-cell-content" data-bind="text: label"><?php echo __('Ship-to Name');?></span> </th>
                                <th class="data-grid-th _sortable _draggable"> <span class="data-grid-cell-content" data-bind="text: label"><?php echo __('Total Quantity');?></span> </th>
                                <th class="data-grid-th"> <span class="data-grid-cell-content" data-bind="text: label"><?php echo __('Action'); ?></span> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php 
                            if(count($collection_shipments)<=0){ ?>
                                <tr class="data-row tc">
                                    <td colspan="10"><?php echo __("We couldn't find any records."); ?></td>
                                </tr>
                            <?php } else {
                            ?>
                            <?php foreach($collection_shipments as $_shipment){ ?>
                            <?php
                                $id_shipment = $_shipment["order_id"];
                                $id_increment = $_shipment["increment_id"];
                                $create_date = date('Y-m-d H:i:s',strtotime($_shipment['created_at']));
                                $customer_name = $_shipment["customer_name"];
                                $order_date = date('Y-m-d H:i:s',strtotime($_shipment['order_created_at']));
                                $total_qty = $_shipment["total_qty"];
                                $url_view = "customer/admin/shipment/order_id/".$id_shipment;
                            ?>
                            <tr class="data-row" data-bind="css: {'_odd-row': $index % 2}" data-repeat-index="0">
                                <td class="data-grid-checkbox-cell">
                                    <label class="data-grid-checkbox-cell-inner">
                                        <input class="admin__control-checkbox chkChild" name="order_id" type="checkbox" data-action="select-row"  id="idscheck1" value="<?php echo $id_shipment; ?>">
                                    <label data-bind="attr: {for: index + 'check' + $row()[$col.indexField]}" for="idscheck1"></label>
                                    </label>
                                </td>
                                <td><div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $id_increment; ?>-<?php echo $id_shipment; ?></div></td>
                                <td><div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $create_date; ?></div></td>
                                <td><div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $order_date; ?></div></td>
                                <td><div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $customer_name; ?></div></td>
                                <td><div class="data-grid-cell-content" data-bind="text: $col.getLabel($row())"><?php echo $util->formatPriceNoCurrency($total_qty); ?></div></td>
                                <td class="data-grid-actions-cell">
                                <a class="action-menu-item" href="<?php echo $this->getUrl($url_view); ?>"><?php echo __("View"); ?></a>
                                </td>
                            </tr>
                            <?php } 
                             } ?>
                        </tbody>
                    </table>
                    </div>
				</div>
			</div>
		</div>
	</main>
</div>


<script>
function fnPrintPdf(){
	var order_id = "";
	jQuery("input[name='order_id']").each(function(){
		if(jQuery(this).is(":checked")){
			order_id += jQuery(this).val() + ",";
		}
	});
	if(order_id.length>0){
		order_id = order_id.substr(0,order_id.length-1);
		window.open("<?php echo $block->getUrl(); ?>customer/admin/shipmentpdf/order_id/" + order_id);
	} else {
        var msg = "";
		msg += '<div class="messages">';
		msg += '	<div class="message message-error">';
		msg += '		<div id="messages-message-error"><?php echo __("Please select the shipment you want to print"); ?></div>';
		msg += '	</div>';
		msg += '</div>';
        jQuery("#messages-custom").html(msg);
	}
}
</script>

<style>
.message:before, .order-errors .admin__fieldset-wrapper .title:before { display:none; }
.message-error {padding: 10px 3rem;}
.message-error:before { display:none; }
.message:before, .order-errors .admin__fieldset-wrapper .title:before { display:none; }
</style>