<?php
/** @var Libero\Customer\Block\Adminhtml\Provider\Balance $block */

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');
$authSession = $objectManager->get("\Magento\Backend\Model\Auth\Session");
$in_charge_confirm = $authSession->getUser()->getData()["username"];
$result = $block->getRequestBalanceList();

$balances = $result['listRecords'];
$status = $result["status"];
if($status=="") {$status = "-1";}
$date_from = $result["date_from"];
$date_to = $result["date_to"];

/* paging */
$pageSize = $result["pageSize"] ? $result["pageSize"] : 0 ;
$curPage = $result["curPage"] ? $result["curPage"] : 1 ;
$lastPage = $result["lastPage"];
$total = $result["total"];
$firstNumber = $result["firstNumber"];
$lastNumber = (($firstNumber + $pageSize) > $total ) ? $total : $firstNumber + $pageSize - 1 ;
$hasNextPage = false;
$hasPrePage = false;
$maxCountShowPage = 5;
$curRecords = $curPage * $pageSize;
if($curRecords == 0) {
	$curRecords = 1;
} else if($curRecords > $total) {
	$curRecords = $total;
}

if($curPage-3 > 0) { $hasPrePage = true; }
if($curPage < $lastPage){ $hasNextPage = true; }
/* paging:End */

$pending_status_code = "0";
$pending_status = "Pending";
?>
<script>
require(['jquery'],function($){
    $(function(){
        var pageSize = <?php echo $pageSize; ?>;
        if(pageSize > 0 ) {
            $("#pageSizeSelect option[value='"+ pageSize +"']").attr("selected","selected");
        }

        var status = "<?php echo $status; ?>";
        if(status != "-1" ) {
            $("#statusSelect option[value='"+ status +"']").attr("selected","selected");
        }
        
    });

    function fnChangePage(page){
        $("#page").val(page);
        $("#search-form").submit();
    }

    function fnChangeStatus(status){
        $("#status").val(status);
        $("#search-form").submit();
    }

    function fnPageSize(size){
        $("#pageSize").val(size);
        var curPage = <?php echo $curPage; ?>;
        var lastPage = <?php echo $lastPage; ?>;
        var total = <?php echo $total; ?>;
        var new_last_page = Math.floor(total / size);
        if((total % size) > 0) {
            new_last_page++;
        }
        if(curPage > new_last_page){
            $("#page").val(new_last_page);
        }
        $("#search-form").submit();
    }
});
</script>
<script type="text/javascript">
    require([
        'jquery',
        'Magento_Ui/js/modal/modal',
        'Magento_Ui/js/modal/alert'
    ], function ($,modal) {
        $(document).ready(function(){
            /**
             * Name : Nam
             * Date : 23/11/2018
             * Comments : send request balance payment
             * Filename : 
             * Param : balance_id
            */
            function getBalanceInfo(id_seller){
                $.ajax({
                    url: "<?php echo $block->getBaseUrl(); ?>test/balance/provider-info?id_seller=" + id_seller,
                    method: "get",
                    success: function (data) {
                        let result = JSON.parse(data);
                        $("#store_name").html(result.store_name);
                        $("#bank_name").html(result.bank_name);
                        $("#bank_account").html(result.bank_account);
                        $("#bank_account_name").html(result.bank_account_name);
                    }
                });
            }

            /**
             * Name : Nam
             * Date : 23/11/2018
             * Comments : confirm paid
             * Filename : 
             * Param : balance_id
            */
            $(".paid-btn").click(function(){
                let balance_id = $("#balance_id_val").val();
                $('body') .loader({ icon: $('#loading_mask_loader img').attr('src') }) .loader('show');

                
                let inCharge = "<?php echo $in_charge_confirm; ?>";
                $.ajax({
                    url: `<?php echo $block->getBaseUrl(); ?>test/balance/balance-paid.php`,
                    data: {"id":balance_id, "inCharge":inCharge},
                    method: "post",
                    success: function (data) {
                        alert(result.msg);
                        top.location.reload();
                    }
                });
            });

            /**
             * Name : Nam
             * Date : 23/11/2018
             * Comments : cancel request
             * Filename : 
             * Param : balance_id
            */
            $(".cancel-btn").click(function(){
                let balance_id = $("#balance_id_val").val();
                $('body') .loader({ icon: $('#loading_mask_loader img').attr('src') }) .loader('show');
                let cancel_reason = $("#cancel_reason").val();
                let inCharge = "<?php echo $in_charge_confirm; ?>";
                $.ajax({
                    url: "<?php echo $block->getBaseUrl(); ?>test/balance/balance-cancel.php",
                    method: "POST",
                    data: {"id":balance_id, "cancel_reason":cancel_reason, "inCharge":inCharge},
                    success: function (data) {
                        $('body').loader('hide');
                        let result = JSON.parse(data);
                        if (result.success == true) {
                            alert(result.msg);
                            top.location.reload();
                        } else {
                            alert("<?php echo __('Cancel Failed') ?>");
                        }
                        
                        
                    }
                });
            });


            /**
            * Name : Nam
            * Date : 23/11/2018
            * Comments : show balance info
            * Filename : 
            * Param : balance_id
            */
            $(".view-request").click(function(){
                let complete_date = $(this).attr("data-complete-date");
                let status = $(this).attr("data-status");
                let request_at = $(this).attr("data-request-at") || "<?php echo 'Not Requested' ?>";
                let real_receive = $(this).attr("data-real-receive");
                let group_base_subtotal = $(this).attr("data-group-base-subtotal");
                let group_total = $(this).attr("data-group-total");
                let commision = $(this).attr("data-commision");
                let group_base_tax_amount = $(this).attr("data-group-base-tax-amount");
                let group_base_shipping_amount = $(this).attr("data-group-base-shipping-amount");
                let provider_id = $(this).attr("data-provider-id");
                let balance_id = $(this).attr("data-balance-id");

                $("#balance_id_val").val(balance_id);
                $("#complete_date_val").val(complete_date);
                $("#status_val").val(status);
                $("#request_at_val").val(request_at);
                $("#real_receive_val").val(real_receive);
                $("#group_base_subtotal_val").val(group_base_subtotal);
                $("#group_total_val").val(group_total);
                $("#commision_val").val(commision);
                $("#group_base_tax_amount_val").val(group_base_tax_amount);
                $("#group_base_shipping_amount_val").val(group_base_shipping_amount);

                $("#provider_id_val").val(provider_id);
                
                $("#complete_date").html("");
                $("#request_at").html("");
                $("#real_receive").html("");
                $("#group_base_subtotal").html("");
                $("#group_total").html("");
                $("#commision").html("");
                $("#group_base_tax_amount").html("");
                $("#group_base_shipping_amount").html("");



                $("#bank_name").html("");
                $("#store_name").html("");
                $("#bank_account").html("");
                $("#bank_account_name").html("");

                getBalanceInfo(provider_id);
                var options = {
                    type: 'popup',
                    responsive: true,
                    innerScroll: true,
                    //title: '<?php echo __("Account Information") ?>',
                    buttons: [
                        /* {
                            text: $.mage.__('Close'),
                            class: 'action-secondary',
                            click: function () {
                                $("#popup-modal-view-request").modal('closeModal');
                            }
                        },
                        {
                            text: $.mage.__('Paid'),
                            class: 'action-primary',
                            click: function () {
                                $('body')
                                    .loader({
                                        icon: $('#loading_mask_loader img').attr('src')
                                    })
                                    .loader('show');
                                
                                $.ajax({
                                    url: "<?php echo $block->getBaseUrl(); ?>test/balance/balance-paid?balance_id=" + balance_id,
                                    method: "get",
                                    success: function (data) {
                                        $('body').loader('hide');
                                        top.location.reload();
                                    }
                                });
                            }
                        } */
                    ]
                };

                if (status == "3") {
                    $("#wrap_cancel").hide();
                    $("#wrap_paid").addClass("w-full");
                } else {
                    $("#wrap_cancel").show();
                    $("#wrap_paid").removeClass("w-full");
                }
                
                $("#popup-modal-view-request").modal(options).modal('openModal');
                $("#complete_date").html(complete_date);
                $("#request_at").html(request_at);
                $("#real_receive").html(real_receive);
                $("#group_base_subtotal").html(group_base_subtotal);
                $("#group_total").html(group_total);
                $("#commision").html(commision);
                $("#group_base_tax_amount").html(group_base_tax_amount);
                $("#group_base_shipping_amount").html(group_base_shipping_amount);
            });
        });
        
    });
</script>

<!-- <div class="admin__data-grid-header-row">
    <div class="admin__data-grid-filters-wrap _show">
        <form action="<?php echo $block->getUrlSearchOrder();  ?>" method="get" id="search-form">
            <fieldset class="admin__fieldset admin__data-grid-filters">
                <div class="admin__form-field">
                    <label class="admin__form-field-label pl0" for="SUJCBSP">
                    <span><strong><?php echo __("ID"); ?></strong></span>
                    </label>
                    <div class="admin__form-field-control">
                        <input class="admin__control-text w100p" type="text" name="id" placeholder="" aria-describedby="notice-SUJCBSP23" id="SUJCBS123P" value="<?php echo $result['id']; ?>">
                    </div>
                </div>

                <div class="admin__form-field">
                    <label class="admin__form-field-label pl0" for="SUJCBSP">
                    <span><strong><?php echo __("Provider ID"); ?></strong></span>
                    </label>
                    <div class="admin__form-field-control">
                        <input class="admin__control-text w100p" type="text" name="provider_id" placeholder="" aria-describedby="notice-SUJCBSP" id="SUJCBSP" value="<?php echo $result['id']; ?>">
                    </div>
                </div>
                
                <div class="admin__form-field">
                    <div class="col-lg-6 col-md-6 col-xs-5">
                        <label class="admin__form-field-label pl0">
                            <span><strong><?php echo __("From Date") ?></strong></span>
                        </label>
                        <div class="admin__form-field-control">
                            <input type="text" class="input-text required-entry hasDatepicker w100p" id="calendar_inputField" name="date_from" value="<?php echo $result['date_from']; ?>" />
                            <label class="admin__field-error invisible" for="FJ8SO3X"><?php echo __("Please input this field."); ?></label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-5 col-xs-offset-1">
                        <label class="admin__form-field-label pl0">
                            <span><strong><?php echo __("To Date") ?></strong></span>
                        </label>
                        <div class="admin__form-field-control">
                            <input type="text" class="input-text required-entry hasDatepicker w100p" id="calendar_inputField_To" name="date_to" value="<?php echo $result['date_to']; ?>"/>
                            <label class="admin__field-error invisible" for="FJ8SO3X"><?php echo __("Please input this field."); ?></label>
                        </div>
                    </div>
                </div>
                <div class="admin__form-field">
                    <label class="admin__form-field-label pl0" for="L4352A9">
                        <span><strong><?php echo __("Payment Status"); ?></strong></span>
                    </label>
                    <div class="admin__form-field-control">
                        <input type="hidden" id="status" name="status" value="<?php echo $status; ?>" />
                        <select class="admin__control-select" id="statusSelect" onchange="fnChangeStatus(jQuery(this).val());">
                            <option value="-1"><?php echo __("Please select"); ?></option>
                            <option value="0"><?php echo __("Pending"); ?></option>
                            <option value="1"><?php echo __("Requested"); ?></option>
                            <option value="2"><?php echo __("Paid"); ?></option>
                            <option value="3"><?php echo __("Reject"); ?></option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <div class="admin__data-grid-filters-footer">
                <div class="admin__footer-main-actions">
                    <button class="action-secondary" type="button" onclick="submitForm();">
                        <span><?php echo __("Search"); ?></span>
                    </button>
                </div>
                
                <div class="admin__data-grid-pager-wrap row col-lg-12 col-md-12 col-xs-12">
                    <div class="col-lg-2 col-md-2 col-xs-2 tl">
                        <?php echo __("Total"); ?> : <?php echo $firstNumber; ?> / <?php echo $total; ?>
                    </div>
                    <div class="paging-list col-lg-9 col-md-9 col-xs-9 tr fr">
                        <input type="hidden" id="page" name="page" value="<?php echo $curPage; ?>" />
                        <div class="moveToPageField"> <label style="margin: 10px 0; "><?php echo __("Page"); ?> : <input type="text" onkeydown="submitOnEnter(this, event);" /></label><button type="submit" class="action-secondary">Move</button> </div>
                        <?php echo __("Page");?> : 
                        <ul class="items pages-items" aria-labelledby="paging-label">
                            <?php
                                
                                if(($curPage-2) > 1) { ?>
                                    <li class="item">
                                        <button type="button" class="page first first-btn" onclick="fnChangePage('1');">
                                        <span><i class="fas fa-step-backward"></i></span>
                                        </button>
                                    </li>
                                    <li class="item pages-item-prev">
                                        <button type="button" class="action  prev" onclick="fnChangePage('<?php echo $curPage-1; ?>');" title="Tiếp theo">
                                        <span><i class="fas fa-caret-left"></i></span>
                                        </button>
                                    </li>
                                    <li class="item">...</li>
                                <?php } else if($hasPrePage) {?>
                                    <li class="item pages-item-prev">
                                        <button type="button" class="action  prev" onclick="fnChangePage('<?php echo $curPage-1; ?>');" title="Tiếp theo">
                                        <span><i class="fas fa-caret-left"></i></span>
                                        </button>
                                    </li>
                                <?php }

                                $page = $curPage-2;
                                if($page < 1) { $page = 1; }
                                $showedLast = false;
                                for ( $page; $page < $lastPage+1; $page++){
                                    if($maxCountShowPage > 0) {
                                        if($page == $curPage){ ?>
                                            <li class="item current">
                                                <strong class="page">
                                                <span><?php echo $page; ?></span>
                                                </strong>
                                            </li>
                                        <?php } else {?>
                                            <li class="item">
                                                <button type="button" onclick="fnChangePage('<?php echo $page; ?>');" class="page">
                                                <span><?php echo $page; ?></span>
                                                </button>
                                            </li>
                                        <?php }
                                        $maxCountShowPage--;
                                        if($page == $lastPage) {
                                            $showedLast = true;
                                        }
                                    } else { ?>
                                        <?php break;
                                    }
                                }
                            ?>

                            <?php if($curPage+2 < $lastPage) {
                                    if(!$showedLast){?>
                                        <li class="item">...</li>
                                    <?php }?>
                                <li class="item pages-item-next">
                                    <button type="button" class="action  next" onclick="fnChangePage('<?php echo $curPage+1; ?>');" title="Tiếp theo">
                                    <span><i class="fas fa-caret-right"></i></span>
                                    </button>
                                </li>
                                <?php if(!$showedLast){?>
                                    <li class="item">
                                        <button type="button" class="page last last-btn" onclick="fnChangePage('<?php echo $lastPage; ?>');">
                                        <span><i class="fas fa-step-forward"></i></span>
                                        </button>
                                    </li>
                                <?php }
                            } else if($hasNextPage){?>
                                <li class="item pages-item-next">
                                    <button type="button" class="action  next" onclick="fnChangePage('<?php echo $curPage+1; ?>');" title="Tiếp theo">
                                    <span><i class="fas fa-caret-right"></i></span>
                                    </button>
                                </li> 
                            <?php } ?>
                        </ul>
                        <div class="d-ib ml30">
                            <label class="label" for="limiter">
                                <span><?php echo __("Show"); ?></span>
                                <input type="hidden" id="pageSize" name="pageSize" value="<?php echo $pageSize; ?>" />
                                <select id="pageSizeSelect" class="admin__control-select wa" onchange="fnPageSize(jQuery(this).val());">
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </label>
                            <span class="limiter-text"><?php echo __("per page"); ?></span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> -->
<div id="page:main-container" class="page-columns">
    <div class="admin__old">
        <div id="container" class="main-col">
            <div class="admin__data-grid-header admin__data-grid-toolbar">
                <div class="_massaction admin__data-grid-header-row">
                    <div class="admin__grid-massaction">
                        <div class="admin__grid-massaction-form">
                            <button title="Request Pay Order" class="action-default secondary add m0" onclick="requestPayOrder();" data-ui-id="products-list-add-new-product-button">
                                <span><?php echo __("Request Pay Order") ?></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="admin__data-grid-outer-wrap">
                <div class="admin__data-grid-wrap" data-role="grid-wrapper">
                    <table class="data-grid data-grid-draggable" data-role="grid">
                        <thead>
                            <tr>
                                <th class="data-grid-multicheck-cell">
                                    <input class="admin__control-checkbox chkAll" type="checkbox" id="23">
                                    <label for="23"></label>
                                </th>
                                <th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("No."); ?></span> </th>
                                <th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content">ID</span> </th>
                                <th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Provider ID"); ?></span> </th>
                                <th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Provider"); ?></span> </th>
                                <th class="data-grid-th _sortable _draggable _ascend"><span class="data-grid-cell-content"><?php echo __("Complete Date"); ?></span> </th>
                                <th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Estimate Payday"); ?></span> </th>
                                <th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Request Date"); ?></span> </th>
                                <th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Reply Date"); ?></span> </th>
                                <th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Shipping Fee"); ?></span> </th>
                                <th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Order Value (Excluding VAT)"); ?></span> </th>
                                <th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("VAT"); ?></span> </th>
                                <th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Order Value (Purchased)"); ?></span> </th>
                                <th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Commission"); ?></span> </th>
                                <th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Real Receive"); ?></span> </th>
                                <th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Payment Status"); ?></span> </th>
                                <th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Cancel Reason"); ?></span> </th>
                                <th class="data-grid-th"><span class="data-grid-cell-content"><?php echo __("Detail"); ?></span> </th>
                                <th class="data-grid-th"><span class="data-grid-cell-content"><?php echo __("Action"); ?></span> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php 
                            if(count($balances)<=0){ ?>
                                <tr class="data-row" style="text-align: center;">
                                    <td colspan="19"><?php echo __("We couldn't find any records."); ?></td>
                                </tr>
                            <?php } else {
                                $countLoop = 0;
                                date_default_timezone_set("Asia/Bangkok");
                                $curDateTime = date("Y-m-d H:i:s");

                                foreach($balances as $_balance) {
                                    //var_dump($_balance);die;
                                    if($countLoop % 2 == 0) { ?>
                                        <tr class="data-row">
                                    <?php } else { ?>
                                        <tr class="data-row _odd-row">
                                    <?php } ?>
                                
                                    <td class="data-grid-checkbox-cell">
                                        <label class="data-grid-checkbox-cell-inner">
                                            <input class="admin__control-checkbox chkChild" name="id" type="checkbox" data-action="select-row"  id="" value="<?php echo $_balance['id']; ?>">
                                            <label for=""></label>
                                        </label>
                                    </td>
                                    <td><?php echo $firstNumber + $countLoop; ?></td>
                                    <td><?php echo $_balance['id']; ?></td>
                                    <td><?php echo $_balance['provider_id']; ?></td>
                                    <td><?php echo $_balance['provider_name']; ?></td>
                                    <td><?php echo date('Y-m-d',strtotime($_balance['complete_date'])); ?></td>
                                    <td><?php echo date('Y-m-d',strtotime($_balance['estimate_pay_at'])); ?></td>
                                    <td><?php if ($_balance['request_at']) {echo date('Y-m-d H:i:s',strtotime($_balance['request_at']));} ?></td>
                                    <td><?php if ($_balance['reply_request_date']) {echo date('Y-m-d H:i:s',strtotime($_balance['reply_request_date']));} ?></td>
                                    <td><?php echo $util->formatPrice($_balance['group_base_shipping_amount']); ?></td>
                                    <td><?php echo $util->formatPrice($_balance['group_base_subtotal']); ?></td>
                                    <td><?php echo $util->formatPrice($_balance['group_base_tax_amount']); ?></td>
                                    <td><?php echo $util->formatPrice($_balance['group_total']); ?></td>
                                    <td><?php echo $util->formatPrice($_balance['commision']); ?></td>
                                    <td><?php echo $util->formatPrice($_balance['real_receive']); ?></td>
                                    <td>
                                        <input type="hidden" id="status_<?php echo $_balance['id']; ?>" value="<?php echo $_balance['status']; ?>" />
                                        <?php switch ($_balance['status']) {
                                            case "0": ?>
                                                <?php echo __("Pending");
                                                break;
                                            case "1":
                                                echo __("Requested");
                                                break;
                                            case "2": 
                                                echo __("Paid");
                                                break;
                                            case "3": 
                                                echo "<span class='base-color'>" . __("Reject") . "</span>";
                                                break;
                                            default: break;
                                        }?>
                                    </td>
                                    <td><?php echo $_balance['cancel_pay_balance_reason']; ?></td>
                                    <td><button type="button" class="action-secondary view-balance" data-balance-id="<?php echo $_balance['id']; ?>"><?php echo __("Detail"); ?></button></td>
                                    <td>
                                        <button type="button" class="action-secondary view-request" 
                                        data-balance-id="<?php echo $_balance["id"]; ?>" 
                                        data-provider-id="<?php echo $_balance["provider_id"]; ?>" 
                                        data-status="<?php echo $_balance['status']; ?>" 
                                        data-complete-date = "<?php echo $_balance["complete_date"]; ?>" 
                                        data-request-at = "<?php echo $_balance["request_at"]; ?>" 
                                        data-real-receive = "<?php echo $util->formatPrice($_balance["real_receive"]); ?>" 
                                        data-group-base-subtotal= "<?php echo $util->formatPrice($_balance["group_base_subtotal"]); ?>" 
                                        data-group-total= "<?php echo $util->formatPrice($_balance["group_total"]); ?>" 
                                        data-commision= "<?php echo $util->formatPrice($_balance["commision"]); ?>" 
                                        data-group-base-tax-amount= "<?php echo $util->formatPrice($_balance["group_base_tax_amount"]); ?>" 
                                        data-group-base-shipping-amount= "<?php echo $util->formatPrice($_balance["group_base_shipping_amount"]); ?>" >
                                        <?php echo __("Action"); ?></button>
                                    </td>
                                </tr>
                            <?php $countLoop++; } 
                            }
                            ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

function submitForm(){
    var validated = true;
    var calendar_inputField = jQuery("#calendar_inputField");
    var calendar_inputField_To = jQuery("#calendar_inputField_To");
    if((calendar_inputField.val() != "" && calendar_inputField_To.val() =="") || (calendar_inputField.val() == "" && calendar_inputField_To.val() !="") ){
        if(calendar_inputField.val() == "") {
            calendar_inputField.next(".admin__field-error").removeClass("invisible");
            calendar_inputField_To.next(".admin__field-error").addClass("invisible");
        } else if(calendar_inputField_To.val() == "") {
            calendar_inputField.next(".admin__field-error").addClass("invisible");
            calendar_inputField_To.next(".admin__field-error").removeClass("invisible");
        }
        validated = false;
    }
    if(validated) {
        jQuery("#search-form").submit();
    }
}

</script>

<script>
	require([
		"jquery",
		"mage/calendar"
	], function ($) {
		$("#calendar_inputField").calendar({
			changeYear: true,
			changeMonth: true,
			inputDateFormat: "y-MM-dd",
			outputDateFormat: "y-MM-dd",
			yearRange: "1970:2050",
			buttonText: "Select Date",
		});
		$("#calendar_inputField_To").calendar({
			changeYear: true,
			changeMonth: true,
			inputDateFormat: "y-MM-dd",
			outputDateFormat: "y-MM-dd",
			yearRange: "1970:2050",
			buttonText: "Select Date",
		});
	});
</script>


<style>
.message:before, .order-errors .admin__fieldset-wrapper .title:before { display:none; }
.message-error {padding: 10px 3rem;}
.message-error:before { display:none; }
.message:before, .order-errors .admin__fieldset-wrapper .title:before { display:none; }
table {text-align: left;}
table td {padding: 5px 0 5px 20px;}
</style>

<script>
function submitOnEnter(obj, event) {
	if (event && event.keyCode == 13) {
		fnChangePage(jQuery(obj).val());
	}
}
</script>



<!-- handle balance popup -->
<style>
#popup-modal-view-request .wrap-block-content:nth-child(1) {border-right: 1px solid; padding-right: 20px;}
#popup-modal-view-request .wrap-block-content:nth-child(2) {padding-left: 20px;}
#popup-modal-view-request .block-content button {float: right; margin: 15px 0;}
.w-full {width: 100% !important;}
.base-color { color: #f36525 !important; }
</style>

<div id="popup-modal-view-request" style="display: none">
    <input type="hidden" id="balance_id_val" />
    <input type="hidden" id="complete_date_val" />
    <input type="hidden" id="request_at_val" />
    <input type="hidden" id="real_receive_val" />
    <input type="hidden" id="provider_id_val" />
    <input type="hidden" id="status_val" />
    <input type="hidden" id="group_base_subtotal_val" />
    <input type="hidden" id="group_total_val" />
    <input type="hidden" id="commision_val" />
    <input type="hidden" id="group_base_tax_amount_val" />
    <input type="hidden" id="group_base_shipping_amount_val" />

    <div class="block block-dashboard-orders row">
        <div id="wrap_cancel" class="col-lg-6 col-md-6 col-xs-6 wrap-block-content">
            <h1><?php echo __("Cancel Reason"); ?></h1>
            <div class="block-content">
                <div class="table-wrapper orders-recent" >
                    <textarea id="cancel_reason" style="width: 100%; height: 344px;"></textarea>
                </div>
                <button class="action-secondary cancel-btn" data-order-id="" type="button" data-role="action"><span><?php echo __("Cancel"); ?></span></button>
            </div>
        </div>
        <div id="wrap_paid" class="col-lg-6 col-md-6 col-xs-6 wrap-block-content">
            <h1><?php echo __("Transfer Information"); ?></h1>
            <div class="block-content">
                <table style="height:174px;">
                    <colgroup>
                        <col width="40%"/>
                        <col width="60%"/>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th><?php echo __("Completed at"); ?>:</th>
                            <td id="complete_date" class="bold"></td>
                        </tr>
                        <tr>
                            <th><?php echo __("Requested at"); ?>:</th>
                            <td id="request_at"></td>
                        </tr>
                        <tr>
                            <th><?php echo __("Provider name"); ?>:</th>
                            <td id="store_name" class="bold"></td>
                        </tr>
                        <tr>
                            <th><?php echo __("Bank name"); ?>:</th>
                            <td id="bank_name" class="bold"></td>
                        </tr>
                        <tr>
                            <th><?php echo __("Account number"); ?>:</th>
                            <td id="bank_account" class="bold"></td>
                        </tr>
                        <tr>
                            <th><?php echo __("Account name"); ?>:</th>
                            <td id="bank_account_name" class="bold"></td>
                        </tr>
                        <tr>
                            <th><?php echo __("Shipping Fee"); ?>:</th>
                            <td id="group_base_shipping_amount"></td>
                        </tr>
                        <tr>
                            <th><?php echo __("Order Value (Excluding VAT)"); ?>:</th>
                            <td id="group_base_subtotal"></td>
                        </tr>
                        <tr>
                            <th><?php echo __("VAT"); ?>:</th>
                            <td id="group_base_tax_amount" class="bold"></td>
                        </tr>
                        <tr>
                            <th><?php echo __("Order Value (Purchased)"); ?>:</th>
                            <td id="group_total"></td>
                        </tr>
                        <tr>
                            <th><?php echo __("Commission"); ?>:</th>
                            <td id="commision"></td>
                        </tr>
                        <tr>
                            <th><?php echo __("Amount transfer"); ?>:</th>
                            <td id="real_receive" class="base-color" style="font-size: 20px; font-weight: bold;"></td>
                        </tr>
                    </tbody>
                </table>
                <button class="action-primary paid-btn" type="button" data-role="action"><span><?php echo __("Paid"); ?></span></button>
            </div>
        </div>
    </div>
</div>
<!-- handle balance popup: END -->



<!-- view balance detail popup -->
<script type="text/javascript">
    require([
        'jquery',
        'Magento_Ui/js/modal/modal',
        'Magento_Ui/js/modal/alert'
    ], function ($,modal) {
        function numberFormat(value) {
			return value.toString().replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ".") ;
        };
        
        $(document).ready(function(){
            /**
            * Name : Nam
            * Date : 23/11/2018
            * Comments : show reason
            * Filename : 
            * Param : balanceId
            */
            $(".view-balance").click(function(){
				$("#balance-list").html("");
				let balanceId = $(this).attr("data-balance-id");

				let ajaxUrl = "<?php echo $block->getBaseUrl(); ?>test/balance/balance-detail.php";
				$.ajax({
					url: ajaxUrl,
					method: "POST",
					data: {balanceId},
					success: function(response) {
						let res = JSON.parse(response);
						let html = "";
						if (res.success) {
							let orders = res.data;
							let ordersLength = orders.length;
							for (let i = 0; i < ordersLength; i ++) {
								let order = orders[i];
								if (i % 2 == 0) {
									html += `<tr class="data-row">`;
								} else {
									html += `<tr class="data-row _odd-row">`;
								}
								html += `
									<td>${i}</td>
									<td>${order.increment_id}</td>
									<td>${order.created_at}</td>
									<td>${order.billing_name}</td>
									<td>${order.shipping_name}</td>
									<td>${numberFormat(Math.round(order.base_shipping_amount))}</td>
									<td>${numberFormat(Math.round(order.base_subtotal))}</td>
									<td>${numberFormat(Math.round(order.base_tax_amount))}</td>
									<td>${numberFormat(Math.round(order.grand_total))}</td>
									<td>${order.shipping_description}</td>
									<td>${order.payment_method}</td>
									<td>${order.status_parent}</td>
                                    <td><a href="<?php echo $block->getUrl(); ?>admin/manager/provider/detail/id/${order.order_id}"><?php echo __("View"); ?></a></td>
								</tr>`;
							}
						}
						$("#balance-list").html(html);
					},
					error: function(err) {
						console.log(err);
					}
				})

                var options = {
                    type: 'popup',
                    responsive: true,
                    innerScroll: true,
                    title: '<?php echo __("Balance Detail") ?>',
                    buttons: [
                        {
                            text: $.mage.__('Close'),
                            class: 'action-primary',
                            click: function () {
                                $("#popup-modal-view-balance").modal('closeModal');
                            }
                        }
                    ]
                };
                
                $("#popup-modal-view-balance").modal(options).modal('openModal');
                
            });
        });
        
    });
</script>


<div id="popup-modal-view-balance" style="display: none">
    <div class="block block-dashboard-orders row">
		<div class="block-content">
			<table class="data-grid data-grid-draggable">
				<thead>
					<tr data-bind-comment="foreach: {data: getVisible(), as: '$col'}">
						<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("No."); ?></span> </th>
						<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content">ID</span> </th>
						<th class="data-grid-th _sortable _draggable _ascend"><span class="data-grid-cell-content"><?php echo __("Order Date"); ?></span> </th>
						<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Bill-to Name"); ?></span> </th>
						<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Ship-to Name"); ?></span> </th>
						<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Shipping Fee"); ?></span> </th>
						<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Order Value (Excluding VAT)"); ?></span> </th>
						<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("VAT"); ?></span> </th>
						<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Order Value (Purchased)"); ?></span> </th>
						<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Shipment Method"); ?></span> </th>
						<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Payment Method"); ?></span> </th>
						<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Status"); ?></span> </th>
						<th class="data-grid-th _sortable _draggable"><span class="data-grid-cell-content"><?php echo __("Action"); ?></span> </th>
					</tr>
				</thead>
				<tbody id="balance-list">					
				</tbody>
			</table>
        </div>
    </div>
</div>
<!-- view balance detail popup: END -->


<style>
.bold {font-weight: bold;}
</style>