<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="block discount" id="block-discount" data-mage-init='{"collapsible":{"openedState": "active", "saveState": false}}'>
    <div class="discount-title">
        <div class="title" data-role="title">
            <strong id="block-discount-heading" role="heading" aria-level="2"><?php /* @escapeNotVerified */ echo __('Apply Discount Code') ?></strong>
        </div>
        <button type="button" onclick="fnShowPopup('my-coupon-pop');"><?php /* @escapeNotVerified */ echo __('My coupon') ?></button>
    </div>
    <div class="content" data-role="content" aria-labelledby="block-discount-heading">
        <form id="discount-coupon-form"
              action="<?php /* @escapeNotVerified */ echo $block->getUrl('checkout/cart/couponPost') ?>"
              method="post"
              data-mage-init='{"discountCode":{"couponCodeSelector": "#coupon_code",
                                               "removeCouponSelector": "#remove-coupon",
                                               "applyButton": "button.action.apply",
                                               "cancelButton": "button.action.cancel"}}'>
            <div class="fieldset coupon<?php strlen($block->getCouponCode()) ? ' applied' : ''?>">
                <input type="hidden" name="remove" id="remove-coupon" value="0" />
                <div class="field">
                    <label for="coupon_code" class="label"><span><?php /* @escapeNotVerified */ echo __('Enter discount code') ?></span></label>
                    <div class="control">
                        <input type="text" class="input-text" id="coupon_code" name="coupon_code" value="<?php echo $block->escapeHtml($block->getCouponCode()) ?>" placeholder="<?php echo $block->escapeHtml(__('Enter discount code'));?>" />
                    </div>
                </div>
                <div class="actions-toolbar">
                    <?php if (!strlen($block->getCouponCode())): ?>
                    <div class="primary">
                        <button class="action apply primary" type="button" value="<?php /* @escapeNotVerified */ echo __('Apply Discount') ?>">
                            <span><?php /* @escapeNotVerified */ echo __('Apply Discount') ?></span>
                        </button>
                    </div>
                    <?php else: ?>
                        <div class="primary">
                            <button  type="button" class="action cancel primary" value="<?php /* @escapeNotVerified */ echo __('Cancel Coupon') ?>"><span><?php /* @escapeNotVerified */ echo __('Cancel Coupon') ?></span></button>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="my-coupon-pop" class="layer-popup">
    <div class="popup">
        <div class="popup-title">
            <p class="title"><?php /* @escapeNotVerified */ echo __('COUPONS') ?></p>
            <button type="button" class="close-popup" onclick="fnClosePopup();"><i class="ico16 ico-close"></i></button>
        </div>
        <div class="popup-cnt">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 pr35">
                    <div class="list-coupons">
                        <div class="coupon-title">
                            <p><?php /* @escapeNotVerified */ echo __('Your coupon code') ?></p>
                        </div>
                        <div class="coupon-cnt">
                            <ul class="coupons coupons-style1">
                                <li>
                                    <div class="coupon">
                                        A-Market Mỹ phẩm<br/>
                                        Tất cả các loại<br/>
                                        Phiếu giảm giá 10%<br/>
                                        2017.11.23~28
                                    </div>
                                </li>
                                <li>
                                    <div class="coupon">
                                        A-Market Mỹ phẩm<br/>
                                        Tất cả các loại<br/>
                                        Phiếu giảm giá 10%<br/>
                                        2017.11.23~28
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="list-coupons">
                        <div class="coupon-title">
                            <p><?php /* @escapeNotVerified */ echo __('Your coupon code') ?></p>
                        </div>
                        <div class="coupon-cnt">
                            <ul class="coupons coupons-style2">
                                <li>
                                    <div class="coupon">
                                        A-Market Mỹ phẩm<br/>
                                        Tất cả các loại<br/>
                                        Phiếu giảm giá 10%<br/>
                                        2017.11.23~28
                                    </div>
                                </li>
                                <li>
                                    <div class="coupon">
                                        A-Market Mỹ phẩm<br/>
                                        Tất cả các loại<br/>
                                        Phiếu giảm giá 10%<br/>
                                        2017.11.23~28
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="list-coupons">
                        <div class="coupon-title">
                            <p><?php /* @escapeNotVerified */ echo __('Your coupon code') ?></p>
                        </div>
                        <div class="coupon-cnt">
                            <ul class="coupons coupons-style3">
                                <li>
                                    <div class="coupon">
                                        A-Market Mỹ phẩm<br/>
                                        Tất cả các loại<br/>
                                        Phiếu giảm giá 10%<br/>
                                        2017.11.23~28
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="apply-coupon">
                        <div class="price-after-coupon">
                            <p class="price-title"><?php /* @escapeNotVerified */ echo __('Price reduced') ?>: <span>1.200.000</span></p>
                            <p class="price-title"><?php /* @escapeNotVerified */ echo __('Payment amount') ?>: <span class="final-price">1.080.000</span></p>
                        </div>
                        <div class="use-coupon-btn">
                            <button type="button">><?php /* @escapeNotVerified */ echo __('Use') ?></button>
                            <button type="button" class="base-color-btn">><?php /* @escapeNotVerified */ echo __('Remove') ?></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


