input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
textarea::-moz-placeholder{
  color: #333;
}

.page-main{
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    position: static;
  }
}


#at-expanded-menu-host .at-expanded-menu-round .at-expanded-menu-button-label{
  display:none!important;
}

#at-expanded-menu-host .at-expanded-menu-ft{
  margin: 0 35px!important;
}

#at-expanded-menu-host .at-expanded-menu-load{
  color: #000!important;
}

#at-expanded-menu-host .at-expanded-menu-service-list li{
  margin-bottom: 40px!important;
}

#at-expanded-menu-host .at-expanded-menu .at-icon-wrapper,
#at-expanded-menu-host .at-expanded-menu-service-list button{
  width: 84px!important;
  height: 84px!important;
}

#at-expanded-menu-host .at-expanded-menu-close{
  padding:0!important;
}

#at-expanded-menu-host .at-expanded-menu-close span{
  color: #000;
}

.comparison.headings.data.table{
  display: none;
}


.switcher-dropdown{
  display:none;
}

.swatch-option.text{
  height: auto;
}

.dropdown.options.switcher-options.active .mage-dropdown-dialog{
  .switcher-dropdown{
    display:block;
  }
}

.minicart-wrapper .block-minicart:before,
.minicart-wrapper .block-minicart:after {
  display: none;
}

.modals-overlay{
  z-index: 1000000 !important;
}

.modal-popup {
  z-index: 10000000 !important;
}

.loading-mask{
  z-index: 99;
}

.clear-block{
  clear: both!important;
  float: none!important;
}

address {
  margin-bottom: 0;
}

label,
.label {
  font-weight: 500 !important;
  font-size: 100% !important;
  padding: 0 !important;
  margin: 0;
  text-align: left;
}

.direction_rtl{
  label, .label{
    text-align: right;
  }
}

.opc-wrapper .fieldset > .field.required > label:after,
.opc-wrapper .fieldset > .field._required > label:after{
  top: 0!important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul,
ol {
  > li {
    margin-bottom: 0;
  }
}

a:focus, a:hover {
  text-decoration: none;
  outline: none;
}

h1 {
  font-size: 2.6666em;
  line-height: 1.25em; /*32px, 40px*/
}

h2 {
  font-size: 2em;
  line-height: 1.25em; /*24px, 30px*/
}

h3 {
  font-size: 1.6666em;
  line-height: 1.2em; /*20px, 24px*/
}

h4 {
  font-size: 1.3333em;
  line-height: 1.25em; /*16px, 20px*/
}

h5 {
  font-size: 1.1666em;
  line-height: 1.1428em; /*14px, 16px*/
}

h6 {
  font-size: 1em;
  line-height: 1.1666em; /*12px, 14px*/
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="email"] {
  height: 35px;
  font-size: 100%;
  border: 1px solid #adadad;
  line-height: 1.66;
  background-color: #fff;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

textarea {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

// CSS LOADING

.cssload-square {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -23px;
  margin-left: -23px;
  width: 35px;
  height: 35px;
  transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.cssload-square-part {
  position: absolute;
  width: 35px;
  height: 35px;
  z-index: 1;
  animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
  -o-animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
  -ms-animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
  -webkit-animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
  -moz-animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}

.cssload-square-green {
  background: rgb(244,161,55);
  right: 0;
  bottom: 0;
  animation-direction: alternate-reverse;
  -o-animation-direction: alternate-reverse;
  -ms-animation-direction: alternate-reverse;
  -webkit-animation-direction: alternate-reverse;
  -moz-animation-direction: alternate-reverse;
}

.cssload-square-pink {
  background: rgb(231,76,60);
  left: 0;
  top: 0;
}

.cssload-square-blend {
  background: rgb(117,81,125);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  animation: blend-anim 0.92s ease-in infinite;
  -o-animation: blend-anim 0.92s ease-in infinite;
  -ms-animation: blend-anim 0.92s ease-in infinite;
  -webkit-animation: blend-anim 0.92s ease-in infinite;
  -moz-animation: blend-anim 0.92s ease-in infinite;
}





@keyframes blend-anim {
  0% {
    transform: scale(0.01, 0.01) rotateY(0);
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  50% {
    transform: scale(1, 1) rotateY(0);
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  100% {
    transform: scale(0.01, 0.01) rotateY(0);
  }
}

@-o-keyframes blend-anim {
  0% {
    -o-transform: scale(0.01, 0.01) rotateY(0);
    -o-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  50% {
    -o-transform: scale(1, 1) rotateY(0);
    -o-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  100% {
    -o-transform: scale(0.01, 0.01) rotateY(0);
  }
}

@-ms-keyframes blend-anim {
  0% {
    -ms-transform: scale(0.01, 0.01) rotateY(0);
    -ms-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  50% {
    -ms-transform: scale(1, 1) rotateY(0);
    -ms-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  100% {
    -ms-transform: scale(0.01, 0.01) rotateY(0);
  }
}

@-webkit-keyframes blend-anim {
  0% {
    -webkit-transform: scale(0.01, 0.01) rotateY(0);
    -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  50% {
    -webkit-transform: scale(1, 1) rotateY(0);
    -webkit-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  100% {
    -webkit-transform: scale(0.01, 0.01) rotateY(0);
  }
}

@-moz-keyframes blend-anim {
  0% {
    -moz-transform: scale(0.01, 0.01) rotateY(0);
    -moz-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  50% {
    -moz-transform: scale(1, 1) rotateY(0);
    -moz-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  100% {
    -moz-transform: scale(0.01, 0.01) rotateY(0);
  }
}

@keyframes cssload-part-anim {
  0% {
    transform: translate3d(-18px, -18px, 0);
  }
  100% {
    transform: translate3d(18px, 18px, 0);
  }
}

@-o-keyframes cssload-part-anim {
  0% {
    -o-transform: translate3d(-18px, -18px, 0);
  }
  100% {
    -o-transform: translate3d(18px, 18px, 0);
  }
}

@-ms-keyframes cssload-part-anim {
  0% {
    -ms-transform: translate3d(-18px, -18px, 0);
  }
  100% {
    -ms-transform: translate3d(18px, 18px, 0);
  }
}

@-webkit-keyframes cssload-part-anim {
  0% {
    -webkit-transform: translate3d(-18px, -18px, 0);
  }
  100% {
    -webkit-transform: translate3d(18px, 18px, 0);
  }
}

@-moz-keyframes cssload-part-anim {
  0% {
    -moz-transform: translate3d(-18px, -18px, 0);
  }
  100% {
    -moz-transform: translate3d(18px, 18px, 0);
  }
}
// END CSS LOADING


#yt-totop{
  position: fixed;
  top: 470px;
  right:17px;
  background-color: #666666;
  border:4px solid #ddd;
  color: #dddddd;
  display: inline-block;
  line-height: 44px;
  text-align: center;
  width: 48px;
  height: 48px;
  z-index: 30;
  border-radius: 50%;
  -webkit-border-radius: 50%;

  &:hover{
    background-color: #444;
  }

  &:before{
    .font-awesome(f062,20px);
  }
}

.direction_rtl #yt-totop{
  left: 17px;
  right: auto;
}

.showcart .loading-mask .loader > img{
  width: auto;
}




.gallery-image {
  display: none;
}

#btn-gallery{
  display: block;
  bottom: 10px;
  height: 34px;
  text-align: center;
  line-height: 39px;
  position: absolute;
  right: 10px;
  width: 34px;
  background-color: #8f8f8f;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #fff;
  z-index: 10005;

  &:before{
    .font-awesome(f0b2,20px);
  }
}



//Button

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button {
  -webkit-border-fit: lines;
}

.menu-ontop {
  position: fixed;
  z-index: 888;
}

.social-detail {
  clear: both;

  .share-title {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    margin-right: 10px;
    font-weight: 600;
    font-size: 133.33%;
    color: #000;
  }

  .addthis_sharing_toolbox {
    display: inline-block;
    vertical-align: middle;
  }
}

.modals-wrapper .modal-popup .modal-inner-wrap{
  width: 50%;
}

/* <- Safari & Google Chrome Fix */
button,
button:focus,
.cart-container .action.continue,
a.action.primary,
.modal-footer .action-primary.action-accept{
  border:none!important;
  overflow: visible;
  display: inline-block;
  background: #444;
  width: auto;
  margin: 0;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  white-space: nowrap;
  font-size: 100% !important;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  padding: 0 20px;
  color: #fff !important;
  text-decoration: none !important;
}

.fotorama__arr--disabled{
  opacity: 0!important;
}

.fotorama__nav.fotorama__shadows--left:before,
.fotorama__nav.fotorama__shadows--right:after {
  display: none !important;
}

select {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  padding-right: 26px;
  padding-left: 5px;
  background: url(../images/bg-selectbox.png) no-repeat right center #fff;
}

select.white-select {
  background: url(../images/bg-selectbox-w.png) no-repeat right center #fff;
}

.direction_rtl{
  select{
    background-position: left center;
    padding-left: 26px;
    padding-right: 5px;
  }
}

.page-title {
  margin-bottom: 30px;
}

.category-description{
  margin-bottom: 40px;
}

mark, .mark {
  background-color: transparent;
}

.empty {
  padding-top: 10px;
}

.pager {
  margin: 0;
}

.account.page-layout-2columns-left .column.main {
  width: 100% !important;
}

.modal-footer{
  border:none;
}

.table > thead > tr > td.info, .table > tbody > tr > td.info, .table > tfoot > tr > td.info, .table > thead > tr > th.info, .table > tbody > tr > th.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > tbody > tr.info > td, .table > tfoot > tr.info > td, .table > thead > tr.info > th, .table > tbody > tr.info > th, .table > tfoot > tr.info > th{
  background: transparent;
}

// TABLE

.table > thead > tr > th {
  text-transform: uppercase;
}

.radio, .checkbox {
  display: inline;
  position: relative;
  top: 3px;
  margin-top: 0 !important;
  outline: none!important;
  box-shadow: none!important;
  -webkit-box-shadow: none!important;
}

.full-wrapper {
  margin-left: -1000px;
  margin-right: -1000px;
  clear: both;
}

.page-header {
  padding-bottom: 0;
  border: none;
}

.modal-header{
  border-bottom: none;
}

.modal-popup .action-close{
  border: none!important;
}

.page-main {
  padding: 30px 0;
  min-height: 500px;
}

.block, .block-banners, .block-banners-inline{
  margin-bottom: 30px;
}

.cms-index-index{
  .page-main{
    padding: 0;
  }
}

.fieldset > .field:not(.choice) > .label {
  width: auto!important;
  text-align: left!important;
  margin-bottom: 10px;
  display: table;
  float: none!important;
}

.fieldset > .field:not(.choice) > .control{
  float: none!important;
  width: auto!important;
}

.page-main .fieldset > .field.choice:before,
.page-main .fieldset > .field.no-label:before {
  width: auto;
  padding: 0;
}

.page-main .fieldset > .field:not(.choice) > .control {
  width: 100%;
}

.page-main .abs-margin-for-forms-desktop,
.page-main .fieldset .legend,
.page-main .column:not(.sidebar-main) form .actions-toolbar,
.page-main .column:not(.sidebar-additional) form .actions-toolbar,
.page-main .login-container .fieldset:after {
  margin-left: 0;
}

.page-main .form.password.reset,
.page-main .form.send.confirmation,
.page-main .form.password.forget,
.page-main .form.create.account {
  width: 100%;
}

/*DROPDOWN MINI CART*/

.block-minicart{
  background: #f2f2f2!important;
  padding:15px 15px 0!important;
  border:none!important;
  width: 100%!important;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4)!important;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4)!important;
  left: auto!important;
  right: auto!important;

  .subtitle.empty{
    padding: 25px 0 40px;
  }

  li{
    border: none!important;
    padding:10px 0!important;
  }

  .product-item-photo{
    border: 1px solid #ddd;
    width: 62px;

    img{
      width: 100%!important;
      height: auto!important;
    }
  }

  #btn-minicart-close{
    display: none!important;
  }

  .items-total{
    float: none;
    display: none;
  }

  .header-minicart{
    background: #666;
    margin: -16px -16px 0;
    color: #fff;
    padding:8px 20px;
    font-size: 116.67%;

    .text-right{
      float: right;
    }
  }

  .minicart-items-wrapper{
    margin:0 -15px;
    padding:15px;
    border:none;
    height: auto!important;

    .minicart-items{
      height: auto!important;
      max-height: 250px;
      overflow-y: auto;
    }
  }

  .subtotal{
    margin:0 -15px;
    background-color: #fff;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-transform: uppercase;
    color: #444;
    text-align: left;
    padding:13px 25px 10px;

    .label{
      font-weight: 700!important;
      font-size: 133.33%;
      color: #444;
    }

    .price-container{
      float: right;
      margin-top: -4px;

      .price-wrapper:first-child .price{
        font-size:133.33%;
      }
    }
  }

  .block-content > .actions{
    background-color: #fff;
    margin: 0 -15px;
    text-align: left;
    padding:10px 15px;

    a{
      cursor: pointer;
      display: inline-block;
      height: 34px;
      padding:0 20px;
      text-transform: uppercase;
      background-color: #666666;
      font-size: 116.67%;
      color: #fff;
      font-weight: 700;
      margin-right: 10px;
      line-height: 34px;

      &:hover{
        background-color: #333;
      }
    }
  }

  .minicart-widgets{
    margin:0;
  }

  .minicart-items .product-item-details{
    padding-left: 75px;
    position: relative;
    margin-top: -5px;

    .product-item-name{
      display: block;
      padding-right: 75px;
      font-weight: 700;

      a{
        color: #444;
      }
    }

    .price-container{
      position: absolute;
      top:5px;
      right:0;

      .price-excluding-tax{
        font-size: 100%;
      }

      .price{
        font-weight: 700;
        background-color: #666666;
        border-radius: 3px;
        color: #fff;
        -webkit-border-radius: 3px;
        padding:5px 10px;
      }
    }

    .product-item-pricing .label{
      width: auto;
    }

    .product.actions{
      .action.delete:after{
        .font-awesome(f057,19px);
        position: absolute;
        top: 54px;
        left: 52px;
      }

      .action.delete:before{
        display: none;
      }

      .action.edit{
        display: none;
      }
    }
  }
}

.direction_rtl{
  .block-minicart{
    .header-minicart .text-right{
      float: left;
    }

    .product-item-photo{
      float: right!important;
    }

    .minicart-items .product-item-details{
      padding-right: 75px;
      padding-left: 0;

      .product-item-name{
        padding-left: 75px;
        padding-right: 0;
      }

      .price-container{
        left: 0;
        right: auto;
      }

      .product.actions .action.delete:after{
        right: 52px;
        left: auto;
      }
    }

    .subtotal{
      text-align: right;

      .price-container{
        float: left;
      }
    }

    .block-content > .actions{
      text-align: right;
    }
  }
}

/*DROPDOWN MEGAMENU*/
.fix-width-60{
  width: 60%!important;
}

.fix-width-40{
  width: 40%!important;
}

.product-megamenu{
  padding-left: 15px;

  .products-grid .item{
    &:last-child{
      .item-inner{
        margin-bottom: 0;
      }
    }

    .item-inner{
      border:none;

      .box-info{
        padding:10px 0 0;
      }

      &:hover{
        box-shadow: none;
        -webkit-box-shadow: none;
      }
    }
  }
}

.right-image-menu{
  margin: -26px -16px -26px 0;
  text-align: right;
  float:right;
}

.border-right{
  border-right: 1px solid #ddd;
}

.margin-bottom{
  margin-bottom: 20px;
}

.remove-padding{
  padding:0!important;
}

.sm_megamenu_title{
  .title-cat{
    font-size: 116.67%;
    font-weight: 700;
    color: #444;
    padding-bottom: 10px;
  }

  > a > span{
    display: inline-block;
    padding: 3px 0;
  }
}

/*END DROPDOWN MEGAMENU*/


.modal-content {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  .border_radius(0);
}

.authentication-dropdown {
  .action-close {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 20px;
  }
}

.opc-wrapper .form-login,
.opc-wrapper .form-shipping-address {
  max-width: none;
}

.products.wrapper.products-grid {
  .item {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.hot-label{
  background: #f00;
  padding:1px 5px!important;
  text-transform: uppercase;
  color: #fff;
  font-size: 11px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  margin:0 10px;
  position: relative;

  &:before{
    border-bottom: 5px solid transparent;
    border-right: 6px solid #f00;
    border-top: 5px solid transparent;
    content: "";
    height: 0;
    left: -5px;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    width: 0;
  }
}

.direction_rtl{
  .products.wrapper.products-grid .item{
    float: right;
  }

  .swatch-option{
    float: right;
    margin: 0 0 5px 10px!important;
  }

  .hot-label{
    float: left;

    &:before{
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      left: auto;
      right: -5px;
    }
  }
}

.col3-layout{
  .toolbar-top{
    .pages{
      display: none;
    }
  }

  .toolbar-bottom{
    .limiter,
    .toolbar-sorter{
      display: none;
    }
  }
}




// Price Box

.price-box {
  .price {
    color: #010101;
    font-size: 16px;
    font-weight: bold;
  }

  .special-price,
  .old-price {
    display: inline-block;

    .price-label {
      display: none;
    }
  }

  .special-price {
    margin-right: 10px;


    .price{
      color: #010101;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .old-price {
    .price {
      font-size: 14px;
      color: #717171;
      text-decoration: line-through;
    }
  }

  .price-from,
  .price-to {
    display: inline-block;
    margin: 0;
  }
}

.direction_rtl .price-box .special-price{
  margin-left: 10px;
  margin-right: 0;
}

div[class^="swatch-opt-"] {
  display: table;
}

.counter {
  &:after {
    content: ")";
  }

  &:before {
    content: "(";
  }
}

// Rating
.product-reviews-summary {
  margin: 0;
  display: inline-table;

  .rating-summary {
    display: inline-table;
    left: auto;
    padding-right: 10px;
  }

  .reviews-actions {
    position: relative;
    top: 0;

    a{
      display: inline-block;
      color: #f36525;
      &:hover {
        color: #484848;
      }
    }

    .view {
      span {
        &:last-child:after {
          content: "|";
          margin-left: 10px;
        }
      }
    }
  }
}

.direction_rtl .product-reviews-summary .reviews-actions .view span:last-child:after{
  margin-right: 10px;
  margin-left: 0;
}

.direction_rtl .product-reviews-summary .rating-summary{
  padding-left: 10px;
  padding-right: 0;
}

.info-box-detail  .fieldset .control.control-qty-cart{
  width: 70px!important;
  margin-top: 5px;
  //float: left!important;
}

.control-qty {
  position: relative;
  margin-left: -1px;
  float: left;

  .quantity-controls {
    display: block;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: url(../images/plus-minus.png) no-repeat #444444;

    &.quantity-plus {
      background-position: 2px 2px;
    }

    &.quantity-minus {
      background-position: 2px -47px;
    }
  }
}

.direction_rtl{
  .control-qty{
    float: right;
    margin-right: -1px;
    margin-left: 0;
  }

  .review-ratings{
    float: right;
  }

  .review-ratings ~ .review-content,
  .review-ratings ~ .review-details{
    margin-right: 280px;
    margin-left: 0;
  }
}

.rating-summary {
  .rating-result {
    width: 74px;
    height: 12px;
    margin: 0;
    background: url(../images/rating_icon.png) repeat-x bottom left;

    &:before {
      display: none;
    }

    > span {
      display: inline-block;
      height: 12px;
      position: relative;
      vertical-align: top;
      background: url(../images/rating_icon.png) repeat-x left 0px;

      &:before {
        display: none;
      }
    }
  }
}

.page-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  .transition(.3s);
}

.page-header {
  margin: 0;
}

.page-title {
  font-size: 160%;
  color: #444;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;

  &:before{
    content: "";
    width: 70px;
    height: 3px;
    display: inline-block;
    position: absolute;
    bottom: -8px;
    left:0;
  }
}


.direction_rtl{
  .page-title:before{
    right: 0;
    left: auto;
  }
}


// SLIDER CONTROL

.owl-controls {
  .owl-nav {
    div {
      display: inline-block;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      color: #fff;
      background-color: #444;
      //text-indent: -9999px;
      overflow: hidden;
      position: relative;
      margin-left: 6px;

      &:before {
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        text-indent: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background: #ebebeb;
        border: 1px solid #e1e1e1;
      }

      &.owl-next {
        &:before {
          .font-awesome(f105, 16px);
          line-height: 30px;
        }
      }

      &.owl-prev {
        &:before {
          .font-awesome(f104, 16px);
          line-height: 30px;
        }
      }

      &:hover{
        &:before{
          opacity: 1;
        }
      }
    }
  }
}

//LIMITER

.toolbar {
  .pager {
    .limiter {
      strong,
      select,
      span {
        display: inline-block;
        vertical-align: middle;
        width: auto;
      }
    }
  }

  &.review-toolbar {
    border: none;
    .pager {
      margin: 0;

      .limiter {
        float: left;
      }
    }
  }
}

legend {
  border: none;
  .border_radius(0);
}

.review-legend {
  border-bottom: 1px solid #ddd;
}

.review-field-ratings .review-field-rating .label {
  line-height: 33px;

  &:after {
    content: ": ";
  }
}

.column:not(.sidebar-main) form .actions-toolbar,
.column:not(.sidebar-additional) form .actions-toolbar {
  margin: 0 !important;
}

// REVIEW

.review-title {
  text-transform: uppercase;
}

.review-form {
  max-width: none;
}

.fieldset .review-legend.legend {
  padding-bottom: 10px;
}

.review-add .fieldset > .field:not(.choice) > .label {
  width: 100%;
  float: none;
  text-align: left;
}

.review-add .fieldset > .field:not(.choice) > .control {
  float: none;
  width: 100%;
}

.fieldset > .field, .fieldset > .fields > .field{
  margin: 0 0 20px !important;
}

.dropdown {
  .mage-dropdown-dialog {
    position: absolute;
    top: 100%;
    left: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 11px;
    z-index: 10009;
    min-width: 155px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.product.options.list dt{
  display: inline;
}
.product.options.list dd{
  display: inline;
  margin-right: 5px;
}

.swatch-option-tooltip .corner, .swatch-option-tooltip-layered .corner {
  bottom: -2px !important;
}

// TAB

.product.data.items > .item.title {
  height: 50px;
  border: 1px solid #e1e1e1;
  margin-right: -1px !important;
  line-height: 50px;
  padding: 0 33px;
  text-transform: uppercase;

  &.active {
    a {
      color: #fff !important;
    }
  }

  a {
    background: none !important;
    line-height: 50px !important;
    color: #000 !important;
    font-weight: 600;
  }
}

.product.data.items > .item.content {
  margin-top: 49px !important;
  border: 1px solid #e1e1e1 !important;
  padding: 30px !important;
}

.product.data.items > .item.title > .switch {
  display: block;
  border: none !important;
  margin: 0;
  padding: 0 !important;
}

// BREADCRUMBS

.breadcrumbs {
  padding: 30px 0 0;
  margin-bottom: 0;

  .items {
    .item {
      height:25px;
      line-height: 22px;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      position: relative;
      padding: 0 8px 0 18px;

      a{
        display: block;
        text-decoration: none;
      }

      strong {
        font-weight: 500;
      }

      &:before,
      &:after{
        border-right: 1px solid #ddd;
        border-top: 1px solid #ddd;
        content: "";
        display: inline-block;
        height: 17px;
        position: absolute;
        top: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        width: 17px;
      }

      &:after {
        right: -8px;
      }

      &:before {
        left: -8px;
      }

      &:first-child{
        padding-left: 10px;
        border-left: 1px solid #ddd;

        &:before{
          display: none;
        }
      }

      &:last-child {
        border-color: #ddd!important;
        color: #444;

        &:before,
        &:after{
          border-color: #ddd!important;
        }
      }
    }
  }
}

.direction_rtl{
  .breadcrumbs .items .item{
    padding: 0 18px 0 8px;

    &:before,
    &:after{
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
    }

    &:first-child{
      border-right: 1px solid #ddd;
      border-left: none;

      &:after{
        left: -8px;
        right: auto;
      }
    }
  }
}

// ACCOUNT PAGE

.account.page-layout-2columns-left .sidebar-main,
.account.page-layout-2columns-left .sidebar-additional {
  width: 100% !important;
}



.slider-brand .item a img,
.blog-wrapper .blog-image a img,
.banner-megamenu a img,
.image-sidebar a img,
.minicart-items-wrapper .product .product-image-wrapper img{
  //.transition(.2s);

  &:hover{
    opacity: 0.8;
  }
}

.products-grid .item .item-inner .box-image:hover a img{
  opacity: 0.8;
}

.thumb-vertical{
  .fotorama__stage{
    border:none;

    .fotorama__stage__shaft{
      border: 1px solid #ddd;
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0)  {
  .fotorama__stage__frame .fotorama__img{
    -webkit-transform: inherit !important;
  }
  .fotorama__stage__frame .fotorama__img{
    left: 0 !important;
    top: 0 !important;
  }
}

//@media screen and (orientation:portrait) and (orientation:landscape)  {
//@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
//  .fotorama__stage__frame .fotorama__img,
//  .image-box-detail .fotorama__wrap .fotorama__grab{
//    -webkit-transform: inherit !important;
//  }
//  .fotorama__stage__frame .fotorama__img{
//    left: 0 !important;
//    top: 0 !important;
//  }
//}

//@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
//  .fotorama__stage__frame .fotorama__img,
//  .image-box-detail .fotorama__wrap .fotorama__grab{
//    -webkit-transform: inherit !important;
//  }
//  .fotorama__stage__frame .fotorama__img{
//    left: 0 !important;
//    top: 0 !important;
//  }
//}
//
//@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
//  .fotorama__stage__frame .fotorama__img,
//  .image-box-detail .fotorama__wrap .fotorama__grab{
//    -webkit-transform: inherit !important;
//  }
//  .fotorama__stage__frame .fotorama__img{
//    left: 0 !important;
//    top: 0 !important;
//  }
//}

// RESPONSIVE

@media (min-width: 1200px) {
  .container{
    padding-left: 0!important;
    padding-right: 0!important;
  }

  .layout-boxed .page-wrapper{
    background-color: #fff;
    max-width: 1200px;
    margin:0 auto;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
  }

  .navbar-active .page-wrapper{
    left: auto!important;
    right: auto!important;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  .layout-boxed .page-wrapper{
    background-color: #fff;
    max-width: 970px;
    margin:0 auto;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
  }

  .navbar-active .page-wrapper{
    left: auto!important;
    right: auto!important;
  }

  .col3-layout{
    .toolbar-top{
      .pages,
      .toolbar-sorter{
        display: none;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .layout-boxed .page-wrapper{
    background-color: #fff;
    max-width: 750px;
    margin:0 auto;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
  }
}

@media (max-width: 767px) {
  .cart.table-wrapper .item .col.item{
    min-height: 90px;
  }

  .full-wrapper {
    margin-left: -15px;
    margin-right: -15px;
  }

  .form-wishlist-items .products-grid.wishlist .product-items li.product-item{
    width: 50%!important;
  }

  .products-grid.wishlist .product-item-name,
  .products-grid.wishlist .product-item-description,
  .products-grid.wishlist .product-item .price-box,
  .products-grid.wishlist .product-item-tooltip{
    margin-left: 0!important;
  }

  .products-grid.wishlist .product-item-photo{
    float: none!important;
    margin-right:0!important;
  }

  .breadcrumbs .items .item{
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .modals-wrapper .modal-popup .modal-inner-wrap{
    width: 90%;
  }

  .cartpro-modal .cpmodal-wrapper .content-cpcart{
    max-height: 200px!important;
  }




}

@media (max-width: 640px) {
  .cartpro-modal .cpmodal-wrapper .content-cpcart{
    max-height: 130px!important;
  }
}

@media (max-width: 480px) {
  .form-wishlist-items .products-grid.wishlist .product-items li.product-item{
    width: 100%;
  }

}
