.page-footer .footer .footer-wrapper .footer-top .footer-menu .footer-menu-content.contact-footer {
    background: url("../images/bg-contact-footer.png") no-repeat;
    height: 117px;
}

.page-footer .footer .footer-wrapper .footer-top .footer-menu .footer-menu-content.contact-footer ul {
    padding: 15px;
}

.page-footer .footer .footer-wrapper .footer-top .footer-menu .footer-menu-content.contact-footer ul li {
    margin-bottom: 8px;
}

.page-footer .footer .footer-wrapper .footer-top .footer-menu .footer-menu-content.contact-footer ul li a {
    font-weight: bold;
    margin-left: 7px;
}


.block-subscribe-home .form.subscribe button.subscribe {
    background-image: url(../images/icon/icon-next-arrow.png) !important;
    background-position: 12px center !important;
}