.nav-header ul {
    line-height: 50px;
}

.nav-header ul li {
    float: left;
    position: relative;
}

.nav-header ul li a {
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
}

.nav-header ul li:first-child a {
    padding-left: 0;
}

.header-style-1 .header-middle .middle-right-content .searchbox-header .sm-searchbox-content {
    position: unset;
}

.header-style-1 .header-middle .middle-right-content .searchbox-header .sm-searchbox-content .searchbox .searchbox-cat {
    background-color: transparent !important;
    border-color: transparent;
    font-size: 15px;
    width: 165px;
    height: 42px !important;
}

.header-style-1 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .control #searchbox {
    padding: 17px 19px !important;
    height: 42px !important;
}

.header-style-1 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .actions .btn-searchbox {
    height: 34px !important;
    padding: 0 11px !important;
    width: auto;
    top: 4px;
    right: 19px;
    margin: 0;
    border-radius: 2px;
    text-transform: none;
}

.header-style-1 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .actions .btn-searchbox span {
    display: inline-block !important;
}

.search_autocomplete_custom {background: transparent;}

/* cart */
.header-style-1 .header-middle .middle-right-content .minicart-header .minicart-content .cart-wrapper .minicart-wrapper .showcart .counter {
    position: absolute;
    left: 16px;
    top: -14px;
}

.header-style-1 .header-middle .middle-right-content .minicart-header .minicart-content .cart-wrapper .minicart-wrapper .showcart .counter .counter-label {
    background: #fe7f00 !important;
    color: #fff;
    position: relative;
    top: -10px;
    font-size: 14px;
}

.header-style-1 .header-middle .minicart-header .minicart-wrapper .showcart:hover {
    color: #fff;
}

.header-style-1 .header-middle .middle-right-content .minicart-header {
    position: relative;
    padding-left: 0 !important;
    margin-top: 12px;
}

.header-style-1 .header-middle .middle-right-content .minicart-header .action.showcart {
    width: 30px;
}


/* wishlist */
.header-style-1 .header-middle .wishlist-header {
    position: relative;
    margin-top: 5px !important;
}

.header-style-1 .header-middle .wishlist-header .wishlist-content .wish-list-header .wish-list-wrapper a .counter-label {
    background: #fe7f00 !important;
    color: #fff;
    top: -10px;
    position: relative;
}

.header-style-1 .header-middle .wishlist-header .wishlist-content .wish-list-header .wish-list-wrapper .show-wishlist {
    width: 30px;
    display: block;
}

.header-style-1 .header-middle .wishlist-header .wishlist-content .wish-list-header .wish-list-wrapper .show-wishlist .counter-label {
    position: absolute;
    top: -10px;
    left: 17px;
    color: #fff;
}




/*************** mega menu ***************/
.megamenu-header {
    position: absolute;
    z-index: 10;
}

.megamenu-header .menu-ver-content {
    position: relative;
    width: 250px;
}

#show-cate-btn {
    display: inline-block;
    height: 42px;
    line-height: 42px;
    background: url(../images/icon/icon-category.png) left top 15px no-repeat;
    color: #fff;
    padding-left: 27px;
    padding-bottom: 18px;
    box-sizing: unset;
    cursor: pointer;
}

#show-cate-btn:before {
    content: "";
    background: url("../images/bg-selectbox-2-w.png") right center no-repeat;
}

#libe-menu-ver {
    z-index: 110;
    display: none;
    //top: 83px;
    top: 133px;
    position: fixed;
    //padding-top: 10px;
    background: #f9f9f9;
}

.cms-index-index #libe-menu-ver {
    top: 133px;
    position: absolute;
}

.header-style-1 .header-middle .logo-header .logo-wrapper .logo-content strong a img {
    width: 120px;
}

#libe-menu-ver.fixed {
    position: fixed;
}

.username-btn .action.switch {
    position: relative;
}

.cms-index-index .header-middle #libe-menu-ver {
    margin-top: 25px;
    //display: block !important;
}

#scrolled_logo {
    width: 40px;
    display: none;
}

#show-cate-btn .cate_text {
    display: none;
}

/* header scrolled down */
/* .header-middle.scrolled-down #wrap_logo_header {
    display: none;
} */

.header-middle.scrolled-down #libe-menu-ver {
    margin-top: 0 !important;
}

.header-middle.scrolled-down #scrolled_logo {
    display: inline-block;
}

.header-middle.scrolled-down #show-cate-btn {
    margin-left: 12px;
}

.header-middle.scrolled-down #show-cate-btn .cate_full_text {
    display: none;
}

.header-middle.scrolled-down #show-cate-btn .cate_text {
    display: inline-block;
}

/* header scrolled down: END */





.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu {border: 0 !important;}

.megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li {
    position: unset;
}

.megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li .sm_megamenu_head:before {
    display: none
}

.header-middle-right {
    position: unset;
}

.megamenu-header .sm_megamenu_wrapper_vertical_menu .sambar-inner {
    padding-top: 6px;
}

.megamenu-header .sm_megamenu_wrapper_vertical_menu .sambar-inner:before {
    display: none !important;
}

.megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li a.sm_megamenu_head .sm_megamenu_title {
    color: @text-color-dark;
}

.megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_dropdown_1column, .megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_dropdown_2columns, .megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_dropdown_3columns, .megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_dropdown_4columns, .megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_dropdown_5columns, .megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_dropdown_6columns, .megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_dropdown_fullwidth {
    background: url("../images/bg-mega-menu.png") no-repeat !important;
}

.megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_lv1 .sm-megamenu-child {
    padding-right: 30px;
}

.megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_lv1 .sm-megamenu-child .sm_megamenu_background {
    float: left;
    width: 70%;
}

.megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_lv1 .sm-megamenu-child .sm_megamenu_background > div:nth-child(n+4) {
    margin-top: 10px;
}

.megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_lv1 .sm-megamenu-child .category-banner-image {
    float: left;
    width: 30%;
    text-align: right;
}

.megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_lv1 .sm-megamenu-child .category-banner-image img {
    max-height: 316px;
}


.megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_1column, .megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_2columns, .megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_3columns, .megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_4columns, .megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_5columns, .megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_6columns, .megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li.other-toggle.open .sm_megamenu_dropdown_1column, .megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li.other-toggle.open .sm_megamenu_dropdown_2columns, .megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li.other-toggle.open.sm_megamenu_dropdown_3columns, .megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li.other-toggle.open .sm_megamenu_dropdown_4columns, .megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li.other-toggle.open.sm_megamenu_dropdown_5columns, .megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li.other-toggle.open .sm_megamenu_dropdown_6columns {
    top: 0px;
}

.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li a.sm_megamenu_head {padding: 10px 12px 10px 20px !important;}

.megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_lv1>div>div .sm_megamenu_title .sm_megamenu_nodrop:hover {color: @light-color !important;}
.megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_lv1 .sm-megamenu-child .sub_mega_title .sm_megamenu_head_item>.sm_megamenu_title>.sm_megamenu_nodrop span {font-weight: bold; font-size: 100%; text-transform: none; line-height: 1.66;}
.megamenu-header .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_lv1 .sm-megamenu-child .sub_mega_title .sm_megamenu_head_item>.sm_megamenu_title .sm_megamenu_nodrop.title-cat {display: none;}


/*************** breakcrum ***************/
.breadcrumbs {
    background: transparent;
}

.breadcrumbs .items .item strong {
    color: #54707e;
}

.breadcrumbs .items .item a {
    font-weight: bold;
}

.breadcrumbs .items .item a:hover {
    color: #444444;
}




/*************** Order Protection ***************/
.popup-cus.order-protection { background: #f5f5f5 !important; line-height: 22px;}
.popup-cus.order-protection .basic-form { width: 285px; }
.popup-cus.order-protection .title {font-weight: bold; margin-bottom: 25px; font-size: 15px;}
.popup-cus.order-protection .basic-form button {background: @light-color; border-radius: 4px; width: 120px; height: 42px; font-weight: bold; font-size: 15px !important; text-transform: unset;}


/*************** Logini popup ***************/
#social-login-popup { padding: 35px 27px; border-radius: 4px; max-width: unset; width: 750px; background: url("../images/bg-between-register.png") #fff center top 18px no-repeat;}
#social-login-popup .block-title { color: #54707e; font-size: 21px; border-bottom: 0 !important; }
#social-login-popup .block-title:before { display:none; }
#social-login-popup .block.social-login-customer-authentication { padding: 0 40px 0 15px !important; background: transparent;}
#social-login-popup .block.social-register-customer { padding: 0 15px 0 40px !important; background: transparent;}
#social-login-popup .social-login-customer-authentication .block-content .basic-form input { background: #e8eef7; border-radius: 3px; color: #3b3737; font-weight: bold; font-size: 13px; padding: 10px 15px 10px 15px; }
#social-login-popup .social-login-customer-authentication .block-content .basic-form .action.login { height: 44px; width: 100%; border-radius: 3px; background-color: @light-color !important; }
#social-login-popup .social-login-customer-authentication .block-content .btn.btn-social {height: 44px; width: 100%; border-radius: 3px; line-height: 44px; padding: 0; text-align: center; text-transform: uppercase; font-size: 12px;}
#social-login-popup .social-login-customer-authentication .block-content .btn.btn-social .fa {background-size: cover; width: 44px; height: 44px;}
#social-login-popup .social-register-customer {padding: 0 15px;}
#social-login-popup .social-register-customer .actions-toolbar .actions {width: 134px; height: 120px; color: #fff; display: inline-block; border-radius: 4px;}
#social-login-popup .social-register-customer .actions-toolbar .actions .action {color: #fcfcfc; font-size: 15px; display: block; height: 100%; text-align: center; padding: 19px 15px 0 15px;}
#social-login-popup .social-register-customer .actions-toolbar .actions .action i {display: block; width: 40px; height: 40px; background-size: cover; margin: 0 auto 5px auto;}
#social-login-popup .social-register-customer .actions-toolbar .login-provider-register {background: #25cbaa; }
#social-login-popup .social-register-customer .actions-toolbar .login-reseller-register {background: #48badb;}
#social-login-popup .social-register-customer .actions-toolbar {margin-top: 30px;}
#social-login-popup .social-register-customer .contact-support-center {margin-top: 60px;}
#social-login-popup .social-register-customer .contact-support-center p {text-align: center; color: #8e9396; font-size: 14px; font-weight: bold;}
#social-login-popup .social-register-customer .contact-support-center p a {color: #6b6e70;}
#social-login-popup .social-register-customer .contact-support-center p a:hover {color: @light-color;}
