	#show-cate-btn {
	    font-size: 16px;
	}
	.column.main .block:last-child {
	    margin-bottom: 10px;
	}
	.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_dropdown_6columns {
	    width: 922px;
	}
	.header-style-1 .header-middle .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_head {
	    padding: 9px 15px 9px 15px;
	}
	.header-style-1 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .control #searchbox {
		border: none;
	}
	.popup-cus.order-protection {
		background: #f5f5f5 !important;
		z-index: 999;
		box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.16);
	}
	.basic-form label {
	    margin-bottom: 24px;
	    color: #7d878c;
	    font-weight: normal;
	    font-size: 13px !important;
	    display: block;
	}
	.support-center .scenter-title li a {
    color: #575555 !important;
    display: block;
    padding: 0 !important;
    margin-bottom: 0;
    font-size: 14px;
}
.support-center .scenter-title {
    padding: 0;
    width: 100%;
}
	.support-center {
	    width: 250px;
	    background: #ececec;
	    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.16);
	}
	.popup-cus {
    padding: 10px 15px;
    border: 0 !important;
    border-radius: 3px;
}
	.tooltip-cus::before {
    content: "";
    width: 15px;
    height: 15px;
    background: #f5f5f5;
    position: absolute;
    top: -5px;
    right: 21px;
    transform: rotate(-47deg);
    border-top: none;
    border-right: none;
}
.tooltip-cus {

    right: -24px;
}
.dropdown-cus-title::after {
    content: "\f0dd";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #fff;
    font-size: 15px;
    position: absolute;
    right: 0;
    top: -3px;
}
.home-style.home-page-2 .product_section .row.main-row .row-title {
    font-size: 20px;
    font-weight: normal;
    color: #484848;
    margin-bottom: 10px;
}
.products-grid .item .product-item-info .item-inner {
    border: 1px solid transparent !important;
    margin-bottom: 10px !important;
    padding: 10px;
}
.products-grid .item:hover .product-item-info .item-inner {
	border-radius: 0px;
    box-shadow: 0px 0px 35px 1px rgba(152, 152, 152, 0.3)!important;
    position: relative;
    padding-bottom: 54px;
    border: solid #fff 1px!important;
}
.products-grid .item .item-inner .box-info .product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 0px;
    font-size: 116.67%;
    font-weight: normal;
    text-transform: capitalize;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 38px;
    max-width: 170px;
    color: #484848;
    font-size: 14px;
    text-align: center;
}
.marketplace-list-seller .list-sellers .list-sellers-cnt ul .wrap-item-product .item-product a .wrap-img .provider-logo {
    width: 78px;
    height: 78px;
    border-radius: 100%;
    border: 1px solid #e5e5e5;
    background: #e5e5e5;
    margin: 0 auto;
    margin-top: -40px;
    position: relative;
    transform: translate(0%, 0%) !important;
    box-shadow: 0px 0px 35px 1px rgba(152, 152, 152, 0.3);
}
.marketplace-list-seller .list-sellers .list-sellers-cnt ul .wrap-item-product .item-product a .wrap-info {
    padding: 15px;
    margin-top: 0;
}
.store-product .wrap-seller-category .provider-menu > li a {
    color: #717171;
    font-size: 14px;
}
.store-product .wrap-seller-category .seller-search .form.minisearch input[type="text"] {
    padding-left: 40px;
    width: 300px;
}
.marketplace-store-index #maincontent {
    //padding-top: 131px;
}
.ico-down-arrow {
	display: none;
}
.product_section.related-product-success {

    padding-top: 40px;

}
.marketplace-list-seller .list-sellers .list-sellers-cnt ul .wrap-item-product:hover {
    border-color: #ff8205;
    padding-bottom: 48px;
    margin-bottom: -28px;
    z-index: 10;
    position: relative;
    background: #fff;
    box-shadow: 0px 0px 35px 1px rgba(152, 152, 152, 0.3);
}
.marketplace-list-seller .list-sellers .list-sellers-cnt ul .wrap-item-product .item-product a .wrap-info .biz-type {
    width: 100%;
    color: #9d9c9c;
    font-size: 12px;
    max-width: 280px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.marketplace-list-seller .list-sellers .list-sellers-cnt ul .wrap-item-product .item-product a .wrap-info .provider-name {
    margin-bottom: 0;
    font-size: 14px;
    color: #333333;
    font-weight: none;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.home-style.home-page-2 .product_section .product-category-home .wrap-content .products-grid .item .item-inner .box-info .product-name {

    text-overflow: inherit;
    height: auto;

}
.products-grid .item .product-item-info .item-inner .product-item-actions .secondary-addto-links a.link-wishlist {
    float: none;
    display: inline-block;
    margin: auto;
    border: 0 !important;
    width: auto !important;
    background: #ff8205;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    overflow: hidden;
}
.home-style.home-page-2 .product_section .row .row-title a {
    font-size: 14px;
    margin-left: 15px;
}
.products-grid .owl-stage-outer .item {
    height: 325px;
}
.price-box .special-price .price {
    font-size: 14px;
    font-weight: normal;
}
.item-inner .price-box .old-price .price {
    color: #777;
    font-size: 13px;
    font-weight: normal;
}
.item-inner .price-box .discount-percentage::after {
	border: none;
}
.owl-carousel .owl-nav div {
    position: absolute;
    top: 40%;
}
.products-grid .item .product-item-info .item-inner .product-item-actions .secondary-addto-links a.link-wishlist {
    color: #fff;
    font-weight: normal;
    line-height: 32px;
}
.header-style-1 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .control #searchbox {
    padding: 7px 19px !important;
    height: 42px !important;
    font-size: 13px;
}
.header-style-1 .header-middle .wishlist-header .wishlist-content .wish-list-header .wish-list-wrapper a .counter-label {
    font-size: 13px;
    font-weight: normal;
}
.products-grid .owl-stage-outer .item:hover .product-item-info .item-inner {
    padding-bottom: 10px;
    box-shadow: 0px 0px 35px 1px rgba(152, 152, 152, 0.3) !important;
}
.home-style.home-page-2 .product_section .product-category-home .tabs {
    background: #fff;
    box-shadow: none;
    height: 345px;
    position: relative;
    width: 100%;
}
.home-style.home-page-2 .product_section .product-category-home nav a {
    color: #909090;
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
    padding: 13px 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid transparent;
}
.home-style.home-page-2 .product_section .product-category-home nav a.active {
    color: #181716;
    font-weight: bold;
    border-bottom: solid 2px #000;
}
.product-category-home .products-grid .item .product-item-info .item-inner .box-info {
	padding: 0;
}
.home-style.home-page-2 .product_section .product-category-home .tabs .content {
    color: #6C5D5D;
    border: 1px solid #ececec;
}
.home-style.home-page-2 .product_section .product-category-home .menu-top li > a {
    color: #6c6c6c;
    font-size: 13px;
    display: block;
    margin-top: 16px;
}
.products-grid .product-item-actions .btn-action {

    float: left;
    margin-right: 5px;
    display: inline-block;
    border: none;
    height: 30px;
    line-height: 33px;
    text-align: center;
    cursor: pointer;
    border-radius: 100%;
    border: none!important;
    background: #f0f0f0;

}
.product-category-home .products-grid .item .product-item-info .item-inner .box-info .price-box .price {

    color: #696969;
    font-size: 14px;
    font-weight: normal;

}
.owl-carousel .owl-item {
	text-align: center;
}
.price-box .price {
    color: #595959;
    font-size: 14px;
    font-weight: normal;
}
.product_section.related-product-success h3.row-title {

    padding: 0;
    margin-bottom: 20px;

}
.marketplace-top-info .ws-workflow .ws-workflow-cnt ul > li p {

    margin: 5px 0;
    font-weight: bold;
    font-size: 14px;
    color: #3b3b3b;

}
.marketplace-top-info .ws-workflow .ws-workflow-top .text-title {

    text-align: center;
    font-size: 26px;
    font-weight: normal;

}
.marketplace-top-info .ws-instruduce ul > li .ws-instruduce-cnt-wrapper {

    overflow: hidden;
    display: inline-block;
    margin-top: 0!important;

}
.products-grid .product-items .product-item {

    height: auto;

}
.wishlist-index-index .form-wishlist-items .products-grid.wishlist .product-items li.product-item:hover {

    border-color: #ff8205 !important;
    box-shadow: 0px 0px 35px 1px rgba(152, 152, 152, 0.3);

}
.detail-1 .content-product-detail .products .product-item .product-item-details {
    float: right;
    padding: 0 !important;
    width: 65%;
}


.tooltip-cus {
    position: absolute;
    min-width: 120px;
    z-index: 10;
    display: none;
    right: 0;
    border: 1px solid #f0f0f0;
    background: #f5f5f5;
    border-radius: 3px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.16);
}
.marketplace-top-info .ws-open-process .ws-open-process-body .ws-open-process-cnt > li {
    width: 29%;
    float: left;
    text-align: left;
}
.item-inner .price-box .discount-percentage {
	background: none;
}
.product-category-home .products-grid .item:hover .product-item-info .item-inner {

    padding-bottom: 10px;
    box-shadow: none !important;

}

.sidebar.sidebar-main .block-content .block-detail-title {
    font-weight: bold;
    font-size: 120%;
    padding: 5px 0;
    color: #374c57;
    border-bottom: 1px solid #dae3e9;
    margin: 0;
}
.sidebar.sidebar-main .block-content .block-detail-cnt {
    padding: 0;
}
.sidebar .block .block-content .seller-search {
    padding: 0;
    margin-bottom: 10px;
    position: relative;
}
.product-category-home .products-grid .item .product-item-info .item-inner .box-info .price-box {

    position: absolute;
    left: 0;
    bottom: 20px;

}
.page-footer .footer .footer-wrapper {

    background: #333;

}
.base-color {

    color: #fff !important;

}
.home-style.home-page-2 .product_section .product-category-home .wrap-content .field-banner {
    height: 354px;
}
.home-style.home-page-2 .product_section .product-category-home .wrap-content .banner-left-home .field-banner {
    height: 176px;
}
.popup-cus {
    padding: 20px 23px;
    border: 0 !important;
    border-radius: 3px;
}
.block-subscribe-home .form.subscribe button.subscribe {
    background-color: #474848;
}
.page-footer .footer .footer-wrapper .footer-top .footer-menu .footer-menu-content.contact-footer ul li a {
    font-weight: normal;
    margin-left: 7px;
    font-size: 14px;
}
.items, .products-grid {
    overflow: inherit;
    margin: 0;
}
.sidebar .block .block-content.filter-content {
    background: #fff;
    border: 0;
    float: left;
}
.block .block-content.filter-content .filter-options-content {
    display: block !important;
    float: left;
}
.sidebar .block .block-content .filter-options .filter-options-content .swatch-attribute.color .swatch-option-link-layered {
    display: inline-block;
    border: 2px solid #ddd;
    border-radius: 100%;
    padding: 1px !important;
}
.swatch-option {
    width: 30px;
    padding: 1px 2px;
    min-width: 30px;
    max-width: 90px;
    height: 20px;
    float: left;
    margin: 0 10px 5px 0;
    text-align: center;
    cursor: pointer;
    position: relative;
    border: 1px solid rgb(255, 255, 255);
    overflow: hidden;
    text-overflow: ellipsis;
}
.filter-options .filter-options-title {
    font-weight: 700;
    line-height: 1.1;
    font-size: 11px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin: 0 0 10px;
    word-break: break-all;
}
.sm-listing-tabs .ltabs-items-container .ltabs-items .owl-stage-outer {
	overflow: hidden;
}
.header-style-1 .header-middle .middle-right-content .minicart-header .minicart-content .cart-wrapper .minicart-wrapper .showcart .counter .counter-label {
    color: #fff;
    font-size: 12px;
}
.home-style.home-page-2 .main-slider-row .main-slider-right {
    float: right;
    width: 300px;
    height: 370px;

}

.breadcrumbs {
    padding-top: 0;
    background: #2a2a2a;
    clear: both;
    background: transparent;
}
.breadcrumbs .items .item a {
    display: inline-block;
    color: #54707e;
    height: 100%;
    font-size: 12px;
}
.breadcrumbs .items .item:last-child {
    color: #444;
    font-size: 12px;
}
.products-grid .item .product-item-info {
	z-index: auto;
}
.left-sidebar {
	padding: 0 0 0 15px;
}
.sidebar .block .block-content.filter-content {
    background: none;
    border: 0;
    float: left;
    padding: 0;
}
.block .block-content.filter-content .filter-options-content {
    padding-left: 0;
    padding-bottom: 20px;
    border-bottom: 1px dotted #ddd;
    margin-bottom: 20px;
}
.sorter-options {
	border-radius: 3px;
}
.toolbar-top .toolbar.toolbar-products {
    padding: 15px;
    background: #fff;
    margin-bottom: 0;
    border: 0;
}

.toolbar .wrap-pagination input {
    height: 30px;
    border-radius: 3px;
}
.toolbar-top {
	border-bottom: solid 1px #f0f0f0;
}
.toolbar select {
    height: 30px;
    border-radius: 3px;
}
.block .block-content.filter-content .filter-options-content .items li a::before {
    position: absolute;
    top: 1px;
    left: 0;
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    z-index: 5;
    background: #fff;
    border-radius: 2px;
}
.filter-options .count {
    color: #c8c8c8;
    font-size: 11px;
    position: absolute;
}
.header-style-1 .header-middle .minicart-header .minicart-wrapper .showcart .counter.qty .counter-label {
    background: #fff;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 100%;
    display: inline-block !important;
    margin-top: 10px;
    color: #444;
    font-weight: bold;
}
.header-style-1 .header-middle .wishlist-header .wishlist-content .wish-list-header .wish-list-wrapper a .counter-label {
    background: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block !important;
    color: #444;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
}
.nav-header ul li a {
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
}
.support-center.tooltip-cus::before {
    background: #f5f5f5;
}
.footer-container .footer-bottom {
    background-color: #444444;
    padding: 11px 0;
    color: #aeacac;
}
.page-footer .footer .footer-wrapper .footer-introduce .intro-title h3 {
    color: #fff;
    line-height: 41px;
    float: left;
    margin-left: 10px;
    font-size: 16px;
}
.page-with-filter .page-main {
	padding-top: 5px;
}