@use-flex: true; // Use flexbox [true|false]
@responsive: true; // Theme is responsive [true|false]

@screen__xxs: 320px;
@screen__xs: 480px;
@screen__s: 640px;
@screen__m: 768px;
@screen__l: 1024px;
@screen__xl: 1440px;
@media-common: true; // Sets whether to output common styles (true|false)
@media-target: 'all'; // Sets target device for styles output (all|desktop|mobile)
//variables for color
@color-white: #333;

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m){

}
& when (@media-common = true){}
& when (@media-target = 'mobile'), (@media-target = 'all') {

  @media only screen and (max-width: (@screen__xxs - 1)) {
    .media-width('max', @screen__xxs);
  }

  @media only screen and (max-width: (@screen__xs - 1)) {
    .media-width('max', @screen__xs);
    .toplinks-header-link-custom {
      ul {
        background-color: @color-white;
        text-align: center;
      }
    }
  }
  @media only screen and (max-width: (@screen__s - 1)) {
    .media-width('max', @screen__s);
  }

  @media only screen and (max-width: (@screen__m - 1)) {
    .media-width('max', @screen__m);
  }

  @media only screen and (max-width: @screen__m) {
    .media-width('max', (@screen__m + 1));
  }

  @media all and (min-width: @screen__s) {
    .media-width('min', @screen__s);
  }

}
