.page-layout-dashboard-layout {background: #2A3F54; color: #73879C; font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif; font-size: 13px; font-weight: 400; line-height: 1.471;
	#maincontent {padding-top: 0; padding-bottom: 0;
		.page-title-wrapper {display: none;}
	}
}
.wrap-seller-dashboard {overflow: hidden;
	h2 {font-size: 18px; font-weight: 400; }
	.left-dashboard	{float: left; width: 230px;
		.nav_title {
			.profile_pic {width: 35%; float: left;}
			.img-circle.profile_img {width: 70%; background: #fff; margin-left: 15%; z-index: 1000; position: inherit; margin-top: 20px; border: 1px solid rgba(52,73,94,.44); padding: 4px;}

			.profile_info {padding: 25px 10px 10px; width: 65%; float: left;
				span {font-size: 13px; line-height: 30px; color: #BAB8B8;}
				h2 {font-size: 14px; color: #ECF0F1; margin: 0; font-weight: 300;}
			}
		}
		.main_menu_side {
			.nav.side-menu>li {position: relative; display: block; cursor: pointer;
				> a {margin-bottom: 6px; color: #E7E7E7; font-weight: 500;
					&:hover {color: #F2F5F7; text-decoration: none; background: 0 0;}
					i {margin-right: 10px;}
					span.fas {float: right;}
				}
			}

			.nav>li>a {position: relative; display: block; padding: 13px 15px 12px;
				&:focus {text-decoration: none; background: 0 0; background-color: transparent;}
				&:hover {background-color: transparent;}
			}

			.nav.child_menu {display: none;
				li {padding-left: 36px;
					li {
						a.active {color: #fff;}
						a:hover {color: #fff;}
						&:hover {background: 0 0;}
					}
					li.active {background: 0 0;}
				}
				li.active,.nav.child_menu li:hover {background-color: rgba(255,255,255,.06);}
				> li >a {color: #E7E7E7; font-weight: 500;}
			}

			ul.nav.child_menu li {
				&:before {background: #425668; bottom: auto; content: ""; height: 8px; left: 23px; margin-top: 15px; position: absolute; right: auto; width: 8px; z-index: 1; border-radius: 50%;}
				&:after {border-left: 1px solid #425668; bottom: 0; content: ""; left: 27px; position: absolute; top: 0;}
			}

			.nav li li.current-page a {color: #fff;}

			.nav.side-menu>li.active,.nav.side-menu>li.current-page {border-right: 5px solid #1ABB9C;}
			.nav li.current-page {background: rgba(255,255,255,.05);}
			.nav li li li.current-page {background: 0 0;}
			.nav.side-menu>li.active>a {text-shadow: rgba(0,0,0,.25) 0 -1px 0; background: linear-gradient(#334556,#2C4257),#2A3F54; box-shadow: rgba(0,0,0,.25) 0 1px 0,inset rgba(255,255,255,.16) 0 1px 0;}
		}	
	}

	.right-dashboard {float: left; width: 80%; background: #F7F7F7;
		.nav_menu {float: left; background: #EDEDED; border-bottom: 1px solid #D9DEE4; margin-bottom: 10px; width: 100%; position: relative;
			li a i {font-size: 15px;}
			.navbar-nav>li>a {font-weight: 500; line-height: 32px; color: #515356;}
			.dropdown-menu li {width: 100%;
				a {width: 100%; padding: 12px 20px;}
			}
			.nav {
				.open>a,
				.open>a:focus,
				.open>a:hover,
				> li>a:focus,
				> li>a:hover {background: #D9DEE4;}
			}
		}
		.nav_menu.navbar-right {margin: 0; width: 70%; float: right;
			li {display: inline-block; float: right; position: static;}
		}

		.navbar-nav {
			.open .dropdown-menu {position: absolute; background: #fff; margin-top: 0; border: 1px solid #D9DEE4; -webkit-box-shadow: none; right: 0; left: auto; width: 220px;}
			.open .dropdown-menu.msg_list {width: 300px;}
			.info-number .badge {font-size: 10px; font-weight: 400; line-height: 13px; padding: 2px 6px; position: absolute; right: 2px; top: 8px; background: #1ABB9C; border: 1px solid #1ABB9C; color: #fff;}
		}				
		
		.main-col {
			.tile-row {
				.tile-stats.sparkline {padding: 10px; text-align: center;}
				.tile-stats {position: relative; display: block; margin-bottom: 12px; border: 1px solid #E4E4E4; -webkit-border-radius: 5px; overflow: hidden; padding-bottom: 5px; -webkit-background-clip: padding-box; -moz-border-radius: 5px; -moz-background-clip: padding; border-radius: 5px; background: #FFF; transition: all .3s ease-in-out;
					.icon i {margin: 0; font-size: 50px; line-height: 0; vertical-align: bottom; padding: 0;}
					.count, h3, p {position: relative; margin: 0 0 0 10px; z-index: 5; padding: 0;}
					.icon {width: 20px; height: 20px; color: #BAB8B8; position: absolute; right: 53px; top: 22px; z-index: 1;}
					&:hover .icon i {animation-name: tansformAnimation; animation-duration: .5s; animation-iteration-count: 1; color: rgba(58,58,58,.41); animation-timing-function: ease; animation-fill-mode: forwards;}
					.count {font-size: 38px; font-weight: 700; line-height: 1.65857; color: #73879C;}
					h3 {color: #BAB8B8;}
					p {margin-top: 5px; font-size: 12px;}
				}
			}

			.x_panel {width: 100%; padding: 10px 17px; display: inline-block; background: #fff; border: 1px solid #E6E9ED; column-break-inside: avoid; opacity: 1; transition: all .2s ease; position: relative;
				.x_title {border-bottom: 2px solid #E6E9ED; padding: 1px 5px 6px;
					h2 {margin: 5px 0 6px; float: left; display: block; 
						small {margin-left: 10px;}
					}
					span {color: #BDBDBD;}
				}
				.x_content {width: 100%; padding: 0 5px 6px; float: left; clear: both; margin-top: 5px; position: relative;
					h4 {font-size: 16px; font-weight: 500;}
					table.countries_list {width: 100%;
						td {padding: 0 10px; line-height: 30px; border-top: 1px solid #eee; }
					}
				}
				table {color: #303030;}
			}
		}
	}	
}




.hard-code {color: red; font-size: 9px; font-weight: bold;}
