@base-color: #113356;
@base-color-dark: #113356;
@base-color-seller: #354157;
@light-color: #ff8205;

@bg-body-color: #f0f4f7;
@bg-light-black: #2a2a2a;
@bg-black: #444;
@bg-grey: #ececec;
@bg-content: #fff;


@bottom-border-color: #dbae1d;
@link-color: #444;
@link-color-light: #fff;
@link-color-hover: #fff;
@btn-hover-color: #444;
@text-color-dark: #3a3a3a;
@text-block-color: #374c57;
@text-color: #d8d8d8;
@title-color: #fff;
@border-color: #d7d7d7;
@big-font-size: 120%;


@dark-blue: #54707e;