<?php
$dataReturn = $block->getDataSeller();
$url = $block->getSaveUrl();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$FormKey = $objectManager->get('Magento\Framework\Data\Form\FormKey');
$customer = $objectManager->create('\Magento\Customer\Model\Customer')->load($dataReturn["id_customer"]);
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$categories_seller = $dataReturn["id_category"];
$arrayCategory = explode("|",$categories_seller);
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$store = $storeManager->getStore();
$url_ret = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB)."customer/admin/index/is_admin/".$dataReturn["id_customer"];
?>
<style>
    #view_seller{
        font-size: 1.6rem;
        letter-spacing: .025em;
        padding-bottom: .6875em;
        padding-top: .6875em;
        background-color: #eb5202;
        border-color: #eb5202;
        color: #fff;
        text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
        border: 1px solid;
        border-radius: 0;
        display: inline-block;
        font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
        /* font-size: 1.4rem; */
        font-weight: 600;
        line-height: 1.36;
        padding: .6rem 1em .6rem;
        text-align: center;
        vertical-align: baseline;
        padding-top: 11px;
        padding-bottom: 11px;
    }
</style>
<form id="save_seller" name="save_seller" method="post" action="<?php echo $url; ?>">
<input name="form_key" type="hidden" value="<?php echo $FormKey->getFormKey();?>">
    <input type="hidden" value="<?php echo $dataReturn["id_seller_company"]; ?>" name="id_seller" id="id_seller"/>
    <input type="hidden" value="<?php echo $dataReturn["id_customer"]; ?>" name="id_customer" id="id_customer"/>
<div class="page-main-actions">
    <div class="page-actions-placeholder" style=""></div>
    <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
        <div class="page-actions-inner" data-title="Veronica Costello">
            <div class="page-actions-buttons">
                <button id="back" title="Back" type="button" class="action- scalable back" onclick="location.href = '<?php echo $block->getBackUrl(); ?>';" data-ui-id="back-button">
                    <span><?php echo __("Back"); ?></span>
                </button>
                <button id="approve" title="Save Customer" type="button" class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" data-form-role="save" data-ui-id="save-button" role="button" aria-disabled="false">
                    <span class="ui-button-text">
                        <span><?php echo __("Approve"); ?></span>
                    </span>
                </button>
                <button id="save_information" type="button" title="Save Customer" type="button" class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">
                        <span><?php echo __("Save Information"); ?></span>
                    </span>
                </button>
                <a id="view_seller" title="Save Customer" href="<?php echo $url_ret ?>" target="_blank" class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" data-form-role="save" data-ui-id="save-button" role="button" aria-disabled="false">
                    <span class="ui-button-text">
                        <span><?php echo __("View Seller DashBoard"); ?></span>
                    </span>
                </a>
                <button id="cancel" title="Cancel" type="button" class="action- scalable action-secondary" data-form-role="save" data-ui-id="save-button" role="button" aria-disabled="false">
                    <span class="ui-button-text">
                        <span><?php echo __("Cancel"); ?></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="container" class="main-col">
    <div class="admin__old">
        <div class="fieldset-wrapper"  data-index="customer">
            <div class="fieldset-wrapper-title" tabindex="-1">
                <strong class="title">
                    <span><?php echo __("Basic Information");  ?></span>
                </strong>
            </div>
            <div class="admin__fieldset-wrapper-content _hide">
                <fieldset class="admin__fieldset">
                    <div class="admin__field" data-index="prefix">
                        <label class="admin__field-label" for="NEEHGU0">
                            <span><?php echo __("ID") ?></span>
                        </label>
                        <div class="admin__field-control" >
                            <input class="admin__control-text" type="text"  name="id_provider" value="<?php echo $dataReturn["id_seller_company"]; ?>" disabled='disabled'>
                        </div>
                    </div>
					<div class="admin__field" data-index="prefix">
                        <label class="admin__field-label" for="NEEHGU0">
                            <span><?php echo __("Name") ?></span>
                        </label>
                        <div class="admin__field-control" >
                            <input class="admin__control-text" type="text"  name="first_name" value="<?php echo $customer->getData("firstname") ?> <?php echo $customer->getData("lastname") ?>" aria-describedby="notice-NEEHGU0" id="NEEHGU0">
                        </div>
                    </div>
                    <div class="admin__field" data-index="prefix">
                        <label class="admin__field-label" for="NEEHGU0">
                            <span><?php echo __("Store Name") ?></span>
                        </label>
                        <div class="admin__field-control" >
                            <input class="admin__control-text" type="text"  name="store_name" value="<?php echo $dataReturn["store_name"] ?>" aria-describedby="notice-NEEHGU0" id="NEEHGU0">
                        </div>
                    </div>
                    <div class="admin__field" data-index="prefix">
                        <label class="admin__field-label" for="NEEHGU0">
                            <span><?php echo __("Telephone") ?></span>
                        </label>
                        <div class="admin__field-control" >
                            <input class="admin__control-text" type="text"  name="telephone" value="<?php echo $dataReturn["telephone"] ?>" aria-describedby="notice-NEEHGU0" id="NEEHGU0">
                        </div>
                    </div>
					<div class="admin__field" data-index="prefix">
                        <label class="admin__field-label"  for="NEEHGU0">
                            <span>Email</span>
                        </label>
                        <div class="admin__field-control">
                            <input class="admin__control-text" type="text"  name="email" value="<?php echo $customer->getEmail() ?>" aria-describedby="notice-NEEHGU0" id="NEEHGU0">
                        </div>
                    </div>
                    <div class="admin__field" data-index="prefix">
                        <label class="admin__field-label" for="NEEHGU0">
                            <span><?php echo __("Hot Line") ?></span>
                        </label>
                        <div class="admin__field-control" >
                            <input class="admin__control-text" type="text"  name="hot_line" value="<?php echo $dataReturn["hot_line"] ?>" aria-describedby="notice-NEEHGU0" id="NEEHGU0">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="fieldset-wrapper"  data-index="customer">
            <div class="fieldset-wrapper-title" tabindex="-1">
                <strong class="title">
                    <span><?php echo __("Categories");  ?></span>
                </strong>
            </div>
            <div class="admin__fieldset-wrapper-content _hide">
                <style>
                    .col-lg-4{
                        width: 33.33333333%;
                        float:left;
                    }
                </style>
                <fieldset class="admin__fieldset">
                    <div id="categories" class="field required">
                        <div class="row">
                            <?php
                            $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
                            $dependency_category = $objectManager->get("\Magento\Catalog\Model\Category");
                            $categories = $dependency_category->getCollection()->addAttributeToSelect("*")->addAttributeToFilter("level",array("eq" => "2"));
                            ?>

                            <?php foreach($categories as $_cate){ ?>
                                <div class="checkbox-cus col-lg-4 col-md-4 col-sm-4">
                                    <input type="checkbox" name="category_id[]" id="cateId_<?php echo $_cate->getData("entity_id"); ?>" <?php if(in_array($_cate->getId(),$arrayCategory)) echo "checked='checked'"; ?> value="<?php echo $_cate->getData("entity_id"); ?>">
                                    <label class="show-checkbox-cus" for="cateId_<?php echo $_cate->getData("entity_id"); ?>"></label>
                                    <label for="cateId_<?php echo $_cate->getData("entity_id"); ?>" class="light-label"><?php echo __($_cate->getName()); ?></label>
                                </div>
                            <?php } ?>
                        </div>
                    </div>
                </fieldset>

            </div>
        </div>

        <div class="fieldset-wrapper"  data-index="customer">
            <div class="fieldset-wrapper-title" tabindex="-1">
                <strong class="title">
                    <span><?php echo __("Company Information");  ?></span>
                </strong>
            </div>
            <div class="admin__fieldset-wrapper-content _hide">
                <fieldset class="admin__fieldset">
                    <div class="admin__field"  data-index="prefix">
                        <label class="admin__field-label"  for="NEEHGU0">
                            <span><?php echo __("Company Name"); ?></span>
                        </label>
                        <div class="admin__field-control">
                            <input class="admin__control-text" type="text"  name="company_name" value="<?php echo $dataReturn["company"] ?>" aria-describedby="notice-NEEHGU0" id="NEEHGU0">
                        </div>
                    </div>
                    <div class="admin__field"  data-index="prefix">
                        <label class="admin__field-label"  for="NEEHGU0">
                            <span><?php echo __("Register Number"); ?></span>
                        </label>
                        <div class="admin__field-control">
                            <input class="admin__control-text" type="text"  name="company_register" value="<?php echo $dataReturn["company_registration"] ?>" aria-describedby="notice-NEEHGU0" id="NEEHGU0">
                        </div>
                    </div>
                    <div class="admin__field"  data-index="prefix">
                        <label class="admin__field-label"  for="NEEHGU0">
                            <span><?php echo __("Agent Name"); ?></span>
                        </label>
                        <div class="admin__field-control">
                            <input class="admin__control-text" type="text"  name="agent_name" value="<?php echo $dataReturn["agent_name"] ?>" aria-describedby="notice-NEEHGU0" id="NEEHGU0">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="fieldset-wrapper"  data-index="customer">
            <div class="fieldset-wrapper-title" tabindex="-1">
                <strong class="title">
                    <span><?php echo __("Delivery Information");  ?></span>
                </strong>
            </div>
            <div class="admin__fieldset-wrapper-content _hide">
                <fieldset class="admin__fieldset" id="delivery_method">
                    <div class="admin__field"  data-index="prefix">
                        <label class="admin__field-label"  for="NEEHGU0">
                            <span><?php echo __("Delivery Method"); ?></span>
                        </label>
                        <div class="admin__field-control">
                            <label for="wisi_delivery" class="label" style='vertical-align: middle;padding: 10px !important;'>
                            <span><?php echo $block->escapeHtml(__('Wisi Delivery')) ?></span>
                        </label>
                        <input type="radio" <?php if ($dataReturn["delivery_type"] == "wisi_delivery") echo "checked='checked'";?> style='vertical-align: middle;' value="wisi_delivery" name="shipping_method" id="wisi_delivery" />
                    
                        <label for="my_delivery" class="label" style='vertical-align: middle;padding: 10px !important;'>
                            <span><?php echo $block->escapeHtml(__('Provider Delivery')) ?></span>
                        </label>
                        <input type="radio" <?php if ($dataReturn["delivery_type"] == "my_delivery") echo "checked='checked'";?> value="my_delivery" name="shipping_method" style='vertical-align: middle;' id="my_delivery"/>
                        <label class="admin__field-error" style="display:none; "><?php echo __("This is a required field."); ?></label>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="fieldset-wrapper"  data-index="customer">
            <div class="fieldset-wrapper-title" tabindex="-1">
                <strong class="title">
                    <span><?php echo __("Certification");  ?></span>
                </strong>
            </div>
            <div class="admin__fieldset-wrapper-content _hide">
                <fieldset class="admin__fieldset">
                    <?php
                    $upload_1 = $dataReturn["up_load_cer_1"];
                    $upload_2 = $dataReturn["up_load_cer_2"];
                    $upload_3 = $dataReturn["up_load_cer_3"];
                    $arrayUpload_1 = explode(".",$upload_1);
                    $arrayUpload_2 = explode(".",$upload_2);
                    $arrayUpload_3 = explode(".",$upload_3);
                    $extension_1 = $arrayUpload_1[count($arrayUpload_1) - 1];
                    $extension_2 = $arrayUpload_2[count($arrayUpload_2) - 1];
                    $extension_3 = $arrayUpload_3[count($arrayUpload_3) - 1];
                    ?>
                    <div class="admin__field"  data-index="prefix">
                        <label class="admin__field-label"  for="NEEHGU0">
                            <span><?php echo __('Certification Upload 1');?></span>
                        </label>
                        <div class="admin__field-control">
                            <?php if(count(explode("pdf",$extension_1)) > 1){ ?>
                                <object data="<?php echo  $media_url; ?><?php echo $upload_1; ?>" type="application/pdf" width="100%" height="400px"><p><b>Example fallback content</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="#">Download PDF</a>.</p></object>
                            <?php }if(count(explode("jpg",$extension_1)) > 1 || count(explode("jpeg",$extension_1)) > 1 || count(explode("png",$extension_1)) > 1){ ?>
                                <img src="<?php echo $media_url; ?><?php echo $upload_1; ?>" />
                            <?php }else{ ?>
                                <a href="<?php echo $media_url; ?><?php echo $upload_1; ?>" target="_blank" />Download File<a/>
                            <?php } ?>
                        </div>
                    </div>
                    <div class="admin__field"  data-index="prefix">
                        <label class="admin__field-label"  for="NEEHGU0">
                            <span><?php echo __('Certification Upload 2'); ?></span>
                        </label>
                        <div class="admin__field-control">
                            <?php if(count(explode("pdf",$extension_2)) > 1){ ?>
                                <object data="<?php echo $media_url; ?><?php echo $upload_2; ?>" type="application/pdf" width="100%" height="400px"><p><b>Example fallback content</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="#">Download PDF</a>.</p></object>
                            <?php }if(count(explode("jpg",$extension_2)) > 1 || count(explode("jpeg",$extension_2)) > 1 || count(explode("png",$extension_2)) > 1){ ?>
                                <img src="<?php echo $media_url; ?><?php echo $upload_2; ?>" />
                            <?php }else{ ?>
                                <a href="<?php echo $media_url; ?><?php echo $upload_2; ?>" target="_blank" />Download File<a/>
                            <?php } ?>
                        </div>
                    </div>
                    <div class="admin__field" data-index="prefix">
                        <label class="admin__field-label"  for="NEEHGU0">
                            <span><?php echo __('Certification Upload 3'); ?></span>
                        </label>
                        <div class="admin__field-control">
                            <?php if(count(explode("pdf",$extension_3)) > 1){ ?>
                                <object data="<?php echo $media_url; ?><?php echo $upload_3; ?>" type="application/pdf" width="100%" height="400px"><p><b>Example fallback content</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="#">Download PDF</a>.</p></object>
                            <?php }if(count(explode("jpg",$extension_3)) > 1 || count(explode("jpeg",$extension_3)) > 1 || count(explode("png",$extension_3)) > 1){ ?>
                                <img src="<?php echo $media_url; ?><?php echo $upload_3; ?>" />
                            <?php }else{ ?>
                                <a href="<?php echo $media_url; ?><?php echo $upload_3; ?>" target="_blank" />Download File<a/>
                            <?php } ?>
                        </div>
                    </div>
                    <?php if($dataReturn["status"] == 2){ ?>
                        <div class="admin__field" data-index="prefix">
                            <label class="admin__field-label"  for="NEEHGU0">
                                <span>Reason Cancel</span>
                            </label>
                            <div class="admin__field-control">
                                <textarea style="width: 100%;height:300px;"><?php echo $dataReturn["message_denied"] ?></textarea>
                            </div>
                        </div>
                    <?php } ?>
                </fieldset>

            </div>
        </div>
    </div>
</div>
</form>
<div id="popup-modal_cancel" style="display: none">
    <div class="block block-dashboard-orders">
        <div class="block-content" style="margin-top: 10px">
            <div class="table-wrapper orders-recent" >
                <textarea id="message" style="width: 100%;height:150px;"></textarea>
            </div>
        </div>
    </div>
</div>
<script>
    require([
        'jquery',
        'Magento_Ui/js/modal/modal',
        'Magento_Ui/js/modal/alert'
    ], function ($,modal,alert ) {
        $("#cancel").click(function(){
            $("#popup-modal_cancel").modal(options).modal('openModal');
        });
        function cancelSeller(elem){
        }
        $("#approve").click(function () {
            if ($("#delivery_method").find("input:checked").length < 1) {
                $("#delivery_method").find(".admin__field-error").show();
            } else {
                $("#delivery_method").find(".admin__field-error").hide();
                $('body')
                    .loader({
                        icon: $('#loading_mask_loader img').attr('src')
                    })
                    .loader('show');
                var id_seller = $("#id_seller").val();
                var shipping_method = $("input[name='shipping_method']:checked").val();
                $.ajax({
                    url: '<?php echo $block->getApproveUrl(); ?>',
                    method: "POST",
                    data: {"id_seller":id_seller, "shipping_method": shipping_method},
                    success: function (data) {
                        $('body').loader('hide');
                        top.location.reload();
                    }
                });
            }

            
        });
        $("#save_information").click(function(){
            if ($("#delivery_method").find("input:checked").length < 1) {
                $("#delivery_method").find(".admin__field-error").show();
            } else {
                $("#delivery_method").find(".admin__field-error").hide();
                $("#save_seller").submit();
            }
        });
        var options = {
            type: 'popup',
            responsive: true,
            innerScroll: true,
            title: '<?php echo __("Reason Cancel") ?>',
            buttons: [{
                text: $.mage.__('Next Step'),
                class: '',
                click: function () {
                    $('body')
                        .loader({
                            icon: $('#loading_mask_loader img').attr('src')
                        })
                        .loader('show');
                    var message = $("#message").val();
                    var id_seller = $("#id_seller").val();
                    $.ajax({
                        url: '<?php echo $block->getCancelUrl(); ?>',
                        method: "POST",
                        data: {"message":message,"id_seller":id_seller},
                        success: function (data) {
                            $('body').loader('hide');
                            top.location.reload();
                        }
                    });
                }
            }]
        };

    });
</script>