<?php 
/** @var \Magento\Framework\View\Element\Template $block */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$dependency_category = $objectManager->get("\Magento\Catalog\Model\Category");
$categories = $dependency_category->getCollection()->addAttributeToSelect("*")->addAttributeToFilter("level",array("eq" => "2"));
?>

<div class="row full-wrapper fullwidth main-slider-row" style="height:100%;">
    <div class="container">
        <div class="image-slider-home fullwidth-cnt">
            <div class="type-of-market">
                <div class="container">
                    <div class="col-lg-7 col-md-7 col-xs-12">
                        <ul class="tabs-cus" tab-content-id="market-tabs">
                            <li class="tab-cus on"><?php echo __("Store"); ?></li>
                            <li class="tab-cus"><?php echo __("Provider"); ?></li>
                            <li class="tab-cus"><?php echo __("Seller"); ?></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 tr"></div>
            </div>
            <img src="<?php echo $media_url."wysiwyg/" ?>banner/marketplace-banner.png" class="w100p" alt=""/>
        </div>
    </div>
</div>

<div class="tabs-cus-cnt list-sellers" id="market-tabs">
	<div class="tab-cus-cnt on list-sellers-cnt col-lg-12 col-sm-12 col-xs-12" market-type="store" id="region-seller-store" style="position: relative;">
        <ul id="showStores"></ul>
        <div class="action-botton">
            <button type="button" class="light-color-btn"><?php echo __("Load More"); ?></button>
        </div>
    </div>
    <div class="tab-cus-cnt list-sellers-cnt col-lg-12 col-sm-12 col-xs-12" market-type="provider" id="region-seller-store" style="position: relative;">
        <ul id="showProviders">provider</ul>
    </div>
    <div class="tab-cus-cnt list-sellers-cnt col-lg-12 col-sm-12 col-xs-12" market-type="seller" id="region-seller-store" style="position: relative;">
        <ul id="showSellers">seller</ul>
	</div>
    <div id="loadingStore" class="loading"><img src="<?php echo $block->getViewFileUrl('images/loader-1.gif'); ?>"/></div>
</div>



<style>
.cover-seller { background-repeat: no-repeat !important; display: block !important; background-position: center !important; }

#loadingStore {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 10; display: none; background: rgba(0, 0, 0, 0.6);}
#loadingStore img {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}




</style>

<script>
jQuery(function(){
    getStoreSellers();
    setHeightLoading();
});

function setHeightLoading(){
    var height = jQuery("#list-cate").outerHeight();
    jQuery("#loadingStore").css({height: height});
}
function getStoreSellers(dataToPass){
    jQuery("#loadingStore").show();
    var ajaxUrl = "<?php echo $block->getUrl(); ?>/marketplace/store/get";
    jQuery.ajax({
        url: ajaxUrl,
        method: "post",
        success: function(response) {
            var result  = JSON.parse(response);
            for(var i = 0 ; i < result.length ; i ++){
                var html = "";

                html += "<li class='col-lg-3 col-md-3 col-sm-3  col-xs-6'>";
                html += "    <div class='wrap-item-product'>";
                html += "       <div class='item-product'>";
                html += "           <a href='" + result[i].store_url + "' target='_blank'>";
                html += "               <div class='wrap-img'>";
                html += "                   <img src='" + result[i].banner_url + "' class='provider-banner' />";
                html += "                   <img src='" + result[i].logo_url + "' class='provider-logo' />";
                html += "               </div>";
                html += "               <div class='wrap-info'>";
                html += "                   <p class='provider-name'>" + result[i].provider_name+"</p>";
                html += "                   <p class='biz-type'>Enim est cillum ullamco dolore mollit.</p>";
                html += "               </div>";
                html += "               <div class='visit-shop'>";
                html += "                  <span class='light-color-btn'><?php echo __('Visit Shop'); ?></span>";
                html += "               </div>";
                html += "           </a>";
                html += "       </div>";
                html += "    </div>";
                html += "</li>";

                jQuery("#showStores").append(html);
                jQuery("#loadingStore").hide();
            }
        }
    });
}
</script>