<?php 
/** @var Magento\Framework\View\Element\Template $block */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
?>

<div class="product-banner full-wrapper">
	<div class="container">
		<ul>
			<li>
				<a href="#"><img src="<?php echo $media_url."wysiwyg/" ?>product-seller1.jpg" alt=""></a>
				<a href="#"><img src="<?php echo $media_url."wysiwyg/" ?>product-seller2.jpg" alt=""></a>
			</li>
			<li class="colspan2">
				<a href="#"><img src="<?php echo $media_url."wysiwyg/" ?>product-seller3.jpg" alt=""></a>
			</li>
			<li>
				<a href="#"><img src="<?php echo $media_url."wysiwyg/" ?>product-seller4.jpg" alt=""></a>
				<a href="#"><img src="<?php echo $media_url."wysiwyg/" ?>product-seller5.jpg" alt=""></a>
			</li>
		</ul>
	</div>
</div>