<?php 
/** @var \Magento\Framework\View\Element\Template $block */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
?>


<div class="row full-wrapper fullwidth main-slider-row" style="height:100%;">
    <div class="container">
        <div class="image-slider-home fullwidth-cnt">
            <div class="reg-info-content">
                <div class="container">
                    <ul class="list-instruduce col-lg-8 col-lg-offset-2">
                        <li class="col-lg-4 col-md-4 col-xs-4">
                            <a href="#" class="ws-instruduce-cnt-wrapper">
                                <i class="ico64 ico-market-intro-wisi-white"></i>
                                <span class="ws-instruduce-cnt">
                                    <span class="title"><?php echo __("Giới thiệu"); ?></span>
                                    <span class="desc"><?php echo __("sàn Wisi"); ?></span>
                                </span>
                            </a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-xs-4">
                            <a href="#" class="ws-instruduce-cnt-wrapper">
                                <i class="ico64 ico-market-provider-white"></i>
                                <span class="ws-instruduce-cnt">
                                    <span class="title"><?php echo __("Chính sách"); ?></span>
                                    <span class="desc"><?php echo __("nhà bán sỉ"); ?></span>
                                </span>
                            </a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-xs-4">
                            <a href="#" class="ws-instruduce-cnt-wrapper">
                                <i class="ico64 ico-market-support-provider-white"></i>
                                <span class="ws-instruduce-cnt">
                                    <span class="title"><?php echo __("Hỗ trợ"); ?></span>
                                    <span class="desc"><?php echo __("nhà bán sỉ"); ?></span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="reg-progress-step-content">
                <div class="container">
                    <ul class="list-progress row">
                        <li class="col-lg-3 col-md-3 col-xs-6"><a href="<?php echo $block->getUrl(); ?>customer/seller/"><?php echo __("Đăng ký"); ?></a></li>
                        <li class="col-lg-3 col-md-3 col-xs-6"><a href="<?php echo $block->getUrl(); ?>customer/seller/"><?php echo __("Khởi tạo gian hàng"); ?></a></li>
                        <li class="col-lg-3 col-md-3 col-xs-6"><a href="<?php echo $block->getUrl(); ?>customer/seller/"><?php echo __("Đăng sản phẩm"); ?></a></li>
                        <li class="col-lg-3 col-md-3 col-xs-6"><a href="<?php echo $block->getUrl(); ?>customer/seller/"><?php echo __("Tăng lợi nhuận"); ?></a></li>
                    </ul>
                </div>
            </div>
            <img src="<?php echo $media_url."wysiwyg/" ?>banner/banner-register-process.png" class="w100p" alt=""/>
        </div>
    </div>
</div>

<div class="provider-advantage">
    <div class="provider-advantage-title">
        <h3><?php echo __("Lợi ích nhà bán sỉ") ?></h3>
    </div>
    <ul>
        <li>
            <img src="<?php echo $media_url; ?>wysiwyg/icon/icon-create.png" />
            <h3><?php echo __("Khởi tạo gian hàng"); ?></h3>
            <p><?php echo __("Khởi tạo gian hàng miễn phí. Tự do thiết kế gian hàng, giới thiệu thông tin công ty và sản phẩm"); ?></p>
        </li>
        <li>
            <img src="<?php echo $media_url; ?>wysiwyg/icon/icon-post-product.png" />
            <h3><?php echo __("Đăng tải sản phẩm"); ?></h3>
            <p><?php echo __("Đăng bán sản phẩm không giới hạn số lượng. Hẹn giờ đăng tải sản phẩm mới"); ?></p>
        </li>
        <li>
            <img src="<?php echo $media_url; ?>wysiwyg/icon/icon-services.png" />
            <h3><?php echo __("Dịch vụ khách hàng"); ?></h3>
            <p><?php echo __("Hỗ trợ miễn phí chăm sóc khách hàng"); ?></p>
        </li>
        <li>
            <img src="<?php echo $media_url; ?>wysiwyg/icon/icon-delivery.png" />
            <h3><?php echo __("Dịch vụ giao nhận"); ?></h3>
            <p><?php echo __("Kết nối các công ty vận chuyển với chi phí rẻ nhất"); ?></p>
        </li>
        <li>
            <img src="<?php echo $media_url; ?>wysiwyg/icon/icon-payment.png" />
            <h3><?php echo __("Dịch vụ thanh toán"); ?></h3>
            <p><?php echo __("Kết nối thanh toán tiện dụng và kinh tế. Miễn phí liên kết ví điện tử"); ?></p>
        </li>
    </ul>
</div>