<?php
/** @var \Magento\Framework\View\Element\Template $block */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
?>
<div class="full-wrapper">
    <?php echo $block->getBreadcrums(); ?>
</div>
<div class="row full-wrapper fullwidth main-slider-row" style="height:100%;">
    <div class="container">
        <div class="image-slider-home fullwidth-cnt">
            <?php /*echo $block->getLayout()->createBlock("Magento\Cms\Block\Block")->setBlockId("main-seller-slider")->toHtml(); */?>
            <img src="<?php echo $media_url."wysiwyg/" ?>banner/marketplace-introduce-banner.png" class="w100p" alt=""/>
            <div class="container">
                <div class="market-banner-content">
                    <div class="col-lg-12 col-md-12">
                        <h3><?php echo __("Bạn chỉ việc bán hàng"); ?> </h3>
                        <h3><?php echo __("Mọi thứ  để Wisi lo"); ?> </h3>
                        <p><?php echo __("Fast delivery service"); ?><br/>
                            <?php echo __("Selected products with wisi"); ?><br/>
                            <?php echo __("Miễn phí chiết khấu"); ?></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ws-instruduce">
    <div class="container">
        <ul>
            <li>
                <div class="ws-instruduce-cnt-wrapper">
                    <i class="ico64 ico-market-intro-wisi"></i>
                    <div class="ws-instruduce-cnt">
                        <p class="title"><?php echo __("Giới thiệu"); ?></p>
                        <p class="desc"><?php echo __("sàn Wisi"); ?></p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ws-instruduce-cnt-wrapper">
                    <i class="ico64 ico-market-provider"></i>
                    <div class="ws-instruduce-cnt">
                        <p class="title"><?php echo __("Chính sách"); ?></p>
                        <p class="desc"><?php echo __("nhà bán sỉ"); ?></p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ws-instruduce-cnt-wrapper">
                    <i class="ico64 ico-market-support-provider"></i>
                    <div class="ws-instruduce-cnt">
                        <p class="title"><?php echo __("Hỗ trợ"); ?></p>
                        <p class="desc"><?php echo __("nhà bán sỉ"); ?></p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="ws-open-process">
    <div class="container">
        <div class="ws-open-process-top">
            <h3 class="text-title"><?php echo __("SELL WITH WISI.VN"); ?></h3>
            <p class="text-desc"><?php echo __("Chỉ với"); ?><span class="count-process">3</span><?php echo __("bước đơn giản"); ?></p>
        </div>
        <div class="ws-open-process-body">
            <ul class="ws-open-process-cnt">
                <li>
                    <img src="<?php echo $media_url."wysiwyg/" ?>icon/ico-number-1.png" alt=""/>
                    <p class="ws-open-process-cnt-title"><?php echo __("Điền form Đăng Ký Nhà Bán Sỉ Ký"); ?><br/>
                        <?php echo __("Hợp Đồng hợp tác Bán sỉ"); ?>
                    </p>
                </li>
                <li>
                    <img src="<?php echo $media_url."wysiwyg/" ?>icon/ico-number-2.png" alt=""/>
                    <p class="ws-open-process-cnt-title"><?php echo __("Tham gia khóa học"); ?><br/>
                        <?php echo __("cùng wisi"); ?>
                    </p>
                </li>
                <li>
                    <img src="<?php echo $media_url."wysiwyg/" ?>icon/ico-number-3.png" alt=""/>
                    <p class="ws-open-process-cnt-title"><?php echo __("Đăng bán sản phẩm"); ?></p>
                </li>
            </ul>
            <div class="btn-bottom">
                <a href="<?php echo $block->getUrl(); ?>customer/seller/" class="btn light-color-btn"><?php echo __("Đăng ký Nhà Bán Sỉ"); ?></a>
                <p class="login-bottom"><?php echo __("Bạn đã có tài khoản?"); ?><a onclick="showLoginPopup();"><?php echo __("Đăng nhập"); ?></a></p>
            </div>
        </div>
    </div>
</div>

<div class="ws-why-wisi">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-xs-12 pl50">
            <img src="<?php echo $media_url; ?>wysiwyg/banner/banner-why-wisi.png" />
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 pr50">
            <ul>
                <li><?php echo __("Hệ thống quản lý vận hành hiệu quả và dễ sử dụng"); ?></li>
                <li><?php echo __("Dịch vụ tiếp thị: chương trình bán hàng hàng tháng, quảng bá thương hiệu sản phẩm, quảng cáo đa kênh (banner, email, sms…)"); ?></li>
                <li><?php echo __("Cung cấp dữ liệu về: xu hướng thị trường, nhu cầu người tiêu dùng, chiến lược bán sản phẩm…"); ?></li>
                <li><?php echo __("Dịch vụ thiết kế và tối ưu hóa nội dung sản phẩm"); ?></li>
                <li><?php echo __("Dịch vụ Kho hàng và Vận chuyển"); ?></li>
                <li><?php echo __("Trung tâm Đào tạo"); ?></li>
            </ul>
        </div>
    </div>
</div>

<div class="ws-workflow">
    <div class="container">
        <div class="ws-workflow-top">
            <h3 class="text-title"><span><?php echo __("Đột phá doanh thu cùng"); ?></span> <strong>wisi.vn</strong></h3>
            <h3 class="text-title"><span><?php echo __("Trang web bán sỉ chuyên nghiệp tại Việt Nam"); ?></span></h3>
        </div>
        <div class="ws-workflow-cnt">
            <ul>
                <li>
                    <img src="<?php echo $media_url."wysiwyg/" ?>icon/icon-wisi-login.png" alt=""/>
                    <p><?php echo __("Log in"); ?></p>
                </li>
                <li class="li-border"></li>
                <li>
                    <img src="<?php echo $media_url."wysiwyg/" ?>icon/icon-wisi-create-product.png" alt=""/>
                    <p><?php echo __("Create a product"); ?></p>
                </li>
                <li class="li-border"></li>
                <li>
                    <img src="<?php echo $media_url."wysiwyg/" ?>icon/icon-wisi-share.png" alt=""/>
                    <p><?php echo __("Share"); ?></p>
                </li>
                <li class="li-border"></li>
                <li>
                    <img src="<?php echo $media_url."wysiwyg/" ?>icon/icon-wisi-sell.png" alt=""/>
                    <p><?php echo __("Sell"); ?></p>
                </li>
                <li class="li-border"></li>
                <li>
                    <img src="<?php echo $media_url."wysiwyg/" ?>icon/icon-wisi-profit.png" alt=""/>
                    <p><?php echo __("Profit"); ?></p>
                </li>
            </ul>
            <div class="btn-bottom">
                <a href="<?php echo $block->getUrl(); ?>customer/seller/" class="btn light-color-btn"><?php echo __("Đăng ký Nhà Bán Sỉ"); ?></a>
                <p class="login-bottom"><?php echo __("Bạn đã có tài khoản?"); ?><a onclick="showLoginPopup();"><?php echo __("Đăng nhập"); ?></a></p>
            </div>
        </div>
    </div>
</div>

<style>
.page-title-wrapper {display:none;}
</style>

<script>
function showLoginPopup() {
    jQuery("#action-login-social").click();
}
</script>