<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * @var $block \Magento\Ui\Component\Control\Button
 */
?>
<?php echo $block->getBeforeHtml(); ?>
<button <?php /* @escapeNotVerified */ echo $block->getAttributesHtml(), $block->getUiId(); ?>>
    <span><?php /* @escapeNotVerified */ echo __($block->getLabel()); ?></span>
</button>
<?php echo $block->getAfterHtml(); ?>
