<style>
.custom-combobox-input{
	width:263px;
	height:35px;
}
.ui-menu {
        list-style:none;
        padding: 10px;
        margin: 0;
        display:block;
        max-width:263px;
		max-height:300px;
		overflow-y:scroll;
		z-index:99999;
		background-color:white;
		color:black;
}
.ui-menu .ui-menu {
        margin-top: -3px;
}
.ui-menu .ui-menu-item {
        margin:0;
        padding: 0;
        max-width: 350px;
}
.ui-menu .ui-menu-item a {
        text-decoration:none;
        display:block;
        padding:.2em .4em;
        line-height:1.5;
        zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
        margin: -1px;
}
</style>
<?php
/**
 * Create account form template
 *
 * @var \Magento\Customer\Block\Form\Register $block
 */
?>
<?php echo $block->getChildHtml('form_fields_before')?>
<?php /* Extensions placeholder */ ?>
<?php echo $block->getChildHtml('customer.form.register.extra')?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');
$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$parent_banks = $util->getBankParents();

?>
<script>
countAddress = 1;
</script>
<form class="form create account form-create-account" action="<?php echo $block->escapeUrl($block->getPostActionCreateSeller()) ?>" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off">
    <!--<p><?php echo __("Welcome! You are just one step away to Resell on Wisi System"); ?></p>-->
<!--Form da duoc thay doi - start-->
<style>
    .label-left-middle{
        margin-top: 3px;
    }
    .label-right-middle{
        vertical-align: text-bottom;
    }
    .label-left-middle-input-text{
        margin-top: 3%;
    }
    .label-left-middle-input-select{
        margin-top: 2%;
    }
</style>
<div id="one-step-register">
    <div class="row">
        <!-- step 1 - start -->
        <div id="readyJoin1Cover" class="col-lg-5" style="margin-top:10px">
            <fieldset id="readyJoin1" style="width:100%;height:841px;" class="fieldset create account startjoin" data-hasrequired="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('* Required Fields')) ?>">
                <legend class="legend"><span><?php echo $block->escapeHtml(__('Your Information')) ?></span></legend><br>
                <div class="row">
                    <div class="field business_type requiredRegister required1 col-lg-12 col-md-10 col-sm-10 col-xs-12">
                        <label for="business_type" class="label label-left-middle col-lg-4 col-md-2 col-sm-2 col-xs-12"><span><?php echo $block->escapeHtml(__('Business Type')) ?></span></label>
                        <div class="control col-lg-8 col-md-8 col-sm-9 col-xs-12">
                            <div class="radio-cus">
                                <label>
                                    <input type="radio" id="personal" name="business_type" value="personal" checked="true">
                                    <label class="show-radio-cus" for="personal"></label>
                                    <label for="personal" class="light-label label-right-middle"><?php echo __("Personal"); ?> </label>
                                </label>
                            </div>
                            <div class="radio-cus">
                                <label>
                                    <input type="radio" id="company" name="business_type" value="company">
                                    <label class="show-radio-cus" for="company"></label>
                                    <label for="company" class="light-label label-right-middle"><?php echo __("Company"); ?></label>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field address requiredRegister required1 col-lg-12 col-md-10 col-sm-10 col-xs-12">
                        <label for="address" class="label label-left-middle-input-text col-lg-3 col-md-2 col-sm-2 col-xs-12"><span><?php echo $block->escapeHtml(__('Street')) ?></span></label>
                        <div class="control col-lg-9 col-md-9 col-sm-9 col-xs-12 field-required">
                        <!--Address-->
                            <input type="text" value="" name="address_street" id="address_street" />
                        <!--Address-->
                        </div>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="field telephone requiredRegister required1 col-lg-12 col-md-10 col-sm-10 col-xs-12">
                        <label for="telephone" class="label col-lg-2 col-md-2 col-sm-2 col-xs-12"><span><?php echo $block->escapeHtml(__('SMS Certification')) ?></span></label>
                        <div class="control col-lg-3 col-md-3 col-sm-3 col-xs-12 field-required">
                            <input type="number" name="telephone" id="telephone" value="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr($block->getFormData()->getTelephone()) ?>" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Phone Number')) ?>" class="input-text <?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('telephone')) ?>">
                        </div>
                        <div class="control">
                            <a href="#" class="action create primary">
                                <span><?php echo __("Request Number"); ?></span>
                            </a>
                            <div style="display:inline-block"><input type="text " name="confirm" id="confirm" value=""></div>
                            <a href="#" class="action create primary">
                                <span><?php echo __("Comfirm"); ?></span>
                            </a>
                        </div>
                    </div>
                </div>-->
                <div class="row">
                    <div class="field requiredRegister required1 col-lg-12 col-md-10 col-sm-10 col-xs-12" >
                        <label for="city" class="label label-left-middle-input-text col-lg-3 col-md-2 col-sm-2 col-xs-12"><span><?php echo $block->escapeHtml(__('City')) ?></span></label>
                        <div class="control col-lg-9 col-md-9 col-sm-9 col-xs-12 field-required">
                            <select name="province" id="city_app" class="selectValue" data-default="province" data="province" onchange="getDistrictWard('province', 'provinceText', 'district', 'district');">
                                <option value=''><?php echo __('Please select one') ?></option>
                            </select>
                            <input type="hidden" name="provinceText" id="city" data="provinceText" value="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field requiredRegister required1 col-lg-12 col-md-10 col-sm-10 col-xs-12" >
                        <label for="city" class="label label-left-middle-input-text col-lg-3 col-md-2 col-sm-2 col-xs-12"><span><?php echo $block->escapeHtml(__('District')) ?></span></label>
                        <div class="control col-lg-9 col-md-9 col-sm-9 col-xs-12 field-required">
                            <select name="district" data="district" class="selectValue" onchange="getDistrictWard('district', 'districtText', 'ward', 'ward');">
                                <option value=''><?php echo __('Please select one'); ?></option>
                            </select>
                            <input type="hidden" name="districtText" id="district" data="districtText" value="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field requiredRegister required1 col-lg-12 col-md-10 col-sm-10 col-xs-12" >
                        <label for="city" class="label label-left-middle-input-text col-lg-3 col-md-2 col-sm-2 col-xs-12"><span><?php echo $block->escapeHtml(__('Ward')) ?></span></label>
                        <div class="control col-lg-9 col-md-9 col-sm-9 col-xs-12 field-required">
                            <select name="ward" id="ward" data="ward" class="selectValue" onchange="changeWard('ward', 'wardText');">
                                <option value=''><?php echo __('Please select one'); ?></option>
                            </select>
                            <input type="hidden" name="ward_street" id="ward_street" data="wardText" value="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field requiredRegister required1 col-lg-12 col-md-10 col-sm-10 col-xs-12" >
                        <label for="password" class="label label-left-middle-input-text col-lg-3 col-md-2 col-sm-2 col-xs-12"><span><?php echo $block->escapeHtml(__('Password')) ?></span></label>
                        <div class="control col-lg-9 col-md-9 col-sm-9 col-xs-12 field-required" data-mage-init='{"passwordStrengthIndicator": {}}'>
                            <input type="password" name="password" id="password"
                                title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Password')) ?>"
                                class="input-text" />
                            <div id="password-strength-meter-container" data-role="password-strength-meter" >
                                <div id="password-strength-meter" class="password-strength-meter">
                                    <?php echo $block->escapeHtml(__('Password Strength')); ?>:
                                    <span id="password-strength-meter-label" data-role="password-strength-meter-label" >
                                        <?php echo $block->escapeHtml(__('No Password')); ?>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field confirmation requiredRegister required1 col-lg-12 col-md-10 col-sm-10 col-xs-12">
                        <label for="password-confirmation" class="label label-left-middle-input-text col-lg-4 col-md-2 col-sm-2 col-xs-12"><span><?php echo $block->escapeHtml(__('Confirm Password')) ?></span></label>
                        <div class="control col-lg-8 col-md-9 col-sm-9 col-xs-12 field-required">
                            <input type="password" name="password_confirmation" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Confirm Password')) ?>" id="password-confirmation" class="input-text">
                            <div for="password_confirmation" generated="true" class="mage-error-style1" id="confirm-pass-error"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field email requiredRegister required1 col-lg-12 col-md-10 col-sm-10 col-xs-12">
                        <label for="email_address" class="label label-left-middle-input-text col-lg-3 col-md-2 col-sm-2 col-xs-12"><span><?php echo $block->escapeHtml(__('Email')) ?></span></label>
                        <div class="control col-lg-9 col-md-9 col-sm-9 col-xs-12 field-required">
                            <input type="email" name="email" autocomplete="email" id="email_address" value="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr($block->getFormData()->getEmail()) ?>" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Email')) ?>" class="input-text">
                            <div for="email" generated="true" class="mage-error-style1" id="email-error"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field shopname requiredRegister required1 col-lg-12 col-md-10 col-sm-10 col-xs-12">
                        <label for="shopname" class="label label-left-middle-input-text col-lg-3 col-md-2 col-sm-2 col-xs-12"><span><?php echo $block->escapeHtml(__('Phone Number')) ?></span></label>
                        <div class="control col-lg-9 col-md-9 col-sm-9 col-xs-12 field-required">
                            <input type="text" name="phone" id="phone" value="" title="" class="input-text" maxlength="11">
                            <div for="phone_number" generated="true" class="mage-error" id="phone_number-error" style="display: none;"><?php echo $block->escapeHtml(__('Please enter a valid phone number')) ?></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field shopname col-lg-12 col-md-10 col-sm-10 col-xs-12">
                        <label for="shopname" class="label label-left-middle-input-text col-lg-3 col-md-2 col-sm-2 col-xs-12"><span><?php echo $block->escapeHtml(__('Shop Name')) ?></span></label>
                        <div class="control col-lg-9 col-md-9 col-sm-9 col-xs-12 field-required">
                            <input type="text" name="shopname" id="shopname" value="" title="" class="input-text">
                        </div>
                    </div>
                </div>
                <?php echo $block->getChildHtml('form_additional_info'); ?>
                <!--<div class="row">
                    <div class="actions-toolbar col-lg-10 col-md-10 col-sm-10 col-xs-12" style="border:0px; padding:0px;">
                        <div class="primary" style="width:100%;">
                            <button type="button" id="btn-readyJoin" data-ui-id="btn-readyJoin" style="float:right;" class="action submit primary" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Create an Account')) ?>" style="alig"><span><?php echo $block->escapeHtml(__('Join Reseller')) ?></span></button>
                        </div>
                    </div>
                </div>-->
            </fieldset>
        </div>
       <!-- step 1 - end -->
       <!-- step 2 - start -->
        <div id="addAdress2Cover"  class="col-lg-7" style="display:none">
            <fieldset style="width:100%;" class="fieldset create account addAddressReseller" data-hasrequired="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('* Required Fields')) ?>">
                <legend class="legend"><span><?php echo $block->escapeHtml(__('Warehouse Address')) ?></span></legend><br>
                <div class="row">
                    <div class="field addressReseller col-lg-12 col-md-10 col-sm-10 col-xs-12">
                        <div class="control col-lg-12 col-md-9 col-sm-9 col-xs-12">
                            <div class="radio-cus">
                                <label>
                                    <input type="radio" id="disable" name="address_ware_house_reseller" value="1" checked="true" onchange="switchWarehouse('1');">               <!-- Wisi warehouse -->
                                    <label class="show-radio-cus" for="disable"></label>
                                    <label for="disable" class="light-label label-right-middle"><?php echo __("WISI warehouse starts shipping"); ?> </label>
                                </label>
                            </div>
                            <div class="radio-cus">
                                <label>
                                    <input type="radio" id="enable" name="address_ware_house_reseller" value="2" onchange="switchWarehouse('2');">                               <!-- Reseller warehouse -->
                                    <label class="show-radio-cus" for="enable"></label>
                                    <label for="enable" class="light-label label-right-middle"><?php echo __("I have warehouse avaliable"); ?></label>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row title-address">
                    <!--<div class="col-md-2">
                        <p><?php echo __("Country") ?></p>
                    </div>-->
                    <div class="col-md-3">
                        <p><?php echo __("Address") ?></p>
                    </div>
                    <div class="col-md-3">
                        <p><?php echo __("City") ?></p>
                    </div>
                    <div class="col-md-3">
                        <p><?php echo __("District") ?></p>
                    </div>
                    <div class="col-md-3">
                        <p><?php echo __("Ward") ?></p>
                    </div>
                </div>
                <div class="row" id="addAddressContent">
                    <!-- Address Wisi -->
                    <div class="row col-lg-12 col-md-12 col-xs-12 requiredRegister required2" id="addressWisi" style='padding: 0;' validateType="wisiWarehouse">
                        <!--<div class="col-md-2 field-required">
                            <select id="warehouseCountry" name="warehouseCountry" class="selectValue">
                                <option value="vietnam">Việt Nam</option>
                            </select>
                        </div>-->
                        <div class="col-md-3 field-required">
                            <input type="text" name="warehouseAddress[]" value="208 Nguyễn Hữu Cảnh" readonly/>
                        </div>
                        <div class="col-md-3 field-required">
                            <select name="warehouseProvince[]" class="selectValue" readonly>
                                <option value="202" selected>Hồ Chí Minh</option>
                            </select>
                            <input type="hidden" name="wareProvinceText[]" data="wareProvinceText_0" value="Hồ Chí Minh">
                        </div>
                        <div class="col-md-3 field-required">
                            <select name="warehouseDistrict[]" class="selectValue" readonly>
                                <option value="1462" selected>Quận Bình Thạnh</option>
                            </select>
                            <input type="hidden" name="wareDistrictText[]" data="wareDistrictText_0" value="Quận Bình Thạnh">
                        </div>
                        <div class="col-md-3 field-required">
                            <select name="warehouseWard[]" class="selectValue" readonly>
                                <option value="21615" selected>Phường 22</option>
                            </select>
                            <input type="hidden" name="wareWardText[]" data="wareWardText_0" value="Phường 22">
                        </div>
                    </div>
                    <!-- Address Wisi -->
                    <!-- Address Reseller's Warehouse -->
                    <div id="showAddAddress" class="hide">
                        <div>
                            <div class="row col-lg-12 col-md-12 col-xs-12 required2 mb-30">
                                <div validateType="sellerWarehouse">
                                    <div class="col-md-3 field-required">
                                        <input type="text" name="sellerWarehouseAddress[]" value=""/>
                                    </div>
                                </div>
                                <div validateType="sellerWarehouse">
                                    <div class="col-md-3 field-required">
                                        <select name="sellerWarehouseProvince[]" class="selectValue" data-default="province" data="wareProvince_0" onchange="getDistrictWard('wareProvince_0', 'wareProvinceText_0','wareDistrict_0', 'district');">
                                            <option value=""><?php echo __("Please select one"); ?></option>
                                        </select>
                                        <input type="hidden" name="sellerWareProvinceText[]" data="wareProvinceText_0" value="">
                                    </div>
                                </div>
                                <div validateType="sellerWarehouse">
                                    <div class="col-md-3 field-required">
                                        <select name="sellerWarehouseDistrict[]" class="selectValue" data="wareDistrict_0" onchange="getDistrictWard('wareDistrict_0', 'wareDistrictText_0', 'wareWard_0', 'ward');">
                                            <option value=""><?php echo __("Please select one"); ?></option>
                                        </select>
                                        <input type="hidden" name="sellerWareDistrictText[]" data="wareDistrictText_0" value="">
                                    </div>
                                </div>
                                <div validateType="sellerWarehouse">
                                    <div class="col-md-3 field-required">
                                        <select name="sellerWarehouseWard[]" class="selectValue" data="wareWard_0" onchange="changeWard('wareWard_0', 'wareWardText_0')">
                                            <option value=""><?php echo __("Please select one"); ?></option>
                                        </select>
                                        <input type="hidden" name="sellerWareWardText[]" data="wareWardText_0" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div id="addAddressBtn" class="row hide">
                         <div class="row col-lg-12 col-md-12 col-xs-12" style="margin: 15px 0px;">
                             <button type="button" class="addAddress mt10" id="addAddress" style="margin-left: 15px;" onclick="fnAddAddressWarehouse();"><?php echo __("Add another warehouse address"); ?></button>
                         </div>
                    </div> -->
                    <!-- Address Reseller's Warehouse -->
                </div>
                <?php echo $block->getChildHtml('form_additional_info'); ?>
            </fieldset>
        </div>
       <!-- step 2 - end -->
       <!-- step 3 - start -->
        <div id="verifyID3Cover" style='margin-top:10px'  class="col-lg-7">
            <fieldset style="width:100%" class="fieldset create account verifyID" data-hasrequired="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('* Required Fields')) ?>">
                <legend class="legend"><span><?php echo $block->escapeHtml(__('Verify Identification Card')) ?></span></legend><br>
                <div class="row">
                    <div class="field requiredRegister required3 col-lg-12 col-md-10 col-sm-10 col-xs-12">
                        <label for="idType" class="label label-left-middle-input-select col-lg-3 col-md-2 col-sm-2 col-xs-12">
                            <span><?php echo $block->escapeHtml(__('ID Type')) ?></span>
                        </label>
                        <div class="control col-lg-9 col-md-9 col-sm-9 col-xs-12 field-required">
                            <select className="form-control" name="idType" id="idType" class="selectValue">
                                <option value=""><?php echo __("Please select one"); ?></option>
                                <option value="1"><?php echo __("Identity Card"); ?></option>
                                <option value="2"><?php echo __("Business Registration"); ?></option>
                                <option value="3"><?php echo __("Passport") ?></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field requiredRegister required3 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="fullname" class="label label-left-middle-input-select col-lg-3 col-md-2 col-sm-2 col-xs-12">
                            <span><?php echo $block->escapeHtml(__('Name')) ?></span>
                        </label>
                        <div class="control col-lg-9 col-md-9 col-sm-9 col-xs-12 field-required">
                            <input type="text" name="fullname" id="fullname" value="" class="input-text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field requiredRegister required3 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="idNumber" class="label label-left-middle-input-select col-lg-3 col-md-2 col-sm-2 col-xs-12">
                            <span><?php echo $block->escapeHtml(__('ID/Passport number')) ?></span>
                        </label>
                        <div class="control col-lg-9 col-md-9 col-sm-9 col-xs-12 field-required">
                            <input type="text" name="idNumber" id="idNumber" value="" class="input-text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field requiredRegister required3 col-lg-12 col-md-10 col-sm-10 col-xs-12">
                        <label for="idFrontImg" class="label col-lg-3 label-left-middle-input-select col-md-2 col-sm-2 col-xs-12">
                            <span><?php echo $block->escapeHtml(__('Upload ID - Front Side')) ?></span>
                        </label>
                        <div class="control upload_folder col-lg-9 col-md-9 col-sm-9 col-xs-12">
                            <div class="upload_folder">
                                <ul class="field-wrapper">
                                    <div class="control field-required">
                                        <button type="button" class="upload-file-btn base-color-btn"><?php echo __('Upload File') ?></button>
                                        <span class="file-name"></span>
                                        <input type="file" name="idFrontImg" id="idFrontImg" file-extension="JPG, PNG" value="" style="width: 0px;height: 0px;opacity: 0;display: inline-block;"/>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field requiredRegister required3 col-lg-12 col-md-10 col-sm-10 col-xs-12">
                        <label for="idBackImg" class="label label-left-middle-input-select col-lg-3 col-md-2 col-sm-2 col-xs-12">
                            <span>
                                <?php echo $block->escapeHtml(__('Upload ID - Back Side')) ?>
                            </span>
                        </label>
                        <div class="control upload_folder col-lg-9 col-md-9 col-sm-9 col-xs-12">
                            <div class="upload_folder">
                                <ul class="field-wrapper">
                                    <div class="control field-required">
                                        <button type="button" class="upload-file-btn base-color-btn"><?php echo __('Upload File') ?></button>
                                        <span class="file-name"></span>
                                        <input type="file" name="idBackImg" id="idBackImg" file-extension="JPG, PNG" value="" style="width: 0px;height: 0px;opacity: 0;display: inline-block;"/>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <?php echo $block->getChildHtml('form_additional_info'); ?>
            </fieldset>
        </div>
       <!-- step 3 - end -->
       <!-- step 4 - start -->
        <div id="bankAccount4Cover" class="col-lg-7" style='margin-top:10px'>
            <fieldset style="width:100%" class="fieldset create account addBankAccount" data-hasrequired="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('* Required Fields')) ?>">
                <legend class="legend"><span><?php echo $block->escapeHtml(__('Bank Account')) ?></span></legend><br>
                <div class="row">
                    <div class="field requiredRegister required4 col-lg-10 col-md-10 col-sm-10 col-xs-12">
                        <label for="bankAccountNumber" class="label col-lg-2 col-md-2 col-sm-2 col-xs-12"><?php echo $block->escapeHtml(__('Account Number')) ?></label>
                        <div class="control col-lg-9 col-md-9 col-sm-9 col-xs-12 field-required">
                            <input type="number" name="bankAccountNumber" id="bankAccountNumber" value="" class="input-text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field requiredRegister required4 col-lg-10 col-md-10 col-sm-10 col-xs-12">
                        <label for="bankName" class="label col-lg-2 col-md-2 col-sm-2 col-xs-12"><?php echo $block->escapeHtml(__('Bank')) ?></label>
                        <div class="control col-lg-9 col-md-9 col-sm-9 col-xs-12 field-required">
                            <select name="bank_name" id="bank_name">
                                <option value=""><?php echo __("Please select one"); ?></option>
                                <?php foreach($parent_banks as $parent_bank) { ?>
                                    <optgroup label="<?php echo $parent_bank['name'] ?>"></optgroup>
                                    <?php
                                        $banks = $util->getBankList($parent_bank["id"]);
                                        foreach ($banks as $bank) { ?>
                                            <option value="<?php echo $bank['id']. "|". $bank['name']; ?>"><?php echo $bank['name']; ?> - <?php echo $bank['short_name']; ?></option>
                                        <?php } ?>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field col-lg-10 col-md-10 col-sm-10 col-xs-12">
                        <label for="branchName" class="label col-lg-2 col-md-2 col-sm-2 col-xs-12"><?php echo $block->escapeHtml(__('Branch Name')) ?></label>
                        <div class="control col-lg-9 col-md-9 col-sm-9 col-xs-12">
                            <input type="text" value="" name="branchName" id="branchName"/>
                        </div>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="field  col-lg-10 col-md-10 col-sm-10 col-xs-12">
                        <label for="bankCode" class="label col-lg-2 col-md-2 col-sm-2 col-xs-12"><?php echo $block->escapeHtml(__('Bank Code')) ?></label>
                        <div class="control col-lg-9 col-md-9 col-sm-9 col-xs-12">
                            <input type="text" name="bankCode" id="bankCode" value="" class="input-text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field  col-lg-10 col-md-10 col-sm-10 col-xs-12">
                        <label for="swift" class="label col-lg-2 col-md-2 col-sm-2 col-xs-12"><?php echo $block->escapeHtml(__('Swift')) ?></label>
                        <div class="control col-lg-9 col-md-9 col-sm-9 col-xs-12">
                            <input type="text" name="swift" id="swift" value="" class="input-text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field col-lg-10 col-md-10 col-sm-10 col-xs-12">
                        <label for="bankDocument" class="label col-lg-2 col-md-2 col-sm-2 col-xs-12"><?php echo $block->escapeHtml(__('Bank Document')) ?></label>
                        <div class="control upload_folder col-lg-9 col-md-9 col-sm-9 col-xs-12">
                            <div class="upload_folder">
                                <ul class="field-wrapper">
                                    <div class="control">
                                        <button type="button" class="upload-file-btn base-color-btn"><?php echo __('Upload File') ?></button>
                                        <span class="file-name"></span>
                                        <input type="file" name="bankDocument" id="bankDocument" file-extension="JPG, PNG" value="" style="width: 0px;height: 0px;opacity: 0;display: inline-block;"/>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="row">
                    <div class="field acceptTerm requiredRegister required1 col-lg-12 col-md-10 col-sm-10 col-xs-12">
                            <div class="control col-lg-12 col-md-9 col-sm-9 col-xs-12 field-required acceptTerm_alert">
                                <label>
                                    <input type="checkbox" id="acceptTerm" name="acceptTerm"/>
                                    <span style='vertical-align: text-bottom;margin-left:10px'>
                                    <?php echo __('I accept Terms and Conditions') ?>
                                    </span>
                                </label>
                            </div>
                    </div>
                </div>
                <?php echo $block->getChildHtml('form_additional_info'); ?>
                <div class="actions-toolbar" style="border:0px; padding:0px;">
                    <div class="primary" style="width:100%;">
                        <button style="float:right;" id="btn-bankAccountStep4" type="button" class="action submit primary next" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Complete')) ?>" style="alig"><span><?php echo $block->escapeHtml(__('Submit')) ?></span></button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
   <!-- step 4 - end -->
   <!--Form da duoc thay doi - end-->
</form>
<!-- Function: Add more Address of step 2 - start -->
<script>
    function fnAddAddressWarehouse() {
        var row = `
            <div class="row col-lg-12 col-md-12 col-xs-12 required2 mb-30">
                <div class="requiredRegister" validateType="sellerWarehouse">    
                    <div class="col-md-3 field-required">
                        <input type="text" name="sellerWarehouseAddress[]" value=""/>
                    </div>
                </div>
                <div class="requiredRegister" validateType="sellerWarehouse">    
                    <div class="col-md-3 field-required">
                        <select name="sellerWarehouseProvince[]" class="selectValue" data-default="province" data="wareProvince_${countAddress}" onchange="getDistrictWard('wareProvince_${countAddress}', 'wareProvinceText_${countAddress}', 'wareDistrict_${countAddress}', 'district');">
                            <option value="">Please select one</option>
                        </select>
                        <input type="hidden" name="sellerWareProvinceText[]" data="wareProvinceText_${countAddress}" value="">
                    </div>
                </div>
                <div class="requiredRegister" validateType="sellerWarehouse">    
                    <div class="col-md-3 field-required">
                        <select name="sellerWarehouseDistrict[]" class="selectValue" data="wareDistrict_${countAddress}" onchange="getDistrictWard('wareDistrict_${countAddress}', 'wareDistrictText_${countAddress}', 'wareWard_${countAddress}', 'ward');">
                            <option value="">Please select one</option>
                        </select>
                        <input type="hidden" name="sellerWareDistrictText[]" data="wareDistrictText_${countAddress}" value="">
                    </div>
                </div>
                <div class="requiredRegister" validateType="sellerWarehouse">    
                    <div class="col-md-3 field-required">
                        <select name="sellerWarehouseWard[]" class="selectValue" data="wareWard_${countAddress}" onchange="changeWard('wareWard_${countAddress}', 'wareWardText_${countAddress}')">
                            <option value="">Please select one</option>
                        </select>
                        <input type="hidden" name="sellerWareWardText[]" data="wareWardText_${countAddress}" value="">
                    </div>
                </div>
            </div>
        `;
        getProvince();
        jQuery("#showAddAddress").append(row);
        countAddress++;
    }
</script>
<!-- Function: Add more Address of step 2 - end -->
<!-- Function: Validate Form - start -->
<script type="text/javascript">
/**
  * Name : Nam
  * Date : 20/11/2018
  * Comments : switch warehouse
  * Filename : This
  * Param : 
*/
function switchWarehouse(type) {             //1: WISI           2: reseller
    switch (type) {
        case "1":
            jQuery(document).find(`div[validateType="wisiWarehouse"]`).addClass("requiredRegister");
            jQuery(document).find(`div[validateType="sellerWarehouse"]`).removeClass("requiredRegister");
            break;

        case "2":
            jQuery(document).find(`div[validateType="wisiWarehouse"]`).removeClass("requiredRegister");
            jQuery(document).find(`div[validateType="sellerWarehouse"]`).addClass("requiredRegister");
        break;
    }
    
}

require([
    'jquery',
    'Magento_Ui/js/modal/modal',
	'combobox'
], function ($, modal,combobox) {
	$(function() {
		$.widget( "custom.combobox", {
			_create: function() {
				this.wrapper = $( "<span>" )
				.addClass( "custom-combobox" )
				.insertAfter( this.element );
		
				this.element.hide();
				this._createAutocomplete();
				this._createShowAllButton();
			},
		
			_createAutocomplete: function() {
				var selected = this.element.children( ":selected" ),
				value = selected.val() ? selected.text() : "";
		
				this.input = $( "<input>" )
				.appendTo( this.wrapper )
				.val( value )
				.attr( "title", "" )
				.addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
				.autocomplete({
					delay: 0,
					minLength: 0,
					source: $.proxy( this, "_source" )
				})
				.tooltip({
					classes: {
					"ui-tooltip": "ui-state-highlight"
					}
				});
		
				this._on( this.input, {
				autocompleteselect: function( event, ui ) {
					ui.item.option.selected = true;
					this._trigger( "select", event, {
					item: ui.item.option
					});
				},
		
				autocompletechange: "_removeIfInvalid"
				});
			},
		
			_createShowAllButton: function() {
				var input = this.input,
				wasOpen = false;
		
				$( "<a>" )
				.attr( "tabIndex", -1 )
				.attr( "title", "Show All Items" )
				.tooltip()
				.appendTo( this.wrapper )
				.button({
					icons: {
					primary: "ui-icon-triangle-1-s"
					},
					text: false
				})
				.removeClass( "ui-corner-all" )
				.addClass( "custom-combobox-toggle ui-corner-right" )
				.on( "mousedown", function() {
					wasOpen = input.autocomplete( "widget" ).is( ":visible" );
				})
				.on( "click", function() {
					input.trigger( "focus" );
		
					// Close if already visible
					if ( wasOpen ) {
					return;
					}
		
					// Pass empty string as value to search for, displaying all results
					input.autocomplete( "search", "" );
				});
			},
		
			_source: function( request, response ) {
				var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
				response( this.element.children( "option" ).map(function() {
				var text = $( this ).text();
				if ( this.value && ( !request.term || matcher.test(text) ) )
					return {
					label: text,
					value: text,
					option: this
					};
				}) );
			},
		
			_removeIfInvalid: function( event, ui ) {
		
				// Selected an item, nothing to do
				if ( ui.item ) {
				return;
				}
		
				// Search for a match (case-insensitive)
				var value = this.input.val(),
				valueLowerCase = value.toLowerCase(),
				valid = false;
				this.element.children( "option" ).each(function() {
				if ( $( this ).text().toLowerCase() === valueLowerCase ) {
					this.selected = valid = true;
					return false;
				}
				});
		
				// Found a match, nothing to do
				if ( valid ) {
				return;
				}
		
				// Remove invalid value
				this.input
				.val( "" )
				.attr( "title", value + " didn't match any item" )
				.tooltip( "open" );
				this.element.val( "" );
				this._delay(function() {
				this.input.tooltip( "close" ).attr( "title", "" );
				}, 2500 );
				this.input.autocomplete( "instance" ).term = "";
			},
		
			_destroy: function() {
				this.wrapper.remove();
				this.element.show();
			}
		});
	})
    $(document).ready(function(){
        /**
            * Name : Nam
            * Date : 20/11/2018
            * Comments : validate all form
            * Filename : This
            * Param : 
            */
		$("#bank_name").combobox();
        $("div.requiredRegister input").blur(function(){
            var elem = $(this);
            var parentOfInput = elem.parent();
            if(elem.val() != ""){
                elem.removeClass("mage-error");
                parentOfInput.find('.field-error').remove();
            }
        });
        $("div.requiredRegister select").change(function(){
            var elem = $(this);
            var parentOfInput = elem.parent();
            if(elem.val() != ""){
                elem.removeClass("mage-error");
                parentOfInput.find('.field-error').remove();
            }
        });
        $("#idFrontImg").change(function(e){
            var elem = $(this);
            var parentOfInput = elem.parent();
            if(elem.val() != ""){
                elem.removeClass("mage-error");
                parentOfInput.find('.field-error').remove();
            }  
        });
        $("#idBackImg").change(function(e){
            var elem = $(this);
            var parentOfInput = elem.parent();
            if(elem.val() != ""){
                elem.removeClass("mage-error");
                parentOfInput.find('.field-error').remove();
            }  
        });
        function validateAllFields(){
            var required = $("div.requiredRegister");
            var catchError = false;
            var error_content = '<label class="field-error" ><?php echo __("This is a required field."); ?></label>';
            var acceptTermCover = $('#acceptTerm').prop('checked');

            var value_pass = $("#password").val();
            var value_confirm_pass = $("#password-confirmation").val();
            if(value_pass != value_confirm_pass){
                $("#password").addClass("mage-error");
                $("#password-confirmation").addClass("mage-error");
                catchError = true;
            } else {
                $("#password").removeClass("mage-error");
                $("#password-confirmation").removeClass("mage-error");
            }

            if (acceptTermCover == false) {
                $(".acceptTerm_alert").append('<label class="field-error" ><?php echo __("This is a required field."); ?></label>');
                catchError = true;
            }

            required.each(function(){
                var elem = $(this);
                var inputType = elem.find('input');
                var valueOfInput = inputType.val();
                var selectType = elem.find('.selectValue');
                var valueOfSelect = selectType.val();
                var parentOfInput = elem.find(".field-required");
                if (selectType.length > 0) {
                    if(valueOfSelect == ""){
                        if (parentOfInput.find('.field-error').length == 0) {
                            parentOfInput.append(error_content);
                        }
                        catchError = true;
                        selectType.addClass("mage-error");
                    } else {
                        selectType.removeClass("mage-error");
                        parentOfInput.find('.field-error').remove();
                    }
                } else if (inputType.length > 0) {
                    if(valueOfInput == ""){
                        if (parentOfInput.find('.field-error').length == 0 ) {
                            parentOfInput.append(error_content);
                        }
                        catchError = true;
                        inputType.addClass("mage-error");
                    } else {
                        inputType.removeClass("mage-error");
                        parentOfInput.find('.field-error').remove();
                    }
                }
            });
            
            if(catchError == true){
                return false; 
            }
            return true;
        }

        // Function: Validate for Step 1
            function validateJoinStep1(){
                var required = $("div.required1");
                var catchError = false;
                var error_content = '<label class="field-error" ><?php echo __("This is a required field."); ?></label>';
                required.each(function(){
                    var elem = $(this);
                    var inputType = elem.find('input');
                    var valueOfInput = inputType.val();
                    var selectType = elem.find('.selectValue');
                    var valueOfSelect = selectType.val();
                    var parentOfInput = elem.find(".field-required");
                    if(valueOfInput == ""){
                        if (parentOfInput.find('.field-error').length == 0 ) {
                            parentOfInput.append(error_content);
                        }
                        catchError = true;
                        inputType.addClass("mage-error");
                    } else {
                        inputType.removeClass("mage-error");
                    }

                    if(valueOfSelect == ""){
                        if (parentOfInput.find('.field-error').length == 0) {
                            parentOfInput.append(error_content);
                        }
                        catchError = true;
                        selectType.addClass("mage-error");
                    } else {
                        selectType.removeClass("mage-error");
                    }
                });
                var value_pass = $("#password").val();
                var value_confirm_pass = $("#password-confirmation").val();
                if(value_pass != value_confirm_pass){
                    catchError = true;
                    $("#password").addClass("mage-error");
                    $("#password-confirmation").addClass("mage-error");
                } else {
                    $("#password").removeClass("mage-error");
                    $("#password-confirmation").removeClass("mage-error");
                }
                if(catchError == true){
                    return false; 
                }
                return true;
            }
            $("#password-confirmation").blur(function(){
                var value_pass = $("#password").val();
                var value_confirm_pass = $("#password-confirmation").val();
                if(value_pass != value_confirm_pass){
                    $("#confirm-pass-error").text("<?php echo  __('Mật khẩu xác nhận không trùng khớp') ?>");
                    $("#password").addClass("mage-error");
                    $("#password-confirmation").addClass("mage-error");
                } else {
                    $("#password").removeClass("mage-error");
                    $("#password-confirmation").removeClass("mage-error");
                }
            });
            $("#btn-readyJoin").click(function(){
                //if ok pass form
                if(validateJoinStep1()){
                    $("#readyJoin1Cover").hide();
                    $("#addAdress2Cover").show();
                }
            })
        // Function: Validate for Step 2
            $(document).on('change', 'input[name=address_ware_house_reseller]', function() {
                if (this.value == '2') {                    //wisi warehouse
                    $("#showAddAddress").removeClass("hide");
                    $("#addAddressBtn").removeClass("hide");
                    $("#addressWisi").hide();
                } else if(this.value == '1') {              //seller warehouse
                    $("#showAddAddress").addClass("hide");
                    $("#addAddressBtn").addClass("hide");
                    $("#addressWisi").show();
                    getProvince();
                }
            })
            function validateAddAddress2(){
                var required = $("div.required2");
                var catchError = false;
                var error_content = '<label class="field-error" >This is a required field.</label>';
                required.each(function(){
                    var elem = $(this);
                    var inputType = elem.find('input');
                    var selectType = elem.find('.selectValue');
                    var valueOfInput = inputType.val();
                    var valueOfSelect = selectType.val();
                    var parentOfInput = elem.find(".field-required");
                    if(valueOfInput == ""){
                        if (parentOfInput.find('.field-error').length == 0 ) {
                            parentOfInput.append(error_content);
                        }
                        catchError = true;
                        
                    } 
                    if(valueOfSelect == ""){
                        if (parentOfInput.find('.field-error').length == 0) {
                            parentOfInput.append(error_content);
                        }
                        catchError = true;
                    }
                });
                if(catchError == true){
                    return false; 
                }
                return true;
            }
            $("#btn-addAddress").click(function(){
                //if ok pass form
                if(validateAddAddress2()){
                    $("#addAdress2Cover").hide();
                    $("#verifyID3Cover").show();
                } else {}
            });
        // Function: Validate for Step 3
            function validateVerifyID3(){
                var required = $("div.required3");
                var catchError = false;
                var error_content = '<label class="field-error" ><?php echo __("This is a required field."); ?></label>';
                required.each(function(){
                    var elem = $(this);
                    var inputType = elem.find('input');
                    var valueOfInput = inputType.val();
                    var selectType = elem.find('.selectValue');
                    var valueOfSelect = selectType.val();
                    var parentOfInput = elem.find(".field-required");
                    if(valueOfInput == ""){
                        if (parentOfInput.find('.field-error').length == 0 ) {
                            parentOfInput.append(error_content);
                        }
                        catchError = true;
                        
                    } 
                    if(valueOfSelect == ""){
                        if (parentOfInput.find('.field-error').length == 0) {
                            parentOfInput.append(error_content);
                        }
                        catchError = true;
                    }
                });
                if(catchError == true){
                    return false; 
                }
                return true;
            }
            $("#btn-varifyStep3").click(function(){
            //if ok pass form
                if(validateVerifyID3()){
                    $("#verifyID3Cover").hide();
                    $("#bankAccount4Cover").show();
                }
            })
        //Function: Validate for Step 4
            function validateBankAccount4(){
                var required = $("div.required4");
                var catchError = false;
                var error_content = '<label class="field-error" ><?php echo __("This is a required field."); ?></label>';
                var acceptTermCover = $('#acceptTerm').prop('checked');
                required.each(function(){
                    var elem = $(this);
                    var inputType = elem.find('input');
                    var valueOfInput = inputType.val();
                    var selectType = elem.find('.selectValue');
                    var valueOfSelect = selectType.val();
                    var parentOfInput = elem.find(".field-required");
                    if(valueOfInput == ""){
                        if (parentOfInput.find('.field-error').length == 0 ) {
                            parentOfInput.append(error_content);
                        }
                        catchError = true;
                        
                    } 
                    if(valueOfSelect == ""){
                        if (parentOfInput.find('.field-error').length == 0) {
                            parentOfInput.append(error_content);
                        }
                        catchError = true;
                    }
                });
                if (acceptTermCover == false) {
                        $(".acceptTerm_alert").append('<label class="field-error" ><?php echo __("This is a required field."); ?></label>');
                    catchError = true;
                }
                if(catchError == true){
                    return false; 
                }
                return true;
            }
            $("#btn-bankAccountStep4").click(function(){
                //if ok pass form
                /* var valid_step_1 = false;
                var valid_step_2 = false;
                var valid_step_3 = false;
                var valid_step_4 = false;
                if(validateJoinStep1()){
                    valid_step_1 = true;
                }
                if(validateAddAddress2()){
                    valid_step_2 = true;
                }
                if(validateVerifyID3()){
                    valid_step_3 = true;
                }
                if(validateBankAccount4()){
                    valid_step_4 = true;
                } 
                if(valid_step_1 == true && valid_step_2 == true && valid_step_3 == true && valid_step_4 == true){
                    $("#form-validate").submit();
                }
                */

                let valid_all_fields = false;
                if(validateAllFields()){
                    valid_all_fields = true;
                }

                if(valid_all_fields == true){
                    $("#form-validate").submit();
                }
                    

                
            }); 
    });
});
</script>
<!-- Function: Validate Form - end -->
<style>
    .fieldset{ font-size:13px; padding: 30px 30px 30px 60px !important; }
    .fieldset .field{ padding:15px; }
    .fieldset .field.required1 .label:after{ content: '*'; color: #e02b27; font-size: 1.2rem; margin: 0 0 0 5px; }
    .fieldset .field.required3 .label:after{ content: '*'; color: #e02b27; font-size: 1.2rem; margin: 0 0 0 5px; }
    .fieldset .field.required4 .label:after{ content: '*'; color: #e02b27; font-size: 1.2rem; margin: 0 0 0 5px; }
    .title-address p:after{ content: '*'; color: #e02b27; font-size: 1.2rem; margin: 0 0 0 5px; }
    .next{ margin-right:30px !important; background:#f36525; }
    .radio-cus{ margin:0px 15px; }
    .field-error, label.mage-error { color: #e02b27; position: absolute; }
    input[type="text"], input[type="password"] {height: 32px;}
</style>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$url_website = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
?>
<script>
    /**
     * Name : Nam
     * Date : 19/11/2018
     * Comments : Get province
     * Filename : this
     * Param : 
     */
    function getProvince(){
        jQuery.ajax({
            url: '<?php echo $url_website ?>onestepcheckout/api/getprovince',
            method: "GET",
            dataType:'json',
            success: function (data) {
                $jsonReturn = data;
                $optionsCity =  "<option value=''><?php echo __('Please select one') ?></option>";
                for (var i=0;i<$jsonReturn.length;++i) {
                    $optionsCity+="<option value="+$jsonReturn[i].province_id+">"+$jsonReturn[i].province_name+"</option>"
                }
                jQuery(`select[data-default="province"]`).each((index, item) => {
                    if (jQuery(item).val() == "") {
                        jQuery(item).html($optionsCity);
                    }
                })
                
            }
        });
    }

    /* function getDistrict(dataSourceName, dataDescName){
        $valueCity = jQuery(`select[data='${dataSourceName}'] option:selected`).val();
        $textCity = $( "#city_app option:selected" ).text();
        $.ajax({
            url: '<?php echo $url_website ?>onestepcheckout/api/getdistrict/province/'+$valueCity,
            method: "GET",
            dataType:'json',
            success: function (data) {
                $jsonReturn = data;
                $optionsDistrict =  "<option value=''><?php echo __('Please select one'); ?></option>";
                for (var i=0;i<$jsonReturn.length;++i) {
                    $optionsDistrict+="<option value="+$jsonReturn[i].district_id+">"+$jsonReturn[i].district_name+"</option>"
                }
                jQuery(`select[data='${dataDescName}']`).html($optionsWard);
            }
        });
        $("#city").val($textCity);
    }
 */

    /**
     * Name : Nam
     * Date : 20/11/2018
     * Comments : Get district, ward
     * Filename : this
     * Param : 
     */
    function getDistrictWard(dataSourceName, dataLabel, dataDescName, type){
        let valueCity = jQuery(`select[data='${dataSourceName}'] option:selected`).val();
        let textProvince = jQuery(`select[data='${dataSourceName}'] option:selected`).text();
        let options;
        let url = "";
        switch (type) {
            case "district": 
                ajaxUrl = '<?php echo $url_website ?>onestepcheckout/api/getdistrict/province/'+ valueCity;
                jQuery.ajax({
                    url: ajaxUrl,
                    method: "GET",
                    dataType:'json',
                    success: function (data) {
                        options =  "<option value=''><?php echo __('Please select one'); ?></option>";
                        let jsonReturn = data;
                        let jsonReturnLength = jsonReturn.length;
                        for (var i=0;i< jsonReturnLength ;++i) {
                            options+="<option value="+jsonReturn[i].district_id+">"+jsonReturn[i].district_name+"</option>"
                        }
                        jQuery(`select[data='${dataDescName}']`).html(options);
                    }
                });
                break;

            case "ward": 
                ajaxUrl = '<?php echo $url_website ?>onestepcheckout/api/getward/district/'+ valueCity;
                jQuery.ajax({
                    url: ajaxUrl,
                    method: "GET",
                    dataType:'json',
                    success: function (data) {
                        options =  "<option value=''><?php echo __('Please select one'); ?></option>";
                        let jsonReturn = data.data.Wards;
                        let jsonReturnLength = jsonReturn.length;
                        for (var i=0;i< jsonReturnLength ;++i) {
                            options+="<option value="+jsonReturn[i].WardCode+">"+jsonReturn[i].WardName+"</option>"
                        }
                        jQuery(`select[data='${dataDescName}']`).html(options);
                    }
                });
                break;
        }
        jQuery(`input[data='${dataLabel}']`).val(textProvince);
    }

    /**
     * Name : Nam
     * Date : 20/11/2018
     * Comments : Get district, ward
     * Filename : this
     * Param : 
     */
    function changeWard(dataSourceName, dataLabel) {
        let textProvince = jQuery(`select[data='${dataSourceName}'] option:selected`).text();
        jQuery(`input[data="${dataLabel}"]`).val(textProvince);
    }
    

    function fnCheckEmail(elem){
        var email_check = jQuery(elem).val();
        jQuery(elem).addClass("input-loading");
        jQuery.ajax({
            url: '<?php $block->getUrl(); ?>/customer/seller/checkemail',
            method: "POST",
            data: {email:email_check},
            dataType:'json',
            success: function (data) {
                $jsonReturn = JSON.parse(data);
                if($jsonReturn.error == true){
                    jQuery("#email-error").text($jsonReturn.message);
                    jQuery("#email_address").focus();
                }else{
                    jQuery("#email-error").text("");
                }
                jQuery(elem).removeClass("input-loading");
            }
        });
    }

    require([
        'jquery',
        'Magento_Ui/js/modal/modal'
    ], function ( $,modal ) {
            $(document).ready(function(){
                getProvince();
                function checkPhoneNumber(id) {
                    var flag = false;
                    var phone = $("#" + id).val().trim(); // ID của trường Số điện thoại
                    phone = phone.replace('(+84)', '0');
                    phone = phone.replace('+84', '0');
                    phone = phone.replace('0084', '0');
                    phone = phone.replace(/ /g, '');
                    if (phone != '') {
                        var firstNumber = phone.substring(0, 2);
                        if ((firstNumber == '09' || firstNumber == '08') && phone.length == 10) {
                            if (phone.match(/^\d{10}/)) {
                                flag = true;
                            }
                        } else if (firstNumber == '01' && phone.length == 11) {
                            if (phone.match(/^\d{11}/)) {
                                flag = true;
                            }
                        }
                    }
                    return flag;
                }
                $('#phone').blur(function(e) { // ID của trường Số điện thoại
                    if(!checkPhoneNumber("phone")){
                        $('#phone').addClass('has-error'); // ID của trường Số điện thoại
                        $("#phone_number-error").css("display","block");
                        $("#phone_number-error").show();
                        //$('#phone_number').focus(); // ID của trường Số điện thoại
                        e.preventDefault();
                    }else{
                        $("#phone_number-error").css("display","none");
                        $("#phone_number-error").hide();
                        $('#phone').removeClass('has-error'); // ID của trường Số điện thoại
                    }
                });
                $("#email_address").blur(function(e){
                    var checkEmail = fnCheckEmail(this);
                });
                /*$("#store_name").blur(function(){
                    var store_name_check = $(this).val();
                    $(this).addClass("input-loading");
                        $.ajax({
                            url: '<?php $block->getUrl(); ?>/customer/seller/checkstorename',
                            method: "POST",
                            data: {store_name:store_name_check},
                            dataType:'json',
                            success: function (data) {
                                $jsonReturn = JSON.parse(data);
                                if($jsonReturn.error == true){
                                    $("#store-name-error").text($jsonReturn.message);
                                }else{
                                    $("#store-name-error").text("");
                                }
                                $("#store_name").removeClass("input-loading");
                            }
                        });
                });*/
            });
    });
</script>

