<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/**
 * @var \Magento\Payment\Block\Info $block
 * @see \Magento\Payment\Block\Info
 */
$specificInfo = $block->getSpecificInformation();
?>
<?php echo __($block->escapeHtml($block->getMethod()->getTitle())); ?>

<?php if ($specificInfo): ?>
    <table class="data-table admin__table-secondary">
    <?php foreach ($specificInfo as $label => $value):?>
        <tr>
            <th><?php echo $block->escapeHtml($label)?>:</th>
            <td>
                <?php /* @noEscape */ echo nl2br($block->escapeHtml(implode("\n", $block->getValueAsArray($value, true))));?>
            </td>
        </tr>
    <?php endforeach; ?>
    </table>
<?php endif;?>

<?php echo $block->getChildHtml()?>
