<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/**
 * @var \Magento\Payment\Block\Info $block
 * @see \Magento\Payment\Block\Info
 */
?>
<p><?php echo __($block->escapeHtml($block->getMethod()->getTitle())); ?></p>
<?php if ($block->getInstructions()): ?>
    <table>
        <tbody>
            <tr>
                <td><?php /* @noEscape */ echo nl2br($block->escapeHtml($block->getInstructions())); ?></td>
            </tr>
        </tbody>
    </table>
<?php endif; ?>