<?php
/** @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');
$searchBlock = $objectManager->create('\Libero\SearchProduct\Block\SearchBlock');

$result = $searchBlock->getSearchResults();
$id_seller = $result["id_seller"];
$search_cate = $result["search_cate"];
$search_key = $result["search_key"];
$product_list_mode = $result["product_list_mode"];


/* paging */
$pageSize = $result["pageSize"] ? $result["pageSize"] : 0 ;
$curPage = $result["curPage"] ? $result["curPage"] : 1 ;
$lastPage = $result["lastPage"];
$total = $result["total"];
$firstNumber = $result["firstNumber"];
$lastNumber = (($firstNumber + $pageSize) > $total ) ? $total : $firstNumber + $pageSize - 1;
$hasNextPage = false;
$hasPrePage = false;
$maxCountShowPage = 5;
$curRecords = $curPage * $pageSize;
if($curRecords == 0) {
	$curRecords = 1;
} else if($curRecords > $total) {
	$curRecords = $total;
}

if($curPage-3 > 0) { $hasPrePage = true; }
if($curPage < $lastPage){ $hasNextPage = true; }
/* paging:End */

?>

<script>
jQuery(function(){
    var pageSize = <?php echo $pageSize; ?>;
    if(pageSize > 0 ) {
        jQuery("#pageSizeSelect option[value='"+ pageSize +"']").attr("selected","selected");
    }
	
});

function fnChangePage(page){
	jQuery("#page").val(page);
	jQuery("#search-form").submit();
}

function fnChangeMode(mode){
	jQuery("#product_list_mode").val(mode);
	jQuery("#search-form").submit();
}

function fnPageSize(size){
	jQuery("#pageSize").val(size);
    var curPage = <?php echo $curPage; ?>;
    var lastPage = <?php echo $lastPage; ?>;
    var total = <?php echo $total; ?>;
    var new_last_page = Math.floor(total / size);
    if((total % size) > 0) {
        new_last_page++;
    }
    if(curPage > new_last_page){
        jQuery("#page").val(new_last_page);
    }
	jQuery("#search-form").submit();
}
</script>


<?php if ($total > 0): ?>
    <form action="<?php echo $block->getUrl('searchproduct/result'); ?>" method="get" id="search-form">
        <input type="hidden" name="id_seller" value="<?php echo $id_seller; ?>"/>
        <input type="hidden" name="cat" value="<?php echo $search_cate; ?>"/>
        <input type="hidden" name="q" value="<?php echo $search_key; ?>"/>
        <div class="toolbar toolbar-products">
            
            <!-- page size -->
            <div class="field limiter">
                <label class="label" for="limiter">
                    <span><?php echo __('Show') ?></span>
                </label>
                <div class="control">
                    <input type="hidden" id="pageSize" name="pageSize" value="<?php echo $pageSize; ?>" />
                    <select id="pageSizeSelect" class="limiter-options" onchange="fnPageSize(jQuery(this).val());">
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <span class="limiter-text"><?php echo __('per page') ?></span>
            </div>

            <!-- sort -->
            <!-- <?php if ($block->isExpanded()): ?>
                <div class="toolbar-sorter sorter">
                    <label class="sorter-label" for="sorter"><?php echo __('Sort By') ?></label>
                    <select id="sorter" data-role="sorter" class="sorter-options">
                        <?php foreach ($block->getAvailableOrders() as $_key => $_order): ?>
                            <option value="<?php echo $_key; ?>"
                                <?php if ($block->isOrderCurrent($_key)): ?>
                                    selected="selected"
                                <?php endif; ?>
                                >
                                <?php echo $block->escapeHtml(__($_order)) ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                    <?php if ($block->getCurrentDirection() == 'desc'): ?>
                        <a title="<?php echo __('Set Ascending Direction') ?>" href="#" class="action sorter-action sort-desc" data-role="direction-switcher" data-value="asc">
                            <span><?php echo __('Set Ascending Direction') ?></span>
                        </a>
                    <?php else: ?>
                        <a title="<?php echo __('Set Descending Direction') ?>" href="#" class="action sorter-action sort-asc" data-role="direction-switcher" data-value="desc">
                            <span><?php echo __('Set Descending Direction') ?></span>
                        </a>
                    <?php endif; ?>
                </div>
            <?php endif; ?> -->

            <!-- count records -->
            <p class="toolbar-amount" id="toolbar-amount">
                <?php if ($lastPage > 1): ?>
                    <?php echo __('Items');?>
                        <span class="toolbar-number"><?php echo $firstNumber; ?></span>-
                        <span class="toolbar-number"><?php echo $lastNumber; ?></span> of
                        <span class="toolbar-number"><?php echo $total; ?></span>
                <?php elseif ($total == 1): ?>
                    <span class="toolbar-number"><?php echo $total;?></span>
                    <?php echo __('item');?>
                <?php else: ?>
                    <span class="toolbar-number"><?php echo $total;?></span>
                    <?php echo __('items');?>
                <?php endif; ?>
            </p>

            <!-- view mode -->
            <?php if ($block->isExpanded()): ?>
                <?php if ($block->isEnabledViewSwitcher()): ?>
                    <div class="modes">
                        <input type="hidden" name="product_list_mode" id="product_list_mode" value="<?php echo $product_list_mode; ?>" />
                        <?php $_modes = $block->getModes(); ?>
                        <?php if ($_modes && count($_modes) > 1): ?>
                        <strong class="modes-label" id="modes-label"><?php echo __('View as') ?></strong>
                        <?php foreach ($block->getModes() as $_code => $_label): ?>
                            <?php if ($block->isModeActive($_code)): ?>
                                <strong title="<?php echo $_label ?>"
                                    class="modes-mode active mode-<?php echo strtolower($_code); ?>"
                                    data-value="<?php echo strtolower($_code); ?>">
                                    <span><?php echo $_label ?></span>
                                </strong>
                            <?php else: ?>
                                <a class="pointer modes-mode mode-<?php echo strtolower($_code); ?>"
                                title="<?php echo $_label ?>"
                                data-role="mode-switcher"
                                data-value="<?php echo strtolower($_code); ?>"
                                id="mode-<?php echo strtolower($_code); ?>"
                                aria-labelledby="modes-label mode-<?php echo strtolower($_code); ?>"
                                onclick="fnChangeMode('<?php echo strtolower($_code); ?>');">
                                    <span><?php echo $_label ?></span>
                                </a>
                                <?php endif; ?>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </div>
                <?php endif; ?>

            <?php endif; ?>
        </div>    

        <div class="pages">
            <input type="hidden" id="page" name="page" value="<?php echo $curPage; ?>" />
            <div class="moveToPageField frontStore"> <label><?php echo __("Page"); ?> : <input type="text" class="w65" onkeydown="submitOnEnter(this, event);" /></label><button type="submit" class="action-secondary" style="margin-top: -1px;">Move</button> </div>
            <ul class="items pages-items" aria-labelledby="paging-label">
                <?php
                    if(($curPage-2) > 1) { ?>
                        <li class="item">
                            <button type="button" class="page first first-btn" onclick="fnChangePage('1');">
                            <span><i class="fas fa-step-backward"></i></span>
                            </button>
                        </li>
                        <li class="item pages-item-prev">
                            <button type="button" class="action  prev" onclick="fnChangePage('<?php echo $curPage-1; ?>');" title="Tiếp theo">
                            <span><i class="fas fa-caret-left"></i></span>
                            </button>
                        </li>
                        <li class="item">...</li>
                    <?php } else if($hasPrePage) {?>
                        <li class="item pages-item-prev">
                            <button type="button" class="action  prev" onclick="fnChangePage('<?php echo $curPage-1; ?>');" title="Tiếp theo">
                            <span><i class="fas fa-caret-left"></i></span>
                            </button>
                        </li>
                    <?php }

                    $page = $curPage-2;
                    if($page < 1) { $page = 1; }
                    $showedLast = false;
                    for ( $page; $page < $lastPage+1; $page++){
                        if($maxCountShowPage > 0) {
                            if($page == $curPage){ ?>
                                <li class="item current">
                                    <strong class="page">
                                    <span><?php echo $page; ?></span>
                                    </strong>
                                </li>
                            <?php } else {?>
                                <li class="item">
                                    <button type="button" onclick="fnChangePage('<?php echo $page; ?>');" class="page">
                                    <span><?php echo $page; ?></span>
                                    </button>
                                </li>
                            <?php }
                            $maxCountShowPage--;
                            if($page == $lastPage) {
                                $showedLast = true;
                            }
                        } else { ?>
                            <?php break;
                        }
                    }
                ?>

                <?php if($curPage+2 < $lastPage) {
                        if(!$showedLast){?>
                            <li class="item">...</li>
                        <?php }?>
                    <li class="item pages-item-next">
                        <button type="button" class="action  next" onclick="fnChangePage('<?php echo $curPage+1; ?>');" title="Tiếp theo">
                        <span><i class="fas fa-caret-right"></i></span>
                        </button>
                    </li>
                    <?php if(!$showedLast){?>
                        <li class="item">
                            <button type="button" class="page last last-btn" onclick="fnChangePage('<?php echo $lastPage; ?>');">
                            <span><i class="fas fa-step-forward"></i></span>
                            </button>
                        </li>
                    <?php }
                } else if($hasNextPage){?>
                    <li class="item pages-item-next">
                        <button type="button" class="action  next" onclick="fnChangePage('<?php echo $curPage+1; ?>');" title="Tiếp theo">
                        <span><i class="fas fa-caret-right"></i></span>
                        </button>
                    </li> 
                <?php } ?>
            </ul>
        </div>
    </form>
<?php endif ?>

<style>
#toolbar-amount {float: left; margin: 6px 0; color: #919191; display: block;}
</style>

<script>
function submitOnEnter(obj, event) {
	if (event && event.keyCode == 13) {
		fnChangePage(jQuery(obj).val());
	}
}
</script>