<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');
$array_order_ids = $block->getArrayIds();
foreach($array_order_ids as $_id){
    $order = $block->getOrderDetailById($_id);
    $increment_id = $order["increment_id"];
    $order_ids = array($order["entity_id"]);
    $id_seller = $order["seller_id"];
    $seller_info = $util->getSellerInfo($id_seller);
    $shipment = $objectManager->get("\Libero\Customer\Block\Seller\Admin\Shipment");
    $logo = $objectManager->get('\Magento\Theme\Block\Html\Header\Logo');
    $discount_total = 0;
    $isFirst = true;
    $address = $block->getAddressOfSeller($increment_id);
    $billing_address = $address["billing"];
    $shipping_address = $address["shipping"];
    $ship_to = $billing_address["seller_name"].",".$billing_address["street"].",".$billing_address["district"].",".$billing_address["city"];
                                    
    ?>
    <?php foreach ($order_ids as $order_id) {
        $invoices = $block->getInvoiceDetail($order_id);
        $invoiceDetail = $invoices[0];
        $telephone  = $shipment->getTelephone($invoiceDetail['increment_id']);
    ?>


    <div class="wrap_print <?php if($isFirst) {echo "first"; $isFirst= false;} ?>">
        <div class="top-info">
            <div class="left-info">
                <div class="logo"><img src="<?php echo $logo->getLogoSrc(); ?>" alt=""></div>
                <p class="phone">Hotline: <strong>028 3636 9999</strong></p>
            </div>
            <div class="right-info">
                <p class="content-right"><strong><?php echo __("Order"); ?>:</strong> #<?php echo $invoiceDetail['increment_id']; ?></p>
                <p class="content-right"><strong><?php echo __("Order Date"); ?>:</strong> <?php echo date('Y-m-d H:i:s',strtotime($invoiceDetail['order_created_at'])); ?></p>
            </div>
        </div>
        <div class="title-invoice">
            <p class="invoice"><?php echo __("INVOICE"); ?></p>
            <p><?php echo __("Invoice"); ?>: #<?php echo $invoiceDetail['increment_id']; ?></p>
        </div>
        <div  class="info-cnt">
            <p><strong><?php echo __("Ship to"); ?>:</strong> <?php echo $ship_to; ?></p>
            <p><strong><?php echo __("Payment Method"); ?>:</strong> <?php echo __($invoiceDetail['payment_method']); ?></p>
            <p><strong><?php echo __("Shipping Method"); ?>:</strong> <?php echo $invoiceDetail['shipping_description']; ?></p>
        </div>
        <table class="invoice_detail">
            <colgroup>
                <col width="50%"/>
                <col width="50%"/>
            </colgroup>
            <thead>
                <tr>
                    <th><?php echo __("Sold to"); ?>: </th>
                    <th><?php echo __("Ship to"); ?>:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span><?php echo __("Store Name"); ?>:</span> <?php echo $seller_info["store_name"]; ?><br/>
                        <span><?php echo __("Address"); ?>:</span> <?php echo $seller_info["full_address"]; ?><br/>
                        <span><?php echo __("Phone"); ?>:</span> <?php echo $seller_info["telephone"]; ?>
                    </td>
                    <td>
                        <span><?php echo __("Reseller Name"); ?>:</span> <?php echo $shipping_address["seller_name"] ?><br/>
                        <span><?php echo __("Address"); ?>:</span> <?php echo $invoiceDetail['billing_address']; ?><br/>
                        <span><?php echo __("Phone") ?>:</span> <?php echo $telephone; ?>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="product-list">
            <colgroup>
                <col width="5%"/>
                <col width="50%"/>
                <col width="10%"/>
                <col width="15%"/>
                <col width="15%"/>
            </colgroup>
            <thead>
                <tr>
                    <th><?php echo __("No."); ?></th>
                    <th><?php echo __("Products"); ?></th>
                    <th><?php echo __("Qty"); ?></th>
                    <th><?php echo __("Discount"); ?></th>
                    <th><?php echo __("Subtotal"); ?></th>
                </tr>
            </thead>
            <tbody>
                <?php
                    $countLoop = 1; 
                    foreach($invoices as $invoice) { 
                        if($countLoop % 2 == 0) { ?>
                        <tr class="even padding-row">
                        <?php } else { ?>
                        <tr class="odd  padding-row">
                        <?php } ?>
                            <td style="text-align:center;"><?php echo $countLoop; ?></td>
                            <td class="name_product"><?php echo $invoice['name']; ?></td>
                            <td style="text-align:center;"><?php echo $util->formatPrice($invoice['qty_ordered']); ?></td>
                            <td style="text-align:center;"><?php echo $util->formatPrice($invoice['discount_amount']); ?> ₫</td>
                            <td class="ta-r" style="text-align:center;"><?php echo $util->formatPrice($invoice['row_total'] - $invoice['discount_amount']); ?> ₫</td>
                        </tr>
                    </tbody>
                <?php $discount_total += $invoice['discount_amount']; ?>
                <?php $countLoop++; }?>
            </tbody>
        </table>
        <table class="tfoot-productlist">
            <tbody>
                <tr>
                        <th class="align-left"><?php echo __("Subtotal"); ?>:</th>
                        <td><span><span class="price"><?php echo $block->formartPrice($order["base_subtotal"]); ?></span></span></td>
                </tr>
                <tr>
                        <th class="align-left"><?php echo __("Shipping & Handling"); ?>:</th>
                        <td><span><span class="price"><?php echo $block->formartPrice($order["base_shipping_amount"]); ?></span></span></td>
                </tr>
                <tr>
                        <th class="align-left"><?php echo __("Discount Amount"); ?>:</th>
                        <td><span><span class="price"><?php echo $block->formartPrice($discount_total); ?></span></span></td>
                </tr>
                <tr>
                        <th class="align-left"><?php echo __("Grand Total"); ?>:</th>
                        <td><span><span class="price"><?php echo $block->formartPrice($order["grand_total"]); ?></span></span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <?php } ?>
<?php } ?>
<!-- style for print -->
<style type="text/css" media="print">
    @page 
    {
        size:  A4;   /* auto is the initial value */
		margin: 0mm 10mm 0 10mm;  /* this affects the margin in the printer settings */
    }

    html
    {
        background-color: #FFFFFF; 
        /*margin: 0px; */ /* this affects the margin on the html before sending to printer */
    }

    body
    {
        /* margin: 10mm 15mm 10mm 15mm;*/ /* margin you want for the content */
    }
	.page-wrapper {width: 100%;}
    .menu-wrapper._fixed~.page-wrapper{
        margin-left: 0;
    }
</style>

<script>
setTimeout(() => {
	window.print();
}, 1000);
</script>

<style>
.ta-r {text-align: right;}
.notices-wrapper{
    display:none;
}
.page-header{
    display:none;
}
.page-header-hgroup{
    display:none;
}
.menu-wrapper{
    display:none;
}
.page-footer{
    display:none;
}
.align-left{
    text-align: right;
}
.padding-row > td{
    padding:10px;
}
.wrap_print {height: auto;padding: 15px 15px 15px; margin:0px;width: 100%;position: relative;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;}
.wrap_print.first {padding-top: 15px;position: relative;clear:both}
.wrap_print .title-invoice {text-align:center;margin: 15px;}
.top-info {overflow: hidden;}
.top-info .left-info {float: left; width: 50%;}
.top-info .left-info .logo img {height: 50px; margin-bottom: -15px;}
.top-info .left-info .phone  {padding: 5px;}
.info-cnt {margin: 30px 0px 0px;}
.info-cnt .seller-logo {width: 21px; vertical-align: baseline;}
.top-info .right-info {float: left; width: 50%; margin-top: 18px;text-align: right;}
.invoice {font-size: 30px; font-weight: bold; margin-bottom: 11px;}

.invoice_detail {margin-top: 30px; width: 100%;}
.invoice_detail thead tr th {background: #edebeb;padding: 13px;display:none;}
.invoice_detail tbody {border: 1px solid #000;}
.invoice_detail tbody tr td {padding: 13px; border: 1px solid #000;}
.invoice_detail tbody tr td span{font-weight:bold;}

.product-list {margin-top: 30px; width: 100%;}
.product-list thead tr th {background: #edebeb; border: 1px solid #000; padding: 13px;text-align:center;}
.product-list tbody {border: 1px solid #000;}
.product-list tbody tr td {border: 1px solid #000;max-width: 100px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.tfoot-productlist{margin-top: 15px; width: 50%;float: right;}
.tfoot-productlist tbody tr td{text-align:right;}
</style>
