<?php

$form_key = $block->getFormKey();
$array_filter = array();
$array_filter["status"]["value"] = "-1";
$array_filter["increment_id"]["value"] = "";
$array_filter["provider_name"]["value"] = "";
$array_filter["customer_firstname"]["value"] = "";
$array_filter["type_of_order"]["value"] = "";
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$helper = $objectManager->get("\Libero\Onestepcheckout\Helper\Data");
$from = null;
$to = null;
$current_page = 1;
$limit_page = 20;
if(isset($_POST["from"]) && count($_POST) > 0){
	$array_filter = array();
	if(isset($_POST["from"])){
		$from = $_POST["from"];
	}
	if(isset($_POST["to"])){
		$to = $_POST["to"];
	}
	$array_filter["status"] = array("operator" => "LIKE" , "value" => $_POST["status"]);
	$array_filter["increment_id"] = array("operator" => "=" , "value" => $_POST["increment_id"]);
	$array_filter["provider_name"] = array("operator" => "LIKE_PERCENT" , "value" => $_POST["provider_name"]);
	$array_filter["customer_firstname"] = array("operator" => "LIKE_PERCENT" , "value" => $_POST["customer_firstname"]);
	$array_filter["customer_firstname"] = array("operator" => "LIKE_PERCENT" , "value" => $_POST["customer_firstname"]);
	$array_filter["type_of_order"] = array("operator" => "LIKE" , "value" => $_POST["type_of_order"]);
	if(isset($_POST["current_page"])){
		$current_page = $_POST["current_page"];
	}
	if(isset($_POST["page_size"])){
		$limit_page = $_POST["page_size"];
	}
	$orders = $block->getListOrderProvider($array_filter,$from,$to,$limit_page,$current_page);	
}else{
	$orders = $block->getListOrderProvider([]);
}
$countOrder = count($orders);
$limit_page_tinh =  $limit_page;
if($limit_page == 0){
	$limit_page_tinh = 1;
}
$countPage = round( $countOrder / $limit_page_tinh);
if($countPage == 0){
	$countPage = 1;
}
?>
<style>
	.data-grid .data-grid-th._sortable{
		z-index:0;
	}
</style>
<main id="anchor-content" class="page-content">
	<div class="page-main-actions">
		<div class="page-actions-placeholder"></div>
		<div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
			<button id="add" title="Create New Order" type="button" class="action- scalable primary" onclick="location.href = '';" data-ui-id="add-button">
				<span><?php echo __("Create New Order") ?></span>
			</button>
			<div class="page-actions-buttons"></div>
			<div class="page-actions-inner" data-title="Orders"></div>
		</div>
	</div>
	<script>
		require([
			'jquery',
			'mage/calendar'
		], function ( $,modal ) {
			$( "#from_date" ).calendar({
			  buttonText:"<?php echo __('Select Date') ?>",
			  dateFormat: "yy-mm-dd"
			 });
			 $( "#to_date" ).calendar({
			  buttonText:"<?php echo __('Select Date') ?>",
			  dateFormat: "yy-mm-dd"
         	});
		});
	</script>
	<div id="page:main-container" class="page-columns">
		<div class="admin__old">
			<div id="container" class="main-col">
				<div class="admin__data-grid-outer-wrap">
					<div data-role="spinner" data-component="sales_order_grid.sales_order_grid.sales_order_columns" class="admin__data-grid-loading-mask" style="display: none;">
						<div class="spinner">
							<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
						</div>
					</div>
					<form action="" name="form_filter" id="form_filter" method="POST">
						<div class="admin__data-grid-header">
							<div class="admin__data-grid-header-row">
								<div class="admin__data-grid-actions-wrap">
									<div class="admin__action-dropdown-wrap admin__data-grid-action-export">
										<button class="admin__action-dropdown" type="button">
										<span class="admin__action-dropdown-text">Export</span>
										</button>
										<div class="admin__action-dropdown-menu admin__data-grid-action-export-menu">
											<div class="admin__field admin__field-option">
												<input class="admin__control-radio" type="radio" id="20" value="csv" name="ko_unique_1">
												<label class="admin__field-label" for="20">CSV</label>
											</div>
											<div class="admin__field admin__field-option">
												<input class="admin__control-radio" type="radio" id="21" value="xml" name="ko_unique_2">
												<label class="admin__field-label" for="21">Excel XML</label>
											</div>
											
											<div class="admin__action-dropdown-footer-main-actions">
												<!--<button class="action-tertiary" type="button">Cancel</button>-->
												<button class="action-secondary" type="button">Export</button>
											</div>
										</div>
									</div>
								</div>
								<div class="data-grid-filters-actions-wrap">
									<div class="data-grid-filters-action-wrap">
										<button class="action-default _active" data-action="grid-filter-expand">Filters</button>
									</div>
								</div>
								<div class="admin__data-grid-filters-current">
									<div class="admin__current-filters-title-wrap">
										<span class="admin__current-filters-title">Active filters:</span>
									</div>
									<div class="admin__current-filters-list-wrap">
										<ul class="admin__current-filters-list" data-role="filter-list">
										</ul>
									</div>
									<div class="admin__current-filters-actions-wrap">
										<button class="action-tertiary action-clear" type="button" data-action="">Clear all</button>
									</div>
								</div>
								<div class="admin__data-grid-filters-wrap _show" data-part="filter-form">
									<fieldset class="admin__fieldset admin__data-grid-filters">
										<fieldset class="admin__form-field">
											
											<legend class="admin__form-field-legend">
												<span>Purchase Date</span>
											</legend>
											<div class="admin__form-field">
												
												<label class="admin__form-field-label" for="FOEMKFL">
												<span>from</span>
												</label>
												<div class="admin__form-field-control">
													
													<input class="admin__control-text" type="text" id="from_date" value="<?php  echo $from ?>" name="from" placeholder="" aria-describedby="notice-FOEMKFL">
													
												</div>
												
											</div>
											<div class="admin__form-field">
												
												<label class="admin__form-field-label" for="AKWJ0AP">
												<span>to</span>
												</label>
												<div class="admin__form-field-control">
													
													<input class="admin__control-text" type="text" id="to_date" value="<?php  echo $to ?>" name="to" placeholder="" aria-describedby="notice-AKWJ0AP">
													
												</div>
												
											</div>
											
											
										</fieldset>
										
										<div class="admin__form-field">
											<label class="admin__form-field-label">
											<span>Status</span>
											</label>
											<div class="admin__form-field-control">
												<select class="admin__control-select" name="status" id="DA98AB4">
													<option value="-1">Select Status</option>
													<option value="pending" <?php  if($array_filter["status"]["value"] == "pending") echo "selected='selected'" ?>><?php echo __("pending") ?></option>
													<option value="Request to packaging" <?php  if($array_filter["status"]["value"] == "Request to packaging") echo "selected='selected'" ?>><?php echo __("Request to packaging") ?></option>
													<option value="Processing" <?php  if($array_filter["status"]["value"] == "Processing") echo "selected='selected'" ?>><?php echo __("Processing") ?></option>
													<option value="Prepare to ship" <?php  if($array_filter["status"]["value"] == "Prepare to ship") echo "selected='selected'" ?>><?php echo __("Prepare to ship") ?></option>
													<option value="Cancel" <?php  if($array_filter["status"]["value"] == "Cancel") echo "selected='selected'" ?>><?php echo __("Cancel") ?></option>
												</select>
											</div>
										</div>
										<div class="admin__form-field">
											<label class="admin__form-field-label" for="EO73K2W">
											<span><?php echo __("ID Order") ?></span>
											</label>
											<div class="admin__form-field-control">
												<input class="admin__control-text" type="text" value="<?php echo $array_filter["increment_id"]["value"] ?>" name="increment_id" placeholder="" id="EO73K2W">
											</div>
										</div>
										<div class="admin__form-field">
											<label class="admin__form-field-label" for="UF158VJ">
											<span><?php echo __("Provider Name") ?></span>
											</label>
											<div class="admin__form-field-control">
												<input class="admin__control-text" type="text" name="provider_name" value="<?php echo $array_filter["provider_name"]["value"] ?>" placeholder="" id="provider_name">
											</div>
										</div>
										<div class="admin__form-field">
											<label class="admin__form-field-label" for="VV7LFUG">
											<span><?php echo __("Reseller Name"); ?></span>
											</label>
											<div class="admin__form-field-control">
												<input class="admin__control-text" type="text" value="<?php echo $array_filter["customer_firstname"]["value"] ?>" name="customer_firstname" placeholder="" id="customer_firstname">
											</div>
										</div>
										<div class="admin__form-field">
											<label class="admin__form-field-label" for="QHCOO22">
												<span><?php echo __("Type Of Order") ?></span>
											</label>
											<div class="admin__form-field-control">
												
												<select class="admin__control-select" name="type_of_order" id="type_of_order">
													<option value=""> </option>
													<option <?php  if($array_filter["type_of_order"]["value"] == $helper->_CODE_TYPE_MY_DELIVERY) echo "selected='selected'" ?> value="<?php echo $helper->_CODE_TYPE_MY_DELIVERY; ?>"><?php echo __("Provider Delivery"); ?></option>
													<option <?php  if($array_filter["type_of_order"]["value"] == $helper->_CODE_TYPE_WISI_DELIVERY) echo "selected='selected'" ?> value="<?php echo $helper->_CODE_TYPE_WISI_DELIVERY; ?>"><?php echo __("Wisi Delivery"); ?></option>
													<option <?php  if($array_filter["type_of_order"]["value"] == $helper->_CODE_TYPE_TMS_REQUEST) echo "selected='selected'" ?> value="<?php echo $helper->_CODE_TYPE_TMS_REQUEST; ?>"><?php echo __("TMS Request"); ?></option>
												</select>
											</div>
										</div>
									</fieldset>
									<div class="admin__data-grid-filters-footer">
										<div class="admin__footer-main-actions">
											<!--<button class="action-tertiary" type="button" data-action="grid-filter-cancel">
											<span><?php echo __("Cancel") ?></span>
											</button>-->
											<button class="action-secondary" type="submit" data-action="grid-filter-apply">
												<span><?php echo __("Apply Filters") ?></span>
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="admin__data-grid-header-row row row-gutter">
								<div class="col-xs-2">
									<div class="action-select-wrap">
										<button type="button" class="action-select" id="massaction"><?php echo __("Actions"); ?></button>
										<ul class="action-menu" id="list-massaction">
											<li type-action="cancel_order" data-repeat-index="0">
												<span class="action-menu-item"><?php echo __("Cancel"); ?></span>
											</li>
											<li type-action="make_packaging" data-repeat-index="1">
												<span class="action-menu-item"><?php echo __("Make Packaging"); ?></span>
											</li>
											<li type-action="print_invoice" data-repeat-index="3">
												<span class="action-menu-item"><?php echo __("Print Invoices"); ?></span>
											</li>
											<li type-action="print_shipment" data-repeat-index="4">
												<span class="action-menu-item"><?php echo __("Print Shipment"); ?></span>
											</li>
											<!--li data-repeat-index="5">
												<span class="action-menu-item">Print Credit Memos</span>
											</li>
											<li data-repeat-index="6">
												<span class="action-menu-item">Print All</span>
											</li>
											<li data-repeat-index="7">
												<span class="action-menu-item">Print Shipping Labels</span>
											</li>-->
										</ul>
									</div>
								</div>

								<form action="<?php echo $block->getPrintInvoiceMassAction();  ?>" method="post" name="print_invoice" id="print_invoice">
									<div><input name="form_key" type="hidden" value="<?php echo $form_key; ?>"></div>
									<input type="hidden" id="array_print_invoice" value="" name="array_ids" />
								</form>

								<form action="<?php echo $block->getPrintShipmentMassAction();  ?>" method="post" name="print_ship" id="print_ship">
									<div><input name="form_key" type="hidden" value="<?php echo $form_key; ?>"></div>
									<input type="hidden" id="array_print_ship" value="" name="array_ids_ship" />
								</form>

								<form action="<?php echo $block->getPackagingUrl();  ?>" method="post" name="request_packaging" id="request_packaging">
									<div><input name="form_key" type="hidden" value="<?php echo $form_key; ?>"></div>
									<input type="hidden" id="array_request_packaging" value="" name="array_request_packaging" />
								</form>

								<form action="<?php echo $block->getCancelUrl();  ?>" method="post" name="request_cancel" id="request_cancel">
									<div><input name="form_key" type="hidden" value="<?php echo $form_key; ?>"></div>
									<input type="hidden" id="array_request_cancel" value="" name="array_request_cancel" />
								</form>
								
								<div class="col-xs-10">
									<div class="row">
										<div class="col-xs-3">
											<div class="admin__control-support-text">
												<?php echo count($orders); ?> <span>records found</span>
											</div>
										</div>
										<div class="col-xs-9">
											
											<div class="admin__data-grid-pager-wrap">
												
												<div class="selectmenu">
													<div class="selectmenu-value">
														<input type="text" name="page_size" id="sales_order_grid.sales_order_grid.listing_top.listing_paging_sizes" value="<?php echo $limit_page; ?>">
													</div>
													<button class="selectmenu-toggle" id="select-page" type="button">
													<span>Select</span>
													</button>
													<div class="selectmenu-items" id="selectmenu-items-page">
														<ul>
															<li data-repeat-index="0">
																<div class="selectmenu-item">
																	<button class="selectmenu-item-action" type="button">20</button>
																</div>
															</li>
															<li data-repeat-index="1">
																<div class="selectmenu-item">
																	<button class="selectmenu-item-action" type="button">30</button>
																</div>
															</li>
															<li data-repeat-index="2">
																<div class="selectmenu-item">
																	<button class="selectmenu-item-action" type="button">50</button>
																</div>
															</li>
															<li data-repeat-index="3">
																<div class="selectmenu-item">
																	<button class="selectmenu-item-action" type="button">100</button>
																</div>
															</li>
															<li data-repeat-index="4">
																<div class="selectmenu-item">
																	<button class="selectmenu-item-action" type="button">200</button>
																</div>
															</li>
															
															<li>
																<div class="selectmenu-item">
																	<button class="selectmenu-item-action" type="button" ko-visible="!isCustomVisible()">Custom</button>
																</div>
																<div class="selectmenu-item-edit">
																	<input class="admin__control-text" type="text">
																	<button class="action-save" type="button">
																	<span>Save</span>
																	</button>
																</div>
															</li>
														</ul>
													</div>
												</div>
												<label class="admin__control-support-text" for="sales_order_grid.sales_order_grid.listing_top.listing_paging_sizes">per page</label>
												
												<div class="admin__data-grid-pager">
													<button class="action-previous" type="button" title="Previous Page" disabled=""></button>
													<input class="admin__control-text" type="number" name="current_page" value="<?php echo $current_page ?>" id="current_page">
													<label class="admin__control-support-text" for="43">of <?php echo $countPage; ?></label>
													<button class="action-next" type="button" title="Next Page" disabled=""></button>
												</div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
					<div class="admin__data-grid-wrap" data-role="grid-wrapper">
						<table class="data-grid data-grid-draggable" data-role="grid">
							<thead>
								<tr>
									<th class="data-grid-multicheck-cell">
										<div class="action-multicheck-wrap" id="check_all">
											<input class="admin__control-checkbox" type="checkbox" id="checkbox-checkall">
											<label for="45"></label>
											<button class="action-multicheck-toggle" data-toggle="dropdown">
											<span>Options</span>
											</button>
											<ul class="action-menu">
												<li>
													<span class="action-menu-item">Select All</span>
												</li>
												<li style="display: none;">
													<span class="action-menu-item">Deselect All</span>
												</li>
												<li style="display: none;">
													<span class="action-menu-item">Select All on This Page</span>
												</li>
												<li style="display: none;">
													<span class="action-menu-item">Deselect All on This Page</span>
												</li>
											</ul>
										</div>
									</th>
									
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content">ID</span>
									</th>
									
									<th class="data-grid-th _draggable">
										<span class="data-grid-cell-content"><?php echo __("Type Of Order") ?></span>
									</th>
									
									<th class="data-grid-th _sortable _draggable _descend">
										<span class="data-grid-cell-content"><?php echo __("Purchase Date") ?></span>
									</th>
									
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content"><?php echo __("Provider Name") ?></span>
									</th>
									
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content"><?php echo __("Reseller Name") ?></span>
									</th>
									
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content"><?php echo __("Grand Total (Base)") ?></span>
									</th>
									
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content"><?php echo __("Grand Total (Purchased)") ?></span>
									</th>
									
									<th class="data-grid-th _sortable _draggable">
										<span class="data-grid-cell-content"><?php echo __("Status") ?></span>
									</th>
									
									<th class="data-grid-th">
										<span class="data-grid-cell-content"><?php echo __("Action") ?></span>
									</th>
									
								</tr>
							</thead>
							<tbody>
								<?php $before_save_increament_id = ""; ?>
								<?php foreach($orders as $_order){ ?>
									<?php 
										$increament_id = $_order["increment_id"];
										if($before_save_increament_id == $increament_id){

										}else{

										}
										$before_save_increament_id  = $_order["increment_id"];
										$type_of_order = $_order["type_of_order"];
										$text_type_order = $block->getTypeDelivery($type_of_order);
										$purchase_at = $_order["created_at"];
										$provider_name = $_order["created_at"];
										$id_seller = $_order["seller_id"];
										$provider = $block->getProvider($id_seller);
										$name_reseller = trim($_order["customer_lastname"])." ".trim($_order["customer_firstname"]);
										$grand_total = $block->formartPrice($_order["grand_total"]);
										$base_grand_total = $block->formartPrice($_order["base_grand_total"]);
										$status = $_order["status"];
										$id = $_order["entity_id"];
										$url = $block->getDetailOrderUrl($id);
									?>
								<tr class="data-row" data-repeat-index="0">
									<td class="data-grid-checkbox-cell">
										<label class="data-grid-checkbox-cell-inner">
										<input class="admin__control-checkbox" type="checkbox" data-action="select-row" name="check_box_order" id="idscheck<?php echo $id ?>" status="<?php echo $status; ?>" value="<?php echo $id; ?>">
										<label for="idscheck<?php echo $id ?>"></label>
										</label>
									</td>
									<td>
										<div class="data-grid-cell-content"><?php echo $_order["increment_id"] ?>-<?php echo $id ?></div>
									</td>
									<td>
										<div class="data-grid-cell-content">
											<?php echo $text_type_order; ?>
										</div>
									</td>
									<td class="">
										<div class="data-grid-cell-content"><?php echo $purchase_at; ?></div>
									</td>
									<td>
										<div class="data-grid-cell-content"><?php  echo $provider->getData("store_name") ?></div>
									</td>
									<td>
										<div class="data-grid-cell-content"><?php  echo $name_reseller; ?></div>
									</td>
									<td>
										<div class="data-grid-cell-content"><?php echo $grand_total; ?></div>
									</td>
									<td>
										<div class="data-grid-cell-content"><?php echo $base_grand_total; ?></div>
									</td>
									<td>
										<div class="data-grid-cell-content <?php if($_order["status"] == "cancel") { echo "canceled";} ?>"><?php echo $status; ?></div>
									</td>
									<td class="data-grid-actions-cell">
										<a class="action-menu-item" href="<?php echo $url; ?>"><?php echo __("View"); ?></a>
									</td>
								</tr>
								<?php } ?>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<?php
//get base url on magento 2;
$base_url = $block->getBaseUrl();
$url_ajax = $base_url."test/";
?>
<script type="text/javascript">
	require(['jquery'],function($){
		$(document).ready(function(){
			$("#massaction").click(function(){
				var elem = $(this);
				if(elem.parent().hasClass("_active")){
					$("#list-massaction").removeClass("_active");
					elem.parent().removeClass("_active");
				}else{
					$("#list-massaction").addClass("_active");
					elem.parent().addClass("_active");
				}
			});
			$("#select-page").click(function(){
				var elem = $(this);
				if(elem.parent().hasClass("_active")){
					$("#selectmenu-items-page").removeClass("_active");
					elem.parent().removeClass("_active");
				}else{
					$("#selectmenu-items-page").addClass("_active");
					elem.parent().addClass("_active");
				}
			});
			$("#check_all").click(function(){
				var elem = $(this);
				var check_box_all = $("#checkbox-checkall");
				if(elem.hasClass("_indeterminate")){
					elem.removeClass("_indeterminate");
					var array_checkbox = $("input[name='check_box_order']");
					var length_print_invoice = array_checkbox.length;
					var i =0;
					for(i=0;i<length_print_invoice;i++){
						$(array_checkbox[i]).prop("checked",false);
					}
					$("#check_box_all").prop("checked",false);
					check_box_all.removeClass("_indeterminate");
				}else{
					elem.addClass("_indeterminate");
					check_box_all.addClass("_indeterminate");
					var array_checkbox = $("input[name='check_box_order']");
					var length_print_invoice = array_checkbox.length;
					var i =0;
					for(i=0;i<length_print_invoice;i++){
						$(array_checkbox[i]).prop("checked",true);
					}
					$("#check_box_all").prop("checked",true);
				}
			});
			$("#list-massaction > li").click(function(){
				var elem = $(this);
				$("#list-massaction").removeClass("_active");
				$("#massaction").parent().removeClass("_active");
				var attr_action = elem.attr("type-action");
				var array_checkbox = $("input[name='check_box_order']:checked");
				var length_print_invoice = array_checkbox.length;
				var i =0;
				var string_id = "";
				let cancel_id = "";
				for(i=0;i<length_print_invoice;i++){
					string_id+=$(array_checkbox[i]).val().toString()+"|";

					let orderStatus = $(array_checkbox[i]).attr("status");
					if (orderStatus == "cancel") {
						cancel_id +=$(array_checkbox[i]).val().toString()+"|";
					}
				}
				if(string_id != ""){
					switch(attr_action){
						case 'cancel_order':
							//do cancel ajax
							if (cancel_id != "") {
								alert("<?php echo ('Unable to cancel orders in CANCEL status') ?>");
								return false;
							} else {
								$("#array_request_cancel").val(string_id);
								$("#request_cancel").submit();
							}

							/* $("#array_request_cancel").val(string_id);
							var value_cancel = string_id;
							$.ajax({
								url:"<?php echo $block->getCancelUrl();  ?>",
								method: "POST",
								data:{"array_request_cancel":value_cancel},
								success:function(data){
									var message = "cancel order";
									alert(message);
									top.location.reload();
								}
							}) */
							break;
						break;
						case 'make_packaging':
							//do invoice
							if (cancel_id != "") {
								alert("<?php echo ('Unable to pack orders in CANCEL status') ?>");
								return false;
							} else {
								$("#array_request_packaging").val(string_id);
								$("#request_packaging").submit();
							}
							
							break;
						break;
						case 'make_shipment': 
							if (cancel_id != "") {
								alert("<?php echo ('Unable to ship orders in CANCEL status') ?>");
								return false;
							}
							//make shipment
						break;
						case 'print_invoice':
							if (cancel_id != "") {
								alert("<?php echo ('Unable to print invoice for orders in CANCEL status') ?>");
								return false;
							} else {
								$("#array_print_invoice").val(string_id);
								$("#print_invoice").submit();
							}
							break;
						break;

						case 'print_shipment': 
							if (cancel_id != "") {
								alert("<?php echo ('Unable to print shipment for orders in CANCEL status') ?>");
								return false;
							} else {
								$("#array_print_ship").val(string_id);
								$("#print_ship").submit();
							}
							break;
						break;
					}
				}else{
					alert("<?php echo __('You haven\'t selected any items!'); ?>");
				}
			});
		});
	});
</script>
<style>
    .data-grid-cell-content.canceled {
        color: #ca0000;
    }
</style>