<?php
$order = $block->getOrderDetail();
$entity_id = $order["entity_id"];
$increment_id = $order["increment_id"];
$created_at = $order["created_at"];
$order_status = $order["status"];
$id_provider = $order["seller_id"];
$provider = $block->getProvider($id_provider);
$place_ip = $order["remote_ip"];
$name_reseller = trim($order["customer_lastname"])." ".trim($order["customer_firstname"]);
$email_reseller = $order["customer_email"];
$customer_group = "Wholesale";  
$address = $block->getAddressOfSeller($increment_id);
$billing_address = $address["billing"];
$shipping_address = $address["shipping"];
$payment_method = $block->getPaymentMethods($increment_id);
$payment_data = unserialize($payment_method["additional_information"]);
$products = $block->getProducts($entity_id);
//get base url on magento 2;
$base_url = $block->getBaseUrl();
$url_ajax = $base_url."test/";
$status_order = $order["status"];
$invoice_url = $block->getUrlInvoice($entity_id);
$submit_form_url = $block->getSubmitInvoiceUrl();
$form_key = $block->getFormKey();
$total_qty = $block->formartQty($block->getTotalQty($entity_id));
//get invoice 
$have_invoiced = $block->checkInvoiceCreated($entity_id);
?>
<main id="anchor-content" class="page-content">
	<div class="page-main-actions">
		<div class="page-actions-placeholder" style=""></div>
		<div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
			<button id="back" title="Back" type="button" class="action-default scalable back"  onclick="setLocation('<?php echo $block->getBackUrlInvoice($entity_id); ?>')" data-ui-id="sales-invoice-view-back-button">
			<span><?php echo __("Back"); ?></span>
            </button>
            <?php if($status_order == "Processing"){ ?>
			<button id="print" title="Print" type="button" class="action-default scalable print" onclick="fnPrintPdf('<?php echo $entity_id; ?>');" data-ui-id="sales-invoice-view-print-button">
            <span><?php echo __("Print"); ?></span>
            </button>
            <?php } ?>
			<div class="page-actions-buttons"></div>
			<div class="page-actions-inner" data-title="#000000001"></div>
		</div>
    </div>
    <script>
        function fnPrintPdf(order_id){
            window.open("<?php echo $block->getPrintInvoiceUrl($entity_id); ?>");
        }
    </script>
	<div id="page:main-container" class="page-columns">
		<div class="admin__old">
			<div id="container" class="main-col">
                <?php if($have_invoiced == false){ ?>
                    <form id="edit_form" class="order-invoice-edit" method = "post" action="<?php echo $submit_form_url; ?>" novalidate = "novalidate">
                    <input type="hidden" value = "<?php echo $entity_id ?>" name="order_id" id="order_id" />
                    <input type="hidden" value = "<?php echo $total_qty ?>" name="total_qty" id="total_qty" />
                    <div><input name="form_key" type="hidden" value="<?php echo $form_key; ?>"></div>   
                <?php } ?>
				<section class="admin__page-section order-view-account-information">
					<div class="admin__page-section-title">
						<span class="title"><?php echo __("Order & Account Information"); ?></span>
					</div>
					<div class="admin__page-section-content">
						<div class="admin__page-section-item order-information">
							<div class="admin__page-section-item-title">
                                <span class="title">
                                    <?php echo __("Order") ?> # <?php echo $increment_id ?> (<span><?php echo __("The order confirmation email was sent") ?></span>)
                                </span>
							</div>
							<div class="admin__page-section-item-content">
                                <table class="admin__table-secondary order-information-table">
                                    <tbody>
                                        <tr>
                                            <th><?php echo __("Order Date") ?></th>
                                            <td><?php echo $created_at ?></td>
                                        </tr>
                                        <tr>
                                            <th><?php echo __("Order Status"); ?></th>
                                            <td><span id="order_status"><?php echo $order_status; ?></span></td>
                                        </tr>
                                        <tr>
                                            <th><?php echo __("Purchased From") ?></th>
                                            <td><?php echo $provider->getData("store_name"); ?></td>
                                        </tr>
                                        <tr>
                                            <th><?php echo __("Placed from IP") ?></th>
                                            <td><?php echo $place_ip; ?></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
						</div>
						<div class="admin__page-section-item order-account-information">
                            <div class="admin__page-section-item-title">
                                <span class="title"><?php echo __("Account Information"); ?></span>
                                <div class="actions">
                                    <a href="#" target="_blank"></a>
                                </div>
                            </div>
                            <div class="admin__page-section-item-content">
                                <table class="admin__table-secondary order-account-information-table">
                                    <tbody>
                                        <tr>
                                            <th><?php echo __("Customer Name"); ?></th>
                                            <td>
                                                <a href="#">
                                                <span><?php echo $name_reseller; ?></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Email</th>
                                            <td><a href="mailto:<?php echo $email_reseller; ?>"><?php echo $email_reseller; ?></a></td>
                                        </tr>
                                        <tr>
                                            <th><?php echo __("Customer Group"); ?></th>
                                            <td><?php echo $customer_group; ?></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
					</div>
				</section>
				<section class="admin__page-section order-addresses">
                    <div class="admin__page-section-title">
                        <span class="title"><?php echo __("Address Information"); ?></span>
                    </div>
                    <div class="admin__page-section-content">
                        <div class="admin__page-section-item order-billing-address">
                            <div class="admin__page-section-item-title">
                                <span class="title"><?php echo __("Billing Address"); ?></span>
                            </div>
                            <address class="admin__page-section-item-content">
                                <?php echo $billing_address["seller_name"] ?><br>
                                <?php echo $billing_address["street"] ?><br>
                                <?php echo $billing_address["district"] ?>, <?php echo $billing_address["city"] ?><br>
                                T: <?php echo $billing_address["telephone"] ?>
                            </address>
                        </div>
                        <div class="admin__page-section-item order-shipping-address">
                            <div class="admin__page-section-item-title">
                                <span class="title"><?php echo __("Shipping Address"); ?></span>
                            </div>
                            <address class="admin__page-section-item-content">
                                <?php echo $shipping_address["seller_name"] ?><br>
                                <?php echo $shipping_address["street"] ?><br>
                                <?php echo $shipping_address["district"] ?>, <?php echo $shipping_address["city"] ?><br>
                                T: <?php echo $shipping_address["telephone"] ?>
                            </address>
                        </div>
                    </div>
                </section>
				<section class="admin__page-section order-view-billing-shipping">
                    <div class="admin__page-section-title">
                        <span class="title"><?php echo __("Payment &amp; Shipping Method"); ?></span>
                    </div>
                    <div class="admin__page-section-content">
                        <div class="admin__page-section-item order-payment-method">
                            <div class="admin__page-section-item-title">
                                <span class="title"><?php echo __("Payment Information"); ?> </span>
                            </div>
                            <div class="admin__page-section-item-content">
                                <div class="order-payment-method-title">
                                    <p><?php echo $payment_data["method_title"] ?></p>
                                </div>
                                <!--<div class="order-payment-currency">The order was placed using VND.</div>-->
                                <div class="order-payment-additional">
                                </div>
                            </div>
                        </div>
                        <div class="admin__page-section-item order-shipping-method">
                            <div class="admin__page-section-item-title">
                                <span class="title"><?php echo __("Shipping &amp; Handling Information"); ?></span>
                            </div>
                            <div class="admin__page-section-item-content">
                                <strong><?php echo $order["shipping_description"] ?></strong>
                                <span class="price"><?php echo $block->formartPrice($order["base_shipping_amount"]); ?></span>                        
                            </div>
                        </div>
                    </div>
                </section>
				<section class="admin__page-section">
					<div class="admin__page-section-title">
						<span class="title"><?php echo __("Items Invoiced"); ?></span>
					</div>
					<div id="invoice_item_container" class="admin__page-section-content">
						<div class="admin__table-wrapper">
							<table class="data-table admin__table-primary order-invoice-tables">
								<thead>
									<tr class="headings">
										<th class="col-product"><span><?php echo __("Product"); ?></span></th>
										<th class="col-price"><span><?php echo __("Price"); ?></span></th>
                                        <th class="col-qty"><span><?php echo __("Qty"); ?></span></th>
                                        <th class="col-qty-invoice"><span><?php echo __("Qty to Invoice"); ?></span></th>
										<th class="col-subtotal"><span><?php echo __("Subtotal"); ?></span></th>
										<th class="col-tax"><span><?php echo __("Tax Amount"); ?></span></th>
										<th class="col-discount"><span><?php echo __("Discount Amount"); ?></span></th>
										<th class="col-total last"><span><?php echo __("Row Total"); ?></span></th>
									</tr>
                                </thead>
                                <?php if($have_invoiced == false){ ?>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">&nbsp;</td>
                                        <td colspan="3"><button id="id_f5aba87094c10e306af31014563653e8" title="Update Qty's" type="button" class="action-default scalable update-button" onclick="submitAndReloadArea($('invoice_item_container'),'http://dev.wisiproduction.com/admin/sales/order_invoice/updateQty/order_id/67/key/0a2ad5f8bf622569ede611b1b5d57f2e32cb8c534089099005e5e784e944ec0d/')" data-ui-id="order-items-update-button">
                                            <span><?php echo __("Update Qty's"); ?></span>
                                            </button>
                                        </td>
                                        <td colspan="3">&nbsp;</td>
                                    </tr>
                                </tfoot>
                                <?php } ?>
                                <?php $i = 0; ?>
                                <?php foreach($products as $_product){ ?>
                                <?php
                                    $name = $_product["name"];
                                    $sku = $_product["sku"];
                                    $origin_price = $block->formartPrice($_product["original_price"]);
                                    $price = $block->formartPrice($_product["price"]);
                                    $qty_ordered = $_product["qty_ordered"];
                                    $sub_total = $block->formartPrice($_product["sub_total"]);
                                    $tax_amount = $block->formartPrice($_product["tax_amount"]);
                                    $tax_percent = $_product["tax_percent"];
                                    $discount_amount = $block->formartPrice($_product["discount_amount"]);
                                    $row_total = $block->formartPrice($_product["row_total"]);
                                    
                                    $class ="class='odd'";
                                    if($i % 2 ==0){
                                        $class ="class='even'";
                                    }
                                    $i++;
                                    $array_options = $_product["options"];
                                ?>
								<tbody <?php echo $class; ?>>
									<tr>
										<td class="col-product">
											<div id="order_item_162_title" class="product-title">
												<?php echo $name; ?>
											</div>
											<div class="product-sku-block">
                                                <span>SKU:</span> <?php echo $sku; ?>
                                                <?php if(count($array_options) > 0){ ?>
                                                    <dl class="item-options">
                                                        <?php foreach($array_options as $_options){ ?>
                                                            <?php 
                                                            $attribute_label = $_options["label"];
                                                            $attribute_option = $_options["value_option"];
                                                            ?>
                                                            <dt><?php echo __($attribute_label); ?>:</dt>
                                                            <dd>
                                                                <?php echo __($attribute_option); ?>
                                                            </dd>
                                                        <?php } ?>
                                                    </dl>
                                                <?php } ?>
											</div>
										</td>
										<td class="col-price">
											<div class="price-excl-tax">
												<span class="price"><?php echo $price ?></span>
											</div>
										</td>
                                        <td class="col-qty"><?php echo $block->formartQty($qty_ordered) ?></td>
                                        <td class="col-qty-invoice">
                                            <input type="text" class="input-text admin__control-text qty-input" name="invoice[items][161]" value="<?php echo $block->formartQty($qty_ordered); ?>">
                                        </td>
										<td class="col-subtotal">
											<div class="price-excl-tax">
												<span class="price"><?php echo $sub_total; ?></span>
											</div>
										</td>
										<td class="col-tax"><span class="price"><?php echo $tax_amount; ?></span></td>
										<td class="col-discount"><span class="price"><?php echo $discount_amount; ?></span></td>
										<td class="col-total last">
											<span class="price"><?php echo $row_total; ?></span>    
										</td>
									</tr>
                                </tbody>
                                <?php } ?>
							</table>
						</div>
					</div>
				</section>
				<section class="admin__page-section">
					<div class="admin__page-section-title">
						<span class="title">Order Total</span>
					</div>
					<div class="admin__page-section-content">
						<div class="admin__page-section-item order-comments-history">
							<div class="admin__page-section-item-title">
								<span class="title">Invoice History</span>
							</div>
							<div class="admin__page-section-item-content">
								<div id="comments_block" class="edit-order-comments">
									<div class="order-history-block">
										<div class="admin__field field-row">
											<label class="admin__field-label" for="history_comment">Comment Text</label>
											<div class="admin__field-control">
												<textarea name="history_comment" class="admin__control-textarea" rows="3" cols="5" id="history_comment"></textarea>
											</div>
										</div>
										<div class="admin__field">
											<div class="order-history-comments-options">
												<div class="admin__field admin__field-option">
													<input name="comment[is_customer_notified]" type="checkbox" class="admin__control-checkbox" id="history_notify" value="1">
													<label class="admin__field-label" for="history_notify">Notify Customer by Email</label>
												</div>
												<div class="admin__field admin__field-option">
													<input name="comment[is_visible_on_front]" type="checkbox" id="history_visible" class="admin__control-checkbox" value="1">
													<label class="admin__field-label" for="history_visible"> Visible on Storefront</label>
												</div>
											</div>
											<div class="order-history-comments-actions">
												<button id="submit_comment_button" title="Submit Comment" type="button" class="action-default scalable action-secondary save" data-ui-id="order-comments-submit-button">
												<span>Submit Comment</span>
												</button>
											</div>
										</div>
									</div>
									<ul class="note-list">
									</ul>
								</div>
								<script>
									require(['prototype'], function(){
                                        submitComment = function() {
                                            submitAndReloadArea($('comments_block').parentNode, 'http://dev.wisiproduction.com/admin/sales/order_invoice/addComment/id/1/key/020a1107db88c3a93797e59d6d446a9b33c8b06c44db2dbf02922237d561bc55/')
                                        }
                                        
                                        if ($('submit_comment_button')) {
                                            $('submit_comment_button').observe('click', submitComment);
                                        }
									});
								</script>
							</div>
						</div>
						<div id="history_form" class="admin__page-section-item order-totals">
							<div class="admin__page-section-item-title">
								<span class="title"><?php echo __("Invoice Totals"); ?></span>
							</div>
							<table class="data-table admin__table-secondary order-subtotal-table">
								<tfoot>
									<tr class="col-0">
										<td class="label">
											<strong>
                                                <?php echo __("Grand Total"); ?>
                                            </strong>
										</td>
										<td>
											<strong><span class="price"><?php echo $block->formartPrice($order["grand_total"]); ?></span></strong>
										</td>
									</tr>
								</tfoot>
								<tbody>
									<tr class="col-0">
										<td class="label">
                                            <?php echo __("Subtotal"); ?>
										</td>
										<td>
											<span><span class="price"><?php echo $block->formartPrice($order["base_subtotal"]); ?></span></span>
										</td>
									</tr>
									<tr class="col-1">
										<td class="label">
                                            <?php echo __("Shipping &amp; Handling"); ?>
										</td>
										<td>
											<span><span class="price"><?php echo $block->formartPrice($order["base_shipping_amount"]); ?></span></span>
										</td>
									</tr>
								</tbody>
                            </table>
                            <?php if($have_invoiced == false){ ?>
                            <div class="actions">
                                <button id="submit_invoice" title="Submit Invoice" type="button" class="action-default scalable save submit-button primary" onclick="$('edit_form').submit()">
                                    <span><?php echo __("Submit Invoice"); ?></span>
                                </button>
                            </div>
                            <?php } ?>
						</div>
					</div>
				</section>
				<script>
					require([
					    'jquery',
					    'mage/backend/form',
					    'mage/backend/validation'
					], function($){
					
					    $('#edit_form').form()
					        .validation({
					            validationUrl: '',
					            highlight: function(element) {
					                var detailsElement = $(element).closest('details');
					                if (detailsElement.length && detailsElement.is('.details')) {
					                    var summaryElement = detailsElement.find('summary');
					                    if (summaryElement.length && summaryElement.attr('aria-expanded') === "false") {
					                        summaryElement.trigger('click');
					                    }
					                }
					                $(element).trigger('highlight.validate');
					            }
					        });
					
					});
                </script>
                </form>
			</div>
		</div>
	</div>
</main>