<?php
$order = $block->getOrderDetail();
$entity_id = $order["entity_id"];
$increment_id = $order["increment_id"];
$created_at = $order["created_at"];
$order_status = $order["status"];
$id_provider = $order["seller_id"];
$provider = $block->getProvider($id_provider);
$place_ip = $order["remote_ip"];
$name_reseller = trim($order["customer_lastname"])." ".trim($order["customer_firstname"]);
$email_reseller = $order["customer_email"];
$customer_group = "Wholesale";  
$address = $block->getAddressOfSeller($increment_id);
$billing_address = $address["billing"];
$shipping_address = $address["shipping"];
$payment_method = $block->getPaymentMethods($increment_id);
$payment_data = unserialize($payment_method["additional_information"]);
$products = $block->getProducts($entity_id);
//get base url on magento 2;
$base_url = $block->getBaseUrl();
$url_ajax = $base_url."test/";
$status_order = $order["status"];
$invoice_url = $block->getUrlInvoice($entity_id);
$submit_form_url = $block->getSubmitInvoiceUrl();
$form_key = $block->getFormKey();
$total_qty = $block->formartQty($block->getTotalQty($entity_id));
$company_delivery = $block->getListDelivery();
$grand_total = $order["grand_total"];
$shipping_code = $order["order_code_api"];
?>
<main id="anchor-content" class="page-content">
	<div class="page-main-actions">
		<div class="page-actions-placeholder" style=""></div>
		<div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
        <button id="back" title="Back" type="button" class="action-default scalable back"  onclick="setLocation('<?php echo $block->getBackUrlInvoice($entity_id); ?>')" data-ui-id="sales-invoice-view-back-button">
			<span><?php echo __("Back"); ?></span>
            </button>
            <?php if($status_order == "Prepare to ship"){ ?>
			<button id="print" title="Print" type="button" class="action-default scalable print" onclick="fnPrintPdf('<?php echo $entity_id; ?>');" data-ui-id="sales-invoice-view-print-button">
            <span><?php echo __("Print"); ?></span>
            </button>
            <?php } ?>
			<div class="page-actions-buttons"></div>
			<div class="page-actions-inner" data-title="#000000001"></div>
		</div>
    </div>
    <script>
        function fnPrintPdf(order_id){
            window.open("<?php echo $block->getPrintShipUrl($entity_id); ?>");
        }
    </script>
	<div id="page:main-container" class="page-columns">
		<div class="admin__old">
			<div id="container" class="main-col">
                <form id="edit_form" method="post" action="<?php echo $block->getSubmitShipUrl(); ?>" novalidate="novalidate">
                    <input type="hidden" value = "<?php echo $entity_id ?>" name="order_id" id="order_id" />
                    <input type="hidden" value = "<?php echo $total_qty ?>" name="total_qty" id="total_qty" />
                    <div><input name="form_key" type="hidden" value="<?php echo $form_key; ?>"></div>
					<section class="admin__page-section order-view-account-information">
                        <div class="admin__page-section-title">
                            <span class="title"><?php echo __("Order & Account Information"); ?></span>
                        </div>
                        <div class="admin__page-section-content">
                            <div class="admin__page-section-item order-information">
                                <div class="admin__page-section-item-title">
                                    <span class="title">
                                        <?php echo __("Order") ?> # <?php echo $increment_id ?> (<span><?php echo __("The order confirmation email was sent") ?></span>)
                                    </span>
                                </div>
                                <div class="admin__page-section-item-content">
                                    <table class="admin__table-secondary order-information-table">
                                        <tbody>
                                            <tr>
                                                <th><?php echo __("Order Date") ?></th>
                                                <td><?php echo $created_at ?></td>
                                            </tr>
                                            <tr>
                                                <th><?php echo __("Order Status"); ?></th>
                                                <td><span id="order_status"><?php echo $order_status; ?></span></td>
                                            </tr>
                                            <tr>
                                                <th><?php echo __("Purchased From") ?></th>
                                                <td><?php echo $provider->getData("store_name"); ?></td>
                                            </tr>
                                            <tr>
                                                <th><?php echo __("Placed from IP") ?></th>
                                                <td><?php echo $place_ip; ?></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="admin__page-section-item order-account-information">
                                <div class="admin__page-section-item-title">
                                    <span class="title"><?php echo __("Account Information"); ?></span>
                                    <div class="actions">
                                        <a href="#" target="_blank"></a>
                                    </div>
                                </div>
                                <div class="admin__page-section-item-content">
                                    <table class="admin__table-secondary order-account-information-table">
                                        <tbody>
                                            <tr>
                                                <th><?php echo __("Customer Name"); ?></th>
                                                <td>
                                                    <a href="#">
                                                    <span><?php echo $name_reseller; ?></span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Email</th>
                                                <td><a href="mailto:<?php echo $email_reseller; ?>"><?php echo $email_reseller; ?></a></td>
                                            </tr>
                                            <tr>
                                                <th><?php echo __("Customer Group"); ?></th>
                                                <td><?php echo $customer_group; ?></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
					<section class="admin__page-section order-addresses">
                        <div class="admin__page-section-title">
                            <span class="title"><?php echo __("Address Information"); ?></span>
                        </div>
                        <div class="admin__page-section-content">
                            <div class="admin__page-section-item order-billing-address">
                                <div class="admin__page-section-item-title">
                                    <span class="title"><?php echo __("Billing Address"); ?></span>
                                </div>
                                <address class="admin__page-section-item-content">
                                    <?php echo $billing_address["seller_name"] ?><br>
                                    <?php echo $billing_address["street"] ?><br>
                                    <?php echo $billing_address["district"] ?>, <?php echo $billing_address["city"] ?><br>
                                    T: <?php echo $billing_address["telephone"] ?>
                                </address>
                            </div>
                            <div class="admin__page-section-item order-shipping-address">
                                <div class="admin__page-section-item-title">
                                    <span class="title"><?php echo __("Shipping Address"); ?></span>
                                </div>
                                <address class="admin__page-section-item-content">
                                    <?php echo $shipping_address["seller_name"] ?><br>
                                    <?php echo $shipping_address["street"] ?><br>
                                    <?php echo $shipping_address["district"] ?>, <?php echo $shipping_address["city"] ?><br>
                                    T: <?php echo $shipping_address["telephone"] ?>
                                </address>
                            </div>
                        </div>
                    </section>
					<div class="admin__page-section">
                        <div class="admin__page-section-title">
								<span class="title"><?php echo __("Payment &amp; Shipping Method"); ?></span>
                        </div>
						<div class="admin__page-section-content">
                            <div class="admin__page-section-item order-payment-method">
                                <div class="admin__page-section-item-title">
                                    <span class="title"><?php echo __("Payment Information"); ?> </span>
                                </div>
                                <div class="admin__page-section-item-content">
                                    <div class="order-payment-method-title">
                                        <p><?php echo $payment_data["method_title"] ?></p>
                                    </div>
                                    <!--<div class="order-payment-currency">The order was placed using VND.</div>-->
                                    <div class="order-payment-additional">
                                    </div>
                                </div>
                            </div>
							<div class="admin__page-section-item order-shipping-address">
                                <div class="admin__page-section-item-title">
                                    <span class="title"><?php echo __("Shipping &amp; Handling Information"); ?></span>
                                </div>
								<div class="admin__page-section-item-content shipping-description-wrapper">
                                    <!--<div class="admin__page-section-item-title">
                                        <span class="title"><?php echo __("Shipping &amp; Handling Information"); ?></span>
                                    </div>-->
                                    <div class="admin__page-section-item-content">
                                        <strong><?php echo $order["shipping_description"] ?></strong>
                                        <span class="price"><?php echo $block->formartPrice($order["base_shipping_amount"]); ?></span>                        
                                    </div>
									<!--<div class="shipping-description-title"><?php echo __("Delivery Company"); ?></div>
									<div class="shipping-description-content">
										<?php echo __("Total Shipping Charges"); ?>:
										<span class="price">0.00</span>                                            
									</div>-->
								</div>
								<!--<div>
									<script>
										require(['prototype'], function(){
										
										    //<![CDATA[
										    var trackingControl;
										    trackingControl = {
										        index : 0,
										        add : function () {
										            this.index++;
										            var data = {index:this.index};
										            Element.insert($('track_row_container'), {
										                bottom: this.template({
										                    data: data
										                })
										            });
										            $('trackingC' + this.index).disabled = false;
										            $('trackingT' + this.index).disabled = false;
										            $('trackingN' + this.index).disabled = false;
										            this.bindCurrierOnchange();
										        },
										        deleteRow : function(event) {
										            var row = Event.findElement(event, 'tr');
										            if (row) {
										                row.parentNode.removeChild(row)
										            }
										        },
										        bindCurrierOnchange : function() {
										            var elems = $('tracking_numbers_table').select('.select');
										            elems.each(function (elem) {
										                if (!elem.onchangeBound) {
										                    elem.onchangeBound = true;
										                    elem.valueInput = $(elem.parentNode.parentNode).select('.number-title')[0];
										                    elem.observe('change', this.currierOnchange);
										                }
										            }.bind(this));
										        },
										        currierOnchange : function(event) {
										            var elem = Event.element(event);
										            var option = elem.options[elem.selectedIndex];
										            if (option.value && option.value != 'custom') {
										                elem.valueInput.value = option.text;
										            }
										            else {
										                elem.valueInput.value = '';
										            }
										        }
										    };
										
										    window.trackingControl = trackingControl;
										    //]]>
										
										});
									</script>
									<script id="track_row_template" type="text/x-magento-template">
										<tr>
										    <td class="col-carrier">
										        <select name="tracking[<%- data.index %>][carrier_code]"
										                id="trackingC<%- data.index %>"
										                class="select admin__control-select carrier"
										                disabled="disabled">
										                                <option value="custom">Custom Value</option>
										                                <option value="dhl">DHL</option>
										                                <option value="fedex">Federal Express</option>
										                                <option value="ups">United Parcel Service</option>
										                                <option value="usps">United States Postal Service</option>
										                        </select>
										    </td>
										    <td class="col-title">
										        <input class="input-text admin__control-text number-title"
										               type="text"
										               name="tracking[<%- data.index %>][title]"
										               id="trackingT<%- data.index %>"
										               value=""
										               disabled="disabled" />
										    </td>
										    <td class="col-number">
										        <input class="input-text admin__control-text required-entry"
										               type="text"
										               name="tracking[<%- data.index %>][number]"
										               id="trackingN<%- data.index %>"
										               value=""
										               disabled="disabled" />
										    </td>
										    <td class="col-delete">
										        <button
										            type="button"
										            class="action-default action-delete"
										            onclick="trackingControl.deleteRow(event);return false">
										            <span>Delete</span>
										        </button>
										    </td>
										</tr>
									</script>
									<div class="admin__control-table-wrapper">
										<table class="data-table admin__control-table" id="tracking_numbers_table">
											<thead>
												<tr class="headings">
													<th class="col-carrier">Carrier</th>
													<th class="col-title">Title</th>
													<th class="col-number">Number</th>
													<th class="col-delete">Action</th>
												</tr>
											</thead>
											<tfoot>
												<tr>
													<td colspan="4" class="col-actions-add"><button id="id_12b15214cf262e1af9cd3331961b428f" title="Add Tracking Number" type="button" class="action-default scalable" onclick="trackingControl.add()" data-ui-id="shipment-tracking-add-button">
														<span>Add Tracking Number</span>
														</button>
													</td>
												</tr>
											</tfoot>
											<tbody id="track_row_container">
												<tr>
													<td class="col-carrier">
														<select name="tracking[1][carrier_code]" id="trackingC1" class="select admin__control-select carrier">
															<option value="custom">Custom Value</option>
															<option value="dhl">DHL</option>
															<option value="fedex">Federal Express</option>
															<option value="ups">United Parcel Service</option>
															<option value="usps">United States Postal Service</option>
														</select>
													</td>
													<td class="col-title">
														<input class="input-text admin__control-text number-title" type="text" name="tracking[1][title]" id="trackingT1" value="">
													</td>
													<td class="col-number">
														<input class="input-text admin__control-text required-entry" type="text" name="tracking[1][number]" id="trackingN1" value="">
													</td>
													<td class="col-delete">
														<button type="button" class="action-default action-delete" onclick="trackingControl.deleteRow(event);return false">
														<span>Delete</span>
														</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<script>
										require([
										    'mage/template',
										    'prototype'
										], function (mageTemplate) {
										
										    //<![CDATA[
										    trackingControl.template = mageTemplate('#track_row_template');
										    //]]>
										
										});
									</script>
								</div>-->
							</div>
						</div>
					</div>
					<div id="ship_items_container">
						<section class="admin__page-section">
							<div class="admin__page-section-title">
								<span class="title"><?php echo __("Items to Ship"); ?></span>
							</div>
							<div class="admin__table-wrapper">
								<table class="data-table admin__table-primary order-shipment-table">
									<thead>
										<tr class="headings">
											<th class="col-product"><span><?php echo __("Product"); ?></span></th>
											<th class="col-ordered-qty"><span><?php echo __("Qty"); ?></span></th>
											<th class="col-qty last">
												<span><?php echo __("Qty to Ship"); ?></span>
											</th>
										</tr>
                                    </thead>
                                    <?php $i = 0; ?>
                                    <?php foreach($products as $_product){ ?>
                                    <?php
                                        $name = $_product["name"];
                                        $sku = $_product["sku"];
                                        $origin_price = $block->formartPrice($_product["original_price"]);
                                        $price = $block->formartPrice($_product["price"]);
                                        $qty_ordered = $_product["qty_ordered"];
                                        $sub_total = $block->formartPrice($_product["sub_total"]);
                                        $tax_amount = $block->formartPrice($_product["tax_amount"]);
                                        $tax_percent = $_product["tax_percent"];
                                        $discount_amount = $block->formartPrice($_product["discount_amount"]);
                                        $row_total = $block->formartPrice($_product["row_total"]);
                                        
                                        $class ="class='odd'";
                                        if($i % 2 ==0){
                                            $class ="class='even'";
                                        }
										$i++;
										$array_options = $_product["options"];
                                    ?>
									<tbody <?php echo $class; ?>>
										<tr>
											<td class="col-product">
												<div id="order_item_162_title" class="product-title">
                                                    <?php echo $name; ?>
												</div>
												<div class="product-sku-block">
													<span>SKU:</span> <?php echo $sku; ?> 
													<?php if(count($array_options) > 0){ ?>
                                                    <dl class="item-options">
                                                        <?php foreach($array_options as $_options){ ?>
                                                            <?php 
                                                            $attribute_label = $_options["label"];
                                                            $attribute_option = $_options["value_option"];
                                                            ?>
                                                            <dt><?php echo __($attribute_label); ?>:</dt>
                                                            <dd>
                                                                <?php echo __($attribute_option); ?>
                                                            </dd>
                                                        <?php } ?>
                                                    </dl>
                                                	<?php } ?>
												</div>
											</td>
											<td class="col-ordered-qty">
												<table class="qty-table">
													<tbody>
														<tr>
															<th><?php echo __("Ordered"); ?></th>
															<td><?php echo $block->formartQty($qty_ordered) ?></td>
														</tr>
														<tr>
															<th><?php echo __("Invoiced"); ?></th>
															<td><?php echo $block->formartQty($qty_ordered) ?></td>
														</tr>
													</tbody>
												</table>
											</td>
											<td class="col-qty last">
												<input type="text" class="input-text admin__control-text qty-item" name="shipment[items][162]" value="<?php echo $block->formartQty($qty_ordered) ?>">
											</td>
										</tr>
                                    </tbody>
                                    <?php } ?>
								</table>
							</div>
						</section>
						<section class="admin__page-section">
							<div class="admin__page-section-title">
								<span class="title">Shipment Total</span>
							</div>
							<div class="admin__page-section-content order-comments-history">
								<div class="admin__page-section-item">
									<div class="admin__page-section-item-title">
										<span class="title">Shipment Comments</span>
									</div>
									<div class="admin__page-section-item-content">
										<div id="order-history_form" class="admin__field">
											<label class="admin__field-label" for="shipment_comment_text">
											<span>Comment Text</span></label>
											<div class="admin__field-control">
												<textarea id="shipment_comment_text" class="admin__control-textarea" name="shipment[comment_text]" rows="3" cols="5"></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="admin__page-section-item order-totals order-totals-actions">
								<div class="admin__page-section-item-title">
									<span class="title">Shipment Options</span>
								</div>
								<div class="admin__page-section-item-content">
									<div class="field choice admin__field admin__field-option field-append">
										<input id="notify_customer" class="admin__control-checkbox" name="shipment[comment_customer_notify]" value="1" type="checkbox" disabled="">
										<label class="admin__field-label" for="notify_customer">
										<span>Append Comments</span></label>
									</div>
									<div class="field choice admin__field admin__field-option field-email">
										<input id="send_email" class="admin__control-checkbox" name="shipment[send_email]" value="1" type="checkbox">
										<label class="admin__field-label" for="send_email">
										<span>Email Copy of Shipment</span></label>
                                    </div>
                                    <?php if($shipping_code == ""){ ?>
									<p></p>
									<div class="order-history-comments-actions actions">
										<button id="id_706c46fb348486fe5127e7d22ce71b71" title="Submit Shipment" type="button" class="action-default scalable save submit-button primary" onclick ="$('edit_form').submit()" onclick_bak="submitShipment(this);" data-ui-id="order-items-submit-button">
										<span><?php echo __("Vận chuyển đơn hàng"); ?></span>
										</button>
                                    </div>
                                    <?php } ?>
								</div>
							</div>
						</section>
						<script>
							require([
							    "jquery",
							    "Magento_Ui/js/modal/alert",
							    "prototype"
							], function(jQuery, alert){
							
							//<![CDATA[
							var sendEmailCheckbox = $('send_email');
							if (sendEmailCheckbox) {
							    var notifyCustomerCheckbox = $('notify_customer');
							    var shipmentCommentText = $('shipment_comment_text');
							    Event.observe(sendEmailCheckbox, 'change', bindSendEmail);
							    bindSendEmail();
							}
							function bindSendEmail() {
							    if (sendEmailCheckbox.checked == true) {
							        notifyCustomerCheckbox.disabled = false;
							    }
							    else {
							        notifyCustomerCheckbox.disabled = true;
							    }
							}
							window.toggleCreateLabelCheckbox = function() {
							    var checkbox = $('create_shipping_label');
							    var submitButton = checkbox.up('.order-totals').select('.submit-button span')[0];
							    if (checkbox.checked) {
							        submitButton.innerText += '...';
							    } else {
							        submitButton.innerText = submitButton.innerText.replace(/\.\.\.$/, '');
							    }
							}
							window.submitShipment = function(btn) {
							    if (!validQtyItems()) {
							        alert({
							            content: 'Invalid value(s) for Qty to Ship'
							        });
							        return;
							    }
							    var checkbox = $(btn).up('.order-totals').select('#create_shipping_label')[0];
							    if (checkbox && checkbox.checked) {
							        packaging.showWindow();
							    } else {
							        disableElements('submit-button');
							        // Temporary solution will be replaced after refactoring order functionality
							        jQuery('#edit_form').on('invalid-form.validate', function() {
							            enableElements('submit-button');
							            jQuery('#edit_form').off('invalid-form.validate');
							        });
							        jQuery('#edit_form').triggerHandler('save');
							    }
							}
							window.validQtyItems = function() {
							    var valid = true;
							    $$('.qty-item').each(function(item) {
							        var val = parseFloat(item.value);
							        if (isNaN(val) || val < 0) {
							            valid = false;
							        }
							    });
							    return valid;
							}
							
							window.bindSendEmail = bindSendEmail;
							
							window.shipmentCommentText = shipmentCommentText;
							window.notifyCustomerCheckbox = notifyCustomerCheckbox;
							window.sendEmailCheckbox = sendEmailCheckbox;
							//]]>
							
							});
						</script>
					</div>
				</form>
				<script>
					require([
					    "jquery",
					    "mage/mage",
					    "prototype"
					], function(jQuery){
					    jQuery('#edit_form').mage('form').mage('validation');
					
					});
				</script>
				<script>
					require([
					    "jquery",
					    "prototype",
					    "Magento_Shipping/order/packaging",
					    "Magento_Ui/js/modal/modal"
					], function(jQuery){
					
					    packaging = new Packaging({"createLabelUrl":"http:\/\/dev.wisiproduction.com\/admin\/admin\/order_shipment\/save\/order_id\/68\/key\/18ad0089b7ac4570632d41be597c3fe4de274cb474eb913a48ba76dcee034da2\/","itemsGridUrl":"http:\/\/dev.wisiproduction.com\/admin\/admin\/order_shipment\/getShippingItemsGrid\/order_id\/68\/key\/ef4224120102721f00f8aeac09f01049d8eb97c42958de89f5413f5c617df962\/","errorQtyOverLimit":"You are trying to add a quantity for some products that doesn't match the quantity that was shipped.","titleDisabledSaveBtn":"Products should be added to package(s)","validationErrorMsg":"The value that you entered is not valid.","shipmentItemsQty":{"162":1,"163":2,"164":2},"shipmentItemsPrice":{"162":"249000.0000","163":"150000.0000","164":"249000.0000"},"shipmentItemsName":{"162":"Balo Du L\u1ecbch C\u1ee1 Trung Dutti No.23 \/ Hoa xanh l\u00e1","163":"Satin soft pajamas women with lace trim sleepwear P11","164":"Balo Du L\u1ecbch C\u1ee1 Trung Dutti No.23 \/ Hoa liti"},"shipmentItemsWeight":{"162":"500.0000","163":"1.0000","164":"500.0000"},"shipmentItemsProductId":{"162":"3548","163":"6763","164":"3545"},"shipmentItemsOrderItemId":{"162":"162","163":"163","164":"164"},"customizable":[]});
					    packaging.changeContainerType($$('select[name=package_container]')[0]);
					    packaging.checkSizeAndGirthParameter(
					        $$('select[name=package_container]')[0],
					        0        );
					    packaging.setConfirmPackagingCallback(function(){
					        packaging.setParamsCreateLabelRequest($('edit_form').serialize(true));
					        packaging.sendCreateLabelRequest();
					    });
					    packaging.setLabelCreatedCallback(function(response){
					        setLocation("http://dev.wisiproduction.com/admin/sales/order/view/order_id/68/key/84d1ca507f4bb213d16bcef8aece024963e66b3092fa8f4b2b2c66ddebfc54e1/");
					    });
					    packaging.setCancelCallback(function() {
					        if ($('create_shipping_label')) {
					            packaging.cleanPackages();
					            $('create_shipping_label').checked = false;
					            toggleCreateLabelCheckbox();
					        }
					    });
					    packaging.setItemQtyCallback(function(itemId){
					        var item = $$('[name="shipment[items]['+itemId+']"]')[0];
					        if (item && !isNaN(item.value)) {
					            return item.value;
					        }
					    });
					    jQuery('#packaging_window').modal({
					        type: 'slide',
					        title: 'Create Packages',
					        buttons: [{
					            text: 'Cancel',
					            'class': 'action-secondary',
					            click: function () {
					                packaging.cancelPackaging();
					                this.closeModal();
					                }
					            }, {
					            text: 'Save',
					            'attr': {'disabled':'disabled', 'data-action':'save-packages'},
					            'class': 'action-primary _disabled',
					            click: function () {
					                packaging.confirmPackaging();
					                }
					            }, {
					                text: 'Add Package',
					                'attr': {'data-action':'add-packages'},
					                'class': 'action-secondary',
					                click: function () {
					                    packaging.newPackage();
					                }
					        }]
					    });
					});
				</script>
				<script>
					require([
					    'jquery',
					    'mage/backend/form',
					    'mage/backend/validation'
					], function($){
					
					    $('#edit_form').form()
					        .validation({
					            validationUrl: '',
					            highlight: function(element) {
					                var detailsElement = $(element).closest('details');
					                if (detailsElement.length && detailsElement.is('.details')) {
					                    var summaryElement = detailsElement.find('summary');
					                    if (summaryElement.length && summaryElement.attr('aria-expanded') === "false") {
					                        summaryElement.trigger('click');
					                    }
					                }
					                $(element).trigger('highlight.validate');
					            }
					        });
					
					});
				</script>
			</div>
		</div>
	</div>
</main>