<?php 
/** @var \Sm\BasicProducts\Block\BasicProducts $block */
use Magento\Framework\App\Action\Action;
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$_config = $this->helper('Sm\Market\Helper\Data');
$listingTabsBlock = $objectManager->create("\Sm\ListingTabs\Block\ListingTabs");
$list = $listingTabsBlock->getSelectSourceByProductsPrice();

?>

<div class="page-title-wrapper">
    <h1 class="page-title" id="page-title-heading" aria-labelledby="page-title-heading toolbar-amount">
        <span class="base" data-ui-id="page-title-wrapper"><?php echo __("Top Products On Sale"); ?></span>
    </h1>
</div>
<div id="catalog-listing">
	<div class="category-product products  wrapper grid products-grid">
		<ol class="products list items product-items row">
            <?php
            $products = $list["price"]["child"];
            foreach($products as $_product): ?>
            <?php 
            $product_name = $_product->title;
            $product_url = $_product->link;
            $product_img = $_product->_image;
            $specialprice = $_product->getSpecialPrice();
            ?>
			<li class="item product product-item">
				<div class="product-item-info" data-container="product-grid">
					<div class="item-inner">
						<div class="box-image">
							<!--LABEL PRODUCT-->
							<!--END LABEL PRODUCT-->
							<a href="<?php echo $product_url ?>" class="product photo product-item-photo" tabindex="-1">
							<span class="product-image-container">
							<span class="product-image-wrapper">
							<img class="product-image-photo" src="<?php echo $product_img ?>" width="300" height="300" alt="<?php echo $product_name ?>">
							</span>
							</span>
                            </a>


                            <?php
                                $specialprice = $_product->getSpecialPrice();
                                $specialPriceFromDate = $_product->getSpecialFromDate();
                                $specialPriceToDate = $_product->getSpecialToDate();
                                
                                $today = time();

                                if (!$_product->getIsSalable()){ ?>
                                    <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Sold out') ?></span></div>
                                <?php } else if ($specialprice && $_config->getAdvanced('show_salelabel')) {
                                    if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)) { 
                                        $specialPercentage = 100;
                                        if ($_product->getPrice() > 0) {
                                            $specialPercentage = 100 - round($_product->getSpecialPrice() / $_product->getPrice()*100);
                                        }
                                        if($specialPercentage > 0) { ?>
                                            <div class="label-product label-sale">
                                                <span class="sale-product-icon">
                                                    <?php echo __('Sale') . " $specialPercentage%"; ?>
                                                </span>
                                            </div>
                                        <?php } 
                                    }
                                } ?>
						</div>
						<div class="product details product-item-details box-info">
							<h2 class="product name product-item-name product-name">
								<a class="product-item-link" href="<?php echo $product_url ?>"><?php echo $product_name ?></a>
							</h2>
							<div class="price-box price-final_price" data-role="priceBox" data-product-id="2063">
								<span class="price-container ">
                                    <?php echo $this->getProductPrice($_product); ?>
								</span>
							</div>
							<div class="bottom-action">
                                <?php if($_config->getAdvanced('show_addtocart_button')){?>
                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $this->getAddToCartPostParams($_product); 
                                        $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
                                        $session = $objectManager->get('\Magento\Framework\View\Element\FormKey');
                                        ?>
                                        <!-- <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php echo $block->getBlockHtml('formkey')?>
                                            <input  name="form_key" type="hidden" value="<?php echo $session->getFormKey(); ?>" />
                                            <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart btn-action btn-cart">
                                                <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                            </button>
                                        </form> -->
                                    <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <!-- <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div> -->
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <?php } ?>
								<!-- <div class="secondary-addto-links actions-secondary" data-role="add-to-links">
									<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $_config->getAdvanced('show_wishlist_button') ){ ?>
                                        <a onclick="addToWishlist('<?php echo $block->getUrl('mywishlist/wishlist/addwishlist'); ?>','<?php echo $_product->getId(); ?>')" class="action btn-action link-wishlist" title="<?php  echo __('Add to Wish List') ?>">
											<span><?php  echo __('Add to Wish List') ?></span>
										</a>
									<?php } ?>
									<?php if ($block->getAddToCompareUrl() &&  $_config->getAdvanced('show_compare_button') ){ ?>
										<?php
										$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
										?>
										<a href="#" class="action tocompare btn-action link-compare"
										   data-post='<?php  echo $compareHelper->getPostDataParams($_product);?>'
										   data-role="add-to-links"
										   title="<?php  echo __('Add to Compare'); ?>">
											<span><?php  echo __('Add to Compare') ?></span>
										</a>
									<?php }; ?>
								</div> -->

						</div>
						</div>
					</div>
				</div>
            </li>
            <?php endforeach; ?>
		</ol>
	</div>
</div>