<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\Catalog\Block\Product\Compare\ListCompare */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$util = $objectManager->create("\Libero\Customer\Block\Seller\Admin\Util");
?>
<?php $_total = $block->getItems()->getSize() ?>
<?php if ($_total): ?>
    <a style="float:right;" href="#" class="action print" title="<?php echo __('Print This Page') ?>">
        <span><?php echo __('Print This Page') ?></span>
    </a>
        <div class="table-wrapper comparison top-srcoll-cover">
            <table class="data table table-comparison top-srcoll-table" id="product-comparison"
                data-mage-init='{"compareList":{
                    "windowPrintSelector":".action.print",
                    "productsInRow":"5",
                    "selectors":{
                        "productAddToCartSelector":"button.action.tocart"}
                }}'>
                <caption class="table-caption"><?php echo __('Compare Products') ?></caption>
                <thead>
                <tr>
                    <?php $_i = 0 ?>
                    <?php foreach ($block->getItems() as $_item): ?>
                        <?php if ($_i++ == 0): ?>
                            <th scope="row" class="cell remove"><span><?php echo __('Remove Product') ?></span></th>
                        <?php endif; ?>
                        <td class="cell remove product">
                            <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                            <a href="#" data-post='<?php echo $compareHelper->getPostDataRemove($_item); ?>'
                               class="action delete" title="<?php echo __('Remove Product') ?>">
                                <span><?php echo __('Remove Product') ?></span>
                            </a>
                        </td>
                    <?php endforeach; ?>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <?php $_i = 0; ?>
                    <?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
                    <?php /** @var $_item \Magento\Catalog\Model\Product */ ?>
                    <?php foreach ($block->getItems() as $_item): ?>
                        <?php if ($_i++ == 0): ?>
                            <th scope="row" class="cell product"><span><?php echo __('Product') ?></span></th>
                        <?php endif; ?>
                        <td data-th="<?php echo $block->escapeHtml(__('Product')); ?>" class="cell product info products-grid">
							<div class="item">
								<div class="item-inner">
									<div class="box-image">
										<a class="product-item-photo" href="<?php echo $block->getProductUrl($_item) ?>" title="<?php echo $block->stripTags($_item->getName(), null, true) ?>">
											<?php echo $block->getImage($_item, 'product_comparison_list')->toHtml(); ?>
										</a>
									</div>
									<div class="box-info">
										<h2 class="product name product-item-name product-name">
											<a href="<?php echo $block->getProductUrl($_item) ?>" title="<?php echo $block->stripTags($_item->getName(), null, true) ?>">
												<?php echo $_helper->productAttribute($_item, $_item->getName(), 'name') ?>
											</a>
										</h2>
										
										<?php echo $block->getReviewsSummaryHtml($_item, 'short') ?>
										
										<?php echo $block->getProductPrice($_item, '-compare-list-top') ?>
										<div class="bottom-action">
											<!-- <?php if ($_item->isSaleable()): ?>
												<form data-role="tocart-form" action="<?php echo $this->helper('Magento\Catalog\Helper\Product\Compare')->getAddToCartUrl($_item); ?>" method="post">
													<?php echo $block->getBlockHtml('formkey')?>
													<button type="submit" class="action tocart btn-action btn-cart">
														<span><?php echo __('Add to Cart'); ?></span>
													</button>
												</form>
											<?php else: ?>
												<?php if ($_item->getIsSalable()): ?>
													<div class="stock available"><span><?php echo __('In stock') ?></span></div>
												<?php else: ?>
													<div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
												<?php endif; ?>
											<?php endif; ?>
												
											<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()) : ?>
                                                <a onclick="addToWishlist('<?php echo $block->getUrl('mywishlist/wishlist/addwishlist'); ?>','<?php echo $_item->getId(); ?>')" class="action btn-action link-wishlist" title="<?php  echo __('Add to Wish List') ?>">
													<span><?php echo __('Add to Wish List') ?></span>
												</a>
											<?php endif; ?> -->
										</div>
									</div>
								</div>
							</div>
                        </td>
                    <?php endforeach; ?>
                </tr>
                </tbody>
                <tbody>
                <?php foreach ($block->getAttributes() as $_attribute): ?>                    
                    <?php 
                    $_i = 0;
                    $attribute_code = $_attribute->getAttributeCode();
                    ?>
                    <tr id="<?php echo ($attribute_code); ?>">
                        <?php foreach ($block->getItems() as $_item): ?>
                            <?php if ($_i++ == 0): ?>
                                <th scope="row" class="cell">
                                    <span class="attribute">
                                        <?php 
                                            $_attr_name = $block->escapeHtml($_attribute->getStoreLabel() ? $_attribute->getStoreLabel() : __($_attribute->getFrontendLabel()));
                                            if($attribute_code == "id_seller"){
                                                echo __("Seller Name");
                                            } else {
                                                echo $_attr_name;
                                            }
                                        ?>
                                    </span>
                                </th>
                            <?php endif; ?>
                            <td class="cell product attribute">
                                <div class="attibute value">
                                    <?php switch ($_attribute->getAttributeCode()) {
                                        case "price": ?>
                                            <?php
                                                echo $block->getProductPrice(
                                                    $_item,
                                                    '-compare-list-' . $_attribute->getCode()
                                                )
                                            ?>
                                            <?php break;
                                        case "small_image": ?>
                                            <?php $block->getImage($_item, 'product_small_image')->toHtml(); ?>
                                            <?php break;
                                        default: ?>
                                        <?php 
                                        $_attr_value = $_helper->productAttribute($_item, $block->getProductAttributeValue($_item, $_attribute), $_attribute->getAttributeCode());
                                        if($attribute_code == "id_seller"){
                                            echo $util->getSellerInfo($_attr_value)["store_name"];
                                        } else {
                                            echo $_attr_value;
                                        } ?>
                                        
                                        <?php break;
                                    } ?>
                                </div>
                            </td>
                        <?php endforeach; ?>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
        <?php if (!$block->isRedirectToCartEnabled()) : ?>
            <script type="text/x-magento-init">
            {
                "[data-role=tocart-form]": {
                    "catalogAddToCart": {}
                }
            }
            </script>
        <?php endif; ?>
<?php else: ?>
    <div class="message info empty"><div><?php echo __('You have no items to compare.') ?></div></div>
<?php endif; ?>
