<?php 
/** @var \Libero\Marketplace\Block\TopInfo $block */
$detail_seller = $block->getSellerDetail();

$city = $detail_seller["city"];
$district = $detail_seller["district"];
$join_date = substr($detail_seller["created_at"],0,10);
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);

$seller_summary = $block->getSellerReviewSummary();
$sellerReviewList = $block->getSellerReviewList();

$sliders = array();
if(count($detail_seller->getData("banner_url1")) > 0) {$sliders[] = $media_url.$detail_seller->getData("banner_url1");}
if(count($detail_seller->getData("banner_url2")) > 0) {$sliders[] = $media_url.$detail_seller->getData("banner_url2");}
if(count($detail_seller->getData("banner_url3")) > 0) {$sliders[] = $media_url.$detail_seller->getData("banner_url3");}
if(count($detail_seller->getData("banner_url4")) > 0) {$sliders[] = $media_url.$detail_seller->getData("banner_url4");}
$countSlider = count($sliders);
?>
<!-- <div class="col-lg-8"> -->
	<div class="store-banner">
		<img src="<?php echo $sliders[0]; ?>" />
		<div class="cover-store-info"></div>
		<div class="store-info">
			<div class="store-img">
				<img src="<?php echo $media_url.$detail_seller->getData("logo_url") ?>"/>
			</div>
			<div class="store-info-cnt">
				<div class="store-name"><?php echo $detail_seller->getData("store_name") ?></div>
				<div class="store-review">
					<div class="product-reviews-summary">
						<div class="rating-summary">
							<span class="label"><span><?php echo __('rating'); ?>:</span></span>
							<div class="rating-result" title="<?php echo $seller_summary['percent']; ?>%">
								<span style="width:<?php echo $seller_summary['percent']; ?>%"><span><span itemprop="ratingValue"><?php echo $seller_summary['percent']; ?></span>% of <span itemprop="bestRating">100</span></span></span>
							</div>
						</div>
						<div class="reviews-actions">
							<a class="action view" id="open-review-list-modal" href="#"><span itemprop="reviewCount"><?php echo $seller_summary['review_count']; ?></span>&nbsp;<span><?php echo __('reviews'); ?></span></a>
							<a class="action add" id="open-review-seller-modal" href="#"><?php echo __('Make a review'); ?></a>
						</div>
					</div>
				</div>
				<!-- <div class="store-desc">
					<p><?php echo $detail_seller->getData("description") ?></p>
				</div> -->
			</div>
			<div class="chat-to-store">
				<button type="button" class="base-color-btn"><?php echo __('CHAT WITH SHOP'); ?></button>
			</div>
		</div>
		<div class="store-detail-info">
			<ul>
				<li><?php echo $seller_summary['review_count']; ?> <?php echo __('reviews'); ?></li>
				<li><?php echo __('Joined at'); ?>: <?php echo $join_date; ?></li>
				<li><i class="ico11 ico-small-location"></i> <?php echo $district . ", ". $city; ?></li>
			</ul>
		</div>
		
	</div>

	
	<!--REVIEW SELLER MODAL-->
	<div id="review-seller" class="hide">
		<div class="block-content">
			<form action="" class="review-form" method="post" id="review-form" data-role="product-review-form" data-bind="scope: 'review-form'" data-mage-init='{"validation": {}}'>
				<fieldset class="fieldset review-fieldset" data-hasrequired="<?php __('* Required Fields'); ?>">
					<legend class="legend review-legend"><span><?php echo __("You're reviewing"); ?> <?php echo $detail_seller->getData("store_name") ?></span></legend><br />
					<input type="hidden" name="seller_id" value="<?php echo $detail_seller->getData("id_seller_company") ?>" />
					<span id="input-message-box"></span>
					<fieldset class="field required review-field-ratings">
						<legend class="label"><span><?php echo __('Your Rating') ?></span></legend><br/>
						<div class="control">
							<div class="nested" id="product-review-table">
								<div class="field choice review-field-rating">
									<label class="label" id="Rating_rating_label"><span><?php echo __('Rating') ?></span></label>
									<div class="control review-control-vote">
										<input name="rating" id="Rating_1" value="1" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Rating_rating_label Rating_1_label" aria-required="true" type="radio">
										<label class="rating-1" for="Rating_1" title="1 star" id="Rating_1_label">
											<span><?php echo __('1 star') ?></span>
										</label>
										<input name="rating" id="Rating_2" value="2" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Rating_rating_label Rating_2_label" aria-required="true" type="radio">
										<label class="rating-2" for="Rating_2" title="2 stars" id="Rating_2_label">
											<span><?php echo __('2 star') ?></span>
										</label>
										<input name="rating" id="Rating_3" value="3" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Rating_rating_label Rating_3_label" aria-required="true" type="radio">
										<label class="rating-3" for="Rating_3" title="3 stars" id="Rating_3_label">
											<span><?php echo __('3 star') ?></span>
										</label>
										<input name="rating" id="Rating_4" value="4" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Rating_rating_label Rating_4_label" aria-required="true" type="radio">
										<label class="rating-4" for="Rating_4" title="4 stars" id="Rating_4_label">
											<span><?php echo __('4 star') ?></span>
										</label>
										<input name="rating" id="Rating_5" value="5" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Rating_rating_label Rating_5_label" aria-required="true" type="radio">
										<label class="rating-5" for="Rating_5" title="5 stars" id="Rating_5_label">
											<span><?php echo __('5 star') ?></span>
										</label>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<div class="field review-field-nickname required">
						<label for="nickname_field" class="label"><span><?php /* @escapeNotVerified */ echo __('Nickname') ?></span></label>
						<div class="control">
							<input type="text" name="nickname" id="nickname_field" class="input-text" data-validate="{required:true}" data-bind="value: nickname()" />
						</div>
					</div>
					<div class="field review-field-summary required">
						<label for="summary_field" class="label"><span><?php /* @escapeNotVerified */ echo __('Summary') ?></span></label>
						<div class="control">
							<input type="text" name="title" id="summary_field" class="input-text" data-validate="{required:true}" data-bind="value: review().title" />
						</div>
					</div>
					<div class="field review-field-text required">
						<label for="review_field" class="label"><span><?php /* @escapeNotVerified */ echo __('Review') ?></span></label>
						<div class="control">
							<textarea name="detail" id="review_field" cols="5" rows="3" data-validate="{required:true}" data-bind="value: review().detail"></textarea>
						</div>
					</div>
				</fieldset>			
			</form>
		</div>
	</div>
	<!--END REVIEW SELLER MODAL-->
	<!--SELLER REVIEW LIST-->
	<div id="seller-review-list" class="hide">
		<div class="block-content">
			<ul class="">
				<?php foreach($sellerReviewList as $review) { ?>
				<li class="seller-review-item">
				<div class="review-body">
						<div class="rating-summary">
							<div class="rating-result" title="<?php echo $seller_summary['percent']; ?>%">
								<span style="width:<?php echo $review->getRating()*20; ?>%">
									<span>
										<span itemprop="ratingValue"><?php echo $review->getRating()*20; ?></span>% <?php echo __("of"); ?><span itemprop="bestRating">100</span>
									</span>
								</span>
							</div>
						</div>
						<div class="review-title"><?php echo $review->getTitle(); ?></div>
						<div class="review-detail"><?php echo $review->getDetail(); ?></div>
					</div>
					<div class="review-header">
						<span class="label"><span><?php echo __('by'); ?>:</span></span>
						<div class="customer-name"><?php echo $review->getNickname(); ?></div>
											
					</div>				
					<div class="review-footer">
						<div class="review-date"><?php echo date('Y-m-d H:i:s',strtotime($review->getCreatedAt())); ?></div>
					</div>
				</li>
				<?php } ?>
			</ul>	
		</div>
	</div>
	<!--END SELLER REVIEW LIST-->
	<script>
		require(
			[
				'jquery',
				'Magento_Ui/js/modal/modal'
			],
			function(
				$,
				modal
			) {
				var options = {
					type: 'popup',
					responsive: true,
					innerScroll: true,
					buttons: [{
						text: 'Submit Review',
						class: 'primary',
						click: function() {
							makeReview();
						}
					},
					{
						text: 'Cancel Review',
						class: 'primary', // hide
						click: function() {
							this.closeModal();
						}
					}]

				};

				var popup = modal(options, $('#review-seller'));
				$('#open-review-seller-modal').click(function(){
					$('#review-seller').removeClass('hide');
					$('#review-seller').modal('openModal');
				});
				$('#cancel-review').click(function(){
					$('#review-seller').modal('closeModal');
				});

				function makeReview(){
					if($('#review-form').valid()){
						$.ajax({
							type : 'POST',
							url : "<?php echo $block->getReviewAction(); ?>",
							data : $('#review-form').serialize(),
							dataType: "json",
							success: function(result){
								alert(result.msg);
								document.getElementById("review-form").reset();
								$('#review-seller').modal('closeModal');
								top.location.reload();
							},
							error: function(response) {
								alert(result.msg);
							}
						});
					}
				}
				//review list modal options
				var options_review_list = {
					type: 'popup',
					responsive: true,
					innerScroll: true,
					buttons: [{
						text: 'Close',
						class: 'primary', // hide
						click: function() {
							this.closeModal();
						}
					}]
				};

				var rv_list_modal = modal(options_review_list, $('#seller-review-list'));
				$('#open-review-list-modal').click(function(){
					$("#seller-review-list").removeClass("hide");
					$('#seller-review-list').modal('openModal');
				});
				//--------------
			}
		);
	</script>
	<style>
	.page-title-wrapper {display:none;}
	</style>
<!-- </div> -->
<!-- <div class="col-lg-4">
Hot Deal
</div> -->