<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

$_config = $this->helper('Sm\Market\Helper\Data');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$media_url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$scopeConfig = $objectManager->get("\Magento\Framework\App\Config\ScopeConfigInterface");
$storePhone = $scopeConfig->getValue("general/store_information/phone");
?>

<div class="footer-container">
	<div class="footer-wrapper">
		<div class="container">
			<div class="footer-introduce">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="intro-title">
							<img src="<?php echo $media_url . '/wysiwyg/icon/footer/ico-payment.png'; ?>" alt="" />
							<h3><?php echo __("Payment") ;?></h3>
						</div>
						<div class="intro-desc">
							<p><?php echo __("Online shopping is so easy with diverse payment methods: Your Credit Payment, Online Bank Payment, Cash On Delivery."); ?></p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="intro-title">
							<img src="<?php echo $media_url . '/wysiwyg/icon/footer/ico-delivery.png'; ?>" alt="" />
							<h3><?php echo __("Delivery") ;?></h3>
						</div>
						<div class="intro-desc">
							<p> <?php echo __("We will make delivery according to the time of delivery announced. Please check the status of the goods and sign the receipt."); ?>
							</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="intro-title">
							<img src="<?php echo $media_url . '/wysiwyg/icon/footer/ico-charity.png'; ?>" alt="" />
							<h3><?php echo __("Incentives policy"); ?></h3>
						</div>
						<div class="intro-desc">
							<p> <?php echo __("Extremely attractive promotions for new customers from Wisi. You will have products with good price - good service."); ?> </p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="intro-title">
							<img src="<?php echo $media_url . '/wysiwyg/icon/footer/ico-consult.png'; ?>" alt="" />
							<h3><?php echo __("24/7 Advice"); ?></h3>
						</div>
						<div class="intro-desc">
							<p> <?php echo __("Call Wisi support center with hotline 1900 068899 for advice from our professional team."); ?></p>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-top">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="footer-menu">
							<div class="footer-menu-title">
								<i class="fas fa-users"></i>
								<h3><?php echo __("ABOUT WISI"); ?></h3>
							</div>
							<div class="footer-menu-content">
								<ul class="links-footer">
									<li><a href="<?php echo $block->getUrl() . 'ws-about-wisi'; ?>"><?php echo __("About Wisi"); ?></a></li>
									<li><a href="<?php echo $block->getUrl() . 'ws-quy-dinh-su-dung'; ?>"><?php echo __("Quy định sử dụng"); ?></a></li>
									<li><a href="<?php echo $block->getUrl() . 'ws-quy-che-hoat-dong-wisi'; ?>"><?php echo __("Quy chế hoạt động"); ?></a></li>
									<li><a href="<?php echo $block->getUrl() . 'ws-chinh-sach-bao-mat-wisi'; ?>"><?php echo __("Quy định bảo mật thông tin"); ?></a></li>
									
									<!-- <li><a href="<?php echo $block->getUrl() . 'ws-dieu-khoan-su-dung-wisi'; ?>"><?php echo __("Điều khoản Sử Dụng"); ?></a></li> -->


									<!-- <li><a href="<?php echo $block->getUrl() . 'about-wisi-vn'; ?>"><?php echo __("About Wisi"); ?></a></li>
									<li><a href="<?php echo $block->getUrl() . 'quy-che-hoat-dong-san-gdtmdt'; ?>"><?php echo __("Business Policy on Wisi"); ?></a></li>
									<li>
										<p class="activeSubFootMenu" ><?php echo __("Sell on Wisi"); ?></p>
										<ul class="subFootMenu">
											<li><a href="<?php echo $block->getUrl() . 'quy-dinh-mo-gian-hang'; ?>"><?php echo __("Open store Policy"); ?></a></li>
											<li><a href="<?php echo $block->getUrl() . 'huong-dan-tao-tai-khoan'; ?>"><?php echo __("Create account Guide"); ?></a></li>
											<li><a href="<?php echo $block->getUrl() . 'huong-dan-dang-tai-san-pham'; ?>"><?php echo __("Upload product Guide"); ?></a></li>
											<li><a href="<?php echo $block->getUrl() . 'quy-dinh-dang-tai-san-pham'; ?>"><?php echo __("Upload product Policy"); ?></a></li>
											<li><a href="<?php echo $block->getUrl() . 'quy-dinh-kiem-duyet'; ?>"><?php echo __("Censor Policy"); ?></a></li>
											<li><a href="<?php echo $block->getUrl() . 'chinh-sach-giao-hang'; ?>"><?php echo __("Delivery Policy"); ?></a></li>
											<li><a href="<?php echo $block->getUrl() . 'chinh-sach-doi-tra-hang'; ?>"><?php echo __("Return Policy"); ?></a></li>
											<li><a href="<?php echo $block->getUrl() . 'quy-dinh-doi-tra'; ?>"><?php echo __("Return Processing"); ?></a></li>
											<li><a href="<?php echo $block->getUrl() . 'cam-ket-chat-luong'; ?>"><?php echo __("Quality Engage "); ?></a></li>
											<li><a href="<?php echo $block->getUrl() . 'trach-nhiem-nha-ban-si'; ?>"><?php echo __("Wholesales Responsibility"); ?></a></li>
											<li><a href="<?php echo $block->getUrl() . 'quyen-loi-nha-ban-si'; ?>"><?php echo __("Wholesales Interests"); ?></a></li>
											<li><a href="<?php echo $block->getUrl() . 'quy-dinh-che-tai-cho-nha-ban-si'; ?>"><?php echo __("Wholesales Policy & Sanction"); ?></a></li>
											<li><a href="<?php echo $block->getUrl() . 'thanh-toan-dich-vu'; ?>"><?php echo __("Purchase Service"); ?></a></li>
											<li><a href="<?php echo $block->getUrl() . 'quy-dinh-dong-goi-hang-hoa'; ?>"><?php echo __("Packing Processing"); ?></a></li>
											<li><a href="<?php echo $block->getUrl() . 'dieu-khoan-va-dieu-kien-van-chuyen'; ?>"><?php echo __("Delivery Terms & Conditions"); ?></a></li>
										</ul>
									</li>
									<li><a href="<?php echo $block->getUrl() . 'recruitment'; ?>"><?php echo __("Careers"); ?></a></li>
									<li><a href="<?php echo $block->getUrl() . 'privacy-policy'; ?>"><?php echo __("Privacy Policy"); ?></a></li>
									<li><a href="<?php echo $block->getUrl() . 'complaint-handling-policy'; ?>"><?php echo __("Complain & Resolve"); ?></a></li> -->


									
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="footer-menu">
							<div class="footer-menu-title">
								<i class="fas fa-comments"></i>
								<h3><?php echo __("CUSTOMER SUPPORT"); ?></h3>
							</div>
							<div class="footer-menu-content">
								<ul class="links-footer">
									<li class="mt-10">Hotline: <a href="tel:<?php echo $storePhone; ?>"><span class="base-color bold f20"><?php echo $storePhone; ?></span></a><br/></li>



									<li><a href="<?php echo $block->getUrl() . 'ordering-guide'; ?>"><?php echo __("Ordering Guide"); ?></a></li>
									<li><a href="<?php echo $block->getUrl() . 'ws-quy-dinh-thanh-toan'; ?>"><?php echo __("Quy định thanh toán"); ?></a></li>
									<li><a href="<?php echo $block->getUrl() . 'shipping-method'; ?>"><?php echo __("Chính sách vận chuyển"); ?></a></li>
									<li><a href="<?php echo $block->getUrl() . 'ws-chinh-sach-doi-tra-wisi'; ?>"><?php echo __("Chính sách đổi/trả - hoàn tiền"); ?></a></li>




									<!-- <li><a href="<?php echo $block->getUrl() . 'support-center'; ?>"><?php echo __("Support center"); ?></a></li>
									<li><a href="<?php echo $block->getUrl() . 'support-request'; ?>"><?php echo __("Support request"); ?></a></li>
									<li><a href="<?php echo $block->getUrl() . 'dang-ky-tai-khoan'; ?>"><?php echo __("Register an account"); ?></a></li>
									<li><a href="<?php echo $block->getUrl() . 'ordering-guide'; ?>"><?php echo __("Ordering Guide"); ?></a></li>
									<li><a href="<?php echo $block->getUrl() . 'payment-guide'; ?>"><?php echo __("Payment Guide"); ?></a></li>
									<li><a href="<?php echo $block->getUrl() . 'shipping-method'; ?>"><?php echo __("Shipping policy"); ?></a></li>
									<li><a href="<?php echo $block->getUrl() . 'return-policy'; ?>"><?php echo __("Return policy"); ?></a></li>
									<li><a href="<?php echo $block->getUrl() . 'responsibility-of-wholesale-buyers'; ?>"><?php echo __("Responsibility of Wholesale Buyers"); ?></a></li> -->
									<!-- <li><a href="<?php echo $block->getUrl() . 'deals-for-vip-wholesalers'; ?>"><?php echo __("Deals for VIP wholesalers"); ?></a></li> -->
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="footer-menu">
							<div class="footer-menu-title">
								<i class="fas fa-envelope"></i>
								<h3><?php echo __("REGISTER FOR NEWSLETTER"); ?></h3>
							</div>
							<div class="footer-menu-content">
								<ul class="links-footer">
									
									<li>
										<div class="newsletter-home">
											<?php $subscribe = $objectManager->get("\Magento\Newsletter\Block\Subscribe"); ?>
											<div class="block-subscribe-home">
												<form class="form subscribe"
													novalidate
													action="<?php /* @escapeNotVerified */ echo $subscribe->getFormActionUrl() ?>"
													method="post"
													data-mage-init='{"validation": {"errorClass": "mage-error"}}'
													id="newsletter-validate-detail">

													<?php
														$email_address_txt = __('Your email address');
													?>
													<div class="input-box">
														<input name="email" type="email" id="newsletter" onfocus="if(this.value == '<?php echo $email_address_txt; ?>') this.value='';" onblur="if(this.value=='') this.value='<?php echo $email_address_txt; ?>';" value="<?php echo $email_address_txt; ?>" data-validate="{required:true, 'validate-email':true}"/>
													</div>

													<button class="action subscribe primary" title="<?php /* @escapeNotVerified */ echo __('Subscribe') ?>" type="submit">
														<span><?php /* @escapeNotVerified */ echo __('Subscribe') ?></span>
													</button>
												</form>
											</div>

											
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="footer-menu">
							<div class="footer-menu-title">
								<i class="fas fa-bars"></i>
								<h3><?php echo __("BỘ CÔNG THƯƠNG"); ?></h3>
							</div>
							<div class="footer-menu-content">
								<ul class="links-footer">
									<li><a href="http://online.gov.vn/CustomWebsiteDisplay.aspx?DocId=51443"><img src="<?php echo $media_url . '/wysiwyg/dathongbao.png?v=234234';?>" alt="" />					</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- <div class="col-md-3 col-sm-6 col-xs-12">
						<div class="footer-menu">
							<div class="footer-menu-title">
								<i class="fas fa-bars"></i>
								<h3><?php echo __("COOPERATION AND LINKS"); ?></h3>
							</div>
							<div class="footer-menu-content">
								<ul class="links-footer">
									<li><a href="<?php echo $block->getUrl() . 'quy-che-hoat-dong-san-gdtmdt'; ?>"><?php echo __("Working policy of Ecommerce market place"); ?></a></li>
									<li><a href="<?php echo $block->getUrl(); ?>customer/seller/"><?php echo __("Business with Wisi"); ?></a></li>
								</ul>
							</div>
						</div>
					</div> -->
				</div>
			</div>
		</div>
		
		<!-- <div class="footer-method row">
			<div class="container">
				<div class="pl0 col-lg-6 col-md-12">
					<h3><?php echo __("Payment Methods"); ?></h3>
					<img src="<?php echo $media_url . '/wysiwyg/icon/payment-group.png';?>" alt="" />					
				</div>
				<div class="pl0 col-lg-3 col-md-6">
					<h3><?php echo __("Delivery Services"); ?></h3>
					<img src="<?php echo $media_url . '/wysiwyg/icon/delivery-group.png';?>" alt="" />					
				</div>
				<div class="pl0 col-lg-3 col-md-6">
					<h3><?php echo __("Verified by"); ?></h3>
					<img src="<?php echo $media_url . '/wysiwyg/icon/verify-group.png';?>" alt="" />					
				</div>
			</div>
		</div> -->
		
		<div class="footer-location">
			<div class="footer-location">
				<div class="container">
					<ul>
						<li>
							<img src="<?php echo $media_url . '/wysiwyg/icon/ico-location.png';?>" alt=""/>
							<div class="location-desc">
								<div class="location-title">
									<!-- <h3><?php echo __("Office address:"); ?><br/><?php echo __("P7-37.OT12B-15 Park 7, 208 Nguyen Huu Canh St, Ward 22, Binh Thanh District"); ?><br/><?php echo __("Ho Chi Minh City, Viet Nam."); ?></h3> -->
									<h3><?php echo __("Office address:"); ?><br/><?php echo __("P7-37.OT12B-15 Tòa Park 7 Vinhomes Central Park, 720A Điện Biên Phủ, Phường 22, Quận Bình Thạnh, Thành phố Hồ Chí Minh, Việt Nam"); ?></h3>
								</div>
								<div class="location-sub-desc">
									<p><?php echo __("Wisi is responsible for place order and delivery, not yet support direct sales at office or order processing center"); ?></p>
								</div>
							</div>
						</li>
						<li>
							<img src="<?php echo $media_url . '/wysiwyg/icon/ico-location.png';?>" alt=""/>
							<div class="location-desc">
								<div class="location-title">
									<!-- <h3><?php echo __("Order Processing Center -"); ?><br/><?php echo __("Park 7, 208 Nguyen Huu Canh St, Ward 22, Binh Thanh District"); ?><br/><?php echo __("Ho Chi Minh City"); ?></h3> -->
									<h3><?php echo __("Order Processing Center -"); ?><br/><?php echo __("P7-37.OT12B-15 Tòa Park 7 Vinhomes Central Park, 720A Điện Biên Phủ, Phường 22, Quận Bình Thạnh, Thành phố Hồ Chí Minh, Việt Nam"); ?></h3>
								</div>
								<div class="location-sub-desc">
									<p>(<?php echo __("Refer "); ?><a href="<?php echo $block->getUrl() . 'ws-chinh-sach-doi-tra-wisi'; ?>" class="base-color"><?php echo __("guide to change, return, guarantee"); ?></a> <?php echo __("or contact "); ?><a href="tel:<?php echo $storePhone; ?>" class="base-color"><?php echo $storePhone; ?></a> <?php echo __("for more information"); ?>)</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 copyright-footer">
						<?php if($_config->getAdvanced('custom_copyright')){ ?>
							<!-- <address><?php echo $_config->getAdvanced('copyright_content') ?></address> -->
						<?php } else {?>
							<address><?php /* @escapeNotVerified */ echo $block->getCopyright() ?></address>
						<?php } ?>
						<!-- <p><?php echo __('This is the trial version | Reference information'); ?></p> -->
						<p><strong>CÔNG TY TNHH LIBEROVINA</strong><br/>
							Số điện thoại: (028) 3620 9244; Email: mai.ho@liberovina.vn<br/>
							Giấy CNĐKKD Số: 0314536289 cấp ngày 25/07/2017, được sửa đổi bổ sung lần thứ 3 ngày 03/10/2018.<br/>
							Cơ quan cấp: Sở Kế hoạch và Đầu tư Tp. Hồ Chí Minh<br/>
							Địa chỉ: P7-37.OT12B-15 Tòa Park 7 Vinhomes Central Park, 720A Điện Biên Phủ, Phường 22, Quận Bình Thạnh, Thành phố Hồ Chí Minh, Việt Nam<br/>
							Trung tâm xử lý đơn hàng: P7-37.OT12B-15 Tòa Park 7 Vinhomes Central Park, 720A Điện Biên Phủ, Phường 22, Quận Bình Thạnh, Thành phố Hồ Chí Minh, Việt Nam<br/>
							Đại diện pháp luật: Ông An Sang Won / Giám Đốc<br/>
						</p>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 footer-payment">
						<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('payment-footer')->toHtml(); ?>
					</div>
				</div>
			</div>
		</div>
	</div>

	<?php if($_config->getAdvanced('show_gototop')){ ?>
		<a id="yt-totop" href="javascript:void(0)" title="<?php  echo __('Go to Top') ?>"></a>
	<?php } ?>
	<?php echo $block->getLayout()->createBlock('Magento\Framework\View\Element\Template')->setTemplate('Magento_Theme::html/social.phtml')->toHtml(); ?>
</div>

<script>
jQuery(document).on("click", ".activeSubFootMenu", () => {
	jQuery(".activeSubFootMenu").toggleClass("active");
})
</script>