<ul data-bind="foreach: stores">
    <li class="col-lg-4 col-md-4 col-sm-4  col-xs-6">
        <a data-bind="attr: {href: link}" target="_blank">
            <div class="cover-seller" data-bind="style: { backgroundImage: 'url(\'' + link_image + '\')'}"></div>
            <!--<img data-bind="attr: { src: link_image}"/>-->
            <span class="biz-type" data-bind="text: biz_type"></span>
        </a>
    </li>
</ul>
<!--<div class="btn-bottom">
    <button type="button" data-bind="click: getStoreSellers" class="base-color-btn">XEM TẤT CẢ</button>
</div>-->
<style>
.cover-seller {
    background-repeat: no-repeat !important;
    display: block !important;
    background-position: center !important;
}
</style>