<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\Wishlist\Block\Link */

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$wishlist = $objectManager->create("\Libero\Mywishlist\Block\MyWishlist");
$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');
?>
<div class="wish-list-wrapper" data-bind="scope: 'wishlist'">
    <a class ="show-wishlist" <?php /* @escapeNotVerified */ echo $block->getLinkAttributes() ?>>
        <i class="ico30 ico-wishlist"></i>
        <!-- insert hide class -->
        <div class="hide">
            <?php echo $block->escapeHtml($block->getLabel()) ?>
        </div>
        <!-- End:insert hide class -->
        <?php $qty = $wishlist->getWishlistCount(); ?>
        <span class="counter-label">
            <span id="wishlist_qty" class="counter qty"><?php echo ($qty == 0 || $qty="") ? 0 : $util->formatPriceNoCurrency($wishlist->getWishlistCount()) ?></span>
        </span>
    </a>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "wishlist": {
                        "component": "Magento_Wishlist/js/view/wishlist"
                    }
                }
            }
        }
    }

</script>
