<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

$requestHttp = $objectManager->get("\Magento\Framework\App\Request\Http");
$search_key = trim(str_replace("+"," ",$requestHttp->getParam("q")));


$searchBlock = $objectManager->create("\Libero\SearchProduct\Block\SearchBlock");
//$result = $searchBlock->getSearchResults();
$result = $searchBlock->getSearchResultsAdvanced();
$_productCollection = $result["listRecords"];
//$_productCollection = $block->getLoadedProductCollection();

$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_config = $this->helper('Sm\Market\Helper\Data');

$util = $objectManager->create("\Libero\Customer\Block\Seller\Admin\Util");
$customerId = $util->getCustomerId();
		
?>
<?php if (count($_productCollection) < 1): ?>
    <div class="message info empty"><div><?php echo __('Sorry, we cannot find any matches for your search term.') ?></div></div>
<?php else: ?>
	
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="category-product products wrapper <?php echo $viewMode; ?> products-<?php echo $viewMode; ?>">
        <?php $iterator = 1; ?>
		
		<?php if($viewMode == 'grid'){ ?>
		
        <ol class="products list items product-items row">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
			<?php foreach ($_productCollection as $_product): 
				$_product_category =  $_product["product_category"];
			?>
                <li class="item product product-item pro_<?php echo $_product['product_id']; ?>">
					<div class="product-item-info" data-container="product-grid">
						<div class="item-inner">
							<div class="box-image">
								
								<a href="<?php echo $_product['url_key'] ?>" data-product-id="<?php echo $_product['product_id']; ?>" data-category="<?php echo $_product_category; ?>" class="product photo product-item-photo savesearch" tabindex="-1">
									<span class="product-image-container">
										<span class="product-image-wrapper">
											<img class="product-image-photo" src="<?php echo $_product['small_image']; ?>" width="300" height="300" alt="<?php echo $_product["name"]; ?>">
										</span>
									</span>
								</a>

								<!--LABEL PRODUCT-->

									<?php
										$specialprice = $_product["special_price"];
										$specialPriceFromDate = $_product["specialfromdate"];
										$specialPriceToDate = $_product["specialtodate"];
										
										$today = time();

										if (!$_product['is_sale']){ ?>
											<div class="stock unavailable"><span><?php echo __('Sold out') ?></span></div>
										<?php } else if ($specialprice && $_config->getAdvanced('show_salelabel')) {
											if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)) { 
												$specialPercentage = 100;
												if ($_product["price"] > 0) {
													$specialPercentage = 100 - round($_product["special_price"] / $_product["price"]*100);
												}
												if($specialPercentage > 0) { ?>
													<div class="label-product label-sale">
														<span class="sale-product-icon">
															<?php echo __('Sale') . " $specialPercentage%"; ?>
														</span>
													</div>
												<?php } 
											}
										} 
									?>
									
									<?php
									$now = date("Y-m-d");
									$newsFrom = substr($_product["newsfromdate"], 0, 10);
									$newsTo = substr($_product["newstodate"], 0, 10);
									
									
									if (($newsTo != '' || $newsFrom != '') && $_config->getAdvanced('show_newlabel')) {
										if (($newsTo != '' && $newsFrom != '' && $now >= $newsFrom && $now <= $newsTo) || ($newsTo == '' && $now >= $newsFrom) || ($newsFrom == '' && $now <= $newsTo)) {?>
												<div class="label-product label-new">
													<span class="new-product-icon"><?php echo __('New'); ?></span>
												</div>
										<?php }
									} ?>
									
									
								<!--END LABEL PRODUCT-->

								
							</div>
							
							<div class="product details product-item-details box-info">
								<?php
									$_productNameStripped = $block->stripTags($_product['name'], null, true);
								?>
								<h2 class="product name product-item-name product-name">
									<a class="product-item-link savesearch" href="<?php echo $_product['url_key'] ?>" data-product-id="<?php echo $_product['product_id']; ?>" data-category="<?php echo $_product_category; ?>" title="<?php echo $_helper->productAttribute($_product, $_product['name'], 'name'); ?>">
										<?php echo $_product['name']; ?>
									</a>
								</h2>
								
								<?php echo $block->getReviewsSummaryHtml($_product["product_object"], $templateType,true); ?>
								<?php echo $block->getProductPrice($_product["product_object"]) ?>
								<?php echo $block->getProductDetailsHtml($_product["product_object"]); ?>
							</div>
						</div>
					</div>
                </li>
            <?php endforeach; ?>
        </ol>
		
		<?php } else {?>
			<ol class="products list items product-items">
				<?php foreach ($_productCollection as $_product): ?>
					<?php 	$_product_category =  $_product["product_category"]; ?>
					<li class="item respl-item-list product product-item">
						<div class="product-item-info" data-container="product-grid">
							<div class="item-inner">
								<div class="box-image-list">
									
									
									<!--LABEL PRODUCT-->

										<?php
											$specialprice = $_product["special_price"];
											$specialPriceFromDate = $_product["specialfromdate"];
											$specialPriceToDate = $_product["specialtodate"];
											
											$today = time();

											if (!$_product['is_sale']){ ?>
												<div class="stock unavailable"><span><?php echo __('Sold out') ?></span></div>
											<?php } else if ($specialprice && $_config->getAdvanced('show_salelabel')) {
												if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)) { 
													$specialPercentage = 100;
													if ($_product["price"] > 0) {
														$specialPercentage = 100 - round($_product["special_price"] / $_product["price"]*100);
													}
													if($specialPercentage > 0) { ?>
														<div class="label-product label-sale">
															<span class="sale-product-icon">
																<?php echo __('Sale') . " $specialPercentage%"; ?>
															</span>
														</div>
													<?php } 
												}
											} 
										?>
										
										<?php
										$now = date("Y-m-d");
										$newsFrom = substr($_product["newsfromdate"], 0, 10);
										$newsTo = substr($_product["newstodate"], 0, 10);
										
										
										if (($newsTo != '' || $newsFrom != '') && $_config->getAdvanced('show_newlabel')) {
											if (($newsTo != '' && $newsFrom != '' && $now >= $newsFrom && $now <= $newsTo) || ($newsTo == '' && $now >= $newsFrom) || ($newsFrom == '' && $now <= $newsTo)) {?>
													<div class="label-product label-new">
														<span class="new-product-icon"><?php echo __('New'); ?></span>
													</div>
											<?php }
										} ?>
										
										
									<!--END LABEL PRODUCT-->

									<a href="<?php echo $_product['url_key'] ?>" data-product-id="<?php echo $_product['product_id']; ?>" data-category="<?php echo $_product_category; ?>" class="product photo product-item-photo savesearch" tabindex="-1">
											<span class="product-image-container">
										<span class="product-image-wrapper">
											<img class="product-image-photo" src="<?php echo $_product['small_image']; ?>" width="300" height="300" alt="<?php echo $_product["name"]; ?>">
										</span>
									</span>
									</a>

								</div>
								
								<div class="product details product-item-details box-info-list">
									<?php
										$_productNameStripped = $block->stripTags($_product['name'], null, true);
									?>
									<h2 class="product name product-item-name product-name">
										<a class="product-item-link savesearch" href="<?php echo $_product['url_key'] ?>" data-product-id="<?php echo $_product['product_id']; ?>" data-category="<?php echo $_product_category; ?>'">
											<?php echo $_helper->productAttribute($_product, $_product['name'], 'name'); ?>
										</a>
									</h2>
									
									<?php echo $block->getReviewsSummaryHtml($_product["product_object"], $templateType); ?>
								<?php echo $block->getProductPrice($_product["product_object"]) ?>
								<?php echo $block->getProductDetailsHtml($_product["product_object"]); ?>

									<div class="product-item-inner">
										<?php if ($showDescription):?>
											<div class="product description product-item-description">
												<?php echo $_helper->productAttribute($_product, $_product['short_description'], 'short_description') ?>
												<a href="<?php echo $_product['url_key'] ?>" data-product-id="<?php echo $_product['product_id']; ?>" data-category="<?php echo $_product_category; ?>" class="savesearch" title="<?php echo $_productNameStripped ?>"
												   class="action more"><?php echo __('Learn More') ?></a>
											</div>
										<?php endif; ?>
									</div>
									
									<div class="bottom-action">
										<?php if($_config->getAdvanced('show_addtocart_button')){?>
											<?php if ($_product["is_sale"]): ?>
												<?php $postParams = $block->getAddToCartPostParams($_product["product_object"]); ?>
												<form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
													<input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
													<input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
													<?php echo $block->getBlockHtml('formkey')?>
													<button type="submit" title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>" class="action tocart btn-action btn-cart">
														<span><?php echo __('Add to Cart') ?></span>
													</button>
												</form>
											<?php else: ?>
												<?php if ($_product['is_sale']): ?>
													<div class="stock available"><span><?php echo __('In stock') ?></span></div>
												<?php else: ?>
													<div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
												<?php endif; ?>
											<?php endif; ?>
										<?php } ?>
									
									</div>
								</div>
							</div>
						</div>
					</li>
				<?php endforeach; ?>
			</ol>
		<?php } ?>
    </div>
	<div class="toolbar-bottom">
    	<?php echo $block->getToolbarHtml() ?>
	</div>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>

<script>
jQuery(function(){
	jQuery(document).on("mousedown",".savesearch",function(event){
		var keyword = "<?php echo $search_key; ?>";
		var product_id = jQuery(this).attr("data-product-id");
		var product_category = jQuery(this).attr("data-category");
		var keyStorage = localStorage.getItem( "search_" + product_id);

		var isSaved = !!keyStorage;
		if(!isSaved){
			/* save to local storage */
			var jsonObj = JSON.stringify({"keyword":keyword, "product_id": product_id});
			localStorage.setItem( "search_" + product_id, jsonObj);
			saveSearchKey(keyword, product_id, product_category);
		}
	})
})
function saveSearchKey(keyword, product_id, product_category){
	var ajaxUrl = "<?php echo $block->getUrl('searchproduct/savekey'); ?>";
	if(keyword!= ""){
		var param = {
			"keyword": keyword,
			"product_id": product_id,
			"product_category": product_category,
			"customer_id": <?php echo $customerId; ?>
		};
		
		jQuery.ajax({
			url: ajaxUrl,
			data: param,
			method: "post",
			success: function(res){
				setTimeout(()=>{
					localStorage.removeItem( "search_" + product_id);
				},10000); //10s
			}
		});
	}
}
</script>