<?php
    $data_log = $block->getDataLog();
    $url = $block->getApproveUrl();
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $FormKey = $objectManager->get('Magento\Framework\Data\Form\FormKey');
    $data_diff = $data_log["data_diff"];
    $data_save = $data_log["data_save"];
    $data_value = json_decode($data_diff,true);
    $product_id = $data_log["product_id"];
    $url_product_detail = $block->getProductDetailUrl($product_id);
    $provider_name = $data_log["provider_name"];
    $provider_id = $data_log["provider_id"];
    $url_view_store = $block->getStoreUrl($provider_id);
    $array_data_save = json_decode($data_save,true);
    $is_add = false;
    if(count($array_data_save) < 1 ){
        $is_add = true;
    }
?>
<form name="save_seller" method="post" action="<?php echo $url; ?>">
    <input name="form_key" type="hidden" value="<?php echo $FormKey->getFormKey();?>">
        <input type="hidden" value="<?php echo $data_log["provider_id"]; ?>" name="provider_id" id="provider_id"/>
        <input type="hidden" value="<?php echo $data_log["product_id"]; ?>" name="product_id" id="product_id"/>
        <input type="hidden" value="<?php echo $data_log["id"]; ?>" name="log_id" id="log_id"/>
    <div class="page-main-actions">
        <div class="page-actions-placeholder" style=""></div>
        <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
            <div class="page-actions-inner" data-title="Veronica Costello">
                <div class="page-actions-buttons">
                    <button id="back" title="Back" type="button" class="action- scalable back" onclick="location.href = '<?php echo $block->getBackUrl(); ?>';" data-ui-id="back-button">
                        <span><?php echo __("Back"); ?></span>
                    </button>
                    <button id="approve" title="Save Customer" type="submit" class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" data-form-role="save" data-ui-id="save-button" role="button" aria-disabled="false">
                        <span class="ui-button-text">
                            <span><?php echo __("Approve"); ?></span>
                        </span>
                    </button>
                    <button id="cancel" title="Cancel" type="button" class="action- scalable action-secondary" data-form-role="save" data-ui-id="save-button" role="button" aria-disabled="false">
                        <span class="ui-button-text">
                            <span><?php echo __("Cancel"); ?></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="container" class="main-col">
        <a href="<?php echo $url_product_detail; ?>" id="view_detail" target="_blank" style=""><?php echo __("Click here to view detail product"); ?></a>
        <div class="admin__old">
            <div class="fieldset-wrapper"  data-index="customer">
                <div class="fieldset-wrapper-title" tabindex="-1">
                    <strong class="title">
                        <span><?php echo __("Provider Information");  ?></span>
                    </strong>
                </div>
                <div class="admin__fieldset-wrapper-content _hide">
                    <fieldset class="admin__fieldset">
                        <div class="admin__field" data-index="prefix">
                            <label class="admin__field-label" for="NEEHGU0">
                                <span><?php echo __("Provider Store Name") ?></span>
                            </label>
                            <div class="admin__field-control" >
                                <input class="admin__control-text" type="text"  name="provider_name" value="<?php echo $provider_name; ?>" aria-describedby="notice-NEEHGU0" id="NEEHGU0">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="admin__fieldset-wrapper-content _hide">
                <fieldset class="admin__fieldset">
                        <div class="admin__field" data-index="prefix">
                            <label class="admin__field-label" for="NEEHGU0">
                                <span><?php echo __("Provider Store") ?></span>
                            </label>
                            <div class="admin__field-control" >
                                <a href="<?php echo $url_view_store; ?>" target="_blank"><?php echo __("Click here to view provider shop") ?></a>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="fieldset-wrapper"  data-index="customer">
                <div class="fieldset-wrapper-title" tabindex="-1">
                    <strong class="title">
                        <?php if($is_add == false){ ?>
                            <span><?php echo __("Edited Product Information");  ?></span>
                        <?php }else{ ?>
                            <span><?php echo __("Added Product Information");  ?></span>
                        <?php } ?>
                    </strong>
                </div>
                <div class="admin__fieldset-wrapper-content _hide">
                    <fieldset class="admin__fieldset">
                        <?php foreach($data_value as $key => $value){ ?>
                        <div class="admin__field" data-index="prefix">
                            <label class="admin__field-label" for="NEEHGU0">
                                <span><?php echo __($key) ?></span>
                            </label>
                            <div class="admin__field-control" >
                            <?php if(!is_array($value)){ ?>
                                <input class="admin__control-text" type="text"  name="<?php echo $key; ?>" value="<?php echo $value; ?>" aria-describedby="notice-NEEHGU0" id="NEEHGU0">
                            <?php }else{ ?>
                                <?php foreach($value as $name){ ?>
                                    <input class="admin__control-text" type="text"  name="<?php echo $key; ?>" value="<?php echo $name; ?>" aria-describedby="notice-NEEHGU0" id="NEEHGU0">
                                <?php } ?>
                            <?php } ?>
                            </div>
                        </div>
                        <?php } ?>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</form>
<div id="popup-modal_cancel" style="display: none">
    <div class="block block-dashboard-orders">
        <div class="block-content" style="margin-top: 10px">
            <div class="table-wrapper orders-recent" >
                <textarea id="message" style="width: 100%;height:150px;"></textarea>
            </div>
        </div>
    </div>
</div>
<script>
    require([
        'jquery',
        'Magento_Ui/js/modal/modal',
        'Magento_Ui/js/modal/alert'
    ], function ($,modal) {
        $("#cancel").click(function(){
            $("#popup-modal_cancel").modal(options).modal('openModal');
        });
        $("#view_product").click(function(){
           $("#view_detail").click();
        });
        var options = {
            type: 'popup',
            responsive: true,
            innerScroll: true,
            title: '<?php echo __("Reason Cancel") ?>',
            buttons: [{
                text: $.mage.__('Next Step'),
                class: '',
                click: function () {
                    $('body')
                        .loader({
                            icon: $('#loading_mask_loader img').attr('src')
                        })
                        .loader('show');
                    var message = $("#message").val();
                    var log_id = $("#log_id").val();
                    var product_id = $("#product_id").val();
                    $.ajax({
                        url: '<?php echo $block->getCancelUrl(); ?>',
                        method: "POST",
                        data: {"message":message,"log_id":log_id,"product_id":product_id},
                        success: function (data) {
                            $('body').loader('hide');
                            top.location.reload();
                        }
                    });
                }
            }]
        };
    });
</script>