<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$helper_reseller = $objectManager->get("\Libero\Reseller\Helper\Data");
$blockQuote = $objectManager->get("Libero\Customer\Block\Adminhtml\Provider\Order");
$data_product = $helper_reseller->getProductOfReseller();
?>
<?php if(count($data_product) > 0 ){ ?>
<div class="compare_price">
	<div class="category-product products wrapper grid products-grid">
		<ol class="products list items product-items row">
        <?php foreach($data_product as $_item){ ?>
            <?php 
            $product_id = $_item["id_product"];
            $product = $objectManager->create("Magento\Catalog\Model\Product")->load($product_id);
            $name_product = $product->getName();
            $img_product = $helper_reseller->resizeImage($product,"product_base_image",300,300)->getUrl();
            $price_product = $product->getFinalPrice();
            ?>
			<li class="item product product-item pro_<?php echo $product_id; ?>">
				<div class="product-item-info" data-container="product-grid">
					<div class="item-inner">
						<div class="box-image">
							<a href="<?php echo $product->getProductUrl(); ?>" data-product-id="<?php echo $product_id; ?>" target="_blank" data-category="" class="product photo product-item-photo savesearch" tabindex="-1">
								<span class="product-image-container">
									<span class="product-image-wrapper">
                                        <img class="product-image-photo" 
                                        src="<?php echo $img_product; ?>"  alt="<?php echo $name_product; ?>">
									</span>
								</span>
							</a>							
						</div>
						<div class="product details product-item-details box-info">
							<h2 class="product name product-item-name product-name">
								<a class="product-item-link savesearch" href="<?php echo $product->getProductUrl(); ?>" target="_blank" data-product-id="<?php echo $product_id; ?>" data-category="" title="<?php echo $name_product; ?>">
									<?php echo $name_product; ?>
								</a>
							</h2>
							<div class="price-box price-final_price">
								<span class="price-container ">
								<span id="product-price-2079" data-price-amount="" data-price-type="finalPrice" class="price-wrapper ">
									<span class="price"><?php echo $blockQuote->formartPrice($price_product) ?></span></span>
								</span>
							</div>								
						</div>
					</div>
				</div>
			</li>
			<?php } ?>
		</ol>
	</div>
</div>
<?php } ?>