<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="block-subscribe-footer">
	<div class="title-middle-footer">
		<?php /* @escapeNotVerified */ echo __('sign up for newsletter') ?>
	</div>
    <form class="form subscribe"
		novalidate
		action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
		method="post"
		data-mage-init='{"validation": {"errorClass": "mage-error"}}'
		id="newsletter-validate-detail-footer">

		<?php
			$email_address_txt = __('Your email address');
		?>
		<div class="input-box">
			<input name="email" type="email" id="newsletter" onfocus="if(this.value=='<?php echo $email_address_txt; ?>') this.value='';" onblur="if(this.value=='') this.value='?php echo $email_address_txt; ?>';" value="<?php echo $email_address_txt; ?>" data-validate="{required:true, 'validate-email':true}"/>
		</div>

		<div class="action-button">
			<button class="action subscribe primary" title="<?php /* @escapeNotVerified */ echo __('Subscribe') ?>" type="submit">
				<span><?php /* @escapeNotVerified */ echo __('Subscribe') ?></span>
			</button>
		</div>
    </form>
</div>
