<?php $helper = $this->helper("Libero\Buynow\Helper\Data"); ?>
<?php $addtocartId = $helper->getConfig('buynow/general/addtocartid'); ?>
<?php $buttonTitle = $helper->getConfig('buynow/general/buttontitle'); ?>
<?php $formId = $addtocartId ? $addtocartId : "product_addtocart_form"; ?>
<button type="submit" title="<?php /* @escapeNotVerified */ echo __($buttonTitle) ?>" id="buy-now" class="action primary buy-now-class" data-mage-init='
{
    "Libero_Buynow/js/buy-now": {
        "form": "#<?php echo $formId; ?>"
    }
}
'>
    <i class="ico26 ico-coin-dollar"></i>
    <span><?php /* @escapeNotVerified */ echo __($buttonTitle) ?></span>
</button>