<?php
/*------------------------------------------------------------------------
 # SM Cart Pro - Version 2.2.0
 # Copyright (c) 2015 YouTech Company. All Rights Reserved.
 # @license - Copyrighted Commercial Software
 # Author: YouTech Company
 # Websites: http://www.magentech.com
-------------------------------------------------------------------------*/
?>
<?php /** @var $block \Magento\Swatches\Block\Product\Renderer\Configurable */ ?>
<div class="swatch-opt" data-role="swatch-options"></div>


<script>
 require(["jquery", "jquery/ui", "Magento_Swatches/js/swatch-renderer"], function ($) {
  $('.swatch-opt').SwatchRenderer({
   jsonConfig: <?php  /* @escapeNotVerified  */ echo $swatchOptions = $block->getJsonConfig(); ?>,
   jsonSwatchConfig: <?php  /* @escapeNotVerified  */  echo $swatchOptions = $block->getJsonSwatchConfig(); ?>,
   mediaCallback: '<?php  /* @escapeNotVerified  */  echo $block->getMediaCallback() ?>'
  });
 });
</script>

