<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Edit customer address template
 *
 * @var \Magento\Customer\Block\Address\Edit $block
 */

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$util = $objectManager->get('\Libero\Customer\Block\Seller\Admin\Util');
$injectHTTP = $objectManager->get("\Magento\Framework\App\Request\Http");
$addressId = $injectHTTP->getParam("id");
$address = $util->getAddressById($addressId);


?>
<form class="form-address-edit" action="<?php echo $block->escapeUrl($block->getSaveUrl()) ?>" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('* Required Fields')) ?>">
    <fieldset class="fieldset">
        <legend class="legend"><span><?php echo $block->escapeHtml(__('Contact Information')) ?></span></legend><br>
        <?php echo $block->getBlockHtml('formkey')?>
        <input type="hidden" name="success_url" value="<?php echo $block->escapeUrl($block->getSuccessUrl()) ?>">
        <input type="hidden" name="error_url" value="<?php echo $block->escapeUrl($block->getErrorUrl()) ?>">
        <?php echo $block->getNameBlockHtml() ?>
        <div class="field company">
            <label class="label" for="company"><span><?php echo $block->escapeHtml(__('Company')) ?></span></label>
            <div class="control">
                <input type="text" name="company" id="company" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Company')) ?>" value="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr($block->getAddress()->getCompany()) ?>" class="input-text <?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('company')) ?>">
            </div>
        </div>
        <div class="field telephone required">
            <label class="label" for="telephone"><span><?php echo $block->escapeHtml(__('Phone Number')) ?></span></label>
            <div class="control">
                <input type="text" name="telephone" value="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr($block->getAddress()->getTelephone()) ?>" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Phone Number')) ?>" class="input-text <?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('telephone')) ?>" id="telephone">
                <div for="telephone" generated="true" class="mage-error" id="phone_number-error" style="display: none;"><?php echo $block->escapeHtml(__('Please enter a valid phone number')) ?></div>
            </div>
        </div>
        <div class="field fax">
            <label class="label" for="fax"><span><?php echo $block->escapeHtml(__('Fax')) ?></span></label>
            <div class="control">
                <input type="text" name="fax" id="fax" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Fax')) ?>" value="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr($block->getAddress()->getFax()) ?>" class="input-text <?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('fax')) ?>">
            </div>
        </div>
    </fieldset>
    <fieldset class="fieldset">
        <legend class="legend"><span><?php echo $block->escapeHtml(__('Address')) ?></span></legend><br>
        <?php $_streetValidationClass = $this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('street'); ?>
        <div class="field street required">
            <label for="street_1" class="label"><span><?php echo $block->escapeHtml(__('Street Address')) ?></span></label>
            <div class="control">
                <input type="text" name="street[]" value="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr($block->getStreetLine(1)) ?>" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Street Address')) ?>" id="street_1" class="input-text <?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr($_streetValidationClass) ?>"  />
                <div class="nested">
                    <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                    <?php
                    //for ($_i = 1, $_n = $this->helper(\Magento\Customer\Helper\Address::class)->getStreetLines(); $_i < $_n; $_i++):
                    for ($_i = 1; $_i < 1; $_i++):
                    ?>
                        <div class="field additional">
                            <label class="label" for="street_<?php /* @escapeNotVerified */ echo $_i+1 ?>">
                                <span><?php echo $block->escapeHtml(__('Street Address %1', $_i + 1)) ?></span>
                            </label>
                            <div class="control">
                                <input type="text" name="street[]" value="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr($block->getStreetLine($_i+1)) ?>" title="<?php  echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Street Address %1', $_i + 1)) ?>" id="street_<?php /* @escapeNotVerified */ echo $_i+1 ?>" class="input-text <?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr($_streetValidationClass) ?>">
                            </div>
                        </div>
                    <?php endfor; ?>
                </div>
            </div>
        </div>

        <?php if ($this->helper(\Magento\Customer\Helper\Address::class)->isVatAttributeVisible()) : ?>
            <div class="field taxvat">
                <label class="label" for="vat_id"><span><?php echo $block->escapeHtml(__('VAT Number')) ?></span></label>
                <div class="control">
                    <input type="text" name="vat_id" value="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr($block->getAddress()->getVatId()) ?>" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('VAT Number')) ?>" class="input-text <?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('vat_id')) ?>" id="vat_id">
                </div>
            </div>
        <?php endif; ?>
        <div class="field city required">
            <label class="label" for="city"><span><?php echo $block->escapeHtml(__('City')) ?></span></label>
            <div class="control">
            <select name="city_app" id="city_app" data-validate="{required:true}">
                <option value=''><?php echo __('Please choose your city') ?></option>
            </select>
                <input type="hidden" name="city" value="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr($block->getAddress()->getCity()) ?>" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('City')) ?>" class="input-text <?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('city')) ?>" id="city">
            </div>
        </div>
        <div class="field region required">
            <label class="label" for="region_id"><span><?php echo $block->escapeHtml(__('State/Province')) ?></span></label>
            <div class="control">
                <select name="province" id="province" data-validate="{required:true}">
                    <option value=''><?php echo __('Please choose your province'); ?></option>
                </select>
                <input type="text" id="region_id" name="region_id" value="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr($block->getRegion()) ?>"  title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('State/Province')) ?>" class="input-text <?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('region')) ?>" />
            </div>
        </div>
        <div class="field region required">
            <label class="label" for="region_id"><span><?php echo $block->escapeHtml(__('Ward')) ?></span></label>
            <div class="control">
                <select name="ward" id="ward" data-validate="{required:true}">
                    <option value=''><?php echo __('Please choose your ward'); ?></option>
                </select>
                <!--<input type="hidden" name="ward" id="ward"  value="">-->
            </div>
        </div>
        <div class="field zip required" style='display:none'>
            <label class="label" for="zip"><span><?php echo $block->escapeHtml(__('Zip/Postal Code')) ?></span></label>
            <div class="control">
                <input type="text" name="postcode" value="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr($block->getAddress()->getPostcode()) ?>" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Zip/Postal Code')) ?>" id="zip" class="input-text validate-zip-international <?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('postcode')) ?>">
            </div>
        </div>
        <div class="field country required">
            <label class="label" for="country"><span><?php echo $block->escapeHtml(__('Country')) ?></span></label>
            <div class="control">
                <?php echo $block->getCountryHtmlSelect() ?>
            </div>
        </div>

        <?php if ($block->isDefaultBilling()): ?>
            <div class="message info"><?php echo $block->escapeHtml(__("It's a default billing address.")) ?></div>
        <?php elseif ($block->canSetAsDefaultBilling()): ?>
            <div class="field choice set billing">
                <input type="checkbox" id="primary_billing" name="default_billing" value="1" class="checkbox">
                <label class="label" for="primary_billing"><span><?php echo $block->escapeHtml(__('Use as my default billing address')) ?></span></label>
            </div>
        <?php else: ?>
            <input type="hidden" name="default_billing" value="1" />
        <?php endif; ?>

        <?php if ($block->isDefaultShipping()): ?>
            <div class="message info"><?php echo $block->escapeHtml(__("It's a default shipping address.")) ?></div>
        <?php elseif ($block->canSetAsDefaultShipping()): ?>
            <div class="field choice set shipping">
                <input type="checkbox" id="primary_shipping" name="default_shipping" value="1" class="checkbox">
                <label class="label" for="primary_shipping"><span><?php echo $block->escapeHtml(__('Use as my default shipping address')) ?></span></label>
            </div>
        <?php else: ?>
            <input type="hidden" name="default_shipping" value="1">
        <?php endif; ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action save" data-action="save-address" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Save Address')) ?>">
                <span><?php echo $block->escapeHtml(__('Save Address')) ?></span>
            </button>
        </div>
        <div class="secondary">
            <a class="action back" href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>"><span><?php echo $block->escapeHtml(__('Go back')) ?></span></a>
        </div>
    </div>
</form>
<script type="text/x-magento-init">
    {
        "#form-validate": {
            "validation": {}
        }
    }
</script>
<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
    $url_website = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
?>
<script>
    require([
        'jquery'
    ], function ( $,modal ) {
            $(document).ready(function(){
                function checkPhoneNumber(id) {
                    var flag = false;
                    var phone = $("#" + id).val().trim(); // ID của trường Số điện thoại
                    phone = phone.replace('(+84)', '0');
                    phone = phone.replace('+84', '0');
                    phone = phone.replace('0084', '0');
                    phone = phone.replace(/ /g, '');
                    if (phone != '') {
                        var firstNumber = phone.substring(0, 2);
                        if ((firstNumber == '09' || firstNumber == '08') && phone.length == 10) {
                            if (phone.match(/^\d{10}/)) {
                                flag = true;
                            }
                        } else if (firstNumber == '01' && phone.length == 11) {
                            if (phone.match(/^\d{11}/)) {
                                flag = true;
                            }
                        }
                    }
                    return flag;
                }
                $('#telephone').blur(function(e) { // ID của trường Số điện thoại
                    if(!checkPhoneNumber("telephone")){
                        $('#telephone').addClass('has-error'); // ID của trường Số điện thoại
                        $("#phone_number-error").css("display","block");
                        $("#phone_number-error").show();
                        //$('#phone_number').focus(); // ID của trường Số điện thoại
                        e.preventDefault();
                    }else{
                        $("#phone_number-error").css("display","none");
                        $("#phone_number-error").hide();
                        $('#telephone').removeClass('has-error'); // ID của trường Số điện thoại
                    }
                });
                $.ajax({
                    url: '<?php echo $url_website ?>onestepcheckout/api/getprovince',
                    method: "GET",
                    dataType:'json',
                    success: function (data) {
                        $jsonReturn = data;
                        $optionsCity =  "<option value=''><?php echo __('Please choose your city') ?></option>";
                        var city_id = "<?php echo $address['city_id']; ?>";
                        for (var i=0;i<$jsonReturn.length;++i) {
                            var selected = "";
                            if(city_id == $jsonReturn[i].province_id){
                                selected = 'selected="selected"';
                            }
                            $optionsCity+="<option "+selected+" value="+$jsonReturn[i].province_id+">"+$jsonReturn[i].province_name+"</option>"
                        }
                        $("#city_app").html($optionsCity);
                    }
                });
                $("#city_app").change(function(e){
                    $valueCity = $( "#city_app option:selected" ).val();
                    $textCity = $( "#city_app option:selected" ).text();
                    $.ajax({
                        url: '<?php echo $url_website ?>onestepcheckout/api/getdistrict/province/'+$valueCity,
                        method: "GET",
                        dataType:'json',
                        success: function (data) {
                            $jsonReturn = data;
                            $optionsDistrict =  "<option value=''><?php echo __('Please choose your province'); ?></option>";
                            for (var i=0;i<$jsonReturn.length;++i) {
                                $optionsDistrict+="<option value="+$jsonReturn[i].district_id+">"+$jsonReturn[i].district_name+"</option>"
                            }
                            $("#province").html($optionsDistrict);
                        }
                    });
                    $("#city").val($textCity);
                });
                function changeProvince(id, text){
                    console.log(id, text);
                    $.ajax({
                        url: '<?php echo $url_website ?>onestepcheckout/api/getward/district/'+id,
                        method: "GET",
                        dataType:'json',
                        success: function (data) {
                            $jsonReturn = data.data.Wards;
                            $optionsWard =  "<option value=''><?php echo __('Please choose your ward'); ?></option>";
                            for (var i=0;i<$jsonReturn.length;++i) {
                                $optionsWard+="<option value="+$jsonReturn[i].WardCode+">"+$jsonReturn[i].WardName+"</option>"
                            }
                            $("#ward").html($optionsWard);
                        }
                    });
                    $("#region_id").val(text);
                }

                $("#province").change(function(e){
                    $valueCity = $( "#province option:selected" ).val();
                    $textProvince = $('#province option:selected').text();
                    changeProvince($valueCity, $textProvince);
                });
                
                $("#ward").change(function(e){
                    $textWard = $( "#ward option:selected" ).text();
                    var text_district = $('#province option:selected').text();
                    var text_city = $('#city_app option:selected').text();
                    var street_1 = $("#street_1").val()+", "+$textWard+", "+text_district+", "+text_city;
                    $val_district = $('#province option:selected').val();
                    $val_ward = $('#ward option:selected').val();
                    var val_postcode = $val_district +"-"+$val_ward;
                    $("#zip").val(val_postcode);
                    $("#street_1").val(street_1);
                });
            });
    });
</script>
