<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Framework\View\Element\Html\Links $block */
?>
<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$helper_reseller = $objectManager->get("\Libero\Reseller\Helper\Data");
//check is reseller
$is_reseller = $helper_reseller->checkIsReseller();
?>
<div class="block account-nav customer-left-sidebar">
    <button type="button" class="dropdown-cus-title-mobile"><?php echo __("My Account"); ?></button>
    <div class="tooltip-cus-mobile po-re">
        <div class="content">
            <nav class="account-nav">
                <ul class="nav items">
                    <?php echo $block->getChildHtml();?>
                    <?php if($is_reseller == true) { ?>
                        <li class="nav item">
                            <a class="my-orders" href="<?php echo $helper_reseller->getUrlViewMyProducts() ?>"><?php echo __("My Products") ?></a>
                        </li>
                        <li class="nav item">
                            <a class="my-return" href="#"><?php echo __("My Providers") ?></a>
                        </li>
                    <?php } ?>
                </ul>
            </nav>
        </div>
    </div>
</div>




